[2019-01-28 12:21] alex4200 commented on #367
Expected time for finish: 11.2.2019

[2019-01-28 15:21] antonelepfl commented on #343
I'm still having some issues in Piz-Daint regarding to the memory [mentioned above](https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/343#issuecomment-456022358)

I have done a couple of test. It seems like the more ram I give the more it needs. Could you give me a hint of how much should I use?

Nodes | Runtime | Memory | Error
------------ | ------------- | ------------ | -------------
8 | 804

[2019-01-29 06:10] pramodk commented on #343
@antonelepfl : I would like to see your entire job script. Note that there is 64GB per node memory available. [Here](https://user.cscs.ch/access/running/jobscript_generator/) is job script generator.

[2019-01-29 07:35] alex4200 commented on #377
Yes seems to work now

[2019-01-29 07:35] #377 closed

[2019-01-29 11:56] jdcourcol commented on #384
so we have to change that for the current MOOC as well ?

[2019-01-29 11:59] jdcourcol commented on #375
@alex4200 can we have @ppodhajski assigned to that one instead ?
did he accept the invite ?

[2019-01-29 12:01] alex4200 commented on #375
Hi,

I am still awaiting for @ppodhajski<https://github.com/ppodhajski> and Pablo Serna to accept the invitation. Should I contact them about that, or can you do that?<https://g>

Alex

________________________________
From: jdcourcol <notifications@github.com>
Sent: Tuesday, January 29, 2019 12:59:27 PM
To: cnr-ibf-pa/hbp-bsp-issues
Cc: Dietz Alexander; Mention
Subject: Re: [cnr-ibf-pa/hbp-bsp-is

[2019-01-29 13:00] ppodhajski commented on #375
accepted

[2019-01-29 13:23] appukuttan-shailesh commented on #382
@antonelepfl : Do you have an estimate of when Task 1 (Add metadata to the cloned notebook...) would be ready?

[2019-01-29 13:33] clupascu commented on #371
@pramodk Any news on this issue?

[2019-01-29 13:34] appukuttan-shailesh commented on #382
This versioning check will be run each time a usecase notebook is run (will be placed as the first cell.... read-only protected). User will be notified if a newer version exists, and will be given the option to update the usecase if they desire. If they opt not to update, the existing usecase (outdated) will continue to be executed.

[2019-01-29 13:37] jdcourcol commented on #382
the source use case notebook is stored in GitHub ?

[2019-01-29 13:39] appukuttan-shailesh commented on #382
It is stored inside a dedicated Collab storage.
(@alex4200: correct me if I am wrong)

[2019-01-29 13:41] alex4200 commented on #382
Yes, the original notebook is stored in a Collab. And we need to set a timestamp manually when a notebook is cloned, see the explanation above.

[2019-01-29 13:43] jdcourcol commented on #382
I think we should have the original notebooks stored in GitHub. This sounds to me quite unsafe otherwise as there is no versioning in the collab storage.

[2019-01-29 13:47] appukuttan-shailesh commented on #382
If we wish to maintain a history of the usecase development, then a versioning service such as GitHub is useful. But if the intention is just to add the extra feature of user notification for outdated notebooks, then we could continue on the Collab storage itself.

For now, the source usecases simply get updated with no version control system to allow access to older versions.

[2019-01-29 13:51] appukuttan-shailesh commented on #382
Note: the user is never forced to update their copy of the notebook (where they might have made their own changes). They would simply be notified of the existence of a newer version, and given the option to update their notebook.

[2019-01-29 13:55] jdcourcol commented on #382
do we actually need a timestamp ? for the time being, what is see is that you need to know that the user notebook is different from the template notebook.
so if the template has an unique id (say a uuid), then the clone should have the same when the clone is created. if the template id gets updated then, you know that you have a difference.

[2019-01-29 14:00] appukuttan-shailesh commented on #382
As per the current workflow, the ID of the source and the cloned notebooks do not change. This is because they are not re-created, but the contents are simply updated. The advantage of this is that the URL to these notebooks do not change (once cloned into Collabs).

[2019-01-29 15:09] antonelepfl commented on #343
I have passed so far to use 64GB thru Unicore and that worked.

[2019-01-29 15:14] antonelepfl commented on #384
They have implemented that change on Jan 2019. This will affect the new students in the current MOOCs.
So something that they should look like

![screenshot 2019-01-29 at 16 11 02](https://user-images.githubusercontent.com/24406041/51917812-a2a6d600-23e0-11e9-9b91-9cbd459e0de8.png)

Actually looks like
![screenshot 2019-01-29 at 16 10 36](https://user-images.githubusercontent.com/24406041/51917827

[2019-01-29 21:19] pramodk commented on #371
On my list for this week, will update you soon.

[2019-01-30 10:17] antonelepfl commented on #384
I have tested and if the exercise is not graded, the current setup still work correctly.
I have talked to Anne and she is going to modify some weeks so they are not graded (kind of revision test)

[2019-02-01 12:47] alex4200 opened #385 "Code error in "Validation Framework Demo (Walkthrough)""
Error in the PRODUCTION version of this notebook. Should be fixed in the DEV version so the PROD notebook can be replaced.

### Expected behavior

Validation use case should run to the end

### Actual Behavior (please include screenshot if possible)

Code error as below

![selection_585](https://user-images.githubusercontent.com/12729291/52123794-729d4400-2627-11e9-83e8-816592c7f625.png)

### Step

[2019-02-01 12:47] alex4200 opened #386 "Code error in Validation use cases"
Error in the PRODUCTION versions of these noteboosk. Should be fixed in the DEV version so the PROD notebook can be replaced.

### Expected behavior

Validation use cases should run to the end

### Actual Behavior (please include screenshot if possible)

Code error as below when not using an existing model_uuid:

![selection_587](https://user-images.githubusercontent.com/12729291/52123897-c019b100

[2019-02-02 02:49] pramodk commented on #371
@clupascu  : I forgot if you need this on cluster or booster. I have installed this on both **but haven't made this software stack as default** yet. I have tested with small simulation and just importing modules. Please have a look and let me know if you see any issues. And then I will update documentation and make this as **default**.

### My sample job script for cluster :

[code]

### My sample

[2019-02-04 09:33] appukuttan-shailesh commented on #386
@alex4200 : This is directly related to #367; as the two notebooks are the same (dev and prod). So the solutions for them would also be the same. So better to merge these issues into a single ticket.

The issues are arising owing to updated packages, and not because of changes in the usecase. Will fix it such that we don't versioning problems in future.

[2019-02-04 09:33] appukuttan-shailesh commented on #385
@alex4200 : This is directly related to #366; as the two notebooks are the same (dev and prod). So the solutions for them would also be the same. So better to merge these issues into a single ticket.

The issues are arising owing to updated packages, and not because of changes in the usecase. Will fix it such that we don't versioning problems in future.

[2019-02-04 09:53] clupascu commented on #371
@pramodk I am using this module on booster. As in my script I need to use an IPython controller

export USEIPYP=1
export IPYTHONDIR="`pwd`/.ipython"
export IPYTHON_PROFILE=ipyparallel.${SLURM_JOBID}
# ipython profile create --profile=${IPYTHON_PROFILE}
ipcontroller --init --sqlitedb --ip='*' --profile=${IPYTHON_PROFILE} &
sleep 30
srun ipengine --profile=${IPYTHON_PROFILE} &

CHECKPOINTS_DIR="chec

[2019-02-04 10:12] alex4200 commented on #375
@ppodhajski Is there any news regarding this issue?

[2019-02-04 10:29] lbologna commented on #334
The BluePyEfe software, used for the feature extraction, reads the following format: .abf, .smr, .igor, .txt (with metadata).
At the moment, only a limited number of .abf traces is available in the KG (no .smr, no .igor, .txt to be checked) that have to be tested and are different from the ones available at the moment on the backend server.
For the moment we will leave the current status (data on

[2019-02-04 10:36] lbologna commented on #333
Current quotas for individual user (per project) are:
- 5000 hours
- 10 GB (disk space)
(these can be changed if needed)

First tests with NSG and Pizdaint availability and first draft of documentation postponed to 11/02

**Update 2020-01-31**
The resource dedicated to the service account are 9000 node/hours and 30 GB for the entire project

[2019-02-04 10:54] Hjorthmedh commented on #379
Okay. Then this issue can be closed.

[2019-02-04 10:54] #379 closed

[2019-02-04 10:56] Hjorthmedh commented on #378
Working on getting correct connectivity for ChIN neurons.

[2019-02-04 11:53] pramodk commented on #371
@wvangeit  : do you have any suggestion about this?

I am not familiar with ipyparallel stuff. I tested simulations and checked if all modules are working.

[2019-02-04 12:05] wvangeit commented on #371
@clupascu could you provide the full output of messages you get ? Something might be going wrong during the ipcontroller command.

[2019-02-04 12:30] alex4200 commented on #359
This task will be worked on after finishing #380

[2019-02-04 12:34] clupascu commented on #371
@wvangeit this is the full output

Traceback (most recent call last):
  File "opt_neuron.py", line 86, in <module>
Traceback (most recent call last):
Traceback (most recent call last):
  File "opt_neuron.py", line 86, in <module>
  File "opt_neuron.py", line 86, in <module>
    rc = Client(profile=os.getenv('IPYTHON_PROFILE'))
          File "/p/project/cvsk25/vsk2514/HBP/jureca-booster/01-02-2019

[2019-02-04 12:36] wvangeit commented on #371
@clupascu this looks like the full output of the error. But actually I need the full output of the script.

(and is there a place I can access your scripts ?)

[2019-02-04 12:37] alex4200 commented on #366
Same error as #385

[2019-02-04 12:37] #366 closed

[2019-02-04 12:38] alex4200 commented on #367
same error as #386

[2019-02-04 12:38] #367 closed

[2019-02-04 12:39] clupascu commented on #371
@wvangeit you can access the scripts here /p/scratch/cvsk25/unicore-jobs/88d7499d-3085-42ee-bcce-6d286d7bce11/mouse2_changekmb_prova. In one minute I will change permissions and you can access the scripts.

[2019-02-04 13:19] alex4200 commented on #370
Followup ticket: #382

[2019-02-04 13:19] #370 closed

[2019-02-04 14:06] wvangeit commented on #371
Which of the scripts in this directory are you running ?

[2019-02-04 14:15] clupascu commented on #371
ipyparallel.sbatch

[2019-02-04 14:17] wvangeit commented on #371
I think I know what it might be, but I need the full output your script print to the screen / log files. Can you attach these please.

[2019-02-04 14:24] clupascu commented on #371
[ipyparallel_6746570.log](https://github.com/cnr-ibf-pa/hbp-bsp-issues/files/2828389/ipyparallel_6746570.log)

[2019-02-04 14:26] wvangeit commented on #371
Ok, thanks. Yes, so it whas actually the first error message that was important:
+ ipcontroller --init --sqlitedb '--ip=*' --profile=ipyparallel.6746570
/var/spool/parastation/jobs/6746570: line 42: ipcontroller: command not found

@pramodk do you have any idea why your module doesn't have the 'ipcontroller' command (and ipengine command). When one pip installs ipyparallel (which is a dependency o

[2019-02-04 15:47] pramodk commented on #371
Ah, that simply because I didn't enable `ipyparallel` module and hence nothings was added to $PATH. If you reload modules, ipengine & ipcontroller should be there now.

[2019-02-04 15:49] wvangeit commented on #371
Ok thanks. So do you need to manually enable the dependencies of e.g. bluepyopt ?

[2019-02-04 16:38] pramodk commented on #371
no...just in [modules.yaml](https://github.com/BlueBrain/spack/blob/6297759553846a0b4a0f619a1264e7392a926df2/sysconfig/jureca-booster/modules.yaml#L33) I specify which modules should be enabled.

[2019-02-04 17:04] clupascu commented on #371
Now it seems that the ipcontroller works, but I get some [IPEngineApp] Exception in apply request:
[ipyparallel_6748477.log](https://github.com/cnr-ibf-pa/hbp-bsp-issues/files/2829028/ipyparallel_6748477.log)

[2019-02-04 18:29] pramodk commented on #371
[code]
seems line from bluepyopt now.... @wvangeit  can comment about this.

[2019-02-05 08:03] wvangeit commented on #371
So it seems Neuron can't find the ion channels. Possibly it can't load the x86_64 shared libraries. @clupascu how did you compile the MOD files ?

[2019-02-05 08:29] antonelepfl opened #387 "Provide description for Connection Manipulation"
Hi @romani79,
Could you provide a small description for those items that will be on the Simulation Launcher UI in the connection manipulation part?
The idea is that the end user understands what they are going to modify with this items:
- Source
- Destination
- Delay (ms)
- Weight
- SpontMinis
- Synapse Configuration

[2019-02-05 08:38] clupascu commented on #371
nrnivmodl mechanisms and I got
Successfully created x86_64/special

[2019-02-05 08:43] pramodk commented on #371
One thing :   by default we compile neuron with `linux_nrnmech=no`. I wonder if that is the issue.

[2019-02-05 09:34] wvangeit commented on #371
@clupascu is the nrnivmodl being executed in an environment where the module is loaded.
@pramodk does the option you're using imply one 'has' to use the special to load the MOD files ? If that's the case then that's probably the reason. The Neuron installation we use should be as close as possible to default Neuron (apart from the GUI).

[2019-02-05 09:44] clupascu commented on #371
yes. nrnivmodl is being executed in an environment where the module is loaded. We cannot test again today as Jureca is in maintenance.

[2019-02-05 13:49] antonelepfl commented on #343
I'm having some issues launching simulation. Using the modules described in the [spack wiki](https://collab.humanbrainproject.eu/#/collab/33645/nav/286723)
You can check the job in here (/scratch/snx3000/unicore/FILESPACE/42ecae18-0ee1-4f1f-bb1b-6b2a52e4c23e)
The error looks something like:
[code]

[2019-02-05 13:56] pramodk commented on #343
Error says : `bin/special: Error: target SC not found`

So its issue with BlueConfig and target file being used. Could you very the target `SC` is defined in the target files being used?

[2019-02-05 13:57] antonelepfl opened #388 "CORS error in NUVLA"
Hi @BerndSchuller ,
I'm getting the CORS error in NUVLA:
`OPTIONS https://zam2125.zam.kfa-juelich.de:9112/NUVLA/rest/core 500 (Could not perform request.)`
Access to XMLHttpRequest at 'https://zam2125.zam.kfa-juelich.de:9112/NUVLA/rest/core' from origin 'http://localhost:8080' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok

[2019-02-05 14:11] BerndSchuller commented on #388
hi Stefano
can you try again? One of our VMs was restarted and the UNICORE/nuvla service had been stopped

[2019-02-05 14:13] antonelepfl commented on #388
Not it worked. Thank you Bernd

[2019-02-05 14:13] #388 closed, assigned to nobody

[2019-02-05 14:20] antonelepfl commented on #343
Thanks for your reply and I'm sorry for bother you.

[2019-02-05 14:20] #343 closed

[2019-02-05 15:50] antonelepfl commented on #341
@alex4200 Can we close this?

[2019-02-05 15:50] #384 closed

[2019-02-05 16:01] appukuttan-shailesh commented on #385
@alex4200: I have updated this usecase. It works fine on my main account. But on another account it throws the following error in cell # 24:

Could you see if this works for you? If it fails, please send me the output of cell # 3 (`!pip freeze`). Thanks.

[2019-02-06 06:29] alex4200 commented on #341
Yes - I wanted to ask you the same. Closed.

[2019-02-06 06:57] alex4200 commented on #385
@appukuttan-shailesh Yes it fails for me in the cell. The output of `pip freeze`:

[code]

[2019-02-06 12:56] clupascu commented on #356
A new notebook for testing HPC access on Jureca, Marconi, PizDaint and NSG is available here https://collab.humanbrainproject.eu/#/collab/9130/nav/287784
The notebook contains also a GUI. The tester can insert in the first cell of the notebook the project he/she wants to use on Marconi and the username and password for NSG or he can run all cells and insert the required information in the GUI.

In

[2019-02-06 17:48] ElisabettaGiacalone opened #389 "BluePy use on Jureca: No module named bluepy"
### Expected behavior

BluePy import on Jureca:

@antonelepfl is able to run this python code and import BluePy under his user, without loading any modules:

#!/p/project/cvsk25/vsk2512/analysis/venv_analysis_traces/bin/python
"""This is the script that launches the analysis based on a json configuration
that comes from the UI (analysisconfig) """

import argparse
import json
import logging
import

[2019-02-06 19:30] pramodk commented on #371
this is what "prefer" as a developer...if we compiled with `linux_nrnmech=no` then special is `real` binary that is understood by debugger and profilers. Its easy during development. Otherwise special created is bash script with dlopen stuff :

[code]

Any way, I updated deployment to be as close to default Neuron installation.

[2019-02-06 19:32] pramodk commented on #389
I don't think so...could you please see discussion in #371 ? You will see instructions to use those modules.

[2019-02-07 07:31] romani79 commented on #387
Please, use the existing documentation on BlueConfig.
See for example, documentation on the connection block:
https://bbpteam.epfl.ch/project/spaces/display/BGLIB/Connection+section

[2019-02-07 08:02] alex4200 commented on #387
The descriptions so far. The description for 'delay' might be clarified, as the delay might only affect the weights.

* Source
  * This target defines presynaptic cells.
* Destination
  * This target defines postsynaptic cells.
* Delay (ms)
  * A delay after which the modifications are applied.
* Weight
  * A scaling factor to adjust the synaptic strength (default = 1)
* SpontMinis
  * The Poisson

[2019-02-07 08:47] clupascu commented on #389
I tested too the issue and with loading modules as in #371 I cannot import bluepy. @pramodk Modules from #371 are including bluepy too?

[2019-02-07 09:08] clupascu commented on #371
Now it works. Thank you @pramodk and @wvangeit. We can close this issue.

[2019-02-07 09:47] #371 closed

[2019-02-08 04:33] pramodk commented on #389
Sorry, I missed this : it's `bluepy` and not `bluepyopt`!

I was trying to add this but seems like Jureca has issues while loading modules:

[code]
I will open support ticket!

[2019-02-08 09:56] alex4200 commented on #387
Description available in PROD

[2019-02-08 09:56] #387 closed, assigned to romani79

[2019-02-08 10:48] pramodk commented on #389
There is file system issue on multiple juelich systems. Will take a look once access restored.

[2019-02-08 10:51] antonelepfl commented on #382
@appukuttan-shailesh We should define the library that we are going to import in the header to check the version. Remember that now we should compare to the github notebook (all production notebooks will be there)

[2019-02-08 14:30] appukuttan-shailesh commented on #385
@alex4200 : This is now fixed. Ready to be tested :)

[2019-02-11 07:01] pramodk commented on #389
@ElisabettaGiacalone @clupascu : which functionality from bluepy you would be using? For example, do you use morphotool?

[2019-02-11 09:42] ElisabettaGiacalone commented on #389
I usually use bluepy to access circuit and simulation data, cell properties and connectome. If by morphtool you mean to get NeuroM morphology object corresponding to gid, then  yes, I plan to use that function in the future.

[2019-02-11 10:35] Hjorthmedh commented on #378
ChIN connectivity almost finished tuned.
Next step LTS connectivity.

[2019-02-11 12:48] alex4200 commented on #385
The DEV notebooks works fine.

[2019-02-11 12:48] #385 closed, assigned to appukuttan-shailesh

[2019-02-12 12:53] antonelepfl commented on #369
Hi @BerndSchuller Can you restart the service please?

[2019-02-12 12:56] BerndSchuller commented on #369
it's restarted

[2019-02-12 13:19] #369 closed

[2019-02-12 14:04] lbologna opened #390 "Updated backend software in the Feature Extraction Use Case"
## Details description of the task
The latest (dev) version of the software (BluePyEfe) used for the feature extraction and data formatting in the Feature Extraction Use Case has been installed.
This update fixes a minor bug in the visualization of the traces (the title of individual traces overlapped when the name of the file was too long).

## Description of how to test it
Run the Feature Extrac

[2019-02-12 15:38] appukuttan-shailesh commented on #386
Sub-tasks:

- [x] Basal Ganglia Validation Use Case
- [x] Hippocampus Validation Use Case
- [x] Morphology Validation Use Case (valid for MSN D1, MSN D2 cell types, not for FS; see #391)
- [x] Generic BluePyOpt Validation Use Case

[2019-02-13 05:50] alex4200 commented on #390
Tests are ok

[2019-02-13 05:50] #390 closed, assigned to lbologna

[2019-02-13 06:33] alex4200 commented on #386
@appukuttan-shailesh: Can I assume you fixed the `Basal Ganglia Validation Use Case`? if so then I get an error in the second cell:

[code]

[2019-02-13 06:47] pramodk commented on #389
There is now `py-bluepy` module for booster. Could you check if this is sufficient for your current use cases?

Currently it doesnt have `neurom` and `h5py` enabled. I am discussing with developers (https://github.com/BlueBrain/spack/issues/221).

[2019-02-13 09:56] ElisabettaGiacalone commented on #389
Hi @pramodk ,
I load modules for booster in #371 and then py-bluepy, and when I import bluepy in a python shell, I get this error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/p/project/cvsk25/vsk2514/HBP/jureca-booster/01-02-2019/install/linux-centos7-x86_64/intel-18.0.2/py-bluepy-0.12.7-3dgdw7/lib/python2.7/site-packages/bluepy/__init__.py", line 2, in <modu

[2019-02-13 10:12] appukuttan-shailesh commented on #386
@alex4200 : No they aren't ready for testing yet, as I will need to release new versions of some packages. Shall update you here when ready.

[2019-02-13 13:32] antonelepfl commented on #382
I have created a sample notebook with the result of the elements that I'll add in the common header in [Notebook Header and Versioning](https://collab.humanbrainproject.eu/#/collab/42085/nav/296755) Collab.
Let me know if there is anything I can improve

[2019-02-14 09:22] alex4200 commented on #382
@antonelepfl I think the header is fine. But I would add one or two sentences explaining the content of the cell (as comment inside a call). Something like:

```#This cell specifies dynamic data and code to check if an updated version of this notebook is available. Do not make any changes to this cell.```

[2019-02-14 09:27] antonelepfl commented on #382
If you can, just make a Pull Request to the [Usecases Repo](https://github.com/antonelepfl/usecases/blob/dev/production_notebooks/common_header/common_headers.ipynb) in this way we are trained how to modify that file for future changes

[2019-02-14 10:25] appukuttan-shailesh commented on #382
Thanks @antonelepfl . I think I would be able to work on this only next week at the earliest. Will update you asap.

In addition to @alex4200's suggestion above, it would be good to make these cells read-only via the cell's metadata:
[code]

[2019-02-14 13:07] appukuttan-shailesh opened #391 "Morphology Validation Use Case not working for Fast Spiking Interneurons"
### Expected behavior
UseCase is expected to handle following cell types
1. D1-type Medium Spiny Neurons
2. D2-type Medium Spiny Neurons
3. Fast Spiking Interneurons

### Actual Behavior (please include screenshot if possible)
Currently works fine for (1) and (2).... error when running for (3)
`neurite_Y_extent` key error

### Steps to reproduce the problem
Choose (3) as cell type and check output

[2019-02-14 13:28] pedroernesto commented on #391
I have the Python code to correct this issue, but it was not working on the Colllab, just locally. I am going to work on this in a few weeks.

[2019-02-14 14:16] alex4200 commented on #387
MinisFreq

The Poisson mean rate for miniature events.

[2019-02-14 14:41] pramodk commented on #389
I can reproduce this issue...will fix this on tomorrow.

[2019-02-15 07:47] alex4200 commented on #391
@appukuttan-shailesh  Is this ticket the same as ticket #386? Or what is the relationship?

Also, will this be fixed until the end of MS12 (end March) or only later?

[2019-02-15 09:40] appukuttan-shailesh commented on #391
@alex4200 : As mentioned above, the UseCase is supposed to support multiple cell types (one of the options that a user chooses while running the UseCase). I have fixed the issues (as part of #386) such that it works for the first 2 cell types (D1 MSN, D2 MSN), but the problem with the third cell type (FS) is test implementation specific which needs to be resolved by the `morpho_stats` test creator

[2019-02-15 09:45] pedroernesto commented on #391
Yes @alex4200, I will complete this before end of March

[2019-02-17 12:54] orena1 opened #392 "blue-nass hangs if attached voltage trace is longer than the simulation tstop"
### Expected behavior
I assume that when the simulation stops (no matter when) it should show the attached voltage trace.

### Actual Behavior
It hangs.
### Steps to reproduce the problem

Add this file to blue-nass and click start simulation (with tstop=1000):
[cell0603_03_model_476.zip](https://github.com/cnr-ibf-pa/hbp-bsp-issues/files/2872958/cell0603_03_model_476.zip)

@genric
Thanks,

[2019-02-17 13:39] orena1 opened #393 "BlueNaaS: add the ability to change the color and width of the attached voltage traces"
Can you please add an option to add blue-nass the ability to change the colors and width of the attached voltage traces (and maybe also the opacity)

I want to make it so that eventually it will look like this:

![to_oren](https://user-images.githubusercontent.com/8983713/52913782-f747bd80-32c9-11e9-897c-398a7bbee8c3.png)

@guyeyal

Thanks,
@genric

[2019-02-17 16:53] orena1 opened #394 "BlueNaaS: does not load parameters"
This video shows the problem in detail:

![complicatedlittlekitfox-size_restricted](https://user-images.githubusercontent.com/8983713/52916204-27e92080-32e5-11e9-8e76-45c30690c277.gif)

https://youtu.be/FEMuoOSO1N0

Thanks,
@genric

[2019-02-18 06:45] alex4200 commented on #392
I cannot reproduce this behavior, I get the traces and can download them.

However, the data in the csv file look a bit strange:

[code]

[2019-02-18 08:35] orena1 commented on #392
Hi @alex4200
I'm looking at the file (it's actually a .dat file and not a csv) and I do not see the same problem as you see:
![image](https://user-images.githubusercontent.com/8983713/52937817-d1bdc100-3368-11e9-8c6e-0d1907786207.png)

[2019-02-18 09:34] genric commented on #394
Hi @orena1
If you modify already loaded url, you'll have to click reload to correctly process the query params. As hitting enter doesn't reload the app and query params are processed during app initialization.
If you follow the link directly, with all params predefined, it should work: https://blue-naas.humanbrainproject.eu/#/url/human_cells/cell0603_03_model_476.zip?delay=120.33&vinit=-86.1&dt=.0

[2019-02-18 09:35] lbologna commented on #333
Two test jupyter notebooks are ready to test the job submission and result fetching through the service account API on cscs-pizdaint and nsg.

@alex4200 could you please test the following?

1) CSCS-Pizdaint:
https://collab.humanbrainproject.eu/#/collab/17259/nav/285712
The jupyter is based on the Rebuild Single HippoCell use case so the example model file is already present in the storage.
Check

[2019-02-18 09:36] genric commented on #394
Hmm, I think it has something to do with the model format, I think it overrides those values: vinit and dt.

[2019-02-18 10:00] orena1 commented on #392
But it seems that it does not hang anymore. Maybe I just needed to wait some more time. I assume we can close this ticket. Sorry

[2019-02-18 10:16] genric commented on #392
If you change the column names to have soma segment 0 like the following:
time,soma[0]_0_exp0,soma[0]_0_exp1,soma[0]_0_exp2
Then you'll get soma highlighted when you hover the trace :)
Other than that works for us as well, so closing it.

[2019-02-18 10:16] #392 closed, assigned to genric

[2019-02-18 10:19] orena1 commented on #394
Anything we can do?

[2019-02-18 10:19] orena1 commented on #392
Thanks for the tip

[2019-02-18 10:21] genric commented on #394
You can change your model to use the format specified on the left here: https://blue-naas.humanbrainproject.eu/
But if you wait a bit I'll fix the other one not to override the params when they have been explicitly provided.

[2019-02-18 10:29] orena1 opened #395 "Date in the bottom of the collab is not correct"
The date at the bottom of the collab is 2017, but it should be 2019
![image](https://user-images.githubusercontent.com/8983713/52944746-cffbf980-3378-11e9-983c-365f131071fd.png)

[2019-02-18 10:30] appukuttan-shailesh commented on #386
@alex4200 : These validations Use Cases are now ready for testing.
If they pass, do let me know before you move them to Production.

(I made an extra small update to the package installation... let me know if they work; if not I will revert to previous working version)

[2019-02-18 10:32] orena1 commented on #394
I'll wait, thank you very much

[2019-02-18 10:45] ppodhajski commented on #375
with help of Tristan I installed nix on jurecavis (via spack), as it had to be reinstalled after introducing new usage model at JSC. Currently trying to fix the issue when building with nix.

The problem encountered:
patching /p/project/cvsk25/bbp-viz-deployment/HBP/jurecavis/nix/store/aa8kd6z12mj69yx89m8km66ccs7cdli6-bootstrap-tools/bin/[
stat: Value too large for defined data type

[2019-02-18 12:38] orena1 commented on #394
Another thing, @genric  how do I set the temperature?
Thanks

[2019-02-18 13:03] genric commented on #394
Thought nobody will ask :) as it is recent addition to the configuration. Will fix that with the next release if you don't mind. Or, if it is urgent, I can make another one in an hour.
I just deployed the fix for the current issue, so please retry.

[2019-02-18 13:07] genric commented on #393
I added some transparency to the experimental traces.

[2019-02-18 13:08] orena1 opened #396 "BlueNaaS: extra section (spines) and synapses are not visible in the correct location"
We added a model with spines and synapses, the spines and synapses are created in an external python file named ```fig8_distributed_synapses.py```

But there are two problems:
1. We can not see the synapses (which are on the spines)
2. The spines do not look like they are connected to the morphology

![image](https://user-images.githubusercontent.com/8983713/52952927-be255100-338e-11e9-871f-d5cef9

[2019-02-18 13:12] orena1 commented on #394
Thanks @genric , its not urgent, we will build the live papers with all the variables in the links. So that whenever the new versions will be deployed, it will work correctly.

[2019-02-18 13:17] genric commented on #394
Ok, then I'll commit the fix and it will arrive when the new version is deployed.
The param will be same as in NEURON: **celsius**

[2019-02-18 13:23] genric commented on #396
Wow, that looks really not how it suppose to look :) investigating...
The model you provided before was giving me something like this: https://blue-naas.humanbrainproject.eu/#/model/test_model_syn_123

[2019-02-18 13:36] orena1 commented on #396
Thank @genric  that test case that I gave you work well, see this example:
```https://blue-naas.humanbrainproject.eu/#/url/neuron_reduce/detailed.zip```
I would add a small rotation to each synapse.

But this new test case that in this ticket is a bit different.

Thank you

[2019-02-18 13:44] genric commented on #396
Ok, I see. But even detailed.zip doesn't look too nice :) I had those rotations but didn't see if they made any difference on that simple model. I'll try to prettify it as well.
And there are multiple synapses per segment... which breaks everything :) Ok, I'll have a look.
Thanks for the feedback!

[2019-02-18 14:14] orena1 commented on #396
We do not have to see all the synapses... if some of the synapses are overlapping it will be ok. But I wonder how it will look with rotation 👍
Thanks

[2019-02-19 06:57] alex4200 commented on #386
@appukuttan-shailesh I still get the same error as I describe above for the second cell:

![selection_604](https://user-images.githubusercontent.com/12729291/52995803-fa52c300-341b-11e9-9f63-4c807a8269da.png)

[2019-02-19 07:14] orena1 opened #397 "BlueNaaS: update about with NEURON version"
I think the about section of BlueNaaS should be updated to contain the version of NERUON that is been used, (and maybe also the python version)?

![image](https://user-images.githubusercontent.com/8983713/52996464-633f3880-3426-11e9-8592-db426c7891e5.png)

Mainly because of having the ability to compare the results that we one get from BlueNaaS to the results he gets on bbpv5 or on his own PC. It

[2019-02-19 07:27] orena1 opened #398 "BlueNaaS: should output NERUON log (on failure?)"
I think it would be extremely efficient if BlueNaaS will show the output of NEUORN at the end of the simulation, or maybe just in failures of simulation.
I'll explain why, yesterday because of an update to the default of BlueNaaS (specifically the default dt, changed to variable dt), my examples stop working. It took me a good couple of hours to understand that the problem is the change to a varia

[2019-02-19 08:33] antonelepfl commented on #335
Based on out talk with Michele, I'll implement this feature. The limitations mentioned above are not a blocker to proceed.

[2019-02-19 10:33] appukuttan-shailesh commented on #382
@antonelepfl , @alex4200 : since you both already started work on this and have a prototype under dev, I will leave the implementation to both of you. Looking forward to trying it out. Thanks for taking this up.

[2019-02-19 10:43] ppodhajski commented on #375
@ElisabettaGiacalone  please try executing:
/p/project/cvsk25/bbp-viz-deployment/HBP/jurecavis/appimage/emsim/AppRun

[2019-02-19 10:54] genric commented on #398
Sorry about that @orena1. We didn't anticipate too much those use cases that BlueNaaS will be used to upload/debug models, it was more like me, curating/uploading the models, making sure they work.
And all those recent feature additions just added multiple points of failure. We'll try to improve on that. I think I had before more detailed report log from NEURON which I'll try to bring back.

[2019-02-19 11:22] ElisabettaGiacalone commented on #375
@ppodhajski  I get "permission denied" to access to emsim folder

[2019-02-19 11:55] appukuttan-shailesh commented on #386
@alex4200 : You are probably running an older version of the notebooks. None of the updated notebooks have the above statement producing the error. i.e.
`modelCatalog.set_collab_config...` has been changed to `modelCatalog.set_app_config...`

So if you see that statement in any of the notebooks, you basically need to have them updated with the latest version.

[2019-02-19 12:35] alex4200 commented on #386
@appukuttan-shailesh: Where can I find your up-to-date development notebooks?

[2019-02-19 12:44] ppodhajski commented on #375
@ElisabettaGiacalone  please retry

[2019-02-19 12:48] appukuttan-shailesh commented on #386
The notebooks are on Collab: https://collab.humanbrainproject.eu/#/collab/8123
(you will find them on the navigation bar on the left)

But the source files remain the same as before. The notebook UUIDs remain same as those used before and specified in `usecases.json`

[2019-02-19 12:51] ElisabettaGiacalone commented on #375
@ppodhajski
Now I  can access to emsim folder, but when I execute
/p/project/cvsk25/bbp-viz-deployment/HBP/jurecavis/appimage/emsim/AppRun
I get:
/p/project/cvsk25/bbp-viz-deployment/HBP/jurecavis/appimage/emsim/AppRun: line 7: /p/project/cvsk25/bbp-viz-deployment/HBP/jurecavis/appimage/emsim/bin/emsim: Permission denied

[2019-02-19 12:54] ppodhajski commented on #375
should be good now

wt., 19 lut 2019 o 13:51 ElisabettaGiacalone <notifications@github.com>
napisał(a):

[2019-02-19 12:56] clupascu commented on #375
I get now
/p/project/cvsk25/bbp-viz-deployment/HBP/jurecavis/appimage/emsim/bin/emsim: error while loading shared libraries: libboost_program_options.so.1.54.0: cannot open shared object file: No such file or directory

[2019-02-19 13:08] ppodhajski commented on #375
it is strange, I added some debug print, please try again and report
LD_LIBRARY_PATH (it will print its content).

wt., 19 lut 2019 o 13:56 clupascu <notifications@github.com> napisał(a):

[2019-02-19 13:09] clupascu commented on #375
/p/project/cvsk25/bbp-viz-deployment/HBP/jurecavis/appimage/emsim/AppRun
LD_LIBRARY_PATH to be reported:  /p/project/cvsk25/bbp-viz-deployment/HBP/jurecavis/appimage/emsim/lib:/usr/local/software/jureca/Stages/2018b/software/binutils/2.31.1-GCCcore-7.3.0/lib:/usr/local/software/jureca/Stages/2018b/software/GCCcore/7.3.0/lib/gcc/x86_64-pc-linux-gnu/7.3.0:/usr/local/software/jureca/Stages/2018b/soft

[2019-02-19 13:10] ppodhajski commented on #375
I modified the permissions in the meantime on library folder and it seems
to work now, right?

wt., 19 lut 2019 o 14:09 clupascu <notifications@github.com> napisał(a):

[2019-02-19 13:13] clupascu commented on #375
it is not working

/p/project/cvsk25/bbp-viz-deployment/HBP/jurecavis/appimage/emsim/AppRun
Error: the option '--input' is required but missing

  -h [ --help ]         Print this help message.

  -i [ --input ] arg    Path to Blueconfig file.
  -o [ --output ] arg   Path for the output file.
  --target arg          The circuit's target.
  --report arg          The name of the report.
  --start-ti

[2019-02-19 13:16] ppodhajski commented on #375
I am not emsim developer but this seems to be application stdout or stderr,
which means you need to specify the --input parameter. I think you need to
specify --output and --report as well.

wt., 19 lut 2019 o 14:13 clupascu <notifications@github.com> napisał(a):

[2019-02-19 13:40] ElisabettaGiacalone commented on #375
Yes, I get the same output, but I suppose it is the output with all options of the function.
I am going to try with all the required data and I will give you a feedback.

[2019-02-19 13:46] appukuttan-shailesh opened #399 "Documentation for Blue-NaaS"
## Details description of the task
Really good to see BlueNaaS gaining so much more functionality in the last few months. I see that we are having a lot of discussions via emails and Github on how to use these features. It is important for us to document these features so that new users can easily start employing them. E.g. the structure of the experimental "traces" file, how they should be named,

[2019-02-19 13:48] appukuttan-shailesh commented on #399
This ticket can be closed if such documentation already exists, but after a link/button to the documentation is provided on the Blue-NaaS page.

[2019-02-19 13:54] genric commented on #399
Hi @appukuttan-shailesh. If you hit an icon in the upper left corner of BlueNaaS it will bring you to this help page: https://lbologna.github.io/hbp-sp6-guidebook/online_usecases/single_cell_in_silico/single_cell_clamp/single_cell_clamp.html (Which probably needs to be updated with all the recent developments, so we can keep the ticket to do that)

[2019-02-19 14:00] orena1 commented on #398
Thanks

[2019-02-20 08:32] alex4200 commented on #333
The tests with the notebooks and the usage of the service accounts has been done successfully.

It remains to be tested that the backend functions work correctly (quota, users etc)

[2019-02-20 08:53] genric commented on #394
@orena1 @alex4200 this can be retested and please feel free to close the issue if it works as expected, thanks.

[2019-02-20 09:00] genric commented on #393
@orena1, I am not too much in favor of having configurable trace color palette but if it is strictly necessary I'm open for suggestions on how this could be configured.
Anyways, I improved the current behavior, so please let me know if it looks any better now and if we could live with that, thanks.

[2019-02-20 09:28] alex4200 commented on #394
Seems to work for different models (except temperature as stated).

[2019-02-20 09:28] #394 closed, assigned to genric

[2019-02-20 15:09] ElisabettaGiacalone commented on #375
Hi @ppodhajski, I tried with a test simulation output, and it works.

/p/project/cvsk25/bbp-viz-deployment/HBP/jurecavis/appimage/emsim/AppRun -i /p/scratch/cvsk25/vsk2505/test-190219/BlueConfig --target slice0 --report AllCompartmentsMembrane --voxel-size 1,1,1 --start-time 0 --end-time 300 --output=slice0 --sample-point 3740.8,2398.6,5724.4

[2019-02-21 08:08] jdcourcol opened #400 "Change hippocampus model selection for simulation"
## Change request for the Simulation UI.

Aspect | Detail
------------ | -------------
Summary | A change to have the user select the brain region and the model in the UI of the BSP. When the actual SimUI App starts, the user cannot change the model anymore.
Expert | @SteMasoli
Deadline | 31.3.2019 (M12)
Dependencies | change in SimUI, change in usecases.

Step 1: in the BSP UI: "please select a *

[2019-02-21 12:55] ElisabettaGiacalone commented on #375
@ppodhajski Would it be be possible to do the same on Cineca and CSCS systems?

[2019-02-21 13:14] ppodhajski commented on #375
@ElisabettaGiacalone, yes I will work on that and let you know when it is in place

[2019-02-21 14:12] pedroernesto commented on #363
Maybe not directly related with this issue, but I am loading the following modules on JURECA-cluster (after _module --force purge all_)

  module load Architecture/Haswell
  module use /usr/local/software/jureca/OtherStages
  module load Stages/2018a
  module load Intel IntelMPI imkl
  module load HDF5
  export  MODULEPATH=/p/project/cvsk25/vsk2514/HBP/jureca-booster/install/latest:$MODULEPATH
  m

[2019-02-21 14:23] pramodk commented on #363
@pedroernesto : by any chance you have x84_* folder which was generated from older/different neuron version?

[2019-02-21 14:37] alex4200 commented on #393
I have tested this with the model cell0603_03_model_476 and now I see an output as follows:

![selection_606](https://user-images.githubusercontent.com/12729291/53176478-70a71f00-35ee-11e9-857e-dd46dc65f38f.png)

I will close this ticket as this seems to be a workable solution.
@orena1 please reopen this ticket if you disagree, or wanted something else.

[2019-02-21 14:37] #393 closed, assigned to genric

[2019-02-21 14:38] orena1 commented on #393
I'll ask my PI (idan segev) and will reopen if he can not live with it :)  thanks
@genric  by they way, try this:
https://blue-naas.humanbrainproject.eu/#/url/human_cells/cell0603_03_model_476.zip?delay=120.33&vinit=-86&dt=.025&amp=0.7&tstop=1500&dur=1000

It creates a better example

[2019-02-21 14:38] alex4200 commented on #397
Again, an update has been made:

![selection_607](https://user-images.githubusercontent.com/12729291/53176587-b19f3380-35ee-11e9-88b2-256cc2b361b9.png)

I will close that ticket.
@orena1 If you think something important is missing, please reopen this ticket

[2019-02-21 14:38] #397 closed, assigned to genric

[2019-02-21 14:40] alex4200 commented on #398
@orena1  Can you please check with the example
https://blue-naas.humanbrainproject.eu/#/url/neuron_reduce/detailed.zip
if that is fine with you (and close the ticket in that case?)

[2019-02-21 14:45] orena1 commented on #398
Just checked and I can now see the error message, thanks

[2019-02-21 14:46] #398 closed, assigned to genric

[2019-02-21 15:00] pedroernesto commented on #363
I see, I have to delete my local directory x86_64 and recompile again. Thank you!

[2019-02-21 15:03] genric commented on #393
@orena1 just checking with you if you are aware of the zoom functionality of the trace component described over here at **7.** https://lbologna.github.io/hbp-sp6-guidebook/online_usecases/single_cell_in_silico/single_cell_clamp/single_cell_clamp.html ? It gives a better insights if you want to compare them.

[2019-02-21 15:07] orena1 commented on #393
I am now, thanks

On Thu, Feb 21, 2019 at 5:03 PM genric <notifications@github.com> wrote:

[2019-02-21 15:11] appukuttan-shailesh commented on #398
Just curious.... once we get an error message. Shouldn't the user be allowed to change the parameters on the GUI (such as switch to variable dt, or fixed time dt) and run the simulation again. Currently the "simulation" panel gets disabled and no further simulations can be run.

[2019-02-21 15:20] genric commented on #398
For this to work I would need to know how to un'crash the NEURON :) Currently any NEURON failure is treated as critical and the container is cleaned-up. But maybe this one can be recovered from, I'll check with @wvangeit

[2019-02-22 08:10] antonelepfl commented on #343
@BerndSchuller Is there still the issue in Piz-Daint? I thought all was brought up again online.
When I submit a job I get the status `UNDEFINED` and it does not run.

[2019-02-22 08:15] clupascu commented on #343
I get the same status and yesterday I opened a ticket. Marco I. replied to me saying that he did a short test and it work for him. It still doesn't work for me.

[2019-02-22 08:45] antonelepfl opened #401 "Integrate Medium spiny neuron into model list"
## Details description of the task
Integrate Medium spiny neuron [model](https://collab.humanbrainproject.eu/#/collab/1655/nav/75901?state=model.2e2b7998-45b0-4075-9a59-beae74939f85) into:
- Morphology visualization
- Single cell in silico experiments (BlueNaaS)

[2019-02-22 08:45] antonelepfl commented on #401
@a1eko are the places where your model need to appear correct or it should be added in some other Use Case?

[2019-02-22 09:01] a1eko commented on #401
It will be used in the LivePaper we are preparing. For the moment, it is fine if it is simply registered correctly in the Model Catalog.

[2019-02-22 13:58] antonelepfl commented on #401
OK you can reopen this ticket when you want the model to appear on the BSP use cases

[2019-02-22 13:58] #401 closed, assigned to antonelepfl

[2019-02-25 08:19] wvangeit commented on #398
I wonder if you could run NEURON in a separate process ? That way at least your main thread wouldn't crash and you could 'recover' by restarting the NEURON process.

Btw, @genric, I saw in the top of this thread that apparently bluenaas uses variable dt by default. You've to be careful with the NMC portal models, because the cells with stochastic channels probably don't work / crash with this sett

[2019-02-25 09:34] lbologna commented on #376
Finalized on the dev/test platform: https://collab.humanbrainproject.eu/#/collab/1256/nav/29703
@alex4200 could you please have a look? If it works I will move it to prod. Thanks!

[2019-02-25 09:39] lbologna commented on #200
Submission to pizdaint being finalized on the dev platform:
https://collab.humanbrainproject.eu/#/collab/1256/nav/29703
- Submission file (e.g. .zip) creation done.
- Job submission/fetching to be completed.

Ready to be tested by the end of the week

[2019-02-25 11:51] alex4200 commented on #334
This ticket will be probably postponed to M18

[2019-02-25 11:52] alex4200 commented on #361
@antonelepfl : Making a test run of this use case

[2019-02-25 12:02] alex4200 commented on #376
@lbologna Please move it to production, Let me know when you have copied it to production

[2019-02-25 13:26] alex4200 commented on #373
Pablo created a 3D spine model here:  https://pabloserna.github.io/Testpage/

[2019-02-26 09:10] antonelepfl opened #402 "Model catalog not showing hippocampus models"
### Expected behavior
The model catalog shows Hippocampus models
### Actual Behavior (please include screenshot if possible)
There are only a couple of models in the whole catalog
### Steps to reproduce the problem
Go to [model catalog](https://collab.humanbrainproject.eu/#/collab/1655/nav/75901?state=model.n) and filter by brain region (Hippocampus). No models are shown.

[2019-02-26 09:19] antonelepfl commented on #361
I was not able to reproduce the issue. Everything worked fine for me.

[2019-02-26 09:19] #361 closed

[2019-02-26 09:26] apdavison commented on #402
Can you try now?

[2019-02-26 09:35] alex4200 commented on #402
@apdavison Now it seems to work. What was the problem?

[2019-02-26 09:48] apdavison commented on #402
I've been updating the Model Catalog database to make it more consistent with the Knowledge Graph. Simple things like renaming "Hippocampus" to "hippocampus". It seems this led to some inconsistency in the app configuration. Resetting the latter seemed to fix the problem.

[2019-02-26 09:51] alex4200 commented on #402
@apdavison: If these updates on the Model Catalog database contain several changes, maybe it is best to open a separate ticket here. Then I can do a quick test after the changes.

I will close this ticket for now

[2019-02-26 09:51] #402 closed, assigned to apdavison, appukuttan-shailesh

[2019-02-26 11:55] ppodhajski commented on #375
@pramodk Could you please let me know the path (gpfs) where I can deploy it on Cineca?

[2019-02-27 08:03] pramodk commented on #375
In the past Adrien was deploying stuff on Marconi in `/marconi_work/HBP_CDP2_it/nix`.

I am not sure if project (HBP_CDP2_it) is changed. @clupascu or @ElisabettaGiacalone should confirm the project directory under `/macroni_work`.

[2019-02-27 08:07] clupascu commented on #375
The project is HBP_CDP2_it_0

[2019-02-27 10:07] orena1 opened #403 "Blue-NaaS: can not download voltage trace"
It seems that I can not download a voltage trace from a finished simulation.
This is the simulation:
https://blue-naas.humanbrainproject.eu/#/url/neuron_reduce/simplified.zip?dt=0.025&tstop=2500&dur=0&amp=0&celsius=37

I click here:
![image](https://user-images.githubusercontent.com/8983713/53482540-1b548d00-3a88-11e9-9e90-65be9e233538.png)
but nothing happens, I  tried with firefox and with chrom

[2019-02-27 10:20] genric commented on #403
I just tried and it worked for me, although it was quite slow to prepare the download. Can you try a shorter simulation(tstop=1000)? I suspect browser might be having troubles handling 100k points...

[2019-02-27 11:13] orena1 commented on #403
It worked with tstop=500, but not 1000. But I actually need a trace that is 2500 ms long. Can this be corrected? Thanks
@genric  did you try with chrome?

[2019-02-27 11:42] genric commented on #403
Yep, doesn't work in chrome anymore, I'll have a look.

[2019-02-28 10:36] genric commented on #403
It should work now, @orena1 could you please retry?

[2019-02-28 13:24] orena1 commented on #403
@genric  I am trying to test, but the website: https://blue-naas.humanbrainproject.eu/ does not load

[2019-02-28 13:33] ppodhajski commented on #375
@ElisabettaGiacalone: I put Emsim here: /marconi_work/HBP_CDP2_it_0/bbp-visualisation/emsim/emsim

[2019-02-28 13:35] genric commented on #403
Hmm, not an improvement I was expecting :)
Could you please send me the logs from the JavaScript web console of your browser? And did you try it from multiple browsers?
@alex4200 does it work for you?

[2019-02-28 13:46] orena1 commented on #403
OK, now it works!
But now its stuck at this state for much longer:
![image](https://user-images.githubusercontent.com/8983713/53570689-c55b1480-3b6f-11e9-9218-6e920ca7a587.png)

It is good enough for me, but maybe it would be better to show a higher resolution trace (but not full resolution), and have some sand-clock that show that the full resolution trace is loading.

Anyway, thanks!

[2019-02-28 13:52] genric commented on #403
Yes, I'll try to improve this. Thanks for you feedback!

[2019-02-28 13:57] genric commented on #396
Finally I'll try to look into those spine visualizations. I've noticed that this model(https://blue-naas.humanbrainproject.eu/#/model/cell0603_11_model_937) gives some weird output form NEURON(full message is available in the js console) @orena1 is this fine or model needs to be fixed?

[2019-02-28 14:14] alex4200 commented on #403
@genric, @orena1 Can this ticket be closed?

[2019-02-28 14:37] orena1 commented on #396
It is something with the way the code is different between neuron versions, I changed it so it will work the same in all version (and there will not be weird output).
Also, there was some python2 vs python3 int casting problem, it did not change the main results but I fixed it, thanks!

https://blue-naas.humanbrainproject.eu/#/url/human_cells/Figure_8_Eyal_et_al_Elife/distributed_input/cell0603_11

[2019-02-28 15:14] antonelepfl commented on #335
I have implemented that in DEV version (only available for Jureca and Piz-daint)

[2019-02-28 15:24] alex4200 commented on #403
Download seems to work on FF and GC.

[2019-02-28 15:24] #403 closed, assigned to nobody

[2019-03-04 06:30] alex4200 commented on #335
On DEV this seems to work fine. Please put it on PROD.

[2019-03-04 07:43] antonelepfl opened #404 "Missing information about groups in Jureca and Piz-daint"
### Expected behavior
All HPC should work correctly with Unicore.
### Actual Behavior (please include screenshot if possible)
When I try to submit a job in the different HPC I get different errors:

- NUVLA:
[code]

- PIZ_DAINT & JURECA
I have missing information in /core.
Available Groups does not appear on client.xlogin.**availableGroups**

@BerndSchuller
Could you please check those systems and

[2019-03-04 09:44] lbologna opened #405 "Update "Live Papers" item on BSP Menu"
## "Live Papers" Update

Link on BSP: https://collab.humanbrainproject.eu/#/collab/1655/nav/306845

Aspect | Detail
------------ | -------------
Summary | Direct link to individual "Live Papers" have been replaced with an HTML page
Expert | @lbologna
Deadline | M12
Dependencies | None

## List of additional/changed features

Direct links to Collabs created for individual "Live Papers" have been re

[2019-03-04 09:46] lbologna commented on #334
Postponed to M18

[2019-03-04 10:05] antonelepfl commented on #335
Pushed to PROD

[2019-03-04 10:05] #335 closed

[2019-03-04 11:41] #400 closed, assigned to antonelepfl

[2019-03-04 13:17] alex4200 commented on #405
The implementation seems to work fine, all links seem to work from either place. Closing ticket,

[2019-03-04 13:17] #405 closed, assigned to lbologna

[2019-03-05 07:37] BerndSchuller commented on #404
at the moment there is a problem with the authentication (Unity server) for the whole UNICORE infrastructure. Since the admins are on holiday it might take some time to find out what the problem is and get it fixed

[2019-03-05 07:46] BerndSchuller commented on #404
luckily a restart of the Unity server has already helped - the authentication should be back to normal

[2019-03-05 07:46] #404 closed, assigned to nobody

[2019-03-05 07:55] antonelepfl commented on #404
Thank you Bernd for the update

[2019-03-05 13:53] #395 closed, assigned to nobody

[2019-03-06 09:54] alex4200 commented on #382
Code repository was created at ssh://bbpcode.epfl.ch/nse/notebook-version-check

[2019-03-07 11:08] genric commented on #396
Hi @orena1, you can check the model, spines should be well positioned now. Feel free to close this issue if you are happy with the result :)

[2019-03-07 12:50] antonelepfl commented on #382
We have deployed this in DEV and PROD so all the use cases from now on when you copy should include the header.

[2019-03-07 12:50] #382 closed

[2019-03-07 15:43] alex4200 opened #406 "KappaNeuron Demo notebook"
## New Use Case

Aspect | Detail
------------ | -------------
Summary | An example use case on how to use KappaNeuron
Usecase Group | Subcellular Group?
Expert | David C. Sterratt
Scientific User |
Deadline | M18
Target audience | Experts
Target interface | Notebook (Example/Tutorial)
HPC Requirements | none
Dependencies | java, KappaNeuron
Nominal runtime | ~ 1 minute

**Remove anything that does

[2019-03-08 14:59] lbologna commented on #333
@alex4200 please find here the jupyter notebook with extensive tests.
https://collab.humanbrainproject.eu/#/collab/17259/nav/301898

At the moment two hpc are available (pizdaint and nsg) with one project each. Some of the responses may be verbose at the moment, but the response code indicates the status (e.g. 404 if the job/user does not exist). Failing in submission may depend on the actual stat

[2019-03-08 15:10] genric commented on #399
Should be fixed by https://github.com/lbologna/hbp-sp6-guidebook/pull/52

[2019-03-11 10:02] alex4200 commented on #396
I checked the new implementation which seems to work.  Closing the ticket now. Feel free to OPEN this ticket if there are some other issues.

[2019-03-11 10:02] #396 closed, assigned to genric

[2019-03-11 10:18] orena1 commented on #396
Hi @genric I forgot to update. It works well, thank you!

[2019-03-11 10:21] lbologna commented on #200
Current status for job submission to pizdaint in hhnb:
- [x] frontend update with option for submission to pizdaint
- [x] submission file creation for pizdaint
- [x] job submission to pizdaint
- [x] pizdaint job list fetching
- [x] pizdaint single job results download
- [x] model upload to BlueNaaS
- [x] model simulation on BlueNaaS

[2019-03-12 08:08] alex4200 commented on #386
Use cases have been fixed and put in production.

[2019-03-12 08:08] #386 closed, assigned to appukuttan-shailesh

[2019-03-12 08:18] alex4200 opened #407 "New Protein structure use cases"
## New Use Case

Aspect | Detail
------------ | -------------
Summary | Use cases to simulate, analyze and visualize protein structures
Usecase Group | Molecular Level
Expert | Neil Bruce
Scientific User |
Deadline | first use case M12
Target audience | New users of molecular modelling/simulation tools
Target interface | Notebooks (Tutorials and real research)
HPC Requirements | none
Dependencies

[2019-03-12 08:32] alex4200 opened #408 "Tools providing web-access to molecular level tools for guiding systems level modelling"
## New Use Case

Aspect | Detail
------------ | -------------
Summary | C1997 (Platforms providing web-access to molecular level tools for guiding systems level modelling)
Usecase Group | Molecular Level
Expert | Adam Hospital, Aurélien Luciani (IRB Barcelona)
Scientific User |
Deadline | M18
Target audience | New users of molecular modelling/simulation tools
Target interface | GUI and notebooks (

[2019-03-12 11:06] genric commented on #399
lbologna/hbp-sp6-guidebook#52 just got merged, so I guess we can close this one.

[2019-03-12 11:48] #399 closed, assigned to genric

[2019-03-12 13:23] alex4200 opened #409 "New use case groups for new use cases"
## Use Case Update

Aspect | Detail
------------ | -------------
Summary | Creating two new usecase groups in the BSP named "Molecular level" and "Subcellular level".
Expert | Stefano
Deadline | when time (not that urgent)
Dependencies | none

### Tasks

- [ ] Task 1
- [ ] Task 2
- [ ] ...

## Acceptance Criteria
Two new groups are visible

[2019-03-12 13:29] antonelepfl commented on #409
I'll create those items when we have the use cases (web apps or notebooks) defined

[2019-03-13 14:29] antonelepfl opened #410 "Popup messages on top are too short."
### Expected behavior
The popup stays visible at least for 5 seconds
### Actual Behavior (please include screenshot if possible)
The popup is too short so you have to trigger it again
### Steps to reproduce the problem
Remove all the reports and try to Continue. An error saying that at least on report is needed will appear for 3 seconds.

[2019-03-13 14:33] antonelepfl opened #411 "Select the number of cells for each analysis separately"
### Expected behavior
Only input for the amount of cells for Raster (limit until all the cells), Histogram (limit until all the cells), Voltage (limit until 20).
### Actual Behavior (please include screenshot if possible)
Only one input for the amount of cells. (Raster, Voltage, Histogram)

[2019-03-13 14:35] antonelepfl opened #412 "Add Different colors fo the different types of cells on analysis"
### Expected behavior
The Raster plot will show different colors for the Exc and Inh cells.
### Actual Behavior (please include screenshot if possible)
The color is the same for all the types of cells.
### Steps to reproduce the problem
Run an analysis and the plot has only one color.

[2019-03-13 14:38] antonelepfl opened #413 "Add Exc-Inh selector for the analysis beside the Population selection"
### Expected behavior
A dropdown to select which type of cells (Exc-Inh) you want to analysis should appear below the Population selection
### Actual Behavior (please include screenshot if possible)
There is only Population dropdown.

[2019-03-13 14:40] antonelepfl opened #414 "Avoid forcing the user to select stimulus and report"
### Expected behavior
You can submit jobs without Stimulus (it will use the spon-mins in the connections) or without reports.
### Actual Behavior (please include screenshot if possible)
We force the user to select Report & Stimulus
### Steps to reproduce the problem
Remove the stimulus or the report and click Continue. A popup should appear.

Steps to implement this
- [x] Allowing zero reports on

[2019-03-13 14:41] antonelepfl opened #415 "Set default weight to 1 for stimulus"
### Expected behavior
Edit stimulus and the weight should be 1.
### Actual Behavior (please include screenshot if possible)
The weight is 0.2
### Steps to reproduce the problem
Double click on stimulus and check the weight section

[2019-03-13 15:36] antonelepfl commented on #412
@romani79 If you have ever used this functionality on BluePy please point me to a notebook or code that I can see how is done.

[2019-03-14 07:37] alex4200 opened #416 "Stimuli for SimUI"
### Expected behavior

Selectable stimuli make sense and are documented/explained.

### Actual Behavior (please include screenshot if possible)

Current stimuli are not clear how they work exactly. Also the stimuli useful for Armando might be missing (threshold bases noise stimuli with mode=current. Should have fields like _MeanPercent_ and _Variance_.)

### Steps to reproduce the problem

### Opt

[2019-03-14 07:42] alex4200 opened #417 "Using Unicore on BB5"
## Use Case Update

Aspect | Detail
------------ | -------------
Summary | Investigate the possibility to use unicore on BB5, so Armando can run simulations using his circuits from BB5.
Expert | Stefano
Deadline |
Dependencies |

## List of additional/changed features

Armando wants to use the SimUI in order to run simulations. But this hard to do, because his circuits are located on BB5. So the i

[2019-03-14 07:54] antonelepfl opened #418 "Clarification about Neurodamus parameters"
Clarify with HPC team if the synapses that are virtually created with for example Poisson stimulus have the same conductance as the real synapses.

[2019-03-14 10:03] #417 closed, assigned to alex4200, antonelepfl

[2019-03-14 15:38] wvangeit commented on #353
@mmigliore, just want to confirm with you before we start implementing this.

Our synapses have the variables g_AMPA and g_NMDA for exc synapses and  g_GABAA  and  g_GABAB for inh synapses.
(these are the variables which are affected by our STP and which ultimately used for the final e.g. i_AMPA = g_AMPA*(v-e))
If these variables are plotted during the run, would that comply with your use case ?

[2019-03-14 16:33] mmigliore commented on #353
Not really. The name of the variables that need to be reported depend from
the mod file used for synaptic plasticity.
As far as I know, the current mod file does not have plasticity.

Il gio 14 mar 2019, 11:38 Werner Van Geit <notifications@github.com> ha
scritto:

[2019-03-15 07:36] antonelepfl opened #419 "Pass to BluePy time for create plots from simulation configuration."
### Expected behavior
The plots are render from the simulation time
### Actual Behavior (please include screenshot if possible)
As we are passing _t_start_ None to bluepy the plots start from negative time producing a wrong plot.

[2019-03-15 07:36] wvangeit commented on #353
Ah ok, you are not using ProbAMPANMDA_EMS and ProbGABAAB_EMS for the synapses in the hippocampus circuit ?

[2019-03-15 09:05] romani79 commented on #412
You can use the option groupby to have different color schemes in the raster plot.
For example:

from bluepy.v2.enums import Cell
sim.v2.plot.raster(gids, t_start=0, groupby=Cell.MORPH_CLASS) colors the excitatory and inhibitory cells differently.

[2019-03-15 09:51] mmigliore commented on #353
I am probably usign them, although I have not the privilege to know it
directly (:)), but I am almost sure that their mod file does not have any
plasticity code inside. So, plotting their weight at this time would not be
useful.
However, I am involved in the implementation of a few mod files that have
plasticity. In this case their weight need to be plotted.
I think that before you work on this we

[2019-03-15 10:01] wvangeit commented on #353
Ok, sure we can have a skype call.
ProbAMPANMDA_EMS and ProbGABAAB_EMS do have short plasticity
So the weight is changing in time.

But maybe we're talking about different types of plasticity (you probably mean LTD/LTP ? ) ?

[2019-03-15 10:19] mmigliore commented on #353
Oh, yes of course. I am talking about LTP/LTD.
Not particularly interested in short-term facilitation/depression in the
context of a circuit simulation at this time.

On Fri, Mar 15, 2019 at 6:01 AM Werner Van Geit <notifications@github.com>
wrote:

[2019-03-15 10:34] wvangeit commented on #353
Ok, thanks, that was the piece of the puzzle I was missing :-)

[2019-03-15 11:40] lbologna commented on #200
@alex4200 job submission to Pizdaint in HHNB is available at the following test link:
https://collab.humanbrainproject.eu/#/collab/1256/nav/29703

Could you please start the testing?
Thank you!

[2019-03-15 12:58] alex4200 commented on #200
@lbologna The submission to PizDaint seems to work fine. NSG as well. From my side this can be put on PROD.

[2019-03-18 09:49] antonelepfl commented on #412
Would this feature replace the https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/413 functionality? I mean if we colored those items would you need to be able to select Inh-Exc?

[2019-03-18 09:58] alex4200 commented on #375
Is there any update on this issue?

@romani79: For your information

[2019-03-18 10:06] antonelepfl commented on #369
Hi @BerndSchuller,
The rest API to the storage endpoint (.../rest/core/storages/90e4a...uspace/files) are extremely slow. Could you check them please?

[2019-03-18 10:09] #410 closed, assigned to antonelepfl

[2019-03-18 10:11] BerndSchuller commented on #369
better now?

[2019-03-18 10:14] antonelepfl commented on #369
Yes thank you!

[2019-03-18 11:23] ElisabettaGiacalone commented on #375
I have not tested yet on Marconi with data from simulation because I want to test it on the new full scale Hippocampus model, but it seems to work.

@ppodhajski, Is there any update on the installation on CSCS ?

[2019-03-18 12:26] alex4200 commented on #356
Tests need just be pushed to production.

[2019-03-18 12:46] romani79 commented on #412
Coloring Inh-Exc is useful to better read a raster which contains both populations.
Plotting only Inh and Exc is useful to look more specifically into those sub-populations.

[2019-03-18 12:56] alex4200 commented on #369
@BerndSchuller When submitting a job to NUVLA I seem to run into problems. Jobs do not finish, I get a 500 ERROR, etc.

[2019-03-18 13:07] BerndSchuller commented on #369
Hi,
in the logs I can see (this error should be also in the job's properties that you can look at on the client)

...  - Started 85ea4e8d-97c5-40b5-9967-67c1c1c50301
...  - Error submitting job.
... Reply was <TSI_FAILED: Unknown parameter: collab_oidc in node: compute...

(and later some attempts to download files like "/stderr" without authentication)

The "unknown parameter" is not a UNICORE er

[2019-03-18 14:06] alex4200 commented on #412
So far it seems to work. However, a legend for the colors would be good.
But I guess this would require a change in the plotting code. This code also seem to have a bug:

Should be:

[code]

[2019-03-18 14:08] antonelepfl commented on #412
I would suggest to create a ticket in BluePy for this.
But in the meantime we can close this issue if it works

[2019-03-18 14:08] alex4200 commented on #412
Agreed

[2019-03-18 14:08] #412 closed, assigned to alex4200, antonelepfl

[2019-03-18 14:56] antonelepfl commented on #413
As we have added colors for Inh-Exh cells in the raster plot as a default, we agreed to do this analysis in a jupyter notebook instead of thru the GUI.

[2019-03-18 14:56] #413 closed, assigned to antonelepfl

[2019-03-19 06:46] #415 closed, assigned to alex4200, antonelepfl

[2019-03-19 13:25] #411 closed, assigned to alex4200, antonelepfl

[2019-03-20 07:51] antonelepfl commented on #416
For this I would like to know:
1) ALWAYS that you use Noise stimulus you use the hyperpolarization?
2) This is for the full scale AND the microcircuit?
3) Would you hipperpolarize with another type of stimulus other than noise?

[2019-03-20 09:14] ppodhajski commented on #375
@ElisabettaGiacalone I am waiting for access rights to CSCS.
Will update the ticket then.

[2019-03-21 07:22] romani79 commented on #416
First of all we have to distinguish 4 use cases:
1. What I do
2. what a student should do in the MOOC
3. what a BSP user should do
4. what the simulator allows to do

So...
1. I normally run simulations without any stimulus. Only for testing I insert the following blocks in the BlueConfig:

[code]

In the past, I also used to add extra synapses on each neuron and activate them with poisson inputs

[2019-03-21 09:39] mmigliore commented on #416
A real user need to do in silico experiments.
This means that a user must be able to independently control the number and the frequency of the stimulation. Typical cases of stimuli are those delivered during syn plasticity protocols: constant frequency and theta bursts (a series of up to 4 activations at 100-200Hz, repeated a given number of times (10-100) at a frequency of 0.1-0.5 Hz.

[2019-03-22 06:53] alex4200 commented on #416
At first I think it makes sense to decide which  stimuli should be used in the SimUI. From the comment of @romani79  I assume the only stimuli that would be useful is the Poisson stimuli. Do I understand that correctly?

So then all the other 10 possible stimuli can be taken out from the GUI?

[2019-03-22 06:59] antonelepfl commented on #416
I would suggest to leave a couple of them:

Stimulus | Properties
------------ | -------------
Linear | ['AmpStart', 'AmpEnd']
Pulse |  ['Width', 'Frequency', 'Offset']
NPoisson | ['Lambda', 'Weight', 'NumOfSynapses']
Noise | ['MeanPercent', 'Variance']

**Noise** will include the 2 blocks that Armando mentioned (hypamp and Threshold)

[2019-03-22 08:24] mmigliore commented on #416
Would these be in addition to those needed to implement syn plast protocols?

On Fri, Mar 22, 2019 at 2:59 AM Stefano Antonel <notifications@github.com>
wrote:

[2019-03-22 12:11] romani79 commented on #416
Indeed, the stimulus I am currently using is the 'Threshold' not the NPoisson. Anyway, I would suggest to implement both.

[2019-03-24 12:14] lbologna opened #420 "Add Eyal et al 2018 to Live Papers"
## Live Paper page update

Aspect | Detail
------------ | -------------
Summary |  Add Live Paper for Eyal et al 2018 in the BSP Live Paper
Expert | @lbologna
Deadline | M12
Dependencies | None

## List of additional/changed features
* Add a new Live Paper document for Eyal et al 2018 to the BSP Live Paper page

### Tasks

- [x] Add document
- [x] Create collab for the new Live Paper
- [x] Check t

[2019-03-24 12:18] lbologna commented on #420
The new Live Paper document for Eyal et al 2018 has been added to the Live Paper page.
All links seem to work.

@alex4200 could you please perform a final check and let me know if something does not work correctly? Thank you

[2019-03-24 12:32] lbologna commented on #333
Service Account has been moved to production on cineca vm
The jupyter notebooks "Synaptic events fitting" and "Synaptic events fitting with analysis" (in the Trace Analysis Use Case group) have been updated with the Service Account option and are ready to be moved to production.

The documentation is being finalized and will be published this week, with a link in the BSP Guidebook

[2019-03-24 12:46] lbologna commented on #376
Moved to production

[2019-03-25 08:14] lbologna commented on #200
Moved to production

[2019-03-25 08:36] lbologna opened #421 "Optimization results analysis loops on some optimization results"
### Expected behavior
After the optimization process is finished on HPC and the output is downloaded, the analysis process is triggered and positively ends. The .zip folder is successively created to be uploaded to BlueNaaS for the model to be simulated

### Actual Behavior
On some optimization, the steps which involve compiling the results with neuron and run the analysis script loops indefinitel

[2019-03-25 09:00] genric commented on #420
@lbologna, Alex is on vacation this week.

[2019-03-25 09:21] genric commented on #420
I've checked the links:
* The link for the first Cell_130303 is broken for the BlueNaaS. It looks weird because under the same name the link in model catalog points to: cell1303_03_model_448.zip and for the BlueNaaS it is: cell1303_03_model_643.zip(which doesn't exist in the storage container)
* Cell_130305 looks also broken: there is hoc error.
[code]

[2019-03-25 09:22] orena1 commented on #420
I'll check it now, thanks

[2019-03-25 09:57] orena1 commented on #420
Fixed with this:
https://github.com/HumanBrainProject/hbp-bsp-live-papers/pull/5

I'm not sure why we get an error, it works in my computer, also I can not see the error message in the chrome console.

[2019-03-25 10:08] genric commented on #420
The issue there is the morphology file extension. It has lowercase `asc` in the hoc template and the actual file extension is all caps: `2013_03_13_cell05_675_H42_04.ASC`(I guess if you are on Windows then this doesn't make a difference).
And the error message is a bit too generic, I agree. Will try to improve it.

[2019-03-25 10:12] orena1 commented on #420
Thanks @genric nice catch, I've fixed it now (Using Mac)

[2019-03-25 10:31] jdcourcol commented on #416
@romani79 @mmigliore do we have a blueconfig with that somewhere ? so that we can reuse them as example for the implementation ?

[2019-03-25 10:31] #376 closed

[2019-03-25 10:33] #200 closed

[2019-03-25 10:44] SteMasoli opened #422 "hbp-service-client "'Client' object has no attribute 'download_file'""
### Expected behavior
To download files from the BSP collaboratory storage with hbp-service-client 1.0.0 and 1.1.1

### Actual Behavior (please include screenshot if possible)
clients.storage.download_file('/BSP/OnlineUseCases/SingleCellModeling/Cerebellum_Opt/GrC_mono_collab/GrCmorphmono.mod', 'GrCmorphmono.asc');

AttributeErrorTraceback (most recent call last)
<ipython-input-16-2fb405fa7b2d> in

[2019-03-25 10:48] mmigliore commented on #416
Unfortunately no. As far as I know, one cannot even implement a stimulation
different from poisson in the model circuit. This is something that needs
to be implemented asap.

On Mon, Mar 25, 2019 at 11:31 AM jdcourcol <notifications@github.com> wrote:

[2019-03-25 10:56] clupascu commented on #422
Try with hbp-service-client 1.1.0. I am using this one and I can download files successfully.

[2019-03-25 11:51] SteMasoli commented on #422
With 1.0.0 now it works.
This issue is still generated when the image, with all the modules, is upgraded or changed.
I think that a warning, to restart the kernel after an image upgrade and a series of new pip installs, could be a good idea.

[2019-03-25 12:57] genric commented on #420
Looks like all links are working now.

[2019-03-26 08:16] antonelepfl commented on #414
Currently I'm not forcing the user to select any report but I realized that I need at least one report to run the analysis (voltage traces) and the visualization.
@romani79 Do you think we can restrict the user to select at least one report so we make sure that the analysis will work?

[2019-03-28 10:00] antonelepfl opened #423 "E-models appearing on Single Cell category in Model Catalog"
Hi @rmiglior,
I see that there are now a couple of E-Models appearing on the Single Cell category
As you can see here:

![Screenshot 2019-03-28 at 10 54 38](https://user-images.githubusercontent.com/24406041/55148174-03842d80-5148-11e9-9386-ae456c67be32.png)

The issue that before I had under that category the result of the optimization (with their Morphology and a representative trace plot) but n

[2019-03-28 11:09] clupascu commented on #423
Hi @antonelepfl,
where do you fetch the E-Models from?

[2019-03-28 11:25] antonelepfl commented on #423
I just fetch the list of Single Cells and the e-models are there

[2019-03-28 11:29] clupascu commented on #423
Where do you fetch from the list of Single Cells?

[2019-03-28 12:26] appukuttan-shailesh commented on #423
@antonelepfl , @clupascu : These were created by me, as part of the process of running the validation on the BluePyMM output models (as discussed on Hippocampus VC recently).

These entries would all be migrated to the KG soon (coming weeks?). The KG has finer resolution to distinguish between the kinds of models (E-model vs ME-model). Before this migration happens, we needed a temporary way to id

[2019-03-28 12:29] appukuttan-shailesh commented on #423
Also, can you let me know the filters you are currently using to identify the "optimizations"?

[2019-03-28 12:40] antonelepfl commented on #423
Before for the Hippocampus Models I was just doing
`https://validation-v1.brainsimulation.eu/models/?brain_region=hippocampus&organization=HBP-SP6&model_scope=single%20cell&species=Rattus%20norvegicus`

[2019-03-28 12:47] #422 closed, assigned to nobody

[2019-03-28 13:53] clupascu commented on #423
@antonelepfl But essentially I think you should list only optimizations. Maybe the E-Models are used for other use cases, but not for the Single Cell Building. As you are saying the optimizations for those E-Models are already on the list anyway.

[2019-03-28 14:32] antonelepfl commented on #423
I know that I can iterate thru the entire list of models and select those which are optimizations. My point is that I would like to use Model Catalog to find specifically what I want and not to pull most of the models to then iterate manually.
As Shailesh mentioned those e-models will be categorized better when the full integration with the KG is done. Just @appukuttan-shailesh keep me updated.

[2019-03-29 17:42] pedroernesto commented on #391
Code completed. Issue almost done, need to test on the Collab next week.

[2019-03-29 19:12] pedroernesto commented on #332
Most of BBP-tests currently do not include any score to register on the VF, but plots and visual comparisons. A lot of coding is needed yet, and getting familiar with their own approaches and tools as well. More importantly, the right statistical test to produce a relevant score for each particular situation must be found.

I propose to eliminate this issue. I can then focus on more realistic goal

[2019-04-01 05:50] alex4200 commented on #420
Retested it, seems to work.

[2019-04-01 05:50] #420 closed, assigned to nobody

[2019-04-01 06:46] alex4200 commented on #356
Tests are implemented.

[2019-04-01 06:46] #356 closed

[2019-04-01 08:40] Hjorthmedh commented on #378
120,000 neuron microcircuit created using the PDC's cluster Tegner. The job consists of parallel and serial parts. I want to split these into different jobs, to avoid idle workers during the merging of data files which is done in serial. Will then try and get the code to run on the HBP super computers.

We have preliminary synaptic connectivities for dSPN, iSPN, FS, LTS and ChIN now. Currently sta

[2019-04-01 09:11] lbologna commented on #333
Service Account code is online at this link:
https://github.com/HumanBrainProject/hbp-bsp-service-account

The documentation has been published at this link:
https://humanbrainproject.github.io/hbp-bsp-service-account/

A link to the documentation page with a brief introduction to the service has been inserted in the BSP Guidebook:
https://collab.humanbrainproject.eu/#/collab/1655/nav/18580

[2019-04-01 11:10] #333 closed

[2019-04-01 11:11] alex4200 commented on #375
@ppodhajski No news on this item?

[2019-04-01 11:11] #351 closed

[2019-04-01 11:13] alex4200 commented on #389
@pramodk  Is this issue fixed now?

[2019-04-02 11:56] alex4200 commented on #307
Duplicate of #327

[2019-04-02 11:56] #307 closed

[2019-04-02 12:30] apdavison commented on #332
I don't think we should eliminate this, it is very central to our work. I think the milestone of M18 seems reasonable.

[2019-04-02 12:58] alex4200 commented on #364
Duplicate of #382

[2019-04-02 12:58] #364 closed

[2019-04-02 16:35] davidcsterratt commented on #406
There is a simple example here:
https://collab.humanbrainproject.eu/#/collab/2184/nav/204920
It takes about a minute to run.

There is a more complex example here:
https://collab.humanbrainproject.eu/#/collab/2184/nav/303192
It takes longer to run.

In both scripts, there's quite a bit of time spent installing java (if not already installed in the user's home dir) and also transferring the files f

[2019-04-02 16:39] pedroernesto commented on #332
Ok.
Actually, one of those BBP cases with figures and no scores, is the one considered in issue #331: a real test for synapses distributions in the CA1 circuit model is missing. So, it would be clearer if the content of issue #331 were actually one of the notebooks I mentioned in the title of this issue #332. Issue #331 is redundant.

[2019-04-03 14:22] alex4200 commented on #331
Task included in #332.

[2019-04-03 14:22] #331 closed

[2019-04-03 15:48] pedroernesto commented on #391
The problem with the third cell type (FSI) is solved. The source file for this use-case (BG_Morphology_Validations) runs now succesfully at:
https://collab.humanbrainproject.eu/#/collab/8123/nav/78914

I have added the following functionalities to MorphoUnit:

- Checks the compliance of the raw observation file with _NeuroM_ (_fst_ module) nomenclature

- Automatic creation of configuration files

[2019-04-04 07:13] alex4200 opened #424 "Morphology Analysis it not using updated morphology files"
### Expected behavior

Use case 'Morphology Analysis' uses the updated files from the [morphologies repo](https://github.com/lbologna/bsp_data_repository/tree/master/optimizations)

### Actual Behavior (please include screenshot if possible)

When cloning the use case the old files are being used.

### Steps to reproduce the problem

Just clone one example of the use case, it will fail in the seco

[2019-04-04 08:36] alex4200 commented on #52
@lbologna  will check with Michele/Jean-Denis

[2019-04-04 10:13] antonelepfl commented on #419
I have already implemented this fix on Jureca, Piz-Daint and Nuvla

[2019-04-04 14:20] antonelepfl commented on #424
Could you test on DEV and if it's ok we can PR to PROD?

[2019-04-04 14:46] alex4200 commented on #424
@antonelepfl  Tests on DEV works fine.

And it looks like the notebook itself has changed slightly.

[2019-04-05 07:00] antonelepfl commented on #424
Yes it has changed because I'm getting the morphology from the Model Catalog instead of the Github

[2019-04-05 07:56] alex4200 commented on #391
@pedroernesto Is that notebook ready for testing? Is this the correct DEV notebook: /8123/usecases/BG_MorphoUnit_usecase.ipynb ?

[2019-04-05 10:34] antonelepfl commented on #418
Doc for stimulus parameters:
https://bbpteam.epfl.ch/project/spaces/pages/viewpage.action?spaceKey=BGLIB&title=Stimulus+section

Doc for reports parameters:
https://bbpteam.epfl.ch/project/spaces/display/BGLIB/Report+Section

[2019-04-05 10:34] #418 closed, assigned to antonelepfl

[2019-04-05 12:05] #409 closed, assigned to antonelepfl

[2019-04-05 12:45] alex4200 commented on #424
In prod and working, automated tests fine as well.

[2019-04-05 12:45] #424 closed, assigned to alex4200

[2019-04-08 08:19] apdavison opened #425 "Model Validation app uses KnowledgeGraph as database backend"
Update use case

## Use Case Update

Aspect | Detail
------------ | -------------
Summary | Adapt the Model Validation app on the Brain Simulation Platform to use the Knowledge Graph as its database backend.
Expert | @apdavison
Deadline | end of April 2019
Dependencies | #380

## List of additional/changed features
* When using the Model Validation app and the Python client, the data is used from

[2019-04-08 08:21] apdavison commented on #380
Deployment to production will be coordinated with #425, and so is delayed.

[2019-04-08 09:28] ppodhajski commented on #375
@ElisabettaGiacalone what path on CSCS should it be deployed?

[2019-04-08 09:31] clupascu commented on #375
I think it can be deployed here /apps/hbp/ich002/hbp-spack-deployments/

[2019-04-09 06:42] antonelepfl commented on #414
@alex4200 I have implemented this on [DEV](https://bbp.epfl.ch/public/dev.simulationapp/index.html#/circuits/microcircuit)

[2019-04-10 07:37] apdavison commented on #381
Should be achieved automatically once #380 and #425 are achieved

[2019-04-10 07:48] alex4200 commented on #86
Covered by Luca's BSP statistics.

[2019-04-10 07:48] #86 closed

[2019-04-10 11:11] pedroernesto commented on #391
I think so, yes. The one on the BSP is not editable, just a copy on the user space. So I have been working on this one. Is it there another copy of the notebook on the Collab?

[2019-04-11 07:28] alex4200 commented on #414
Tested and working. Needs to be deployed on production

[2019-04-11 09:07] alex4200 opened #426 "Name of NSG simulation for Synaptic Events Fitting mising"
### Expected behavior

When I run a simulation on NSG for the use case "Synaptic Events Fitting" and name the simulation, I expect the name to see on the "Analysis" notebook.

### Actual Behavior (please include screenshot if possible)

In the Analysis notebook I see only 'true' due to a change in the NSG API:

![Selection_662](https://user-images.githubusercontent.com/12729291/55944869-d35d8400-5

[2019-04-11 09:28] alex4200 commented on #391
@pedroernesto I just tested the notebook located at /8123/usecases/BG_MorphoUnit_usecase.ipynb  and I get an error in the second part:

![Selection_664](https://user-images.githubusercontent.com/12729291/55945216-a52c7400-5c4a-11e9-8695-2fe1a3c38f82.png)

My best guess is that you need a chance on how you create the morph_files:

`model_collab_paths.append(model_instance["source"].split("http://co

[2019-04-11 10:53] pedroernesto commented on #391
In principle, the second part of the test is currently handling only FS neurons, not MS neurons. In fact, there is a cell just at the beginning to check this. Above it says 'Part 2: Soft Constraints Validation
[Currently only available for Fast Spiking Interneurons]' More experimental data is needed for MS neurons

[2019-04-11 14:49] alex4200 commented on #407
@njbruce Please check https://github.com/antonelepfl/usecases/ for inserting new use cases in the Brain Simulation Platform

[2019-04-11 14:52] alex4200 commented on #406
@davidcsterratt  If a notebook of yours is ready to be tested, let me know, and also see the instructions for adding a new notebook here:  "https://github.com/antonelepfl/usecases/"

[2019-04-12 11:35] ppodhajski commented on #375
@clupascu @elisamarenzi please see it under  /apps/hbp/ich002/hbp-visualisation-deployements/emsim/emsim

[2019-04-15 05:24] alex4200 commented on #407
@njbruce ready to implement a notebook in the week of 15 April 2019. The Collaboratory Jupyter environment seems to have been set up properly.

[2019-04-15 07:11] romani79 commented on #154
I will share an update on this issue.
The analyse of LFP is not a problem. We have custom python code or Elephant.
The problem remains always the tool to calculate the LFP.
I asked Samuel if we can make the viz tool available, and he asked Felix. Unfortunately, I am still waiting a reply.
Regarding Torbjørn Ness' tool, we invested some time to make use of it but it still requires some additional e

[2019-04-15 08:26] alex4200 commented on #408
Update from @aurel-l 15.4.2019:

[code]

[2019-04-15 12:58] alex4200 commented on #93
Decided to not pursue this item, as it would mean to refactor all the models.

[2019-04-15 12:58] #93 closed

[2019-04-15 12:59] alex4200 commented on #156
This issue might be done later in M18

[2019-04-16 08:52] alex4200 commented on #44
This task is included in #334

[2019-04-16 08:53] alex4200 commented on #334
@lbologna Please do not forget to update this task with some more details

[2019-04-16 09:02] alex4200 commented on #173
@mmigliore/ @jdcourcol : @andrisecker is not able to work on this task anymore. Can you find another assigneee for that task?

[2019-04-16 12:06] jdcourcol commented on #173
@alex4200 I think this "just" needs to have the GUI to let the end user to record the cai variable.
So I think it is up to @antonelepfl  to see if it is feasible.

[2019-04-17 16:36] ElisabettaGiacalone commented on #375
@ppodhajski I have just tested that on CSCS with this code:

 /apps/hbp/ich002/hbp-visualisation-deployements/emsim/emsim -i /scratch/snx3000/bp000139/w1syn03_testLFP/BlueConfig --target slice2 --report AllCompartmentsMembrane --voxel-size 1,1,1 --start-time 200 --end-time 600 --output=slice2 --sample-point 3740.8,2398.6,5724.4

But I get this error (despite the input is specified) :

Error: the o

[2019-04-18 06:43] clupascu opened #427 "Fetch the optimization results from the storage of the HPC system"
Update use case

Aspect | Detail
------------ | -------------
Summary | Fetch the optimization results from the storage of the HPC system in the analysis notebook as done in the Synaptic events fitting use cases. Essentially merging the 'Job Manager' notebook into the 'Analysis' notebook for the single cell building use cases.
Expert | @clupascu
Deadline | september 2019

[2019-04-18 09:34] alex4200 opened #428 "Code error for Validation use cases"
Affected use cases:
- BasalUnit_usecase
- BG_Morphology_Validations

### Expected behavior

Use case runs without error.

### Actual Behavior (please include screenshot if possible)

Full error (after having selected "n" for using an existing model uuid).

[code]

![Selection_676](https://user-images.githubusercontent.com/12729291/56351622-d61e2300-61cd-11e9-9d78-b505f9427fbd.png)

### Steps to re

[2019-04-18 09:42] appukuttan-shailesh commented on #428
Problem was in Cell 5..... API now required `other` instead of `Other`. Fixed now.

@alex4200 :
I propose disabling all the validation related UseCases till the move to KG is completed. It would be better to fix and test the various issues all at once, than doing temporary patchwork. (I feel it is wasting a lot of time spent on debugging, testing and fixing issues at this point.)

@apdavison: Do y

[2019-04-18 10:11] alex4200 commented on #428
@appukuttan-shailesh  Yes I think that is a good idea.

@antonelepfl : Is it possible to deactivate all validation use cases in the BSP for now?

[2019-04-18 10:34] apdavison commented on #428
The process of standardizing the existing model catalog database is now finished, so there shouldn't be any further such breakages, i.e. it shouldn't be necessary to disable the use cases.

[2019-04-19 12:28] clupascu commented on #426
The issue should be fixed now. Can you test again please? I updated the notebooks.

[2019-04-23 08:12] alex4200 commented on #426
The naming of the jobs seems to work now (on DEV; I get the correct name in the "Synaptic events fitting with analysis" notebook, but the date seems to be off (1.4. instead 23.4.).

I submitted a job today ("Test NSG 0423") but its date is off:

![Screen Shot 2019-04-23 at 10 11 09](https://user-images.githubusercontent.com/12729291/56565213-26bbc480-65b0-11e9-97ac-d0dbc18227c5.png)

[2019-04-24 09:59] clupascu commented on #426
@alex4200 Is this issue still valid? I checked now and the date is on.

![Schermata 2019-04-24 alle 11 57 13](https://user-images.githubusercontent.com/22050958/56651000-6fdf4780-6688-11e9-8419-4ac15bf95ab8.png)

[2019-04-24 11:36] #426 closed, assigned to clupascu

[2019-04-25 07:11] antonelepfl opened #429 "Test Simulation comparison feature"
## Details description of the task
@alex4200 Please test the Comparison feature on Nuvla following this temporal [link](https://bbpteam.epfl.ch/public/v2-simulation-launcher/dist/index.html#/circuits/microcircuit/view/NUVLA)

Remember that we have a dummy notebook to compare (just fetching the data) but the important part is the process about selecting the Simulation and creation of Collab with th

[2019-04-25 12:14] antonelepfl commented on #369
Hi @BerndSchuller I'm getting some 500 on Nuvla.. Is there any maintenance on Unicore going on? (it seems that Jureca is down)

[2019-04-26 08:38] antonelepfl opened #430 "Simulations with Unicore disappear"
### Expected behavior
All the simulations list and analysis are available on the list
### Actual Behavior (please include screenshot if possible)
After some time the simulations disappear from Unicore list of jobs.

@clupascu do you have the same issue?
@BerndSchuller is there any way to change that behaviour?

[2019-04-26 09:32] antonelepfl commented on #388
Hi @BerndSchuller,
I'm having this issue again. The strange thing was that I get this 500 using the Collab Notebook too that I think does not check CORS headers.
Could you please have a look when you have some time?

[2019-04-29 05:57] alex4200 opened #431 "Job name and date out of sync in Synaptic Events Fitting"
### Expected behavior

Correct date for a given job.

### Actual Behavior (please include screenshot if possible)

The job names and job dates are out of sync. Here is what is shown:

![Selection_687](https://user-images.githubusercontent.com/12729291/56878362-04182880-6a54-11e9-893d-d722d8c3ed07.png)

and here are debug messages showing the expected date for the marked job:

![Selection_688](http

[2019-04-29 06:44] BerndSchuller commented on #388
looks OK to me, pretty sure the 500 error was not CORS related, maybe temporarily one of the services was down.

[2019-04-29 06:51] BerndSchuller commented on #430
By default, jobs are deleted after 30 days. Is this what you mean?
If 30 days is not enough, you can manually extend this time for each job by sending a HTTP PUT call with JSON content to the job URL with the new termination (deletion) time in this format:
{
"terminationTime" : "yyyy-MM-dd HH:mm"
}

[2019-04-29 08:15] clupascu commented on #431
@alex4200 I believe this is because I wanted to show only the jobs submitted with NEURON75 (the fitting jobs), while the other ones (submitted presumably with the notebook to test hpc status) are submitted with NEURON73. I may continue to display all the jobs or only the ones connected with the synaptic fitting. I believe the second one is better. Do you agree?

[2019-04-29 08:43] clupascu commented on #431
It should be fixed now. Can you please test again? Thanks.

[2019-04-29 08:48] clupascu commented on #430
@antonelepfl I don't pay attention after how much time the simulations disappear from Unicore list of jobs.

[2019-04-29 09:45] alex4200 commented on #337
Hard to implement, less important for now.

[2019-04-29 10:46] ElisabettaGiacalone commented on #389
@pramodk news about this issue? I get the same error after import bluepy in a python shell:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/p/project/cvsk25/vsk2514/HBP/jureca-booster/01-02-2019/install/linux-centos7-x86_64/intel-18.0.2/py-bluepy-0.12.7-3dgdw7/lib/python2.7/site-packages/bluepy/__init__.py", line 2, in <module>
    from bluepy.api import load_cir

[2019-04-29 11:42] pramodk commented on #389
@jorblancoa is working re-deploying new stack. Will update you soon.

[2019-04-29 13:00] antonelepfl commented on #429
Could you test this again starting from [DEV](https://bbp.epfl.ch/public/dev.simulationapp/index.html#/circuits/microcircuit) Sim-UI ?

[2019-04-30 05:57] alex4200 commented on #429
So far it seems to work fine, tested on chrome and firefox.

A small issue I noticed: If you rerun the cells in the 'Fetch notebook' the results are downloaded again and the dame pathcs are added to 'result.values', which then contain double the content. But I consider this not really relevant, thus closing the ticket for now.

[2019-04-30 05:57] #429 closed, assigned to alex4200

[2019-04-30 08:38] alex4200 commented on #431
Seems to work, merged to PROD.

[2019-04-30 08:38] #431 closed, assigned to clupascu

[2019-04-30 11:57] ppodhajski commented on #375
Hi @ElisabettaGiacalone,
I am back to the office after my holidays, please try it now; there was a small permission issue

[2019-04-30 12:23] #414 closed, assigned to alex4200, antonelepfl

[2019-04-30 14:25] ElisabettaGiacalone commented on #375
Hi, I just tried on CSCS and it works now. Thanks.

I am going to test it on Marconi.

[2019-05-01 14:00] antonelepfl commented on #430
I have implemented this PUT after a job is submitted.

[2019-05-01 14:00] #430 closed, assigned to antonelepfl

[2019-05-01 15:44] antonelepfl commented on #173
Let's suppose that I was able to run a simulation reporting on `cai` is there any way to check that this report is correct? How can I know that the calcium report is different from the voltage (normal) one?

[2019-05-02 13:04] mmigliore commented on #173
If we want to compare with experimental data you should report the
intracellular Calcium concentration, not the current (which may be useful
for other things anyway). The corresponding range variable should be cai
but you need to check with Jim.
Just keep in mind that the resting cai value should be very small, around
50e-6 (mM), instead of the -75 (mV) value for the resting voltage, v.

On Wed, M

[2019-05-03 07:13] alex4200 commented on #173
The items to be fixed:

 - [ ] Report name for analysis selection (so the user knows what the report is about)
 - [x] "Trace plot from Report"
 - [ ] Image title and units

[2019-05-03 07:50] romani79 commented on #416
@mmigliore be aware that to the best of my knowledge the stimuli mentioned above refers to stimuli delivered via current injection or to additional synapses. Those additional synapses are just built-in simple exp synapses, which were used in the lack of projections.
If we decide to include only relevant stimuli and not to map exactly all the features of our simulator, I think the case I mentioned

[2019-05-03 08:07] romani79 commented on #154
To advance on this issue, we have to:
1. Use SimUI to launch a simulation with currents reported from all comportaments
2. Use another UI to calculate LFP
3. Implement whatever analyses on the LFP

Is point 1 already available? Do you need the correct setting to launch this simulation?
What about point 2?

[2019-05-03 08:10] mmigliore commented on #416
No problems. Solved.

On Fri, May 3, 2019 at 9:50 AM romani79 <notifications@github.com> wrote:

[2019-05-03 08:44] ElisabettaGiacalone commented on #375
@ppodhajski I have just tried on Marconi, but I think I have the same permission problem as before on CSCS:

[mmiglior@r000u07l02 test-31aug]$ /marconi_work/HBP_CDP2_it_0/bbp-visualisation/emsim/emsim -i /marconi_work/HBP_CDP2_it_0/hippo-mm/test-31aug/BlueConfig --target slice2 --report AllCompartmentsMembrane --voxel-size 1,1,1 --start-time 0 --end-time 300 --output=slice2 --sample-point 3740.8,2

[2019-05-05 13:56] wang122300090 commented on #213
me too! I fixed now by restart kernel.

[2019-05-06 06:32] antonelepfl commented on #154
For the **point 1** we need to have the Target **AllCompartments** on the Microcircuit (that is not the case today on the O1 20181114).
For the **point 2** wee need to create it from scratch. In here you can give your inputs about what do you have in mind.

[2019-05-06 06:34] #416 closed, assigned to romani79, antonelepfl

[2019-05-06 06:36] antonelepfl commented on #173
To keep it simple I have renamed **Voltage Trace** to **Trace plot from Report**

[2019-05-06 06:36] #173 closed

[2019-05-06 13:42] ppodhajski commented on #375
@ElisabettaGiacalone it is fixed now!

[2019-05-06 14:32] ElisabettaGiacalone commented on #375
Thanks, it works now.
We can close the issue.

[2019-05-07 08:19] lbologna opened #432 "Add folder/file check on uploaded optimization .zip file in hhnb"
## Use Case Update

Aspect | Detail
------------ | -------------
Summary | Perform a check on the files and folders contained in the optimization .zip file uploaded by the user in the hhnb workflow
Expert | @lbologna
Deadline | M18
Dependencies | None

## List of additional/changed features
This update will be quasi-transparent for the user, in that this check will be performed in the backend, onc

[2019-05-08 12:51] romani79 commented on #154
for the LFP UI, you should check with the owners to see what kind of parameters we can set.
I can give you an example of command I launch with explanation of the parameters.

`emsim -i BlueConfig --target Mosaic --report AllCompartmentsMembrane --voxel-size 1,1,1 --start-time 0 --end-time 3000 --output=central --sample-point 360.0,0.0,630.0`

**target** is the set of cells to use to compute LFP
**

[2019-05-08 13:20] romani79 commented on #154
To calculate LFP, we need specific simulations and changes in the user.target. Here what you would need.
**user.target** has to contain the following entry:
`Target Compartment LFPCompartments
{
Mosaic
}`

The **BlueConfig** should have the following block:
`Report AllCompartmentsMembrane
{
        Target LFPCompartments
        Type Summation
        ReportOn i_membrane IClamp
        Unit nA

[2019-05-08 16:32] davidcsterratt commented on #406
I've tested both notebooks. I've had a go at updating the inline documentation for the first (the simple example): https://collab.humanbrainproject.eu/#/collab/2184/nav/204920
Is that the sort of level of detail and style that you would like?

[2019-05-09 08:41] jorblancoa commented on #389
Hello @ElisabettaGiacalone @clupascu

We have deployed new modules on Jureca cluster and booster partitions with the latest software stack.
You can load the modules on the cluster as
[code]

And on the booster
[code]
Could you please try and let us know if this is working for you?
My complete job script for testing the simulation on booster is the following
[code]

If you confirm that everything w

[2019-05-09 13:44] antonelepfl commented on #369
Good afternoon Bernd, could you please reset the Nuvla TSI tunnel?

[2019-05-09 14:11] BerndSchuller commented on #369
restarted - sorry for the hassle

[2019-05-09 16:54] davidcsterratt commented on #406
I've now got a first draft of the guidebook material, in the  complex_molecular_electrical_modelling section
https://github.com/davidcsterratt/hbp-sp6-guidebook/tree/KappaNEURON
Not sure if this is the right sort of stuff, so there are still probably a good number of typos - please let me know what you think, and I can do major or minor work as required.

[2019-05-10 06:12] alex4200 commented on #406
@davidcsterratt  I compiled your branch, but I cannot find and documentation regarding 'molecular' content.

[2019-05-10 07:09] davidcsterratt commented on #406
Hmm.. the new section is here:
https://github.com/davidcsterratt/hbp-sp6-guidebook/tree/KappaNEURON/source/online_usecases/complex_molecular_electrical_modelling

(Maybe the name of the section should be different.) It seemed to compile OK for me.

[2019-05-10 07:34] alex4200 commented on #406
@davidcsterratt Now it works;  I used the wrong branch.

For me the documentation looks fine, because if contains code examples and images. However. I would suggest to put the documentation in a new section "Subcellular Level" below "Online Use Cases" at the top of the Guidebook. Then you will find the documentation in increasing scale from "Subcellular", "Trace", "Single Cell Building", "Circuit

[2019-05-10 16:55] davidcsterratt commented on #406
I've accepted your suggestions, and tweaked the text a bit more, adding links an references to the KappaNEURON page. I've also moved it to the "Subcellular level" as suggested. All committed to the master branch of: https://github.com/davidcsterratt/hbp-sp6-guidebook

[2019-05-13 06:45] antonelepfl commented on #369
Morning Bernd, this error I'm not sure if it's related to you or SixsQ but I get `Could not submit job: java.lang.IllegalThreadStateException (no further message available)` could you please have a look when you have time?

[2019-05-13 10:54] alex4200 commented on #344
@lbologna Create a mockup of the expected user interface.

[2019-05-13 11:43] lbologna opened #433 "Update .abf validity check with lastest version of neo"
### Expected behavior
The user is able to upload one or more .abf file/s in the feature extraction web app.

### Actual Behavior (please include screenshot if possible)
On the TEST platform: the user is not able to upload the .abf file

### Steps to reproduce the problem
On the TEST platform: Upload a .abf file in the feature extraction web app

### Optional infrastructural data (user, platform, b

[2019-05-13 11:45] lbologna opened #434 "Unable to access prod backend at bbpp17.bbp.epfl.ch domain"
### Expected behavior
@lbologna is able to access the vm at epfl

### Actual Behavior (please include screenshot if possible)
Unable to login

The vpn is working but the vm is not accessible

@lbologna is in contact with the support to solve the issue.

[2019-05-13 11:55] ElisabettaGiacalone commented on #389
Hi, @jorblancoa , I'm testing bluepy use with a script to do analysis on the circuit.
 I get this error after import in a python shell:

from bluepy.api import Simulation, Circuit
from bluepy.v2.enums import Cell, Synapse

ImportError                               Traceback (most recent call last)
<ipython-input-1-826c14c79dd9> in <module>()
      5
      6 from bluepy.api import Simulation, Circu

[2019-05-13 12:39] jorblancoa commented on #389
Hi @ElisabettaGiacalone,

Yes, your script uses pandas at some point, so installing it should fix the problem.

You would need to load the Python module to be able to use pip:
[code]

[2019-05-13 13:57] clupascu commented on #389
Hi @jorblancoa,

when I run your job script for testing the simulation on booster I get this error in the output

Error: Could not open BlueConfig file 'BlueConfig'

[2019-05-13 14:12] pramodk commented on #389
@clupascu : As error says, you need to run that in the directory with one of your BlueConfig. The job script is an example of what paths you need to set and modules you need to load for running simulation.

[2019-05-13 14:26] ElisabettaGiacalone commented on #389
Ok, 'pandas' problem solved.

Now I can import bluepy but I cannot use any function, for example, when I try to get a single Gid from the circuit:

Illegal instruction

And the python shell crashes.

[2019-05-13 14:47] jorblancoa commented on #389
@ElisabettaGiacalone : Could you share your python script to see if I can reproduce the issue?

[2019-05-13 15:29] pramodk commented on #389
One thing I would like to mention : if you are using booster modules, the python script itself should run on the booster i.e. KNL. (note that the architecture of login node and booster node is different).

So make sure to run via srun for booster.

If you want to test stuff on login node directly via Python, use  cluster modules.

[2019-05-14 06:03] alex4200 commented on #406
@davidcsterratt Thanks for the changes.

However, I have seen two items that needs correction:
1. The link to the "KappaNEURON use case"  must be updated once the use case is in Production.
2. The third reference does not render correctly in the page; but maybe this will be fine in the final guidebook:

![Screen Shot 2019-05-14 at 08 02 25](https://user-images.githubusercontent.com/12729291/576741

[2019-05-14 08:44] davidcsterratt commented on #406
Thank-you - I should have mentioned that I know about both (1) and (2).

If you know what the link will be I can fix (1).

Re (2), I noticed that problem, and tried (and failed) to understand why it was happening, trying out various fixes (e.g. changing the length of the key). Nothing seemed to work. If we could see how it looks in production, that would be great.

Subject to the above, should I m

[2019-05-14 08:46] alex4200 commented on #406
@davidcsterratt Please do so. And make sure that the notebook is put into the DEV version of the Brain Simulation Platform. See the instructions I sent earlier (https://github.com/antonelepfl/usecases/blob/dev/documentation/add_new_usecase.md)

[2019-05-14 10:00] davidcsterratt commented on #406
I'm a bit uncertain about the files - should I refer to the files (Python notebook, Kappa and Mod files) in the *existing* collab? That's  all I can do at the moment, but I though that the notebook was being transferred to a new collab.

[2019-05-14 10:17] alex4200 commented on #406
@davidcsterratt No, the notebook is not transferred to a new Collab. Your existing notebook will be the DEV notebook.
When the tests are done on that notebook then a COPY of that notebook will be pushed into gitlab.

When a user selects your notebook on the PRODUCTION Brain Simulation Platform, then a COPY of the github instance will be copied in the user's Collab.

When a user selects your notebo

[2019-05-14 13:57] alex4200 commented on #406
@davidcsterratt  Please see the updated section in the usecase dochttps://docs.google.com/document/d/19Ni5fGFv6PTTM1D_D2FN4dj5IRhtfq1D0V2OWjXxJww/edit#heading=h.6a7rekxipfkz
I created a graph to make it more visible what is going on.

[2019-05-14 16:17] davidcsterratt commented on #406
I've not managed to get permission to see those changes, but I've made pull requests both for the usecases and the guidebook. I'm almost certain tweaks will be needed...

[2019-05-15 09:20] ElisabettaGiacalone commented on #389
Hi, as @pramodk  suggested, using cluster modules, I don't get the same error and crashing of the python shell. However, now I can use "Simulation" object functions, but I cannot use "Circuit" functions. For example, when I execute only these lines in a python shell, I get this:

No handlers could be found for logger "bluepy_configfile.configfile"

Traceback (most recent call last):
  File "<stdin

[2019-05-15 09:22] ElisabettaGiacalone commented on #389
@jorblancoa this is the python script to reproduce problem:

from bluepy.api import Simulation, Circuit
from bluepy.v2.enums import Cell, Synapse

sim = Simulation('/p/home/jusers/giacalone1/jureca/test-190219/BlueConfig')
gids=sim.v2.circuit.cells.ids(sample=10)

circuit_path = '/p/project/cpcp0/pcp0068/CircuitRelease/r2017.06b/CircuitConfig'
circuit = Circuit(circuit_path)

syn=circuit.v2.connec

[2019-05-15 11:03] alex4200 commented on #419
Tested and seems to work

[2019-05-15 11:03] #419 closed, assigned to alex4200

[2019-05-16 09:11] lbologna commented on #406
@alex4200, @davidcsterratt : I updated the "dev" guidebook with the new content and everything worked well at the compilation level. Here's the link:
https://lbologna.github.io/hbp-sp6-guidebook/online_usecases/subcellular_level/subcellular_level.html
Could you please check if everything is fine?

@davidcsterratt I put the introduction inside the KappaNeuron page, given that it is KappaNeuron spec

[2019-05-16 12:09] SteMasoli opened #435 "Extended sectionlists in BluePyOpt"
## New Use Case

Aspect | Detail
------------ | -------------
Summary | Example on how to setup a custom axon with non standard sectionlists in BluePyOpt.
Usecase Group | Tutorial and Single cell simulation.
Expert | Stefano Masoli
Scientific User |
Deadline | Second week of July (fourth is ok too)
Target audience | Users of BluePyOpt optimizer
Target interface |
HPC Requirements | No
Dependencies

[2019-05-16 12:21] SteMasoli opened #436 "Cerebellar granule cell (2019) validation workflow"
## New Use Case

Aspect | Detail
------------ | -------------
Summary | Workflow to validate the multicompartmental granule cell model (2019)
Usecase Group | "Single cell " or something else
Expert | Stefano Masoli
Scientific User | all
Deadline | Work expected in mid November 2019 (as of 14.10.2019)
Target audience | Users of Bluepyopt
Target interface |
HPC Requirements | No
Dependencies | Neuro

[2019-05-17 06:48] alex4200 commented on #373
@pabloserna Can you please provide an update for this issue?

[2019-05-17 09:27] lbologna commented on #334
That's done (in the main issue description).

[2019-05-17 11:01] apdavison commented on #334
Are you aware that we are developing in SP5 a Python library for querying and fetching data from the KG? I suggest we have a video meeting to discuss the requirements.

[2019-05-17 12:46] lbologna commented on #334
@apdavison no, I was not aware you were on it. Yes, for sure a call would be very useful. What about Thursday (23 May) or Friday (24 May) any time before 13? Thanks

[2019-05-20 09:29] apdavison commented on #334
How about Friday 24th at 12 noon?

[2019-05-20 10:09] lbologna commented on #334
Fine with us! Thanks.

[2019-05-20 12:40] antonelepfl commented on #154
@romani79 Can you provide me the scripts to run the Spectrum and the Traces analysis?

[2019-05-22 09:06] pramodk commented on #389
@ElisabettaGiacalone : the error is :

[code]

This is not related to software deployment. The path above is pointing to BBP system :

[code]

These paths must be changed. Could you check with the team who copied the circuit?

[2019-05-24 12:11] clupascu opened #437 "Hippocampus models container"
## Details description of the task
We moved all the optimized models (including all the releases) from the github repository to the following container

https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/hippocampus_optimization/

## Description of how to test it

Test/change model catalog, validation use cases, single cell building use cases and hippocampus models available for the u

[2019-05-26 10:20] SteMasoli commented on #330
Hi.
There is something wrong with BlueNaaS. @genric

1) It is very slow to load the models, both from cerebellum and hippocampus. @alex4200
It get stuck after a while, before showing the morphology and the topology.
Is happening with Firefox under linux and win 7 (me) and Chrome on win 10 @rizland .

2) I was uploading a new series of models and they got stuck in a loop.
Locally the code run fine,

[2019-05-27 09:07] lbologna commented on #434
Problem solved. Closing the ticket.

[2019-05-27 09:07] #434 closed, assigned to lbologna

[2019-05-27 09:17] lbologna commented on #433
Bug fixed.
Moving to production by the end of the week (May 31st)

[2019-05-27 09:50] Hjorthmedh commented on #378
Working on synaptic dynamics for cortical and thalamic input to striatum.

We are now also writing on a manuscript.

[2019-05-27 11:18] alex4200 commented on #330
@SteMasoli I also see problems with the BlueNaaS. I created a ticket.

[2019-05-28 14:55] appukuttan-shailesh commented on #437
@clupascu : Could you describe what restructuring was done to the folders. I tested a few random entries and found that their CSCS paths were still accurate. Could you give me examples of Model catalog entries that have incorrect URLs now?

[2019-05-29 08:51] alex4200 opened #438 "Detecting interaction sites by docking arbitrary proteins"
Aspect | Detail
------------ | -------------
Summary | Web Server to detect and visualize interaction site at protein surface
Usecase Group | Molecular Level
Expert | Guillaume Launay
Scientific User | Structural biologist and Biochemist
Deadline |
Target audience | Number of concurrent users unclear.
Target interface | Web Application
HPC Requirements | A Linux cluster running SLURM.
Dependencies

[2019-05-29 08:53] clupascu commented on #437
@appukuttan-shailesh I took a look at the model catalog. It seems that now there are two type of models: the ones used by bluepymm (collab id 8123) and the initial ones (collab id 9821). Let's talk for now about the ones related to collab id 9821.

In the container all the releases from the github repository are now in the folder rat/CA1. The latest one is v.4.0.4. For example the models from this

[2019-05-29 09:19] alex4200 commented on #344
see also https://gitlab.humanbrainproject.org/joint_infrastructure_coordination/Coordination/issues/80

[2019-05-29 09:22] appukuttan-shailesh commented on #437
Yes, these are to be registered on the model catalog. I shall send you the script for doing this, so that it could be included as part of your workflow for future releases.

The name of the model (let's take the example model) is "CA1_int_cNAC_990111HP2_20180118155424". The name "1.0" is currently just used to indicate the version/iteration of the developed model. This versioning isn't linked to G

[2019-05-29 12:26] appukuttan-shailesh commented on #437
The URLs for the live paper models have been updated. The models and morphologies, both now point to the `Migliore_2018_CA1` container. @clupascu: Do verify and let me know if any changes required.

The script for registering models on the Model Catalog (customized for your workflow) can be found in the Jupyter notebook inside the Collab:
https://collab.humanbrainproject.eu/#/collab/8123/nav/37360

[2019-05-29 13:22] clupascu commented on #437
@appukuttan-shailesh Regarding the second known issue, I noticed that in the live paper container we unzipped all the zip files corresponding to each model. If we unzip this will solve also the morphology viewer problem? It will be enough to display the morphology directly from the morphology folder of each model? Or for each version should I create a morphology folder with all the morphologies us

[2019-05-29 13:34] appukuttan-shailesh commented on #437
I prefer having the morphology files within the model directory (rather than a separate morphology directory for all models combined). Yes, the problem would be resolved if you unzip all the models like we did for the live paper. This might be duplication of a lot of files (zipped and unzipped for each model), so ideally just keeping the morphology file (.asc) at the same level as the image files

[2019-05-29 13:37] clupascu commented on #437
Now I am trying to filter again the models in the model catalog using HBP-SP6 organization and I would like to select collab id 9821, but 9821 is not anymore in the list of the collab ids... Is the same for you?

[2019-05-29 13:38] clupascu commented on #437
When unzipping I wanted to solve also the config/morph.json issue...

[2019-05-29 13:39] appukuttan-shailesh commented on #437
I noticed recently that the drop-down box doesn't have all the right options........ but you can overcome this by using the search bar and entering "9821"..... (it is a generic search across all filter fields)

[2019-05-29 13:42] appukuttan-shailesh commented on #437
I understand. I should point out that this file isn't too important with regards to registering on the model catalog. The parameters field basically had info such as:
`{"CA1_PC_cAC_sig": "oh140807_A0_idJ.asc"}`
which I believe isn't very important to see on the model catalog entry. Hence we could avoid having the "morph.json" file if required. I will let you choose.

[2019-05-29 13:49] clupascu commented on #437
I noticed that some of the models from the live paper container are missing from the model catalog. For example CA1_int_bAC_060314AM2_20180120154128 and other 3. Can you check this too?

[2019-05-29 13:51] appukuttan-shailesh commented on #437
They all exist, I believe. E.g.
CA1_int_bAC_060314AM2_20180120154128:
https://collab.humanbrainproject.eu/#/collab/1655/nav/75901?state=model.2d809d28-1f94-4ef6-acfc-083644afdcbf

You can follow the model catalog links in the "Optimizations" tab of the live paper:
https://humanbrainproject.github.io/hbp-bsp-live-papers/2018/migliore_et_al_2018/migliore_et_al_2018.html

[2019-05-29 13:55] clupascu commented on #437
When I searched "9821" I got only 43 models. I do not see 4 of the 47 models from the live paper container. CA1_int_bAC_060314AM2_20180120154128 is one of the 4 models I do not see. I do not understand why...

[2019-05-29 13:56] clupascu commented on #437
I agree. The parameters field it doesn't seem so useful on the model catalog entry.

[2019-05-29 14:00] appukuttan-shailesh commented on #437
I find this on the third page of the search results:
![image](https://user-images.githubusercontent.com/24866517/58563063-bb0dec80-822a-11e9-8224-7ec725f02bb1.png)

[2019-05-29 14:08] clupascu commented on #437
![immagine](https://user-images.githubusercontent.com/22050958/58563392-530bd600-822b-11e9-82de-74d11a5dd2e8.png)
![immagine](https://user-images.githubusercontent.com/22050958/58563415-5c953e00-822b-11e9-998e-127811209027.png)
![immagine](https://user-images.githubusercontent.com/22050958/58563424-6159f200-822b-11e9-8b7f-3cd91d25fafe.png)
![immagine](https://user-images.githubusercontent.com/2205

[2019-05-29 14:09] appukuttan-shailesh commented on #437
try searching by that specific model name......

[2019-05-29 14:11] clupascu commented on #437
When I search by that specific model name I get only the emodel from 8123 collab

![immagine](https://user-images.githubusercontent.com/22050958/58563967-5c497280-822c-11e9-9aa8-eef2b65c5814.png)

[2019-05-29 14:21] appukuttan-shailesh commented on #437
I am not sure what the problem is..... I would suggest checking using a different browser and/or private/incognito mode.... just to be sure it isn't caching issues.

That aside, I would suggest lets also move onto fixing the other issues and revisit this? E.g. morphology, and BlueNaaS?

p.s. Users can always access the live paper model catalog entries by accessing the links from the live paper.

[2019-05-30 06:05] clupascu commented on #437
For version v.4.0.4 the morphology file (.asc) are now at the same level too as the image files. @appukuttan-shailesh Can you please test if it is possible now to launch these in the morphology viewer?

[2019-05-30 12:12] appukuttan-shailesh commented on #437
@clupascu : I updated the sample model entry I had created (https://collab.humanbrainproject.eu/#/collab/8123/nav/68489?state=model.cf8d9d9f-8baf-4710-a9f1-04a77dea3860) with the morphology URL now available. I tested that the morphology viewer works fine now.

You can now run the script (Jupyter notebook shared above) for registering all the new models. This could be included as part of your work

[2019-05-30 12:15] clupascu commented on #437
p.s. The BlueNaaS problem persists.

I took a look at the BlueNaaS problem but I have no idea where is it coming from...

[2019-05-30 12:17] appukuttan-shailesh commented on #437
@genric could you take a look and help @clupascu debug this?

[2019-05-31 14:09] antonelepfl opened #439 "Unicore access denied while sbatch works"
Hi @BerndSchuller
We are updating our module stack to some new version on Jureca and for instance if I enter into Jureca and run **sbatch** everything works fine but when I try to do the same thing with Unicore API, the result of Unicore is an error

[code]

Which is not totally true because I'm able to run `ls` to that directory and it has executable access too.

You could find the job with the l

[2019-06-02 07:57] SteMasoli commented on #437
Hi.
Just passing by to say that BlueNaaS is still stuck for me too.

[2019-06-03 06:58] BerndSchuller commented on #439
There are no extra permissions apart from the user id and group (antonel1 / cvsk25). Server logs look fine (I can't access files on the file system)

Does the same error happen when you login (as antonel1) and run the sbatch on the UNICORE-generated slurm file?

cd /p/scratch/cvsk25/unicore-jobs/364cfef9-2d4a-40bd-b42c-af8213a1b1e4
sbatch bss_submit_*

NOTE the stdout/stderr in  /p/scratch/cvsk25/

[2019-06-03 08:32] clupascu commented on #437
@appukuttan-shailesh I registered the models in the model catalog. Please check if everything is ok. I followed the steps you suggested, even if this step "Verify the metadata in the initial cells" was not so clear... What metadata should I verify in the initial cells? Do you mean the version_label update?

[2019-06-03 09:17] alex4200 commented on #433
Tested successfully

[2019-06-03 09:17] #433 closed, assigned to lbologna

[2019-06-03 09:39] appukuttan-shailesh commented on #437
@clupascu : Could you provide me access to the Collab 12027 so that I can verify the new entries?

By the metadata, I was intending this part:
[code]
(apologies... by the time I completed the script, this cell was no longer amongst the initial cells, and I should have pointed to it more clearly)

[2019-06-03 09:59] appukuttan-shailesh commented on #437
Except for BlueNaaS functionality, everything else seems proper for these 39 new entries.

[2019-06-03 10:06] clupascu commented on #437
@appukuttan-shailesh I provided access to @shailesh to the collab. You have 3 accounts on the collab, I don't know if I provided access to the right account. Please let me know.
About the metadata, I am wondering if you can take the author, brain_region and species values from the _meta.json file contained in each model folder in order to make it more automatic and also because the author sometime

[2019-06-03 10:09] antonelepfl commented on #439
Hi @BerndSchuller When I run sbatch to the bss_submit_ I get the same access denied.
Do you have any other idea of what could it be?

[2019-06-03 10:59] BerndSchuller commented on #439
Not sure I understand what the real error is. What do you do in the case when things are working? Possible differences are in the "input.sh" script that you run, or in the sbatch parameters (nodes, selected queue...)
Could you attach stdout/stderr or send them to me in a zip file?

[2019-06-03 11:08] appukuttan-shailesh commented on #437
@clupascu You have added the correct account.

We certainly can make use of the "_meta.json" file. You would have noticed that we already save all the contents of this file to fill the model description field. I have now updated the Jupyter notebook to take the author from this file ("contributors" param).

With regards to `brain_region` and `species`, is it necessary to extract data from this fil

[2019-06-03 11:57] clupascu commented on #437
Ok. We will stick to the KG terminology then. We will have "hippocampus" only and "mouse" and "rat" species.

[2019-06-03 12:32] appukuttan-shailesh commented on #437
I have updated the notebook to assign proper KG species terminology based on your input of "mouse" or "rat". Also, the models have been updated to correctly reflect the author info as per their "_meta.json" files.

[2019-06-05 13:37] jdcourcol commented on #437
@appukuttan-shailesh  just to let you know that @genric  will not look into that before June 9th as he is out of the office.

[2019-06-06 06:19] antonelepfl opened #440 "500 Server error Jureca"
Hi @BerndSchuller ,

Jureca was down yesterday but today I am able to connect to it, however when I try to launch a job with Unicore I get:
[code]
Could it be that you need to restart something because the maintenance?
Thank you Bernd

[2019-06-06 06:41] BerndSchuller commented on #440
There still are problems with JURECA, no idea what exactly is going on, but filesystem operations on the GPFS mounts are super slow. Not much I can do about that, I hope the systems guys fix it as they usually do :-)
The ANONYMOUS stuff however is weird, since the authentication systems appear to be working. If you check the /rest/core endpoint you should see your usua user ID and project.

[2019-06-06 06:47] antonelepfl commented on #440
Apparently is slowly being recovered. Thanks for the update and yes I confirm that /rest/core gives the correct information.

[2019-06-06 06:47] #440 closed, assigned to nobody

[2019-06-06 09:26] antonelepfl commented on #439
The new deployment changed some paths so I fixed that.
Thanks for the help @BerndSchuller

[2019-06-06 09:26] #439 closed, assigned to nobody

[2019-06-09 08:29] SteMasoli commented on #330
Hi.
The models are working fine with Firefox V67.0 under Linux and not with Firefox V67.0.1 under win7. @genric  @alex4200

Instead the models i need to upload remain stuck in an endless "loading loop". At which email can i send one model to be checked?

[2019-06-12 08:26] genric commented on #330
@SteMasoli based on our email exchange I'm assuming it worked for you and I'm closing this. Feel free to reopen it if there are problems remaining. Thanks!

[2019-06-12 13:19] clupascu opened #441 "Neuron dlopen failed in a jupyter notebook because of new Neuron version"
### Expected behavior
Mechanisms are correctly loaded within neuron 7.4 and the possibility to switch from neuron
7.4 to neuron 7.6  is still available.

### Actual Behavior (please include screenshot if possible)

it seems that the symbolic links solution for switching from neuron
7.4 to neuron 7.6 creates a problem when loading mechanisms in
neuron.

I get this error

[code]

It seems that this

[2019-06-13 11:53] alex4200 opened #442 "Models inconsistent with BlueNaaS convention"
### Expected behavior

Models from the model catalog need to follow the convention for BlueNaaS regarding the content of the zip file:

![Selection_722](https://user-images.githubusercontent.com/12729291/59430246-0f47cd80-8de2-11e9-9beb-b85fc1ad6733.png)

### Actual Behavior (please include screenshot if possible)
For example, [here](https://collab.humanbrainproject.eu/#/collab/1655/nav/75901?stat

[2019-06-14 07:58] apdavison commented on #425
Due to pressure from reviewers to make models available through Knowledge Graph search, we changed the order of work items, and have performed a migration of model catalog data to the production KG.
This has delayed testing of the reimplementation of the REST API, which is now ongoing. New deadline for full deployment to production end of June 2019.

[2019-06-18 08:42] alex4200 opened #443 "No images for cerebellum models in the platform"
### Expected behavior

When selecting a cerebellum/purkinje model I expect to see an image of the responses and the morphology.

### Actual Behavior (please include screenshot if possible)

No image is provided for the following three models:

- Purkinje cell - Multi compartmental
- Granule cell - Multi compartmental
- Granule cell - Mono compartmental

![Selection_725](https://user-images.githubu

[2019-06-18 10:57] SteMasoli commented on #443
Hi.
Some weeks ago, i have added the missing images directly into the model catalog entries.
Is there something else to do to have them in the BSP?

Purkinje
https://collab.humanbrainproject.eu/#/collab/19/nav/369318?state=model.d3a1a6f7-d4c6-4e4a-b1d8-76e470f20862

Multi GrC
https://collab.humanbrainproject.eu/#/collab/19/nav/369318?state=model.0c97cd83-24fd-4782-bdea-2affacc6863e

Mono GrC
https

[2019-06-18 11:04] appukuttan-shailesh commented on #443
@SteMasoli : the issue arises because BSP tools require the model entries to have images with captions (names) as 'Morphology' and 'Responses` as discussed [here](https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/360).

Example: https://collab.humanbrainproject.eu/#/collab/19/nav/369318?state=model.579cf0d8-62d0-49a1-891d-d16dbc06146a

[2019-06-18 12:14] clupascu commented on #437
@genric you had some time to look into this issue?

    Model not loading properly under BlueNaaS, example:
    https://collab.humanbrainproject.eu/#/collab/8123/nav/68489?state=model.cf8d9d9f-8baf-4710-a9f1-04a77dea3860

    Error:
    NEURON: Model loading failed
    local variable 'index' referenced before assignment

[2019-06-18 12:43] antonelepfl opened #444 "Implement CPUsPerNode in Jureca & Jureca Booster"
Hi @BerndSchuller , I would like to pass the number of **CPUsPerNode** so it's translated to `#SBATCH --ntasks-per-node=...` in the **bss_submit_..** Piz-daint have already implemented this functionality.

Currently I get:
[code]

[2019-06-18 12:51] clupascu commented on #444
I already use this on Jureca. I use 24 CPUsPerNode. Maybe 68 is out of range. I think 24 is the maximum you can use, but I am not sure.

[2019-06-18 12:51] BerndSchuller commented on #444
the CPUsPerNode is translated to --tasks-per-node but there is a valid range of 0-48 (corresponding to the actual cpus per node)

[2019-06-18 12:52] BerndSchuller commented on #444
you can see the valid resource ranges with a GET to the /rest/core/factories/default_target_system_factory endpoint

[2019-06-18 13:02] antonelepfl commented on #444
Ok with 48 works.
1) Thanks for that endpoint Bernd
2) CPUsPerNode get's translated to --**n**tasks-per-node .

[2019-06-18 13:04] antonelepfl commented on #444
3) In the past I was using up to 68 tasks per node in Jureca booster when I launch the srun command
[code]
and I get that number of process for running the job (stdout)
```numprocs=680```

And that works.

In the bss_submit
[code]

So I'm a bit confused.
If we are able to use 68 and we are using only 48 we are 'wasting' resources right?

You can see that old job in `/p/scratch/cvsk25/unicore-jobs/

[2019-06-18 13:15] BerndSchuller commented on #444
True, the current resource handling mechanism is not well suited to heterogenous systems like jureca (with 48 cores per node) / jureca-booster (68 cores per node) This will improve with the next major release of UNICORE. As a workaround for now we can increase the limit to 68 (booster).

[2019-06-18 13:17] genric commented on #437
@clupascu I've updated the BlueNaaS error message to be more clear and @alex4200 registered the new issue: #442

[2019-06-18 13:26] clupascu commented on #442
@genric when opening the model in BlueNaaS the "best_cell" key and value from the _meta.json can be used in order to select the hoc file to be loaded from the checkpoints folder? The two or more cells in the checkpoints folder are unfortunately necessary.

[2019-06-18 13:33] antonelepfl commented on #444
If you prefer I can use 48 for the time being but then please let us know status about the new release to put it back to 68 for booster.

[2019-06-18 13:34] genric commented on #442
@clupascu I don't think _meta.json is included in the zip file. Even if it would be there then I'll have to introduce new convention for the best cell lookup for the CSCS container based models. An easy solution would be just to copy whatever best cell hoc file into `cell.hoc`. Let me know what you think.

[2019-06-18 13:41] clupascu commented on #442
@genric ok. I will keep the two hoc files and add a new cell.hoc that will be a copy of one of the two hoc files.

[2019-06-18 13:43] BerndSchuller commented on #444
the limit is now set to 68

[2019-06-18 14:30] antonelepfl commented on #444
Ok thank you. I would suggest to keep this issue open until the new version is deployed.
What do you think guys?

[2019-06-18 14:38] BerndSchuller commented on #444
I'd close it, since the problem at hand is solved.

[2019-06-18 15:19] clupascu commented on #442
Now it works. @alex4200 can you please test and close the issue? Thanks.

[2019-06-18 15:24] clupascu commented on #437
@appukuttan-shailesh I updated the models and registered them using the script. The new version label is "v4.0.5". I would like to remove from the model catalog though the models with the version label "v.4.0.4". How should I do this?

[2019-06-19 08:29] SteMasoli commented on #330
Hi.
I'm sorry to have to reopen this issue. @genric
I have uploaded my last model and, after four trials, it cannot be simulated for more than 1750-1780ms.
After this threshold, the top right part of the pages reports "Disconnected. Please reload the page to reconnect".
The model temporary location:
https://blue-naas.humanbrainproject.eu/#/model/SM_GrC2019_accellerating

Best

[2019-06-19 11:03] alex4200 commented on #442
Thanks; yes the models seem to work now.

[2019-06-19 11:03] #442 closed, assigned to lbologna

[2019-06-19 13:50] romani79 opened #445 "Add disclaimers for the use of the current hippocampus circuit"
Michele Migliore mentioned it should be clear to the user that the current version of the hippocampus model is there only for demo purposes and it should not be used to produce scientific results. Michele suggested to add some disclaimers before the users access the model.

[2019-06-20 04:17] antonelepfl commented on #445
A really easy way to fix that is add some lines in the current [Terms & Conditions](https://github.com/antonelepfl/usecases/blob/dev/src/assets/config_files/terms_and_conditions.md) that we show for the use cases. We can put something generic for all the models that are available on the BSP.

[2019-06-20 04:40] mmigliore commented on #445
No, BSP models in general are supposed to be coming from publications!
They can (and we would like them to) be used for scientific purposes.
This message instead applies only for the models that are not yet (or will
not be) published.

On Thu, Jun 20, 2019 at 6:17 AM Stefano Antonel <notifications@github.com>
wrote:

[2019-06-20 05:45] antonelepfl commented on #445
And if we add in the description of the [Brain Area - Hippocampus](https://collab.humanbrainproject.eu/#/collab/1655/nav/66856) that "this models are for demo ..." until we release the new version and we remove that description?
Or we can add another 'pill' on the right of that use case that says 'demo' and when hover an explanation of it.

[2019-06-20 06:39] mmigliore commented on #445
Better. Could you try something?

Il gio 20 giu 2019, 07:45 Stefano Antonel <notifications@github.com> ha
scritto:

[2019-06-20 07:56] antonelepfl commented on #444
Ok thank you

[2019-06-20 07:56] #444 closed, assigned to antonelepfl

[2019-06-20 11:49] genric commented on #330
@SteMasoli no problem. I'll have a look...

[2019-06-21 09:45] appukuttan-shailesh commented on #437
@clupascu : The models with v.4.0.4 have now been deleted. Do verify and let me know if any issues.

[2019-06-21 11:46] stefanoantonel opened #446 "Unicore status don't reflects what UNICORE_SCRIPT_EXIT_CODE says"
I noticed that when I start a Job on PizDaint or Jureca through unicore, and this job fails, I still get a status "SUCCESSFUL" for that job (when I do a GET on the Job).

For example, in Jureca in folder:
`/p/scratch/cvsk25/unicore-jobs/892c0da9-62ff-495d-a0a0-360e1149b827` I started the job (as defined in input.sh), which did fail (see stderr and UNICORE_SCRIPT_EXIT_CODE). I would expect that a G

[2019-06-21 12:03] stefanoantonel commented on #445
So I have just dome some quick tests just to get an idea of what I was thinking.
So basically we will add a new icon and when the user hover a tooltip will appear (as we have for the maturity level and the experience)
Let me know what do you think and if there is an option that you like:
<img width="930" alt="Screenshot 2019-06-21 at 14 02 02" src="https://user-images.githubusercontent.com/4954312

[2019-06-21 12:21] alex4200 commented on #445
I am in favor for the first option because it contains an exclamation mark. But maybe the text can be extended to "! DEMO MODEL" or "! DEMO CIRCUIT" so it is clear what the demo refers to.

[2019-06-21 12:26] stefanoantonel commented on #445
Remember that when you hover a more descriptive information will appear

[2019-06-21 12:26] jdcourcol commented on #445
I tend to agree with Alex. May be "Warning: model is work in progress"

[2019-06-21 12:31] BerndSchuller commented on #446
UNICORE-wise the job was executed successfully - you need to check the exit code (GET on the job) to check the application-level status.

[2019-06-21 12:31] #446 closed, assigned to BerndSchuller

[2019-06-21 12:43] mmigliore commented on #445
I agree, with DEMO FULL CIRCUIT
and a bigger triangle

Il ven 21 giu 2019, 14:21 alex4200 <notifications@github.com> ha scritto:

[2019-06-21 13:15] BerndSchuller commented on #446
after thinking some more on this I think this behaviour should be changed for the next major release (UNICORE 8), since the "non-zero means failure" convention is almost universally accepted.
https://sourceforge.net/p/unicore/issues/249

[2019-06-21 13:22] stefanoantonel commented on #446
Yes I think it would be more useful. Thank you Bernd

[2019-06-21 13:45] adamhospital commented on #408
We have been in contact with the HBP support regarding the possibility to connect our jupyter notebooks with HPC centers. Dr. Bernd Schuller from Jülich sent us some examples on how to do it, and it looks promising. We will work on that and present what we found in the next technical meeting.

[2019-06-21 14:41] genric commented on #330
@SteMasoli the simulation with the variable time step is quite slow for this model, so apparently it was reaching connection timeout before completing the simulation. I fixed now how timeouts are handled, so you should be able to run the simulation to completion.

[2019-06-23 20:59] lbologna commented on #344
Here's a first mock-up of the frontend panel.
The top panel is general for all the hpc systems, while the bottom panel  opens when  a system is selected (in the mock-up, pizdaint) and displays user's specific details.
The first html version is being finalized.
Comments/suggestions?
Thanks

<img width="600" alt="mockup_HPC_system_monitor" src="https://user-images.githubusercontent.com/9949990/59981

[2019-06-24 05:01] mmigliore commented on #344
In general it looks ok.
Once we have a first real case implemented I will have more comments on the
bottom panel.
-M

On Sun, Jun 23, 2019 at 10:59 PM lbologna <notifications@github.com> wrote:

[2019-06-24 07:57] clupascu commented on #437
@appukuttan-shailesh ok. thanks. it seems ok. How should I do in the future to delete myself older versions? I can do it myself?

[2019-06-24 08:19] apdavison commented on #334
Update: the NAR ("Neural Activity Resource") library has now been released under the name "fairgraph" - https://github.com/HumanBrainProject/fairgraph (also available with `pip install fairgraph`). This can be used to retrieve models and data from the KG - see tutorial notebook at https://collab.humanbrainproject.eu/#/collab/1635/nav/380436

[2019-06-24 08:25] clupascu commented on #408
@adamhospital of course you can count also on my help as I already have some experience on connecting jupyter notebooks with HPC centers. Please contact me if you need help.

[2019-06-24 08:28] apdavison commented on #425
Update:
- re-implementation of REST API using KG backend is now deployed to a test server at https://validation-dev.humanbrainproject.eu
- All the unit tests of the VF Python client pass with this new server
- There are still a few bugs to make the Model Catalog app work with the new server
- All models already migrated to KG
- Definitive migration of validation tests and results to KG planned for

[2019-06-24 09:32] appukuttan-shailesh commented on #425
Knowledge Graph Search
https://collab.humanbrainproject.eu/#/collab/47/nav/86751

[2019-06-24 09:44] appukuttan-shailesh commented on #437
As things are setup currently, the users are not permitted to delete data and they are required to contact us for this.

But in this particular scenario, what we could have done is to edit the existing entries to replace v.4.0.4 with v4.0.5. Editing of entries can be done by model owners and collaborators.

[2019-06-24 09:47] antonelepfl commented on #154
I need emsim deployed in Julich to continue testing this [internal ticket](https://bbpteam.epfl.ch/project/issues/browse/VIZTM-848)

[2019-06-24 09:47] SteMasoli commented on #330
Tested it, everything fine.
Thank you

[2019-06-24 09:47] #330 closed

[2019-06-24 09:58] appukuttan-shailesh commented on #425
@clupascu :
Existing REST API: https://hbp-validation-framework-api.readthedocs.io
Python Client: https://hbp-validation-client.readthedocs.io

[2019-06-24 10:06] clupascu commented on #154
this is already done. Take a look here https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/375

[2019-06-24 10:09] clupascu commented on #437
So when I edit existing entries, I can edit anything from the entry: version, download location and so on...?

[2019-06-24 10:55] antonelepfl commented on #445
I have deployed this in the [DEV BSP](https://collab.humanbrainproject.eu/#/collab/8444/nav/65637)

[2019-06-24 11:01] appukuttan-shailesh commented on #437
You can as long as no validation test results have been registered for those model instances on the validation framework. Once a test result has been registered then it would be unsafe to allow changing the model instance info. In our case, this wasn't an issue as no test results had been registered for them till now.

[2019-06-24 11:02] alex4200 commented on #425
@appukuttan-shailesh

When I use the Knowledge Graph Search and I search for the keyword 'cerebellum' I find 5 models. When I then click on `Data download: download all related data as ZIP` a new tab opens with an error
`Oops, an error occurred
This exception has been logged with id 7ca9efhig`.

Also, when I open a different model (e.g. search for 'hippocampus') I do not see a download link, but a

[2019-06-24 11:11] appukuttan-shailesh commented on #425
@alex4200 : I won't be the right person to answer KG related queries (at least, not yet :p). Maybe better to redirect these to @apdavison for the time being.

Regarding the "Go to the data" bit.... this must be because the model owner decided to provide a URL to Github repository containing the model (instead of a directly downloadable file URL) and your are therefore being redirected to this repo

[2019-06-24 11:29] SteMasoli commented on #443
I have reuploaded the images, for the three models, with the required captions.
https://collab.humanbrainproject.eu/#/collab/19/nav/369318?state=model.d3a1a6f7-d4c6-4e4a-b1d8-76e470f20862

In the "Single Cell In Silico Experiments" are not yet visible.

[2019-06-24 11:34] apdavison commented on #425
@alex4200 we should perhaps move this discussion to a new ticket, since your question is about the KG Search and not about the Model Validation app.

The "download as ZIP" error is indeed a bug, thanks for alerting us to this. @appukuttan-shailesh is correct that the "Go to the data" link appears when the model is on Github or ModelDB, rather than in CSCS storage.

@appukuttan-shailesh I see your

[2019-06-26 06:42] antonelepfl commented on #443
@SteMasoli I see that the Purkinje cell has the images now and it's available on the BSP.

Now I have another question. In the past we were choosing the Granule cells for Mouse and now you don't have any of them but you have for Rat instead. Can you confirm that you want to show for BlueNaaS only these 2 [granulle models](https://validation-v1.brainsimulation.eu/models/?brain_region=cerebellum&cel

[2019-06-26 11:23] SteMasoli commented on #443
The old granule cells have images too.

https://collab.humanbrainproject.eu/#/collab/19/nav/369318?state=model.0c97cd83-24fd-4782-bdea-2affacc6863e

https://collab.humanbrainproject.eu/#/collab/19/nav/369318?state=model.527191ca-8385-4aac-b08c-3bce022fc5cc

@antonelepfl

Yes plus the 4 new  "Granule cells 2019" models.
They are based on rats, are part of the live paper, in BlueNaaS format too, but

[2019-06-26 18:47] SteMasoli commented on #443
Added descriptions and images for the four granule cells 2019.

[2019-06-27 12:55] antonelepfl opened #447 "Implement CPUs in Jureca & Jureca Booster"
Hi @BerndSchuller , I would like to pass the number of **CPUs** so it's translated to #SBATCH --**ntasks**=... in the bss_submit_.. Piz-daint have already implemented this functionality.

Currently I get: `failed: Resource <TotalCPUs> is not available at this site`

[2019-06-27 13:03] BerndSchuller commented on #447
hi Stefano,

specifying Nodes and CPUsPerNode does not work for you?

[2019-06-27 13:05] antonelepfl commented on #447
Yes it works but to have consistency with the other systems I'm trying to pass only the CPUs and let Unicore takes care about how many nodes I need to allocate. Make it available is a lot of work?

[2019-06-27 13:06] clupascu commented on #447
Hi Stefano,

I use this in the job descriptor

"Resources": {"Nodes": '2',"CPUsPerNode":'24'} for the booster partition.

[2019-06-27 13:08] BerndSchuller commented on #447
no, it's not difficult, I'll get it done, for some reason our current configuration only has the Nodes+CpusPerNode. It's possible to have both, so you can choose whichever resource specification is m
more conventient.

[2019-06-27 13:08] antonelepfl commented on #447
Yes I was using that in the past that passing the CPUs is a feature mentioned in the [documentation](https://www.unicore.eu/docstore/ucc-7.8.0/ucc-manual.html#_resources) and I prefer using the same syntax.

[2019-06-27 13:09] antonelepfl commented on #447
Ok great that would be nice, thank you Bernd!

[2019-06-27 13:46] BerndSchuller commented on #447
the change is deployed:

  "resources": {
        "TotalCPUs": "0.0-111520.0"
        "CPUsPerNode": "0.0-68.0",
        "GPUS": "0-4",
        "Nodes": "1.0-1872.0",
...        ],

you can give either TotalCPUs or Nodes+CPUsPerNode
let me know if things are not as you expect :-)

[2019-06-28 09:18] lbologna opened #448 "BlueNaas: use it as a service via websocket"
Aspect | Detail
------------ | -------------
Summary |  BlueNaas will be used as a service, through remote requests via websocket
Expert | @genric
Deadline |
Dependencies | python, neuron

## List of features
Currently the BlueNaas is used via web application for running the simulation and accept models from the database or uploaded by the users (provided they fulfill a precise format).
With this

[2019-07-01 06:20] alex4200 commented on #334
@apdavison I have run the example (command line and notebook), but in the section **An activity dataset with minimal metadata** it does not find any dataset.

Can you look into that and either fix it, or update README.md and the notebook?

[2019-07-01 13:58] clupascu commented on #441
A new image of the notebooks, updated on 26th of June 2019, seems to solve the issue.
The image was built using the same specifications as the previous one, but because it's a more recent build it used a newer ncurses lib for the Conda environment.

I tested and it works. I even played with the neuron versions and it worked even when switching versions.

@alex4200 can you test it too please? We ca

[2019-07-01 14:59] antonelepfl commented on #447
It's working properly. Thank you again Bernd

[2019-07-01 14:59] #447 closed, assigned to nobody

[2019-07-02 09:04] alex4200 commented on #441
The production version of the notebooks work fine. Closing ticket

[2019-07-02 09:04] #441 closed, assigned to ak0ska

[2019-07-02 11:27] alex4200 commented on #344
From a usability standpoint I also agree it looks fine (clear and direct information without distracting elements).

I also need an interactive (mock) version of the html version. How does the user opens the bottom panel (clicking on the system)? Are there tooltips for the parameters (like 'Status', 'Service Account')? What will be displayed during the update of the information?  etc.

[2019-07-03 06:29] antonelepfl commented on #443
Now you can see the latest modes of Granule Cells working with BlueNaaS in [DEV]
 (https://collab.humanbrainproject.eu/#/collab/8444/nav/65635) the images are shown but some of them are quite big so if you can reduce the size to keep consistency that would be good.

[2019-07-03 06:29] #443 closed, assigned to SteMasoli

[2019-07-03 06:30] #445 closed, assigned to antonelepfl

[2019-07-03 06:30] #154 closed

[2019-07-03 07:46] antonelepfl commented on #343
We are experiencing the same issue today (UNDEFINED) status. Could we check what is happening?

[2019-07-03 09:19] BerndSchuller commented on #343
The CSCS UNICORE installation appears to be down - I get a 500 server error for the /rest/core endpoint

[2019-07-03 10:29] antonelepfl commented on #437
@appukuttan-shailesh when I try to fetch the list of the Hippocampus models I get `Bad Gateway` and that is why I cannot update the list of the models for _Single Cell In Silico Experiments_.
I just make a request using this [script](https://github.com/antonelepfl/usecases/blob/dev/src/assets/config_files/create_singlecellmodeling_structure.py) could you help me with that?

[2019-07-03 12:00] appukuttan-shailesh commented on #437
To my best knowledge, this is to do with the server getting timed-out while all the records are being fetched. There seems to have been a drastic increase in the number of hippocampus entries on the model catalog, as the same problem doesn't arise for other brain regions.

For now, I have deleted all the "e-model" entries that I had created earlier (as I can introduce them later when the system is

[2019-07-03 12:13] appukuttan-shailesh commented on #437
To my best knowledge, this is to do with the server getting timed-out while all the records are being fetched. There seems to have been a drastic increase in the number of hippocampus entries on the model catalog, as the same problem doesn't arise for other brain regions.

For now, I have deleted all the "e-model" entries that I had created earlier (as I can introduce them later when the system is

[2019-07-03 12:14] appukuttan-shailesh commented on #423
Resolved as part of temporary fix for #437
It can be closed after @antonelepfl  confirms this is no longer an issue.

[2019-07-03 13:51] antonelepfl commented on #437
Yes now it works correctly.
Tomorrow the new list of the models should be out there

[2019-07-03 13:51] antonelepfl commented on #423
You can close this now

[2019-07-03 13:52] clupascu commented on #343
Should we open a ticket on cscs for the UNICORE installation down or somebody opened already a ticket? I get 500 server error too.

[2019-07-03 13:53] BerndSchuller commented on #343
maybe try Stefano Gorini and Fabio Verzelloni first

[2019-07-03 14:09] mmigliore commented on #343
I think that you should open a ticket, to keep track of these events.
Best
Michele

Il mer 3 lug 2019, 15:53 Bernd Schuller <notifications@github.com> ha
scritto:

[2019-07-03 14:16] clupascu commented on #343
I already wrote an email to Stefano and Fabio.

[2019-07-03 14:23] appukuttan-shailesh commented on #437
I suppose there is nothing pending on this ticket.
@alex4200 : If so, we could close it.

[2019-07-03 14:24] #423 closed, assigned to appukuttan-shailesh

[2019-07-04 06:34] antonelepfl commented on #437
Just to make sure, there are 90 Hippocampus models in total, @clupascu does this sounds correct?

[2019-07-04 08:13] clupascu commented on #437
@antonelepfl there should be 46 (from the live paper models)+39 (from the latest version of the optimizations)=85 hippocampus models. 2 models from the live paper are not present in the Model Catalog because not used for the circuit, so at least there should be 83, not 90.

[2019-07-04 08:30] appukuttan-shailesh commented on #437
@antonelepfl : I should point out that the model catalog will contain Hippocampus models other than those produced from Michele's team. For example, the paper on HippoUnit (under preparation) makes use of prior models from literature which would satisfy your current search criteria:
`?brain_region=hippocampus&organization=HBP-SP6&model_scope=single%20cell&species=Rattus%20norvegicus`

To target on

[2019-07-04 08:34] antonelepfl commented on #437
Ok thank you Shailesh for the clarification. Carmen if you can provide a query that I can use to fetch the models that you want to appear on the list.

[2019-07-04 08:51] clupascu commented on #437
The query I am thinking of to fetch the hippocampus models I want to appear on the list would be "Collab ID"=12027 and you get 39 models (the latest ones) and "Collab ID"=9821 & "Author(s)"="Rosanna Migliore" and you get 43 models (from the live paper). 3 models from the live paper are missing but we will check this later.

[2019-07-04 08:56] clupascu commented on #437
@appukuttan-shailesh yes. Some models e.g. CA1_pyr_cACpyr_oh140807_A0_idJ_20190328142723) were supposed to have author as "Paola Vitale" but it shows "Rosanna Migliore". I used  https://collab.humanbrainproject.eu/#/collab/12027/nav/376102. I thought you updated this one. Should I clone it again and try to update the models?

[2019-07-04 08:59] clupascu commented on #343
cscs fixed the issue. Everything works back as supposed now.

[2019-07-04 09:03] appukuttan-shailesh commented on #437
@antonelepfl : based on Carmen's comment you can tweak the filter to include the following:
&app_id=89822 (corresponds to collab 12027).... I got 39 models
&app_id=78121 & author="Rosanna Migliore" (corresponds to collab 9821).... I got 44 models

FYI: app_id corresponds to nav_id assigned by Collaboratory platform to model catalog app in that particular Collab.

[2019-07-04 09:08] clupascu commented on #437
I counted many times and "Collab ID"=9821 & "Author(s)"="Rosanna Migliore" and I get only 43 models. Strange...

[2019-07-04 09:23] appukuttan-shailesh commented on #437
I had a feeling there was something wrong so checked each entry manually.... web app vs API call.
The web app isn't displaying "CA1_int_cNAC_060314AM2_20180120154747"
https://collab.humanbrainproject.eu/#/collab/8123/nav/68489?state=model.f0b1bc0d-93d5-43a5-bf14-f1d1f4aaab28
in the search listing, while it was available via the API call (which is what Stefano would employ). Not sure why.

@apdavis

[2019-07-04 09:29] clupascu commented on #437
yes. He can go ahead with the 39 + 44 models.

[2019-07-04 09:42] appukuttan-shailesh commented on #437
@clupascu : I had made the changes to the jupyter notebook [mentioned here](https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/437#issuecomment-496914516):
https://collab.humanbrainproject.eu/#/collab/8123/nav/373602

I wasn't sure if you had cloned it or ran the same notebook itself. It is better to clone it again so that you have all the recent changes.

For now, I have edited the existing entr

[2019-07-04 10:14] alex4200 commented on #343
I still get a 500 Server Error for a GET request on URLs like `https://brissago.cscs.ch:8080/DAINT-CSCS/rest/core/jobs/af03f4a5-b420-4943-81ab-39ff76b84171`

[2019-07-04 10:21] BerndSchuller commented on #343
Does the https://brissago.cscs.ch:8080/DAINT-CSCS/rest/core endpoint look normal? I have no valid user at CSCS, so I can't test job submission

[2019-07-04 10:46] antonelepfl commented on #343
Yes that is the endpoint that we use normally.
I do still get an error 500 on only one of the jobs (same as Alex) but the submission and retrieve of the job details looks normal.

[2019-07-04 10:48] BerndSchuller commented on #343
then I'd say that one job has an issue (maybe with its associated directory), and overall the service is working normally

[2019-07-04 12:01] clupascu commented on #437
ok. Thank you @appukuttan-shailesh

[2019-07-05 09:26] antonelepfl commented on #437
Ok the updated list should be there. The 83 hippocampus models.

[2019-07-08 09:20] lbologna commented on #344
Hello,

here is a first draft of the dynamic page.

https://bspg.pa.ibf.cnr.it:14786/

(the page will not be available tomorrow 08/07/2019)

Data are randomly generated at the moment but we checked with @clupascu that the API for querying  the total time remaining on Marconi and Jureca work. We will integrate them by the end of this week.

[2019-07-08 09:43] clupascu commented on #91
@szkali any news on the first release of the CA3 optimizations?

[2019-07-09 08:41] lbologna opened #449 "New Live Paper Masoli et al 2019"
## New Live Paper Masoli et al 2019

Aspect | Detail
------------ | -------------
Summary |  Inserted a new Live Paper in the Live Paper page
Expert |  @SteMasoli @lbologna @appukuttan-shailesh
Dependencies | None

## List of additional/changed features
A new Live Paper has been added to the BSP Live Paper "dev" page and linked to the ad-hoc created collab. The live paper collab is private at the

[2019-07-09 09:11] lbologna commented on #449
Hello,

with @SteMasoli we inserted a new Live Paper in dev as described in the issue.

@alex4200 could you please have a look and see whether everything is fine? Thank you
@appukuttan-shailesh as described before, the trace visualization takes too long  (especially on  connections slower than academic). I believe this depends on the sampling frequency because the files have big size (~20MB) but t

[2019-07-09 09:29] apdavison commented on #449
@lbologna I can answer for the trace visualization. The "waiting wheel" has been developed (cf https://github.com/NeuralEnsemble/neo-viewer/issues/5) but is not yet in production. We are currently working on downsampling.

[2019-07-09 09:35] lbologna commented on #449
Thanks @apdavison

[2019-07-09 13:09] szkali commented on #91
We have some preliminary results on mouse CA3 pyramidal cells and PV+ basket cells, but we did not have the bandwidth to pursue this more intensively because we were focusing on other tasks. We plan to take this up again soon, so that we can hopefully have a release (including at least these two cell types) some time in the fall.
I also think it would be useful to run some optimizations using the

[2019-07-10 09:59] sasaray opened #450 "Wrong hoc templates in models in Hippocampus models container"
The PLOS paper models in the container: https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/hippocampus_optimization/
contain hoc templates that still require the axon to have at least 2 sections.
The problematic lines are in "proc replace_axon()"

         access axon[0]
         i1 = v(0.0001) // used when serializing sections prior to sim start

         access axon[1]
         i2 =

[2019-07-10 10:26] clupascu commented on #450
@sasaray the PLOS paper models are in https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/Migliore_2018_CA1/models/ not in https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/hippocampus_optimization/. Can you please check that the hoc templates in the PLOS paper models container above suits your requirements?

[2019-07-10 10:52] appukuttan-shailesh commented on #450
@clupascu .... there was a confusion. @sasaray  is infact referring to the container:
https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/Migliore_2018_CA1/models/
(and not /hippocampus_optimization/)

The URLs had been picked up from the model catalog, and there we redirect to "Migliore_2018_CA1" container.
e.g.
https://collab.humanbrainproject.eu/#/collab/8123/nav/395557?state=model.

[2019-07-10 10:56] appukuttan-shailesh commented on #450
p.s. some of the models known to have this issue are:
CA1_pyr_cACpyr_oh140807_A0_idA_20170915112548
CA1_pyr_cACpyr_mpg141215_A_idA_20170915152442
CA1_pyr_cACpyr_oh140807_A0_idF_20171003112912
CA1_pyr_cACpyr_oh140807_A0_idG_20170915113354
CA1_pyr_cACpyr_oh140807_A0_idC_20170912112759
(the others seemed to be ok, but you could double-check)

[2019-07-10 11:02] clupascu commented on #450
ok. we will fix it.

[2019-07-10 12:23] clupascu commented on #450
I fixed CA1_pyr_cACpyr_mpg141215_A_idA_20170915152442. Can you please test that this model works for you? I actually noted that all models have this issue, not only the ones listed by @appukuttan-shailesh above.

[2019-07-10 12:28] sasaray commented on #450
Yes, all of them has this in the hoc template, but in case of those models, that have at least 2 axonal sections, this doesn't cause any error.

[2019-07-10 13:44] clupascu commented on #450
I fixed all the models in the PLOS paper container. Please check.

[2019-07-10 14:51] appukuttan-shailesh commented on #450
Thanks @clupascu for the quick work on this.
I tested a few of them and they worked. Will review all and update this ticket.

[2019-07-11 09:46] appukuttan-shailesh commented on #450
I am having a problem with "CA1_int_cNAC_970509HP2_20180117154753" model.

Error:

It's hoc files require to load the above morphology file "970627BHP1.asc":
[code]

But the morphology directory of this model only contains "970509HP2.asc".

@clupascu : Could you fix this if it is indeed an error?

[2019-07-11 11:29] clupascu commented on #450
@appukuttan-shailesh I fixed this. It was indeed an error.

[2019-07-11 11:46] appukuttan-shailesh commented on #450
Thanks @clupascu ! All the problems with the live paper models have been resolved. Closing this issue now.

[2019-07-11 11:46] #450 closed, assigned to nobody

[2019-07-11 13:27] clupascu commented on #334
@apdavison For the 26 cells retrieved based on the brain region ("hippocampus CA1")
cells_in_ca1 = PatchedCell.list(client, brain_region=BrainRegion("hippocampus CA1"))
is there any possibility to use one other filter in order to retrieve one specific cell, instead of doing
example_cell = cells_in_ca1[3] ?

I see no other metadata apart for the CellType and BrainRegion

PatchedCell('hbp00011_Sub2_

[2019-07-11 13:31] clupascu commented on #334
@alex4200 in the section **An activity dataset with minimal metadata**  I get 29 datasets.

[2019-07-11 15:21] apdavison commented on #334
If you know the cell id (either UUID or full URI) or the cell name, you can retrieve it with `PatchedCell.from_uuid(uuid)`, `PatchedCell.from_uri(uri)` or `PatchedCell.by_name(name)`.

Using `PatchedCell.list()`, only one filter at a time is currently allowed. I've created a ticket to fix this: https://github.com/HumanBrainProject/fairgraph/issues/9

Can you tell me exactly what properties you nee

[2019-07-11 15:23] apdavison commented on #334
@alex4200 do you still get an empty list? If so, it may be a permissions problem. I presume you have an SGA2 accreditation? (https://collab.humanbrainproject.eu/#/me/accreditations)

[2019-07-12 08:30] lbologna commented on #448
Hello @genric,

I inserted the script.py you sent me in a django view of a project that I am running at the following url:
bspg.pa.ibf.cnr.it

but I get the following error:

WebSocketBadStatusException: Handshake status 403 Forbidden

I attach herewith the function in a .txt file.
Any idea of why it is not working?

Thanks

[view.txt](https://github.com/cnr-ibf-pa/hbp-bsp-issues/files/3385650/vie

[2019-07-12 10:36] clupascu commented on #334
More than one filter would be needed. Thanks.

Can I retrieve cells based on the contributor name or the lab for example?

[2019-07-12 12:18] lbologna commented on #334
Hi,
@apdavison I am experiencing the same problem @alex4200 has: empty lists for all searches (based on brain region, based on species, based on cell type). I have the SGA2 accreditation.

[2019-07-15 06:40] antonelepfl opened #451 "Model Catalog API SSLError"
### Expected behavior
The API / URL is https
### Actual Behavior (please include screenshot if possible)
Using the API I get SSLError because the certificate are not valid
### Steps to reproduce the problem
Enter to the BSP Model [Catalog](https://collab.humanbrainproject.eu/#/collab/1655/nav/75901?state=model.n) or Query using the [browser](https://validation-v1.brainsimulation.eu/models/?brain_r

[2019-07-15 06:40] antonelepfl commented on #451
Not very sure if you know what is going on here

[2019-07-15 06:42] BerndSchuller commented on #451
" Peer’s Certificate has expired. "
the certificate of the server at https://validation-v1.brainsimulation.eu needs to be renewed

[2019-07-15 06:53] alex4200 commented on #451
I see an error

`The webpage at https://validation-v1.brainsimulation.eu/?ctx=6115569b-2fb1-41ff-b8ac-b33c4a3e8e1e might be temporarily down or it may have moved permanently to a new web address.`

[2019-07-15 08:43] apdavison commented on #451
My apologies, I've now renewed the certificate

[2019-07-15 08:44] alex4200 commented on #344
@lbologna: I checked that link and it seems to work.

I assume it still shows fake data?

[2019-07-15 08:47] alex4200 commented on #451
I am able to access the Model Catalog again.

[2019-07-15 09:05] alex4200 commented on #425
@apdavison @appukuttan-shailesh  The download issue seems to be solved.

[2019-07-15 09:09] #451 closed, assigned to apdavison, appukuttan-shailesh

[2019-07-15 09:25] alex4200 commented on #334
@apdavison I have the SGA1 and SGA2 accreditation. I just tried the query again in a notebook and from the command line, but still get an empty list only.

[2019-07-15 09:54] lbologna commented on #344
@alex4200 yes this are still random data
@rcsm17 is finalizing the plotting of the quotas for jsc and cineca systems

[2019-07-15 10:06] lbologna commented on #448
@genric: we discussed with @ElisabettaGiacalone and @mmigliore about the possible scenarios the BlueNaas may encounter for running user's models through the websocket.
We believe it is better to discuss this via skype call so that we can have a handle on it with real time examples and discussion.

If this is fine with you, could you please fill the following doodle for a call later this week:
http

[2019-07-15 11:38] alex4200 commented on #449
@apdavison For me the trace visualization is not working at all (even with 'academic' internet connection). I get a 504 Gateway timeout.

[2019-07-16 08:42] antonelepfl opened #452 "Posting Job to Piz-Daint SSLError (bad handshake) using Python"
Hi @BerndSchuller,
With @alex4200 we are running some test using python and Unicore API and we are getting

[code]

To test we are doing something like:

[code]

Using the Simulation GUI we **don't** see any of these errors, is there something that we worry about? I see that maybe there is an issue on the TSI part

What do you think?

[2019-07-16 08:43] apdavison commented on #334
@lbologna and @alex4200 I've changed the permissions, please could you try again?

[2019-07-16 09:26] BerndSchuller commented on #452
hi,

this is pretty easy to explain and fix. The certification authority used by CSCS is not trusted by the python code. The UNICORE API avoids this by adding verify=False to the requests call, i.e.

  res = requests.post(url, json=data, headers=headers, verify=False)

should do the trick.

[2019-07-16 09:38] lbologna commented on #334
@apdavison thank you. It works for me but only up till the "Search based on cell type" cell.
The "**An activity dataset with minimal metadata**" and "**An activity dataset with extended metadata**" section seem to fetch nothing and give the errors below:

- Error for "An activity dataset with minimal metadata"

IndexError                                Traceback (most recent call last)

----> 1 da

[2019-07-16 09:46] lbologna commented on #448
Genrich thanks for filling the doodle.

@genric, @ElisabettaGiacalone let's fix the call for Friday 19 at 11.00 a.m. then.

Genrich please let us know how you would like to connect.
Thanks

[2019-07-16 09:56] alex4200 commented on #452
@BerndSchuller Yes that works, but is disabling the certification check a bad practice? Shouldn't the untrusted authority added to the python code somehow? Would that be the better solution?

[2019-07-16 11:15] BerndSchuller commented on #452
Is this code running in a jupyter notebook in the collab? The configured truststore indeed should contain the CA used by CSCS.

In the collab notebooks accessing "https://hbp-unic.fz-juelich.de:9112" works fine, "https://brissago.cscs.ch:8080" fails to validate.

It might be a good idea to open a ticket, so the containers running the notebooks can be updated.

Personally I consider the risk of not

[2019-07-16 11:22] alex4200 commented on #452
No, the code does not usually run from inside a jupyter notebook. They run on  my local linux machine, or from within a jenkins instance.

[2019-07-16 11:33] BerndSchuller commented on #452
Then you're on your own, I guess. To enable validation, you'd need to collect the CAs that are used by the servers you want to access and either put them in the system truststore, or configure requests so that they are found.

you can see all certificate info using

openssl s_client -connect brissago.cscs.ch:8080

That server uses the "QuoVadis Global SSL ICA G2" certification authority, and you c

[2019-07-16 11:38] alex4200 commented on #452
Thanks for the info. I might look into that a bit more, or just use your suggested solution.

I will close this ticket for now.

[2019-07-16 11:38] #452 closed, assigned to nobody

[2019-07-16 11:39] appukuttan-shailesh commented on #448
@lbologna : I am also interested in joining in on this call to get a better idea of this feature. Will join you on Friday at 11 AM.

[2019-07-17 08:39] alex4200 commented on #408
@adamhospital @aurel-l  Is there any progress with the notebooks/use cases? Are DEV versions available? What is the timeline for putting them into the brain simulation platform?

[2019-07-18 08:28] adamhospital commented on #408
Hi, we have dev versions in our own premises, still working on them. Will try to upload some of them to the platform before August.

[2019-07-18 11:36] romani79 opened #453 "Rename use case"
Could someone remove the word 'column' from the use case 'Configure and run a hippocampus column' in https://collab.humanbrainproject.eu/#/collab/1655/nav/66856?

Just rewrite it as:
Configure and run a hippocampus microcircuit
A microcircuit of detailed neuron models

[2019-07-18 11:50] antonelepfl commented on #453
This change should be in production in a couple of minutes
@alex4200 Check it please and close this ticket

[2019-07-18 11:55] alex4200 commented on #453
Yes all looks ok, closing ticket

[2019-07-18 11:55] #453 closed, assigned to antonelepfl

[2019-07-18 14:57] appukuttan-shailesh commented on #428
The UseCases have been updated. But I propose we wait 1-2 weeks for the KG version of validation app to be released, before initiating the testing of the use cases.

@alex4200 : I shall update you once it is ready for testing.

[2019-07-19 06:49] alex4200 opened #454 "Jureca - 500 Server Error"
There seems to be an issue on Jureca currently. The error is
`
Server Error</pre><h3>Caused by:</h3><pre>javax.servlet.ServletException: Failed to process POST request: javax.servlet.ServletException: Problem when forwarding a client request to a VSite: javax.net.ssl.SSLPeerUnverifiedException: peer not authenticated`

### Steps to reproduce the problem

- Try to use the SimUI
- Try to submit a jo

[2019-07-19 06:53] BerndSchuller commented on #454
hi,
sorry for the trouble, one of our servers had an out-of-memory issue - should be fine now

[2019-07-19 06:58] alex4200 commented on #454
Thanks,

it works again.

[2019-07-19 09:37] appukuttan-shailesh commented on #448
As discussed on the call today, I was proposing we could mediate the interaction between the models and BlueNaaS via the "sciunit" framework.
https://github.com/scidash/sciunit
(Related: https://github.com/scidash/neuronunit)

The framework is primarily directed towards validations, but at the core it uses the concept of "capabilities". These are basically "model agnostic" interfaces which allow i

[2019-07-19 10:09] appukuttan-shailesh commented on #321
Resolves model duplication in UseCases via fix in #428

[2019-07-19 11:05] appukuttan-shailesh commented on #84
@apdavison : I believe the milestone can be moved to M22. Unlikely to be undertaken before Sep 2019.
Also, is this intended to employ the Jupyter widgets that are to be developed in the voucher call. Is the specified deadline of M21 (Dec 2019) a hard deadline?

[2019-07-19 12:21] lbologna commented on #407
Hello,
@njbruce is there any news on use cases from 2 to 5? May we help in some way to finalize them or if they are to be finalized at a later time, close the ticket for the moment?

[2019-07-22 06:51] SteMasoli commented on #435
Hi.
The usecase is in queue to be accepted on the BSP dev.

[2019-07-22 08:34] antonelepfl commented on #435
It is already in DEV. @alex4200 When you have time please check it out

[2019-07-22 11:11] alex4200 opened #455 "Showcase: Validation"
## Showcase Usecase

Aspect | Detail
------------ | -------------
Summary | Validation Use Case
Common document | https://docs.google.com/document/d/1sIOLMhK-jYnSb4x-xDEewmNqQXd4sztfw8nrgYsbZYs/edit#
Usecase Group |
Expert | @apdavison
Scientific User |
Deadline | **March 2020**
HPC Requirements |
Dependencies |
Nominal runtime |

## Description
This use case is supposed to be a showcase use case

[2019-07-22 11:11] alex4200 opened #456 "Showcase: Simulation"
## Showcase Usecase

Aspect | Detail
------------ | -------------
Summary | Simulation Use Case
Common document | https://docs.google.com/document/d/1sIOLMhK-jYnSb4x-xDEewmNqQXd4sztfw8nrgYsbZYs/edit#
Usecase Group |
Expert | @antonelepfl
Scientific User |
Deadline | **March 2020**
HPC Requirements |
Dependencies |
Nominal runtime |

## Description
This use case is supposed to be a showcase use cas

[2019-07-22 11:11] alex4200 opened #457 "Showcase: Cerebellum NEST SP10 Integration"
## Showcase Usecase

Aspect | Detail
------------ | -------------
Summary |  Cerebellum NEST SP10 Integration Usecase
Common document | https://docs.google.com/document/d/1sIOLMhK-jYnSb4x-xDEewmNqQXd4sztfw8nrgYsbZYs/edit#
Usecase Group |
Expert | @claudiacasellato
Scientific User |
Deadline | **March 2020**
HPC Requirements |
Dependencies |
Nominal runtime |

## Description
This use case is suppos

[2019-07-22 13:00] apdavison commented on #84
@appukuttan-shailesh no, I think this will be built into the Model Validation Collaboratory app. M21 is not a hard deadline, this feature is not written explicitly into the SGA2 workplan.

I've updated the description and milestone accordingly.

[2019-07-22 13:12] lbologna commented on #449
@SteMasoli, @alex4200 I inserted the direct download of the electrophysiological traces as discussed today. Here's the link to the dev page:
https://cnr-ibf-pa.github.io/hbp-bsp-live-papers-dev/2019/masoli_et_al_2019/masoli_et_al_2019.html
Could you please check? If everything is ok, I will move it to production.

Thanks

[2019-07-22 13:54] alex4200 commented on #449
@SteMasoli @lbologna I took a look, and it seems to work fine. I suggest to move the live paper to production and then close the ticket.

[2019-07-22 14:05] alex4200 opened #458 "NEST-Desktop"
## New Use Case

Aspect | Detail
------------ | -------------
Summary | Web-based tool aimed at students to simulate small circuits with NEST, which runs as a service.
Usecase Group | Small Circuits?
Expert | Benjamin Weyers
Scientific User |
Deadline | end of SGA2 (March 2020) (Prototype in autumn)
Target audience | students, early adaptors
Target interface | Web GUI
HPC Requirements | None
Depen

[2019-07-22 15:02] SteMasoli commented on #449
Thank you. @lbologna  @alex4200

The paper can go live but there are two point to be added:

1) I have found a way to reduce the dimensions of the experimental traces. The experimentalist will check the traces to see if they are not ruined too much.

2) When this usecase will be deemed ok, it will be linked in the first panel of the live paper.
[https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/

[2019-07-22 16:26] lbologna commented on #449
Ok, thanks.
I put it in prod as the live paper is complete now, but leave the issue open until an exploratory test with the reduced traces is done.

[2019-07-23 06:52] alex4200 commented on #449
@lbologna Are the reduced traces already implemented? Or is it some work to be done?

[2019-07-23 07:43] lbologna commented on #449
@alex4200 as far as I understand @SteMasoli reduced the dimensions of the trace files with a software for electrophys recording (pClamp or similar). If the traces look good, these files can be put directly in the container and the <visualizer> in the live paper can be restored.
This shoudn't take much.
@SteMasoli could you please confirm or correct me if I am wrong? Thank you

[2019-07-23 07:48] SteMasoli commented on #449
@lbologna
Exactly as you say.

I'm currently waiting to receive words about the quality of the reduced version.

[2019-07-23 09:04] SteMasoli commented on #449
@lbologna @alex4200
The new traces are online

[2019-07-23 10:45] alex4200 commented on #449
@SteMasoli Where can I find the original traces? (Just to compare them)

[2019-07-23 11:43] SteMasoli commented on #449
@alex4200

https://object.cscs.ch:443/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/cerebellum_circuits/BlueNaaS_models/live_paper_grc/trace/original_traces/101018_0012%20CC%20step.abf

https://object.cscs.ch:443/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/cerebellum_circuits/BlueNaaS_models/live_paper_grc/trace/original_traces/111018_0001%20CC%20step.abf

https://object.cscs.ch:443/v1/AUTH_c0a333ecf7c045

[2019-07-23 13:28] claudiacasellato commented on #457
Hello Axel
could you invite  " Robin De Schepper - Helveg   " (here in cc) in this
github issue? He works with us in the lab, and he will help with the tests
for SP6-S10 integration on cerebellum
About  "list of features , requirements... " , what shall we do about this
description?

Stefano Casali, in cc, is finishing to put all the pyNEST scaffold in
sonata format on github (linked to KG)... Onc

[2019-07-23 14:40] lbologna commented on #449
@alex4200, @SteMasoli I restored the visualizer.
The quality of the images seems good to me. The page does not freeze anymore but loading the traces and hovering above them still lag a bit on my pc.

Here's the link:
https://cnr-ibf-pa.github.io/hbp-bsp-live-papers-dev/2019/masoli_et_al_2019/masoli_et_al_2019.html

[2019-07-24 08:30] SteMasoli commented on #449
@lbologna @alex4200

The loading part is ok, for me, even on my slow connection but, there is indeed some lag in the visualization and in changing from one trace to another.

[2019-07-25 05:48] alex4200 commented on #457
Hi,

could you invite " Robin De Schepper - Helveg " (here in cc) in this
github issue? He works with us in the lab, and he will help with the tests
for SP6-S10 integration on cerebellum

what is his github ID? I can add him then

About "list of features , requirements... " , what shall we do about this
description?

I advise to fill out these sections to the best of the knowledge. What is a detai

[2019-07-25 05:57] alex4200 commented on #449
@SteMasoli I am wondering: Why do I see two lines for each trace?

![Selection_757](https://user-images.githubusercontent.com/12729291/61849511-d2c3c300-aeb1-11e9-92b9-6cf43315c0cf.png)

[2019-07-25 07:25] SteMasoli commented on #449
@alex4200
The first one is the time voltage trace.
The second is the leakage current.

[2019-07-25 07:46] apdavison commented on #449
@alex4200 the upper line is the trace, the lower line is a zoom control: if you click on it, you will be able to drag handles to zoom in on the upper trace (although it might be very slow, as it seems even the reduced files are quite large*).

[*] Note that we plan to evaluate alternative Javascript charting libraries, to try to improve the responsiveness for large files.

[2019-07-25 10:14] claudiacasellato commented on #457
Hi
Robin's github id: Helveg

"what features are planned, are there any requirements to be used (packages
to be installed, registration, HPC, etc)?"
About that, I think we should define them together... I mean we said at the
teleconf that HPC is not integrated with NRP... for this reason probably we
should downscaled the network size. It runs in pyNEST , it is in SONATA
format as required for such

[2019-07-25 11:04] alex4200 commented on #457
Hi,

yes that is fine for me. I suggest 11:00 on Monday if that works for you. Alternatively any time in the afternoon.

Thanks

Alex

________________________________
From: claudiacasellato <notifications@github.com>
Sent: Thursday, July 25, 2019 12:15:00 PM
To: cnr-ibf-pa/hbp-bsp-issues
Cc: Dietz Alexander; Author
Subject: Re: [cnr-ibf-pa/hbp-bsp-issues] Showcase: Cerebellum NEST SP10 Integratio

[2019-07-25 11:08] claudiacasellato commented on #457
ok, monday at 11

also add please Stefano C (github id "SelezioneCasuale")

thanks!

Il giorno gio 25 lug 2019 alle ore 13:04 alex4200 <notifications@github.com>
ha scritto:

[2019-07-25 11:15] claudiacasellato commented on #457
Hello Axel,

at  this
<https://github.com/SelezioneCasuale/scaffold_model_cerebellum/tree/master/scaffold_sonata>
GitHub
repository, in the 'scaffold_sonata' directory, you can find an example of
a 200 x 200 scaffold that runs with Sonata and pyNN. The input can be
modified ,while the size of the network is fixed, by now.
In the /inputs folder, you can find a simple python scripts that allows to
d

[2019-07-25 14:03] SteMasoli commented on #449
The compressed version were incomplete. I have uploaded the right one on the cscs container.

[2019-07-26 08:33] lbologna commented on #437
Hello,
I just made the repository (lbologna/bsp_data_repository) "Private" on Github.
All watchers will not be able to follow the repository anymore, and all the stars will be lost.
If you forked the repository, your forks will still be public

(@alex4200 I finalized the model fetching from the Model Catalog in the HH-Neuron-Builder, as discussed, and I needed to change the GUI a bit. Everything s

[2019-07-26 15:27] alex4200 commented on #457
Hi,

I tried to run this package after having checked out from github. I was required to install the following packages:

pyNN

h5py

and nest-simulator, but I was unable to install 'nest-simulator' (some issue with some 'OpenMP' package).

Ideally, you create a small notebook where I can use this package. Otherwise I cannot take a look.

Also, there is a usecase on the Brain Simulation Platform u

[2019-07-26 15:45] apdavison commented on #457
I understand that the NRP developers need the model to be in the Knowledge Graph (KG).

Here are the KG ids for the scaffold model:

General information (doesn't change between versions)
https://nexus.humanbrainproject.org/v0/data/modelvalidation/simulation/modelproject/v0.1.0/437ccbed-18d7-4191-b341-b24405c7a323

Information about the specific version:
https://nexus.humanbrainproject.org/v0/data/

[2019-07-29 07:03] alex4200 commented on #449
@SteMasoli  I am a bit confused right now.

**Compressed?**
On the live paper page [here](https://cnr-ibf-pa.github.io/hbp-bsp-live-papers-dev/2019/masoli_et_al_2019/masoli_et_al_2019.html) I can choose the segment and the signal to be displayed, and for the trace `111018_0001_CC_step` for example it is downloading 1.6 MB for each segment. There are 16 segments in total, summing up to about 24 MB

[2019-07-29 08:27] SteMasoli commented on #449
@alex4200 @lbologna

`The total trace is about 24 MB.`

File size taken from the CSCS container and reported when downloaded too.

18gen16_0005 CC step.abf
Size = 381KiB

101018_0012 CC step.abf
Size = 8.8MiB.

111018_0001 CC step.abf
Size = 7.8MiB.

200918_0001 CC step.abf
Size = 7.8MiB

I checked my internet connection data transfer and one single downloaded "block" is, as you say, about 1.6MB.

[2019-07-29 08:39] apdavison commented on #449
The trace viewer is currently running on a small, demonstration server. I am in the process of writing an application for ICEI VM resources to provide a server specifically for SP6 use cases and live papers. This should improve the responsiveness.

We are also working on several performance improvements. Feel free to create a ticket at https://github.com/NeuralEnsemble/neo-viewer/issues if you hav

[2019-07-29 08:56] claudiacasellato commented on #457
on skype?
skype id: cla_ina ..  I will be with Stefano and Robin

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Mail
priva di virus. www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#m_-7055701845474940184_DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Il giorno g

[2019-07-29 09:01] alex4200 commented on #457
Yes I am on skype

alexander.dietz72

________________________________
From: claudiacasellato <notifications@github.com>
Sent: Monday, July 29, 2019 10:56:36 AM
To: cnr-ibf-pa/hbp-bsp-issues
Cc: Dietz Alexander; Author
Subject: Re: [cnr-ibf-pa/hbp-bsp-issues] Showcase: Cerebellum NEST SP10 Integration (#457)

on skype?
skype id: cla_ina .. I will be with Stefano and Robin

<http://www.avg.com/emai

[2019-07-29 11:44] alex4200 commented on #334
@apdavison Have you looked into this issue yet?

[2019-07-29 11:55] apdavison commented on #334
I'm looking into it; waiting for some feedback from the KG team.

[2019-07-30 09:24] alex4200 commented on #406
I tested again the DEV notebook  ([HERE](https://collab.humanbrainproject.eu/#/collab/2184/nav/204920)) and it seems to work fine. David incorporated some comments.

I think this notebook should be added to the DEV BSP.

[2019-07-31 08:29] davidcsterratt commented on #406
That's great - thanks for your help and encouragement with this. When it's up, please let me know. It's been suggested I could do a video demo too...

[2019-08-01 12:01] appukuttan-shailesh commented on #322
This proposed UseCase can be dropped as there is no pressing demand for it.

Also if deciding to have this done in future, since we have several single-cell model building UseCases following different workflows, it would be more appropriate to have this implemented within those existing UseCases.

[2019-08-01 12:01] #322 closed

[2019-08-01 12:04] #321 closed

[2019-08-05 06:07] alex4200 commented on #437
Use cases seem to work, closing ticket

[2019-08-05 06:07] #437 closed, assigned to lbologna, alex4200, genric, clupascu, antonelepfl, appukuttan-shailesh

[2019-08-05 11:10] alex4200 commented on #406
Hi @davidcsterratt

the change for the usecase.json has been committed on the DEV environment, and your new usecase is online in DEV (https://collab.humanbrainproject.eu/#/collab/8444/nav/65633). I made a test run and it works fine.

I will do some user acceptance test before putting it on production.

[2019-08-05 11:16] apdavison commented on #359
Note that not _all_ models should be available through the KG Search app, only _released_ models. The KG can also contain work-in-progress and/or exploratory models; such models will be accessible through the Model Catalog, but not through KG Search.

[2019-08-05 11:19] appukuttan-shailesh commented on #359
Is it correct to add that only "curated" model catalog entries would be made available on the KG search app?

[2019-08-05 11:44] apdavison commented on #359
yes, curation is required prior to release

[2019-08-05 13:59] alex4200 opened #459 "Register and store a simulation outputs located on the HPC system into KG"
## Use Case Update

Aspect | Detail
------------ | -------------
Summary | Based on UC11 (see below) the results of a simulation (SimUI) needs to be registered in the KnowledgeGraph
Expert | Stefano
Deadline | end of SGA2
Target User | Each HBP member
Dependencies | KG, HPC systems, other
Related | https://gitlab.humanbrainproject.org/joint_infrastructure_coordination/Coordination/issues/123 https

[2019-08-06 08:38] antonelepfl commented on #459
So after the meeting I was thinking and I think we should go to the creation of the backend of the SimUI.
This back-end of the SimUI will communicate with the UI to run the simulation, then to Unicore to actually run it and after Unicore finished, will be in charge of register the results to the KG if it's successful (for the time being).
Before submitting the metadata to the KG this back-end will

[2019-08-06 08:59] appukuttan-shailesh commented on #449
**neo-viewer** now has a new feature whereby it can automatically downsample signals by a specified factor. E.g. usage syntax:

[code]

`downsamplefactor` can take any positive integer value as input.

For basic instructions on using the neo-viewer, see here:
https://neo-viewer.brainsimulation.eu/
(this page doesn't currently have info on `downsamplefactor`)

[2019-08-06 09:13] alex4200 opened #460 "TSIUnavailableException in Simulation Analysis Step"
### Expected behavior

Unicore works stable and is able to copy all required files for an analysis.

### Actual Behavior (please include screenshot if possible)

When the user starts an analysis on PizDaint, some simulation output result files needs to get copied to the analysis folder. The simulation did create 4 reports (and not just 1 which is the default). However, from 16 such analyses, only

[2019-08-06 09:28] alex4200 commented on #449
@appukuttan-shailesh I had a look at this feature, and it seems to work fine. Please let me know when this has been implemented on the live paper.

[2019-08-06 13:57] appukuttan-shailesh commented on #449
@alex4200 .... this feature is already available for anyone who wishes to use it. So @lbologna and/or @SteMasoli can already employ it in the live papers by deciding on an appropriate downsampling factor.

[2019-08-07 05:42] alex4200 commented on #459
@olinux FYI

[2019-08-07 07:22] olinux commented on #459
To communicate with KG: As discussed, I would suggest a technical user for the backend which executes the operations on behalf of the user. You then can also ensure that the token can be refreshed properly.

[2019-08-13 16:19] appukuttan-shailesh commented on #448
I have made some progress on this. We had two sample models:
1) neuronservice_eg_llb_dev
2) neuronservice_ss_dev

I have been working on the first model (neuronservice_eg_llb_dev) as it was much smaller, but also **didn't** employ the concept of 'templates', which we were accustomed to handling for BluePyOpt etc. I will next take up the other model.

The reworked version (v2) of the first model al

[2019-08-14 13:15] appukuttan-shailesh commented on #428
@alex4200 :
All the five validation usecases have been updated (as mentioned above). We ran into some unexpected minor issues with the KG integration aspects. Since most are on vacation currently, this would take a while to be resolved. I spoke to Andrew about this, and we decided to "cover up" the bugs so that the usecases, and more importantly the KG integration, can be further tested by you.

D

[2019-08-14 13:56] alex4200 commented on #428
@appukuttan-shailesh Thanks for the info. Is it correct that the notebooks are mostly the same, and the Knowledge graph handling is done within a new version of hbp_validation_framework only?

[2019-08-14 14:09] appukuttan-shailesh commented on #428
Yes, that is true. And inside the notebooks this is employed by setting
`environment = "integration"` for the ModelCatalog and TestLibrary.

[2019-08-15 09:05] alex4200 commented on #428
@appukuttan-shailesh Currently I get a 500 error in the third cell for the `Basal Ganglia Morphology Validation` use case. Is there something not running?

[2019-08-15 09:47] alex4200 commented on #428
@appukuttan-shailesh In the `Basal Ganglia Morphology Validation` (and with a different test user) I now get an error in the cell after `Part 1: Hard Constraints Validation`:
[code]

[2019-08-15 12:00] Hjorthmedh commented on #378
Optimised a first version of the dynamical parameters for the synapses. Working on a second iteration - need to set the scale of the conductance properly.

Updated the code base so that the network can support different dynamics for different synapses. There is now a parameterID for each synapse, which picks a model from a family of synapse models.

We will revisit the external synaptic input to t

[2019-08-16 10:20] appukuttan-shailesh commented on #428
I have fixed this now `Basal Ganglia Morphology Validation`. There was a new release of `NeuroM`, and so I had to pin the version. Should work now. Thanks.

[2019-08-16 13:14] appukuttan-shailesh commented on #428
Regarding `Basal Ganglia Morphology Validation`, can you send a screenshot and/or complete error message you get? I am unable to reproduce the error.

[2019-08-19 14:02] BerndSchuller commented on #460
hi Alex,
these kinds of errors tend to be somewhat hard to track, it appears to be a configuration issue at the CSCS site. I'll try and contact the CSCS administrator for the UNICORE services.

[2019-08-19 15:51] lbologna commented on #449
@appukuttan-shailesh, @apdavison thanks for the implementation of the downsampling factor

@alex4200, @SteMasoli I applied a factor (of either 2 or 3) to all the traces and the result seems to me a good compromise between image quality and loading time. No lag occurs anymore. Could you please have a look and see if this latest version is fine with you? If yes, I will move the live paper to product

[2019-08-19 17:05] SteMasoli commented on #449
@lbologna  @alex4200
I have randomly chosen the traces and i see some lag here and there.
Maybe is a problem of Firefox 68 engine. The tab, with a single active trace, takes over 550MB of memory.

[2019-08-21 07:53] genric commented on #448
Thanks @appukuttan-shailesh! I went a bit further and simplified it even more. I'll mail you the version which I can update the backend for. Let me know if you want to try it or we need to amend the design. Thanks!

[2019-08-22 14:02] appukuttan-shailesh commented on #448
Apart from the two models that Luca and Elisabetta provided, I created two dummy models for further testing and generalization of the format - one using templates and the other without. So four models have now been tested and implement the same interface, but with the capacity to handle different requirements. These examples can be found here:
https://github.com/appukuttan-shailesh/testData/raw/ma

[2019-08-22 14:27] appukuttan-shailesh commented on #448
@genric :
In terms of communication via the websockets, as per my current implementation, the following commands are being sent:

**Model to Frond-End**
1) `setfields`
2) `setgraph`

**Frond-End to Model**
1) `setfields`
2) `run_simulation`

`setfields` corresponds to `set_params` in the e.g. that you emailed.

[2019-08-22 14:52] genric commented on #448
I'm a bit confused how BlueNaaS fits into the picture with these type of models. Because they are not models in my understanding but the full blown web applications. I thought the idea was to have pure, model related code and use it in as-a-service infrastructure. So common things such as compiling mod files or handling serialization/deserialization of websocket messages can be provided by as-a-se

[2019-08-22 15:03] appukuttan-shailesh commented on #448
I think @lbologna would be better placed to answer this.

Currently, as you have pointed out, they have been tailored to suit the model apps that Luca had provided along with the models. The examples provided above were only to illustrate how to streamline different modeling approaches to offer a standard interface (as implemented in `bluenaas_capabilities.py`) whereby BlueNaaS or other services (

[2019-08-23 09:49] lbologna commented on #448
Hello,
@appukuttan-shailesh we tested all the models and they work fine except for some small "tweaks" to be done on the labels/edits dimensions on the html pages (we can send you and email with some screenshots of how it appears on our screen if you want)
@genric after Shailesh's improvement about the generalization of the interface, we basically have what we had in mind at the beginning:
1) a mo

[2019-08-26 09:12] antonelepfl commented on #156
@romani79 Is there any update on this?

[2019-08-26 09:36] adamhospital commented on #408
https://collab.humanbrainproject.eu/#/collab/62174/nav/423317