[2017-09-26 13:18] alex4200 opened #1 "Test issue 1"
### Expected behavior

button red

### Actual Behavior

button is blue

### Steps to reproduce the problem

Click on button

### Optional infrastructural data (user, platform, browser, environment, ...)

Firefox

[2017-09-26 16:21] alex4200 commented on #1
This is a comment

[2017-09-29 09:02] alex4200 opened #2 "Authorize Screens are confusing"
When navigating in the BSP and opening some new pages/screens/use cases sometimes there is a screen asking for authorisation:

![approvalrequired](https://user-images.githubusercontent.com/12729291/31008505-a81521de-a504-11e7-8799-ef87fbf4fdab.png)

To me as user it is not clear what this means. What or whom do I authorise of what? To me it looks like that I am authorising myself.

It should be ma

[2017-09-29 09:06] alex4200 opened #3 "Section naming in the BSP Collab inconsistent"
Looking at the sections provided on the left hand side of the collab I see the naming

- inconcisely named (there is a link named 'Links to ...')
- the reading flow is somewhat not nice ('Online use cases' folder and 'model collabs' folder interrupted by 'Highly Integrated workflows'.

The left panel should be made more uniform. Suggestion:

[code]

I see the following advantages:

- Fewer Top Lev

[2017-09-29 09:11] alex4200 opened #4 "How to delete collabs?"
### Expected behavior

There is a simple way to delete a collab.

### Actual Behavior

There is NO obvious way to delete a collab.

There should be a way so unused collars can be removed

[2017-09-29 09:12] alex4200 opened #5 "Math rendering in collabs do not seem to work"
When I edit the 'Overview' in a collab, the math rendering does not seem to work. I still see the Latex form of an equation...

![mycollab_math](https://user-images.githubusercontent.com/12729291/31009251-1f0c19d0-a507-11e7-92b9-17c9dffeb609.png)

[2017-09-29 09:28] alex4200 opened #6 "Feature Extraction Guide Link does not seem to work"
### Expected behavior

When I click on the link in the Explanation page for mature Extraction, I am forwarded to a page explaining this use case in detail (or in a new window)

### Actual Behavior

I am being forwarded to the login page, and after login in I am forward to the same login page...

### Steps to reproduce the problem

![screen shot 2017-09-29 at 11 21 58](https://user-images.githubuse

[2017-09-29 09:38] alex4200 commented on #6
There was an login issue. The bug does not apply

[2017-09-29 09:38] #6 closed

[2017-09-29 09:46] alex4200 opened #7 "Link to the Neo library seems to be outdated or incorrect."
### Expected behavior

Clicking on the link to the Neo library opens the correct page

### Actual Behavior

404 Not Found

### Steps to reproduce the problem

![screen shot 2017-09-29 at 11 44 43](https://user-images.githubusercontent.com/12729291/31010590-aaa96e58-a50b-11e7-9ce2-fb005c8e6bb0.png)

### Optional infrastructural data (user, platform, browser, environment, ...)

Mac, Firefox

[2017-09-29 09:57] alex4200 opened #8 "Hard to distinguish and select features for the feature extraction"
On the feature selection page:

![screen shot 2017-09-29 at 11 55 28](https://user-images.githubusercontent.com/12729291/31011081-525f416c-a50d-11e7-99ec-2845f96e0d6f.png)

it is a bit hard to select the single features. They are hard to distinguish from each other. Maybe some space between each feature would help.

[2017-09-29 10:01] alex4200 opened #9 "No preview of 'grand means' provided as mentioned in the description"
### Expected behavior

A preview of grand means from the json file at the end of the use case, as described in the description:

![screen shot 2017-09-29 at 11 47 50](https://user-images.githubusercontent.com/12729291/31011257-e4636ae8-a50d-11e7-8cca-4c4af92b68cb.png)

### Actual Behavior

No such preview is visible

### Steps to reproduce the problem

Perform the whole use case

[2017-09-29 10:01] alex4200 commented on #1
Was a test issue

[2017-09-29 10:01] #1 closed

[2017-09-29 10:11] alex4200 opened #10 "What does "Storage" mean in a Collab?"
When clicking on "Storage" in a collab I am presented with a screen  have no idea what this is about. There is also no mention about "Storage" in the Overview documentation.

![screen shot 2017-09-29 at 12 07 07](https://user-images.githubusercontent.com/12729291/31011634-496c30a4-a50f-11e7-9b47-22f1a2531cd2.png)

Suggestion:

- Add small description in the Overview page
- Add some small hints in

[2017-09-29 11:24] jdcourcol commented on #4
This one has to be redirected to https://forum.humanbrainproject.eu/

[2017-09-29 11:24] jdcourcol commented on #5
for https://forum.humanbrainproject.eu/

[2017-09-29 11:25] jdcourcol commented on #2
I agree but it is for https://forum.humanbrainproject.eu/

[2017-09-29 11:25] jdcourcol commented on #10
this is for https://forum.humanbrainproject.eu/

[2017-09-29 12:39] alex4200 opened #11 "How to use own morphology in morph. analysis?"
When using the Jupiter morphology analysis, an example is given by using a morphology from without. But how to use my own morphology from within the collab storage, for example?

[2017-09-29 12:53] #4 closed

[2017-09-29 12:55] #10 closed

[2017-09-29 12:57] #2 closed

[2017-10-02 08:58] lbologna commented on #7
Broken link fixed

[2017-10-02 08:58] #7 closed

[2017-10-02 09:23] lbologna commented on #9
Experimentalists gave feedback as how the preview was not really helpful.
We removed the preview and left the link to all the entire set of results

[2017-10-02 09:23] #9 closed

[2017-10-02 14:57] alex4200 opened #12 "Use Case Name of "Synaptic events fitting""
### Expected behavior

When added to the Collab, the name should be the same

### Actual Behavior

When added to a Collab, it shows up as "Fitting GUI" and not as "Synaptic events fitting"

### Steps to reproduce the problem

Just add the use case to a new/old Collab

[2017-10-03 12:45] jdcourcol opened #13 "Configuring and running a hippocampus circuit simulation on Juqueen"
Acceptance criteria:
* the end user can select "target regions" to stimulate.
* the end user can configure the stimulus.(type of stimulus, parameter stimulus, duration, start time).
* the end user can select "target regions" to record from.
* the end user can configure how it records (variable name to record, duration, start_time )
* the end user can launch the simulation: he names the experiment,

[2017-10-03 12:56] jdcourcol opened #14 "Analyzing a simulation of an hippocampus circuit on Jureca"
Acceptance Criteria:
* The end user configures the analysis (plurals) he wants to run:
-  that can be a percentage of cells to visualize in the analysis
* The end user names the analysis job, define the project he wants to use, the number of nodes, if possible pre-filled based on the simulation configuration.
* Once started, he can see the status in the graphical user interface and access logs
* O

[2017-10-03 13:00] jdcourcol opened #15 "Visualizing a simulation of the hippocampus circuit from Jureca"
Acceptance criteria:
* The end user selects an existing terminated simulation experiment
* The end user clicks on a visualize button.
* The end user has to provide which project he wants to use
* A new tab should show the visualization application
* The end user can rotate and change the camera position

[2017-10-03 15:42] alex4200 opened #16 "Login to NSG is unclear in the use case "rebuild an existing single hippocampal cell model""
### Expected behavior

When clicking "Login NSG" on this use case there should be some indication whether the login succeeded or not.

### Actual Behavior

Click on "Login NSG" does not provide any feedback

### Steps to reproduce the problem

Follow the notebook until step 9

[2017-10-04 12:42] alex4200 opened #17 "Short documentation for Single Cell use cases"
Each notebook use case should have a brief documentation header to remind people on how to run this particular use case (Either to do "Run All", or run step by step etc), including a link to the relevant section of the Guidebook.

[2017-10-09 05:47] alex4200 commented on #5
Issue opened on the forum

[2017-10-09 05:47] #5 closed

[2017-10-10 05:36] alex4200 opened #18 "Python error in use case Synaptic Events Fitting."
### Expected behavior

No error when the job completes

### Actual Behavior

"No such file or directory" error when the job has finished.

### Steps to reproduce the problem

Follow the use case

### Optional infrastructural data (user, platform, browser, environment, ...)

![selection_030](https://user-images.githubusercontent.com/12729291/31370851-32f7eca0-ad8e-11e7-9f30-d398d143f2d5.png)

[2017-10-10 05:42] alex4200 opened #19 "Unclear situation when I start another job in Synaptic Events Fitting"
### Expected behavior

I expect to have only one image "job submitted"

### Actual Behavior

Once submitting a job again, I get another image of "job submitted". Because the button "Check NSG simulation " appears only later, how do I know which simulation this button now refers to?

### Steps to reproduce the problem

Start a job and after having finished, start another job

### Optional infrastru

[2017-10-10 05:45] alex4200 opened #20 "AttributeError when running use case "Rebuild an existing single hippocampal cell model""
### Expected behavior

No error

### Actual Behavior

AttributeError                            Traceback (most recent call last)
<ipython-input-3-dbf304d56262> in refresh(_)
    193     storage = get_bbp_client().document
    194     if storage.exists(get_collab_storage_path() + os.path.sep+ "BluePyOptAll"+os.path.sep+"resultsNSG"+os.path.sep+res.json()['username']):
--> 195         jobsstorage=s

[2017-10-10 05:49] alex4200 commented on #11
Not sure what this was about

[2017-10-10 05:49] #11 closed

[2017-10-10 06:04] alex4200 opened #21 "NameError for use case "Build your own single hippocampal cell model using HBP data""
### Expected behavior

No error while submitting a job in notebook "BluePyOpt Browse All"

### Actual Behavior

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-7-4b1637799f57> in runNSG(_)
     63
     64     global CRA_USER, PASSWORD, KEY, URL, TOOL
---> 65     CRA_USER = usernam

[2017-10-10 06:19] alex4200 opened #22 "Notebook instructions in "Cell placement - cerebellum" unclear"
### Expected behavior

Clear description on how to proceed / a way to follow just the notebook in a linear fashion

### Actual Behavior

User should 'reload' notebook. Save notebook first? Reload whole page? Frame reload?

![selection_035](https://user-images.githubusercontent.com/12729291/31371912-bcf68272-ad93-11e7-90cd-aa4ff904414f.png)

[2017-10-10 06:51] jdcourcol commented on #11
@alex4200 it is probably missing an example where the end user is using a morphology from neuromorpho.org or a morphology from his local file system

[2017-10-10 07:20] clupascu commented on #21
Have you clicked on Login NSG button before running NSG simulation?

[2017-10-10 07:26] alex4200 commented on #21
@clupascu: I am sure I have, but when repeating this use case it seems to work. Therefore, I close this issue for now...

[2017-10-10 07:26] #21 closed

[2017-10-10 09:27] alex4200 opened #23 "TEST ISSUE"
This is a test issue.

[2017-10-10 11:08] alex4200 opened #24 "NameError in use case "Optimize a cerebellar granule cell multicompartmental model with BluePyOpt running on NSG""
### Expected behavior

Use case goes through

### Actual Behavior

Name error after NSG simulation is complete:

[code]

And possible followup error (see second screenshot)

### Steps to reproduce the problem

Follow the use case

### Optional infrastructural data (user, platform, browser, environment, ...)

Firefox, NSG account

![selection_037](https://user-images.githubusercontent.com/12729291/

[2017-10-10 12:56] clupascu commented on #20
I fixed this. Can you please test it again?
Thanks.

[2017-10-10 13:02] clupascu commented on #16
I added a pop-up window with an authentication message. It is just a message. If you provide wrong credentials, it does not prevent to click on Run NSG anyway.

[2017-10-10 13:22] clupascu commented on #12
I fixed this. Can you please test again?

[2017-10-11 10:06] alex4200 commented on #16
@clupascu: I think this simple text feedback makes the login much more transparent and useable...

[2017-10-11 10:06] #16 closed

[2017-10-11 11:15] alex4200 opened #25 "Unable to copy NSG result to Storage for "Rebuild an existing single hippocampal cell model""
### Expected behavior

When the NSG job has finished in 'NSG Manager' I expect to be able to copy the result to the storage

### Actual Behavior

The job has finished, but I am not able to click on the big right arrow button to move the result to the storage. The mouse cursor changes to a 'unavailable' symbol:

![symbol](http://www.rw-designer.com/cursor-view/83769.png)

### Steps to reproduce the

[2017-10-11 11:15] alex4200 commented on #20
@clupascu : This defect has been resolved, but another one appeared: #25

[2017-10-11 11:16] alex4200 commented on #20
Closing this one

[2017-10-11 11:16] #20 closed

[2017-10-11 11:17] alex4200 commented on #12
Retest ok

[2017-10-11 11:17] #12 closed

[2017-10-12 12:23] clupascu commented on #25
I fixed this. Can you test again please?
Thanks.

[2017-10-12 13:07] alex4200 commented on #25
@clupascu

Now this arrow was clickable, but I get other multiple errors when clicking the arrow or the refresh button (do not remember the order). When I completely reload the notebook AFTER the job has completed, the copy to the storage works.

Not sure if there was some 'hickup' before the job was finished, or something else, but here are the two errors I encountered before:

ValueError

[2017-10-12 13:13] clupascu commented on #25
Can you try again everything from the beginning in a new collab with an empty storage? It should work. Please report only one error at a time. It was not clear to me what you have done.

Thanks.

[2017-10-12 13:15] alex4200 commented on #25
I will redo the whole analysis tomorrow...

[2017-10-12 13:20] alex4200 opened #26 "500 error for Analysis stage for "Rebuild an existing single hippocampal cell model""
### Expected behavior

I am able to view the analysis from the Storage.

### Actual Behavior

I get a 500 Internal server error (see screenshot). Using files from GitHub works.

### Steps to reproduce the problem

Run the complete analysis, and in the last notebook 'BluePyOpt Analysis' select 'Storage' and wait until the graph shows up and the button 'View analysis' becomes clickable. Then click o

[2017-10-13 06:34] clupascu commented on #18
I fixed this. Now I check if the output file test.csv has been created on NSG before trying to transfer it to the kernel. Please test again.

Thanks.

[2017-10-13 06:36] clupascu commented on #19
I fixed this. I disabled the "Run NSG simulation" button, while a job is still running. Please test again.

Thanks.

[2017-10-13 06:41] clupascu commented on #18
When testing select the demo radio button. It is very quick.

[2017-10-13 08:14] clupascu commented on #26
Can you add me as a member of this collab so that I can take a look at the storage?

[2017-10-13 09:08] alex4200 opened #27 "OSError when Saving again in "Rebuild an existing single hippocampal cell model""
### Expected behavior

I can change the parameters for the simulation even after I have clicked on "Create zip file".

### Actual Behaviour

Once I save the new parameters and create the zip file, clicking on "save new parameters" results in the following error:

---------------------------------------------------------------------------
OSError                                   Traceback (most re

[2017-10-13 10:05] alex4200 commented on #25
Original error is fixed, thanks

[2017-10-13 10:05] #25 closed

[2017-10-13 11:35] clupascu commented on #27
I disabled the buttons after you clicked once to prevent mistaken clicks. Test again please.
Thanks.

[2017-10-13 12:14] alex4200 opened #28 ""Synaptic Events Fitting": Unable to select NIP data"
### Expected behavior

When starting the use case I expect to see the selectable experimental data.

### Actual Behavior

The description of the experimental data is too log to be shown in the browser window, vanishing into the right side of the collaboratory framework. I cannot read the complete description, see screenshot.

Workaround: Leave full-screen mode, shift browser window to the left, ex

[2017-10-13 12:25] alex4200 opened #29 ""Synaptic Events Fitting": Text box too small"
### Expected behavior

Text fits in box, or box is large enough for the text

### Actual Behavior

Text overlaps the text box

### Steps to reproduce the problem

Just follow the use case in google chrome. Firefox it works fine.

![screen shot 2017-10-13 at 14 22 42](https://user-images.githubusercontent.com/12729291/31546113-490cb21e-b022-11e7-9242-51d77ba85c78.png)

[2017-10-13 12:26] alex4200 commented on #26
@clupascu  Added you to collaboration "Restest25b"

[2017-10-13 12:33] clupascu commented on #26
I checked out the storage. The checkpoints folder inside the output.tar.gz file is empty. I am thinking now on how to give a feedback to the user in this case.

[2017-10-13 13:40] clupascu commented on #26
I added feedback when the checkpoints folder is empty. Can you please test again?
Thanks.

[2017-10-13 14:39] alex4200 commented on #19
Seems ok now. Thanks

[2017-10-13 14:39] #19 closed

[2017-10-13 15:08] alex4200 opened #30 ""Synaptic events fitting": Unable to select data"
### Expected behavior

Able to select experimental data

### Actual Behavior

Not able to select. Nothing happens (_in most cases_, i.e. when using the same use case in a new collaboration). Sometimes to works as expected...

### Steps to reproduce the problem

- Select "Synaptic Events Fitting" in der BSP
- Create a new collaboration (e.g. Retest18e)
- Select "Run all" for the notebook
- Select a

[2017-10-16 06:30] alex4200 commented on #27
@clupascu : Ok seem to work, thanks.

[2017-10-16 06:30] #27 closed

[2017-10-16 07:10] alex4200 commented on #18
Ok, seems to be fixed, thanks.

[2017-10-16 07:10] #18 closed

[2017-10-16 07:27] alex4200 opened #31 "TypeError when using 'Storage' data in "Synaptic events fitting""
### Expected behavior

See the results table of the finished simulation

### Actual Behavior

Python error:
[code]

### Steps to reproduce the problem

Select a model, choose the 'demo' trace, start the simulation until it has finished. Then choose "Select data" from storage and select "Result table"

### Optional infrastructural data (user, platform, browser, environment, ...)

FF

![selection_04

[2017-10-16 07:43] alex4200 opened #32 "Error for analysis in use case "Rebuild an existing single hippocampal cell model""
### Expected behavior

I am able to view the analysis from the Storage.

### Actual Behavior

I get an error because some directories do not seem to exist in a folder (directory 'OUTPUTBPOPT' and subfolder; see function runanalysis2. Actual error:

[code]

### Steps to reproduce the problem

Run the complete analysis, and in the last notebook 'BluePyOpt Analysis' select 'Storage' and wait until th

[2017-10-16 07:44] alex4200 commented on #26
Solved

[2017-10-16 07:44] #26 closed

[2017-10-16 08:06] SelezioneCasuale commented on #23
Test comment

[2017-10-16 08:29] lbologna opened #33 "eFEL GUI: data filtering based on Contributors"
### Expected behavior
Filter electrophysiology data based on the contributors

### Actual Behavior
Not Implemented

### Optional infrastructural data (user, platform, browser, environment, ...)
Data on platform

[2017-10-16 08:37] lbologna opened #34 "Documentation for Validation Service"
### Expected behavior
User's documentation for Validation Service integrated in the BSP's guidebook

- [x] [Model Catalog app in Guidebook](https://lbologna.github.io/hbp-sp6-guidebook/reference/model_catalog.html)
- [x] [Python client standalone documentation](http://hbp-validation-client.readthedocs.io)
- [x] Python client in Guidebook
- [x] Model Validation app in Guidebook
- [x] REST API stand

[2017-10-16 08:41] lbologna opened #35 "Adapt optimized models to work with SciUnit"
### Expected behavior

### Actual Behavior

### Steps to reproduce the problem

### Optional infrastructural data (user, platform, browser, environment, ...)

[2017-10-16 08:49] lbologna opened #36 "Hodgkin-Huxley Neuron Builder - CDP2-P1: move to production server"
### Expected behavior
Hodgkin-Huxley Neuron Builder working on production

[2017-10-16 08:59] lbologna opened #37 "Basal Ganglia notebook: error in penultimate line (opt.run(max_ngen=10,....)) [Johannes]"
### Expected behavior

### Actual Behavior
Error raised:
[code]

### Steps to reproduce the problem
Run the notebook

[2017-10-16 09:07] lbologna opened #38 "Hodgkin-Huxley neuron builder: documentation in guidebook"
### Expected behavior
CDP2-P1 documentation inserted in BSP-Guidebook

### Actual Behavior
Documentation not present

[2017-10-16 09:08] lbologna opened #39 "basal ganglia use cases in the guidebook [Johannes]"
### Expected behavior
Documentation in BSP-Guidebook

[2017-10-16 09:11] lbologna opened #40 "Adding scaffolding model for Striatum to notebook. BLOCKING ITEM: python module mpi4py missing on collab's servers"
### Expected behavior
Notebook working in the Collaboratory

### Actual Behavior
Notebook works locally. BLOCKING ITEM:   python module mpi4py missing on collab's servers

[2017-10-16 10:27] clupascu commented on #31
Can you add me as a team member of this collab? I have to take a look at the storage.
Thanks.

[2017-10-16 10:33] clupascu commented on #32
Can you add me as a team member of this collab? I need to take a look at the storage.
Thanks.

[2017-10-16 11:05] alex4200 commented on #32
@clupascu : Added you; its collab "Retest27a "

[2017-10-16 11:29] clupascu commented on #32
Ok. There is nothing actually to analyze in the storage. I will modify the code in order to give some feedback in this case.

[2017-10-16 11:35] alex4200 commented on #31
@clupascu : I invited you to collab Retest31a

[2017-10-16 14:49] clupascu commented on #32
I fixed this. Can you please test again?
Thanks.

[2017-10-16 15:16] alex4200 commented on #32
@clupascu : So now I get a popup saying "No pkl file in the checkpoints folder". I have no idea what it means. I just did the calculations, and now I have no results? Nothing to analyse? I am a bit confused...

[2017-10-16 15:43] clupascu commented on #32
So in the storage of the collab you shared with me (Retest27a) you had no directory called BluePyOptOne, hence no optimization was runned before in this collab. Hence when you click on Storage no folder is displayed and no morphology is displayed. When you click on View analysis button you are supposed to get a popup saying "No optimizations to analyse" as in fact there is no optimization to analy

[2017-10-16 16:34] clupascu commented on #31
I fixed this. Can you please test again in a new collab?
Thanks.

[2017-10-17 07:28] alex4200 commented on #32
@clupascu : Did you remove the notebook for "Analysis" in the collab "Retest27a"? Seems to have vanished...

[2017-10-17 07:30] alex4200 commented on #32
@clupascu I still do not understand. Why do I run the calculation (the one started in "BluePyOpt One")? What is this calculation for? Where can I see the results? And why can I select "GitHub" optimizations? And what is an optimization? Maybe we should have a short skype call...

[2017-10-17 11:56] alex4200 opened #41 "Unsymmetric Loading gif for "feature_extraction""
### Expected behavior

The loading wheel is symmetric

### Actual Behavior

The loading wheel woobles

### Steps to reproduce the problem

Just follow the example steps, its the screen just before the results are ready to be downloaded.

### Optional infrastructural data (user, platform, browser, environment, ...)

Firefox

![selection_049](https://user-images.githubusercontent.com/12729291/316635

[2017-10-17 13:42] alex4200 commented on #31
@clupascu: Does not work, there is still some error:

![selection_050](https://user-images.githubusercontent.com/12729291/31668198-cb714fda-b351-11e7-8dc5-c78afdf8e403.png)

[2017-10-20 13:45] alex4200 commented on #40
@lbologna : Can you give details why you need that module on the collaboratory?

Are you asking for it to be installed as a simple 'pip install mpi4py' will run into errors?

Thanks
Alex

[2017-10-20 16:54] jdcourcol commented on #40
it seems strange to require mpi in a collaboratory jupyter kernel.
I think this is for Hjorth not @lbologna

[2017-10-22 15:35] SteMasoli commented on #24
The missing best.txt is the file with the result generated by the optimization.
The error is linked to the fact that the optimization was not yet finished, or the file not retrieved from NSG and so the script does not find the correct file to do the simulation and visualization of the best result.

[2017-10-23 06:19] alex4200 commented on #24
@SteMasoli : But in the notebook it says "completed"...

[2017-10-23 07:53] Hjorthmedh commented on #40
This has been resolved.

[2017-10-23 08:00] #40 closed

[2017-10-23 08:02] Hjorthmedh commented on #37
This error does not materialise for me. Basically it comes down to nrnivmodl not being run to compile the modules needed by neuron, which is strange. How persistent is the environment between different notebooks for different users vs for the same user?

[2017-10-23 09:26] alex4200 commented on #37
@Hjorthmedh: I just retested this notebook, and I see the same error.

[2017-10-23 09:48] jdcourcol commented on #22
investigate to be installed by default.

[2017-10-23 10:58] clupascu commented on #29
I checked this and when the jupyter notebook frame is maximized it works fine. We should specify in the guidebook that the graphical user interface is better displayed with the jupyter notebook frame maximized and with the web browser window maximized too.

[2017-10-23 10:59] clupascu commented on #28
The browser window and the jupyter notebook frame should be maximized.

[2017-10-24 15:07] alex4200 commented on #37
@Hjorthmedh: New notebook seems to work, runs all the way through. Closing this ticket!

[2017-10-24 15:07] #37 closed

[2017-10-25 05:22] alex4200 commented on #29
@clupascu  Although I selected the notebook frame and maximized it on my screen I still cannot see the whole text for some data:

![selection_056](https://user-images.githubusercontent.com/12729291/31981703-3ee1efc0-b955-11e7-8483-f9f8cf724df0.png)

[2017-10-25 05:23] alex4200 commented on #28
@clupascu Although I selected the notebook and the frame and maximized it, I still cannot see some of the data:

![selection_056](https://user-images.githubusercontent.com/12729291/31981746-6f13581e-b955-11e7-919f-80733d9a76c6.png)

[2017-10-25 11:42] #36 closed

[2017-10-26 05:46] alex4200 commented on #30
Rechecked this issue, seems no longer to be present... Closing issue

[2017-10-26 05:46] #30 closed

[2017-10-26 13:47] lbologna opened #42 "Server error when loading efel GUI from Hodgkin-Huxley neuron builder web app"
### Expected behavior
Page to be loaded correctly

### Actual Behavior
Occasional crashing of the page with Server Error message

### Steps to reproduce the problem

### Optional infrastructural data (user, platform, browser, environment, ...)

[2017-10-27 06:15] alex4200 commented on #42
@lbologna: Could you give some steps to reproduce this problem? Is it a use case you refer to?

[2017-10-27 07:54] lbologna commented on #42
The problem does not always rise, actually quite rarely, so the steps to reproduce it are not clear.
I am parsing the log files and it seems that the bug depends on the token lifetime: but this is still under investigation.

I will update the issue status as soon as the reasons are clarified.

[2017-10-27 09:40] alex4200 opened #43 "Error when checking NSG simulation in "Synaptic events fitting"."
### Expected behavior

I am able to check the NSG simulation

### Actual Behavior

[code]

![screen shot 2017-10-27 at 09 31 57](https://user-images.githubusercontent.com/12729291/32097931-610f47b6-bb0b-11e7-94d4-09a7e926adab.png)

### Steps to reproduce the problem

 - I selected some data, log in to NSG, selected ‘demo’ the click on  “Run NSG simulation”.
 - Then I click several times on "check

[2017-10-27 12:35] clupascu commented on #43
I removed the error display by adding a pop-up window with a message. Please test again.

[2017-10-27 12:36] clupascu commented on #31
I solved this by checking experimental file and configuration file choice and I give a simple text feedback to the user. Please test again.

[2017-10-30 09:18] lbologna opened #44 "eFEL GUI: give user the possibility to upload multiple cell files"
### Expected behavior
The user can upload multiple files concerning the same cell

### Actual Behavior
Not implemented

### Optional infrastructural data (user, platform, browser, environment, ...)
user's .abf files

[2017-10-30 09:21] lbologna opened #45 "Add Allen Institute traces to eFEL GUI"
### Expected behavior
User can select traces from the Allen Institute's dataset

### Actual Behavior
Not implemented

[2017-10-30 09:25] lbologna opened #46 "Add Terms&Conditions page for all Use Cases using exp data"
### Expected behavior
User is prompted a T&Cs page when clicking on use cases for cloning, so that she/he accepts the conditions for using/citing the data (mostly relevant for Jupyter notebooks)

### Actual Behavior
Not implemented

### Steps to reproduce the problem

### Optional infrastructural data (user, platform, browser, environment, ...)
Use a common database for storing access but give the

[2017-10-30 09:48] antonelepfl commented on #22
Based on the nb-extensions webpage, they say that we need to reload the page

(https://github.com/ipython-contrib/jupyter_contrib_nbextensions/wiki/Home-4.x-%28Jupyter%29)

I talked with the collab team and they are loading some nb-extensions in the kernel so the user don't have to install it, just use it.
The thing that I don't like is that we need to install it for EVERY user in the kernel and I

[2017-10-30 09:57] alex4200 commented on #22
But if an user decided to run this particular workbook and installs these extensions, he will have it anyway in EVERY collab he creates from then on. Every new collab he crated or he uses will have this extension ...

But basically I agree. Only a minimum set of packages should be installed for a user in the first place...

[2017-10-30 10:20] SteMasoli commented on #24
I tested it on two different PCs, both linux and windows, and always stuck itself on "submitted" with no changes even after waiting for two hours. This was not the case back in May and June.
On my request, the usecase is now offline from the BSP.

[2017-10-30 10:22] alex4200 commented on #24
@SteMasoli: Yes, there is an issue with NSG itself currently. Maybe Carmen @clupascu  can comment  on it in the meeting in 5 minutes...

[2017-10-30 11:08] antonelepfl commented on #24
By the request of @SteMasoli I removed this use case.

[2017-10-30 15:29] alex4200 opened #47 "Review: Guidebook for Feature Extraction"
I made a first review of the documentation for "Trace Analysis" available on the Guidebook in the BSP at https://collab.humanbrainproject.eu/#/collab/1655/nav/18580.

Generally, the documentation seems to be well written and explains the use case workflow really good and precise; however I found some typos and some minor points (see screenshot):

1. The first paragraph in "HBP database" is not qui

[2017-10-30 17:04] alex4200 opened #48 "Results empty for Synaptic events fitting?"
### Expected behavior

To see some results at the end of the use case

### Actual Behavior

No error, but the results (table, boxplots) are empty:

![selection_063](https://user-images.githubusercontent.com/12729291/32184441-86a3d288-bd9c-11e7-8689-b72ffac1d29a.png)

### Steps to reproduce the problem

Following the usecase:

1. Select some data
1. Select NSG
1. Select the 'demo'
1. Login to NSG
1

[2017-10-30 17:05] alex4200 commented on #43
@clupascu Seems to work now. Closing issue

[2017-10-30 17:05] #43 closed

[2017-10-30 17:06] alex4200 commented on #31
@clupascu : After clarification no error anymore.

[2017-10-30 17:06] #31 closed

[2017-10-31 06:14] clupascu commented on #48
Can you add me to the test collab as a team member? I believe the fitting finished but the trace you choosed was not fitted (because the error exceeded the threshold), so the file test.csv is empty. If you want I can give a feedback to the user also in this case.

[2017-10-31 07:23] alex4200 commented on #48
@clupascu I added you. Its collab "Retest43a".

[2017-10-31 10:13] alex4200 opened #49 "NSG login boxes are misaligned"
### Expected behavior

Input boxes are aligned

### Actual Behavior

Input boxes are misaligned

![selection_064](https://user-images.githubusercontent.com/12729291/32218812-72c35488-be2c-11e7-8d6e-e7de4c303536.png)

### Steps to reproduce the problem

- Select the use case
- Select the notebook NSG Job Manager and run the cells

### Optional infrastructural data (user, platform, browser, environm

[2017-10-31 12:38] alex4200 opened #50 "No NSG login feedback."
### Expected behavior

Feedback/popup when login to NSG

### Actual Behavior

No popup or feedback.

### Steps to reproduce the problem

Run the notebook (Run all), and log in to NSG with either correct or incorect password.

### Optional infrastructural data (user, platform, browser, environment, ...)

[2017-11-01 06:07] alex4200 commented on #48
Solution: Take model 'B4' to get some results.

[2017-11-01 06:07] #48 closed

[2017-11-01 06:13] alex4200 commented on #28
Unable to reproduce this issue...

[2017-11-01 06:13] #28 closed

[2017-11-01 07:24] alex4200 opened #51 "Json error, probably transient NSG query issue"
### Expected behavior

Json error to be handled smoothly

### Actual Behavior

Error message printout

![selection_066](https://user-images.githubusercontent.com/12729291/32264181-b5dd7508-bedd-11e7-8f4f-51519ccac508.png)

### Steps to reproduce the problem

Start a job for the use case "Rebuild an existing hippo. cell model", and run the notebook "Job Manager". Check the status repeatedly.

My gu

[2017-11-01 08:00] clupascu commented on #51
This is a collab storage problem. I reported the problem to the collab platform team. It happens sometime, not very often, but they don't know how to solve it yet. I will see if I can reproduce it and give feedback to the user. Let's hope that the collab team will solve the problem though.

[2017-11-01 08:07] alex4200 commented on #22
Suggestion for a better text:

### Important step
Having arrived here, please restart the kernel (by clicking on the notebook reload icon) and continue executing the cells below.

[2017-11-02 13:20] alex4200 commented on #35
@apdavison : Can you please give some feedback if this is already done, or by when you think you can finish this task?

[2017-11-02 13:20] alex4200 commented on #35
@apdavison : Can you please give some feedback if this is already done, or by when you think you can finish this task?

[2017-11-02 13:24] alex4200 commented on #34
@apdavison : Do you know when you can finish this task?

[2017-11-04 16:10] apdavison commented on #35
I believe this is done. @appukuttan-shailesh can you give the details?

[2017-11-04 16:12] apdavison commented on #34
The end of November seems like a reasonable target.

[2017-11-04 16:35] #24 closed

[2017-11-04 21:15] appukuttan-shailesh commented on #35
I believe we are referring here to running validation tests on optimized hippocampal models. This has been completed a while ago (pending feedback for changes/enhancements), and can be [found here](https://github.com/apdavison/hippocampus_CA1_pyramidal). There are two ways of running the tests:

1. [Specifying a directory containing multiple optimized models as .zip files](https://github.com/apdav

[2017-11-06 07:27] antonelepfl commented on #22
@alex4200 I don't think that only restarting the kernel fix the problem. I tried and it did not work.
IMHO I think this issue should be closed because it is a limitation of the technology used and not the way that we develop the Notebooks.

[2017-11-06 09:42] #23 closed

[2017-11-06 09:56] lbologna commented on #8
This should be fixed now. Would you check again please?
Thanks

[2017-11-06 09:58] lbologna commented on #41
This should be fixed now. Would you check again please?
Thanks.

[2017-11-06 10:10] alex4200 commented on #41
@lbologna: Hi Luca, has there been a change in the GUI? The title section seems to have changed, which leads to new issues:

![selection_067](https://user-images.githubusercontent.com/12729291/32436032-0b7763a8-c2e3-11e7-94e4-2bd33a58618d.png)

[2017-11-06 10:11] alex4200 commented on #8
Yes that better I would say...

[2017-11-06 10:11] #8 closed

[2017-11-06 10:27] lbologna opened #52 "Compare features from your traces with those in NIP (waiting for NIP)"
### Expected behavior
Compare features from your traces with those in NIP

### Actual Behavior
Not implemented

### Steps to reproduce the problem

### Optional infrastructural data (user, platform, browser, environment, ...)

[2017-11-06 13:36] alex4200 opened #53 "New title GUI element overlaps"
### Actual Behavior

New title element is overlapping other elements. On the feature selection page I am not able to click the tab "Spike events features" (see screenshot).

![selection_067](https://user-images.githubusercontent.com/12729291/32443455-6131289e-c2ff-11e7-8267-0b62e10e0bc6.png)
![selection_068](https://user-images.githubusercontent.com/12729291/32443457-61491896-c2ff-11e7-8823-89d172

[2017-11-06 14:44] alex4200 opened #54 "Naming of use case for Basal Ganglia"
When selecting the use case it is named:

"Optimise a fast spiking interneuron in the Basal Ganglia"

but when the notebook is added to a collab the name is

"FS-notebook".

I suggest to name the not book the same or similar to what the use-case is named. And maybe the use-case name can be modified/shortened?

[2017-11-06 16:26] alex4200 commented on #17
@clupascu: Suggestion for your notebooks: Because they need to be "Run All" at the beginning, I suggest to insert a cell at the very top with the following Markdown, to make it clear the user has to 'run all' first, and why. This affects three use cases in "Trace Analysis" and two in "Single Cell Building"...

## Important note

Before executing this use case, please run all cells of this notebook

[2017-11-06 17:09] alex4200 opened #55 "Simulation UI: Link to documentation"
A link to the documentation of this use case would be helpful.

[2017-11-06 17:11] alex4200 opened #56 "Simulation UI:: User input check"
I am able to select negative duration and enter characters in the time fields, and able to start the simulation:
![selection_052](https://user-images.githubusercontent.com/12729291/32453892-db30a00c-c31d-11e7-8fd6-2c726ef076f6.png)

[2017-11-06 17:12] alex4200 opened #57 "Simulation UI: Dynamic feedback"
When changing the value of "Duration", the GUI reacts immediately.

However, when editing it in the popup of the edit field, I have to save it first. The GUI does NOT react immediately.

[2017-11-06 17:13] alex4200 opened #58 "Simulation UI: User info regarding mouse interaction."
I like the possibility to zoom in and out with the mouse and to drag/ change length of the stimuli. Maybe this feature could be mentioned somewhere on the page (like "Use mouse to move stimuli and zoom").

[2017-11-06 17:14] alex4200 opened #59 "Simulation UI/ Reports page: Nomenclature"
The letter 'v' seems a bit strange at first for a report, but its clear when edit a report and see that this refers to a NEURON variable. Maybe it can be mentioned somewhere (e.g. "Controls NEURON data collection during the simulation"?)

[2017-11-06 17:16] alex4200 opened #60 "Simulation UI/ Reports page: Hover texts for edits"
When hovering the mouse over the items to edit:

- Target hover text reads "Defines what is to be reported". I would rather say that this defines the region _where_ things are reported from, but not _what_...
- Type hover text: Not clear to me what the text means.

[2017-11-06 17:17] alex4200 opened #61 "Simulation UI/Report page: Input check for 'ReportOn'"
Report: I guess you can any characters for 'ReportOn'? Or even html code?
<img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">

![selection_055](https://user-images.githubusercontent.com/12729291/32454177-bd7a3ec8-c31e-11e7-9bb1-f07c610607cd.png)

[2017-11-06 17:18] alex4200 opened #62 "Simulation UI / Reports page:"
In value validation; negative values should be rejected...

[2017-11-06 17:19] alex4200 opened #63 "Simulation UI"
When the property to record is voltage (v), how can it be recorded in units on nA? Voltage is not current...

[2017-11-06 17:19] alex4200 opened #64 "Simulation UI"
Is it wanted to have a mouse-hover text when hovering over a report, but none when hovering over a stimuli? And does the displayed value of 'dt' and 'compartment' make sense?

[2017-11-06 20:13] clupascu commented on #32
I tested again this use case. I selected the first model Rat > Hippocampus > CA1 > interneuron >
bAC > 011017HP2. I clicked on Create zip file and then I setted number of nodes to 2, number of cores to 10 and runtime to 1. The job completed and inside the checkpoints folder I find the checkpoint.pkl file. Everything ended in less than 3 hours. My test collab is BSP_rebuild_06_11_2017_Carmen2. I ad

[2017-11-06 20:30] clupascu commented on #51
The collab team claim there was an issue with how this particular json file was deployed on the hosting web server, which may have been the source of the problem. They now fixed this issue, and they ask us to report problem to them if we still encounter it. On the other side they will make changes in the client library to handle this situation better. Can you try to reproduce the issue again pleas

[2017-11-07 13:05] clupascu commented on #50
I fixed this. Can you please check again? Thanks.

[2017-11-07 13:06] clupascu commented on #49
I fixed this. Can you please check again? Thanks.

[2017-11-07 13:52] alex4200 commented on #51
I tested it by clicking 20 times the reload button, and the issue did never appear again. Solved on the 95% level...

[2017-11-07 13:52] #51 closed

[2017-11-07 13:52] alex4200 commented on #32
@clupascu: Investigation started in Collab "TestReb2"

[2017-11-08 06:59] alex4200 commented on #32
@clupascu : Finally I got a file in 'checkpoints'. Unfortunately, I got a 'server error' after having clicked on 'View Analysis'... I repeated it, but got the same error.

I invited you to that collab.

[2017-11-08 07:50] alex4200 commented on #49
Looks good

[2017-11-08 07:50] #49 closed

[2017-11-08 08:24] alex4200 commented on #50
Yes fixed

[2017-11-08 08:24] #50 closed

[2017-11-08 13:05] clupascu commented on #32
I get the same server error. It is an error caused by the pdf display. It happened in the past too. I think the collab update caused this error again. I will report it to the collab team.

[2017-11-08 14:12] alex4200 commented on #32
Thanks...

[2017-11-09 09:59] alex4200 opened #65 "Login NSG error."
### Expected behavior

Login to NSG works as in other use cases

### Actual Behavior

When clicking on  "Login NSG" I see the popup with an error "NameError: name 'checkloginNSG' is not defined"

![selection_072](https://user-images.githubusercontent.com/12729291/32599465-ebbb22dc-c53c-11e7-986f-0106bc184959.png)

### Steps to reproduce the problem

Just try to log in

### Optional infrastructural

[2017-11-09 14:27] clupascu commented on #65
I fixed this. Can you test again please? Thanks.

[2017-11-10 07:55] alex4200 opened #66 "User documentation missing from Guidebook on the brain simulation platform."
User Documentation missing from Guidebook on the brain simulation platform.

[2017-11-10 07:56] alex4200 opened #67 "User documentation missing from Guidebook on the brain simulation platform."
User documentation missing from Guidebook on the brain simulation platform.

[2017-11-10 08:58] antonelepfl commented on #13
This should be Juron now?
I tried this morning but I received an error like:

Xlogin: uid: [], gids: [addingOSgroups: true]
Role: anonymous: default role
Security tokens: User name: CN=Stefano Antonel 302505,O=HBP
Delegation to consignor status: true, core delegation status: false
Message signature status: UNCHECKED
Client's original IP: 128.178.97.34 Please check your security setup!

@jdcourcol

[2017-11-10 09:25] mmigliore commented on #13
Are you sure that it is Juron the machine you want to use?
The hippocampus is installed on Julia
Michele

antonelepfl <notifications@github.com> ha scritto:

[2017-11-10 12:44] antonelepfl commented on #57
I think this issue is minor and the resolution will take too much time. Due it is not an essential issue that blocks the user to proceed, I propose to close it.

[2017-11-10 12:44] #57 closed

[2017-11-10 12:58] antonelepfl commented on #60
Something like `Defines the region from where the data will be reported` is right?

[2017-11-10 13:00] antonelepfl commented on #60
For the Type currently we have

Probably Michele or Armando should know how to make a better description

[2017-11-10 13:01] antonelepfl commented on #61
For this I don't know the possible values to compare or filter.

[2017-11-10 13:02] alex4200 commented on #60
@antonelepfl I will clarify with Michele/Armando and come back to you

[2017-11-10 13:05] antonelepfl commented on #63
I don't know about this. I don't know if we can configure with different units in the simulator.

[2017-11-10 16:28] antonelepfl commented on #55
### Documentation
# Configure and Launch Simulations
This use case allows a user to configure and launch a simulaiton in Juliech infrestructure using [Unicore API](https://www.unicore.eu/).

### 1) Run Simulations
![run_simulation](https://user-images.githubusercontent.com/24406041/32667514-33e24938-c63b-11e7-842c-761b808b3fa7.png)
---

From the **top** you can configure:
![run_simulation_top](htt

[2017-11-13 07:32] antonelepfl commented on #55
@alex4200 Could you please have a look and give me feedback?

[2017-11-13 08:02] antonelepfl commented on #13
Ok so for the record: I asked Bernd (Juliech - unicore) about this issue and he has to map manually the user with new computers so he told me that so far each time that we apply for a new computer and we get this error we need to contact him. This is the 'normal' procedure so far.

[2017-11-13 08:04] alex4200 commented on #55
- First sentence:  simulaiton -> simulation; Juliech -> Juelich (or better Jülich)
- First sentence: Maybe some few phrases would help on what simulation is being started?
- Forward Skip: Suggestion: "Time length in milliseconds (ms) of running the simulation without stimulus and without reporting. This is to get the neuronal cells past any initial transience."
- View Simulations: capital 'F' ("Fr

[2017-11-13 08:51] antonelepfl commented on #22
@alex4200 Something like this you think is enough?
![screen shot 2017-11-13 at 09 50 21](https://user-images.githubusercontent.com/24406041/32716928-253daa52-c858-11e7-9e72-52c54ac750e0.png)

[2017-11-13 08:59] alex4200 commented on #65
@clupascu : It is fixed in the case "Synaptic events fitting with user model" but not in the case "Synaptic events fitting with user data"...

[2017-11-13 09:10] alex4200 commented on #22
@antonelepfl : Maybe explicitly mention "... brower page ..." so its clear to reload the browser page, and not the kernel. Also, is a standard "F5" page reload enough or does the user have to reload the page with "CTRL F5" (to force a cache refresh)?

[2017-11-13 09:43] antonelepfl commented on #22
With normal reload it should be fine.
I updated them could you test it please?

[2017-11-13 10:05] alex4200 commented on #56
Fixed

[2017-11-13 10:05] #56 closed

[2017-11-13 10:07] alex4200 commented on #64
Better now

[2017-11-13 10:07] #64 closed

[2017-11-13 10:42] alex4200 commented on #46
@jdcourcol clarification with Katrien

[2017-11-13 11:48] antonelepfl commented on #13
@jdcourcol So currently for the simulation we are sending a sh script with the following information
[code]

[2017-11-13 11:58] alex4200 commented on #41
Fixed

[2017-11-13 11:58] #41 closed

[2017-11-13 12:01] alex4200 commented on #29
Ok so far. We need to mention to maximise the notebook somewhere else...

[2017-11-13 12:01] #29 closed

[2017-11-13 13:07] alex4200 commented on #22
@antonelepfl: Much clearer, but one more suggestion:

"Please reload the brower page so the visualization extension is enabled - continue with the next step below"

to make clear to continue with the next step below.
Also: Why not put every command of the first 4 cells in one cell and add the '%%capture' magic so no logout is produced?

[2017-11-13 14:46] alex4200 opened #68 "Unable to load some models for NaaS"
### Expected behavior

Able to load every model

### Actual Behavior

Some models can be loaded, some cannot (Error: Model loading failed)

### Steps to reproduce the problem

Use case "_Single cell in silico experiments under current/voltage clamp_"

[2017-11-14 13:16] jdcourcol commented on #55
@antonelepfl can you put it directly in the Guidebook instead, as a PR ?

[2017-11-14 16:05] antonelepfl commented on #55
So the documentation was pull requested.
https://github.com/lbologna/hbp-sp6-guidebook/blob/00be04ae2378b75545a23eda2f49df8b10f4176b/source/online_usecases/small_circuit_in_silico_experiments/configure_launch_simulation_hbp_data/configure_launch_simulation_hbp_data.rst
Please feel free to give feedback

[2017-11-15 11:19] alex4200 commented on #68
@genric : Any news on that issue?

[2017-11-15 11:21] liesbethvanherpe commented on #68
Hi @alex4200, this is probably related to this issue: https://github.com/lbologna/bsp_data_repository/issues/23.

[2017-11-15 11:58] genric commented on #68
Yep, thanks @liesbethvanherpe.

[2017-11-15 12:32] alex4200 opened #69 "Rerunning NSG simulation on same notebook not handled gracefully"
### Expected behavior

Rerun the same notebook with modified input data etc.

### Actual Behavior

The second time I click on "Run NSG simulation" I get an OSError

### Steps to reproduce the problem

1. Choose exp file, model, Create config file
2. Login to NSG start simulation
3. Logout of Laptop/computer account
4. Click "Run NSG simulation" again

### Optional infrastructural data (user, platf

[2017-11-15 12:47] alex4200 opened #70 "TypeError when analysing results"
### Expected behavior

No error at all

### Actual Behavior

Type error. Some variables seem to be 'None'.

[code]
Very hard to debug error, because once you click again on the same button, you get a different error:

[code]
### Steps to reproduce the problem

Follow the use case with an exp file, an mod file, and 2 fitting parameters (synapse.tau1 and synapse.tau2 between 0 and 10). Select the da

[2017-11-15 15:12] alex4200 commented on #55
Some small remaining issues (until I am able to look at the whole use case):

- First sentence: infrestructure -> infrastructure
- In stimulations: synapseS -> synapses

[2017-11-15 15:41] alex4200 opened #71 "Server error displaying pdfs"
### Expected behavior

3 pdf files are being displayed

### Actual Behavior

500 Server error

### Steps to reproduce the problem

Follow the use case with the first model

Issue is related to #32.

[2017-11-15 15:42] alex4200 commented on #32
Original problem solved, followup error in ticket #71

[2017-11-15 15:42] #32 closed

[2017-11-16 11:48] clupascu commented on #70
can you point me to this test collab you created so that I can see what is inside output_... folders?
Thanks.

[2017-11-16 12:01] clupascu commented on #69
Actually you are not supposed to save the notebook before step3 Logout of Laptop/computer account. Every time you enter again you should run all cells again and have the clean graphical user interface again and be able to start from the beginning.

[2017-11-16 12:20] alex4200 commented on #70
@clupascu Added you to collab Test-A3-1

[2017-11-16 12:26] alex4200 commented on #69
@clupascu Then this issue related to issue #17 : It must be clearly stated in the top-level notebook cell how to run this use case (run all), and that you have to stay connected until this use case has finished.

Can you add such a README cell to the notebook?

Thanks

[2017-11-17 10:08] alex4200 opened #72 "Layer fact sheet L23 not shown"
- Start with entry page
- Click on 'connections'
- Click on the very left yellow vertical bar (L23)

Expected: graph shown
Observed: No graph
![selection_081](https://user-images.githubusercontent.com/12729291/32941874-8dba029c-cb87-11e7-88e9-bf87da39bf5f.png)

[2017-11-17 10:13] alex4200 opened #73 "What are the correct values?"
I see a discrepancy of how the values are presented between the old and new portal.

Old Portal:  total apical length    14,566 µm
New Portal: total apical length14566.33 µm

Maybe the comma in the old portal is a thousand-seperator? Needs to be clarified.

[2017-11-17 10:28] alex4200 opened #74 "New portal does no stay in selected choice."
When choosing "connections" or "synapse" on the top left and clicking around to see details of different layers, and you go back, the tab always changes back to "pathways".

Expected: You stay within the selected choice.

![selection_084](https://user-images.githubusercontent.com/12729291/32942735-29ceba36-cb8a-11e7-93ea-840545170460.png)

[2017-11-17 10:33] alex4200 opened #75 "Siginificant digits"
The number of digits shown should be reduced, like in the old portal.
The value of a synapse density written as  101313777.77778 does not make much sense. Better write it to something like 101'313'800. Much more readable (and shorter)

![selection_085](https://user-images.githubusercontent.com/12729291/32942914-b85d012c-cb8a-11e7-9883-0bda760b0529.png)

[2017-11-17 10:47] alex4200 opened #76 "Number of neurons not the same"
Is there a reason why the numbers of neurons for 'anatomy' and 'physiology' do not add up? Maybe there are unclassified neurons?

In this example the sum in "L2 anatomy" is 2415 whereas the sum in "L2 physiology" is 3369...

![selection_086](https://user-images.githubusercontent.com/12729291/32943648-16750686-cb8d-11e7-94f9-3102f8589522.png)

[2017-11-17 10:56] alex4200 opened #77 "Size indicators are missing"
In the new portal the graphical 'size indicators' are missing:

![selection_087](https://user-images.githubusercontent.com/12729291/32943964-2a9686a2-cb8e-11e7-8bf8-d400437a51ad.png)

Will they still be put in? I think its a good thing to have, as you can directly compare numbers...

[2017-11-17 13:31] #77 closed

[2017-11-17 13:32] #76 closed

[2017-11-17 13:33] #75 closed

[2017-11-17 13:34] #74 closed

[2017-11-17 13:34] #73 closed

[2017-11-17 13:35] #72 closed

[2017-11-20 07:22] alex4200 opened #78 "NSG Input boxed not aligned"
### Expected behavior

Input boxes aligned correctly

### Actual Behavior

Input boxes not quite aligned in the notebook "NSG Job Manager"

### Steps to reproduce the problem

Just "run all"

Chrome on Linux
![selection_088](https://user-images.githubusercontent.com/12729291/33006744-d4fe965e-cdcb-11e7-9b21-9487d9d57997.png)

[2017-11-20 08:22] lbologna commented on #53
This issue should be solved now. Could you check again please?

[2017-11-20 08:24] lbologna opened #79 "Insert FS-Interneuron Basal Ganglia notebook doc into the guidebook"
### Expected behavior
Documentation present in the guidebook

[2017-11-20 08:25] alex4200 commented on #53
Issue solved...

[2017-11-20 08:25] #53 closed

[2017-11-20 09:12] lbologna commented on #79
This documentation was added to the Guidebook. Would you please check that everything is working correctly? Thanks

[2017-11-20 12:40] jdcourcol opened #80 "Single cell optimization for neocortical model"
Deliver a single cell optimization done with bluepyopt consistent with current SP6 models for neocortical models.

[2017-11-20 12:40] jdcourcol commented on #80
Currently no neocortical models are available to reproduce with BluePyOpt

[2017-11-20 13:14] alex4200 commented on #39
Done, see #79

[2017-11-20 13:14] #39 closed

[2017-11-20 13:14] alex4200 commented on #79
Done, see also #39

[2017-11-20 13:14] #79 closed

[2017-11-20 16:48] apdavison opened #81 "Validation web service (REST API) with access control"

[2017-11-20 16:49] apdavison opened #82 "Collab app for model validation"

[2017-11-20 16:53] apdavison opened #83 "CDP2-P2: Single model benchmark and validation suite, first public release"
- [x] tag validation suite packages on Github
  - [x] Hippounit
  - [x] Cerebunit
  - [x] eFELunit
  - [x] Basalunit
  - [x] Morphounit
- [x] Software Catalog entries for each package
  - [x] Hippounit
  - [x] Cerebunit
  - [x] eFELunit
  - [x] Basalunit
  - [x] Morphounit
- [x] create [Collab](https://collab.humanbrainproject.eu/#/collab/8123/nav/61654) giving an overview of the validation suite

[2017-11-20 16:54] apdavison opened #84 "Point-and-click interface to run validation tests"

[2017-11-20 16:55] apdavison opened #85 "Migrate Model Validation service backend to KnowledgeGraph."

[2017-11-20 16:56] apdavison opened #86 "Add statistics gathering to Validation Service"

[2017-11-20 17:32] genric commented on #68
Should be fixed, please retest. Thanks.

[2017-11-20 17:50] clupascu commented on #78
I fixed this. Can you please test again? Thanks.

[2017-11-20 17:51] clupascu commented on #71
I fixed this. Can you please test again? Thanks.

[2017-11-20 17:55] clupascu commented on #70
I fixed this.  In the case the output folder has no txt or no csv file in it, an alert is displayed saying 'no txt or csv files in the output folder'. Can you please test again? Thanks.

[2017-11-20 17:55] clupascu commented on #65
I fixed this. Can you please test again? Thanks.

[2017-11-20 17:58] clupascu commented on #69
I inserted a markdown in the top-level notebook cell of all my usecases to clearly state how to run this use case (run all) and that you have to stay connected until this use case has finished. Please let me know if the text is clear. Thanks.

[2017-11-20 17:59] clupascu commented on #17
I inserted a markdown in the top-level notebook cell of all my usecases. Please let me know if the text is clear. Thanks.

[2017-11-21 07:35] alex4200 commented on #68
Yes seems to work now again.

[2017-11-21 07:35] #68 closed

[2017-11-21 07:46] alex4200 commented on #78
Fixed

[2017-11-21 07:46] #78 closed

[2017-11-21 08:01] alex4200 opened #87 "Syntax error in "Synaptic events fitting with user model""
There is a syntax error in this use case, cell 4: a missing bracket

Instead of
`copy2(os.path.join('..','transfer','fitness.py','fitness.py')`

if must be
`copy2(os.path.join('..','transfer','fitness.py'),'fitness.py')`

[2017-11-21 10:29] clupascu commented on #87
I fixed this. Can you please test again? Thanks.

[2017-11-21 12:38] alex4200 commented on #87
Ok fixed

[2017-11-21 12:38] #87 closed

[2017-11-21 12:52] alex4200 commented on #71
I still get a server error. Tested today 13:50 on notebook Test-C1-3, created new at 8:50 today. I added you

[2017-11-21 14:13] alex4200 opened #88 "Syntax error in Synaptic Ev Fitting with User Date Notebook"
Syntax error in notebook "Synaptic events fitting with user data".

line 177 , in function  "tabledata(_):"

`        copy2(conff,os.path.join('..','transfer/')`

should be

`        copy2(conff,os.path.join('..','transfer/'))`

[2017-11-21 14:23] alex4200 commented on #65
Yep fixed

[2017-11-21 14:23] #65 closed

[2017-11-21 14:24] alex4200 commented on #69
Very clear and precise, thanks

[2017-11-21 14:24] #69 closed

[2017-11-22 07:42] clupascu commented on #71
Now it should be fixed. Can you test again please? Thanks.

[2017-11-22 07:51] clupascu commented on #88
I fixed this. Can you please test again? Thanks.

[2017-11-22 08:42] alex4200 opened #89 "Cell Placement Hippocampus: Circuit placement save suggestion"
I have a suggestion for saving the cell placement at the end of the notebook, and to copy this file to the storage for the notebook so a user can download this file for his/her purposes:

[code]

[2017-11-22 08:43] antonelepfl commented on #55
The documentation was added to the Guidebook

[2017-11-22 08:43] #55 closed

[2017-11-22 09:28] alex4200 commented on #88
Ok

[2017-11-22 09:28] #88 closed

[2017-11-24 12:11] alex4200 commented on #22
@antonelepfl : Any update on this issue? Or do you disagree? If you agree, can you do it quickly so this issue can be closed...?

[2017-11-24 14:28] antonelepfl commented on #22
@alex4200 So I changed it could you please recheck it?

[2017-11-24 14:35] alex4200 commented on #22
perfect

[2017-11-24 14:35] #22 closed

[2017-11-26 21:46] lbologna commented on #38
The documentation has been added.

[2017-11-27 07:32] alex4200 opened #90 "Computer clusters to use"
In the use cases "Synaptic events fitting" currently the systems JURECA, MARCONI and NSG can be selected.
Is that the correct choice, or will that be changed to JURON, JULIA and NSG?

[2017-11-27 08:38] alex4200 commented on #71
The pdf's are now displayed correctly.

[2017-11-27 08:38] #71 closed

[2017-11-27 09:27] clupascu commented on #90
For now the systems JURECA, MARCONI and NSG can be selected. JUQUEEN will be added shortly. JULIA maybe in the future...

[2017-11-27 10:16] antonelepfl commented on #62
@alex4200 This one I think is implemented. Could we see together?

[2017-11-27 10:17] #61 closed

[2017-11-27 10:19] antonelepfl commented on #59
@alex4200 could we see together this one?

[2017-11-27 10:20] antonelepfl commented on #62
@alex4200 could we see this together?

[2017-11-27 10:45] #17 closed

[2017-11-27 12:15] alex4200 commented on #42
@lbologna Are there any updates on this issue? Do the problems still occur?

[2017-11-27 14:19] mmigliore commented on #3
ok, I agree. Please proceed to change the main menu.

[2017-11-27 14:35] alex4200 commented on #38
There are two small typos in the sentence "Upon successfull submission, the flag icon is changed and the submission button disactivated so as to forbid a second submission with the same workflow id (see figure below).":

- successfull -> successful
- disactivated -> deactivated

[2017-11-27 16:48] lbologna commented on #38
This should be fixed now. Would you please check again? Thanks

[2017-11-27 16:49] alex4200 commented on #38
Ok thanks!

[2017-11-27 16:49] #38 closed

[2017-11-30 08:26] alex4200 opened #91 "Optimization of CA3 cells (mouse)"
The task is to have a new model (for the CA3 region for mouse), for which electrophysiological data are required (from external sources).

Similar tasks: #92 #120

[2017-11-30 08:26] alex4200 opened #92 "Optimization of DG cells (mouse)"
The task is to have a new model (for the DG region for mouse and rat), for which electrophysiological data are required (from external sources).

Similar tasks: #91 #120

[2017-11-30 08:32] alex4200 opened #93 "add Werner L5PC's single cell optimization in BSP (non runnable for now)"

[2017-11-30 12:29] alex4200 opened #94 "User Documentation General"
Should the user documentation be put in extra document (like the [Guidebook](https://collab.humanbrainproject.eu/#/collab/1655/nav/185)) or put on the use case itself.

Example1: Guidebook for Trace Analysis / Feature Extraction  [HERE](https://collab.humanbrainproject.eu/#/collab/1655/nav/20838)
Example 2: Inside notebook for Morph. Analysis / Morph. Analysis [HERE](https://collab.humanbrainproje

[2017-11-30 12:32] alex4200 opened #95 "User Documentation: collab -> Collab"
On the user documentation for Morphology Analysis [HERE](https://lbologna.github.io/hbp-sp6-guidebook/online_usecases/morphology_analysis/morphology_analysis/morphology_analysis.html) I suggest to replace each occurrence of 'collab' by 'Collab' (as its more like a name of something).

[2017-11-30 12:37] alex4200 opened #96 "Model load error for certain models in Morph. Visualization"
### Expected behavior

Model can be loaded

### Actual Behavior

Error message screen

[code]

![selection_101](https://user-images.githubusercontent.com/12729291/33431127-795449b0-d5d3-11e7-8991-4cc9af66572f.png)

### Steps to reproduce the problem

- Go to the Morphology Analysis use case [HERE](https://collab.humanbrainproject.eu/#/collab/1655/nav/20841)
- Select "Morphology Visualization"
- Se

[2017-11-30 13:19] alex4200 opened #97 "Naming of use case in Collab for (Re)building single hippocampus cell"
### Expected behavior

Use case is similar or the same as when it has been selected ("Rebuild an existing single hippocampal cell model"/"Build your own single hippocampal cell model using HBP data")

### Actual Behavior

Naming is:

- BluePyOpt Browse all
- NSG Job Manager
- BlueByOpt Analysis

### Steps to reproduce the problem

- Choose the use case and create a new collab

Suggestion:
Maybe so

[2017-12-01 08:23] liesbethvanherpe commented on #95
I changed 'collab' to 'Collab' as requested.

[2017-12-01 10:54] alex4200 opened #98 "Update of Jupyter notebook on 6 December"
There will be an update of the jupyter notebooks next week (6 December) which might break existing notbooks. Release notes are here:

https://collab.humanbrainproject.eu/#/collab/509/nav/46218

Everybody involved in a notebook needs to check if the notebook is ready for the changes...

[2017-12-01 11:00] #62 closed

[2017-12-01 11:00] #63 closed

[2017-12-01 11:01] #59 closed

[2017-12-01 11:01] clupascu commented on #98
I am in contact with the collab team. In my notebooks there are a few problems. I am already testing the notebooks in the dev environment where the new image of the jupyter notebook is already installed.

[2017-12-01 11:01] #58 closed

[2017-12-01 11:26] mmigliore commented on #98
Just to be clear:
I do not think it is not our responsibility to check and solve for
problems generated by a new release of any of the collaboratory
components, including notebooks.
It is up to the collaboratory people to be sure that any new release
does not have compatibillity issues with the current public notebooks
and apps.

Of course we can help them in solving the issues BEFORE the release

[2017-12-04 10:12] clupascu commented on #70
I fixed this. You should try 'singletrace' option with trace number 20. In this case you should get some result in the csv file. I changed also the tool, now everything is running on STAMPEDE2KNL Can you please test again? Thanks.

[2017-12-04 10:25] wvangeit commented on #93
Not sure I understand this ticket. With 'Werner L5PC single cell optimization'. Do you mean the example in BluePyOpt ?
There is an example notebook for this use case in the collab. Do you mean that that doesn't work anymore, or that it needs to change ?

[2017-12-04 10:27] jdcourcol commented on #93
We need an example of a L5PC optimization to be registered in Michele's 'NIP' repository, so that it can be consumed in the use cases

[2017-12-04 10:53] alex4200 commented on #46
@antonelepfl  to clarify with @lbologna

[2017-12-04 12:15] alex4200 commented on #47
until end of the week (8.12.2017)

[2017-12-04 12:50] alex4200 opened #99 "NameError in "Synaptic events fitting with user model""
Error message:

[code]

My guess is an error in the function 'runNSG', as the variable 'selfuri' will not be defined in every case.

![selection_109](https://user-images.githubusercontent.com/12729291/33553678-f80a7a44-d8f9-11e7-9d9a-53b0e16567b1.png)

Relates to #70

[2017-12-04 17:52] clupascu commented on #99
This should be fixed now, When I changed the TOOL from NEURON74_PY_TG to NEURON74_PY_STAMPEDE2KNL, the job was not submitted as the tool is invalid, that is why you get the above error. I fixed this by restoring the TOOL to NEURON74_PY_TG, so everything is submitted again on COMET. I opened an issue on NSG to understand if we can submit on STAMPEDE using REST API's. Can you please test again? Than

[2017-12-04 17:54] clupascu commented on #70
This should be fixed. I commented issue #99. Can you please test again? Thanks.

[2017-12-05 06:50] alex4200 commented on #99
Ok, is fixed...

[2017-12-05 06:50] #99 closed

[2017-12-05 06:56] alex4200 opened #100 "Config file error although config file choosen"
### Expected behavior

Use case shows me the results table at the end

### Actual Behavior

Popup with error message:

"This is not a config file"

![selection_112](https://user-images.githubusercontent.com/12729291/33593877-be7e9876-d991-11e7-8696-50737a5a3fa6.png)

### Steps to reproduce the problem

Run the use case, select trace 20, choose "config.txt" as config file, press on "Results table"

[2017-12-05 07:19] alex4200 opened #101 ""Launch simulation" does not seem to work"
### Expected behavior

Simulation is started once "Launch simulation" is pressed

### Actual Behavior

When pressing the  "Launch simulation" button a popup appears briefly stating the simulation is started, but then vanishes, and the GUI does not change. I can press the button "Launch simulation"  again...

![selection_113](https://user-images.githubusercontent.com/12729291/33594582-c4176576-d994

[2017-12-05 07:41] alex4200 opened #102 "Unable to check if I am logged in"
When I run the HH Neuton Builder use case and I select the "optimization settings" button, I might be required to provide my username and password for NSG.

![selection_116](https://user-images.githubusercontent.com/12729291/33595359-0918fc2c-d998-11e7-9dd5-9ceaa061431a.png)

However, I have no way to see if the data I have provided is correct.

Suggestion: A small button below the user data that

[2017-12-05 07:53] alex4200 opened #103 "Fetching results from NSG takes a very long time"
### Expected behavior

Fetching results is 'fast' (say less than 1 minute).

### Actual Behavior

Even after 20 minutes I see the "Fetching job list" screen with a rotating arrow.

![selection_118](https://user-images.githubusercontent.com/12729291/33595791-bda44ce0-d999-11e7-9419-554087f130d4.png)

### Steps to reproduce the problem

Following the steps for "Single Cell Simulation Run" and select

[2017-12-05 11:03] clupascu commented on #100
Can you add me as a team member of this collab? I need to take a look at the config file. Thanks.

[2017-12-05 11:13] alex4200 commented on #100
@clupascu : I added you to Collab Test-A3-5

[2017-12-05 13:58] clupascu commented on #100
I fixed this. Can you test again please? Thanks.

[2017-12-05 15:33] alex4200 commented on #100
Yes fixed

[2017-12-05 15:33] #100 closed

[2017-12-05 15:33] alex4200 commented on #70
Yes fixed now

[2017-12-05 15:33] #70 closed

[2017-12-05 15:35] alex4200 opened #104 "NameError for BestFit in Synaptic Events Fitting"
### Expected behavior

Seeing best fit results

### Actual Behavior

NameError, probably some small issue with the code:
[code]

![selection_122](https://user-images.githubusercontent.com/12729291/33615321-2abf7d46-d9da-11e7-9704-3286711091e9.png)

### Steps to reproduce the problem

Follow the use case, use the files you have sent me, select trace 20, click on "Best Fit"

### Optional infrastruct

[2017-12-05 15:38] alex4200 opened #105 "User message in case of a bad fit"
In case the fitting does not give any meaningful results (and there is no CSV file), the user should see an appropriate message like

The computation did not reveal any suitable fit

[2017-12-05 15:39] alex4200 opened #106 "Clarification of example"
In the use case the user can choice between an example and the actual result of the fit. It should be noted that the 'default' selection is such an example...

![selection_123](https://user-images.githubusercontent.com/12729291/33615580-cb7a9fea-d9da-11e7-9355-c4afd1c624ae.png)

[2017-12-05 17:26] clupascu commented on #104
I fixed this. Can you test again please? Thanks.

[2017-12-05 18:21] lbologna commented on #47
Hello,
I corrected the typos and addressed the 5 points in the following way:

_1. The first paragraph in "HBP database" is not quite clear to me. Especially what the meaning of "authorized collabs" mean._
I changed the text in order for it to be clearer.

_2. The section in "Feature extraction" is not clear to me. Maybe its clear to a scientist using this use case, but do not quite understand the

[2017-12-06 06:23] alex4200 commented on #104
@clupascu There still seems to be an error:

![selection_124](https://user-images.githubusercontent.com/12729291/33647628-622c1d8a-da56-11e7-8c27-dd206b20d3bf.png)

[2017-12-06 06:35] alex4200 commented on #47
All fine

[2017-12-06 06:35] #47 closed

[2017-12-06 10:08] antonelepfl commented on #14
So for now I'm just creating a config.json file with the % of cells and the types of analysis in the job directory in Jureca.
We would need to modify the file so it can read it and generate the corresponding analysis.

[2017-12-06 12:12] SteMasoli opened #107 ""No module named neuron""
### Expected behavior
Presence of the basic simulation environment program - NEURON simulator.

### Actual Behavior
Cerebellar granule cells notebooks:
Error - "No module named neuron"

### Steps to reproduce the problem
The notebook stops at this line:
nrn = ephys.simulators.NrnSimulator()
with this error.
ImportError: No module named neuron

### Optional infrastructural data (user, platform, bro

[2017-12-06 16:27] clupascu commented on #107
Write to the platform team and ask if neuron is installed in the latest image of the notebooks that they released today.

[2017-12-06 18:18] SteMasoli commented on #107
Done it. Waiting for news.

[2017-12-07 06:27] alex4200 opened #108 ""View simulations" page unclear"
Looking at the "View Simulations" page:

![selection_125](https://user-images.githubusercontent.com/12729291/33701290-77c8f032-db1e-11e7-984e-e16bedd17b2d.png)

- Does the checkmark in 'Simulation Step' means the simulation finished sucessfully?
- Does clicking on 'Analysis' in Analysis step means to run the analysis?

![selection_126](https://user-images.githubusercontent.com/12729291/33701333-9f

[2017-12-07 06:28] alex4200 opened #109 "Dropdown boxes party invisible"
### Expected behavior

I can see the content of the dropdown boxes

### Actual Behavior

They are party hidden:

![selection_128](https://user-images.githubusercontent.com/12729291/33701692-35c5f9ee-db20-11e7-98b2-3489f44796a2.png)

### Steps to reproduce the problem

### Optional infrastructural data (user, platform, browser, environment, ...)

Only on FF, Chrome seems to be ok

[2017-12-07 08:28] alex4200 commented on #60
@antonelepfl Decision:

1. Hover text for 'Target': Remove the second sentence
2. Make sure that when the user selects Target="AllCompartments" then the Type only can be compartment
3. Please make "Synapse" and "Compartment" both start with a capital letter

[2017-12-07 09:14] SteMasoli commented on #107
The platform team responded that, yes NEURON is missing from the image they deployed yesterday.
They will patch it today or tomorrow.

[2017-12-07 10:50] alex4200 opened #110 "Documentation update"
Documentation in Guidebook: General description for the user of the scope of the use case and what the user can do in general

Detailed technical documentation: directly within the notebook  (also avoids the need to update screenshots whenever there is a change)

[2017-12-08 10:11] clupascu commented on #104
It should be fixed now. You can't test it now though. After the platform update, neuron can't be imported anymore (see issue #107). When issue #107 is fixed, you can try again to test Best fit button.

[2017-12-08 10:19] clupascu commented on #98
I fixed the notebooks to "work" after the platform update. As suggested in a previous email from the platform, the new version of ipywidgets is not entirely backward compatible with the version that was previously available in the notebooks. Therefore, this upgrade has side effects on my notebooks.

They suggested to use the code below

https://collab.humanbrainproject.eu/#/collab/509/nav/46468

i

[2017-12-11 10:13] alex4200 commented on #104
@clupascu Seems there is still some error:

[code]

It looks you have an '\n' in the filename. Can you check that?

Thanks

[2017-12-11 10:15] alex4200 commented on #107
@clupascu  @SteMasoli The Collab image has been updated with NEURON installed...

[2017-12-11 10:15] #107 closed

[2017-12-11 10:50] alex4200 commented on #42
still ongoing ...

[2017-12-11 11:00] alex4200 commented on #54
verified

[2017-12-11 11:00] #54 closed

[2017-12-11 12:28] alex4200 commented on #90
The possible cluster depends on the use case and on the tools installed on the respective clusters...

[2017-12-11 15:04] alex4200 opened #111 "Usage of '/home/jupyter' instead `/home/jovyan`"
### Expected behavior

No error

### Actual Behavior

OSError: [Errno 2] No such file or directory, line 62:

[code]

### Steps to reproduce the problem

Run the Analysis notebook on storage results.

**Note: The error appears for BOTH use cases**

[2017-12-11 15:37] alex4200 opened #112 ""This is not a config file""
### Expected behavior

To see the results table

### Actual Behavior

Popup with the message "This is not a config file"

![selection_130](https://user-images.githubusercontent.com/12729291/33838961-34e767a0-de91-11e7-97d9-73143c593660.png)

### Steps to reproduce the problem

1. Select data: Action potential dependent sIPSCs from a 3-4 months old C57BL/6J X SJL female mice hippocampus CA1 pyramid

[2017-12-11 16:20] alex4200 opened #113 "Suggestion regarding ipywidgets"
Currently, you have the message regarding downgrading `ipywidgets` showing up at the top of every notebook all the time.

However, once the user has downgraded its version of `ipywidgets` you can do a simple check if the installed version is compatible with the required version for your notebook. Then the user sees this `ipywidgets`-downgrade message only once.

Suggested code change:

[code]

[2017-12-11 16:37] genric commented on #96
Should be fixed now. Please retest. Thanks.

[2017-12-12 06:36] alex4200 opened #114 "Analysis buttons active although no results available..."
### Expected behavior

When there are  no results to plot (i.e. no fit is available), the buttons shown at the bottom of the page should be inactive or being replaced by some box saying something like "No fits available"

### Actual Behavior

Buttons active, and upon clicking them an error occurs (because no results are available)...

### Steps to reproduce the problem

Probably just run anything.

[2017-12-12 06:48] alex4200 commented on #96
Yes seems ok now

[2017-12-12 06:55] #95 closed

[2017-12-12 07:37] alex4200 commented on #98
@clupascu : In order to avoid the issues with ipywidgets on a notebook alltogether: What about using a proper GUI for at least some of the use cases? Have you given that a thought? Would it be too much work? What is your view on this?

[2017-12-12 08:00] clupascu commented on #98
What do you mean with proper GUI?

[2017-12-12 08:03] alex4200 commented on #98
Like in "Feature Extraction" for example

[2017-12-12 08:06] clupascu commented on #98
That means creating an app instead of a notebook. Maybe at the end we will get there. But this means not using the notebooks anymore.

[2017-12-12 08:48] jdcourcol commented on #98
I agree with @clupascu . We may get to replace the notebook with dedicated app. but there are time and resources constraints for the March 2018 deadline for everyone.

[2017-12-13 06:54] alex4200 commented on #90
The custer usage will not be transparent to the end user. Therefore, a choice of clusters options must be offerered.

[2017-12-13 06:54] #90 closed

[2017-12-13 10:02] alex4200 commented on #94
I propose the following rules for the user documentation. The 'Guidebook' in the Brain Simulation Platform should contain the following content:

1. A proper description of the goal of the use case
1. A general description of how to use this use case (notebook/GUI/...)
1. A summary of what is being expected from the use case, with some example output images/data

If the use case is a notebook, the

[2017-12-15 09:56] alex4200 commented on #98
I think all issues related to the update are fixed or reported in other issues. Closing now

[2017-12-15 09:56] #98 closed

[2017-12-17 16:32] lbologna commented on #102
Hello,

I modified the code so as to notify the user if she/he inserts wrong credentials. In this case the panel is not closed until the "Cancel" button is pressed or the correct credentials are inserted.

In case the correct credentials are typed, the panel closes (without notification) and the bottom bar in the "Optimization settings" panel of the "Workflow" page turns green.

Could you check if

[2017-12-17 23:00] lbologna commented on #101
I added a notification message after submission.
Could you please check again?
Thanks!

[2017-12-18 10:15] apdavison commented on #81
Released v0.9.0 15/12/2017

[2017-12-18 10:15] #81 closed

[2017-12-18 10:19] apdavison commented on #35
Leaving the ticket open until this is documented (Jupyter notebook?)

[2017-12-18 10:46] apdavison commented on #82
v0.9.0 released 15/12/2017. Search for "Model validation app" in the App catalog.

For documentation, see #34

[2017-12-18 10:46] #82 closed

[2017-12-18 12:13] alex4200 commented on #110
changes have been pushed

[2017-12-18 12:15] alex4200 commented on #94
use case specific tickets will be created when required.

[2017-12-18 12:15] #94 closed

[2017-12-18 12:18] alex4200 commented on #80
Duplicate of #93

[2017-12-18 12:18] #80 closed

[2017-12-18 12:21] wvangeit commented on #93
Could somebody also point me to the exact page of the use cases ? Are these the BlueNAAS use cases ? Or is it some place from where one can run an optimisation ? (or is there some doc somewhere ?)

[2017-12-18 12:40] alex4200 opened #115 "Firefox does not list existing collabs"
### Expected behavior

When typing in the name of an existing collab in the collab-select page (e.g. by starting an use case), the matching collabs are listed from which the user can select one. Example in chrome:

![screen shot 2017-12-18 at 13 38 24](https://user-images.githubusercontent.com/12729291/34106524-d4b794fa-e3f8-11e7-8db8-5f83b5f1a7bc.png)

### Actual Behavior

I type in the name but

[2017-12-18 13:12] alex4200 commented on #102
Ok very good, seems to work...

[2017-12-18 13:12] #102 closed

[2017-12-18 13:36] alex4200 opened #116 "Feature Extraction in the Neuron Builder seems to 'hang'."
### Expected behavior

When I selected the traces in the Feature extraction part of the HH Neuron builder I expect the workflow to move on.

### Actual Behavior

I click on the 'Confirm' button after I click on th 'Next' button, and I get back to the 'Trace selection/upload' page.

![screen shot 2017-12-18 at 14 30 02](https://user-images.githubusercontent.com/12729291/34108538-bbecdc7a-e400-11e7-

[2017-12-18 13:39] alex4200 commented on #101
Testing blocked by #116

[2017-12-18 14:13] alex4200 opened #117 ""Please wait" panel for loading the traces in "Feature Extraction""
Luca is about to add a "please wait" panel until all traces are loaded in the "Feature Extraction" use case as Its very hard for the selenium tests otherwise.

@lbologna: Issues based on our email conversation...

[2017-12-18 14:29] SteMasoli commented on #110
The documentation is now online

[2017-12-18 14:33] alex4200 opened #118 "New Hippocambal Cell placement and connectome use cases."
The idea is to replace the current notebook use-cases with proper GUI like use cases.

- [ ] Preparing use case
- [ ] Preparing user documentation

[2017-12-18 14:33] alex4200 commented on #67
Ticket is included in ticket #118 ; closing

[2017-12-18 14:33] #67 closed

[2017-12-18 14:35] alex4200 commented on #66
The documentation will be updated to reflect newer use cases.

[2017-12-18 14:40] clupascu commented on #97
I fixed this as you suggested. Can you please test again? Thanks.

[2017-12-18 14:41] clupascu commented on #111
I fixed this. Can you please test again? Thanks.

[2017-12-18 15:10] clupascu commented on #112
I fixed this. Can you please test again? Thanks.

[2017-12-18 15:12] clupascu commented on #113
I fixed the code as you suggested. Now the upgrade button is not displayed anymore if the user has downgraded its version of ipywidget. Can you please test? Thanks.

[2017-12-18 15:14] clupascu commented on #114
I fixed this. Can you please test again? (you can just create an empty output_... folder in the resultsNSG folder in the storage in order to test this part) Thanks.

[2017-12-18 15:15] clupascu commented on #106
I replaced 'default' by 'example'. Thanks.

[2017-12-18 15:16] clupascu commented on #104
I fixed this. Can you please test again? Thanks.

[2017-12-18 15:20] clupascu commented on #105
In case the fitting does not give any meaningful results, there is an empty csv file in the output folder. In this case the user sees a message like this 'Results file is empty. No fitting was within threshold'

In case an error occurred in the submitted job, there is not a csv file in the output folder. In this case the user sees a message like this 'no txt or csv files in the output folder. Take

[2017-12-18 16:41] lbologna commented on #116
Hello,

I cannot reproduce this error: the "Confirm" button works well for me.
Is this error reproducible?

Thanks.

[2017-12-19 06:28] alex4200 commented on #110
@SteMasoli: Thanks for this update; I think content-wise this description is absolutely sufficient.

However, I have some suggestions regarding some wording/phrasing:

1. Instead of having the title "Mono compartmental Cerebellar Granule cell running on the collab" I would say just "Mono compartmental Cerebellar Granule cell optimization"  as the use cases are on the Collab anyway. (same for the m

[2017-12-19 06:32] alex4200 commented on #97
Yes better...

[2017-12-19 06:32] #97 closed

[2017-12-19 06:50] alex4200 commented on #111
Yes works again, thanks

[2017-12-19 06:50] #111 closed

[2017-12-19 07:46] alex4200 commented on #113
Works as expected, thanks

[2017-12-19 07:46] #113 closed

[2017-12-19 08:34] alex4200 commented on #104
Work! thanks

[2017-12-19 08:34] #104 closed

[2017-12-19 09:23] alex4200 opened #119 "Documentation update for splitting notebooks"
For the use cases regarding "Synaptic events fitting" (normal, user data, user model) it looks like you have splitted the notebooks in two parts: starting the computation and analyzing the results.

That should be mentioned somehow on the guidebook https://collab.humanbrainproject.eu/#/collab/1655/nav/18580 etc.

[2017-12-19 11:01] alex4200 commented on #112
I still get the same error. I start the first notebook and switch to the 'analysis' notebook when the NSG status is 'COMPLETED'. I choose the files as in the example above.

Collab Test-A2-4

[2017-12-19 11:10] alex4200 commented on #106
Thanks, is working..

[2017-12-19 11:10] #106 closed

[2017-12-19 11:15] clupascu commented on #112
It should be fixed now. Can you try again please? Thanks.

[2017-12-19 12:13] alex4200 commented on #112
Yes its fixed, thanks

[2017-12-19 12:13] #112 closed

[2017-12-19 12:38] alex4200 commented on #114
Yes, work!

[2017-12-19 12:38] #114 closed

[2017-12-19 12:39] alex4200 commented on #105
Yes, that is much clearer now... thanks

[2017-12-19 12:39] #105 closed

[2017-12-19 12:44] alex4200 commented on #35
@apdavison : Yes please leave this ticket open and let me know when and where this is documented. Thanks

[2017-12-19 12:48] alex4200 commented on #116
@lbologna : Hm seems to work now. Maybe it was a transient problem. Closing for now...

[2017-12-19 12:48] #116 closed

[2017-12-19 12:50] alex4200 commented on #101
Yes perfect, much better now, thanks

[2017-12-19 12:50] #101 closed

[2017-12-20 11:23] clupascu commented on #119
Thanks to @lbologna I changed the guidebook. Could you please check? Thanks.

[2017-12-20 14:07] alex4200 commented on #119
@clupascu, @lbologna : Thanks for the update, but I have several feedback points on the changes:

1. I suggest to write "... two Jupyter Notebooks are cloned in a private existing/new Collab" instead of "... 2 Jupyter Notebooks are cloned in a private existing/new collab"
2. You describe the first notebook on the documentation page, and a link leads to the description of the second notebook. What

[2017-12-21 11:19] clupascu commented on #119
We fixed as suggested. Could you please check? Thanks.

[2017-12-21 13:24] #119 closed, assigned to clupascu

[2017-12-22 12:30] lbologna commented on #117
This should be fixed. Could you test again please? Thanks

[2017-12-22 12:31] lbologna commented on #103
This should be fixed. Could you test again please? Thanks

[2017-12-22 13:45] alex4200 commented on #103
Yes works much faster now ;-)

[2017-12-22 13:45] #103 closed

[2017-12-22 13:46] alex4200 commented on #117
Yes works great.

[2017-12-22 13:46] #117 closed

[2018-01-03 09:17] alex4200 commented on #115
Cannot be reproduced ...

[2018-01-03 09:17] #115 closed

[2018-01-03 09:59] antonelepfl commented on #108
@alex4200 I changed the '> Analysis' button for 'Run' due it is under Analysis step and as you suggested makes more sense of what we are going to do.
![screen shot 2018-01-03 at 10 54 12](https://user-images.githubusercontent.com/24406041/34515866-866b5f24-f074-11e7-883c-981b4c3bdd71.png)

I added a description in the launcher form so I can explain more about the process.
![screen shot 2018-01-03

[2018-01-03 10:05] antonelepfl commented on #89
@jdcourcol Do we need to implement this in the 'Template / Base' notebook or is it a decision of the user to do it?

[2018-01-03 10:30] antonelepfl commented on #46
I did a pull request https://github.com/antonelepfl/usecases/pull/40

[2018-01-03 10:36] antonelepfl commented on #3
@alex4200 Could you please check this? https://collab.humanbrainproject.eu/#/collab/1655/nav/28538

[2018-01-03 15:01] antonelepfl commented on #109
Deployed. Please try it and close it after you tested it.

[2018-01-03 15:01] antonelepfl commented on #108
Deployed. Please try it and close it after you tested it.

[2018-01-03 15:01] antonelepfl commented on #60
Deployed. Please try it and close it after you tested it.

[2018-01-03 15:45] alex4200 commented on #60
@antonelepfl : One tiny thing: When you start with a Target != "AllCompartments" you can select Type="Synapses" . After that you can select Target="AllCompartments"  and the Type is still Synapses. You can even save this configuration.
Could a check be implemented that checks the content of Type whenever 'Target' is updated? Or is that too complex?

[2018-01-03 15:46] alex4200 commented on #109
Yes fixed

[2018-01-03 15:46] #109 closed

[2018-01-04 06:49] alex4200 commented on #3
Yes looks fine to me

[2018-01-04 06:49] #3 closed

[2018-01-04 07:42] antonelepfl commented on #60
Thanks for pointing that! Could you re-check here? https://bbp.epfl.ch/public/dev.simulationapp/index.html?#/

[2018-01-04 07:52] alex4200 commented on #60
Yes perfect, thanks...

[2018-01-04 07:52] #60 closed

[2018-01-04 14:09] antonelepfl commented on #13
For the records, the scripts that are running are:

**Julia**
`#!/bin/sh
unset LD_LIBRARY_PATH
export LD_LIBRARY_PATH=/global/opt/slurm/default/lib64/
module purge
module use /gpfs/work/pcp0/pcp0085/x64/modulefiles
module load nix/hpc/neuron-hippocampus/7.5-201707
mkdir -p output
python /gpfs/homeb/pra098/pra09809/test/simulation_launch.py -vv --blueconfig blueconfig.json --usertarget /gpfs/homeb/

[2018-01-05 09:28] alex4200 commented on #45
@lbologna : can you please assign this issue to a milestone? Thanks

[2018-01-05 09:28] alex4200 commented on #44
@lbologna : can you please assign this issue to a milestone? Thanks

[2018-01-05 09:28] alex4200 commented on #33
@lbologna : can you please assign this issue to a milestone? Thanks

[2018-01-05 09:29] alex4200 commented on #52
@lbologna : can you please assign this issue to a milestone? Thanks

[2018-01-05 09:29] alex4200 commented on #86
@apdavison  : can you please assign this issue to a month-milestone? Thanks

[2018-01-05 09:29] alex4200 commented on #85
@apdavison  : can you please assign this issue to a month-milestone? Thanks

[2018-01-05 09:29] alex4200 commented on #84
@apdavison  : can you please assign this issue to a month-milestone? Thanks

[2018-01-05 09:37] apdavison commented on #85
My goal for this is 201**9**-04 (i.e. halfway through SGA2)

[2018-01-05 09:38] apdavison commented on #84
This is for SGA2

[2018-01-05 09:38] alex4200 commented on #85
Ok, then we can leave it in "Other tasks"...

[2018-01-05 09:38] apdavison commented on #86
This is for SGA2, unless someone tells me it is needed urgently.

[2018-01-05 09:51] alex4200 commented on #108
Great, looks fine to me...

[2018-01-05 09:51] #108 closed

[2018-01-05 10:31] SteMasoli commented on #110
Pull request just done.
Deleted the duplicated paragraph, in the mono compartmental granule cell guide and the repeated titles (1.) (2.) (3.).
Modified in both files (4.)

[2018-01-07 23:15] lbologna commented on #110
The Guidebook has been updated on the BSP. Would you please check? Thanks.

On Fri, Jan 5, 2018 at 11:31 AM, Stefano <notifications@github.com> wrote:

[2018-01-08 06:01] mmigliore commented on #91
@alex4200: please split this in two different issues for rat and mouse.
Data for mouse is available from KOKI and optimization is at the preliminary stage.
Data for rat is still unavailable.

[2018-01-08 07:53] alex4200 commented on #91
Data for mouse is available from KOKI and optimization is at the preliminary stage.

[2018-01-08 07:53] alex4200 opened #120 "Optimization of CA3 cells (rat)"
The task is to have a new model (for the CA3 region for rat), for which electrophysiological data are required (from external sources).

Similar tasks: #91 #92

[2018-01-08 08:51] alex4200 commented on #110
Yes seems to be done thanks

[2018-01-08 08:51] #110 closed

[2018-01-08 09:45] lbologna commented on #52
This is part of the work for SGA2. I would leave "Other tasks" as a milestone for the moment.

[2018-01-08 09:46] lbologna commented on #45
Done.

[2018-01-08 09:47] lbologna commented on #44
Done.

[2018-01-08 09:48] lbologna commented on #33
Done.

[2018-01-08 12:32] antonelepfl commented on #46
Michele replied:

We need to discuss this also with Jean-Denis and Felix, to make it somewhat uniform to what they are doing in other cases, e.g. the cortex.

[2018-01-09 10:20] alex4200 opened #121 "Suggestion: Display the selected name of the model on the morphology Visualization page"
### Expected behavior

To see the name of the current model

### Actual Behavior

Model name only by remembering what one has selected, or by the URL

### Steps to reproduce the problem

- Select Morphology group
- Select Morphology Visualization
- Select some model

![selection_149](https://user-images.githubusercontent.com/12729291/34716049-fb9d30c4-f52e-11e7-80fd-d9a6d004afd3.png)

[2018-01-10 15:16] alex4200 opened #122 "Trailing zero omitted in Synaptic Events Fitting"
### Expected behavior

When I enter a value of '-60' for the VCLAMP AMP value, I expect to see it in the results file

### Actual Behavior

I enter '-60', but I see a value of '-6'.

### Steps to reproduce the problem

- Start a new 'Synaptiv events fitting with user data'
- For the exp file select 'exp5.txt'
- Insert the values 82, -60 and 0 on the second tab.
- Save the values in the third tab
-

[2018-01-10 15:48] alex4200 opened #123 "Job naming convention needs to be checked"
### Expected behavior

A check of the job name for JUQUEEN (or any other cluster) should be made, so a potential run error is avoided

### Actual Behavior

Able to start a job with the name '$*ç%&no reports'. It fails very quickly on JUQUEEN with the error message

Submit attempt 1 (of 3) failed: de.fzj.unicore.xnjs.ems.ExecutionException: Submission to classic TSI failed. Reply was <TSI_FAILED: l

[2018-01-10 15:51] alex4200 opened #124 ""Invalid date" on Simulation List"
### Expected behavior

To see no error or some error with more details

### Actual Behavior

All jobs are marked with "Invalid date" and I have no idea what this means

### Steps to reproduce the problem

Not sure

![screen shot 2018-01-10 at 16 30 58](https://user-images.githubusercontent.com/12729291/34781563-739284ce-f626-11e7-86a3-40821b0108df.png)

[2018-01-10 15:55] alex4200 opened #125 "Unable to find Analysis results"
### Expected behavior

To see a page with analysis results, or have a link to get to the page to see the final analysis.

### Actual Behavior

- On the Simulation List I see a link to 'Analysis', but it opens just another popup to start a new analysis?
![screen shot 2018-01-10 at 16 23 07](https://user-images.githubusercontent.com/12729291/34781744-f1a890e2-f626-11e7-9c33-4d8a6fd260c7.png)

- When

[2018-01-10 15:58] alex4200 opened #126 "Running Analysis step unclear"
After the simulation has completed, I start the Analysis step and see the following popup:

![screen shot 2018-01-10 at 16 23 07](https://user-images.githubusercontent.com/12729291/34781837-34ced1ce-f627-11e7-9e73-f6442f9f5708.png)

- What does psth and raster mean
- What does the Cells percentage mean?
- How important is the Nodes number to run the analysis?
- The explanation text below contains

[2018-01-11 10:12] alex4200 opened #127 "Running the simulations should require at least one stimulus and one report"
### Expected behavior

A check before I start the simulation to verify at least one stimulation and one report is defined. Running a simulation without either does not make much sense.

### Actual Behavior

Simulation can only be started if at least one stimulus and one report is defined.

[2018-01-11 10:17] alex4200 opened #128 ""Circuit Target" on the Start-Simulation popup"
It needs to be decided if this option is useful, or if it should be removed.

We need to talk to Armando.

![selection_151](https://user-images.githubusercontent.com/12729291/34820486-f698f7d2-f6c0-11e7-9878-d5f94bbfc467.png)

[2018-01-11 10:25] alex4200 opened #129 "Enable simulation for every selectable computer"
Slice
 - [x] JULIA
 - [x] JURECA (booster partition)
 - [x] JUQUEEN
 - [ ] MARCONI (KNL partition)

FullCA1
 - [ ] JULIA
 - [ ] JURECA (booster partition)
 - [x] JUQUEEN
 - [ ] MARCONI (KNL partition)

[2018-01-11 10:34] clupascu commented on #122
I cannot reproduce this. I inserted -60 in the second tab and I get -60 in the config file. I used Firefox on a Mac machine.

[2018-01-11 10:37] alex4200 commented on #122
Hm strange, I will check it again in more detail...

[2018-01-11 10:39] alex4200 opened #130 "Poisson stimulus: Neuroscientific clearly defined stimulus?"
Is that stimulus clear for every neuroscientist who might be use this use case?

Need to check with Armando

[2018-01-11 10:42] alex4200 opened #131 "Naming of help text"
The text "The strength of the created synapse" might be wrong, as no synapsed are created, but electrical signals.

Need to clarify with Armando.

[2018-01-11 10:54] alex4200 opened #132 "Clarification of analysis parameters required."
A clarification of parameters seen in the analysis step is required.

- What does psth and raster mean?
- What does the percentage mean?
- How important are the number of nodes?

Need to talk to Armando.

![selection_153](https://user-images.githubusercontent.com/12729291/34822098-0e4d3618-f6c6-11e7-8065-5652b460fa0a.png)

[2018-01-11 10:54] #132 closed

[2018-01-12 07:18] alex4200 opened #133 ""View Simulation" page very unclear"
### Actual Behavior

Current situation:
- You have to select the computer on which you run the simulation or analysis
- Looking at the Details page for an _Analysis_ job does not show you the results of the analysis. You have to select the actual 'Simulation' job ... I find that very confusing
- An Analysis step is listed under "Simulation step". Very confusing

### Suggested behavior

- On the to

[2018-01-12 10:11] #46 closed

[2018-01-15 10:17] antonelepfl commented on #127
@alex4200 Could you test it in the dev env? https://bbp.epfl.ch/public/dev.simulationapp/index.html#/

[2018-01-15 10:46] jdcourcol opened #134 "Pair recording application"
This application will allow the user to experiment with 2 connected cells of a circuit.

[2018-01-15 12:54] alex4200 commented on #93
Low priority issue.

[2018-01-15 12:56] alex4200 opened #135 "Revised Cerebellum Placement usecase"
Details follow

[2018-01-15 12:56] alex4200 opened #136 "Revised Cerebellum Connectome usecase"
Details follow

[2018-01-15 12:57] alex4200 commented on #66
Depends on new usecases #135  and #136

[2018-01-15 13:07] alex4200 commented on #122
Cannot be reproduced

[2018-01-15 13:07] #122 closed

[2018-01-15 13:16] alex4200 commented on #127
Seems to work - but shouldn't it be named 'Oops'?

[2018-01-15 14:07] genric commented on #121
Model name should be there now.

[2018-01-15 14:45] antonelepfl commented on #128
I think also @mmigliore should be involved in this decision.

[2018-01-15 15:12] mmigliore commented on #128
this is an important panel. It is needed to define HPC configuration.
Could you point me to the use case so I can run a test myself?

[2018-01-15 15:14] antonelepfl commented on #124
This one is a strange error. I usually get that when it is loading the information but after it is loaded it is replaced. I would like to see this one.

[2018-01-15 16:14] antonelepfl commented on #131
@lbologna I would need if you can add romani79 (Armando) as a contributor so I can ask him about these issues.

[2018-01-15 17:00] lbologna commented on #131
Ok.
I just invited Armando.

On Mon, Jan 15, 2018 at 5:15 PM, antonelepfl <notifications@github.com>
wrote:

[2018-01-16 08:26] antonelepfl commented on #128
This panel appears just after you launch the simulation with the Run button on the bottom https://bbp.epfl.ch/public/simulationapp/index.html#/
This UC is not activated in the BSP because we still need to fix some other things regarding to the simulation.

[2018-01-17 13:36] #127 closed

[2018-01-17 13:42] antonelepfl opened #137 "Analysis form should have Target"
### Expected behavior
The analysis form should show target field (same as simulation) so you can specify even more the cells that you want to run the analysis with.

[2018-01-17 13:49] antonelepfl opened #138 "Multiple Analysis for one simulation"
### Expected behavior
In the detailed information if we run more than one analysis, these results (plots) should be shown for each of them.
### Actual Behavior
Only shows one analysis per simulation.

[2018-01-17 13:52] antonelepfl commented on #126
@romani79 How PSTH and Raster plots should be explained ?

[2018-01-17 16:41] antonelepfl opened #139 "Project/User should be selectable to run job"
### Expected behavior
You can pass the userid or project that you want the job to be run on.
The problem is that for Julich infrastructure this is not possible.

If you go to https://collab.humanbrainproject.eu/#/collab/3656/nav/29207 you will only see one userid by project.

[2018-01-18 12:21] #123 closed

[2018-01-18 12:22] #124 closed

[2018-01-18 12:28] antonelepfl commented on #125
So the analysis should be shown in the Detail view of the simulation.
In this case you don't get any analysis result due you run the analysis on a simulation that did not produce any output file (even though it finished Successfully), in consequence analysis is empty.

[2018-01-18 13:22] alex4200 commented on #133
I suggest to revisit this next week...

[2018-01-19 07:07] alex4200 opened #140 "Replacement of Fast Spiking use case"
- Update notebook on collab with new version.
- System description. Scientific work.  Who is intended user?
- Brain simulation -> guidebook: Top level description what can be done
- Technical details in notebook

[2018-01-19 07:07] alex4200 opened #141 "Implementing of usecase MSD1"
- Update notebook on collab with new version.
- System description. Scientific work.  Who is intended user?
- Brain simulation -> guidebook: Top level description what can be done
- Technical details in notebook

[2018-01-19 07:08] alex4200 opened #142 "Implementing of usecase MSD2"
- Update notebook on collab with new version.
- System description. Scientific work.  Who is intended user?
- Brain simulation -> guidebook: Top level description what can be done
- Technical details in notebook

[2018-01-19 07:14] alex4200 commented on #34
@apdavison : Goal is to have a working notebook end of January

[2018-01-19 12:32] alex4200 commented on #125
Issue solved by displaying an indicator in case no results are generated.

[2018-01-19 12:32] #125 closed

[2018-01-19 13:26] alex4200 opened #143 "Results table is missing a column name"
### Expected behavior

First column to be named (e.g. with the hash sign '#' to indicate this is just a running number).

OR take out that column altogether, as it does not seem to be very important...

### Actual Behavior

First column not names

### Steps to reproduce the problem

See the results table in the Analysis notebook

![selection_156](https://user-images.githubusercontent.com/12729291/

[2018-01-19 14:01] alex4200 opened #144 "Some remarks to the best fit plot"
- Axis labels would be useful (time, voltage, units, ...)

![selection_157](https://user-images.githubusercontent.com/12729291/35154157-647de276-fd29-11e7-8663-2e8f559fd928.png)

- Not sure how this related to the actual data in the exp file. Plotting column number 34 of the exp file I find something like the following:

![test](https://user-images.githubusercontent.com/12729291/35154177-801d98f0-

[2018-01-20 09:46] clupascu commented on #143
I hided the index functionality in the pandas dataframe. Please test again. Thanks.

[2018-01-20 10:15] clupascu commented on #144
I added axis labels. How do you plot column number 34? Is this a fitted trace? Thanks.

[2018-01-22 06:32] alex4200 opened #145 "In downloadable voltage trace file: name of first column is missing"
### Expected behavior

The resulting CSV file contains a name for each column.

### Actual Behavior

The CSV file looks like follows:

,time,soma[0]_0
0,0,-70
1,0.0023549001815310906,-70.01562582599722
2,0.005973178181114874,-70.03586071331355
3,0.012322667473723016,-70.06583368680117
...

Should instead contain something like:

index,time,soma[0]_0

### Steps to reproduce the problem

Just run an

[2018-01-22 06:33] alex4200 opened #146 "Title of usecase "Single cell in silico experiments under current/voltage clamp""
Is it a current clamp or a voltage clamp?

[2018-01-22 06:36] alex4200 opened #147 "Mouseover text incorrect"
### Expected behavior

When the mouse is hold over an error indicator the text should read:

The holding current must be ...

### Actual Behavior

The text reads:

Hypamp must be ...

### Steps to reproduce the problem

Type a large number into the 'holding current' box

[2018-01-22 06:46] alex4200 opened #148 "User Documentation"
User Documentation need to be added to the Guidebook https://collab.humanbrainproject.eu/#/collab/1655/nav/18580

[2018-01-22 07:10] alex4200 opened #149 ""Cell Optimization" Job submission status unclear"
Reading the user documentation on the "Cell optimization" in the guidebook (https://collab.humanbrainproject.eu/#/collab/1655/nav/18580) its not clear to me how and where to see the status of the submitted job.

Suggestion: Add a sentence to the end of the "Cell optimization" documentation to let users know they can check the status of the submitted job in the next step ("Single Cell Simulation Ru

[2018-01-22 07:16] alex4200 opened #150 ""Cell Optimization" Job ID inconsistent"
When starting a job in the "Cell Optimization" step of the use case the user can see a 'Workflow id'. But when fetching the results, its a different ID. So the user cannot see which is which.

Also the times listed in the Fetched list seems to be Pacific time, which makes it even more hard to figure out what the status of a job is.

The fetching results also seem to show other results?

Tested wit

[2018-01-22 07:34] alex4200 opened #151 "Incorrect error shown when continuing saved workflow"
### Expected behavior

Error: "Optimization parameters NOT set" not shown as the optimization has already been submitted before.

### Actual Behavior

Error shown:

![selection_161](https://user-images.githubusercontent.com/12729291/35209591-16d3c1b2-ff4f-11e7-9945-1961e8263c92.png)

### Steps to reproduce the problem

- Select Collab 'Test157'
- Select "Ongoing workflow"
- Choose the download of

[2018-01-22 07:51] alex4200 opened #152 "Unable to Run Simulation"
### Expected behavior

Able to load a model to NaaS

### Actual Behavior

Error: Model load error

![selection_163](https://user-images.githubusercontent.com/12729291/35210103-24ea28ca-ff51-11e7-8d8e-e4a7a86a29c4.png)

### Steps to reproduce the problem

- Select use case and Collab 'Test158'
- Select "Ongoing workflow"
- Choose the download of the single workflow of the storage
- "Fetch results"

[2018-01-22 08:24] alex4200 opened #153 "Unable to save the workflow"
### Expected behavior

Able to save the workflow at any point

### Actual Behavior

Workflow does not save at some point. Even after 20 minutes I still this:

![selection_164](https://user-images.githubusercontent.com/12729291/35211246-fae416b2-ff55-11e7-8942-5c46b4c61b31.png)

### Steps to reproduce the problem

- Select use case and Collab 'Test158'
- Select "Ongoing workflow"
- Choose the downl

[2018-01-22 10:10] alex4200 commented on #143
Thanks seems to work. Looks better to me now...

[2018-01-22 10:10] #143 closed

[2018-01-22 11:04] antonelepfl opened #154 "Spectrum analysis should be added"
## Use Case Update

Aspect | Detail
------------ | -------------
Summary | The idea is to have an analysis of the Local Field Potential (LFP) as part of the SimulationUI analysis.  (Michele, 9.10.2018). This LFP is a time-series of voltages.
Expert | @antonelepfl @romani79
Deadline |
Dependencies | Juelich systems

## List of additional/changed features

- BBP LFP
  - People involved: Daniel Nachb

[2018-01-22 11:07] antonelepfl opened #155 "Raster plot in analysis does not show Y axe"
### Expected behavior
The Raster plot should show the Y axe.
### Steps to reproduce the problem
Run an analysis and after it finished in the simulation details you should see that there is no Y axe in the raster plot
### Optional infrastructural data (user, platform, browser, environment, ...)
JURECA

The script for the analysis is under:
```/homec/bp0/bp000024/jureca/venv_bluepy_analysis/bin/anal

[2018-01-22 11:08] alex4200 opened #156 "Projections for SimulationUI"
Projections need to be implemented in the SimUI

[2018-01-22 11:09] alex4200 opened #157 "StriatumScaffoldModel usecase (Unicore)"
Network export to SONATA format for running on collab

[2018-01-22 11:14] antonelepfl opened #158 "Multiple analysis should be shown in the simulation details"
### Expected behavior
Multiple analysis with their respective information should be shown in the simulation details.
### Actual Behavior
Only the last analysis is shown
### Steps to reproduce the problem

### Optional infrastructural data (user, platform, browser, environment, ...)
JURECA

In each simulation, after the analysis is created I add a file analysis_path.json that contains the path to t

[2018-01-22 11:16] antonelepfl opened #159 "Change default title of the jobs if the field is empty."
### Expected behavior
The default name of the job should be `unnamed job `
### Actual Behavior
The default name of the job is `Bash Shell`
### Steps to reproduce the problem
Run a simulation without adding any value in the title

[2018-01-22 11:17] antonelepfl commented on #159
@alex4200 Do you agree with the new name? Suggestions?

[2018-01-22 11:18] antonelepfl opened #160 "The date of the items in the simulation list should be on the top"
### Actual Behavior
Depending of the window size the date is on the top or on the left side

[2018-01-22 11:20] antonelepfl opened #161 "New Category field in Use Cases statistics"
### Expected behavior
A new field should be added in the statistic that shows the category of the use case like `traceanalysis`, `singlecellmodeling`, etc.

### Optional infrastructural data (user, platform, browser, environment, ...)
https://docs.google.com/forms/d/1mm1_c5diTOh7uswl1BCk5YbxwaP0wMDvA0KaClcEVW8/edit

[2018-01-22 12:03] antonelepfl opened #162 "The terms and conditions error in chromium (urlsearch) not found."
### Actual Behavior
The Terms and Conditions popup does not work properly in Chromium (Chrome, Firefox and Safari are ok)

[2018-01-22 12:09] antonelepfl commented on #138
Repeated https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/158

[2018-01-22 12:09] #138 closed

[2018-01-22 12:22] alex4200 opened #163 "Boxplot result details"
Suggestion:

- Add a sentence in the guidebook about what the boxplot results show.

![selection_165](https://user-images.githubusercontent.com/12729291/35220460-c5581662-ff76-11e7-98e2-45fe363c71f5.png)

- And even better add something to the plot itself (e.g. like the examples in here: https://plot.ly/python/box-plots/)
- Display only 3 significant figures ( like  0.0351 instead of 0.03517263476

[2018-01-22 12:32] alex4200 commented on #159
@antonelepfl What about 'unnamed job' (without quotes). Will avoid issues with the brackets, and maybe even more clear...

[2018-01-22 12:55] antonelepfl commented on #137
@jdcourcol Do I have to talk with Mike so the analysis takes in account this target?

[2018-01-22 12:57] alex4200 commented on #144
@clupascu : Maybe I do not quite understand what the 'original' line is. I had the impression that this is one of the timeseries given in the 'exp5.txt' file I select at the start of the usecase.

If that is not the case, where does the 'original' timeseries data come from?

[2018-01-22 13:21] clupascu commented on #144
The 'original' line is actually one of the timeseries given in the 'exp5.txt', that was clipped to avoid
overlapping synaptic activations that could significantly distort the time course of an individual event.

[2018-01-22 13:45] alex4200 commented on #144
@clupascu : Yes, I verified its a part of one of the original traces, shifted in time and in voltage:

![test_0122](https://user-images.githubusercontent.com/12729291/35223644-6b724954-ff82-11e7-8856-09706b27ec4a.png)

I have two question/issues:

1. As the y-axis offset has been shifted, the y-axis is just a relative scale anymore.  It starts at a value of zero, although this matches a value of s

[2018-01-22 13:57] clupascu commented on #144
The traces are spontaneous inhibitory synaptic currents and the units are in pA.

[2018-01-22 14:05] alex4200 commented on #144
Ok, then I am wrong. Case close. Thanks

[2018-01-22 14:05] #144 closed

[2018-01-23 14:07] alex4200 commented on #140
Should be expected by 26 Jan (Alexander Kozlov)

[2018-01-24 14:20] alex4200 opened #164 "User documentation needs update."
Documentation is not quite top-level, only how to run it. But not really what it is...

[2018-01-25 12:29] #159 closed

[2018-01-25 12:29] #160 closed

[2018-01-25 13:18] alex4200 commented on #126
Number of cells
1 Node as default

[2018-01-25 14:19] alex4200 commented on #131
@antonelepfl
Suggestion for the text 'weight': "The strengths of the added synapses"
Suggestion for the text 'Number of synapses': "Number of synapses to add per neuron"

And I suggest to change the order of these two boxes. First you define how many synapses to add, then you set their strength...

[2018-01-25 14:19] #158 closed

[2018-01-25 14:20] alex4200 commented on #130
@antonelepfl @romani79
I think we decided to let it as it is now, with the possibility to add other stimuli in future...

[2018-01-25 14:51] mmigliore commented on #120
Still unavailable. Will not be available during SGA1.
Please move it to SGA2

[2018-01-25 14:51] mmigliore commented on #92
No data. Please move it to SGA2

[2018-01-25 14:54] mmigliore commented on #91
Please move it to SGA2.

[2018-01-26 08:25] antonelepfl opened #165 "Voxcellview should display multiple plots in one container"
### Expected behavior
Voxcellview should overlap different plots in one container
### Actual Behavior
Each time that we call voxcellview it creates a new container with information

[2018-01-26 09:43] alex4200 opened #166 "Able to click on "Run NSG Simulation" repeatedly"
### Expected behavior

I can click on this button only once. When I have clicked on it I expect to see it greyed out or so

### Actual Behavior

Can click on it multiple times, not sure what it is doing in that case.

![screen shot 2018-01-26 at 10 38 18](https://user-images.githubusercontent.com/12729291/35433955-9dfd6b3c-0285-11e8-94a2-1dc4ff9b6948.png)

### Steps to reproduce the problem

Just

[2018-01-26 10:57] antonelepfl commented on #130
So I disable the option to select another type of stimulus so leaving Poisson as default and not changeable value. If we need to add new stimuli we will at that time

[2018-01-26 10:57] #130 closed

[2018-01-26 15:57] alex4200 opened #167 "Notebook has not been updated for new collab"
Just execute the four first cells.

[code]

[2018-01-26 16:28] antonelepfl commented on #167
Which notebook is it?

[2018-01-29 06:06] alex4200 commented on #167
Cell Placement -> Rat Hippocampus CA1

[2018-01-29 08:16] antonelepfl commented on #161
@lbologna I already merged this change.

[2018-01-29 08:16] #161 closed

[2018-01-29 08:26] #137 closed

[2018-01-29 08:42] lbologna commented on #149
This should be fixed. Could you please check again? Thanks

[2018-01-29 08:47] lbologna commented on #161
Thanks Stefano.

On Mon, Jan 29, 2018 at 9:16 AM, Stefano Antonel <notifications@github.com>
wrote:

[2018-01-29 08:58] antonelepfl commented on #167
@alex4200 Could you please recheck this? I modify the notebook.

[2018-01-29 08:59] #131 closed

[2018-01-29 09:28] alex4200 commented on #149
Yes, ok

[2018-01-29 09:28] #149 closed

[2018-01-29 10:01] alex4200 commented on #89
@antonelepfl @jdcourcol Any news for this issue?

[2018-01-29 10:11] antonelepfl commented on #89
I have already implemented. Check if you are able to save them.

[2018-01-29 10:46] alex4200 commented on #136
Ready about 14.2.

[2018-01-29 10:46] alex4200 commented on #135
Ready about 7.2.

[2018-01-29 12:10] alex4200 commented on #167
Yes that is fixed, thanks

[2018-01-29 12:10] #167 closed

[2018-01-29 12:25] alex4200 opened #168 "Python Cast error with VoxcellWidget"
### Expected behavior

VoxcellWidget calls finishes fine and an image is presented

### Actual Behavior

Full error at cell 47:

[code]
![selection_173](https://user-images.githubusercontent.com/12729291/35510290-d1c4c432-04f7-11e8-9207-19fd0141be58.png)

### Steps to reproduce the problem

Run the notebook without any changes inside the cells

[2018-01-29 12:34] alex4200 commented on #89
Just one more thing: You need to upgrade the hbp client to version 1.0.0 somewhere at the begin of the notebook:

!pip install --upgrade "hbp-service-client==1.0.0"

Can you just insert this line, maybe in the second cell? Thanks

[2018-01-29 12:59] alex4200 commented on #13
@antonelepfl What is the status for this issue?

[2018-01-29 12:59] alex4200 commented on #14
@antonelepfl What is the status for this issue?

[2018-01-29 13:33] alex4200 opened #169 "Model Selection: Shows 'No results' although model(s) are available"
### Expected behavior

When a model could be found, there should be no text 'No results'.

### Actual Behavior

A model is being found, and the user gets the message 'No results'

![selection_174](https://user-images.githubusercontent.com/12729291/35512661-d33739e0-0500-11e8-92d0-a2feb1833211.png)

### Steps to reproduce the problem

- Select e.g. the Morphology Visualization use case
- enter: "bA

[2018-01-29 13:36] clupascu commented on #166
I fixed this. Can you test again please? Thanks.

[2018-01-29 14:36] antonelepfl commented on #14
I add the file but the analysis is not picking up this file and configuring the analysis so, we have to modify the script.

[2018-01-31 12:10] Hjorthmedh commented on #157
Updated the in-line documentation in the code, to better explain the use case:

https://collab.humanbrainproject.eu/#/collab/7598/nav/57859

[2018-01-31 12:13] Hjorthmedh opened #170 "Exporting files for Neurodamus"
### Missing information

- What file format should be used for the input spikes?

- When specifying synapse location, how can SEC_ID and SEC_X be derived from the morphology in the swc file? What is the algorithm that does the numbering of the sections? I have the coordinates of the synapses.

[2018-01-31 12:16] alex4200 commented on #157
@Hjorthmedh Very nice!

[2018-01-31 15:32] antonelepfl commented on #126
@alex4200 Could you please check this and let me know any issue / suggestion?

[2018-01-31 15:32] antonelepfl commented on #133
@alex4200 Could you please check this and let me know any issue / suggestion?

[2018-02-01 07:56] #126 closed

[2018-02-01 07:56] #133 closed

[2018-02-01 08:11] alex4200 opened #171 "Naming of the analysis results"
When creating an analysis, the naming of the results is imprecise and maybe incomplete:

 - psth
 - raster

Better names possible?

![selection_176](https://user-images.githubusercontent.com/12729291/35667922-addaadcc-072f-11e8-8822-60280e3660e2.png)

[2018-02-01 08:30] alex4200 opened #172 "Python error " No module named document_service.service_locator""
When running all cells of the use case, I get the following error in the fourth cell:

[code]

[2018-02-01 08:35] antonelepfl commented on #169
@alex4200 I have also remove the `No results` from the list

[2018-02-01 08:48] clupascu commented on #172
I don't get this error. It is a repeated error?

[2018-02-01 08:56] alex4200 commented on #172
@clupascu What is the version of the hbp_service_client? Its 1.1.0 for me.

[2018-02-01 09:01] antonelepfl commented on #162
I have tried with Chromium 66.0.3337.0 and I was not able to reproduce it.

[2018-02-01 09:01] #162 closed

[2018-02-01 09:09] clupascu commented on #172
It's 0.0.3 for me.

[2018-02-01 09:17] #169 closed

[2018-02-01 10:20] antonelepfl commented on #148
@alex4200 I have created a PR (pull request) https://github.com/lbologna/hbp-sp6-guidebook/pull/15

[2018-02-01 10:53] antonelepfl commented on #168
Ok so I worked around it casting the voxcell_dimension doing
`dimensions = orientation_field.voxel_dimensions.astype('int64')`

It should be showing plots now.
@alex4200 could you recheck and close it if everything is ok?

[2018-02-01 10:54] #89 closed

[2018-02-01 10:55] antonelepfl commented on #148
@lbologna Could you please check it out and merge it if is ok for you?

[2018-02-01 11:11] lbologna commented on #148
Done.

On Thu, Feb 1, 2018 at 11:55 AM, Stefano Antonel <notifications@github.com>
wrote:

[2018-02-01 12:04] antonelepfl commented on #148
Thank you

[2018-02-01 12:04] #148 closed

[2018-02-01 12:47] alex4200 commented on #168
@antonelepfl  I still do not see any plots. And it looks like some more code need to be changed; there is some plotting code before you define the `dimensions`...

[2018-02-01 12:51] antonelepfl opened #173 "Calcium transient should be a possible variable for the report"
Update use case

## Use Case Update

Aspect | Detail
------------ | -------------
Summary | Report calcium concentration
Expert | Andras Ecker, Chindemi Giuseppe
Deadline | Low importance
Dependencies |

**Remove anything that does not apply**
## List of additional/changed features

The idea from Michele is to report on calcium concentration (cai variable, writtem by cacum.mod) mostly in the soma

[2018-02-04 12:00] lbologna commented on #152
Hello,

The error shown might depend on the folder structure contained in the .zip file the user is trying to upload (or the system is generating after fetching the results from hpc systems (nsg)).

I added the same screenshot as Naas to explain the user the structure the zip file must have and implemented different error messages visualization depending on the missing parts (please click on "Sing

[2018-02-04 12:02] lbologna commented on #151
This should be fixed. Could you test again please? Thanks

[2018-02-04 12:09] lbologna commented on #153
Hello. This looks more like a server error than an error occurring when saving the workflow to the storage.
In the latter case, in fact, the displayed message should be the following:

<img width="823" alt="screen shot 2018-02-04 at 13 05 42" src="https://user-images.githubusercontent.com/9949990/35777313-2786c54c-09ac-11e8-93f4-859918d8b480.png">

If this is the case, can we close this issue and

[2018-02-05 06:35] alex4200 commented on #153
@lbologna : Yes sure. Add a link to this issue then...

[2018-02-05 07:26] antonelepfl commented on #168
Can we close this one? Or is anything remaining?

[2018-02-05 08:49] a1eko commented on #140
The optimized cell and optimization notebook are uploaded to private HBP Collab
https://collab.humanbrainproject.eu/#/collab/7840/nav/59620
The notebook is self-documented and runs a small demo example.

[2018-02-05 10:05] lbologna commented on #153
Please refer to issue #42

Closing.

[2018-02-05 10:05] #153 closed

[2018-02-05 10:43] apdavison commented on #35
We will make this available as an Online Use Case

[2018-02-05 10:46] jdcourcol commented on #171
raster: Spike Raster Plot
PSTH: Peristimulus Time Histogram

[2018-02-05 10:53] appukuttan-shailesh commented on #172
The `hbp-service-client` package seems to have changed quite a bit between 0.0.3 to 1.1.0:

For other changes, see here:
https://github.com/HumanBrainProject/hbp-service-client/blob/master/CHANGELOG.md

[2018-02-05 13:11] mmigliore commented on #129
We want all the following systems able to run a simulation: JUQUEEN, JULIA, JURECA (booster partition), MARCONI (KNL partition). It means that the software stack must be installed and sistematically updated on all of them. In SGA2, after the publicaiton of the paper on the circuit, we would like to add the Neuroscience Gateway system to the list.

[2018-02-05 13:13] mmigliore commented on #139
I have discussed this possibility with Bernd. I will raise the point again in the next tech. coordination meeting on wed.

[2018-02-05 13:30] alex4200 commented on #168
Works fine now...

[2018-02-05 13:30] #168 closed

[2018-02-05 13:36] alex4200 commented on #134
@pgetta : Let me know once you have a version of the App/GUI/Use case I can take a look at...

[2018-02-05 13:37] alex4200 commented on #83
First workable use cases expected in 1-2 weeks (i.e. until about 14 Feb 2018)

[2018-02-05 13:39] alex4200 commented on #42
@lbologna : Issue will be closed after a few more days when it is made sure the issue is likely solved.

Ticket will be reopened if the problem will occur again...

[2018-02-05 13:40] alex4200 commented on #35
Expected until about 21 Feb 2018

[2018-02-05 14:57] alex4200 commented on #156
@wizmer : I suggest to talk to @romani79 about that...

[2018-02-05 16:33] a1eko commented on #140
I rewrote the notebook so that it should be possible to run an optimization demo example with any cell uploaded to the Collab's Storage directory Optimizations.
If this works, it would make sense then to merge three suggested use cases, D1 MSN, D2 MSN, FS, to one _Optimization of single cell_ for striatal models, I think.

[2018-02-05 19:26] Hjorthmedh commented on #157
Going to try and see if I can get it to run on Unicore also.

[2018-02-05 19:27] Hjorthmedh commented on #170
Just to confirm, SEC_ID is the ID:s for a compartment assigned in the SWC file?

[2018-02-05 19:30] Hjorthmedh commented on #170
Also received info from JD regarding input format:

[2018-02-05 19:30] Hjorthmedh commented on #141
This should be merged with #140?

[2018-02-05 19:31] Hjorthmedh commented on #142
This should be merged with #140?

[2018-02-06 06:31] alex4200 commented on #142
Merged with #140 as its the same use case, only different model/

[2018-02-06 06:31] #142 closed

[2018-02-06 06:31] alex4200 commented on #141
Merged with #140 as its the same use case, only different model/

[2018-02-06 06:31] #141 closed

[2018-02-06 07:01] alex4200 commented on #152
@lbologna : Yes I agree with that. Its not the absolute perfect solution, but I expect having an issue with a wrong model only in very rare cases...

Should I close this ticket then?

[2018-02-06 07:09] alex4200 opened #174 "Saving workflow takes very long time"
### Expected behavior

Saving a workflow should take no longer than 30 seconds

### Actual Behavior

Even after 5 minutes I see the workflow saving screen

![selection_179](https://user-images.githubusercontent.com/12729291/35845935-c75eb93a-0b14-11e8-80f3-6099b4fdad52.png)

### Steps to reproduce the problem

Perform all steps of the use case, including the 'Run Simulation' step (NaaS). Then pres

[2018-02-06 07:33] alex4200 opened #175 "Unable to continue workflow"
### Expected behavior

Able to continue a saved workflow

### Actual Behavior

After loading a saved workflow, it does not indicate what has been done already, nor can I continue the workflow (unable to click on 'Upload file' in 'Optimization files', for example).

![selection_181](https://user-images.githubusercontent.com/12729291/35846692-f58c3ff0-0b17-11e8-948c-e75712de8201.png)

### Steps to r

[2018-02-06 10:19] alex4200 commented on #172
@clupascu Cannot reproduce this error. But you should really update to version 1.0.0 or 1.1.0 of the hbp-service-client ...

[2018-02-06 10:23] alex4200 commented on #166
Yes fixed...

[2018-02-06 10:23] #166 closed

[2018-02-06 11:42] alex4200 commented on #172
This issue still persists. Its an error I get in the 'Analysis' Notebook...

[2018-02-06 11:45] clupascu commented on #172
I will try to take a look at what @appukuttan-shailesh suggested. Thanks @appukuttan-shailesh.

[2018-02-06 17:14] lbologna commented on #175
Hello,

the steps already completed are indicated by the fact that the bars on the bottom of the panels are green. The user can also download the files concerning each completed steps through the "Download" links.

In this specific case, the optimization had been previously submitted, so, in order not to allow a second submission with the same workflow id, all the other operations are blocked.
If

[2018-02-06 17:15] lbologna commented on #152
Yes, please.

Thanks

[2018-02-07 06:10] #152 closed

[2018-02-07 08:54] alex4200 commented on #175
@lbologna : I am not quite sure I understand. I created a new workflow, and have not chosen any optimization file. Why would that item be blocked?

[2018-02-07 14:45] antonelepfl commented on #140
Hi @a1eko as we said in the last Monday meeting to use only a notebook with different models you just need to send me the information about the models and put a placeholder in your notebook so I can replace it with the name of the model.
We are doing the same thing for the [morphology](https://collab.humanbrainproject.eu/#/collab/1655/nav/20841) there you have the usecase, then the models and last

[2018-02-07 15:24] antonelepfl commented on #171
@alex4200 I did a review for this item.
I also added `Voltage Traces Plot` that Armando wanted to have.
Remember that this last plot is not produced yet.

[2018-02-07 16:03] #171 closed

[2018-02-08 11:08] alex4200 commented on #66
@SelezioneCasuale : Can you also start working on the user documentation in the Guidebook and provide some technical description in the use-case documentation [here:](https://docs.google.com/document/d/19Ni5fGFv6PTTM1D_D2FN4dj5IRhtfq1D0V2OWjXxJww/edit#bookmark=id.vhxk93373186) and [here](https://docs.google.com/document/d/19Ni5fGFv6PTTM1D_D2FN4dj5IRhtfq1D0V2OWjXxJww/edit#bookmark=id.u2hf0lq70txt)

[2018-02-08 12:44] antonelepfl opened #176 "Add models selection for Basal ganglia optimization"
### Expected behavior

- Select the Optimization use case.
- Show a list of the models (so far only one).
- Change the parameter in the jupyter notebook so it loads the selected model.

This optimization is not published yet so the use case is **not** in the BSP.

Alez Kozlov sent the images, title and description for the model.

There are two parameter files in config/ -- parameters.json and para

[2018-02-08 14:05] alex4200 opened #177 "Order of saved workflows"
### Expected behavior

Workflows listed in order (i.e. newest workflow on the top)

### Actual Behavior

Newest workflow is not on top:

![selection_199](https://user-images.githubusercontent.com/12729291/35976780-71fe97fc-0ce1-11e8-9f77-83afa155c89a.png)

### Steps to reproduce the problem

Save two workflows

[2018-02-08 14:06] #177 closed

[2018-02-08 14:12] alex4200 opened #178 ""Optimization settings" step not saved?"
### Expected behavior

When I load a workflow where all three boxes has been green ("Feature extraction", "Optimization files" and "Optimization settings") I expect them to be 'green' again.

### Actual Behavior

The "Optimization settings" is red. I have to open that step and press 'apply' again.

![selection_200](https://user-images.githubusercontent.com/12729291/35977036-46765f42-0ce2-11e8-8d76

[2018-02-08 14:13] #151 closed

[2018-02-08 14:14] alex4200 commented on #175
Works now

[2018-02-08 14:14] #175 closed

[2018-02-09 11:13] clupascu commented on #172
It should be fixed. Can you test again everything please? Thanks.

[2018-02-12 00:03] lbologna commented on #178
Hello,
the "Optimization settings" panel's bar becomes green when all the fields are filled, including the user's credentials needed to access hpc systems.
Given that the workflows are saved in the collab storage, the credentials are not stored for privacy reason. This is why the bar stays red when fetching a previous workflow.

In order to make the user aware that the settings (if previously save

[2018-02-12 07:31] alex4200 commented on #172
@clupascu: Now I get the following error (cell 6 in the Rebuild Single HippoCell use case):

[code]

[2018-02-12 07:33] alex4200 opened #179 "AttributeError: 'Client' object has no attribute 'get_entity_by_query'"
All notebooks show the following error:

[code]

[2018-02-12 07:33] alex4200 commented on #172
Created new issue #179

[2018-02-12 07:33] #172 closed

[2018-02-12 07:45] alex4200 commented on #178
Ok, sounds good to me...

[2018-02-12 07:45] #178 closed

[2018-02-12 08:49] alex4200 opened #180 "Incorrect ID for "Optimize a cerebellar granule cell multicompartmental model""
The ID in the use case config seems to be wrong still

https://github.com/antonelepfl/usecases/pull/50

[2018-02-12 09:16] alex4200 commented on #135
Prototype available:

https://collab.humanbrainproject.eu/#/collab/375/nav/58475

[2018-02-12 09:17] alex4200 commented on #136
Prototype available:

https://collab.humanbrainproject.eu/#/collab/8124/nav/61653

[2018-02-12 09:29] alex4200 commented on #134
From @pgetta:

[2018-02-12 10:16] lbologna commented on #174
Hello,

this issue does not seem to happen anymore.
Could you please check again?

Thanks

[2018-02-12 10:20] SteMasoli commented on #180
Pull request done with the new ID. Waiting to go live.

[2018-02-12 10:29] lbologna commented on #42
After freeing the /boot partition on the vm hosting the web application and increasing the session expiration time, the server error seems solved when the common pipeline operations are performed.

Could you please check again?

Thanks.

[2018-02-12 10:38] alex4200 commented on #156
Lets all talk to Armando

[2018-02-12 10:39] alex4200 commented on #157
@Hjorthmedh : Aplied for an  account

[2018-02-12 10:46] alex4200 commented on #140
@antonelepfl will put usecase on BSP after @a1eko sends the link to public collab.

[2018-02-12 12:09] alex4200 commented on #180
Ok fixed

[2018-02-12 12:09] #180 closed

[2018-02-12 12:31] alex4200 commented on #45
Expected to be finished by end of February

[2018-02-12 12:32] alex4200 commented on #44
Expected to be finished by begin of March

[2018-02-12 13:23] alex4200 commented on #42
Ok, looks good at the moment. Will close the ticket...

[2018-02-12 13:23] #42 closed

[2018-02-12 14:46] alex4200 commented on #174
Clarification on 'Completed' jobs needed.

[2018-02-12 16:17] mmigliore commented on #139
please move it to SGA2

[2018-02-12 17:53] a1eko commented on #140
I have uploaded an example optimisation of striatal fast-spiking cell to our public collab SP6 - Basal Ganglia
https://collab.humanbrainproject.eu/#/collab/376/nav/63146

[2018-02-13 09:59] alex4200 opened #181 "Mouseover text for unfinished steps"
### Expected behavior

When the mouse is over the icon (see screenshot), I expect a message more like "Step has not been run."

### Actual Behavior

The text reads "Waiting for simulation ends" which gives the impression something is running and the user just needs to wait.

[2018-02-13 10:08] alex4200 opened #182 "Plots in the Analysis section still missing"
- The three plots for the analysis are still missing
- Axis labels incomplete
- Titles need to be adjusted

[2018-02-13 10:10] alex4200 opened #183 "Unicore logs misformatted"
### Expected behavior

To see the unicore logs on the page as one would see it in a text editor

![selection_207](https://user-images.githubusercontent.com/12729291/36144503-7f41576c-10ae-11e8-8f9b-6eea8bea5118.png)

### Actual Behavior

Log text is somewhat scrambled.

![selection_206](https://user-images.githubusercontent.com/12729291/36144485-74045174-10ae-11e8-91b8-39eb5851f9c1.png)

[2018-02-13 12:54] antonelepfl commented on #182
@alex4200 for the axis label and the other plot I would need to see who is going to be in charge of that. If it's me or Mike or another person.
@jdcourcol who do you think it is the better way to tackle that?

[2018-02-13 15:13] antonelepfl commented on #176
Based on [this](https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/140#issuecomment-365005203) comment the public Collab is [here](https://collab.humanbrainproject.eu/#/collab/376/nav/63146)

Item should be added in the BSP with the following information:

**Title**: Optimize a striatal fast-spiking interneuron

**Description** : Fit parameters of a striatal fast-spiking interneuron model to the

[2018-02-13 15:16] antonelepfl commented on #176
@a1eko this item should be in the BSP under `Single Cell Building`? otherwise please let me know where should I place it.
Thank you in advance

[2018-02-13 15:27] a1eko commented on #176
Yes, Stefano, it should be in Single Cell Building of BSP. Thank you!

[2018-02-15 14:28] antonelepfl commented on #176
@a1eko Please could you modify the public [collab ](https://collab.humanbrainproject.eu/#/collab/376/nav/63146) removing some of the cells like in the attachement?

![screen shot 2018-02-15 at 15 15 52](https://user-images.githubusercontent.com/24406041/36260992-416e9c4a-1263-11e8-8859-25ad7e5e6588.png)

And please I would need you to modify this [file](https://github.com/antonelepfl/usecases/blob

[2018-02-16 08:58] alex4200 opened #184 "Uploading file possible although no file selected"
### Expected behavior

I should be unable to click the 'Upload' button as long no file has been selected.

### Actual Behavior

Still able to click the upload button if no file is selected, resulting in an error or course

![selection_219](https://user-images.githubusercontent.com/12729291/36299976-9e40f78c-12ff-11e8-96f5-f71cea400aff.png)

### Steps to reproduce the problem

[2018-02-16 09:00] alex4200 opened #185 "HH cloning does not seem to work in all cases"
### Expected behavior

When cloning a workflow, I expect all the 'green' steps to be green after the cloning.

### Actual Behavior

In the first workflow all the steps were green (including 'Optimization results'), but after cloning its red with an error "NO simulation .zip file or NO correct output from optimization"

Before cloning:

![selection_220](https://user-images.githubusercontent.com/127

[2018-02-16 12:25] alex4200 opened #186 "Small python error in validation notebook"
The first cell of the "Optimized BG model validation" use case has a small error.

Incorrect:

[code]

correct:
[code]

also in the end of the second cell:
[code]

[2018-02-16 12:30] alex4200 opened #187 "Error in validation notebook"
Cell 4 of the 'Optimized BG model validation' notebook:

[code]

[2018-02-16 12:40] appukuttan-shailesh commented on #187
The notebook isn't ready for testing :)
An hour or two more....

[2018-02-16 12:41] appukuttan-shailesh commented on #186
The notebook isn't ready for testing :)
An hour or two more....

[2018-02-16 12:42] alex4200 commented on #187
Sorry for that! I saw it was online and cound't resist...  I will wait

[2018-02-16 12:42] #187 closed

[2018-02-16 12:50] apdavison commented on #186
@lbologna please could you add @appukuttan-shailesh to the list of collaborators for this repository, so that this ticket can be assigned to him instead of to me? ;-)

[2018-02-16 12:50] alex4200 commented on #186
@apdavison I cna take care of that...

[2018-02-16 12:57] arsenius7 commented on #118
Being indirectly blamed for ignoring this ticket (which despite its form is a fair call), I feel obliged to write down, that I do not plan to work on it in the near future.
If you feel uncomfortable about that, please check with @jdcourcol.

[2018-02-16 14:51] appukuttan-shailesh commented on #186
Hi @alex4200 ,
The usecase is now more or less ready. There is one issue with regards to viewing the final report within the Jupyter notebook. I am looking into this (seems to be to do with the large file size, as the same code has worked previously for me with smaller files.) Also trying to offer a download link. But right now, the location for the report is merely displayed at the end of the tes

[2018-02-16 15:10] antonelepfl commented on #181
I did a review for this.. @alex4200 let me know in the review if the texts look good for you

[2018-02-16 16:46] appukuttan-shailesh commented on #186
@alex4200 : The PDF problem has been fixed. Ready to be tested.

p.s. In case anyone finds this useful in future, here is the solution to the PDF issue:
https://forum.humanbrainproject.eu/t/problem-with-iframe-in-jupyter-notebook/528

[2018-02-19 07:47] alex4200 commented on #118
@arsenius7: Thanks for the update...

[2018-02-19 09:18] #186 closed

[2018-02-19 09:20] alex4200 opened #188 "Python error in first cell of "Optimized BG model validation""
There seems to be still some error in the first cell of that use case:

![selection_223](https://user-images.githubusercontent.com/12729291/36370171-61e2e0e6-155e-11e8-917b-724d844f1b64.png)

[2018-02-19 09:24] alex4200 opened #189 "More detailed comments for each cell"
### Expected behavior

A title and some sentences about what is going on for each cell in  the notebook. I suggest a short and concise title, and then some concise text.

Example:

![selection_226](https://user-images.githubusercontent.com/12729291/36370414-145a5060-155f-11e8-9116-6b55f32c4b04.png)

### Actual Behavior

![selection_224](https://user-images.githubusercontent.com/12729291/36370420-1

[2018-02-19 09:33] alex4200 opened #190 "Username for Validation"
### Expected behavior

Instead of having the user edit the cell, there is a way to get the name of the user automatically:

[code]

see https://collab.humanbrainproject.eu/#/collab/509/nav/24072

### Actual Behavior

User needs to edit the cell.

[2018-02-19 09:37] alex4200 opened #191 "Use Case Grouping in BSP"
Suggestion:

1. Remove the use case group 'Validation-framework Use Cases'
2. Move the use case group 'Highly integrated workflows' on top of the group 'Online Courses'

![selection_227](https://user-images.githubusercontent.com/12729291/36370949-e9586af8-1560-11e8-92c4-246b45984409.png)

[2018-02-19 10:18] appukuttan-shailesh commented on #190
The `username` is infact (intended) already optional, when the notebook is being run inside the Collaboratory. It has been kept in cell 4, just in case a user wishes to download the notebook and run it locally.

Another potential (less likely) reason for allowing user to specify the username (even within the Collaboratory) is in dealing with access permissions (wanting to run the test with differe

[2018-02-19 10:25] appukuttan-shailesh commented on #189
Sure, will make the documentation more descriptive.

[2018-02-19 10:33] appukuttan-shailesh commented on #188
Is this reproducible? I tested this now with two different accounts, in two different collab environments and it worked.

If reproducible, would it be possibly for you to break down the cell and identify where it is giving this error?

[2018-02-19 12:10] alex4200 commented on #188
@appukuttan-shailesh Update: When I run the following command before the `basalunit` install it worked:

`!pip install --upgrade setuptools`

[2018-02-19 12:16] appukuttan-shailesh commented on #188
Oh ok. Thanks for identifying that; now we know how to fix it! I am wondering if it's something too generic, and whether it needs to be handled within the usecase? What do you think?

[2018-02-19 12:20] alex4200 commented on #157
@Hjorthmedh Can you please give a short update here?

[2018-02-19 12:24] alex4200 commented on #188
I am not sure about that. It happened in my main HBP account where I try out a lot of things. So quite probable that I 'misconfigured' something.

For now I would suggest to close this ticket and see if this issue will occur again...

[2018-02-19 12:25] appukuttan-shailesh commented on #188
Sure. I agree with that.

[2018-02-19 12:25] #188 closed

[2018-02-19 13:02] alex4200 opened #192 "Insert the Mouse Purkinje cell into the Brain Sim. Platform"
The Mouse Purkinje cell use case needs to be inserted into the brain simulation usecase.

To my understanding this use case should go to the 'Single Cell Building' use case.

The use case is to be found here, but needs to be made 'public'.

https://collab.humanbrainproject.eu/#/collab/7959/nav/60494

 Then it can be simply linked ...

[2018-02-19 14:02] alex4200 opened #193 "Link to legend for definitions"
In the Feature Extraction GUI it would be nice to have a link (maybe on the top) to the definitions of the features

e.g. http://bluebrain.github.io/eFEL/eFeatures.html

or some similar page.

![selection_230](https://user-images.githubusercontent.com/12729291/36381470-f418c5b2-1585-11e8-8992-c5efaae9339a.png)

[2018-02-19 14:07] alex4200 opened #194 "Explanation for user what to find in the resulting json files"
In the introduction page of the Feature Extraction use case

![selection_231](https://user-images.githubusercontent.com/12729291/36381617-7c57402a-1586-11e8-9199-727db3f74c45.png)

a sentence or two might be needed to advise the user 'what to do' with the created json files.

(outcome of user testing)

[2018-02-19 14:18] alex4200 commented on #129
@antonelepfl: I seem to be unable to run a simulation on JULIA. I just start the default simulation (without changing anything) on JULIA. The submit seems to take forever:

![selection_232](https://user-images.githubusercontent.com/12729291/36382085-13739b24-1588-11e8-9b79-3ccdb703af95.png)

[2018-02-19 14:40] #164 closed

[2018-02-19 16:26] clupascu commented on #179
I finished to make changes to all my notebooks. It should be fixed now. Can you please test again? Thanks.

[2018-02-19 17:48] alex4200 commented on #179
@clupascu : Unfortunately, there are still errors in the **synaptic events fitting** notebook:

Cell5: clients = get_hbp_service_client()
Cell7:
[code]

And in the **other notebooks** please make sure a conversion to `str` is made always before calling any clients method:

otherwise you get this error: `StorageArgumentException: The path must be a string, start with a slash (/), and be longer than

[2018-02-19 18:29] clupascu commented on #179
Ok for the cell 5. For the cell 7 I think it has nothing to do with conversion to str. It seems that https://nip.humanbrainproject.eu/api/ksearch has a server problem. I think that is why you get ValueError: No JSON object could be decoded.

[2018-02-20 07:09] alex4200 commented on #179
@clupascu : String error whenever you call a `clients.storage` method and an argument is not of type `str`.

[2018-02-20 08:03] alex4200 opened #195 "Guidebook documentation for Single Cell Building"
In the Guidebook the documentation for the hippocampal cell model use cases are listed under a 4th level header (i.e. a header with four digits like 2.3.2.1).

However, in the rest of the guidebook the use cases are under a 3-level header (i.e. a header with three digits). I would strongly argue to do that the same for the hippocampal cell model use cases; then it looks more structured and we can

[2018-02-20 08:48] alex4200 commented on #179
@clupascu : what is this service https://nip.humanbrainproject.eu/api/ksearch? What is it used for, and who is responsible for it?

[2018-02-20 10:26] alex4200 opened #196 "Notebook documentation required for Basal Ganglia notebook"
The basal ganglia notebook is lacking a base of documentation. At least a bit of technical documentation should be added for each cell or bunch of cells..

[2018-02-20 11:05] alex4200 opened #197 "Technical documentation still incomplete"
The technical documentation here is still incomplete:

https://docs.google.com/document/d/19Ni5fGFv6PTTM1D_D2FN4dj5IRhtfq1D0V2OWjXxJww/edit#bookmark=id.mcie7vrvjvug

[2018-02-20 12:35] alex4200 opened #198 "User experience labelling"
There should be a single 'user experience' labeling; either 'Everybody' or 'Power users'.

![selection_234](https://user-images.githubusercontent.com/12729291/36424223-e24befe0-1642-11e8-9524-533dc0bde739.png)

[2018-02-20 12:36] alex4200 opened #199 "User experience labeling"
There should be a single 'user experience' labeling; either 'Everybody' or 'Power users'.

![selection_234](https://user-images.githubusercontent.com/12729291/36424223-e24befe0-1642-11e8-9524-533dc0bde739.png)

[2018-02-21 06:48] alex4200 commented on #179
@clupascu It looks like that ksearch service has been disabled:

[NRINF-DiscontinuingtheNIPPlatform-210218-0747-2.pdf](https://github.com/cnr-ibf-pa/hbp-bsp-issues/files/1743078/NRINF-DiscontinuingtheNIPPlatform-210218-0747-2.pdf)

[2018-02-22 07:51] alex4200 opened #200 "Unable to select other computer than NSG"
### Expected behavior

Able to select JURECA (and MARCONI) for running the optimization.  Maybe not MARCONI for SGA1, but JURECA?

### Actual Behavior

Unable to select either of these. Only NSG possible

- [x] Selection of PizDaint implemented for Hippocampus Circuit Building Optimization use cases
- [ ] Implementation pending for HH use case

[2018-02-22 11:10] alex4200 opened #201 "Wrong hostname in NIP-service request"
In the notebook 'Cell Placement Hippocampus' a request is being made which is using a wrong hostname:

`
http://voxels-nip.nexus.apps.bbp.epfl.ch/api/analytics/atlas/download?uri=9B1F97DD-13B8-4FCF-B9B1-59E4EBE4B5D8/brain_regions/brain_region/200.nrrd`

This happens in the cell before '_volume_filename_' is defined. The reason for that is that before a correct request is being made as follows:

`h

[2018-02-22 14:13] appukuttan-shailesh commented on #35
The validation use case added last week is a specific variant (for Basal Ganglia models) of that intended here. The generic version proposed here would be ready by the end of next week.

[2018-02-22 14:23] appukuttan-shailesh commented on #83
- `MorphoUnit` is currently inactive (no immediate demands from model developers); and therefore not expecting any progress in the near future
- Use case for `HippoUnit` will be ready by mid-March (latest)
- `BasalUnit` usecase is already online; but will have a few more quick updates adding more features
- `SubCellUnit` could likely be ready in mid-March, and so could be added to the list and int

[2018-02-23 09:14] alex4200 commented on #136
@SelezioneCasuale Is the prototype ready to be placed in the brain simulation platform?

[2018-02-23 10:54] alex4200 opened #202 "Unable to launch job on JULIA"
When starting the default job on JULIA the submit screen is shown only

![selection_248](https://user-images.githubusercontent.com/12729291/36590835-40889ae6-1890-11e8-8568-4480f689ab77.png)

[2018-02-23 13:36] SteMasoli commented on #192
I have uploaded all the files on the BSP storage and added it to the list of usecases (pull request pending). There is no more need to link the collab.
I'll upload the guidebook as soon as possibile

[2018-02-26 09:47] lbologna opened #203 "Update backend optimization operations with new optimization repository .py script"
### Expected behavior
Optimization are submitted correctly

### Actual Behavior
Optimization cannot be submitted with success

### Steps to reproduce the problem
Go through the optimization procedure and launch the optimization on NSG

### Optional infrastructural data (user, platform, browser, environment, ...)

[2018-02-26 09:51] Hjorthmedh commented on #157
I now have access to Unicore. Able to submit jobs. In the process of updating the environment so my code can run on the machine.

[2018-02-26 10:54] jdcourcol commented on #13
This is implemented with the limitation of a Full CA1 replay.

[2018-02-26 10:54] #13 closed

[2018-02-26 10:54] jdcourcol commented on #14
This is done.

[2018-02-26 10:54] #14 closed

[2018-02-26 11:01] #181 closed

[2018-02-26 14:05] alex4200 commented on #140
Use cases in the brain simulation platform available.

[2018-02-26 14:05] #140 closed

[2018-02-26 14:09] alex4200 opened #204 "Documentation about updating use cases"
Stefano is about to update some documentation of the workflow on how to update the use cases, in order to have them available in a dev/test environment before putting them in the productive environment.

Documentation to be added to: https://github.com/antonelepfl/usecases

[2018-02-26 14:12] alex4200 opened #205 "Replacement for ksearch service"
The use case

`Synaptic events fitting `

use the ksearch service for which a replacement need to be found. Andrew Davison and Jeff Muller are involved.

[2018-02-26 14:13] alex4200 opened #206 "Synaptic events fitting (user model/data): Disk quota"
Starting a NSG job results in the message

[code]

[2018-02-26 14:14] alex4200 opened #207 "500 Server error"
Probably because filenames have changed. The path to the pdf to display is incorrect.

[2018-02-26 14:14] alex4200 commented on #179
Replaced by issues #205, #206, #207.

[2018-02-26 14:14] #179 closed

[2018-02-26 14:15] alex4200 commented on #203
Update expected until end of week (i.e. 2 March)

[2018-02-26 14:17] alex4200 commented on #15
Important clusters to check: JULIA and JURECA. JUQUEEN is being discontinued.

Last update from Cyrille Favreau (26 Feb):

[2018-02-27 08:39] alex4200 opened #208 "Page indicates loading pieces, but no loading occurrs"
### Expected behavior

When the loading of the page is done, the user should be able to see that (i.e. no 'turning arrows).

### Actual Behavior

Even after minutes there are still 'turning arrows' indicating something is still being loaded.

![selection_249](https://user-images.githubusercontent.com/12729291/36718444-1d48783e-1ba2-11e8-9ee8-e5b050722025.png)

### Steps to reproduce the problem

O

[2018-02-27 08:47] alex4200 opened #209 "BlueConfig file is missing"
### Expected behavior

Once I have submitted a job to Juelich, I expect to see the BlueConfig file I have submitted.

### Actual Behavior

BlueConfig file is not available in some cases:

![selection_250](https://user-images.githubusercontent.com/12729291/36718742-28fa0c1e-1ba3-11e8-82a2-e83797369f04.png)

### Steps to reproduce the problem

Jobs with a exceeding wall clock time?

[2018-02-28 10:20] alex4200 commented on #206
Disk quota has been restored. Cause still unknown

[2018-02-28 10:20] #206 closed

[2018-02-28 11:43] alex4200 opened #210 "Code error for Analysis of Synaptic events fitting with user data"
### Expected behavior

Analysis shows table

### Actual Behavior

Error message:

[code]
![screen shot 2018-02-28 at 12 43 12](https://user-images.githubusercontent.com/12729291/36785963-f95e668e-1c84-11e8-919f-9de4c9e05ec1.png)
### Steps to reproduce the problem

 - Run the fit with the demo version
 - Insert the values 82, -60, 0
 - Select the results from storage (after NSG job finished)
 - Sel

[2018-02-28 12:22] clupascu commented on #210
Can you add me to the test collab please? Thanks.

[2018-02-28 15:22] alex4200 commented on #210
done

[2018-02-28 16:11] #176 closed

[2018-02-28 16:14] antonelepfl commented on #191
@alex4200 I don't know who created the Validation usecase.
I moved it down but I don't want to remove it if I don't know how did it and why they put it there.
@jdcourcol do you know something about it?

[2018-02-28 16:16] antonelepfl commented on #192
I think the usecase is already [here](https://collab.humanbrainproject.eu/#/collab/1655/nav/66852)
@SteMasoli if you agree that is there, you can close the ticket.

[2018-02-28 16:17] antonelepfl commented on #202
@alex4200 let's try tomorrow because I don't get this issue.

[2018-02-28 16:19] antonelepfl commented on #204
* New [Workflow](https://github.com/antonelepfl/usecases#to-deploy-in-a-dev-environment)
* New way to [add a use case](https://github.com/antonelepfl/usecases/blob/dev/documentation/add_new_usecase.md#add-new-usecase-in-an-existing-domain)

[2018-02-28 16:19] #204 closed

[2018-02-28 16:33] SteMasoli commented on #192
Yes the usecase is entirely on the BSP.

[2018-02-28 16:33] #192 closed

[2018-02-28 16:36] clupascu commented on #210
I can't reproduce this one. Can you try it again?

[2018-02-28 16:41] apdavison commented on #191
This was created a long time ago, with some demonstrations of/documentation of the prototype version of the Validation Framework. @appukuttan-shailesh do you think we can archive the contents of this and then delete it? (Lungsi was the original author, but he is on vacation at the moment...)

[2018-02-28 16:53] antonelepfl commented on #209
Yes I understand this problem but how the launch script works is the following.
You can pass it a JSON file and then it will convert to our `standard` format of BlueConfig and then, starts the simulation.
If you have an error let's say in the allocation of the job (before the parsing and running part) the parse is not done so I cannot show BlueConfig format.

I have the possibility to show `blueco

[2018-02-28 16:58] appukuttan-shailesh commented on #191
I see that the demo is actually hosted at `https://lungsi.github.io/HVF-walkthrough`, so we have a reliable backup. So I think it is safe to go ahead and remove this from the Collaboratory. Also, I shall remove the `IPython example demo` jupyter notebook and shall include this within the 'Validation' use case menu.

@apdavison : does this seem fine?

[2018-03-01 07:47] appukuttan-shailesh commented on #191
The part dealing with 'Validation-framework Use Cases' has been taken care of.

[2018-03-01 09:34] alex4200 commented on #183
Looks better.

[2018-03-01 09:34] #183 closed

[2018-03-01 09:44] alex4200 commented on #208
Yes they vanish after some small time. Ok

[2018-03-01 09:44] #208 closed

[2018-03-01 09:48] alex4200 commented on #209
To me it looks pretty much the same... - however, maybe its possible to show some small text in case the BlueConfig is not available; something like

`    BlueConfig not available because of error on job; please check the logs. `

[2018-03-01 09:55] appukuttan-shailesh commented on #190
@alex4200 : Shall we close this?

[2018-03-01 10:12] #191 closed

[2018-03-01 10:17] alex4200 commented on #190
I would appreciate if you can update the inline documentation a bit, i.e. mention explicitly in the 'MarkDown' box above that there is no need to change the username.

[2018-03-01 10:46] alex4200 commented on #210
@clupascu : I got the same error again:

![selection_251](https://user-images.githubusercontent.com/12729291/36840676-298b7f10-1d46-11e8-88fe-be088dd3de8c.png)

I added you to that Collab (Dev2).

[2018-03-01 10:52] alex4200 opened #211 "Synaptic Events Fitting: Which results are from where?"
### Expected behavior

I can clearly distinguish the results I have started from one of the Synaptic-Events-Fitting use cases (either with user data and with user model, and the parameters, data, model I have used).

### Actual Behavior

I am presented with a list of results, not knowing where the results are from (which use case, which parameters).

![selection_252](https://user-images.githubuser

[2018-03-01 10:53] alex4200 commented on #210
When I click on 'Boxplot results' instead I get the following error:

[code]

[2018-03-01 12:26] appukuttan-shailesh commented on #190
Done.

[2018-03-01 12:27] appukuttan-shailesh commented on #189
Completed.

[2018-03-01 12:39] alex4200 opened #212 "Documentation missing from Guidebook"
User documentation is missing from the guidebook; see here: https://collab.humanbrainproject.eu/#/collab/1655/nav/18580

[2018-03-01 12:44] alex4200 commented on #196
@a1eko

I have some more questions/comments to the FS use case:

- At the beginning of the use case you download a cell model from e.g.
/SP6 - Basal ganglia/Optimisations/str-fs-161205_FS1-BE37A-20180212.tar.bz2

where is that location? I cannot find it in any storage...

- Are there more models available the user can use?
- Is the "load_ext autoreload" function needed?
- I have some suggestions f

[2018-03-01 12:46] SteMasoli commented on #212
https://github.com/lbologna/hbp-sp6-guidebook/pull/19

[2018-03-01 13:13] alex4200 opened #213 "ImportError: cannot import name TransformedPatchPath"
### Actual Behavior

Error in the 6th cell:

[code]

![selection_254](https://user-images.githubusercontent.com/12729291/36846372-aab66d34-1d5a-11e8-8045-b3a372f2d01b.png)
![selection_255](https://user-images.githubusercontent.com/12729291/36846373-aacee15c-1d5a-11e8-86f6-9c7efe22f89d.png)

### Steps to reproduce the problem

- Model selected: msn_d1_all-6-20170524
- Cell Type = msn_d1
- Junction

[2018-03-01 13:19] appukuttan-shailesh commented on #213
@alex4200 : I'm looking into this. I have a feeling the validation server was down some time (for upgrade) and maybe that was the cause. What did you intend by "DEV platform"? It seems you used "environment = production"

[2018-03-01 13:29] appukuttan-shailesh commented on #213
I have tested again and it has worked. Could you check again?
p.s. thanks for the detailed steps.

[2018-03-01 13:32] appukuttan-shailesh commented on #213
From the error message, it seems to be corrupted environment [(as suggested here)](https://github.com/has2k1/plotnine/issues/79).

Could you check if ` import matplotlib.pyplot as plt` works for you? Worth re-testing with a fresh installation of matplotlib.

[2018-03-01 13:35] #190 closed

[2018-03-01 13:54] alex4200 opened #214 "Error when trying to show analysis from Storage."
### Expected behavior

After I have clicked "View Analysis" from an optimization on github, I want to "View Analysis" from the Storage.

### Actual Behavior

But when I click on "Storage" I get the following error:

[code]
![selection_256](https://user-images.githubusercontent.com/12729291/36848002-40c2b954-1d60-11e8-8d6c-91e48110fa13.png)

### Steps to reproduce the problem
- Let a job finish in

[2018-03-01 14:04] alex4200 commented on #202
Some remarks:
1. I am not sure a 'normal' user will understand what is meant by that message "more details in console" .
2. When opening the console at this point, there is no error.
3. When you open the console and repeat the actions leading to this error, there does not seem to be an error anymore in the console.

Couldn't you 'catch' the console error message and show it on the popup? That woul

[2018-03-01 14:09] #209 closed

[2018-03-01 14:15] alex4200 commented on #213
In the jupyter notebook I did:

[code]

but I got the same error again when doing

`import matplotlib.pyplot as plt`

I will check with the Collab guys...

[2018-03-01 14:47] alex4200 commented on #213
Yes; I needed to restart the kernel. Without that, the already loaded version was used. Its fixed now.

[2018-03-01 14:47] #213 closed

[2018-03-01 14:49] alex4200 opened #215 "StorageForbiddenException: You are forbidden to do this."
### Actual Behavior

I get an error

`StorageForbiddenException: You are forbidden to do this.`

from this line:

[code]

when it is trying to download the file

`/6351/test_observations/YJ150915_c67D1ch01D2ch23-c6.zip`

However, that file seems to reside on the Collab with ID 6351, to which I have no access as user 'adietz'.

### Steps to reproduce the problem

See #213

### Optional infrastructu

[2018-03-01 14:56] appukuttan-shailesh commented on #215
Thanks for identifying this. That indeed is a problem, but fortunately can be quickly fixed. I will move the reference data to a 'public' collab and update you here.

[2018-03-01 15:02] appukuttan-shailesh commented on #215
Done. Could you test again? Thanks.

[2018-03-01 15:31] Hjorthmedh commented on #197
Documentation for striatum scaffold has been updated.

[2018-03-01 15:52] alex4200 commented on #189
@appukuttan-shailesh : Overall, I think the documentation given in the notebook is really great and clear in order to guide the user through it.

However, I found some (minor) spelling issues and suggestions:

First text cell:

- Suggestion: "hall_of_fame.json" -> `hall_of_fame.json`
- collab -> Collab

Cell "Specifying model ..."
 -  registed -> registered

[2018-03-01 16:07] appukuttan-shailesh commented on #189
Thanks @alex4200 for going through this meticulously. I have now made the changes that you recommended.

[2018-03-01 16:40] alex4200 commented on #189
Perfect, thanks.

[2018-03-01 16:40] #189 closed

[2018-03-01 20:48] clupascu commented on #214
Can you add me to the test collab? It seems that no output was produced by NSG in the analyzed folder (IOError: [Errno 2] No such file or directory: 'output.tar.gz'). Maybe I should add an alert in this case.

[2018-03-01 20:50] clupascu commented on #211
Ok. I will maybe add  the name of the use case to the folder name.

[2018-03-01 20:59] clupascu commented on #210
I don't get the 'DataFrame' object has no attribute 'sort' error. I tested into the Collab (Dev2).
![schermata 2018-03-01 alle 21 57 06](https://user-images.githubusercontent.com/22050958/36869349-c9723028-1d9b-11e8-830e-71fae24441c7.png)

[2018-03-01 21:01] clupascu commented on #210
I don't get any error when I click on 'Boxplot results'.
![schermata 2018-03-01 alle 22 00 34](https://user-images.githubusercontent.com/22050958/36869433-15e65bb4-1d9c-11e8-80bb-b407ccdb381e.png)

[2018-03-01 21:07] clupascu commented on #207
This is fixed. Can you try again please? Thanks.

[2018-03-01 21:24] clupascu commented on #163
I am working on this too, on displaying only 3 significant figures. What example here  https://plot.ly/python/box-plots/ you were referring to?

[2018-03-01 21:32] clupascu commented on #207
I checked the Dev 2 Collab and the pdf's are displayed.
![schermata 2018-03-01 alle 22 31 07](https://user-images.githubusercontent.com/22050958/36870770-6a5f9f58-1da0-11e8-9192-6368ab82b3bd.png)

[2018-03-01 21:51] clupascu commented on #214
I tried it in the Dev2 Collab. The pdf files are shown when I click on "View Analysis" (for 'GitHub').
![schermata 2018-03-01 alle 22 31 07](https://user-images.githubusercontent.com/22050958/36870850-a8427f34-1da0-11e8-95ba-65e8150cc01f.png)
When I click on "Storage" I don't get the error that you get
![schermata 2018-03-01 alle 22 49 43](https://user-images.githubusercontent.com/22050958/3687158

[2018-03-02 07:27] alex4200 commented on #210
@clupascu : I am confused regarding the `DataFrame` error. I gave pandas version 0.22.0 installed, and according to the documentation here

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

a `DataFrame` does not contain a method `sort`. Maybe you are using a different version of pandas? if so, I suggest to make sure at the begin of the notebook that a compatible versio

[2018-03-02 08:45] alex4200 commented on #163
@clupascu just hover with the mouse over the first plot (in section "Basic Box Plot") and you see that the pop-up numbers will not just be numbers but something like

`max: 4.02...`

[2018-03-02 10:04] alex4200 commented on #207
@clupascu I have redone the analysis in the Collab 'Dev2'. I started the Config notebook again (after removing the paths in storage) with the default settings (i.e. taking the already marked models etc).

After the NSG job has finished, I clicked on 'Storage' just to see the Server error again. I have verified there is only one result and it contains an 'output.tar.gz' file.

I further checked wha

[2018-03-02 10:07] clupascu commented on #207
They are actually created in the opt_neuron.py. I will take a look again at this. For the github examples it works isn't it?

[2018-03-02 10:19] alex4200 commented on #207
@clupascu : Yes; for the github examples its working and then I see the pdf files.

(I am available on skype now...)

[2018-03-02 10:27] clupascu commented on #207
I am trying to send you a message and it is not working. Can you call me?

[2018-03-02 10:57] alex4200 commented on #215
@appukuttan-shailesh : Thanks for the quick fix, but there seem to another try to upload files to the collab with the ID 6351. It happens according to the following backtrace:

[code]

[2018-03-02 11:47] appukuttan-shailesh commented on #215
Ah... I missed that one. The problem was that in cell #4 when we were registering a new model, the default value had been set to app_id=49879 which is inside a private collab (for the Basal Ganglia team). I have now changed the default to a publicly accessible version (671794). Do let me know if this works. Thanks.

[2018-03-02 13:09] alex4200 commented on #215
I still get the same error, although I seem to be able to access all the pages (i.e. https://collab.humanbrainproject.eu/#/collab/8123/nav/67179) . Below is the complete backtrace.

I tried this twice(!), but saw the same error again.

The offending line seems to be in datastores.py:

113                 child = self.doc_client.create_folder(folder_name, parent=parent)['uuid']

with folder_name =

[2018-03-02 13:35] jdcourcol commented on #182
Please ask Mike for help.

[2018-03-02 13:40] alex4200 opened #216 "500 Server Error"
Again the 500 Server Error for the "Feature Extraction GUI" use case.

Environment: Production

[2018-03-02 13:58] appukuttan-shailesh commented on #35
@lbologna @clupascu
The optimized models stored at https://github.com/lbologna/bsp_data_repository earlier used to contain a single `cell.hoc` inside the checkpoints directory. The validation test code for these models used to load this file. In the optimized models now available on the repository, the models seem to have multiple `.hoc` files in the checkpoints directory. E.g.
For `CA1_pyr_cACpyr

[2018-03-02 14:03] lbologna commented on #216
Actually bug fixes for the Server Errors have not been uploaded to
Production yet.
I will keep you up to date with the next upload.

On Fri, Mar 2, 2018 at 2:40 PM, alex4200 <notifications@github.com> wrote:

[2018-03-02 14:04] appukuttan-shailesh commented on #215
Sure, will check with another account. p.s. do you know if there is any way to reset an account's collab environment? I already have a 'test' account. But I have used it in the past, so it won't be "starting afresh".

[2018-03-02 14:50] jdcourcol commented on #93
This is on hold. Priority is given to get BluePyMM to be open sourced.

[2018-03-02 17:52] appukuttan-shailesh commented on #215
I have identified the problem. I was under the impression that if a Collab is public, then anyone can access it AND also be able to create directories in its storage. It turns out that the latter isn't true. Only if a user is added to the 'Team' of a Collab (even public) can they perform actions in the storage.

Will change the target Collab to the one in which the UseCase was added (as opposed to

[2018-03-05 12:35] alex4200 commented on #182
@arsenius7 : As far as I know you are working on this task. What is the status on it?

[2018-03-05 12:35] alex4200 commented on #44
Moved to SGA2

[2018-03-05 12:40] arsenius7 commented on #182
I would add voltage collage to BluePy today (although eventually it won't go there).
Don't know if anything else is expected from me here. ^^

[2018-03-05 13:38] alex4200 commented on #182
@antonelepfl : will you add the script to the simulationUI/analysis when Arseny is done?

[2018-03-05 13:48] arsenius7 commented on #182
@antonelepfl , is there any specific requirement how voltage collage should look like apart from the code snippet you provided (which in turn is taken from [Post Simulation Workflow](https://developer.humanbrainproject.eu/docs/projects/postsimulationutils/0.0.10/pswf.html#workflow-overview), I believe)?

I.e., would this one do:
![voltage_collage](https://user-images.githubusercontent.com/18440108

[2018-03-05 14:46] clupascu commented on #207
This should be fixed. Can you test again please? Thanks.

[2018-03-05 17:05] lbologna commented on #212
This was integrated in the Guidebook.
Could you please check again?

Thanks.

[2018-03-05 17:12] clupascu commented on #195
I think that, unfortunately, the 4th level header for the hippocampal cell model use case (as for the jsons in hippocampal neurons, or the graphical user interface and the Electrophysiological data for the Feature Extraction Graphical User Interface) can't be avoided because of the complex structure of the above mentioned use cases.

[2018-03-05 17:40] SteMasoli commented on #212
It is fine.
Thank you

[2018-03-05 17:47] lbologna commented on #212
Ok.
Closing the issue.

[2018-03-05 17:47] #212 closed

[2018-03-05 18:07] lbologna opened #217 "Unable to upload models to Naas"
### Expected behavior

After selecting and loading a model to the NAAS through:

https://collab.humanbrainproject.eu/#/collab/1655/nav/66854

when the upload button is clicked, a zip file is loaded or rejected.

### Actual Behavior
The Upload splash panel is frozen when a .zip file is selected and the Upload button is clicked

### Steps to reproduce the problem
Go to:
https://collab.humanbrainproj

[2018-03-06 07:30] alex4200 commented on #207
Yes seems to work now, thanks

[2018-03-06 07:30] #207 closed

[2018-03-06 07:47] alex4200 commented on #217
The same issue happens when using the page

https://blue-naas.humanbrainproject.eu/

as the entry point. After I click 'Upload' the page freezes.

Console:
[code]

[2018-03-06 08:22] alex4200 commented on #196
Notebook has been updated

[2018-03-06 08:22] #196 closed

[2018-03-06 08:28] alex4200 opened #218 "Use case name inconsistent"
### Expected behavior

I expect the name of a use case the same in the actual use case and its documentation

### Actual Behavior

In use cases: Simulation and validation of a mouse Purkinje cell multicompartmental model
In Guidebook: Multi compartmental mouse Purkinje cell simulation and validation

Suggestion: Change the title in the Guidebook

[2018-03-06 08:35] alex4200 opened #219 ""Save Analysis" in the Build own/Rebuild use cases might not do anything"
### Expected behavior

When clicking on the button, I expect the generated pdf's to be stored in the storage

### Actual Behavior

The storage is still empty

### Steps to reproduce the problem

- Run the Config notebook, choose first model, do not change anything
- Wait until computation is done
- Open the analysis notebook, select 'storage', click on "View Analysis' and then on 'Save Analysis'
-

[2018-03-06 08:36] alex4200 commented on #195
Will close this ticket, as this is not an important issue at this time.

[2018-03-06 08:36] #195 closed

[2018-03-06 09:17] alex4200 commented on #214
Ok, fixed.

[2018-03-06 09:17] #214 closed

[2018-03-06 09:22] alex4200 commented on #215
@appukuttan-shailesh : Have you done the changes already? Or are you about to do them...?

[2018-03-06 09:32] clupascu commented on #198
I have modified the user experience labeling for  UC_HippoCellModel_Own  to Power users only.

[2018-03-06 09:35] appukuttan-shailesh commented on #215
Almost done..... will test and verify at my end first. Shall update you soon.

[2018-03-06 09:45] genric commented on #217
Should be back to normal now. Please retest. Thanks.

[2018-03-06 10:07] alex4200 commented on #202
@antonelepfl : With the current implementation I get the 'error popup' even when I submit a job on JUQUEEN.

1. I start a job on JUQUEEN
2. I get the error popup
3. Then I get the OK popup.
4. Job is shown in the list of jobs

[2018-03-06 10:11] alex4200 opened #220 "Setting 'config.txt' as the default config file"
### Expected behavior

The user can proceed with his analysis without the need to select what the configuration file is.

### Actual Behavior

The user must manually select the name of the config file

[2018-03-06 10:14] alex4200 opened #221 "Morphology inconsistencies in models"
There are still two open issues related to morphologies in the bsp data repo :

    https://github.com/lbologna/bsp_data_repository/issues/19
    https://github.com/lbologna/bsp_data_repository/issues/20

[2018-03-06 10:27] alex4200 commented on #217
Yep seems to work again, thanks

[2018-03-06 10:27] #217 closed

[2018-03-06 10:57] clupascu commented on #219
This should be fixed. Can you test again please? Thanks.

[2018-03-06 12:37] #198 closed

[2018-03-06 12:45] SteMasoli commented on #218
Done the title update

[2018-03-06 15:45] appukuttan-shailesh commented on #215
This looks ready. Worked with my testing account. You can have a go now.

[2018-03-07 06:32] #218 closed

[2018-03-07 07:55] alex4200 commented on #215
Works now, thanks

[2018-03-07 07:55] #215 closed

[2018-03-07 07:57] alex4200 opened #222 "Link to "HBP Validation Framework App""
### Expected behavior

To see a link or something that guides the user to the "HBP Validation Framework App".

### Actual Behavior

This App is mentioned in the notebook - but neither a link nor an explanation where to come to that app...

![screen shot 2018-03-07 at 08 37 54](https://user-images.githubusercontent.com/12729291/37080162-8c94b95c-21e5-11e8-8e10-a57139599d51.png)

[2018-03-07 07:59] alex4200 opened #223 "pdfs are not shown"
### Expected behavior

The pdfs are displayed

### Actual Behavior

The pdfs are not shown:

![screen shot 2018-03-07 at 08 37 39](https://user-images.githubusercontent.com/12729291/37080208-b1fd53a2-21e5-11e8-9293-3761392e92ab.png)

### Steps to reproduce the problem

Follow all steps of the use case "Optimized BG model validation" to the end

[2018-03-07 08:33] appukuttan-shailesh commented on #222
This is (in all likelihood) a Collaboratory issue. I have raised it [here (almost 3 weeks ago)](https://forum.humanbrainproject.eu/t/problem-with-iframe-in-jupyter-notebook/528) but received no response.

The current code works perfectly run when running the notebook locally. As a test, one could just run the following to verify:
[code]
This above method worked on the Collaboratory till last week

[2018-03-07 08:34] appukuttan-shailesh commented on #223
This is (in all likelihood) a Collaboratory issue. I have raised it [here (almost 3 weeks ago)](https://forum.humanbrainproject.eu/t/problem-with-iframe-in-jupyter-notebook/528) but received no response.

The current code works perfectly run when running the notebook locally. As a test, one could just run the following to verify:
[code]
This above method worked on the Collaboratory till last week

[2018-03-07 08:47] clupascu commented on #223
@appukuttan-shailesh I am displaying pdf's with something like this display(IFrame(                              os.path.join('.','report','HBP_VF_Report_20180307-083020.pdf'),width=600, height=300)), when I already moved to the folder containing the pdf file. I hope it may help.

[2018-03-07 08:57] appukuttan-shailesh commented on #223
Thanks a lot @clupascu! That works! :+1:

Any idea if/how we can make it also work with URLs? E.g.
display(IFrame("http://www.stackoverflow.org", width=900, height=650))

[2018-03-07 09:00] apdavison commented on #223
The URL might need to be https, otherwise it won't display inside the Collaboratory.

[2018-03-07 09:05] appukuttan-shailesh commented on #223
Yupp that's right! Thanks! Will update on the forum for future reference.

[2018-03-07 09:42] alex4200 commented on #219
@clupascu : It still does not work. I have tested this on the DEV environment.

Where would I find the pdf files exactly?

[2018-03-07 09:51] clupascu commented on #219
Can you add me to the collab team?

[2018-03-07 10:15] appukuttan-shailesh commented on #222
This was easy to to fix, but to make it better we intend to provide direct links to the specific model and the result inside the app. This will avoid having the user to navigate their way inside the apps. But this requires a small update of the apps, and is expected soon.

In the meantime, I have just provided links to the apps. But let's close this issue once the above is handled.

[2018-03-07 13:05] appukuttan-shailesh commented on #222
@alex4200 : This is now complete. Direct links to the model and results have now been provided.

[2018-03-07 13:32] clupascu commented on #219
I fixed this. Can you please test again? Thanks.

[2018-03-07 13:35] clupascu commented on #220
Setting 'config.txt' as default config file is done. I tried also to verify all the possible situations (config file not in the folder to analyse, experimental file not in the folder to analyse, results folder not in the folder to analyse and so on) and give feedback to the user. Can you test please and give feedback? Thanks.

[2018-03-07 13:39] clupascu commented on #210
I fixed this too. Can you please check again? Thanks.

[2018-03-07 13:42] clupascu commented on #163
Unfortunately, as it can be seen here https://community.plot.ly/t/hover-on-boxplot-median-q1-q3-are-not-display-in-python-plotly/6870 "The boxplots in the documentation were posted long time ago. In the newer Plotly versions the strings q1, median, q3, are not displayed anymore." I only simplified the boxplot and the best fit by displaying only 2 significant figures. I will add a sentence in the g

[2018-03-07 16:37] alex4200 commented on #219
Works for both use cases on DEV. Thanks!

[2018-03-07 16:37] #219 closed

[2018-03-08 06:51] alex4200 opened #224 "JSON error in validation_framework"
When running the validation framework usecase a new code error appears in cell 5. This seems to be originating from line 1651 in hbp_validation_framework/__init__.py:

`requests.post(url, data=json.dumps(model_json),auth=self.auth, headers=headers)`

in which the json conversion does not work

[code]

Full backtrace
[code]

[2018-03-08 07:19] alex4200 opened #225 "Error when user forgets to log in to NSG"
Minor task! Please check only when time ...

### Expected behavior

Better error handling. In this case I clicked on 'Run Simulation' without having clicked on 'Login NSG', so the username was not set.

### Actual Behavior

NameErrorTraceback (most recent call last)
<ipython-input-12-09632869b4d0> in runNSG(_)
 492     clients = get_hbp_service_client()
 493     global CRA_USER, PASSWORD, KEY, URL

[2018-03-08 07:40] jdcourcol opened #226 "simulation GUI: display unicore logs of analysis"
### Expected behavior
we should be able to access the unicore log for the analysis
### Actual Behavior
we cannot access them
### Steps to reproduce the problem

### Optional infrastructural data (user, platform, browser, environment, ...)

[2018-03-08 07:41] jdcourcol opened #227 "Simulation GUI: Id of the job is truncated"
### Expected behavior
We should be able to see the complete unicore id of the job for analysis
### Actual Behavior
The id of the job is truncated
### Steps to reproduce the problem
launch any analysis job
### Optional infrastructural data (user, platform, browser, environment, ...)

[2018-03-08 07:43] alex4200 commented on #210
Code has been added to check the version compability. Works now...

[2018-03-08 07:43] #210 closed

[2018-03-08 07:43] jdcourcol opened #228 "Simulation GUI: the analysis UI shows a green checkbox for a failed job"
### Expected behavior
A failed analysis should be displayed with a red checkbox (a cross actually) in the analysis summary
### Actual Behavior
It is reported with a green checkbox
### Steps to reproduce the problem
Any failing analysis
### Optional infrastructural data (user, platform, browser, environment, ...)

[2018-03-08 07:54] alex4200 commented on #220
Checked the various possibilities. Looks good to me, thanks.

[2018-03-08 07:54] #220 closed

[2018-03-08 07:59] alex4200 commented on #163
Good enough, thanks.

[2018-03-08 07:59] #163 closed

[2018-03-08 09:34] alex4200 opened #229 "Indication of job name useful"
Minor task:

An indication of the name of the job in the notebook that starts the simulation would be useful.

On the "Analysis" page I can see job names like

userdata_output_demo_14686468

would be nice to have this name indicated on the 'config' page as well. Maybe in the row of the 'status'.

[2018-03-08 10:26] appukuttan-shailesh commented on #224
@alex4200 : Appears to be fixed now. Tested on two accounts.

[2018-03-08 10:32] alex4200 opened #230 "JURECA run mode ended FAILED"
### Expected behavior

I am able to run on JURECA as well

### Actual Behavior

After clicking on "Run JURECA Simulation" and some small time I get a status FAILED:

![selection_258](https://user-images.githubusercontent.com/12729291/37145878-6bf90ee0-22c2-11e8-90be-2830ac50af4b.png)

### Steps to reproduce the problem

Run default case.

### Environment

I have access to JURECA.

[2018-03-08 11:02] alex4200 commented on #224
@appukuttan-shailesh Let me know when the fix has been merged to the DEV environment...

[2018-03-08 11:32] antonelepfl opened #231 "To be checked in SimulationUI dev"
Please check this issues that I have fixed before I can merge it to master
- [x] Simulation details does not reload after redirection from job creation (after click Show Job)
- [x] Plot of the traces (Voltage Trace Plot) is now available
- [x] When selecting to run Voltage Trace Plot the reports dropdown should show all the reports that you checked for simulation
- [x] In list of simulations, if y

[2018-03-08 12:03] alex4200 commented on #231
@antonelepfl :
- Unable to test any anaysis again, does not seem to work.
- JURECA jobs not running

[2018-03-08 12:13] appukuttan-shailesh commented on #224
@alex4200 : Not sure I follow... I see that it's already available on the DEV. As I was editing the same Jupyter notebook each time for the fixes, I didn't require to update `usecases.json`, and so no PR. Let me know if you intended something else.

[2018-03-08 12:57] alex4200 commented on #224
@appukuttan-shailesh : I have added you to the collab.

Do you have skype? We could chat on skype to figure this out in a more direct way...

[2018-03-08 12:59] clupascu commented on #229
The name of the job in the notebook that starts the simulation can be traced only when the job is submitted. When the status is different from submitted, there will not be a number associated to it. The other information (the use case and demo) will be rendundant, as the title of the notebook, the widget that you already selected will remind you how the job was submitted. I don't think this change

[2018-03-08 13:05] clupascu commented on #230
Do you have some files in the storage for this job? Like a log file?

[2018-03-08 13:14] alex4200 commented on #230
Not sure. I have started many jobs, and I do not know what job I have started -> #229

[2018-03-08 13:16] clupascu commented on #230
You should find them in the folder results. This is the folder for the outputs from Jureca.

[2018-03-08 13:28] #224 closed

[2018-03-08 13:38] antonelepfl commented on #129
Julia worked only with a small version of the user.target if we use the full one we don't have enough nodes/cpus to load the simulation

[2018-03-08 13:49] alex4200 opened #232 "StorageArgumentException for SynapticEvents Fitting"
When doing the analysis on JURECA, a bug in `hbp_service_client` raises a StorageArgumentException.
The call
`clients.storage.mkdir(storeto)`

must become
`clients.storage.mkdir(str(storeto))`

(and all other path calls to  `hbp_service_client`.

[2018-03-08 14:18] clupascu commented on #232
This should be fixed. Can you test again please? Thanks.

[2018-03-08 14:19] clupascu commented on #225
This should be fixed now. Can you test again please? Thanks.

[2018-03-08 14:40] mmigliore commented on #230
Hi Everybody,
I do not know if this is relevant to this issue but
jobs on jureca should run ONLY using the vsk25 account and the booster
partition, NOT bp0 accounts.
bp0 accounts have been frozen because there is no more computing time left.
Best
Michele

clupascu <notifications@github.com> ha scritto:

[2018-03-08 15:07] clupascu commented on #230
I am mapped as bp0 on JURECA. @alex4200 was able to run the job on JURECA anyway. I don't know though how he is mapped on JURECA.

[2018-03-08 15:25] mmigliore commented on #230
everybody should be mapped with vsk25

clupascu <notifications@github.com> ha scritto:

[2018-03-09 07:09] alex4200 commented on #223
Solved, thanks

[2018-03-09 07:09] #223 closed

[2018-03-09 08:11] alex4200 commented on #222
yes...

[2018-03-09 08:11] #222 closed

[2018-03-09 08:40] alex4200 opened #233 "Warning must be placed for firefox"
When a user uses the SimUI with firefox a warning must be placed to let the user know there is an unsolvable certification error and the user MUST use google chrome and no other browser.

[2018-03-09 08:46] alex4200 opened #234 "Analysis job can be started with negative trace number"
### Expected behavior

The number of cells should not go below 1.

### Actual Behavior

Can select a negative number and start the job with that!

![screen shot 2018-03-09 at 09 42 10](https://user-images.githubusercontent.com/12729291/37198457-a02a4c58-237e-11e8-81a4-51299f303192.png)

### Steps to reproduce the problem

Just try to start any analysis

[2018-03-09 09:41] alex4200 commented on #231
@antonelepfl : What is the maximum number of cells with which to create the traces plots?

[2018-03-09 18:20] lbologna commented on #203
This should be fixed now. Could you please test again? Thanks

[2018-03-09 18:28] lbologna commented on #185
This should be fixed now. Could you please test again? Thanks

Please note that the optimization settings bar will always be red when a workflow is fetched from the storage (even if it was green when the wf was saved). This is due to the fact that the credentials are not stored to the storage for security reasons. Nonetheless, the other parameters (if previously set) are correctly fetched and the

[2018-03-09 18:29] lbologna commented on #184
This should be fixed now. Could you please test again? Thanks

[2018-03-09 18:36] lbologna commented on #200
At the moment I removed the MARCONI and JURECA check-boxes.
I will leave this issue in this milestone for the next two weeks and eventually move it, if its implementation is postponed.
Being the NSG job submission working this issue is rather a "Type_Feature" than a "Type_BUG".
I changed the label accordingly.

[2018-03-11 21:58] lbologna commented on #193
I added a link before the feature selection panels. Could you please check if this is fine?
Thanks.

[2018-03-11 21:59] lbologna commented on #194
I added a brief explanation on the introduction page. Could you please check if this is fine?
Thanks.

[2018-03-11 22:07] lbologna commented on #174
I added a link to NSG job status definition in the Guidebook and gave some explanation.
The saving seems to be still working.
Could you please check if this is fine?

Thank you.

[2018-03-12 06:34] alex4200 commented on #157
Update from Johannes 9.3.:

[2018-03-12 07:15] alex4200 commented on #193
Yes, nice...

[2018-03-12 07:15] #193 closed

[2018-03-12 07:40] #185 closed

[2018-03-12 07:40] alex4200 commented on #184
Yep, done

[2018-03-12 07:40] #184 closed

[2018-03-12 07:43] alex4200 commented on #194
Thanks

[2018-03-12 07:43] #194 closed

[2018-03-12 07:53] alex4200 commented on #174
I think its working now

[2018-03-12 07:53] #174 closed

[2018-03-12 08:26] alex4200 commented on #203
@lbologna : Not sure how to test this. Whenever I try to download the results ("Fetch results"), I get the message "No output file downloaded"...

[2018-03-12 08:29] alex4200 opened #235 "Job order seems random"
### Expected behavior

Jobs in "Fetch Results" in the HH use case ordered by date

### Actual Behavior

Job order seems random

![selection_259](https://user-images.githubusercontent.com/12729291/37272720-d61c4b58-25d7-11e8-8c4c-1d9daac8e534.png)

### Steps to reproduce the problem

Click on "Fetch results" after you have submitted several jobs to NSG

[2018-03-12 09:22] lbologna commented on #235
This will be fixed together with #150

[2018-03-12 09:22] alex4200 commented on #226
fixed

[2018-03-12 09:25] alex4200 commented on #182
Plots are present, look good to me. Closing ticket

[2018-03-12 09:25] #182 closed

[2018-03-12 09:25] alex4200 commented on #197
Yes, fixed

[2018-03-12 09:25] #197 closed

[2018-03-12 09:26] alex4200 commented on #170
@Hjorthmedh : Any news on this issue?

[2018-03-12 09:26] alex4200 commented on #165
@antonelepfl : Any update on this issue?

[2018-03-12 09:27] alex4200 commented on #156
@mgeplf Any update on this issue?

[2018-03-12 09:27] alex4200 commented on #150
@lbologna Any update on this issue?

[2018-03-12 09:27] alex4200 commented on #136
@SelezioneCasuale Any update on this issue?

[2018-03-12 09:29] alex4200 commented on #83
@appukuttan-shailesh Any update on this issue? The use cases should be ready _before_ the end of the deadline...

[2018-03-12 09:34] antonelepfl commented on #165
No time for that. Sorry

[2018-03-12 09:35] appukuttan-shailesh commented on #83
We are working on three more use cases... 2 of these are expected in a day or two...... and that will probably be our target. `Morphounit` is still too nascent to merit its own usecase. But given that we have two more weeks, we shall see if something basic is doable (if there are no other deliverables with higher priority).

@apdavison: could you confirm if this is fine?

[2018-03-12 09:36] lbologna commented on #216
This is actually still under test, although a few causes for this error should be solved.
I am going through the log to solve the last ones. I will keep you up to date.

[2018-03-12 09:39] apdavison commented on #83
Yes, I think that's fine (note that the online use cases are not part of the formal deliverables for our task, they are an extra activity, although I think they're very useful for demonstrating how to use the tools).

[2018-03-12 09:48] alex4200 commented on #216
Ok I leave it open...

[2018-03-12 10:11] Hjorthmedh commented on #170
Have worked on converting synapse coordinates to section ID and section X used by Neurodamus. Most recently wrote a plot tool to visually inspect the conversion.

This week and probably a while longer will be working on synaptic input, more specifically how to best create it and determine input locations.

[2018-03-12 10:38] alex4200 commented on #233
@antonelepfl : Sending error to @jdcourcol

[2018-03-12 10:48] antonelepfl commented on #233
@jdcourcol The error that we receive in **Firefox** is the following:

[2018-03-12 10:50] alex4200 commented on #202
@antonelepfl  Error log to be shown to the user

[2018-03-12 12:04] antonelepfl commented on #202
I'm not able to log the error due it is not in the response that comes, it is in the browser side.
![screen shot 2018-03-12 at 13 03 50](https://user-images.githubusercontent.com/24406041/37282760-e3bec7b8-25f5-11e8-9ca2-985315a9e342.png)
Please see that the response in `undefined` and the stack does not show the real error.

[2018-03-12 14:18] alex4200 commented on #205
@clupascu will clarify the state of this use case (SGA1/SGA2) with Michele.

[2018-03-12 14:20] alex4200 commented on #118
Update from @jdcourcol :

- Placement: there is an issue with the numpy library for which there are too many CPUs available. Clarification going on
- Connectome: There was an incompatible recipe, should be fixed.

[2018-03-12 14:21] alex4200 commented on #83
According to @appukuttan-shailesh 3 validation use cases ready for 16 March 2018

[2018-03-12 14:22] alex4200 commented on #156
@mgeplf is getting feedback from @romani79

[2018-03-12 14:54] appukuttan-shailesh commented on #35
@alex4200: This use case is now complete. I have made a PR in the 'UseCases' repo... so you should be able to see it in the Validation UseCases once it is merged (named 'Generic - BluePyOpt Optimized Model Validation').

[2018-03-12 15:26] alex4200 opened #236 "Redoing "Run Simulation" does not work"
### Expected behavior

When I have done "Run Simulation" I can do it again.

### Actual Behavior

Model load error:

![selection_261](https://user-images.githubusercontent.com/12729291/37292756-ea1816a2-2611-11e8-9576-152fbc0903ec.png)

### Steps to reproduce the problem

1. Follow the workflow as described in the doc
2. Start "Run Simulation"
3. Go back to workflow.
4. Start "Run Simulation" agai

[2018-03-12 15:26] alex4200 commented on #203
Works with the given instructions.

[2018-03-12 15:26] #203 closed

[2018-03-12 16:12] alex4200 commented on #232
@clupascu : I am still getting the same error (Synaptic events fitting with user data):
[code]

[2018-03-12 17:23] lbologna commented on #236
This should work now. Could you please test again?
Thanks

[2018-03-13 08:36] alex4200 commented on #225
Yes done..

[2018-03-13 08:36] #225 closed

[2018-03-13 09:02] alex4200 commented on #236
Fixed, thanks

[2018-03-13 09:02] #236 closed

[2018-03-13 09:06] alex4200 commented on #231
@antonelepfl : I am still not able to create a working simulation with two targets. What parameters can I use to create such a simulation?

[2018-03-13 09:12] mmigliore commented on #231
Please restrict the tests to a single target slice.
I think that, at  this stage of the model, two targets require the
implementation of the full model.
I strongly suggest NOT to test too often this option, since it
requires a lot of computing time that would be better used for
debugging the model itself, rather than testing the use case itself.
Eventually we may decide to disable this option unti

[2018-03-13 11:14] clupascu commented on #230
I asked today to be mapped with my vsk25 account. It seems that since a couple of days, all our accounts are automatically enabled for UNICORE, and we can select the one that we want using a special HTTP header.

X-UNICORE-User-Preferences: uid:vsk25*

Still, the vsk25* accounts have access to the "booster" part of JURECA, which is not yet available via UNICORE. They are trying to fix that.

[2018-03-13 12:13] clupascu commented on #230
The vsk25* accounts on Jureca are now available via UNICORE as well.

We need however to specify the "booster" partition in the resources section of our job like this:

"Resources" : {
  "Queue": "booster",
}
I will modify the notebooks now.

[2018-03-13 12:28] clupascu commented on #232
This should be fixed now. Can you please test again? Thanks.

[2018-03-13 14:10] alex4200 commented on #232
Yes, fixed!

[2018-03-13 14:10] #232 closed

[2018-03-13 14:13] clupascu commented on #205
I clarified the state of this use case with Michele. Unfortunately, due to delays in making the data available for searching in the new NIP search service, the use case will not be online back again before the end of SGA1.