[2018-03-14 12:17] appukuttan-shailesh commented on #83
Another use case ready for testing:
"Hippocampus Single Cell - BluePyOpt Optimized Model Validation"

[2018-03-15 09:20] alex4200 opened #237 "Small typos in the validation notebooks"
I found some small typos in the validation use cases:

- In "Model Selection": exisitng -> existing (all three notebooks)
- in "Gather Additional Info": ther -> their ? (only BG usecase)
- "Specifying the parameter sets of interest;": rougly -> roughly (only BG usecase)

[2018-03-15 11:58] appukuttan-shailesh commented on #237
Thanks @alex4200  for identifying these. Fixed now.

[2018-03-16 06:01] alex4200 commented on #237
Thanks

[2018-03-16 06:01] #237 closed

[2018-03-16 06:31] alex4200 opened #238 "AttributeError during validation (Hippocampus single cell validation)"
Error during validation procedure:

[code]

### Steps to reproduce the problem

Hippocampus single cell validation
Use existing mode #40 CA1_pyr_cACpyr_oh140807_A0_idC_20170912112759
Do not use existing uuid
Select tests: all

### Optional infrastructural data (user, platform, browser, environment, ...)

[2018-03-16 08:06] appukuttan-shailesh commented on #238
@alex4200 : I have discussed this with @sasaray , and it seems this is a known issue with some of the models. The following models specifically are known to give this problem:

This, I believe, is something that needs to be managed with the model itself (the fix is known and and needs to be handled on a case by case basis). But, with regards to validation and the usecase, we shall ensure that we r

[2018-03-16 12:49] alex4200 opened #239 "Error in adding model instance."
When I run the use case "Hippocampus single cell validation" and I choose the model #28 (CA1_pyr_cACpyr_mpg141017_a1-2_idC_20170918151638) I encounter the following error:

[code]

In fact, instance_data['source'] is a string with 204 characters:

`https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/hippocampus_optimization/optimizations/CA1_pyr_cACpyr_mpg141017_a1-2_idC_20170918151638

[2018-03-16 13:44] appukuttan-shailesh commented on #239
That was unexpected! Great that you are testing.
This requires a fix on the server.... should have it soon. Will update you.

[2018-03-16 15:42] appukuttan-shailesh commented on #239
**Update:** Will be fixed on Tuesday.
**Problem:** Django has a default length of 200 for `URLField`. Database schema needs to be updated.

[2018-03-19 06:25] alex4200 opened #240 "File does not exist for Small Circuit Model"
In the fourth cell I got an error regarding a non-existent file:
[code]

The files does not exist in the current Collab. Maybe you wanted to transfer the file from YOUR Collab instead?

[2018-03-19 08:32] alex4200 opened #241 "File not found error when forgetting to write config file"
### Expected behavior

When I forget to click on "write config file" (or when there is no config.txt available), the "Run NSG simulation" might be deactivated; or a message should pop up. ...

### Actual Behavior

I forgot to click on "write config file" and clicked on "Run NSG simulation" resulting in an error `No such file or directory: '/home/jovyan/GUIUM/config.txt'`

### Steps to reproduce th

[2018-03-19 09:55] appukuttan-shailesh commented on #83
@alex4200: Another use case ready for testing:
"Validation Framework Demo (Walkthrough)"

[2018-03-19 10:03] Hjorthmedh commented on #157
The microcircuitry code can now launch but it hangs when querying the engines. Debugging.

[2018-03-19 10:04] Hjorthmedh commented on #170
Code for generating input written. Next step exporting it.

[2018-03-19 10:05] jdcourcol commented on #240
who is the owner of that ?

[2018-03-19 10:09] jdcourcol commented on #118
I will fallback to the original workflow in a notebook.

[2018-03-19 10:13] genric commented on #146
It is current clamp.

[2018-03-19 10:19] antonelepfl commented on #146
[Commit](https://github.com/antonelepfl/usecases/commit/1ed5fa087ba9e7377543b2f5583410542c53f6cd) done

[2018-03-19 10:34] antonelepfl commented on #128
I moved that to a new section in the UI
<img width="1436" alt="screen shot 2018-03-19 at 11 31 42" src="https://user-images.githubusercontent.com/24406041/37590703-610f5e08-2b69-11e8-94ea-09df5c91a235.png">

As Michele suggested that in one of our calls.
@alex4200 I think you can close this one now due this `Model` should be set

[2018-03-19 10:49] jdcourcol commented on #170
File format GitHub is here:
https://github.com/AllenInstitute/sonata

[2018-03-19 11:00] appukuttan-shailesh commented on #35
@alex4200 : This is available for testing.

[2018-03-19 11:00] alex4200 commented on #15
Decision will be made next Tuesday (27 Mar)

[2018-03-19 12:18] alex4200 commented on #240
Elisa Marenzi. I am in the process of inviting her to the repository

[2018-03-19 13:03] clupascu commented on #230
This should be fixed now. Can you please test again with your vsk25* account? Thanks.

[2018-03-19 14:24] clupascu commented on #241
This should be fixed. Can you test again please? Thanks.

[2018-03-19 15:01] appukuttan-shailesh commented on #238
@alex4200 : This problem has now been fixed. The models have been updated to resolve this issue, and also the test has been updated to provide more user friendly error messages if such issues come up in future.

[2018-03-19 15:44] alex4200 commented on #35
Yes done

[2018-03-19 15:44] #35 closed

[2018-03-20 08:49] alex4200 commented on #146
Can this commit also be made on production?

[2018-03-20 09:08] alex4200 commented on #234
Fixed

[2018-03-20 09:48] #234 closed

[2018-03-20 10:01] alex4200 commented on #128
Ok closing issue

[2018-03-20 10:01] antonelepfl commented on #146
Done [here](https://github.com/antonelepfl/usecases/commit/312510f82dfd6952798d3802fea448c244c51297)

[2018-03-20 12:40] alex4200 commented on #230
Yes its working

[2018-03-20 12:40] #230 closed

[2018-03-20 13:40] alex4200 commented on #136
Done

[2018-03-20 13:40] #136 closed

[2018-03-20 13:41] alex4200 commented on #135
Done

[2018-03-20 13:41] #135 closed

[2018-03-20 13:48] alex4200 opened #242 "Small image missing for Basal Ganglia use case"
The preview image in the use case group is missing:

![selection_268](https://user-images.githubusercontent.com/12729291/37658382-aec0a172-2c4d-11e8-8cf0-9ec45e3aad35.png)

[2018-03-20 15:47] a1eko commented on #242
This use case is replaced with "Optimize a striatal fast-spiking interneuron" from [BSP / Online Use Cases / Single Cell Building](https://collab.humanbrainproject.eu/#/collab/1655/nav/66852).

Please remove the use case "Optimise a fast spiking interneuron in the Basal Ganglia".

[2018-03-20 17:03] elisamarenzi commented on #240
This issue has been solved.

[2018-03-20 17:03] #240 closed

[2018-03-21 08:12] alex4200 opened #243 "Other file problem"
In the notebook there is another error with a file:

![selection_270](https://user-images.githubusercontent.com/12729291/37699271-2258ddf4-2ce7-11e8-9eb3-afd22cd0304a.png)

It looks like that the downloading lines are wrong; the following lines seem to work:

[code]

[2018-03-21 08:15] alex4200 opened #244 "Job submission failed"
### Expected behavior

Job is executed correctly

### Actual Behavior

Job failed:

![selection_270](https://user-images.githubusercontent.com/12729291/37699502-19b394c2-2ce8-11e8-9740-1eb9e2aedefa.png)

Some further investigation reveals the following problem:

Wed Mar 21 09:10:27 CET 2018: TSI reply: FAILED.', u'Wed Mar 21 09:10:27 CET 2018: Submit attempt 1 (of 3) failed: de.fzj.unicore.xnjs.em

[2018-03-21 09:39] alex4200 commented on #238
Fixed, thanks

[2018-03-21 09:39] #238 closed

[2018-03-21 09:42] alex4200 opened #245 "Unable to download files from the HBP Validation Framework app"
### Expected behavior

Able to download figs and results from the Validation Framework

### Actual Behavior

Clicking on the Download button does not result in any download (firefox and chrome)

![selection_272](https://user-images.githubusercontent.com/12729291/37702888-4694d7a6-2cf4-11e8-8a11-5c20f09b9838.png)

### Steps to reproduce the problem

- used "Hippocampus single cell validation"
- Sel

[2018-03-21 10:00] appukuttan-shailesh commented on #245
@alex4200 : Can you send me the UUID ('Test result ID') mentioned on the top of the page for your specific result.

[2018-03-21 10:19] SelezioneCasuale commented on #243
There's something strange with this error; I and Elisa have no problems with the original download lines, they work just fine.
Maybe we have different versions of `bbp-client` ? Could it be?
Mine is 0.4.4.  (and `bbp-services` is  0.0.15)
I checked this with

`!pip3 list`

Could you please check if your version is different?

[2018-03-21 10:25] SelezioneCasuale commented on #244
We don't have an account on JURECA at the moment and I'm not sure that NEST is installed or properly configured there in order to run through UNICORE.
So please try JUQUEEN

[2018-03-21 10:28] antonelepfl commented on #242
Done [here](https://github.com/antonelepfl/usecases/commit/1018c002c45d1b5334ad402c523758cf0bc9f3a5)

[2018-03-21 10:37] alex4200 commented on #242
Yes fixed, thanks

[2018-03-21 10:37] #242 closed

[2018-03-21 11:10] clupascu opened #246 "Retrieve unicore jobs"
### Expected behavior
Retrieve and check status of unicore jobs and move output to storage in order to be analyzed

### Actual Behavior
Unicore jobs cannot be retrieved once the config web page is closed.

[2018-03-21 13:03] alex4200 opened #247 "User documentation missing for usecase"
User documentation is missing in the guidebook for this use case

https://collab.humanbrainproject.eu/#/collab/1655/nav/18580

[2018-03-21 13:04] antonelepfl commented on #233
This should be fixed now.

[2018-03-21 13:04] antonelepfl commented on #228
This also should be done.

[2018-03-21 13:05] alex4200 opened #248 "Guidebook: Documentation seems to be swapped"
In the current version of the guidebook two sections seem to be swapped:

![selection_274](https://user-images.githubusercontent.com/12729291/37711408-ea970cea-2d10-11e8-8a1b-a4b00eebdeec.png)

[2018-03-21 13:18] alex4200 opened #249 "User Documentation for Validation use cases requires updates"
In the guidebook:

https://collab.humanbrainproject.eu/#/collab/1655/nav/18580

the validation use cases needs to be updated to the (currently) four cases in the brain simulation platform.

[2018-03-21 14:18] alex4200 opened #250 "Code error in notebook "Connectome Cerebellum""
### Expected behavior

Code does not fail

### Actual Behavior

In cell 4 the code fails probably because of an incorrect syntax:

![selection_275](https://user-images.githubusercontent.com/12729291/37714791-b46808ea-2d1a-11e8-9e39-eef6f1283b21.png)

Suggested fix:

client.download_file(bsp_folder+filename, filename)

Similar errors in the second-to-last cell...

### Steps to reproduce the problem

[2018-03-21 16:36] appukuttan-shailesh commented on #245
Resolved. Ready to be tested.

[2018-03-21 17:24] appukuttan-shailesh commented on #249
This is done now:
https://github.com/lbologna/hbp-sp6-guidebook/pull/22

[2018-03-22 08:15] alex4200 commented on #245
Yes, fixed, thanks

[2018-03-22 08:15] #245 closed

[2018-03-22 09:00] alex4200 commented on #244
The JUQUEEN job fails as mentioned above. I have the following UIDs for JUQUEEN:

[bp000128:pra09810, active=bp000128]

Maybe I need to change something in the job submission?

Also, as far as I know JUQUEEN is decommissioned very soon. I strongly suggest to make that use case work on JURECA, because the SGA1 reviewers might have JURECA accounts...

[2018-03-22 09:46] genric commented on #147
Should be fixed now, please retest. Thanks.

[2018-03-22 09:48] genric commented on #145
Should be fixed now, please retest. Thanks.

[2018-03-22 09:55] lbologna commented on #249
Update on BSP.

Could you please check?

https://collab.humanbrainproject.eu/#/collab/1655/nav/18580

Thanks

[2018-03-22 09:59] appukuttan-shailesh commented on #249
Thanks. It looks fine :+1:

[2018-03-22 10:18] appukuttan-shailesh commented on #239
Resolved now.
Tested for same model:
https://collab.humanbrainproject.eu/#/collab/8123/nav/68489?state=model.3b61f0c6-544e-45dd-8680-bccc999a9886

[2018-03-22 10:22] SelezioneCasuale commented on #244
I see. So JUQUEEN is going to be dismissed *before* the reviewers can test
our Use Cases?
Actually I was not aware of this, I'm sorry.
 By the way, as I said, we don't have an account on JURECA. Do you know if
there is a (possibly fast) way to have one?
We have an account on JULIA but NEST is not working there.

Also, I'm trying to install NEST on the Collab - I also contacted the
Collab team; the

[2018-03-22 10:25] SelezioneCasuale commented on #244
I see. So JUQUEEN is going to be dismissed *before* the reviewers can test
our Use Cases?
Actually I was not aware of this, I'm sorry.
 By the way, as I said, we don't have an account on JURECA. Do you know if
there is a (possibly fast) way to have one?
We have an account on JULIA but NEST is not working there.

Also, I'm trying to install NEST on the Collab - I also contacted the
Collab team; the

[2018-03-22 13:18] alex4200 commented on #66
@SelezioneCasuale I just found out that the user documentation in the Guidebook

https://collab.humanbrainproject.eu/#/collab/1655/nav/18580

is just the same as the system documentation. That is NOT what should be in the Guidebook...

The documentation in the Guidebook should contain:

1. A general description of the goal of the use case
2. A summary of the expectations of the use case and its re

[2018-03-22 14:01] alex4200 opened #251 "Syntax error in Connectome Cerebellum use case"
Syntax error in a cell:

![screen shot 2018-03-22 at 14 59 58](https://user-images.githubusercontent.com/12729291/37774947-de5df8a4-2de1-11e8-9cf4-c8ff2658fd02.png)

Suggested fix:

    client.storage.upload_file(src_path=fname, dst_path=filestor, mimetype = 'text/plain')

[2018-03-22 14:17] alex4200 opened #252 "Error in Last cell in Connectome Cerebellum use case"
The last cell creates an error because 'client' is not the hbp_service_client.

Suggested solution:

[code]

Additional remark: Why do you store the results file in a certain Collab, and not the Collab the user is in? Would be easier for the user to just go to 'Storage' and find the results file there...

[2018-03-22 14:53] alex4200 commented on #249
Very nice and very quick, thanks

[2018-03-22 14:53] #249 closed

[2018-03-22 15:07] alex4200 commented on #145
Yes fixed, thanks

[2018-03-22 15:07] #145 closed

[2018-03-22 15:07] alex4200 commented on #147
Yes fixed, thanks

[2018-03-22 15:07] #147 closed

[2018-03-22 15:37] antonelepfl commented on #233
@alex4200 can you double-check this?

[2018-03-22 15:51] antonelepfl commented on #202
This one should be linked to [#233](https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/233)
As the error is shown (`network error`) I think showing the full should not be a priority for now.
Probably we can change the tag to 'Small_task'

[2018-03-22 16:21] alex4200 commented on #228
yep

[2018-03-22 16:21] #228 closed

[2018-03-23 06:44] alex4200 commented on #233
Seems to run on firefox. What was the fix?

[2018-03-23 06:44] #233 closed

[2018-03-23 07:12] antonelepfl commented on #233
I don't know, Bernd did something related to it.

[2018-03-23 07:37] alex4200 opened #253 "bbp-client deprecated"
The bbp_client for handling storage requests is deprecated. The hbp_client should be used instead. See

https://collab.humanbrainproject.eu/#/collab/509/nav/24072

[2018-03-23 09:31] alex4200 opened #254 "Model load error for CA1 cNAC 970509HP2"
### Expected behavior

Model can be loaded

### Actual Behavior

"Model loading failed"

### Steps to reproduce the problem

On PROD select Single Cell In Silico Experiments (BlueNaaS) and select the model "CA1 cNAC 970509HP2"

![screen shot 2018-03-23 at 10 28 17](https://user-images.githubusercontent.com/12729291/37821917-4eae61a4-2e85-11e8-8ccd-c60b56f31cb5.png)

### Optional infrastructural da

[2018-03-23 09:54] genric commented on #254
This model CA1_int_cNAC_970509HP2_20180117154753 in hoc file loads a different morphology 970627BHP1.asc which is not present in morphology folder. The one present in morphology folder is called 970509HP2.asc

[2018-03-23 12:49] genric commented on #254
The model has been fixed, thanks! I resynced models in BlueNaaS, should work as expected now.

[2018-03-23 13:11] clupascu commented on #254
@genric Are you using the container https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/hippocampus_optimization or github? In the near future github repository will be decomissioned.

[2018-03-23 13:16] genric commented on #254
I'm using this repo to upload all the model to HBP Nexus.

[2018-03-23 13:26] jdcourcol commented on #254
@clupascu ( I mentioned that during the technical meeting) be aware that we have:
1- HBP Knowledge Graph (nexus) and corresponding storage at CSCS. Entity registered in HBP KG should comply to one of the schema https://github.com/INCF/neuroshapes/tree/master/modules/simulation/src/main/resources/schemas/neurosciencegraph/simulation and stored in one of the dedicated CSCS storage
2- The GitHub bsp-

[2018-03-23 13:59] clupascu commented on #254
@jdcourcol 2) will be decomissioned soon as we are reaching the quota imposed by github, so we will use 3) to store new optimizations until 1) is ready. The provenance information which is included in 2) and 3) are used by @wvangeit for the circuit and I think it is used also by @genric for the BlueNaas. This information should be stored in 1) as well, in order for the migration to be seamless for

[2018-03-23 14:02] alex4200 opened #255 "SimUI Analysis Step: trace plot not created"
### Expected behavior

When the user selects the trace plot, it should be created

### Actual Behavior

trace plot not created; Analysis step shown as failed.

Error in log:  libgomp: Thread creation failed: Resource temporarily unavailable

![screen shot 2018-03-23 at 15 01 31](https://user-images.githubusercontent.com/12729291/37833234-1a172400-2eab-11e8-8149-d4c09efa1e18.png)

### Steps to repr

[2018-03-23 14:07] alex4200 opened #256 "Notebook user documentation inconsistent"
The documentation in the notebook for the use cases "Rebuild Single HippoCell" and " Build your own single hippocampal cell model using HBP data" is inconsistent!

It says: "Run All cells at the beginning", but that is wrong! The user must run some cells by its own in order to see of an update/downgrade is required. When the user runs all the cells, the notebook fails and the user might be confuse

[2018-03-23 14:33] clupascu commented on #256
@alex4200 are you sure that when the user runs all the cells the notebook fails? It shouldn't fail. The user should run all cells at the beginning. If upgrade/downgrade is necessary, this is done in the first cells automatically and the kernel is restarted, before running all the cells, hence the notebook shouldn't fail.

[2018-03-23 14:38] alex4200 commented on #256
@clupascu Hm ok I see. Let me check that again.

I had some automated tests failing - could be that those tests could not handle the restart at all...

[2018-03-23 15:01] alex4200 commented on #244
@SelezioneCasuale Regarding JUQUEEN and JURECA: I advise to get an account on JURECA quickly, I  think the following link can be used to apply for an (vsk25) account on JURECA:

https://dispatch.fz-juelich.de:8812/nic_account_ident/back=/RESOURCES&xxlang=english

@mmigliore should be able to help as well...

Regarding NEST: Collab is ready to deploy a new notebook image fixing the NEST issue, but

[2018-03-23 15:06] SelezioneCasuale commented on #244
@alex4200  Thanks; yes we contacted Michele and  now I have access to JURECA; I also have a bind for UNICORE, so I can submit jobs form Collab. Just have to figure out how to use NEST from there - we're working on it.

[2018-03-23 15:24] lbologna commented on #248
Fixed. Could you please check again?
Thank you

[2018-03-26 05:39] alex4200 commented on #256
Yes, maybe the installations are being done automatically and the page is loaded anew. But then the user still has to click on the 'Run All' again. Is that correct?

[2018-03-26 05:58] clupascu commented on #256
Of course. The user still has to click on the "Run All" again.

[2018-03-26 06:00] alex4200 commented on #256
Ok, then its ok usability wise. I might need to adjust my test cases then ...

[2018-03-26 06:00] #256 closed

[2018-03-26 07:29] alex4200 commented on #239
Yes fixed, thanks

[2018-03-26 07:29] #239 closed

[2018-03-26 07:58] alex4200 commented on #134
Update from @pgetta

[2018-03-26 08:01] alex4200 commented on #156
From @mgeplf

[2018-03-26 08:12] #227 closed

[2018-03-26 08:16] alex4200 commented on #202
Yes I guess so

[2018-03-26 08:16] #202 closed

[2018-03-26 08:17] antonelepfl commented on #139
Now you have a selector for Run Simulation and for the Analysis
![screen shot 2018-03-26 at 10 15 28](https://user-images.githubusercontent.com/24406041/37894544-d878ad12-30de-11e8-9633-0416bde87e4e.png)

[2018-03-26 08:43] mmigliore commented on #129
Yes, you can close it.

Da: Stefano Antonel <notifications@github.com>
Inviato: 26 March, 2018 10:20 AM
A: cnr-ibf-pa/hbp-bsp-issues <hbp-bsp-issues@noreply.github.com>
Cc: mmigliore <michele.migliore@cnr.it>; Mention <mention@noreply.github.com>
Oggetto: Re: [cnr-ibf-pa/hbp-bsp-issues] Enable simulation for every selectable computer (#129)

@mmigliore <https://github.com/mmigliore>  I think We ca

[2018-03-26 08:49] alex4200 commented on #139
Done

[2018-03-26 08:49] #139 closed

[2018-03-26 08:53] alex4200 commented on #129
Closed then...

[2018-03-26 08:53] #129 closed

[2018-03-26 09:00] Hjorthmedh commented on #157
The microcuitry generation code now runs through sbatch on Julia. Working on triggering it through unicore interface.
Then running network in neuron next step.

[2018-03-26 09:29] alex4200 commented on #15
Update from Cyrille:

[code]

[2018-03-26 09:48] appukuttan-shailesh commented on #34
We intend to add the API documentation this week. The guidebook entry would simply point to this.

[2018-03-26 11:36] antonelepfl commented on #255
@alex4200 this should be fixed now in [DEV](https://bbp.epfl.ch/public/dev.simulationapp/index.html#/)

[2018-03-26 12:25] alex4200 opened #257 "Analytics page to be added"
Luca is about to add the statistics page to the github repo

[2018-03-26 13:51] alex4200 commented on #201
is covered by #118

[2018-03-26 13:51] #201 closed

[2018-03-26 13:58] alex4200 commented on #241
Yes done

[2018-03-26 14:05] #241 closed

[2018-03-26 15:35] alex4200 commented on #255
Does not seem to work. I get an error or not an error, but no traces plots.

Examples of the log file:

[code]

and in another case:

[code]

[2018-03-26 15:50] antonelepfl commented on #255
Let's have a look tomorrow.

[2018-03-27 11:55] wvangeit commented on #254
I'm slightly worried about the period after 2) and between 3) and 1).
Is 2) a git (not github obviously) repo ?
BluePyMM requires as input a git repo to run hippocampus MM. And I assume @genric 's script to import into 1) also start from a git repo.
If 2) is not a git repo we would need to adapt the import methods during the 2) period.

[2018-03-27 12:15] clupascu commented on #254
@wvangeit 2) is the usual git repo that everybody used (and I used too to run hippocampus MM). It is available on github (hence the size problem) at https://github.com/lbologna/bsp_data_repository

[2018-03-27 12:16] wvangeit commented on #254
Sorry, I meant 3) in that last sentence ...

[2018-03-28 06:27] alex4200 opened #258 "Updated HPC documentation part"
The current chapter about HPC access in the guidebook seems to be outdated:

![screen shot 2018-03-28 at 08 23 01](https://user-images.githubusercontent.com/12729291/38012317-41d049fe-3261-11e8-938b-b9ebf390de64.png)

It contains a general description about HPC resources, but does not mention any Juelich clusters (JURECA, etc). Instead it contains terms like CINECA and JSC which I do not know what

[2018-03-28 06:37] alex4200 opened #259 "Small paragraph missing regarding results of Feature Extraction"
In the Guidebook I suggest to add a small paragraph regarding the results of that use case that shows what you can do now with that result, or in which other use case you can use these results.

[2018-03-28 06:39] alex4200 opened #260 "Documentation for "Synaptic Events Fitting""
Although the use case "Synaptic Events Fitting" is disabled, there is still a section in the Guidebook describing it.

Can this section be 'disabled' as well?

[2018-03-28 07:07] alex4200 opened #261 "Documentation suggestions for "Synaptic Events Fitting with user ...""
The documentation for thes two use cases need a bit up update (image and text) because of the new input fields 'Title' and 'Account':

![screen shot 2018-03-28 at 09 06 58](https://user-images.githubusercontent.com/12729291/38013997-669d16f8-3267-11e8-9171-502ea227a52c.png)

[2018-03-28 07:10] alex4200 opened #262 "Example of result missing for Morph. Analysis"
In the Guidebook I suggest to add a paragraph shown some example output of this use case, and what can be done with it next (used in other use case?).

[2018-03-28 07:19] alex4200 opened #263 "Documentation suggestions Hippo Cell Model"
Some suggestions for the documentation in the Guidebook:

- In the 'Overview' section 4 use cases are mentioned, but only two use cases are online.
- There are no examples of the 'protocols.json' and 'parameters.json' files.
- Explanation of 'features tab': Are those parameters taken from one of the json files? Which one?
- An explanation of the NSG stati would be nice. Maybe they could be also pu

[2018-03-28 23:28] lbologna commented on #259
Done. Could you please check again?
Thank you.

[2018-03-29 06:27] alex4200 commented on #251
Fixed

[2018-03-29 06:27] #251 closed

[2018-03-29 06:27] alex4200 commented on #252
Fixed

[2018-03-29 06:27] #252 closed

[2018-03-29 08:30] clupascu commented on #246
This is included now in the Synaptic Events Fitting use cases in the analysis jupyter notebook. The first tab of the accordion widget included in the graphical user interface displays the jobs submitted on HPC and the user can move to storage the results of the completed jobs. This should be tested.

[2018-03-29 12:32] Hjorthmedh commented on #157
The network creation now works in parallel on unicore. The circuit analysis after is done in serial.

This is just the building of the network not the running.

[2018-03-29 12:53] alex4200 commented on #157
@Hjorthmedh That is great news! Let me know when you have a test-worthy version available...

[2018-03-29 12:55] alex4200 commented on #259
Perfect; thanks...

[2018-03-29 12:55] #259 closed

[2018-03-30 10:47] lbologna commented on #257
Hello,
the monitor web app was added to the BSP.
Please find it at the following link for feedback and testing purposes:

https://collab.humanbrainproject.eu/#/collab/1655/nav/78268

Thank you

[2018-03-30 11:09] jdcourcol commented on #257
nice.
may be we should say 'number of use case executions' instead of 'cloned use cases'. or something like that. As cloning a use case may be not meaningful for an lay person.

[2018-04-01 05:50] mmigliore opened #264 "wrong location for a "Hippocampus single cell validation" collab"
### Expected behavior
the collab is created in a user's space following one of the links listed in the "Online Use Cases" --> "Model Validation" group
### Actual Behavior
one instance of the collab is present in the main navigation menu
### Steps to reproduce the problem
go to the Brain Simulation Platform; the link appears as last item in the main navigation menu.
### Optional infrastructural dat

[2018-04-01 06:23] mmigliore opened #265 "multiple copies of the same model in the model catalog"
### Expected behavior
there should be only one entry of each model in the catalog
### Actual Behavior
there are many entries for the same model
### Steps to reproduce the problem
enter the model catalog and search, for example, for "a1-2". There are many replica of the same model, 5 of them pointing to exactly the same zip file.
### Optional infrastructural data (user, platform, browser, environme

[2018-04-03 05:16] alex4200 commented on #257
@lbologna  Thanks for putting this in!

However, some remarks:

1. The pages at the BSP and the direct link at https://bspg.pa.ibf.cnr.it/bsp-monitor/ look quite differently. Will that be adjusted?
2. In the BSP page the right side does not look nice:

![selection_276](https://user-images.githubusercontent.com/12729291/38230539-b965b934-370e-11e8-9bf0-20b41e1132f1.png)

3. In the BSP should this u

[2018-04-03 05:27] alex4200 commented on #264
Entry removed from main navigation...

[2018-04-03 05:27] #264 closed

[2018-04-03 08:12] appukuttan-shailesh commented on #265
This (in all likelihood) came about owing to the repeated runs of the SP6 online usecases. The ones that correspond to the entries in the "Model Artefacts" spreadsheet all have the 'Organization' = `HBP-SP6`, and for these only one entry exists per model. Thus, the filter can be set appropriately to view these entries.

I agree this needs to be resolved, but I am not sure how best to handle the pr

[2018-04-03 08:39] apdavison commented on #265
I think we should have only one entry per model and per model instance, and in principle it is a good thing if all validations of a model (run by whoever) are linked to that model.

The only potential problem is that if someone modifies the code for a validation test and introduces a bug, this could give a bad result for a model and make the model look bad. The solution to this problem is to:

1.

[2018-04-03 08:48] genric commented on #254
Is it still broken? Please check the comment 11 days ago:

[2018-04-03 10:50] #254 closed

[2018-04-03 11:02] alex4200 commented on #246
@clupascu Before that change I saw maybe one job. Now I have a very large list of results. How to know what is the one I just finished in the other notebook? I also did not submit jobs close to midnight....

[2018-04-03 12:39] alex4200 opened #266 "StorageForbiddenException in Cell Placement Cerebellum"
### Expected behavior

A non HBP user should be able to use this use case as well

### Actual Behavior

A non-HBP user gets the following error when running the use case

[code]

### Steps to reproduce the problem

Run the use case as a non-HBP member

### Solution

The problem is 1. a non-HBP member does not have write access to a Collab, even when its open and 2. the use case does probably not d

[2018-04-03 16:03] alex4200 opened #267 "StorageForbiddenException in Cell Connectome Cerebellum"
### Actual Behavior

In cell 11:

[code]

### Steps to reproduce the problem

Run the notebook as non-HBP user

### Problem

Very similar to the problem listed for #266 .

[2018-04-04 09:35] alex4200 opened #268 "Analysis notebook change for SynapticEventsFitting"
New Analysis notebooks require:

 - [x] User documentation update required to explain the new GUI to the user
 - [x] Notebook documentation update required to show the timestamp to the user and have the user remember it for the Analysis step
 - [x] Make sure that in either case (NSG, Jureca) the correct (European) time is shown
 - [x] Documentation in the Analysis notebook:

The user has three cho

[2018-04-04 11:44] alex4200 commented on #246
Ok this works fine basically. Please see related ticket #268

[2018-04-04 11:44] #246 closed

[2018-04-05 11:21] alex4200 opened #269 "Code error for new Validation usecase"
Code error in second cell (DEV environment):

[code]

[2018-04-05 12:46] appukuttan-shailesh commented on #269
@alex4200 : I am not sure of the origin of this error, and have the feeling this is a Collab environment issue. I have once in the past got this error when testing through a different account. But in all others it works. Could you try using a different account? And maybe ask someone from the Collab team on the cause, and how to avoid it?

p.s. **Note**: This is a two-phase validation test.... only

[2018-04-06 09:37] alex4200 commented on #269
@appukuttan-shailesh : Even with a different user I get the same error. And a google search does not bring a single hit.

I am using tornado version 4.5.3. Maybe there is a mismatch in the version you are using.

Here is the full pip-freeze list:

[code]

Otherwise I suggest to create a ticket on the 'tornado' github page.

[2018-04-06 09:48] apdavison commented on #269
This is happening within the `jupyter_collab_storage` package, which is maintained by the Collaboratory team. Probably best to tell them before creating a ticket on tornado, because it might be an installation problem and/or they could change the version of tornado used in the notebook VMs.

[2018-04-06 10:27] elisamarenzi commented on #243
We are still working on this use case, see comment on the other issue (Job submission failed #244 ).

[2018-04-06 10:28] #66 closed

[2018-04-06 13:51] appukuttan-shailesh commented on #269
Temporarily, you could do the following for testing:
[code]
I am not sure if this should be checked inside the usecase. It is quite generic and needs to resolved by the Collaboratory team across all environments.

[2018-04-06 13:55] appukuttan-shailesh commented on #269
p.s. note that your pip freeze states:

[2018-04-06 13:58] alex4200 commented on #269
@appukuttan-shailesh Thanks for noticing that. I just did a `tornado.version` and got the 4.5.3. I will play around and let you know...

[2018-04-06 14:11] appukuttan-shailesh commented on #269
I have created a ticket for this on the forum:
https://forum.humanbrainproject.eu/t/jupyter-collab-storage-has-problem-with-latest-tornado-package/571

[2018-04-06 14:29] SelezioneCasuale commented on #253
I switched to hbp_client in microcircuit building (i.e., placement and connectome).

[2018-04-06 14:29] #253 closed

[2018-04-06 14:52] SelezioneCasuale commented on #266
Ok, we understand the problem.
The Placement and Connectome use cases were conceived to be executed sequencially; the output of the placement is represented by (1) a hdf5 file and (2) a .txt file with the name of the just created hdf5 file. When, in turn, you run the Connectome notebook, this .txt is readen and and the Connectome will point to the **last** .hdf5 file that has been created with the

[2018-04-09 08:00] appukuttan-shailesh commented on #265
All the "duplicates" have either been renamed with "[COPY]" prefixed to their old names, or deleted (once that were known to have been created for running sample tests). This now ensures that all the entries in "Model Artefacts" spreadsheet have only a single exact match in the Model Catalog app. Let us know if any additional changes are required.

[2018-04-09 09:13] SelezioneCasuale commented on #250
The issue should now be solved

[2018-04-09 09:13] #250 closed

[2018-04-09 13:17] alex4200 commented on #269
@appukuttan-shailesh : I have found the part that seems to update `tornado`.

I have run the use case `Basal Ganglia Morphology Validation` and made sure the version 4.5.3 was installed (according to `pip freeze`). Then after executing the pieces of the first cell in that notebook step-by-step I found the line that is responsible for installing `tornado` version 5.0.2:

`!pip install --upgrade --q

[2018-04-09 13:42] alex4200 commented on #266
@SelezioneCasuale : What about my suggestion? It should be the most userfriendly, but not sure how difficult to implement it:

- The Placement notebook creates the results in the storage in some folder (e.g. 'CerebPlacement/results.hdf5')
- The Connectome notebook checks if such a result exists in the current Collab.
- If so: the user is presented with three options:
  1. Use the results in the Co

[2018-04-09 13:49] appukuttan-shailesh commented on #269
@alex4200 : I am a bit surprised that it has popped-up there. Because I have previously encountered the same issue in other modules not using `morphounit`. And also this module itself does not make use of `tornado`. Shall see if any dependencies in-turn might be causing this.

[2018-04-09 13:49] SelezioneCasuale commented on #266
@alex4200 @elisamarenzi
Alex, I think your suggestion is great; I try now to implement it and see exactly which difficulties may occur.
Thanks a lot

[2018-04-09 14:03] lbologna commented on #216
One of the error triggering the Server Error, apparently depends of the token management at the oidc level. I will get in contact with the collab team and keep the issue up-to-date

[2018-04-10 06:56] alex4200 opened #270 "List of saved workflows duplicated in HH use case"
### Expected behavior

When I repeatedly click on the button "Select a completed/ongoing workflow" I get a correct list of saved workflows from the Collab.

### Actual Behavior

I get a list of saved workflows, in which the entries repeat. First time click: All fine. Second time click: Entries are repeated over...

![selection_284](https://user-images.githubusercontent.com/12729291/38542516-54fda4

[2018-04-10 07:33] alex4200 opened #271 "Unclear user messages for HH use case"
Sometimes the download of a job results in an unclear message (in the step "Fetch results")

![selection_286](https://user-images.githubusercontent.com/12729291/38542433-23a6ed84-3ca2-11e8-8e15-31358952ec47.png)
![selection_287](https://user-images.githubusercontent.com/12729291/38542441-25dd458a-3ca2-11e8-973f-5d715c7d1858.png)

How to reproduce: Unknown.

[2018-04-10 09:10] #118 closed

[2018-04-10 11:20] alex4200 opened #272 "Voxcellview issues in Cell Placement Hippocampus notebook"
I noticed two issues with the Voxcell widget in the Cell Placement Hippocampus notebook:

1. When you just do "Run All Cells" you might end up with an 'empty' plot:

![selection_289](https://user-images.githubusercontent.com/12729291/38553994-472d0bac-3cc1-11e8-82cb-7521fd170599.png)

2. If the plots are generated, they are rather small. I would prefer to enlarge them and rotate/zoom etc. but I do

[2018-04-10 13:16] alex4200 opened #273 "Code error for Cell Placement case"
### Expected behavior

Notebook works fine

### Actual Behavior

When I select

ROI = 'DG'

in the fourth cell, I experience the following error

[code]

![selection_291](https://user-images.githubusercontent.com/12729291/38558948-0484edfe-3cd2-11e8-84ed-6dc3e16d3d36.png)

### Steps to reproduce the problem
Set ROI = 'DG'

for mouse or rat.

### Optional infrastructural data (user, platform, brows

[2018-04-11 07:54] clupascu commented on #229
The submission time was added next to the status of a job submitted through NSG on the 'config' page. This is enough? Can you test again please? Thanks.

[2018-04-11 09:12] alex4200 commented on #229
Unfortunately, I get the following error now:

[code]

It really looks the variable is never defined anywhere...

[2018-04-11 09:18] clupascu commented on #229
This should be fixed now.

[2018-04-11 11:14] alex4200 commented on #229
Yes it works.

[2018-04-11 11:14] #229 closed

[2018-04-11 11:24] alex4200 opened #274 "Synaptic Events Fitting Analysis cannot be started"
### Expected behavior

I can select an storage entry and then some analysis results (Synaptic Events Fitting Analysis with user data)

### Actual Behavior

I can select an storage entry, but do not see the buttons for the analysis results. When using 'example' instead it seems to work

![screen shot 2018-04-11 at 13 21 42](https://user-images.githubusercontent.com/12729291/38613835-72a81f18-3d8b-1

[2018-04-11 12:30] clupascu commented on #263
I have updated the documentation in the Guidebook:

- I have modified the 'Overview' section in order to mention only the 2 available use cases
- I have added examples of the 'protocols.json' and 'parameters.json' files
- Explanation of 'features tab': I added a sentence saying that those parameters are taken from the 'features.json' file
- An explanation of NSG was added to the overview section.

[2018-04-11 12:53] clupascu commented on #274
Strange. I can see the buttons for the analysis results in Collab 'Dev31'.
![immagine11042018](https://user-images.githubusercontent.com/22050958/38617770-21714360-3d98-11e8-8f9c-b5b0d0b8e5dc.png)

[2018-04-11 13:15] clupascu commented on #268
The user has two choices to view analysis results:

A. Use the results that are available in the Storage (e.g. moved from the HPC storage space to the Storage, when the user is checking the status of the job in the 'config' notebook OR moved from the HPC storage space to the Storage, when the user is viewing the simulations in the first tab of this notebook)

B. Use one example

You don't have nec

[2018-04-11 13:27] clupascu commented on #205
I enabled again this usecase, even if it is not possible yet to search for the data in the Knowledge Graph. I use for now a list of direct links to the containers. Can you test this usecase again please? Thanks.

[2018-04-11 13:29] clupascu commented on #268
ok.

[2018-04-11 13:43] alex4200 commented on #274
Tried it again on firefox and chrome, the problem persists.

I also encountered an additional issue with chrome:

![screen shot 2018-04-11 at 15 42 49](https://user-images.githubusercontent.com/12729291/38620595-1cc938d4-3d9f-11e8-88db-e73966d793e5.png)

[2018-04-11 13:54] clupascu commented on #274
Also on chrome it works fine for me...

[2018-04-11 14:12] alex4200 commented on #274
@clupascu: Oh the kernel is active all the time. I did not see this! It takes the kernel about 10 seconds(!) to register the change. Then the buttons appear.

I close this ticket....

[2018-04-11 14:12] #274 closed

[2018-04-11 14:36] alex4200 commented on #205
Now, when I click on "Run simulation" I get the following error:

[code]

[2018-04-11 14:43] clupascu commented on #205
Sorry about this. Should be fixed now.

[2018-04-12 05:09] alex4200 commented on #261
Yes, thanks

[2018-04-12 05:09] #261 closed

[2018-04-12 08:39] clupascu commented on #260
The use case is enabled again, so the section in the Guidebook describing it shouldn't be removed anymore. I close this issue.

[2018-04-12 08:45] alex4200 commented on #260
Agreed

[2018-04-12 08:45] #260 closed

[2018-04-12 13:02] antonelepfl opened #275 "Add replace popup documentation in guidebook"
Now if you have one use case in the Collab and you try to create the same one gain, a popup will appear asking if you want to replace the content or go to the collab.
Add this explanation to the Guidebook

[2018-04-12 13:12] alex4200 commented on #205
@clupascu Now I get the following error:

StorageArgumentException: The path must be a string, start with a slash (/), and be longer than 1 character.

Suggestion: Make sure that `storeto` is of type `str`. And in both cases (NSG, UNICORE)

[2018-04-13 07:51] clupascu commented on #205
This should be fixed now.

[2018-04-13 08:05] SelezioneCasuale commented on #266
@alex4200 @elisamarenzi
Alex, issues #266 and #267 should now be solved. Please let us know if there are still some errors.
In the end, we opted for a easier (to implement) solution for the Connectome problem; if there is a .hdf5 file in the current storage, that one will be used for connectome building; otherwise, the user is pointed to a standard .hdf5 with a  200x200 scaffold. We'll improve it

[2018-04-13 08:10] alex4200 commented on #269
@appukuttan-shailesh : I just retested that use case "Basal Ganglia Morphology Validation" from scratch, i.e. with the user `alextestuser003` after I had its container reset (i.e. standard default configuration/installation for that user). I get the following error:

[code]

You can ask fabrice.gaillard@epfl.ch to reset your container. He needs your `User ID` (in your Collab Profile). Then you sho

[2018-04-13 09:43] appukuttan-shailesh commented on #269
@alex4200 : I realize why this has come up. I think that it might be better for you to test the usecase once the second part (by @pedroernesto) is added. I shall update you of the same. Apologies for the mix-up.

[2018-04-13 09:52] alex4200 commented on #266
Ok seems to work so far, thanks

[2018-04-13 09:52] #266 closed

[2018-04-13 11:28] alex4200 commented on #205
Yes, thats ok for now...

[2018-04-13 11:28] #205 closed

[2018-04-13 11:32] alex4200 commented on #34
Ok thanks, closing ticket

[2018-04-13 11:32] #34 closed

[2018-04-13 11:36] alex4200 commented on #267
Seems to work now

[2018-04-13 11:36] #267 closed

[2018-04-13 14:26] pedroernesto commented on #269
@alex4200 : error corrected, however you will have new updates soon from our side before the usecase is completed and ready to use

[2018-04-15 12:06] clupascu commented on #268
I updated the documentation to explain the new GUI to the user.  I updated the notebook documentation to show the timestamp to the user and have the user remember it for the Analysis step. I converted NSG submission time to CET time. I included also a short explanation in the notebook itself too in order to make it more clear that if the user wants to view analysis of simulations that are already

[2018-04-15 23:06] lbologna commented on #271
This should be fixed (no more "undefined" message) and more explicative message when the optimization gave no result.
Could you please check again?
Thanks

[2018-04-15 23:07] lbologna commented on #270
This should be fixed.
Could you please test again?
Thanks

[2018-04-15 23:10] lbologna commented on #235
Jobs are now ordered by workflow id by default, and the possibility to order them by date-time, status and job-id is given.
Could you please check again?
Thanks

[2018-04-15 23:13] lbologna commented on #150
Now, both the id of the workflow from which the job was launched and the job id are given (note that jobs launched so far have no correspondence to workflow id because the association was not implemented).
Could you please check again?
Thanks

[2018-04-16 07:38] antonelepfl commented on #275
[PR](https://github.com/lbologna/hbp-sp6-guidebook/pull/31) merged

[2018-04-16 07:39] antonelepfl commented on #255
@alex4200 Can we close this?

[2018-04-16 09:25] #275 closed

[2018-04-16 09:34] jdcourcol commented on #216
Backend to be modified based on collab team command (probably logout the user).

[2018-04-16 09:37] Hjorthmedh commented on #157
Input generated for simulation. Testing neuron run on Julia.

[2018-04-16 09:37] jdcourcol commented on #244
New notebook sent (local version). To be validated by @alex4200.

[2018-04-16 09:46] Hjorthmedh commented on #170
Would it be ok to use a csv file for input spikes. What is the neurodamus internal file format?
Is it:
neuroninputlocA, time1, time2, ...
neuroninputlocB, time1, time2, ...
Etc

[2018-04-16 09:47] jdcourcol commented on #265
@mmigliore : I would suggest to remove all the [COPY] ones. This app is going to be accessed by the reviewers for reviewing the models. Having these "[COPY]" looks dirty or looks "test" environment.

[2018-04-16 09:52] jdcourcol commented on #231
@alex4200 please check it

[2018-04-16 09:57] jdcourcol commented on #83
Probably end of week (Apr 20th)

[2018-04-16 11:15] appukuttan-shailesh commented on #265
@jdcourcol , @mmigliore : I have now deleted all the duplicates. The model catalog should thus look much neater. Do take a look and let me know if you find anything that needs fixing.

[2018-04-16 11:43] Hjorthmedh commented on #170
Emailed King & friends asking about Neurodamus file input format.

[2018-04-16 12:29] apdavison commented on #83
Why is this ticket still open? The first public release of the benchmark suite was in January if I remember correctly. If we wish to track additional use cases beyond the first release, maybe there should be a separate ticket?

[2018-04-16 13:16] appukuttan-shailesh commented on #83
That's true, the current discussion is regarding additional usecases. I suppose we ended up continuing the discussions here as not all the targets (checkboxes) were ticked... I should probably have deleted the parts not being addressed in the first release.

As of now, only one item is left and that is expected to complete this week. So shall anyhow have this ticket closed by the end of the week.

[2018-04-16 15:04] mmigliore commented on #265
I still see many entries with identical names but with somewhat different content (e.g. str-fs-161205_FS1-BE37A-20180212 or msn_d1_all-6-20170524)

[2018-04-16 15:12] appukuttan-shailesh commented on #265
That's right... the above updates were only applicable to the hippocampal models. Shall purge the database of duplicates for other domains over the next couple of days.

[2018-04-17 10:59] appukuttan-shailesh commented on #269
Regarding the initial error involving 'tornado', I found that it was related to this issue:
https://github.com/pypa/pip/issues/304
(For future reference: the dependency in context here was: sciunit -> ipykernel -> tornado>=4.0)

I have now resolved this by changing `pip install --upgrade ...` and `pip install -U ...` to:
`pip install --upgrade-strategy only-if-needed ...`

@alex4200 : Shall let yo

[2018-04-23 05:46] alex4200 commented on #263
Ok done

[2018-04-23 05:56] alex4200 commented on #263
One small thing: It seems the new image is missing for "Synaptic events fitting (user’s model)":

![selection_295](https://user-images.githubusercontent.com/12729291/39109139-dd6531d0-46cb-11e8-8424-7ce0b63efcab.png)

[2018-04-23 07:07] alex4200 commented on #270
Done...

[2018-04-23 07:07] #270 closed

[2018-04-23 07:35] clupascu commented on #263
This should be fixed now. Can you check again please? Thanks.

[2018-04-23 08:38] alex4200 commented on #255
Seems to work...

[2018-04-23 08:38] #255 closed

[2018-04-23 08:51] alex4200 commented on #231
All points fixed...

[2018-04-23 08:51] #231 closed

[2018-04-23 09:01] alex4200 commented on #235
I need to create some jobs to verify the sorting of job-id (but that is not working currently)...

[2018-04-23 09:27] Hjorthmedh commented on #170
Sent one more reminder asking about file format for input spikes.

[2018-04-23 09:30] Hjorthmedh commented on #157
Single core usecase is up on the platform accessible from user interface. Alex is testing.

Have applied for Jureca account also since reviewers will use that and not Julia.

[2018-04-23 10:03] jdcourcol commented on #269
My suggestion is to use:
pip install my_lib==1.0.0  (if 1.0.0 is the version to use).
instead of going for:
pip install --upgrade my_lib

[2018-04-23 11:25] clupascu commented on #268
I fixed the small typo on the Analysis notebook.

[2018-04-23 11:35] alex4200 commented on #150
Thanks, seems to work fine

[2018-04-23 11:35] #150 closed

[2018-04-23 11:52] alex4200 opened #276 "Multiple occurrences of jobs in 'Fetch list'"
### Expected behavior

To see one job only once

### Actual Behavior

When I try to download a job which gives no results and click on 'Fetch results'  again to try to download a different file, the entries appear twice.

In the following example I got a 'no output' twice and clicked on 'Fetch results'  three times. Hence all entries are seen three times...

![selection_296](https://user-images.gi

[2018-04-23 11:57] alex4200 commented on #271
Thanks; tested some cases and so far only well-explained error messages...

[2018-04-23 11:57] #271 closed

[2018-04-23 12:59] appukuttan-shailesh commented on #265
@alex4200 : This is now resolved. Duplicates have been deleted.

Note: only 4 entries with same name continue to exist, but this was based on data provided by modeling teams and not to be deleted. The modelers can update the names at any time via the model catalog.

[2018-04-23 13:15] alex4200 commented on #265
@appukuttan-shailesh where and how can I check this now?

[2018-04-23 13:46] alex4200 commented on #268
Screenshot:

![selection_298](https://user-images.githubusercontent.com/12729291/39130478-74cc059e-470d-11e8-869f-277d4c6fdf90.png)

Collab: Dev26 (I have added you...)

[2018-04-23 14:03] clupascu commented on #268
The name of the folder does not contain date/time information. The date/time information is printed next to the status of the job in the config notebook (when the user checks the status of the job) or it is printed when the user fetch the list of the jobs submitted through an HPC system in the analysis notebook. In the job you submitted, the name of the job (TestJob Data) should be enough to retri

[2018-04-23 14:10] alex4200 commented on #265
So far it looks fine....

[2018-04-23 14:10] #265 closed

[2018-04-23 14:14] alex4200 opened #277 "Some models seem to miss an image"
### Expected behavior

When opening  a model from the model catalog such as https://collab.humanbrainproject.eu/#/collab/1655/nav/75901
I expect to see the morphology image (when applicable).

### Actual Behavior

For some models like CA1_pyr_cACpyr_oh140807_A0_idG_20170915113354 the image seems to be broken:

![selection_300](https://user-images.githubusercontent.com/12729291/39132032-2be20b22-47

[2018-04-23 14:15] alex4200 commented on #268
Ok thanks, makes sense. Case closed...

[2018-04-23 14:15] #268 closed

[2018-04-23 14:30] pgetta commented on #134
Update:

The app has been deployed to OpenShift with three separate instances:
[code]

Deployment for rat CA1 due to bigger size has few issues with memory, most of them are currently fixed, but still WIP. For the time being simulation doesn't work on that instance.

Last Friday we've received comments from NSE team members. With respect to those, feature to provide synaptic inputs along with some

[2018-04-23 14:49] mmigliore commented on #134
Nice!
However, when I click on a cell I expected to see only cells which are
connected to that cell in input or output.
Instead I do not see any change in the visualization.

Cheers
Michele

Pavel Getta <notifications@github.com> ha scritto:

[2018-04-23 15:01] alex4200 opened #278 "Adding a target in SimUI reloads the page."
### Expected behavior

Able to add a new target etc.

### Actual Behavior

Page reloads. New target is not being added. Have to repeat the step.

### Steps to reproduce the problem

1. Select the use case in the BSP
2. Add a new target

[2018-04-23 15:37] pgetta commented on #134
There is `Connectivity filter` on a side-panel that  can be used to filter cells based on their connections (afferent, efferent, both).

I’ve noticed an issue with a backend for  `http://bp-rat-ca1.ocp.bbp.epfl.ch/` <http://bp-rat-ca1.ocp.bbp.epfl.ch/%60>, it has been restarted, so that feature now works.

UI still needs some improvements to be done. Concerning connection filers: maybe we should a

[2018-04-23 15:46] mmigliore commented on #134
I see, all clear now.

afferent AND efferent is a good choice.

Also, I see that the visualization of
http://bp-hippocampus-o1.ocp.bbp.epfl.ch/
shows something that does not have anything to do with what one
expects for hippocampus.
This should not be included in the list available for the reviewers.

Best
michele

[2018-04-24 06:39] mmigliore commented on #200
Yes.

From: alex4200 [mailto:notifications@github.com]
Sent: Tuesday, April 24, 2018 8:18
To: cnr-ibf-pa/hbp-bsp-issues <hbp-bsp-issues@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [cnr-ibf-pa/hbp-bsp-issues] Unable to select other computer than NSG (#200)

@lbologna <https://github.com/lbologna>  : Can this issue be moved to SGA2 then?

—
You are receiving this

[2018-04-24 11:39] appukuttan-shailesh commented on #277
@alex4200 : fixed now

[2018-04-24 13:24] appukuttan-shailesh commented on #269
@jdcourcol : currently I was doing `upgrade` to accommodate usecase related changes in my package. Once this is finalized (probably tomorrow), I shall do as you suggested and install with a specific version number. Thanks.

[2018-04-25 10:17] lbologna commented on #257
@alex4200 as for points 1-2 I tested on a new ubuntu installation (so, no previous cache) with both firefox and chrome and no problem arose. Could you please check again?
@jdcourcol I modified as suggested

[2018-04-25 10:30] lbologna commented on #216
The token refresh procedure was implemented and the server error did not occur anymore to me.
@alex4200 given that you have now access to the uwsgi.log, I propose that we close this issue and open more specific ones is the error occurs again. Thanks.

[2018-04-25 12:07] alex4200 commented on #216
Agreed

[2018-04-25 12:07] #216 closed

[2018-04-25 12:56] alex4200 commented on #277
Seems to be fixed, thanks

[2018-04-25 12:56] #277 closed

[2018-04-25 15:12] alex4200 commented on #258
Done

[2018-04-25 15:12] #258 closed

[2018-04-26 05:33] alex4200 commented on #269
@pedroernesto : In the cell in Part I I get the following error. It seems the package 'tabulate' is missing...

[code]

[2018-04-26 09:48] appukuttan-shailesh commented on #269
@alex4200 : resolved now.

[2018-04-26 12:29] appukuttan-shailesh commented on #83
@alex4200 : The final usecase (under these tasks) is now uploaded. So we can close this issue, and discuss any specific problems (hopefully none!) in their respective issues.

[2018-04-26 15:09] alex4200 commented on #83
Ok can be closed, thanks

[2018-04-26 15:09] #83 closed

[2018-04-27 06:58] alex4200 commented on #269
@appukuttan-shailesh : Seems to work now.

And no, there is no easy way (yet) to reset one's container. This might be a feature of an updated collaboratory (after SGA1)...

[2018-04-27 06:58] #269 closed

[2018-05-02 06:00] #244 closed

[2018-05-02 06:00] #243 closed

[2018-05-02 06:55] alex4200 opened #279 "JURECA simulation does not work for SynapticEvents Fitting"
### Expected behavior

When selecting JURECA and pressing "Run JURECA simulation" something should happen (i.e. JOB submitted, no access etc.)

### Actual Behavior

Nothing visible happens

![selection_307](https://user-images.githubusercontent.com/12729291/39509378-65402daa-4de6-11e8-8a59-f8608bb50a5a.png)

### Steps to reproduce the problem

- Run all Cells
- Select the first exp. data set
- Fil

[2018-05-02 07:32] clupascu commented on #279
Can you add me as a team member of the collab? Thanks.

[2018-05-02 08:31] clupascu commented on #279
For me it works. The job is submitted and the final status is successfull
![immagine02052018](https://user-images.githubusercontent.com/22050958/39513188-cfd3b076-4df3-11e8-9e92-16b940c541ee.png)
You can check in the storage of the collab you shared. Everything is saved there.

[2018-05-02 12:03] alex4200 opened #280 "Widgets not shown on Cerebellum placement use case"
### Expected behavior

Dropdown box correctly shown

### Actual Behavior

Not shown, also no javascript error:

![selection_310](https://user-images.githubusercontent.com/12729291/39522041-4dbed3cc-4e11-11e8-8aa0-793e5f2e80ba.png)

### Steps to reproduce the problem

Unsure. I had the container for that test user just reset the day before. But some other use case must interfere with the settings.

[2018-05-02 12:14] alex4200 opened #281 "Previous output visible in Connectome Cerebellum use case"
### Expected behavior

When I clone the notebook I expect to see no output

### Actual Behavior

But I can see old output of a freshly cloned notebook:

![selection_311](https://user-images.githubusercontent.com/12729291/39522630-224bdde6-4e13-11e8-8842-fbd443adc689.png)

### Steps to reproduce the problem

Just clone the notebook from DEV

### Optional infrastructural data (user, platform, browse

[2018-05-02 12:44] alex4200 opened #282 "Guidebook documentation for Hippocampus Placement missing"
In the section "Circuit Building" documentation is missing for the "Hippocampus Placement" use case.

https://collab.humanbrainproject.eu/#/collab/1655/nav/18580

[2018-05-02 12:55] alex4200 opened #283 "Unable to start simulation on JURECA"
### Expected behavior

To start a simulation

### Actual Behavior

After I click on "Ok' nothing happens. The user does not get feedback if the simulation has been started etc....

### Steps to reproduce the problem

- Just select "Run"
- Insert a title
- Click on "Ok"

### Optional infrastructural data (user, platform, browser, environment, ...)

PROD, FF and GC

[2018-05-04 05:08] alex4200 commented on #279
@clupascu : I was using a different HBP user.

Normally, I am using user 'adietz' and vsk2513, then it works for me too.
But now I used an user 'alextestuser002' and vsk2513, and nothing happens when I click on the button.

For the review this is probably without consequences as they all will have their access anyway...

[2018-05-04 07:12] #283 closed

[2018-05-04 07:30] clupascu commented on #279
@alex4200:  Is 'alextestuser002' enabled to submit jobs with vsk2513 account?

[2018-05-04 07:47] alex4200 commented on #279
@clupascu No. But I would expect some error message in that case or something...

[2018-05-04 08:02] clupascu commented on #279
Can you execute this

auth = get_oidc_auth()
base_url = get_sites()['JURECA']['url']
role=get_properties(base_url, auth)['client']['role']['selected']

with 'alextestuse002' and tell me what role is?

When I try with my HBP user and a wrong Jureca account I get the message 'This account is not enabled to submit jobs on JURECA'.

[2018-05-04 08:14] alex4200 commented on #279
The output is 'anonymous'.

[2018-05-06 17:17] lbologna commented on #276
This should be fixed. Could you please test again?
Thank you.

[2018-05-07 05:43] alex4200 commented on #276
Done, thanks

[2018-05-07 05:43] #276 closed

[2018-05-07 06:05] alex4200 opened #284 "Unable to upload changed files to HH Cell Optimization Workflow"
MINOR issue! Therefore for SGA2

### Expected behavior

I want to be able to clone a workflow after I have launched an optimization, change a file, and launch a different optimization.

### Actual Behavior

After I have cloned the workflow I can delete one of the files, but cannot upload a new one.

Workaround: Go to Home, select that workflow again. Then you are able to upload files again...

###

[2018-05-07 06:21] alex4200 opened #285 "Negative numbers for HPC parameters (HH use case)"
### Expected behavior

Unable to choose negative values for some HPC parameters

### Actual Behavior

However, its possible:

![selection_313](https://user-images.githubusercontent.com/12729291/39687625-977d8686-51cf-11e8-95c3-1820a55a6531.png)

[2018-05-07 07:20] alex4200 opened #286 "What does the "{} >" in parameters mean in Model Catalog?"
Shailesh:
[code]

[2018-05-07 07:22] alex4200 opened #287 "Performance in Model Catalogs."
### Expected behavior

Model Catalog to be faster OR models to be selected by right-clicking etc.

### Actual Behavior

1. When you load the model catalog it takes 18 seconds to load.
2. Also, I cannot just select a model and go back to select a different
model. It takes to long also. And I cannot right-click on a model to
open it in a different tab.

Shailesh:
1.  We are working on ways to reduce

[2018-05-07 08:09] lbologna commented on #285
This should be fixed. Could you please test again?

Thanks.

[2018-05-07 08:32] alex4200 commented on #285
Yes, fixed; thanks

[2018-05-07 08:32] #285 closed

[2018-05-07 08:49] alex4200 commented on #278
Ok, fixed now...

[2018-05-07 08:49] #278 closed

[2018-05-07 09:49] alex4200 commented on #45
Move it to SGA2? (14 May)

[2018-05-07 12:33] alex4200 opened #288 "Workflow saving behavior for HH use case"
I am not sure what the expected behavior is, but here is what I have observed:

1. I did some testing of the use case in a Collab 'p233', including saving some workflows. They all show up in the Collab's storage

![selection_316](https://user-images.githubusercontent.com/12729291/39700299-f4c4b10c-51fc-11e8-84a9-dc64b8c999b3.png)

2. I wanted to test something else and created Collab 'p235' - and

[2018-05-08 06:43] alex4200 commented on #279
@clupascu : For the use cases with user data/user model I get a correct error message: "This account is not enabled to submit jobs on JURECA" But not for the basic "Synaptic Events Fitting" use case. Did you forget to update that use case?

[2018-05-08 06:48] clupascu commented on #279
I see the comment in the code also for the basic "Synaptic Events Fitting". Are you sure you cloned the last version of the code?

[2018-05-08 07:03] alex4200 commented on #279
@clupascu When I checked the notebooks I saw there is a NEW version available for the following use cases:

- Synaptic events fitting with user model
- Synaptic events fitting with user data

but not for the use case

- Synaptic events fitting

[2018-05-08 07:53] SelezioneCasuale commented on #280
This should now be fixed; I simply followed yout suggestion

[2018-05-08 07:59] SelezioneCasuale commented on #281
Now should work; I redirect the output to .txt file, so it is not displayed on screen

[2018-05-08 08:11] alex4200 commented on #279
Works fine...

[2018-05-08 08:11] #279 closed

[2018-05-08 08:58] alex4200 commented on #280
Thanks, seems to work...

[2018-05-08 08:58] #280 closed

[2018-05-08 09:26] #281 closed

[2018-05-13 05:38] mmigliore opened #289 "inconsistent content of model catalog entries"
### Expected behavior
entries using the same model must refer to the same cell type.
### Actual Behavior
different entries using an interneuron model report either interneuron or pyramidal as cell type.
For example:
![image](https://user-images.githubusercontent.com/28526575/39964236-6b88e056-5680-11e8-98a6-fc88bdd9a175.png)

### Steps to reproduce the problem
go to model catalog
### Optional infr

[2018-05-14 06:23] alex4200 opened #290 ""Issues" section in BSP not updated"
The "Issues" section in the BSP is still the old version:

![selection_319](https://user-images.githubusercontent.com/12729291/39981247-0d5b801c-5750-11e8-88cf-8427065b0e82.png)

[2018-05-14 09:38] alex4200 commented on #288
Update available today or tomorrow (14/15 May)

[2018-05-14 09:39] antonelepfl commented on #290
@alex4200 I did that change [BSP](https://collab.humanbrainproject.eu/#/collab/1655/nav/41698)

[2018-05-14 09:53] appukuttan-shailesh commented on #286
Fixed on our local server and the changes shall be available for everyone soon (in a day or two).

[2018-05-14 09:54] jdcourcol commented on #15
we re going to run a server on CSCS VM to upload the blueconfig and the report.

[2018-05-14 09:54] appukuttan-shailesh commented on #287
Right-click feature implemented on our local server and the changes shall be available for everyone soon (in a day or two).

p.s. Reducing the load time will need longer to fix.

[2018-05-14 10:11] #290 closed

[2018-05-14 11:29] appukuttan-shailesh commented on #289
These entries seem to have come up during usecase testing. We have decided to make certain alterations to the validation usecases which will help prevent duplication of model entries in future. As these changes would require the usecases to be tested anew, we have kept them for post SGA1 review. For now these spurious entries have simply been deleted.

p.s. we will also incorporate appropriate pro

[2018-05-14 13:59] lbologna commented on #288
This should be fixed. Could you please test again?
Thanks

[2018-05-14 14:00] lbologna commented on #284
This had been already fixed in dev and now uploaded to prod.
Could you please test again?

Thanks

[2018-05-14 14:01] lbologna commented on #33
This has been implemented, could you please check?
Thanks.

[2018-05-14 14:35] alex4200 opened #291 "Code error in "Hippocampus single cell validation""
### Expected behavior

notebook runs

### Actual Behavior

Looks the small change DID introduce an error:
Code error:

[code]

![selection_322](https://user-images.githubusercontent.com/12729291/40003886-c0ce5dce-5794-11e8-80f8-8e233381867c.png)

### Steps to reproduce the problem

- Select existing model 11
- Create new model_uuid
- Select test 1, Somatic Features Test

[2018-05-14 14:47] appukuttan-shailesh commented on #291
@sasaray : could you take a look at this (I am on leave this week). Thanks.
p.s. the change (`import collections`) is unlikely to have introduced this. So I would be curious to have us check if the error existed in the previous version as well.

[2018-05-14 15:12] appukuttan-shailesh commented on #291
@alex4200 : I ran this again now (on the latest UseCase version) with the same input as you, but it  executed successfully:
![image](https://user-images.githubusercontent.com/24866517/40006043-b26b45ee-5799-11e8-9d3f-8c5eac35c012.png)

Enter the # of required model:
11

Cell Type = Interneuron

Do you wish to use an existing `model_uuid` (this will register results against an existing model entry)

[2018-05-15 08:56] alex4200 commented on #284
Yes seems to work, thanks...

[2018-05-15 08:56] #284 closed

[2018-05-15 08:58] alex4200 commented on #288
Yes seems to work now...

[2018-05-15 08:58] #288 closed

[2018-05-15 09:58] alex4200 commented on #33
Yes seems to work

[2018-05-15 09:58] #33 closed

[2018-05-15 21:48] lbologna commented on #45
A set of data from Allen Institute has been added. The application will be extended in SGA2 with a more comprehensive ensemble. Could you please check?

Thanks.

[2018-05-16 06:16] alex4200 opened #292 "Link broken in 'Models' section and SGA1 Review Collab"
* Page "Molecular Models":
  * The link to webSDA (https://mcm.h-its.org/WebSDA) seems to be broken

* Page on SGA1 Review Collab: https://collab.humanbrainproject.eu/#/collab/9510/nav/84858
  * Link to Product 6 broken

[2018-05-16 06:43] alex4200 commented on #45
Yes, done

[2018-05-16 06:43] #45 closed

[2018-05-17 09:08] alex4200 opened #293 "Unable to load the app in firefox"
The page at

https://bsp-mouse-o1.humanbrainproject.eu/

does not load in firefox:

![screen shot 2018-05-17 at 11 06 09](https://user-images.githubusercontent.com/12729291/40167860-62e48a50-59c2-11e8-943d-b34479867b96.png)

[2018-05-17 09:13] alex4200 opened #294 "Coloring by mtype rebders the screen unusable"
When I select 'mtype' for coloring the neurons on the initial screen, I get an unusable screen:

![screen shot 2018-05-17 at 11 11 31](https://user-images.githubusercontent.com/12729291/40168220-3ca2c644-59c3-11e8-8914-ac45ba21b574.png)

If there are so many mtypes anyway with so many similar colors - does it make sense to color the neurons by mtype in the first way?

[2018-05-17 09:18] alex4200 opened #295 "'Layer' and 'region' shows the same coloring"
When I select 'layer' or 'region' I see the same coloring. Is that the correct behavior?

[2018-05-17 09:37] pgetta commented on #293
From logs:

[code]

[2018-05-17 10:07] alex4200 opened #296 "Unable to see any synapses"
I selected gid:18087 as the starting cell and gid:20643 as an afferent cell, but the next screen does not seem to show any synapses. I have activated 'synapses visible' as seen in the screenshot...

![screen shot 2018-05-17 at 12 04 09](https://user-images.githubusercontent.com/12729291/40171038-7b7e8446-59ca-11e8-89c0-214d463f1a70.png)

[2018-05-17 10:09] jdcourcol commented on #296
it is unclear too if we have to put something into prop / value field to make synapse visible

[2018-05-17 10:10] jdcourcol opened #297 "in context "add stimulus | add report"
### Expected behavior
In simulation config, click on a segment. One should see the tooltip with button to add a stimulus or a report
### Actual Behavior
no tool tip shows up.
### Steps to reproduce the problem
select 2 neurons, go to simulation config, click on a neurite.
### Optional infrastructural data (user, platform, browser, environment, ...)
Firefox, MacOS

[2018-05-17 10:11] alex4200 opened #298 "Marker does vanish"
It seem to happen that the marker of a selected item (i.e. soma) vanishes. In this case I probably just selected two neutrons, changes to the "Simulation config" screen, made the selection, went back to the "Circuit" screen and back again to  "Simulation config" screen

![screen shot 2018-05-17 at 12 09 24](https://user-images.githubusercontent.com/12729291/40171391-682d124e-59cb-11e8-883d-23eb2f6

[2018-05-17 10:13] jdcourcol commented on #298
I assume it is in a past life @alex4200  ?

[2018-05-17 11:39] alex4200 commented on #298
I meant neurons, ha...

[2018-05-17 11:53] alex4200 opened #299 "Backspace removes more than one digit for 'time step'"
### Expected behavior

To be able to edit the time step in the text box just I expect to edit something

### Actual Behavior

I place the cursor at the end of the text '0.01', press the backspace key, but then the content of th box becomes '0'. The backspace seems to remove 3 instead of 1 character

### Steps to reproduce the problem

### Optional infrastructural data (user, platform, browser, env

[2018-05-17 12:04] alex4200 commented on #273
The notebook for this use case has been changed to it only shows the CA1 area of a rat.

[2018-05-17 12:04] #273 closed

[2018-05-17 12:04] alex4200 commented on #272
I will move this to SGA2 ...

[2018-05-18 08:44] alex4200 opened #300 "Mouse input too sensitive for neuron selection"
### Expected behavior

Selecting a cell by clicking on it

### Actual Behavior

A mouse click might be interpreted as a movement and not as a click.

### Steps to reproduce the problem

### Optional infrastructural data (user, platform, browser, environment, ...)

MacBook Air with Chrome, wireless mouse.

[2018-05-18 12:15] pgetta commented on #299
This is behaviour of input component which is trying to have correct value within programmed range no matter what you input.

Nonnumeric values are being replaced with previous valid values.
Out of range values (in respect to min and max allowed in current input) are being replaced with closest valid values.

Also, numbers in all inputs can be changed by pressing on `up` and `down` buttons, step i

[2018-05-18 12:32] pgetta commented on #298
Should be fixed now. Could you please test?

[2018-05-18 12:41] pgetta commented on #295
In case of mouse o1 circuit `layer` and `region` are the same things, the only difference is `region` has `L` prefix. So I suppose no need to change colors.

[2018-05-18 12:43] pgetta commented on #293
Okey, it was an issue with backend, somehow relevant to https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/298, fixed now.

[2018-05-18 12:46] pgetta commented on #294
I've limited `Color by` control to use only cell properties, where there are no more then 20 unique values. Looks like it's not that necessary to have coloring by mtype.

[2018-05-18 13:03] #295 closed

[2018-05-18 13:09] #294 closed

[2018-05-22 06:42] alex4200 commented on #282
Done

[2018-05-22 06:42] #282 closed

[2018-05-22 06:48] alex4200 commented on #299
Not a bug then, but 'works by design'

[2018-05-22 06:48] #299 closed

[2018-05-22 09:21] antonelepfl opened #301 "Tags in small screen were overlapping"
### Expected behavior
The tags on the Use Cases do not overlap.
![screen shot 2018-05-22 at 11 19 18](https://user-images.githubusercontent.com/24406041/40353530-02be11d4-5db2-11e8-8ea8-d04be081dd52.png)

### Actual Behavior
In some screen sizes the tags are overlapping.
![screen shot 2018-05-22 at 11 19 54](https://user-images.githubusercontent.com/24406041/40353595-2c276458-5db2-11e8-8a90-a7b848

[2018-05-22 09:27] antonelepfl commented on #301
@alex4200 could you please check that on [DEV](https://collab.humanbrainproject.eu/#/collab/8444/nav/65633)?

[2018-05-22 09:33] alex4200 commented on #301
@antonelepfl   Seems to be fine on DEV

[2018-05-22 09:53] antonelepfl commented on #15
The server is running but the simulation is not playable right now. We are waiting for https://github.com/BlueBrain/Brayns/pull/389 to be merged

The server receives a `POST` to `http://148.187.96.74/viz` from Julich and it will put the content in CSCS and restart the docker.

The instructions to run the service are under
`vizuser@148.187.96.74:/home/vizuser/restart_server/README.md`

[2018-05-22 13:13] alex4200 commented on #298
Yes seems to be fixed...

[2018-05-22 13:13] #298 closed

[2018-05-22 13:16] alex4200 commented on #293
Working now in firefox...

[2018-05-22 13:43] pedroernesto commented on #287
Well, right-click functionality is ready. But reducing loading-time, as decided, will be done later.

[2018-05-22 13:59] appukuttan-shailesh commented on #289
@alex4200 : As mentioned above, this is resolved for now. The bigger changes to usecase will be introduced only post-review. Do let us know if anything more is needed currently.

[2018-05-22 15:44] pgetta commented on #297
Should be fixed now.

[2018-05-23 05:31] alex4200 commented on #293
Correcting statement: Its working in Firefox on Linux, but NOT in Firefox on MacOS!

[2018-05-23 05:33] alex4200 opened #302 "Pair recording app public accessible"
Not sure if this is deliberate, but the app can be accessed without authentification. Just the URL will do...

[2018-05-23 05:42] alex4200 commented on #297
Yes, fixed on Firefox and Chrome

[2018-05-23 05:42] #297 closed

[2018-05-23 05:51] alex4200 commented on #287
Yes works fine, thanks

[2018-05-23 05:52] alex4200 commented on #286
Yes fixed now.

[2018-05-23 05:52] #286 closed

[2018-05-23 05:52] #289 closed

[2018-05-23 05:53] alex4200 commented on #134
Application is online ...

[2018-05-23 05:53] #134 closed

[2018-05-23 06:21] jdcourcol commented on #287
We should create another ticket for that as "feature" and put it for SGA2 milestone

[2018-05-23 06:26] alex4200 opened #303 "Removing a recording does not work"
### Expected behavior

After I have done a simulation, I want to remove a recording, change something and simulate again.

### Actual Behavior

The removed recording still shows up in the 'Traces' section

### Steps to reproduce the problem

1. Select a setup with two soma
2. Select the two somas for recording
3. Run Simulation -> Two traces
4. In the tab 'Recordings' remove one of the soma record

[2018-05-23 06:37] alex4200 opened #304 "Performance loading the Model Catalogs."
### Expected behavior

Model Catalog should load faster

### Actual Behavior

When you load the model catalog it takes 18 seconds or longer to load.

From ticket #287

[2018-05-23 06:37] alex4200 commented on #287
see #304

[2018-05-23 06:37] #287 closed

[2018-05-24 12:02] antonelepfl opened #305 "Test in Simulation Launcher V0.0.4"
## Things to be checked
- [x] Show Unicore Logs
- [x] When load a file like Stderr a spinner should appear and then the text and the Download button
- [x] Get reports in analysis launch form
- [x] List of jobs are loaded correctly
- [ ] Launch analysis form: the tips (blue window) should only be visible if we are running analysis from a different computer than Jureca
- [x] Delete Job
- [x] Delete

[2018-05-24 12:29] alex4200 opened #306 "Loading spinner to get the project is wobbling"
### Expected behavior

The spinner should rotate symmatrically

### Actual Behavior

The spinner spins unsymmetrical

![selection_336](https://user-images.githubusercontent.com/12729291/40485325-855f01e0-5f5e-11e8-9279-08a09f43f6d9.png)

### Steps to reproduce the problem

1. Click on "Run" in the "Configure & Launch Simulations" page
2. Select computer "JUQUEEN"

### Optional infrastructural data

[2018-05-25 08:54] antonelepfl commented on #305
I have deployed the latest version.
I removed Juqueen and I aligned the analysis (it looks weird but to compare I think is better)
Let me know if you find something else that you want to improve.

[2018-06-01 10:23] jdcourcol opened #307 "First prototype of subcellular experiment"
This first prototype will have the following steps:
neuron selection -> synapse selection -> protein selection.

Further steps will be implemented in a different ticket

[2018-06-06 06:21] alex4200 commented on #293
Yes working now in Firefox in MacOS.

[2018-06-06 06:21] #293 closed

[2018-06-06 08:49] pgetta opened #308 "Cells connectivity in morphology view"
### Expected behavior

User should be able to see connectivity between cells in morphology view. (pre/post synaptic cells)

[2018-06-06 08:52] pgetta opened #309 "Visibility of cells added for simulation in circuit view"
### Expected behavior

When  filtering cells by their connections or properties user should see cells added to simulation even if they are hidden by applied filter - to see their relative positions in the circuit

[2018-06-06 08:53] pgetta opened #310 "Voltage clamp"

[2018-06-06 08:57] pgetta opened #311 "Sections highlight when hovering sim traces"
### Expected behavior

There should be easy way to visually map traces with according sections in morphology view.

[2018-06-06 08:59] pgetta opened #312 "Replay for simulation reports"

[2018-06-06 13:35] pgetta commented on #296
Some UI changes have been implemented to make interaction with synaptic input control more straightforward:
* Now component will show poptips with short guides what needs to be filled.
* Synapses visibility toggle is disabled and greyed out while component don't have all necessary information

@alex4200 could you please evaluate this?
Any ideas on how this control can be improved even further woul

[2018-06-06 13:42] appukuttan-shailesh commented on #304
This has now been resolved... load time less than 5 seconds.

[2018-06-07 05:37] alex4200 commented on #304
Yes much better now, thanks..

[2018-06-07 05:37] #304 closed

[2018-06-07 12:02] alex4200 commented on #296
Much better thanks

[2018-06-07 12:02] #296 closed

[2018-06-07 12:07] alex4200 opened #313 "Labels and colors"
In the 'simulation config' view the used colors should be annotated (i.e. red is a dendrite, green is axon etc. [just an example and no color suggestion]).

But we have a clash on the color red, as this is used for the dendrites and the EXC synapses. Suggestion: Use a different color which also looks like 'red', but is a bit darker etc to it can easily distinguished from the dendrites...

[2018-06-07 12:15] alex4200 opened #314 "Unit of freqency"
I suggest to add the unit of the frequency for the synaptic inputs.

![selection_345](https://user-images.githubusercontent.com/12729291/41098876-1b8a5ab2-6a5d-11e8-8c64-27765318964f.png)

Just adding "[Hz]" should be enough.

[2018-06-07 13:01] alex4200 opened #315 "Synapses vanish the changing tabs"
### Expected behavior

Synapses always visible once they were visible

### Actual Behavior

Synapses 'vanish' when changing the tabs

### Steps to reproduce the problem

1. I select a single cell
2. I select the soma and define some synaptic inputs: synapses visible
3. I go back to the 'Circuit' tab
4. I click on 'Proceed to simulation config'

Although the synaptic input has not changed, the red

[2018-06-11 11:33] pgetta commented on #315
Should be fixed now, could you please check, @alex4200 ?

[2018-06-11 14:39] alex4200 commented on #315
Yes works, thanks

[2018-06-11 14:39] #315 closed

[2018-06-13 11:10] alex4200 opened #316 "Suggestion: adding units to input parameters"
### Expected behavior

To see the input parameters with their units (like ms, mV, etc)

### Actual Behavior

No units given

![selection_351](https://user-images.githubusercontent.com/12729291/41347772-01f6617e-6f0b-11e8-98e9-0f1e867db077.png)

In addition, what does 'rs' mean?

![selection_352](https://user-images.githubusercontent.com/12729291/41347788-0a9ed1f8-6f0b-11e8-9f82-3b31e0511cc3.png)

[2018-06-13 11:12] alex4200 opened #317 "Recordings should have labels on both axes and correct scale..."
### Expected behavior

To see the graph in a meaningful scale and with units on axes

### Actual Behavior

 - Only the x-axis has a label, but not the y-axis
 - The scale of the recordings "Current recordings" is off. It shows the range from 0 to 100000 (villiVolt?) while the actual data is close to zero...

![selection_353](https://user-images.githubusercontent.com/12729291/41347915-5def308c-6f0b

[2018-06-13 11:14] alex4200 opened #318 "Documentation for PairRecording App is missing in Guidebook"
In the guidebook the documentation for this app is missing.

https://collab.humanbrainproject.eu/#/collab/1655/nav/18580

It should also contain examples on how the various stimuli/inputs etc look like etc...

[2018-06-19 05:34] alex4200 commented on #308
@pgetta I think this is done...

[2018-06-19 05:51] alex4200 opened #319 "Martinotti loop for the Rat hippocampus"
When selecting the Martinotti loop in the Rat hippocampus circuit you get just some random 3 cells it seems.

Suggestion: Present preconfigured examples based on the circuit selected...

[2018-06-19 11:40] alex4200 opened #320 "Some mixed issues for PairRecording"
1. When starting a simulation the percentage is always at 87%. The progress bar does not 'progress'. Fix/remove?
![selection_375](https://user-images.githubusercontent.com/12729291/41595131-038b2eb0-73c6-11e8-9648-0994f790ebef.png)
2. (Probably small and insignificant issue, except the app will be used by a considerable number os users in the future) When trying to run multiple simulations at the

[2018-06-21 04:50] mmigliore commented on #319
…there is no such a thing as a Martinotti loop in the hippocampus….

Please delete it from the list of preconfigured circuits. Leave the list empty for now.

Thank you

Michele

From: alex4200 [mailto:notifications@github.com]
Sent: Tuesday, June 19, 2018 7:52
To: cnr-ibf-pa/hbp-bsp-issues <hbp-bsp-issues@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [cnr-ibf-pa/hbp-b

[2018-06-21 06:46] mmigliore commented on #319
It is fixed, but I noticed other problems:

-          After selecting a cell afferents and efferents, and their intersection, the zoom does not work anymore.

-          Zooming also does not work when I go to the simulation panel.

-          In Geneva you also showed me how to center the zoom on a cell. Is it already implemented in the use case? If yes, it does not work for me.

Skype me if you

[2018-06-21 07:19] alex4200 commented on #319
For me the zooming works in every panel (mouse/rat/chrome/FF), but the 'center' feature only works for mouse, not for rat...

[2018-07-13 13:25] alex4200 opened #321 "Update validation use cases (model registering issue)"
## Summary

Aspect | Detail
------------ | -------------
Summary | Will manage duplication of model entries
Usecase Group | Validation
State | Update
Expert | Shailesh
User | All
Deadline | M12 (March 2019)
Target audience | All
Target interface | Notebook
HPC Requirements | None
Dependencies | None
Nominal runtime | Highly variable depending on usecase/test/model (typical cases < 1h)

## List of

[2018-07-13 13:31] alex4200 opened #322 "Integration validation into single cell model pipeline"
## Summary

Aspect | Detail
------------ | -------------
Summary | Model registration and validation to be appended to model building workflow, so the user just need "to click one button" for model registration. Model building e.g. "Rebuild Existing ..."
Usecase Group | Validation
State | Probably update existing (if agreed by single cell modeling team)
Expert | Shailesh
Scientific User | All
Dead

[2018-07-13 13:32] alex4200 opened #323 "Update validation use cases"
## Summary

Aspect | Detail
------------ | -------------
Summary | Add notebook cells to include principal components of the neurites and test average features of a cells population against experimental data
Group | Morphology Analysis
State | Update?
Expert | Pedro
User |
Deadline |
Target audience |
Target interface | Notebook
HPC Requirements |
Dependencies |
Nominal runtime |

**Remove anythin

[2018-07-25 08:48] Stritto opened #324 "Error: Configure and run a rat hippocampus CA1 region using preconfigured HBP model and data"
### Expected behavior

View simulation

### Actual Behavior

Error Getalljobsexpandedwithchildren-errorgettingalljobs error networkerror

### Steps to reproduce the problem:

view simulation

### Optional infrastructural data (user, platform, browser, environment, ...)

[2018-07-30 07:35] Stritto commented on #324
Dear Alex,
if I go to https://collab.humanbrainproject.eu/#/collab/1655/nav/66856
(configure and run a rat hippocampus CA1 region...) and I click on "view
simulation" (right up corner) I get this error message

Bests
Simona

2018-07-30 9:28 GMT+02:00 alex4200 <notifications@github.com>:

--
Simona Tritto, PhD SP6 Technical coordinator
Department of Brain and Behavioral Sciences Unit of Neurophysio

[2018-07-30 07:38] alex4200 commented on #324
Yes I can reproduce this problem myself.

![selection_392](https://user-images.githubusercontent.com/12729291/43383780-58142974-93dc-11e8-8606-122438fe90fd.png)

I will talk to Stefano...

[2018-07-31 06:04] alex4200 opened #325 "Naming of JURECA simulation results"
### Expected behavior

To have a clear naming of the simulation artefacts to be used for analysis

### Actual Behavior

In the Submission page I can name the simulation, like 'Demo Test':

![selection_395](https://user-images.githubusercontent.com/12729291/43440567-15a202a2-9498-11e8-9769-ccb2987be2b2.png)

When I go to the Analysis page, however, the name is not shown anymore

![selection_396](ht

[2018-07-31 07:40] #301 closed

[2018-07-31 08:47] alex4200 opened #326 "Simplify detailed neuron network"
## Summary

Aspect | Detail
------------ | -------------
Summary | Simplify detailed neuron network using Oren's method .
Usecase Group |
State | New Application
Expert | Jean-Denis
Scientific User |
Deadline | Work can start only in about March 2019. Deadline around May 2019?
Target audience |
Target interface |
HPC Requirements |
Dependencies |
Nominal runtime |

## List of features
*What does y

[2018-07-31 08:51] alex4200 opened #327 "Subcellular experiment builder"
## Summary

Aspect | Detail
------------ | -------------
Summary | The subcellular experiment builder is a new web application that will configure a subcellular simulation (selection of synapse, protein, reaction…) and launch a job on a super computer using the STEPS simulator and then viewing analysis result
Usecase Group | Subcellular
State | New
Expert | @jdcourcol Dan Keller
Scientific User |

[2018-07-31 08:56] alex4200 opened #328 "Entity workbench"
## Summary

Aspect | Detail
------------ | -------------
Summary | reusing the nexus search web app: https://github.com/BlueBrain/nexus-search-webapp. The search web app will contain extension for other workbench. But that might not be a good idea. We want a list of results.
Usecase Group |
State | New?
Expert | @jdcourcol @apdavison
Scientific User |
Deadline |
Target audience |
Target interface

[2018-07-31 09:01] alex4200 opened #329 "JP-UC15 Use simplified model from BSP in an NRP experiment through NIP and HPC"
## Summary

Aspect | Detail
------------ | -------------
Summary | JP-UC15 Use simplified model from BSP in an NRP experiment through NIP and HPC
Group | ?
State | @jdcourcol
Expert |
User |
Deadline |
Target audience |
Target interface |
HPC Requirements |
Dependencies |
Nominal runtime |

See information under https://collab.humanbrainproject.eu/#/collab/325/nav/102720

**Remove anything that do

[2018-07-31 09:03] alex4200 opened #330 "Granular Cells in BlueNaaS"
## Summary

Aspect | Detail
------------ | -------------
Summary | Cerebellar granular cells simulation with BlueNaaS. The export of custom sectionlist is now working and, with the temperature as an option on the GUI, the simulation are fine.
Usecase Group |
State | New
Expert | @SteMasoli @rizland
Scientific User | All
Deadline |
Target audience | All
Target interface | GUI
HPC Requirements | No.

[2018-07-31 09:12] alex4200 opened #331 "Analysis of Hippocampus-CA1 circuit"
## Summary

Aspect | Detail
------------ | -------------
Summary | New test to  compare the synapses distribution of different m-type cells across the CA1 layers. The outcome will be a notebook showing how to use a test for synapses distributions of the Hippocampus CA1 circuit BBP-model.
Usecase Group | Validation
State |
Expert | Pedro
Scientific User |
Deadline | June 2019
Target audience | Expe

[2018-07-31 09:17] alex4200 opened #332 "Analysis of Hippocampus-CA1 model with BBP-tests"
## Summary

Aspect | Detail
------------ | -------------
Summary | Notebooks with existing BBP-tests for CA1, that will be registered in the HBP-VF. Tests will be able to register the results.
Group |
State |
Expert |
User |
Deadline | To be defined. It depends on setup completion to access HPC resources, e.g. BluePy installation on JURECA, access to CA1-model release, submission of jobs through U

[2018-07-31 09:32] alex4200 opened #333 "Service account for MOOCs/Web App/JupyterN"
## New Use Case

Aspect | Detail
------------ | -------------
Summary |  Implementation of the service needed to use a CSCS Service account and an NSG Umbrella user in order for a non member user to run the jobs/modules needed for the MOOCs/Web Apps/JupyterN on remote systems (i.e. cscs/nsg).
Group | Type: REST API service
Expert | @lbologna
Deadline | Expected date of first release: TBD. A rough

[2018-07-31 09:34] alex4200 opened #334 "Feature extraction GUI update"
## Use Case Update

Aspect | Detail
------------ | -------------
Summary |  the current feature extraction web app will be modified in order to fetch the electrophysiological data (from which the feature are extracted) from the HBP dataset (container/KG). At the moment the data are stored (and fetched from) the web-app backend storage.
Expert | @lbologna
Deadline |  Expected date of the update fir

[2018-08-02 09:39] antonelepfl commented on #324
Hi, I have sent an email to Bernd because their API needs to have some special headers but he is in vacations until Aug 13th. Unfortunately I'm not able to do anything without this change.

[2018-08-20 07:53] clupascu commented on #325
Can you please add me to the team of this collab? Thanks.

[2018-08-20 14:28] antonelepfl opened #335 "SimUI run analysis from non-unicore simulations"
### Expected behavior
Simulation launcher GUI should be able to launch some analysis of some simulation that the user has run from their own (not thru the Simulation launcher GUI).

For that the user should have to specify specifying the location of the simulation in Jureca and probably some extra parameters.

[2018-08-21 10:08] clupascu commented on #325
I fixed the name issue in the "View simulations" page. Now names containing whitespaces are also displayed.

I don't understand the second issue. The one with the two folders displayed in the "View analysis" tab. When you select "storage", all the folders in the storage are displayed. You can choose on which one you want to perform analysis.

[2018-08-24 05:59] alex4200 commented on #325
The second issue: Its just that I run 1 simulation, but I end up having 2 results in the local storage. Why do I have two if I only ran one simulation? That is what I find strange...

[2018-08-28 09:30] jdcourcol opened #336 "Support Simulation on "normal" partition"
booster partition is going to be down from mid-September to end of October.
Support normal partition instead from the Simulation GUI use case.

[2018-08-28 11:36] mmigliore commented on #336
I am getting the same error too, and I opened a ticket. I’ll keep you posted.

-M

From: Stefano Antonel [mailto:notifications@github.com]
Sent: Tuesday, August 28, 2018 12:21
To: cnr-ibf-pa/hbp-bsp-issues <hbp-bsp-issues@noreply.github.com>
Cc: mmigliore <michele.migliore@cnr.it>; Mention <mention@noreply.github.com>
Subject: Re: [cnr-ibf-pa/hbp-bsp-issues] Support Simulation on "normal" partitio

[2018-08-28 11:52] antonelepfl commented on #336
I have also another question .. Should we remove Julia from the possible HPC systems?
It has been down for a couple of week iirc.

[2018-08-28 11:58] mmigliore commented on #336
Yes. Julia has serious problems and no maintenance contract….I think we will not see it up again in the near future.

From: Stefano Antonel [mailto:notifications@github.com]
Sent: Tuesday, August 28, 2018 13:53
To: cnr-ibf-pa/hbp-bsp-issues <hbp-bsp-issues@noreply.github.com>
Cc: mmigliore <michele.migliore@cnr.it>; Mention <mention@noreply.github.com>
Subject: Re: [cnr-ibf-pa/hbp-bsp-issues] Supp

[2018-08-29 06:32] mmigliore commented on #336
The allocation on the normal partitions (batch, mem256, etc) starts on Sep.1st (Saturday)

I have asked to have it open as soon as possible, but no answer so far. I’ll keep you posted.

In any case, it should be available from Saturday.

-M

From: Stefano Antonel [mailto:notifications@github.com]
Sent: Tuesday, August 28, 2018 12:21
To: cnr-ibf-pa/hbp-bsp-issues <hbp-bsp-issues@noreply.github.com>

[2018-08-29 11:56] mmigliore commented on #336
Hello,

The normal partitions (batch, mem256, etc)  are available.

-M

From: Stefano Antonel [mailto:notifications@github.com]
Sent: Tuesday, August 28, 2018 12:21
To: cnr-ibf-pa/hbp-bsp-issues <hbp-bsp-issues@noreply.github.com>
Cc: mmigliore <michele.migliore@cnr.it>; Mention <mention@noreply.github.com>
Subject: Re: [cnr-ibf-pa/hbp-bsp-issues] Support Simulation on "normal" partition (#336)

@

[2018-08-29 12:36] antonelepfl commented on #336
@mmigliore Do you know what is the configuration for **batch** partition? I have tried with `--ntasks-per-node=68` but it says `More processors requested than permitted`

[2018-08-29 13:55] clupascu commented on #336
24 processors is the maximum you can use

[2018-09-02 19:42] SteMasoli commented on #330
Waiting for Werner to modify BluePyOpt Neuron template exporter.

[2018-09-03 09:42] antonelepfl commented on #334
Working on adapting the WebUI to be able to read the format of KG

[2018-09-03 09:45] lbologna commented on #333
First version of remote job launching is working on local dev.
Next tasks: test with a real world case - add security checks through hbp token validation

[2018-09-03 09:51] antonelepfl commented on #292
@alex4200 Could please check that?

[2018-09-03 09:55] antonelepfl commented on #157
Working on Sonata conversion.
No Unicore so far

[2018-09-03 13:36] SteMasoli commented on #199
Done.

[2018-09-03 13:49] mmigliore commented on #120
electrophysiological traces not available to date.

[2018-09-04 06:16] alex4200 commented on #199
@antonelepfl : Can you merge these changes to prod please?

[2018-09-04 06:59] antonelepfl commented on #199
Done.
Please have a look on Prod

[2018-09-04 07:30] alex4200 commented on #199
Thanks

[2018-09-04 07:30] #199 closed

[2018-09-12 12:54] alex4200 commented on #173
@jdcourcol @antonelepfl Is this still an open issue?

If so I would appreciate if you can

- add some more details
- Adjust the milestone to the new M milestones.

Thanks a lot

[2018-09-12 12:55] alex4200 commented on #165
@antonelepfl Is this still an open issue?

If so I would appreciate if you can adjust the milestone to the new M milestones. (M6, M12, ...)

Thanks a lot

[2018-09-12 12:55] alex4200 commented on #155
@antonelepfl Is this still an open issue?

If so I would appreciate if you can adjust the milestone to the new M milestones.

Thanks a lot

[2018-09-12 13:12] antonelepfl commented on #155
I think the issue here is that there is no GID definition for each row of the plot.

[2018-09-12 13:14] antonelepfl commented on #165
Hi Alex, I don't think we are going to implement that any time soon due we want to avoid using voxcellview as a visualization tool becasue we have Pair Recording, BlueNaas etc as tools

[2018-09-12 13:14] #165 closed

[2018-09-12 13:16] alex4200 commented on #307
@jdcourcol @pgetta : Can you please update the proper milestone for SGA2 (M06, M12 etc)?

Thanks

[2018-09-13 05:30] mmigliore commented on #120
traces not available

[2018-09-13 06:38] alex4200 commented on #305
One of the remaining items is not valid anymore; the other one will not be fixed as a new version of the application is in development (and its not a major issue). Therefore closing this ticket

[2018-09-13 06:38] #305 closed

[2018-09-13 11:32] Hjorthmedh commented on #157
We now have a set of SONATA files and we need help to run it on the platform. It would be good to have a person we can continuously talk to for a few weeks as we debug and get it operational.

This is a blocking issue.

[2018-09-14 08:11] antonelepfl commented on #154
Armando has the functions to transform (PSTH + Raster) to signal and from there add this Spectrum analysis.

[2018-09-14 09:17] Hjorthmedh commented on #157
From a bash shell on julia, how do I run my SONATA files?
Do I need to initialise the environment in any way?
If I want to run it locally, how do I setup Neurodamus on my own machine?

[2018-09-16 15:34] lbologna commented on #52
A roadmap for this Feature is not defined yet, in that a schema has to be designed and the registration to NIP defined.
I will change the milestones to "Next tasks" and update with a "Mx" milestones once the previous points will be clarified.

[2018-09-17 09:35] alex4200 commented on #157
@arsenius7  Do you have any input here?

[2018-09-17 09:37] alex4200 commented on #84
@apdavison Can you assign an assignee?

[2018-09-18 06:45] alex4200 opened #337 "User should be notified when analysis run on NSG etc. failed"
### Expected behavior

If the analysis run has failed, the user should be notified

### Actual Behavior

No notification

### Steps to reproduce the problem

Run a full analysis on NSG, in most cases there will be no result (no csv file) because of an error

### Optional infrastructural data (user, platform, browser, environment, ...)

using NSG

[2018-09-18 08:30] alex4200 commented on #86
@appukuttan-shailesh Hi, is this ticket something you can work on? please let me know, thanks...

[2018-09-18 08:33] alex4200 commented on #170
@Hjorthmedh Just to clarify: This ticket is about the SONATA file format which you are trying to use in ticket #157 ?

[2018-09-18 08:36] alex4200 commented on #221
Has been resolved

[2018-09-18 08:36] #221 closed

[2018-09-18 08:38] alex4200 commented on #324
That issue has been fixed and retested...

[2018-09-18 08:38] #324 closed

[2018-09-18 08:41] antonelepfl commented on #173
We need to ask Michele for this. IIRC he was asking Jim about this in Neurodamus but I'm not 100% sure.
We have updated the Milestone yesterday

[2018-09-18 08:46] alex4200 commented on #173
@mmigliore Can you please comment on this issue? Thanks...

[2018-09-18 09:28] antonelepfl commented on #336
For simulations we are using `batch` partition with 68 ntasks-per-node

[2018-09-18 09:28] #336 closed

[2018-09-18 14:27] clupascu commented on #337
Actually most of the time when there is no result (no csv file), the runtime was not enough for finishing the job, or no fitting had the error under the threshold. I don't know the cause without taking a look at the STDOUT file.

I run a fitting with all_traces using a runtime of 30 minutes (not enough) and I give this notification in this case to the user

![schermata 2018-09-18 alle 16 18 11](ht

[2018-09-18 17:10] apdavison commented on #86
I created this ticket based on something @jdcourcol mentioned, but I don't know much about it. Could @jdcourcol give us more information about what is needed?

[2018-09-19 14:06] alex4200 commented on #337
Hello @clupascu, I consider this issue not very important. But maybe you can add some small improvements to such cases.
For example, in the screenshot you mention the files stdout/stderr. Couldn't you simple check if a STDERR file has been created? And based on the existence of the file you can print a more specific message? And you might even include the content of the STDERR file. Something like

[2018-09-19 15:58] jdcourcol commented on #157
@Hjorthmedh : the simulator is not ready for supporting SONATA natively yet. The plan is to deliver that in SGA2.
We are building our implementation plans currently so I cannot give you a timeline right now.
However, you can consider to test the visualization of your circuit with RTNeuron. This would already validate that your files are readable and  give some insights related to the structure of

[2018-09-19 17:32] Hjorthmedh commented on #157
@jdcourcol I thought the SONATA to Neurodamus converter was up and running.

Or do you mean that the converter works, but that Neurodamus will at some point natively read the SONATA file format?

In the meantime, where can I find information about how to run the RTNeuron visualiser?

[2018-09-20 08:09] jdcourcol commented on #335
Can the user see the filesystem of another user through the unicore API ? @antonelepfl @clupascu do you have any clue ?

[2018-09-20 08:15] jdcourcol commented on #272
@alex4200 can we please split that in 3 tickets ?
@antonelepfl can you investigate if the widgets infrastructure is more reliable these days ? The question is should keep that architecture or move to something else ?

[2018-09-20 08:16] jdcourcol commented on #170
@Hjorthmedh I think this should go to the sonata issues. https://github.com/AllenInstitute/sonata/issues

[2018-09-20 08:16] #170 closed

[2018-09-20 08:17] jdcourcol commented on #156
@romani79 : what is a proper timeline for that ?

[2018-09-20 08:25] alex4200 opened #338 "VoxcellWidget sometimes produces empty plots"
### Expected behavior

I will get plots all the time

### Actual Behavior

Sometimes there are no plots

![38553994-472d0bac-3cc1-11e8-82cb-7521fd170599](https://user-images.githubusercontent.com/12729291/45805494-1c0a1b80-bcbf-11e8-822a-6251a64c2232.png)

### Steps to reproduce the problem

Not sure...

20.9.2018: Currently unable to reproduce this error because of an unrelated error...

### Opti

[2018-09-20 08:26] alex4200 opened #339 "VoxcellWidget small"
### Expected behavior

I would like to have the possibility to increase the size of Voxcellview plots

### Actual Behavior

If the plots are generated, they are rather small. I would prefer to enlarge them and rotate/zoom etc. but I do not see any option to do so...

### Steps to reproduce the problem

### Optional infrastructural data (user, platform, browser, environment, ...)

[2018-09-20 08:26] antonelepfl commented on #335
Alex gave me read access thru the terminal but even though I'm able to see the files from the terminal, when I ask unicore to give me the files I get empty list. So I guess no directly thru Unicore but you can launch a job that do something (input.sh) that access those files / directory

[2018-09-20 08:28] alex4200 opened #340 "Voxcellview: Circles are not circles"
### Expected behavior

When increasing the size of the points in a Voxcellview plot, I expect to see larger circles.

### Actual Behavior

I see black squares with a circle in it:

![38554127-b25a1f32-3cc1-11e8-9741-bcaa0cc0bbf5](https://user-images.githubusercontent.com/12729291/45805837-dbf76880-bcbf-11e8-83da-db7db11acf07.png)

### Steps to reproduce the problem

### Optional infrastructural da

[2018-09-20 08:28] alex4200 commented on #272
Split into three separate tickets: #338 #339 #340

[2018-09-20 08:28] #272 closed

[2018-09-20 08:29] clupascu commented on #335
@antonelepfl Do you have access to someone else's directory? Even when I am using ssh I can't access someone else's directory of a job launched through unicore.

[2018-09-20 08:30] antonelepfl commented on #335
I have asked for access to Alex for example :) We don't get access normally

[2018-09-20 08:39] clupascu commented on #335
@antonelepfl you are asking unicore to give you Alex's files using your hbp account?

[2018-09-20 09:05] antonelepfl commented on #335
No no. I have physically Alex in front of me in the office and I asked him

[2018-09-24 09:41] alex4200 commented on #200
Should be ready for the HBP summit in October.

[2018-09-24 09:56] SteMasoli commented on #330
The exporter was updated by Werner Van Geit and it does the export into NaaS format.
The single compartmental model can be uploaded but there is still a small issue with it. The multicompartmental model does not upload at all. Working on it.

[2018-09-24 09:56] alex4200 commented on #335
Wait for SimulationUI version 2.0

[2018-09-24 12:49] apdavison commented on #292
Hi @alex4200, I'm not sure why you assigned me and @appukuttan-shailesh to this. Neither of us has anything to do with WebSDA or the In silico experimentation lab.

[2018-09-24 12:51] alex4200 commented on #292
@apdavison Any idea who is responsible for this webpage?

[2018-09-24 12:57] apdavison commented on #292
The "WebSDA" link is actually fixed on the Molecular Models page, just not in this ticket. It should be https://mcm.h-its.org/webSDA (needs lower-case "w")

[2018-09-24 12:59] apdavison commented on #292
ok, I've fixed the Product 6 link as well, it was just a mangled URL.

[2018-09-24 12:59] #292 closed

[2018-09-24 15:05] alex4200 commented on #155
Hi @mgeplf, can you please check this ticket as it is assigned to you? Is there any update?

[2018-09-25 07:32] jdcourcol commented on #170
@Hjorthmedh the spike file format is documented here:
https://github.com/AllenInstitute/sonata/blob/master/docs/SONATA_DEVELOPER_GUIDE.md#spike-file

[2018-09-25 07:35] appukuttan-shailesh commented on #321
As this isn't too urgent, we have decided to attend to this after we complete the switch to KnowledgeGraph. The current milestone (M12) seems appropriate.

[2018-09-25 07:35] appukuttan-shailesh commented on #322
As this isn't too urgent, we have decided to attend to this after we complete the switch to KnowledgeGraph. The current milestone (M12) seems appropriate.

[2018-09-25 07:42] Hjorthmedh commented on #170
The issue is that I want to verify and run the SONATA simulation through Neurodamus. I have already a first version of the SONATA files created.

That Allen Brain Institute tracker you linked to is more about the SONATA format, and not Neurodamus' ability to read the format?

[2018-09-25 08:46] pedroernesto commented on #332
Better to move the deadline to June/2019.  It depends on setup completion of several tools and HPC resources

[2018-09-25 08:46] pedroernesto commented on #331
Better to move the deadline to June/2019. It depends on setup completion of several tools and HPC resources.

[2018-09-26 12:52] alex4200 commented on #325
I just was unable to reproduce the latter issue. Closing this ticket.

[2018-09-26 12:52] #325 closed

[2018-09-28 06:40] jdcourcol commented on #86
@apdavison the idea is to be able to collect statistics for the EU report that will ask for the number of users of your application.
We can get that number through the use cases as we collect statistics from that GUI. if there is another way to access your application (such as a direct URL), then I think you should collect the statistics from your app.

[2018-09-28 06:48] apdavison commented on #86
ok, since people can also access the service through a REST API and Python client, it would be best to collect these statistics directly. In that case, I propose to rename this issue "Add statistics gathering to Validation Service" if you agree @alex4200

[2018-09-28 08:43] alex4200 commented on #86
@apdavison Yes I agree to that better naming of this issue...

[2018-09-28 10:27] antonelepfl opened #341 "Create simulation launcher UI v2.0"
Progress of completion:
- [ ] Launch simulation on Jureca
- [ ] Launch simulation on Nuvla
- [ ] View simulations list
- [ ] View simulation details
- [ ] Launch analysis on Jureca
- [ ] Launch analysis on Nuvla
- [ ] View analysis
- [ ] Launch visualisation
- [ ] Fix https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/335
- [ ] Fix https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/306
- [ ] Fix

[2018-10-08 06:14] Hjorthmedh commented on #157
Do you think we will have the Neurodamus SONATA format done before the end of the year?

[2018-10-08 08:36] arsenius7 commented on #157
Unlikely.

As Neurodamus is a central piece of our scientific S/W stack with many scenarios supported, full migration to SONATA can get quite tricky (and might call for some enhancements of the format itself).

However, we'll strive for a smooth transition, to support _at least subset_ of SONATA as early as possible (still a matter of weeks rather than days).
If you prefer not to wait for the full

[2018-10-08 09:42] alex4200 commented on #44
Probably start mid November. Using Nexus integration instead of backend. Depending on Nexus integration.

[2018-10-08 09:43] alex4200 commented on #85
Should be ready by end of October/Begin November.

[2018-10-08 09:47] appukuttan-shailesh commented on #85
Just to be clear.... the Model Catalog is expected to be ready by the above mentioned target (early November). The validation service as a whole is expected to take a while longer. The currently set milestone (M12: March 2019) seems appropriate.

[2018-10-08 09:50] alex4200 commented on #155
Can be closed.

[2018-10-08 09:50] #155 closed

[2018-10-08 09:53] alex4200 commented on #200
JURECA booster partitions are down whole November.

[2018-10-08 09:56] alex4200 commented on #306
Closing because a new version will come out soon.

[2018-10-08 09:56] #306 closed

[2018-10-08 10:02] alex4200 commented on #330
@SteMasoli requested change to BlueNaaS (@genric ; temperature dependency).

[2018-10-08 10:04] alex4200 commented on #333
@lbologna  Demo version for summit ready.

[2018-10-08 11:19] genric commented on #330
So, if I understand correctly, you want temperature to be exposed as a configurable parameter, let's say with default value of 34? @wvangeit any opinion on that?

[2018-10-08 16:05] alex4200 commented on #322
Requires completion of #85 first.

[2018-10-08 16:05] alex4200 commented on #321
Requires completion of #85  first.

[2018-10-09 11:10] SteMasoli commented on #330
Yes. The MOD files we use are temperature dependent so the results are inflenced by it.

[2018-10-09 12:59] genric commented on #330
I've updated the app. @alex4200 could you please do some regression testing to make sure it is ok, thanks!

[2018-10-10 08:12] genric commented on #330
Thanks @alex4200
I tried to reproduce (1) but all the scenarios you described work fine for me: I'm able to download the traces. Regarding (2) if you have a better suggestion for the temperature range constraint please let me know.

[2018-10-10 11:46] SteMasoli commented on #330
@genric  Thank you.
I can suggest a range between 20/25 (room temperature for many experiments) and 37 (physiological temperature).
I cannot use a comma in the amp[nA] field to set 0,01nA. Previously was ok.

[2018-10-10 15:13] markovg commented on #173
Calcium reporting is for plasticity simulations.
Giuseppe @pineider should be able to clarify the neurodamus reporting for calcium in that context

[2018-10-11 11:18] alex4200 opened #342 "Reducing memory consumption of Cell Placement Hippocampus"
### Expected behavior

The notebook should not use 4.2 GB of RAM

### Actual Behavior

When the notebook is run, it uses more than 4.2 GB of RAM, which could lead to performance issues on the collaboratory etc.

![selection_468](https://user-images.githubusercontent.com/12729291/46800528-3e400800-cd58-11e8-9e90-fc1d434eaa3d.png)

### Steps to reproduce the problem

- Run the notebook
- Ask someone

[2018-10-12 10:37] pineider commented on #173
We have to distinguish between synaptic calcium transients and (general) dendritic ones. The former can be recorded using the Synapse report, but you are required to replace the default synapse model with GluSynapse. The latter are accessible via Summation reports on the "ica" variable, provided that the compartment you are accessing has any mechanisms writing ica.

[2018-10-16 08:35] genric commented on #330
@SteMasoli I'll update the range to be [20:40]
I don't think comma was ever working, it was always the dot as far as I can remember.

[2018-10-17 07:32] jdcourcol commented on #156
@mmigliore @romani79 : I know that we will add extra synapses to mimic the Schaffer collaterals. Should we add that into the simulation GUI, with these extra synapses ? or should we wait for proper projections ?

[2018-10-17 12:30] genric commented on #330
I've updated the deployment with new temperature range constraint.

[2018-10-17 14:35] mmigliore commented on #92
No updates to report so far. A first set of models is expected in one month.

[2018-10-17 14:36] mmigliore commented on #120
traces still not available

[2018-10-17 14:42] jdcourcol commented on #156
By extra synapses, I mean BBPP42-262

[2018-10-17 14:47] romani79 commented on #156
Well, then they are projections. They are available for O1 and they will be available for the full-scale.
The only simplification we did is that all those synapses come from a single presynaptic cell. Anyway, the tools should not care about this detail.

[2018-10-17 14:52] mmigliore commented on #91
preliminary optimizations are in progress. First results can be expected in two months

[2018-10-17 14:53] jdcourcol commented on #156
The tool has to activates these projections and displays this capability to the end user.
Then the question is how that should show up in the GUI. What is it that you want the end user to parametrize for these projections ?

[2018-10-17 15:02] mmigliore commented on #156
As a first example, the user must be able to activate them in
different ways (from fully synchronized to completely random and
asynchronous).
Ideally, the user must be able to upload a file with an arbitrary
pattern and weight for each synapse.

I think we need to have a brainstorming session on this.

jdcourcol <notifications@github.com> ha scritto:

[2018-10-17 15:54] romani79 commented on #156
I agree with Michele, but this protocol does not make sense with the current projections.
In fact, all the synapses (of the order of millions) have only 1 presynaptic cell. If we deliver a stimulus, all the synapses will be activated at the same time, which is useless.
At the moment, the only use case I am thinking is the possibility to switch on and off the spontaneous synaptic events of the proj

[2018-10-21 09:53] lbologna commented on #333
A demo version is ready to be tested with NSG at this collab:
https://collab.humanbrainproject.eu/#/collab/17259/nav/177792

At the moment the quota/user has to be inserted manually.
@alex4200 we are granting you a quota (and access to the collab) for test purposes

=========================

We discussed with Bernd the possibility to interface the  service accounts with UNICORE (thanks to a UNICO

[2018-10-22 08:38] SteMasoli commented on #330
@genric "I don't think comma was ever working, it was always the dot as far as I can remember."
Ok. Since the granule cells are very sensitive i have to set picoampere currents.
For example 0.01nA (10pA) cannot be define. It returns "holding current is required".

[2018-10-22 08:43] SteMasoli commented on #330
@genric "I don't think comma was ever working, it was always the dot as far as I can remember."
Cannot set the current injection to something different that nA. If i try with 0.01nA (10pA) it says "amp is required". The same happens with the holding current.

[2018-10-22 09:07] antonelepfl commented on #154
I have asked:

Michele answered:

Armando confirmed what Michele wanted is spectrum analysis on the **LFP**.

[2018-10-22 09:45] genric commented on #330
@SteMasoli , correct, units are fixed and current is nA. The browser should allow only to enter digits and a dot for the current value.

[2018-10-22 10:03] apdavison commented on #154
Are we using Elephant for these analyses? Elephant is being developed in SP5 for electrophysiology data analysis, and I think it would make sense to use it (and/or contribute to it) rather than develop independent analysis tools within SP6.

Currently available spectral analysis tools in Elephant: https://elephant.readthedocs.io/en/latest/reference/spectral.html

[2018-10-22 17:15] mmigliore commented on #154
I fully agree. If there is a tool already open and available we should use it.
And Elephant is one of these.
Could you coordinate with Jean-Denis and Stefano to add it to the use case?

Andrew Davison <notifications@github.com> ha scritto:

[2018-10-23 08:29] jdcourcol commented on #154
@romani79 @mmigliore : please provide the script to be added and the needed dependencies, and we will integrate it.
if that script uses Elephant, the better.

[2018-10-24 13:58] romani79 commented on #154
I tried to use Elephant. Anyway, python already provides a complete library for the signal processing, while Elephant only provides very few functions. Furthermore, the LFP signal, stored as a two-columns matrix - times and voltage, should be processed to be understood by Elephant. In conclusion, during my initial attempt to use Elephant, I could find it beneficial.

Regarding the spectrum analysi

[2018-10-29 09:50] pgetta commented on #300
Does this issue still exist, @alex4200 ?

[2018-10-29 09:53] pgetta commented on #302
@jdcourcol, should we tackle that by allowing access only for authorised users?

[2018-10-29 09:55] pgetta commented on #303
Just tried, works as expected. Could you please test this again, @alex4200 ?

[2018-10-29 09:59] pgetta commented on #310
This feature has been implemented, to use one can add stimulus to soma and select `Voltage clamp` as it's type.

@alex4200, kindly ask you to confirm that it works.

[2018-10-29 10:13] pgetta commented on #312
Closing this one due to lack of demand.

[2018-10-29 10:13] #312 closed

[2018-10-29 10:16] pgetta commented on #308
Thank you! Then we can close it.

[2018-10-29 10:16] #308 closed

[2018-10-29 15:33] alex4200 commented on #339
I will close the ticket for now...

[2018-10-29 15:33] #339 closed

[2018-10-30 10:31] alex4200 commented on #303
Yes that seems to be working...

[2018-10-30 10:31] #303 closed

[2018-10-30 10:34] alex4200 commented on #310
Yes done

[2018-10-30 10:34] #310 closed

[2018-10-31 11:13] antonelepfl opened #343 "Switch to Piz-Daint"
- So far we don't have any more time on `batch` partition. We will switch back to `booster`
- Maintenance `booster` from November 19th until December 16th
- From November 19th we should switch to Piz-Daint.

[2018-10-31 11:15] antonelepfl commented on #343
@mmigliore Do we have Unicore + the software that we need in Piz-Daint.?
Is the above plan the correct path that we should follow?

[2018-10-31 12:04] mmigliore commented on #343
UNICORE on cscs is being set up by Bernd. As soon as our username are
mapped we can begin to use it.
Both BluepyOpt and the hippocampus are already installed there.
I'll keep you posted.
Michele

Il giorno mer 31 ott 2018 alle ore 07:15 Stefano Antonel <
notifications@github.com> ha scritto:

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webma

[2018-10-31 12:35] alex4200 commented on #333
@lbologna I don't seem to have access to that page...

[2018-10-31 12:43] alex4200 commented on #300
I tried with a different mouse, and it works much better. Seems my wireless mouse is not the best one. Case closed.

[2018-10-31 12:43] #300 closed

[2018-10-31 22:03] lbologna commented on #333
Access granted!

Please refer to this Jupyter notebooks for testing the REST API call:
https://collab.humanbrainproject.eu/#/collab/17259/nav/206187
https://collab.humanbrainproject.eu/#/collab/17259/nav/206186

this notebook:
https://collab.humanbrainproject.eu/#/collab/17259/nav/177792
is for admin operations like inserting new projects, etc.

[2018-11-01 07:07] alex4200 commented on #322
Will be started in 2019

[2018-11-01 07:07] alex4200 commented on #321
Will be started in 2019

[2018-11-01 13:48] alex4200 opened #344 "Real-time Online status for available HPC systems."
## New Use Case

Aspect | Detail
------------ | -------------
Summary | Provide an interface on top of each HPC use case to see at a glance which of the HPC systems are currently available, as well as projects' overall and users' quotas and remaining resources
Expert | @lbologna, @rcsm17
Scientific User | This is mostly intended for final users and developers.
Timeline | Start in Feb 2019, after #

[2018-11-03 19:44] SteMasoli commented on #330
@genric Just tested it, with the single section granule cell, and it works very well. Thank you.
About the current value, i can set it using Firefox 63 under linux. I cannot do it with Firefox 63 under window 7/8. I'll check other combinations.

Now i'll focus on exporting a valid version of the multi compartmental granule cell model.

[2018-11-03 20:52] SteMasoli commented on #330
@wvangeit Multi compartmental granule cell modified following your advise. It works.

[2018-11-05 06:45] alex4200 opened #345 "New Test Use Case"
## New Use Case

Aspect | Detail
------------ | -------------
Summary | This is an example of a complete descriptiob to describe a new use case with all the required information. The information below is purely fictional.
Usecase Group | Test _(Group like 'Single Cell Experiments', 'Trace Analysis' etc.)_
Expert | @alex4200 _Main developer for this use case_
Scientific User | @alex4200  _The scien

[2018-11-05 07:35] alex4200 opened #346 "Information displayed in GUI element too big"
### Expected behavior

Information of simulations expected to be confined to the 'box'.

### Actual Behavior

The window extends way out of the box to the right window of the browser (google chrome, 69.0.3497.100). This is also the case in firefox.

![selection_487](https://user-images.githubusercontent.com/12729291/47989500-75020780-e0e5-11e8-8a5c-0e7422da0a06.png)

### Steps to reproduce the pro

[2018-11-05 08:39] alex4200 commented on #330
@SteMasoli I can test the issue regarding entering digits and the dot on a windows 10 computer system on Wednesday.

[2018-11-05 09:30] alex4200 opened #347 "'Move' button clickable even if simulation not done yet."
### Expected behavior

'Move' button disabled or something until some results can be moved.

### Actual Behavior

'Move' button enabled and clickable. Can click on it, and get a 'Warning'.

![selection_487](https://user-images.githubusercontent.com/12729291/47989588-b4305880-e0e5-11e8-94e8-8bf95072642d.png)

[2018-11-05 10:37] jdcourcol commented on #154
@romani79 : "compute the LFP" you are already doing that no ?

[2018-11-05 10:43] jdcourcol commented on #335
So this will have the following limitations:
- no file selector: the user has to copy paste the filepath to the GUI
- The BlueConfig has to be available to the end user (that is not generally the case between end-users)

@mmigliore does that work for you ?

[2018-11-05 11:00] jdcourcol commented on #344
There is already this page for the status of the HPC systems: https://collab.humanbrainproject.eu/#/collab/264/nav/4307

May be you want to implement something more BSP specific ? like the BSP projects that can be run at a particular location (cerebellum, hippocampus..) and the remaining compute time ?

[2018-11-05 12:03] rcsm17 commented on #347
I fixed the behavior. Now the button of the running job is disabled. To avoid any mistake I added the "still waiting" and "already moved" tooltip on the buttons.

![already moved](https://user-images.githubusercontent.com/44343476/47997120-12b40180-e0fb-11e8-91ae-813f95becc48.png)
![still waiting](https://user-images.githubusercontent.com/44343476/47997130-1ba4d300-e0fb-11e8-8fd9-67c266d6a9c0.png)

[2018-11-05 12:30] alex4200 commented on #344
@lbologna Maybe a status page can also show
- if the user has access
- if the user still has quota on the system to run something

[2018-11-05 12:41] antonelepfl commented on #343
Hi Michele,
And regarding to the point 3?

[2018-11-05 15:05] mmigliore commented on #154
No, it can be done only by connecting with the bp5 host and using one of
Armando jupyter notebooks. It cannot be done from the collab.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_t

[2018-11-05 15:08] mmigliore commented on #344
Yes, it must be something integrated into the use cases so that the user
will know which HPC system, among those normally available, are online or
not.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_cont

[2018-11-05 15:11] mmigliore commented on #343
No, Julia should not be used anymore. They do not have a service contract anymore with the vendor.
But I will ask again. Maybe something has changed in the meanwhile.

[2018-11-05 17:40] rcsm17 commented on #346
To fit the box I had to split the job id in to lines and increase the heights of all elements.
![screenshot from 2018-11-05 18-38-39](https://user-images.githubusercontent.com/44343476/48015821-4b1f0400-e12a-11e8-8f0d-ab09c57eaba6.png)

[2018-11-06 11:20] antonelepfl commented on #341
Issue with the analysis using small VM https://github.com/BlueBrain/Brion/issues/248

[2018-11-07 09:23] alex4200 opened #348 "Name for simulation not used later"
### Expected behavior

A user should be able to track her/his simulation across the notebooks, i.e. from the notebook "Synaptic events fitting" to "Synaptic events fitting with analysis" with the same name.

### Actual Behavior

Although I have been given to name a simulation, this name later is not mentioned any more.

### Steps to reproduce the problem

1. Start a new simulation (e.g. on NSG) an

[2018-11-07 13:06] alex4200 commented on #330
@genric: I have tested the input boxes on BlueNaaS, and it looks like I also can enter the following characters: "^" and "`" and other characters after I press the diaeresis key [see here](https://en.wikipedia.org/wiki/Diaeresis_(diacritic)).

![screen shot 2018-11-07 at 14 06 27](https://user-images.githubusercontent.com/12729291/48133199-55f6a780-e296-11e8-920e-e6477604a83a.png)

But I consider

[2018-11-09 11:05] alex4200 opened #349 "Implementing two new models for BlueNaaS"
As a request of @SteMasoli he wants his two models be implemented into a list of models to be selected in the BSP (for BlueNaaS):

Single section model.
https://blue-naas.humanbrainproject.eu/#/model/grc_mono
Temperature = 30
Vinit = 80
Current clamp = from 0.01 to 0.03nA
![selection_501](https://user-images.githubusercontent.com/12729291/48259083-3470f980-e417-11e8-9caf-5d70c4083806.png)

Multi s

[2018-11-09 12:48] #346 closed

[2018-11-12 13:30] alex4200 opened #350 "Use of special characters in the BlusNaaS use case"
This issue is created out of issue #330

### Expected behavior

The input boxes only accept numerical values (0-9) and a dot '.'.

### Actual Behavior (please include screenshot if possible)

The input boxed also accept some special characters, when you enter the following characters: "^" and "`" and other characters after I press the diaeresis key [(see here](https://en.wikipedia.org/wiki/Diaeres

[2018-11-12 14:11] alex4200 commented on #333
@lbologna: I have used the "Service Accounts" notebooks and successfully started a simulation and downloaded the results to the Collab storage. At this level the Service Accounts do seem to work...

[2018-11-13 13:13] jdcourcol commented on #156
So this is on hold as long as we don't have proper Schaffer collaterals.

[2018-11-14 11:47] SteMasoli commented on #349
@genric I wrote to Luca about the way they use to upload the models. Have I to create a new specific container? The models, to be uploaded, will be a dozen or more.

[2018-11-14 12:49] clupascu commented on #349
@genric Where are you fetching the list of models to be selected in the BlueNaaS from? Are you still using https://github.com/lbologna/bsp_data_repository/?

[2018-11-14 12:50] genric commented on #349
I am currently trying to make hippocampus models available as MINDS dataset over here: https://www.humanbrainproject.eu/en/explore-the-brain/search/?facet_type[0]=Dataset
I think this is how all models will be published in the future: using HBP knowledge graph(NEXUS). If you want, we could try integrating your models as well. For that I would need the set of zip files(which you tested with BlueNaa

[2018-11-14 12:52] jdcourcol commented on #349
@genric be careful as @clupascu data are 'optimization' not just single cell model.

[2018-11-14 12:52] genric commented on #349
@clupascu Yes, they were fetched from that repository. And the ones I'll be uploading to HBP NEXUS I'll fetch from there.

[2018-11-14 12:54] genric commented on #349
@jdcourcol Yes, in the first iteration single cell models will contain only necessary information to load them to BlueNaaS. Later we can attach more metadata regarding optimization.

[2018-11-14 12:58] clupascu commented on #349
@genric As GitHub recommends repositories to be kept under 1GB each and our repository is already at 800Mb, we want to add new models to the CSCS container that was created for the optimizations https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/hippocampus_optimization/ (even if there is no versioning here). Can you fetch the models from a container too?

[2018-11-14 13:06] genric commented on #349
@clupascu Yep, I have the access.
Actually this container can be attached to the knowledge graph dataset as raw data. So people who wish to access optimization metadata can follow the link.

[2018-11-14 13:06] apdavison commented on #349
@genric Please note that making models available through the HBP Knowledge Graph is something we are also working on in my team, as part of our work in SP5. We are currently migrating the Model Catalog to the Knowledge Graph, so that in future there will be two ways to access information about models: through the Model Catalog API and directly through the KG APIs.

We should coordinate our work on

[2018-11-14 13:15] clupascu commented on #349
@apdavison Are you fetching the models in the Model Catalog from github too?

[2018-11-14 13:19] apdavison commented on #349
@clupascu We do not automatically update the Model Catalog from github, but I understood that all models from the github repository were imported into the MC, and that you were no longer using github for this purpose. @appukuttan-shailesh can you comment further?

(Maybe we could all work on this together at the CodeJam in a couple of weeks. @genric will you be going to the CodeJam?)

[2018-11-14 13:24] alex4200 opened #351 "ACTION ITEMS"
## Action items

This is a list of tasks to be worked on by the assigned person.

These tasks are about updating other tickets (kind of meta-tasks)

**Please update the respective tickets, not this ticket.**

- [ ] @genric @apdavison Elaborate and update ticket #359.
- [ ] @pgetta Update tickets for #354 and #353

[2018-11-14 13:38] appukuttan-shailesh commented on #349
@apdavison : Yes as part of end of SGA1 activities, and subsequently for the live-paper, we had registered all (I believe we covered ALL) models from the CSCS containers on the model catalog. We have stopped keeping track of the GitHib repository now (unless having specific requests for the same).

@genric : We had discussed some weeks ago about integrating BlueNaaS with the model catalog. At the

[2018-11-14 13:38] genric commented on #349
@apdavison I see, thanks for the update!

[2018-11-14 13:45] genric commented on #349
@appukuttan-shailesh yeah, and recently I've learned about these MINDS datasets, so I was trying to make the models indexed and available in the HBP KG search. At the CodeJam there will be also people from the HBP KG team, so looks like it will be a pretty busy CodeJam :) looking forward to it!

[2018-11-14 20:54] SteMasoli commented on #349
I hope there will be some documentation for those, like me, that will not attend the CodeJam.

[2018-11-15 15:08] appukuttan-shailesh commented on #351
@alex4200 : I have updated my tickets with preliminary info that I have. It would be possible to provide more details after the work is initiated (in Feb 2019).

[2018-11-16 15:03] antonelepfl opened #352 "Usecases redirect with access_token in the URL"
### Expected behavior
The url should be authenticated and redirects to the same url
Given:
`https://bbp.epfl.ch/public/dev.usecases-wizard/index.html#/entitydashboard?replaceText=d456f49c-4012-4af4-baf5-accb7dba5ea7`

It should authenticate and come back to the **SAME** page

### Actual Behavior (please include screenshot if possible)
Given:
`https://bbp.epfl.ch/public/dev.usecases-wizard/index.ht

[2018-11-18 21:59] lbologna commented on #351
@alex4200 : I have updated  #334 and #344.
I also checked the #330 checkbox in that our team involvement in #330 (concerning hippocampal models) is currently being discussed in #349

[2018-11-19 08:41] clupascu commented on #200
Testing on PizDaint is performed. I hope that during code jam we can test optimizations launched through unicore on PizDaint.

[2018-11-19 08:43] clupascu commented on #348
I will fix this soon and in the same time I will switch synaptic events fitting use cases from JURECA to PizDaint.

[2018-11-19 11:11] clupascu commented on #200
You have to write to hpac-support@humanbrainproject.eu and ask for an account on PizDaint to use HBP ICEI resources for SP6.

[2018-11-19 13:32] alex4200 commented on #330
@SteMasoli @rizland Does the ticket #349 cover the items described in this ticket? In other words, can THIS ticket be closed?

[2018-11-19 13:38] alex4200 commented on #350
@genric will take a look roughly at begin december 2018.

[2018-11-19 13:42] alex4200 commented on #154
@mmigliore @jdcourcol @romani79 @antonelepfl : So what are the next actions to take? Or can this ticket not be realized at all?

[2018-11-20 12:16] SteMasoli commented on #330
The exporter and resulting models are fine so, yes @alex4200 this one can be closed.

[2018-11-21 15:31] alex4200 commented on #347
This is done and has been tested.

[2018-11-21 15:31] #347 closed

[2018-11-27 13:53] jdcourcol opened #353 "Pair recording application with plasticity"
## New Use Case

Aspect | Detail
------------ | -------------
Summary | This is the same use case as the current pair recording application except that the user will define which mod files he wants to use when loading the models.
Usecase Group | small circuit experiment
Expert | Michele Migliore
Scientific User | Michele Migliore
Deadline | M12
Target audience | any user
Target interface | pair re

[2018-11-27 13:57] jdcourcol opened #354 "Download single cell model from pair recording application"
Update use case
From the pair recording application, one can select one particular neuron and download the model with synapses to be able to run it locally.
## Use Case Update

Aspect | Detail
------------ | -------------
Summary |  download single cell model from pair recording app.
Expert | Werner Van Geit
Deadline | M12
Dependencies |

**Remove anything that does not apply**
## List of addition

[2018-11-28 10:07] Hjorthmedh commented on #157
I got help from Kael Dai at the Code Jam in Palermo. We are currently updating my export tool to the latest version of the SONATA format. Then as soon as that is done and it passes their validation script we will try to run it using the Allen Institute simulator.

Once there is SONATA support from Neurodamus, as long as it is compatible with the Allen Institute SONATA format, our simulations shoul

[2018-11-28 10:35] alex4200 opened #355 "Synaptic Events Fitting Analysis: NSG login mask visible after HPC change"
### Expected behavior

When you select first NSG as your system the NSG login mask appears. If you select a different system (like JURECA) this login mask should be hidden.

### Actual Behavior (please include screenshot if possible)

NSG login mask still visible even when JURECA has been chosen.

![screen shot 2018-11-28 at 11 31 33](https://user-images.githubusercontent.com/12729291/49146064-997

[2018-11-28 10:46] alex4200 opened #356 "Implementing automated tests of HPC access"
Update use case

## Use Case Update

Aspect | Detail
------------ | -------------
Summary | Implementing automated tests which access HPC systems
Expert | @alex4200
Deadline | 15.1.2019
Dependencies | NSG, JURECA, MACRONI

## List of additional/changed features

Currently, the automated testing suite only runs the notebook use cases just to make sure that the notebooks itself work fine. The tests

[2018-11-30 13:14] alex4200 commented on #333
At the codejam we talked about the setup and came up with the following picture:

![serviceaccounts](https://user-images.githubusercontent.com/12729291/49291273-04fb5d00-f4aa-11e8-8f44-710d8b68bf24.png)

The idea is to have a user submit something to the "Service Account" where it is either forwarded  to NSG of unicore (and then to e.g. PizDaint). This is transparent for the user and the user can

[2018-11-30 13:16] alex4200 commented on #343
See also ticket #333 for an overview (with Service Accounts)

[2018-11-30 13:16] alex4200 commented on #335
See also #333

[2018-12-03 08:16] jdcourcol commented on #333
why the nsg cannot be just another unicore TSI ? with the TSI taking care of invoking the service account ?
That way there is only 1 external API that is Unicore and this is transparent to the end user.

[2018-12-03 08:49] appukuttan-shailesh commented on #85
Model Catalog integration with KnowledgeGraph is going to take a bit longer than initially expected. The M12 (March 2019) milestone looks fine for the model catalog, but the validation service as a whole might need a bit longer. Better to revisit in M12 and re-evaluate if necessary.

[2018-12-03 08:54] appukuttan-shailesh commented on #351
@alex4200 : I might not be the right person to update ticket #349.... my work on it is restricted to BlueNaaS integration with the model catalog. The issue in context seems to be more specific.

[2018-12-03 09:40] appukuttan-shailesh commented on #351
@genric : I saw your email, and currently trying it out. If all ready, we need to update the GUI for model catalog to expose this feature.

But that apart, for this specific issue (#349) I am not sure if the two models in context are already registered on the model catalog (if not, they should be registered... probably by @SteMasoli ). The models should be stored in the appropriate BlueNaaS accept

[2018-12-03 10:40] SteMasoli commented on #351
@appukuttan-shailesh  I have uploaded, on cerebellum CSCS container, the zip files for the mono and multi granule cell compartmental models. In the google document i have added the links to the new files and defined as "outdated" the previous versions already uploaded on the model catalog. The file already on the mode catalog need to be deleted.

[2018-12-03 10:41] pgetta commented on #319
As I remember when we had Skype call with Michele other problems described above have been resolved.
"Center" feature works as well.

And regarding main topic of this issue: Martinotti loop isn't present any more in preconfigured circuits.

Would be good to close this ticket, @alex4200 could you please confirm app still works as expected with respect to described issues?

[2018-12-03 10:44] jdcourcol commented on #154
@romani79 : if we want to activate this use case, we need the code so that we can run it through Unicore.
Even if it is in a notebook, we can get the code and run it like that.

[2018-12-03 11:00] alex4200 commented on #342
Won't fix

[2018-12-03 11:00] #342 closed

[2018-12-03 11:04] appukuttan-shailesh commented on #349
Moving the discussion back to here:

@SteMasoli : I saw the google doc.... so I suppose we are referring to rows 60, 61 and 62. I have verified that the models are publicly accessible and in BlueNaaS appropriate format. I shall upload these three models to the model catalog and let you know.

Regarding (from #351):

I don't think we need to delete these. The model catalog is intended to retain old

[2018-12-03 11:05] antonelepfl commented on #343
@mmigliore Can should we do with this?
Jureca is in maintenance and Piz-Daint is not working with unicore (or I have not received any notification about this getting done).
That means the sim-ui is useless at this moment

[2018-12-03 12:38] clupascu commented on #343
@antonelepfl Piz-Daint is supposed to work with unicore. I am doing some tests. Files are uploaded to Piz-Daint through unicore, but loading the modules is not working. I opened a ticket on cscs last week.

[2018-12-03 12:40] SteMasoli commented on #349
@appukuttan-shailesh

Thank you.

To avoid misunderstandings when an user will search for a model, in the model catalog, and will find the single files instead of the packages for BlueNaaS.

This can be work around for the previous comment.
Having the BlueNaaS models accessible from the BSP will solve the problem of searching in the model catalog and will let me define the appropriate parameters t

[2018-12-03 12:51] alex4200 commented on #319
Yes everything seems to work. Closing ticket

[2018-12-03 12:51] #319 closed

[2018-12-03 13:17] mmigliore commented on #173
Yes. It is a good way to compare simulation and experimental data, especially with CA imaging in denrites during synaptic activity.

[2018-12-03 17:23] appukuttan-shailesh commented on #349
@SteMasoli : The three models have been uploaded to the model catalog, you can find them here:

1) Granule cell - Mono compartmental
https://collab.humanbrainproject.eu/#/collab/9136/nav/77077?state=model.527191ca-8385-4aac-b08c-3bce022fc5cc

2) Granule cell - Multi compartmental
https://collab.humanbrainproject.eu/#/collab/9136/nav/77077?state=model.0c97cd83-24fd-4782-bdea-2affacc6863e

3) Purkin

[2018-12-04 07:41] antonelepfl commented on #343
I cannot get the information about hitting the endpoint of PIZ-DAINT (GET https://zam2125.zam.kfa-juelich.de:9112/FZJ_JURECA/rest/core) with the token I received an error: **500 Could not perform request**.
How were you able to submit something?

[2018-12-04 08:14] BerndSchuller commented on #343
The Piz Daint endpoint is "https://brissago.cscs.ch:8080/DAINT-CSCS/rest/core"
(You were using the Jureca endpoint, but Jureca is in maintenance)

[2018-12-04 08:47] antonelepfl commented on #343
Hi Bernd, I copied and paste the wrong link. Actually, I was using the DAINT endpoint that you provided but the issue was that the page is not secured (certificate issue) and the browser did not trust it so I was not able to retrieve the info...
I remember having that issue in the past with Jureca IIRC and we did something about the certificates. Do you remember? Can we do the same?

[2018-12-04 08:56] BerndSchuller commented on #343
Yes, I remember. CSCS use the "SEE-GRID CA 2013" which is not trusted by browsers (at least by default).
I'm afraid you'll have to take this to the CSCS guys - best open an HPAC ticket. They will need to get a certificate from one of the trusted CAs which they already use for some of their other services.
If you use the javascript stuff as with Jureca, they'll probably also need to enable the CORS

[2018-12-04 08:56] appukuttan-shailesh opened #357 "Integrating BlueNaas with Model catalog"
Implement feature to allow launching of models in BlueNaaS.
For implementation details, see here:
https://github.com/HumanBrainProject/hbp-validation-framework/issues/228

Aspect | Detail
------------ | -------------
Summary | Launch BlueNaaS compatible models from the Model Catalog
Expert | All
Deadline | Dec 2018 (M9)
Dependencies | BlueNaaS

### Tasks

- [x] Allow BlueNaaS to accept external UR

[2018-12-04 09:34] BerndSchuller commented on #343
HPAC support ticket is hpac-support@humanbrainproject.eu

[2018-12-04 12:03] appukuttan-shailesh commented on #349
@antonelepfl : Here is the docs for the Model Catalog REST API:
https://hbp-validation-framework-api.readthedocs.io

[2018-12-04 13:06] antonelepfl commented on #349
@genric @appukuttan-shailesh I was checking the content of the models and I saw there is a morphology picture but I don't find the traces for each model as image.
In Github we had the traces images + the morphologies (Fig 3).
Is it somewhere else than associated with the models?

[2018-12-04 13:14] appukuttan-shailesh commented on #349
The traces were not uploaded to the model entries previously. Just last week @clupascu proposed that we could upload these as well. We shall ensure that this is updated for the future models, and the models relevant to the described on the [live paper](https://cnr-ibf-pa.github.io/hbp-bsp-live-papers/migliore_et_al_2018/migliore_et_al_2018.html).

Do you have a specific use for these images? Curre

[2018-12-04 13:30] antonelepfl commented on #349
Specific use I think is the model list that I present before selecting a use case (Fig 3)

[2018-12-04 13:55] appukuttan-shailesh commented on #349
How do you intend to shortlist the models to be displayed for the use case? I suppose it won't be feasible (or appropriate?) to display every entry from the model catalog as these would be numerous.

[2018-12-04 14:59] antonelepfl opened #358 "Configuring JURECA with new Usage Model"
@mmigliore @clupascu As Jureca is getting up and running again, (I think the booster partition is still down) but we need to be prepared, In this ticket probably we can discuss the different things that we have to modify on the code so Jureca can work again using the new Usage Model.

Some things that I have discovered:
The **circuit** was moved from
_/work/pra098/pra09801/CircuitRelease_ to
_/p/p

[2018-12-04 15:18] BerndSchuller commented on #358
probably

p/home/bp0/bp000022/jureca/modulesfiles-x64

still figuring this stuff out myself :-)

[2018-12-04 15:21] mmigliore commented on #358
Hi Stefano,
please involve Pramod with these issues too, so he can figure out what
happened with this change of accounts at Jureca.
Best
Michele

On Tue, Dec 4, 2018 at 3:59 PM Stefano Antonel <notifications@github.com>
wrote:

[2018-12-04 15:56] pramodk commented on #358
I was using my old account `vsk2514` and don't think I have access to Jureca. Please email me project details and I can request account.

About the deployment : mostly likely we have re-deploy modules if all directories are moved.

[2018-12-05 08:36] BerndSchuller commented on #358
hi,

everyone has only one user ID but multiple projects, so if you have more than one project, you will need to select it using (for example)

X-UNICORE-User-Preferences: group:vsk25

[2018-12-05 09:00] clupascu commented on #358
Hi,

I am not anymore mapped on Jureca under unicore. I get
Access level at FZJ_JURECA : 'anonymous'
@BerndSchuller Do you have to still remap the users?

[2018-12-05 09:03] BerndSchuller commented on #358
we are still not fully up yet, still testing stuff - please give us a bit more time. You'll be mapped to your new user ID.

[2018-12-05 09:16] BerndSchuller commented on #358
the mapping is up again - there is still some weirdness with the "bp0*" accounts, I have to check how these should be handled. Carmen you should use your primary account "lupascu1" which has access to everything.

Sorry for the inconvenience, this new usage model is quite a big change for us.

[2018-12-05 09:16] clupascu commented on #358
@BerndSchuller Thank you. @alex4200 is continuosly testing the BSP use cases and unicore access was not working anymore on jureca that's why I am asking :)

[2018-12-05 09:25] genric opened #359 "Index all models in the HBP KG search app"
Once models are integrated with the HBP KG please make sure they are also indexed and appear in https://www.humanbrainproject.eu/en/explore-the-brain/search/. Thanks.

[2018-12-05 09:35] clupascu commented on #358
@BerndSchuller  So as I have u'availableGroups': [u'BP0000', u'CVSK25'],
   u'availableUIDs': [u'bp000028', u'lupascu1'
I have to use primary account 'lupascu1' and 'X-UNICORE-User-Preferences': 'uid:CVSK25' to run on booster partition?

[2018-12-05 09:40] BerndSchuller commented on #358
'X-UNICORE-User-Preferences': 'group:cvsk25'

should be enough - once everything is finished, right now things do not work yet. If you have only a single compute allocation, you do not need any preferences at all.

The "lupascu1" account should have access to the bp00 stuff.

[2018-12-05 10:48] jdcourcol commented on #154
what is the reason for that ?

[2018-12-06 09:40] antonelepfl opened #360 "Reimplement model list on BSP UseCases"
Just to put everyone on the same page I would like to clarify some stuffs about the model list on Hippocampus.

We have if I'm not mistaken 3 types of sets:

- **Hippocampus** - Hippocampus cells (previously in Luca's github repo and now in CSCS container)
- **SSCx** - SomatosensoryCortex
- **Striatal** interneuron - Alex Kozlov models

_Currently_ we have models lists on the following Use Cases:

[2018-12-06 09:50] mmigliore commented on #360
Hi Stefano,

the list should also include "small circuit" and "brain area" in silico
experiments.
Cheers
Michele

On Thu, Dec 6, 2018 at 10:40 AM Stefano Antonel <notifications@github.com>
wrote:

[2018-12-06 09:56] antonelepfl commented on #360
Ciao Michele,

In this list I was only talking about the models lists that we have. As you said, we have _Small Circuit In Silico Experiments_ and _Brain Area Circuit In Silico Experiments_ already as a nav items on the Online Use Cases.

[2018-12-06 10:48] alex4200 commented on #154
@jdcourcol @romani79 @mmigliore @antonelepfl

I have significantly updated this ticket. Please see the top level description for a much better breakdown of this task.

@jdcourcol The reason that the LFP might not be calculated in the BSP (inside a notebook) is that you have to loop over (Number Neuron)*(Number compartments) elements. But this is part of the investigation (see checkboxes).

[2018-12-06 10:55] appukuttan-shailesh commented on #349
@clupascu, @antonelepfl
Update: The responses image has now been uploaded for all the models relevant to the [live paper](https://cnr-ibf-pa.github.io/hbp-bsp-live-papers/migliore_et_al_2018/migliore_et_al_2018.html).

[2018-12-06 10:57] antonelepfl commented on #349
Cool thank you @appukuttan-shailesh

[2018-12-06 11:07] jdcourcol commented on #154
Why should LFP be executed in a notebook ? the code can be run as a python script through a unicore job like any other right ?

[2018-12-06 11:17] mmigliore commented on #154
Sure, provided that all the relevant parameters are available in the GUI
(target, time window, electrode positions, etc) there is no probem in
having it as a webapp.

On Thu, Dec 6, 2018 at 12:07 PM jdcourcol <notifications@github.com> wrote:

[2018-12-07 09:48] antonelepfl commented on #360
Hi @a1eko, Is your striatal fast-spiking interneuron available on the Model Catalog?

[2018-12-07 10:19] alex4200 commented on #359
The model integration is being delayed (but should be done by March 2019), and also handled by @apdavison .

[2018-12-07 11:46] a1eko commented on #360
FS cell used to be in BSP, what's the problem with it?

[2018-12-07 11:54] alex4200 commented on #154
There is already a C++ tool to calculate the LFP, but it is not open-sourced (from Grigori Chevtchenko, 6.12.2018):

As you can see this code is not open source so I think you cannot send it to not bbp people.
It's also not possible to deploy it on Juelich because of that.

I see the following options to continue this task:

1. Talk to Grigori to create a python script to just calculate the LFP to

[2018-12-07 12:01] jdcourcol commented on #154
The code can be deployed on Juelich. Being open source or not does not prevent the deployment.
Gregory should make his package deployable as a nix module. May be it is already.

[2018-12-07 16:32] SteMasoli commented on #360
@antonelepfl
"can you confirm that is the only place for your models?"

Under "Single cell building:" there are the three usecases which are the sources of the BlueNaaS models.

"Optimize a cerebellar granule cell model composed by a single section" -> Cerebellum
"Optimize a cerebellar granule cell multicompartmental model" -> Cerebellum
"Simulation and validation of a mouse Purkinje cell multicom

[2018-12-08 08:04] mmigliore commented on #358
Hi Pramod,
you should use your new username kumbhar1
You are already listed in the project.
Plese see http://fz-juelich.de/ias/jsc/usage-model for more info on where
the files have been moved.
Let me know of any problem.
Looking forward to know how to launch a sim again...:)
Best
Michele

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&u

[2018-12-10 07:51] alex4200 commented on #154
@mmigliore  This tool (the C++ module from Grigori Chevtchenko) is already installed in BB5

[2018-12-10 08:04] jdcourcol commented on #154
@alex4200 I think @mmigliore means Piz Daint

[2018-12-10 08:30] mmigliore commented on #154
Yes, the deployment should be done on all HPC systems where the model
circuits are installed (Piz Daint, Jureca, and Marconi)

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>

[2018-12-10 11:01] antonelepfl commented on #360
I have implemented the list of models from the Model Catalog in the [DEV](https://collab.humanbrainproject.eu/#/collab/8444/nav/65635) version @SteMasoli @alex4200 please check if everything work as expected

I also wanted to point out that the Granule cell **does not** have any _Morphology_ image nor _Responses_ traces so please try to put them there so we have a uniform experience.

[2018-12-10 12:06] alex4200 commented on #360
In the DEV environment it seems to work to choose the two models from the list for 'Single Cell Experiment'.

However, I cannot find the models in the 'Morphology Analysis'. I would have expected them here as well...

[2018-12-10 12:23] antonelepfl commented on #360
As described in the description in Morphology Analaysis there are only the Hippocampus

[2018-12-10 12:35] alex4200 commented on #360
@antonelepfl  Ok my bad. However, I find that very confusing...

[2018-12-10 12:56] antonelepfl commented on #360
It was confusing for me too that is why I created this ticket so we are all in the same page regarding to the models :)

[2018-12-10 14:40] antonelepfl commented on #352
@genric Can you check if this is fixed now?
I remembered you pointed out this because some Nexus IDs were not filled properly on Jupyter Notebooks?

[2018-12-10 17:08] clupascu commented on #358
@BerndSchuller when I am trying to submit a job on Jureca through Unicore, after I post the job I get "Error submitting job: 403". Any suggestion? Are things supposed to work or not yet?

[2018-12-10 21:53] pramodk commented on #358
you should use your new username kumbhar1
You are already listed in the project.
Plese see http://fz-juelich.de/ias/jsc/usage-model for more info on where
the files have been moved.
Let me know of any problem.
Looking forward to know how to launch a sim again...:)

I have deployed new modules for jureca and booster partition as well. I would like to test with sample simulations but think I am miss

[2018-12-10 23:53] BerndSchuller commented on #358
@clupascu 403 is "forbidden" Are you using an outdated token maybe? Does the account mapping work? i.e. simple GET to the  .../rest/core endpoint ?

[2018-12-11 06:19] mmigliore commented on #358
Hi Pramod,

I guess that this is happening because unfortunately we do not have time on
the normal partition and the booster partition is offline for a long
maintenance.
I will ask them to give us more time on the normal partition, but we will
have to wait for booster.
I'll keep you posted.
Best
Michele

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_c

[2018-12-11 08:15] appukuttan-shailesh commented on #360
@antonelepfl regarding:

I should point out that the _Morphology_ and _Responses_ traces  are not mandatory for the model catalog. These have been provided by the Hippocampus teams and thus made available, but isn't as per any standard convention (atleast as of now) that is followed on the model catalog. If owners of other existing models want to follow the same, it is possible to add these by goi

[2018-12-11 08:24] jdcourcol commented on #360
@appukuttan-shailesh  this issue is the user experience when browsing the list of selected models to execute a use case. If some models do not have the morphology image and response trace, then the GUI looks bad.
If the model catalog is the reference for what is being displayed in the use cases, I think it should enforce these standards to get a good user experience. I don't think it should be up

[2018-12-11 08:40] alex4200 commented on #360
I have created a section in the google-docs document as a reference of this information: [see here](https://docs.google.com/document/d/19Ni5fGFv6PTTM1D_D2FN4dj5IRhtfq1D0V2OWjXxJww/edit#heading=h.d8l6c6in37ti)

Let me know if you do not have access to this doc.

[2018-12-11 09:34] BerndSchuller commented on #358
@clupascu  yes, for me it works ... maybe this is yet another issue with the usage model change. I'm currently on a meeting, so apologies it the response times are longer as usual. I'll try to have a look as soon as I can.

[2018-12-11 09:37] clupascu commented on #358
@BerndSchuller ok. thanks.

[2018-12-11 10:15] appukuttan-shailesh commented on #360
@jdcourcol : I completely agree about the need for consistency in GUI appearance across all the models. What's happening here is that we are using a feature of the Model Catalog that was not intended for this kind of usage. And since we never had a formal discussion informing model owners of following such a convention, this problem is expected.

From the point of view of the model catalog, it mig

[2018-12-11 10:43] alex4200 commented on #173
@andrisecker This is the ticket we talked about.

[2018-12-12 10:02] #352 closed

[2018-12-12 14:39] clupascu commented on #358
@BerndSchuller in this moment I am 'anonymous' on all the machines on unicore (CINECA-MARCONI, DAINT-CSCS, FZJ_JURECA and BSC-MareNostrum)

[2018-12-12 15:45] BerndSchuller commented on #358
@clupascu After an update of the Unity server, the HBP authentication mechanism is completely down. We are on it.

[2018-12-13 08:07] alex4200 commented on #173
@andrisecker Do you have updates from the conversation with Michele on this ticket?

[2018-12-13 08:48] antonelepfl commented on #358
Hi Bernd, for Alex and me things are working properly now.

[2018-12-13 12:39] antonelepfl commented on #358
I was trying to use booster partition but I get:
`sbatch: error: Batch job submission failed: Invalid account or account/partition combination specified`
In the scripts that Pramod provided [here](https://github.com/BlueBrain/spack/wiki/JURECA-Deployment#instructions-for-using-software-stack) I see that the partition is `largebooster` but before we were using `booster`. Either way it does not work

[2018-12-13 12:46] antonelepfl commented on #343
Now that the certificates and the CORS are setup correctly I just tried to launch a job in Piz-Daint and I get:
`
Thu Dec 13 13:40:53 CET 2018: Submit attempt 2 (of 3) failed: de.fzj.unicore.xnjs.ems.ExecutionException: Submission to classic TSI failed. Reply was <TSI_FAILED: Submit failed? Submission result:sbatch: error: You have to specify, at least, what sort of node you need: -C gpu for GPU e

[2018-12-13 12:48] antonelepfl commented on #349
Is there any remain topic here? Can we close this ticket?
BTW the models are in dev version #360

[2018-12-13 12:51] BerndSchuller commented on #343
in your "Resources" part of the job description, use
  "NodeConstraints" : "mc"
for multicore, or
  "NodeConstraints" : "gpu"
for GPU nodes.

[2018-12-13 12:58] mmigliore commented on #343
Our allocation on piz daint is for the multicore partition.

Il giorno Gio 13 Dic 2018, 13:51 Bernd Schuller <notifications@github.com>
ha scritto:

[2018-12-13 13:00] mmigliore commented on #358
Booster is ok too. Largebooster was only for large jobs, like the full
circuit. It has not been redefined yet. Smaller jobs can run on booster.

Il giorno Gio 13 Dic 2018, 13:39 Stefano Antonel <notifications@github.com>
ha scritto:

[2018-12-13 13:16] alex4200 commented on #349
For me its ok to close this ticket...

[2018-12-13 13:38] SteMasoli commented on #360
@antonelepfl

Thank you.
Is it possible to add the Purkinje cell model too? In this way there will be an optimized model for each optimization usecase.

@appukuttan-shailesh

Thank you.
I will add a screenshot of the morphologies and one for the traces, like in the case of the Hippocampus.
Is there a size limit for the images?

[2018-12-13 13:50] andrisecker commented on #173
@alex4200 just got an answer from @mmigliore :
What he meant was reporting on calcium concentration (`cai` variable, writtem by `cacum.mod`) mostly in the soma and selected dendrites.
I think this should be straightforward from the engineering point of view, but let us try out first locally and see if it gives any meaningful insight and how much time and space does it take.

[2018-12-13 14:15] antonelepfl commented on #360
@SteMasoli Just to clarify which models from the catalog do you want to add in the `Single cell in silico experiments`?

I see these models:

![screenshot 2018-12-13 at 15 11 49](https://user-images.githubusercontent.com/24406041/49943966-83fc8680-fee9-11e8-95f9-cc79a40eb7aa.png)

You can retrieve them using:
[code]
Are those the selected to be on the Model List?

[2018-12-13 15:09] appukuttan-shailesh commented on #360
@SteMasoli

Not sure if you intended the memory size or the display size of the image, so will answer for both ;)

**Memory size:** You need to upload these images online, and then specify the URL (to this image) on the model's page. So we don't actually host the images, and thus no restrictions on this size.

**Display size:** No such limitations have been imposed. If a large image is provided, w

[2018-12-13 15:10] jdcourcol commented on #360
@alex4200 we should put that in the agenda of Monday meeting.
The issue will be that if we don't have a tool to generate these images they will look different for each model (colors, scale and so on..)

[2018-12-14 06:30] alex4200 commented on #360
@jdcourcol  Yes I agree. Because I included a link to this ticket in the email I sent around, it should be straightforward to talk about it next Monday.

[2018-12-14 08:05] clupascu commented on #358
@BerndSchuller I still get the 403 even if I am not using an outdated token.

[2018-12-14 08:17] antonelepfl commented on #358
@clupascu if you do GET `https://zam2125.zam.kfa-juelich.de:9112/FZJ_JURECA/rest/core` with the token do you see anything?
I'm able to submit a job thru the GUI and the Notebook.

[2018-12-14 10:02] clupascu commented on #358
@antonelepfl Find below the output of GET https://zam2125.zam.kfa-juelich.de:9112/FZJ_JURECA/rest/core

<html>
<head><style type="text/css">table, th, td { border: 1px solid black;  border-collapse: collapse;}</style></head><body>
<h2>Properties</h2>
<table border=1 width='100%'><tr><td>client</td>
<td><ul>
<li><b>role</b>&nbsp;role={selected=user, availableRoles=[Ljava.lang.String;@43d5323d}</li>

[2018-12-14 10:12] antonelepfl commented on #358
@pramodk I'm trying to run the full scale circuit in Jureca and I'm getting
`[0] MPI startup(): Imported environment partly inaccesible. Map=0 Info=0` on `stdout`
I'm running the script **input.sh** that contains:
[code]

And **/p/project/cvsk25/vsk2512/simulation/simulation_launch_no_usertarget.py** runs:
[code]

The **stderr** contains:
[code]

[2018-12-14 10:15] BerndSchuller commented on #358
@clupascu
I see this error "[ CN=Carmen Alina Lupascu 263955,O=HBP] ... Requested group <CVSK25> is not available."
Please use the group name as given above, i.e. lower case "cvsk25"

[2018-12-14 11:13] clupascu commented on #358
@BerndSchuller Thanks. I can submit jobs now.

[2018-12-14 20:49] pramodk commented on #358
@antonelepfl @mmigliore : I am not able to run standalone mpi benchmark on booster partition (it gets stuck at very beginning). So seems like more system issue to me. I have created ticket to Juelich support : [Ticket#1026363]

[2018-12-17 07:50] #349 closed

[2018-12-17 08:18] antonelepfl commented on #343
Hi, I have asked for a login user on Piz-Daint and currently I have assigned **bp000037** but, when I GET `https://brissago.cscs.ch:8080/DAINT-CSCS/rest/core` I receive only **ich002sa** as availableUIDs or UID. Could it be that this mapping is in Unicore is not the correct one and we need to change it to match **bp000037**?

So far I don't have access to the jobs that Unicore creates (based on th

[2018-12-17 08:32] jdcourcol commented on #333
With respect to the on going implementation, is there an API somewhere ?

[2018-12-17 09:02] clupascu commented on #343
@antonelepfl I don't have the same issue. My UID is correctly matched to bp000028 and I can access the jobs that Unicore creates.

[2018-12-17 10:22] appukuttan-shailesh commented on #357
This task is now completed. Implementation details are as specified in https://github.com/HumanBrainProject/hbp-validation-framework/issues/228

In short: append `?bluenaas=true` at the end of the URLs for models that are capable of using BlueNaaS. These models will have a button titled "Launch in BlueNaaS" next to their download location field on the model catalog.

@mmigliore , @clupascu, @lbolo

[2018-12-17 11:13] mmigliore commented on #357
Great work!

On Mon, Dec 17, 2018 at 11:22 AM appukuttan-shailesh <
notifications@github.com> wrote:

[2018-12-21 09:41] antonelepfl commented on #343
Thank you @BerndSchuller now I have the user mapped correctly.
@clupascu Where do you have your circuit in Piz-Daint? If I try to push the circuit under `/users` I get `Disk quota exceeded` and under `/project` I don't find my user

[2018-12-21 09:47] mmigliore commented on #343
for us, everything is in /apps/hbp/ich002
Best
Michele

On Fri, Dec 21, 2018 at 10:41 AM Stefano Antonel <notifications@github.com>
wrote:

[2019-01-03 07:34] alex4200 commented on #357
@appukuttan-shailesh Can you provide some model names so I can test this feature? Thanks

[2019-01-04 04:44] appukuttan-shailesh commented on #357
@alex4200 you can pick any model from the list under "optimization" tab of the live paper here: https://cnr-ibf-pa.github.io/hbp-bsp-live-papers/migliore_et_al_2018/migliore_et_al_2018.html

(I am away till the 15th, so won't be attending our calls during this period.)

[2019-01-04 07:32] alex4200 commented on #357
@appukuttan-shailesh That is cool and seem to work. Closing this ticket.

[2019-01-04 07:32] #357 closed

[2019-01-04 14:32] szkali opened #361 "Hodgkin-Huxley Neuron Builder app hangs when fetching data from NSG"
### Expected behavior
Optimization results are downloaded from NSG for a "Single cell simulation run."

### Actual Behavior (please include screenshot if possible)
![screenshot_from_hung_hh_neuron_builder_2019-01-04](https://user-images.githubusercontent.com/5347908/50692450-3250a300-1034-11e9-922b-5f26c37babfa.png)
Hangs indefinitely when trying to fetch results.

### Steps to reproduce the probl

[2019-01-07 07:35] alex4200 commented on #361
@szkali: How long did you wait? Can you repeat that step and watch the network inspector tabe of your browser? Do you get any error?

For me it works, it took about 30 seconds to download the data.

[2019-01-07 07:36] clupascu commented on #343
@antonelepfl outside unicore I work under /users and my user space. In unicore jobs folders are created under /scratch/snx3000/unicore/FILESPACE/

[2019-01-07 08:11] szkali commented on #361
For me, it does not finish even overnight. I attach a screenshot with the network monitor open.
![screenshot_from_hh_neuron_builder_with_network_monitor_2019-01-07](https://user-images.githubusercontent.com/5347908/50756024-21ce4180-125b-11e9-977c-123a7cadb7ee.png)
There is no apparent error, but there is a step that never completes:
GET https://bspg.humanbrainproject.eu/hh-neuron-builder/modify-a

[2019-01-07 12:29] alex4200 opened #362 "Framework of model metadata"
## Use Case Update

Aspect | Detail
------------ | -------------
Summary |  Development of a framework regarding metadata of models, so a model can be put into Nexus and has an image etc.
Expert |
Timeline | Will be discussed during the Hackathon 23-25 Jan 2019.
Dependencies |Created from #360.

**Remove anything that does not apply**
## List of additional/changed features

TBD

### Tasks
TBD

##

[2019-01-07 12:43] alex4200 commented on #200
According to @lbologna this ticket should be done by end of Jan 2019.

[2019-01-07 12:50] alex4200 commented on #333
@rcsm17 will update a link here to a github repo with all the documentation by end of January 2019.

[2019-01-07 13:10] clupascu commented on #355
This should be fixed now. @alex4200 Can you test again please? Thanks.

[2019-01-07 13:35] alex4200 commented on #353
@mmigliore: Can you provide some more details of what you want to have exactly?

[2019-01-07 13:55] pramodk opened #363 "Updating Jureca deployment with latest software stack and issue with Neuron"
This issue is to track the discussion about the deployment on Jureca and the following issue that @clupascu  has mentioned:

[code]

@clupascu  : could you add all steps / commands to this ticket?

[2019-01-07 14:31] mmigliore commented on #353
These should be two different use cases:
UC1: using a previously run sim
-The user selects a reference simulation and a neuron from the circuit.
-User then selects one or more other neurons that make incoming syn
connections with the ref neuron.
-a subset of synapses to be analyzed is selected. This can be a random
selection or synapses from specific neuron(s).
-The simulation is replayed to see h

[2019-01-08 08:42] clupascu commented on #363
@pramodk I am using booster nodes on Jureca and I am running the commands through unicore.

I load the modules as:

module --force purge all
module use /usr/local/software/jureca/OtherStages
module load Architecture/KNL
module load Stages/2018a
module load Intel IntelMPI imkl
module load HDF5

export MODULEPATH=/p/project/cvsk25/vsk2514/HBP/jureca-booster/install/latest:$MODULEPATH

module load py

[2019-01-08 09:00] clupascu opened #364 "Get notification if a cloned notebook has been changed"
### Expected behavior
The user should be notified once a cloned notebook has been changed
### Actual Behavior (please include screenshot if possible)
Currently once a notebook is cloned it is not automatically updated when the original notebook has changed
### Steps to reproduce the problem

### Optional infrastructural data (user, platform, browser, environment, ...)

[2019-01-08 09:22] clupascu commented on #363
Moreover, when I want to compile a mod folder in Jureca (without using unicore), using the same above modules, I get this error

...
can2.c(151): error: identifier "Dh" is undefined
   slist1[1] = &(h) - p;  dlist1[1] = &(Dh) - p;
                                           ^

can2.c(8): warning #2637: static function "rates" treated as extern because it was referenced but not defined
  static int

[2019-01-08 09:59] alex4200 opened #365 "Code error in DEV version of "Rebuild Single HippoCell" use case"
### Expected behavior

Able to run the notebook "Rebuild Single HippoCell - Config"

### Actual Behavior (please include screenshot if possible)

When selecting "Run All" I see the following error:

`
OSErrorTraceback (most recent call last)
<ipython-input-18-721f647b8891> in <module>()
      3 diff = lambda l1,l2: [x for x in l1 if x not in l2]
      4 os.chdir('bsp_data_repository-3.1.10')
---->

[2019-01-08 10:07] pramodk commented on #363
To start with second issue :

* Could you provide me the path of mod files that I can access?  (I can't access vsk2503 directory).
* I assume you are doing this on login node? i.e. after ssh to `jureca.fz-juelich.de`?
* After loading modules, could you print path of nrnivmodl? i.e. `which nrnivmodl` (in case you have some paths in .bashrc). I get :
[code]

* I just compiled hippocampus modules wit

[2019-01-08 10:39] clupascu commented on #363
You can find the mod files here /p/home/jusers/vitale1/jureca/vsk2517/mouseDG/mouse2_changekmb_AA0145ML/
I am doing this on login node.
After loading modules the path of nrnivmodl is the same that you get.

[2019-01-08 11:00] clupascu commented on #365
It should be fixed now. Can you test again please? Thanks.

[2019-01-08 11:04] pramodk commented on #363
That confuses me more because I don't see it :) Here is my full command output from login to compilation:

[code]

If you still have the issue, I will email you my skype id and we can debug this quickly.

[2019-01-08 11:46] alex4200 commented on #365
Thanks, that seems to be fixed now.

[2019-01-08 11:46] #365 closed

[2019-01-08 12:52] alex4200 commented on #355
Yes that seems to work now, thanks.

[2019-01-08 12:52] #355 closed

[2019-01-09 06:42] alex4200 commented on #200
@clupascu I took a look at the use cases:

1. For "Rebuild Single HippoCell" I was able to start the simulation on PizDaint. However, I did not find a way to check on the job in the "Job Manager". I see NSG only. (But the job seems to have completed successful on PizDaint).
2. In the "BuildOwn Single HippoCell" use case I encountered an error when clicking on "Create Piz Daint zip file":

![screen

[2019-01-09 10:20] clupascu commented on #200
@alex4200 For both usecases the check can be done only from the "Config" notebook. Once the job is submitted you can check the status of the job and once the job is successfull the results are moved to the storage. I will still have to modify the manager.

I fixed the "BuildOwn Single HippoCell". Please test again. Thanks.

[2019-01-09 15:58] alex4200 commented on #200
@clupascu  In the use case "BuildOwn Single HippoCell" I get the following error:

![screen shot 2019-01-09 at 16 57 15](https://user-images.githubusercontent.com/12729291/50911214-b12c4e00-142f-11e9-882f-19b2ea9c83cc.png)

It looks like the definition for the function `get_oidc_auth` is missing (which is defined for the other use case).

[2019-01-10 08:39] clupascu commented on #200
@alex4200 it should be fixed now. Can you please test again? Thanks.

[2019-01-10 11:17] alex4200 commented on #200
@clupascu  Yes that error is fixed now. Thanks

[2019-01-11 06:56] pramodk commented on #363
I wonder if the modules are incorrect in unicore...anything in .bashrc different? unicore has access to these directory?

Is the other user part of the same project? I wondering if there is permission issue.

Is someone at BBP would be able to test / reproduce the issue? for example, @antonelepfl? If so, I can look today with him and see if we can reproduce the issue.

Just send you email with det

[2019-01-11 14:09] alex4200 opened #366 "ImportError for Walkthrough Validation use case"
### Expected behavior

Use case runs without error

### Actual Behavior (please include screenshot if possible)

ImportError:

![screen shot 2019-01-11 at 14 57 53](https://user-images.githubusercontent.com/12729291/51038226-dc8b7600-15b2-11e9-93a9-a8a94c0f66d5.png)

### Steps to reproduce the problem

Run cell after cell

### Optional infrastructural data (user, platform, browser, environment, ..

[2019-01-11 14:16] alex4200 opened #367 "AttributeError for the validation notebooks"
Concerning the notebooks:

- BluePyOpt
- Basal Ganglia Morph Validation
- Generic
- Hippocampus Single Cell

### Expected behavior

Notebook is running

### Actual Behavior (please include screenshot if possible)

AttributeError in the second cell:

![screen shot 2019-01-11 at 15 00 07](https://user-images.githubusercontent.com/12729291/51038535-c6ca8080-15b3-11e9-8d94-e8876a1b17fb.png)

### Steps

[2019-01-11 17:32] pramodk commented on #363
@clupascu : to debug the unicore issue, can you debug comments to jobscript itself? e.g.

[code]
before launching `nrnivmodl` or `srun`. This will help to find out what happening.

[2019-01-14 08:25] alex4200 opened #368 "Enable PizDaint for Synaptic Events Fitting use cases"
Update use case

## Use Case Update

Aspect | Detail
------------ | -------------
Summary | Enable PizDaint for Synaptic Events Fitting use cases in addition to NSG
Expert | Carmen
Deadline | end June 2019
Dependencies | HPC

**Remove anything that does not apply**
## List of additional/changed features

Add PizDaint as additional computer system to perform synaptic events fitting tasks.

Not too

[2019-01-14 09:31] clupascu commented on #363
@pramodk I get

+ set -x
+ which nrnivmodl
+ echo /p/project/cvsk25/vsk2514/HBP/jureca-booster/install/latest:/usr/local/software/jurecabooster/Stages/2018a/modules/all/MPI/intel/2018.2.199-GCC-5.5.0/impi/2018.2.199:/usr/local/software/jurecabooster/Stages/2018a/modules/all/Compiler/mpi/intel/2018.2.199-GCC-5.5.0:/usr/local/software/jurecabooster/Stages/2018a/modules/all/Compiler/intel/2018.2.199-

[2019-01-14 10:35] romani79 commented on #154
I will summarize the status of this task.
1. First of all we should make the LFP calculation available on BSP and then think about all the analyses.
2. After all, the analyses can be done also by open source python libraries with few lines of code. Anyway, we are trying to use Elephant for that. So, this is not the real problem.

Regarding 1, we have two options:
A) use BBP tool, but as far as I k

[2019-01-14 13:36] antonelepfl opened #369 "Nuvla TSI unavailable"
### Expected behavior
TSI is available to submit jobs
### Actual Behavior (please include screenshot if possible)
Get 500 error
`
Could not submit job: de.fzj.unicore.xnjs.tsi.TSIUnavailableException: TSI unavailable: java.net.ConnectException: Connection refused (Connection refused)
`
### Steps to reproduce the problem
POST to `https://zam2125.zam.kfa-juelich.de:9112/NUVLA/rest/core/jobs`

[2019-01-14 13:37] antonelepfl commented on #369
@BerndSchuller Could you please restart the service? I'm not 100% sure if the issue is in your side or Nuvla's

[2019-01-14 13:59] BerndSchuller commented on #369
restarted, definitely on the UNICORE side

[2019-01-14 15:03] antonelepfl commented on #369
Thank you Bernd!

[2019-01-14 16:16] clupascu commented on #363
The unicore issue was solved. I updated the 3 synaptic fitting use cases and the use cases should work back with Jureca now. @alex4200 can you please test again? Thanks.

Before closing the issue, I will test tomorrow if the second problem with the modules outside unicore is still unsolved.

[2019-01-14 22:12] pramodk commented on #363
If you see problem with second user, I would suggest to check .bashrc and permissions to modules (by comparing output from your account vs second user). Let me know how that goes.

[2019-01-15 10:55] alex4200 opened #370 "Replacing the header uniformly of all notebook use cases"
Update use case

## Use Case Update

Aspect | Detail
------------ | -------------
Summary | Replacing the header information for all use cases that use a notebook to ensure uniformity across the use cases.
Expert | @alex4200
Deadline | 31.1.2019
Dependencies | none

## List of additional/changed features

* Have uniform headers across the use cases
* Different headers for GUI notebooks (Carmen's u

[2019-01-15 11:18] clupascu commented on #348
It should be fixed. Can you test again please? Thanks.

[2019-01-15 11:41] alex4200 commented on #154
We had a skype call with @romani79, @apdavison and Michael Denker about Elephant and its probable use in relation to the analysis in this task (see also previous comment).

There are issues regarding the input data for elephant, and possibilities for LFP specific analyses that can be done. In order to proceed we agreed on the following tasks:

- [X] Michael is setting up a Collab space so Armando

[2019-01-15 13:43] antonelepfl commented on #343
HI @clupascu can you provide the scriptthat you use to run your simulation in Piz-Daint please? Like the modules to load.

[2019-01-15 13:52] clupascu commented on #343
The modules to load in order to run my simulation are export MODULEPATH=/users/bp000178/ich002/software/daint/local-20181022101238/share/modules:$MODULEPATH;module load bpopt.

[2019-01-16 08:36] antonelepfl commented on #358
Hi @pramodk I'm receiving the same issues loading the modules mentioned [here](https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/358#issuecomment-447279284). Even though we have those warnings the simulation runs and finishes correctly. Do you have any news from the ticket that you open on Juelich?
@clupascu do you receive those warnings mentioned [above](https://github.com/cnr-ibf-pa/hbp-bsp-is

[2019-01-16 09:03] pramodk commented on #358
@antonelepfl  : the issue with mpi and deployment is solved...I will forward you the email. See the updated instructions [here](https://github.com/BlueBrain/spack/wiki/JURECA-Deployment#instructions-for-using-software-stack) to use modules.

[2019-01-16 09:51] antonelepfl commented on #358
I have used the **booster** partition modules (largobooster is down) and I'm still get the error. I'm running the simulation but you can see it on `/p/scratch/cvsk25/unicore-jobs/9ddbf630-399e-4b1e-bea0-f433c7b40c4d`
I have also created a simple example under that folder/_manual_test_
Do you think it was fixed for largebooster only?

[2019-01-16 13:17] antonelepfl commented on #358
The simulations and analysis just finished correctly. Jureca fully operational with simulation.

[2019-01-16 13:17] #358 closed

[2019-01-16 13:44] clupascu commented on #363
The disk quota caused the problem with the second user and now the issue is solved. I am closing the ticket. Thank you for your help @pramodk.

[2019-01-16 13:44] #363 closed

[2019-01-16 14:26] clupascu opened #371 "Updating Jureca deployment with latest software stack and issue with matplotlib"
### Expected behavior
Optimizations require matplotlib module
### Actual Behavior (please include screenshot if possible)
No module named matplotlib can be imported
### Steps to reproduce the problem

### Optional infrastructural data (user, platform, browser, environment, ...)

[2019-01-17 12:36] alex4200 commented on #348
Seems to be working now, tested with all available HPC systems

[2019-01-17 12:36] #348 closed

[2019-01-18 09:49] antonelepfl commented on #343
Hi @pramodk I was trying to run the simulation for Hippocampus on Piz-daint but I get
[code]
Could you please try to re-deploy the package?
I'm using:
`export MODULEPATH=/apps/hbp/ich002/hbp-spack-deployments/modules:$MODULEPATH`
`module load neurodamus/hippocampus/intel`

[2019-01-18 11:38] antonelepfl commented on #343
[code]

[2019-01-18 11:56] pramodk commented on #343
As shown in the [sample job script](https://github.com/BlueBrain/spack/wiki/Piz-Daint-Deployment#sample-job-script):
- don't do module purge
- do module swap

Most likely that should solve the problem.

[2019-01-21 07:06] antonelepfl commented on #343
Thanks Pramod!
I'm doing what you have on the wiki. I'm trying manually and I have the HOC_LIBRARY_PATH variable pointing `/apps/hbp/ich002/hbp-spack-deployments/softwares/18-11-2018/install/install/cray-cnl6-haswell/intel-18.0.2.199/neurodamus-hippocampus-wisgjf/lib/hoclib/init.hoc`
But when I run thru Unicore this variable is empty, do you know what could be the issue?

[2019-01-21 07:39] pramodk commented on #343
If this is working with interactive session, I would check :
- .bashrc if there is anything specific
- from jobscript check if modules are loaded correctly and if there is permission issue

[2019-01-21 08:53] antonelepfl commented on #343
I found an error on the `stderr` that says `module: command not found` I have done a jupyter notebook from where we can test launching in PIz-Daint. I guess I'm missing some param on Unicore. Should I contact directly with Bernd?
https://collab.humanbrainproject.eu/#/collab/4053/nav/273683

[2019-01-21 09:01] clupascu commented on #343
I trying to take a look at your notebook, but for now I get

500 : Internal Server Error
The error was:
Permission failure checking authorization, I may need a new token

when I am trying to load any notebook in the collab :(

[2019-01-21 09:02] pramodk commented on #343
Yes...I don't know all unicore details.

[2019-01-21 09:04] antonelepfl commented on #343
@BerndSchuller Could you please try to check this notebook and see why just the simple command `module av` does not work properly?
If I connect to ela and then daint and I run the [sample job script](https://github.com/BlueBrain/spack/wiki/Piz-Daint-Deployment#sample-job-script) I don't get that error.

[2019-01-21 12:39] alex4200 commented on #370
@Carmen waiting for feedback from @mmigliore

[2019-01-21 12:40] alex4200 commented on #200
There is still an issue for the HH usecase; @lbologna  will take a look after finishing #333

[2019-01-21 13:09] mmigliore commented on #370
what about something like this

## Using this notebook
- "Run All cells" must be executed every time you open this notebook.
- To keep any changes, remember to save the notebook before leaving
the notebook.

For more detailed information please see the Guidebook at
(https://lbologna.github.io/hbp-sp6-guidebook/getting_started/getting_started.html#working-with-collabs)

Michele

On Tue, Jan 15, 201

[2019-01-21 13:54] alex4200 opened #372 "Name for simulation not used for NSG system"
### Expected behavior

When naming a simulation, I expect to see that name later when I select the downloaded data in the "Analysis" notebook in the "View analysis" section.

### Actual Behavior (please include screenshot if possible)

The name in the "View Analysis" section does not match the previous name.

Name as seen in the "View simulations" section:

![selection_564](https://user-images.git

[2019-01-21 14:10] antonelepfl commented on #343
I have increased the Memory until 4800M to avoid errors. Now the simulation is running correctly.

Now I'm in the step of analysis and I would need to have BluePy as a module. @pramodk do you think is do-able or requires a lot of time to have it there?

[2019-01-21 14:32] clupascu commented on #372
It should be fixed now. Can you please test again? Thanks.

[2019-01-22 06:49] pramodk commented on #343
we installed blue-py first time on Jureca. It's doable (haven't tested that on Cray) but we will need few days.

If you have previous modules from Werner, I would suggest to use those.

[2019-01-22 08:12] antonelepfl commented on #369
Hi, I'm having the same issue now.

[2019-01-22 08:17] BerndSchuller commented on #369
should be fine - sorry that this setup (using an ssh tunnel to the Nuvla TSI) is not very robust :-/

[2019-01-22 08:20] antonelepfl commented on #369
Thanks

[2019-01-23 04:51] mmigliore commented on #370
Hi Alex,
let's talk about this later today. I do not see any "Help --> User
Interface Tour" in the menu.
Michele

On Tue, Jan 22, 2019 at 3:34 PM alex4200 <notifications@github.com> wrote:

[2019-01-23 06:37] alex4200 commented on #356
@clupascu is developing a notebook to test connections to the HPC systems with some extra features. The idea is to implement this notebook into the daily tests.

Weekly tests: A full Synaptic-Events-Fitting workflow (for each HPC) with job submission and result retrieving.

[2019-01-23 14:00] SteMasoli commented on #360
The Purkinje cell, on the model catalog, is defined with:

Name - SGA2 M9
ID - c8d184e3-fb75-4ac4-a99d-8b864593f396
Created on - 03/12/2018, 05:10

[2019-01-23 14:19] antonelepfl commented on #360
I have just put the on DEV version

[2019-01-23 14:35] appukuttan-shailesh commented on #362
This was partly discussed during the talk on "A proposal for a SP6 Model Curation Workflow" at the Hackathon.

Metadata currently expected from (appropriate) models:
1) Model entry should have an image of the morphology with caption "Morphology"
2) Model entry should have an image of sample electrical response with caption "Responses"
3) Morphology file(s) should be indicated in the model instance

[2019-01-23 14:40] appukuttan-shailesh commented on #362
@alex4200 : The above should be sufficient guidelines to proceed for the time being. Unless anyone has any comments or further suggestions on this, we can close this ticket. This is more likely to be a constantly evolving discussion as and when new features (and thereby requirements) are made available, and best to undertake afresh when the need arises.

[2019-01-23 15:50] jdcourcol opened #373 "display a spine model in 3D for a live paper"
## New Use Case

Aspect | Detail
------------ | -------------
Summary | display a spine model (obj file) in 3D
Usecase Group | Live Paper
Expert | Pablo Serna @pabloserna
Scientific User | Pablo Serna
Deadline | Should be done by May 2019
Target audience | for a live paper
Target interface |
HPC Requirements |
Dependencies |
Nominal runtime |

## List of features

The idea is to show a new live pa

[2019-01-23 15:52] jdcourcol opened #374 "Having synaptic inputs for bluenaas."
Update use case

## Use Case Update

Aspect | Detail
------------ | -------------
Summary | enable synaptic inputs for bluenaas
Expert | @pabloserna
Deadline |
Dependencies |

**Remove anything that does not apply**
## List of additional/changed features
*What are the changed or new features? What activities can users perform while using it? What makes it different from similar use cases? List the

[2019-01-23 15:57] ElisabettaGiacalone opened #375 "LFP computation on HPC systems"
## Use Case Update

Aspect | Detail
------------ | -------------
Summary | LFP computation on HPC systems (Cineca ,Juelich, CSCS) in addition to BBP system
Expert | @pramodk
Deadline | TBD
Dependencies | HPC

**Remove anything that does not apply**
## List of additional/changed features
The new feature will allow to run the following code on the above mentioned HPC systems:

module purge
module lo

[2019-01-23 16:51] alex4200 commented on #120
This item will not be completed.

[2019-01-23 16:51] #120 closed

[2019-01-23 18:53] pramodk commented on #375
@ppodhajski : From simulation side we are deploying all stack via Spack. As this package is only with nix, could you have a look at this?

[2019-01-24 07:15] alex4200 commented on #362
Information has been added to the SGA2 google doc: [here](https://docs.google.com/document/d/19Ni5fGFv6PTTM1D_D2FN4dj5IRhtfq1D0V2OWjXxJww/edit#heading=h.jjoq7zp97ld3)

[2019-01-24 07:15] #362 closed

[2019-01-24 09:11] lbologna opened #376 "Add info icon to HH-Neuron Builder panels"
## Use Case Update
 Aspect | Detail
------------ | -------------
Summary | @orena1 requested to add an info icon on the HHNB panels
Expert | @lbologna
Deadline | M12
Dependencies | None

## List of additional/changed features
* The user will be able to point an info icon and have a summary of what the relative step of the HH Neuron Builder does.
Priority: 'Nice to have'

### Tasks

- [x] Add icons

[2019-01-24 11:23] ppodhajski commented on #375
Yes, I will have a look,. In the team we had some discussion on Spack, so maybe it is a good opportunity to test if Spack works for viz team.

[2019-01-24 12:05] jdcourcol commented on #375
@ppodhajski Please deploy with nix first. I think Spack investigation can take a long time and I would avoid to have that in the critical path.

[2019-01-24 12:22] alex4200 opened #377 "Failed simulation shows "Successful" in Detail view"
### Expected behavior

A failed simulation should show "Failed"

### Actual Behavior (please include screenshot if possible)

The failed simulation shows "Successful", but when going back to see the list of simulations it is labeled "Failed"

![screen shot 2019-01-24 at 09 41 55](https://user-images.githubusercontent.com/12729291/51677771-f7aaac80-1fda-11e9-8833-82f7ace91a3a.png)

### Steps to rep

[2019-01-24 14:46] Hjorthmedh opened #378 "New Striatal Scaffold Model"
## New Use Case

Aspect | Detail
------------ | -------------
Summary | Updated version of the Striatum Scaffold model. New touch detection, improved cell models, etc.
Usecase Group | Microcircuitry
Expert | Johannes Hjorth
Scientific User |
Deadline | Christmas 2019?
Target audience | Developers
Target interface | Notebook
HPC Requirements | Possibly.
Dependencies |
Nominal runtime |

## List of

[2019-01-24 14:49] Hjorthmedh opened #379 "RT Neuron support SONATA synapses"
RT Neuron needs support for reading synapses from SONATA.

Reason: Visualise network, and also used to validate network files in SONATA.

Aspect | Detail
------------ | -------------
Summary | RT neuron should be able to read synapses from SONATA files
Expert | juan.hernando@epfl.ch
Deadline | Soon-ish...
Dependencies |

[2019-01-24 15:42] alex4200 commented on #157
Replaced by ticket #378

[2019-01-24 15:42] #157 closed

[2019-01-25 10:17] alex4200 opened #380 "Model Catalog uses KnowledgeGraph as database backend"
## Use Case Update

Aspect | Detail
------------ | -------------
Summary | Adapt the Model Catalog on the Brain Simulation Platform to use the Knowledge Graph as its database backend.
Expert | @apdavison
Deadline | ~~Expected latest end Feb 2019~~ 15 March
Dependencies | #85

## List of additional/changed features

* When using the Model catalog, the data is used from the KnowledgeGraph.

### Task

[2019-01-25 10:21] alex4200 opened #381 "Integrate the KnowledgeGraph to Validation use cases"
## Use Case Update

Aspect | Detail
------------ | -------------
Summary | Use the KnowledgeGraph to access models for the validation use cases
Expert | @apdavison
Deadline | ~June 2019
Dependencies | from #85

## List of additional/changed features
- The validation use cases use the KnowledgeGraph as backend for models.
- Ticket for general verification

## Acceptance Criteria
- [ ] Check Model C

[2019-01-25 13:35] alex4200 commented on #370
Latest version

[code]

[2019-01-25 13:46] alex4200 opened #382 "Notebook cloning with common Header and Versioning Control (github repo)"
Update use case

## Use Case Update

Aspect | Detail
------------ | -------------
Summary | Put the PROD notebooks into a github repo, and change the notebook cloning so that each notebook will contain a common header across the notebooks, and set up things so that the user is notified when a newer version of the notebook is available. DEV notebooks will be still on the Collab.
Expert | @antonelep

[2019-01-27 07:20] mmigliore opened #383 "Brain area in silico exp for hippocampus does not work"
### Expected behavior
edit stimuli in configure and launch
### Actual Behavior (please include screenshot if possible)
can add stimuli but cannot delete them
### Steps to reproduce the problem
go to Configure and launch simulations and try adding/deleting stimulations
### Optional infrastructural data (user, platform, browser, environment, ...)

[2019-01-28 09:58] alex4200 commented on #375
@ElisabettaGiacalone Please see related ticket #154

[2019-01-28 10:04] alex4200 commented on #379
@Hjorthmedh: No new features are being added to RTNeuron anymore. 'Brayns' will replace RTNeuron; for that this feature can be possibly added.

[2019-01-28 11:03] alex4200 commented on #383
It is fixed, should work again as expected.

[2019-01-28 11:03] #383 closed

[2019-01-28 11:37] antonelepfl opened #384 "Show MOOC grade before sending to EDX"
Based on what I talked with Anne, **EDX** has **changed** the way that they manage **grading**. Now only the students that pays for the course will have the grade otherwise EDX will do anything with the grade.

So far on the MOOC backed, we generate the grade, we send it to EDX and when the response is back we show that response from EDX to the students. If the user is not paying probably an error

[2019-01-28 12:02] alex4200 commented on #341
Currently submitting a job on nuv.la creates an immediate error. [Ticket](https://support.sixsq.com/support/tickets/3176) has been created at SixSq Support on 25.1., but until now no reply.

[2019-01-28 12:21] alex4200 commented on #366
Expected time for finish: 11.2.2019