[2020-03-20 11:05] bweyers commented on #458
@alex4200 Sure! There is also documentation available here: https://nest-desktop.readthedocs.io/

[2020-03-20 11:10] clupascu commented on #522
When I load the above module on jureca I get

+ module load py-bluepyopt/1.6.56-gcc-serial-python3
++ /usr/local/software/lmod/7.7.6/libexec/lmod bash load py-bluepyopt/1.6.56-gcc-serial-python3
Lmod has detected the following error: The following module(s) are unknown:
"py-bluepyopt/1.6.56-gcc-serial-python3"

[2020-03-20 11:19] jorblancoa commented on #522
Sorry I forgot to mention that you need to load 26-02 modules:
`module use /p/project/cvsk25/software-deployment/HBP/jureca-booster/26-02-2020/modules/tcl/linux-centos7-haswell`
`module load py-bluepyopt/1.6.56-gcc-serial-python3`

[2020-03-20 12:25] clupascu commented on #522
Now my job fails with some errors

PSI: handleAnswer: spawn to node 3631 failed: "testExecutable: stat(ipengine): No such file or directory"
Could not spawn 'ipengine' process 143: No such file or directory
spawnSingleExecutable: PSI_spawn() failed.
Unable to start all processes. Aborting.
srun: error: jrc5631: tasks 0-23: Exited with exit code 2

[2020-03-20 13:31] alex4200 commented on #499
@lbologna I tested the implementation on STAGE and everything seems to work so far.

Two items to be done:
- [x] Documentation on the guidebook
- [ ] What does the open point mean "equations in the notebook"?

[2020-03-20 13:41] clupascu commented on #525
@pramodk have you got some time to look into this issue?

[2020-03-20 13:45] antonelepfl commented on #531
I paste what we got from JSC
[code]

I'm trying that work around

[2020-03-20 14:10] alex4200 commented on #458
@bweyers Ah yes that was useful. Ideally that link to the documentation is included somehow as a static link in the application itself, but anyways it should be part of the guidebook.

But now I was able to create even a small network, simulate it and get some results.

[2020-03-20 15:04] antonelepfl commented on #531
So the flags apparently work to remove the `No space left on device` but now we are getting:

```<PSP:r0000644:precon(0x2879b60): write(7, 0x2879a40, 8) : Broken pipe>```

I attach an output file: [stderr](https://github.com/cnr-ibf-pa/hbp-bsp-issues/files/4375431/stderr.5.5.txt)

[2020-03-20 18:05] lbologna commented on #499
Hello @alex4200,
thanks for checking. I finalized the Guidebook page:
https://lbologna.github.io/hbp-sp6-guidebook/index.html
If it's fine with you I will move it to prod as soon as the use case is available in the BSP.

As for the "equations in notebook" point, I think it refers to the test collab that was originally created with example notebooks:
https://collab.humanbrainproject.eu/#/collab/673

[2020-03-22 15:51] lbologna commented on #530
Hello @appukuttan-shailesh, I am glad the workflow worked for you. Thanks for you suggestion, I just implemented the second option ("Show Model Catalog entry"). As we commented earlier, this will not prevent for a double registration of the same model but will make it a bit more complicated (the user will  have to go back to the workflow and click the run simulation button (again) in order to be g

[2020-03-22 16:19] lbologna commented on #530
@alex4200,
I checked the logs again and after commenting with @appukuttan-shailesh we realized that the token to be used was a collab member's one, in that only collab members are allowed to insert entries in the Model Catalog. I fixed this and tested with a non-member user and it worked for me. Could you please check again? Thanks

@appukuttan-shailesh, @alex4200 Concerning the collab permissions

[2020-03-23 07:40] sivanni commented on #499
I checked Luca's txt for the Guidebook and made some additions. I could not, however, push them and did not find a straightforward way of creating a pull request. I will e-mail the changed .rst text to Luca for incorporation into the Guidebook. Thanks in advance!

[2020-03-23 08:26] appukuttan-shailesh commented on #530
@lbologna : you have brought up a valid issue here. The other day when we were discussing this I had imagined this problem but thought we could just with your option 3.

But now after seeing your options, I think we could do something along option 1. Instead of asking the user about the desired Collab, we could maybe simply pick the Collab from which the  UseCase is running. Since the UseCase woul

[2020-03-23 09:20] lbologna commented on #530
Hello @appukuttan-shailesh,
thanks for your prompt feedback. Auto-identification of the running collab would be fast so I would definitely go with your suggestion of adding the MC (if not present) to the current Collab. There is still the possibility that the user who is running the use case is not a member of the Collab (e.g. a group of student using a single collab created by the professor): in

[2020-03-23 10:48] antonelepfl commented on #509
Do you have any update on this?

[2020-03-23 10:52] #526 closed, assigned to jdcourcol, mmigliore

[2020-03-23 10:59] appukuttan-shailesh commented on #530
Yeah a detailed message on the pop-up dialog explaining it is good enough. Alternatively, if its not much more extra work we can have the pop-up info showing first, and if the user says "Yes" to registering in our dummy collab then we proceed to register it.

So something like this, when the user clicks on the button:
- We check if the user belongs to the running Collab
- If not, then we show a po

[2020-03-23 11:06] antonelepfl commented on #512
This Use Case will be disabled for SGA2 and moved to SGA3

[2020-03-23 11:23] lbologna commented on #530
Correct. I will prompt a comprehensive text message after the model registration. Thanks.

[2020-03-23 12:34] antonelepfl commented on #520
The change https://github.com/antonelepfl/usecases/pull/321 This should be in Prod now.
We need the changes for Rebuild right? @clupascu

[2020-03-23 12:40] clupascu commented on #522
@pramodk opened a ticket on Jureca requesting the installation of some packages. Ipyparallel is one of the packages needed that was creating the error from my previous comment (I think).

[2020-03-23 13:09] pramodk commented on #522
@clupascu : we started looking into this last friday and saw that some of the packages are missing on JURECA booster which were previously available. So we are checking if those can be installed.

[2020-03-23 15:29] alex4200 commented on #520
The Rebuild notebook are in production and seem to work.

I will test the BuildOwn usecases in DEV later.

[2020-03-23 15:32] bweyers commented on #458
@alex4200 Now me question is what are should be next steps? There is a list of aspect, which will be changed over the next weeks and month as NEST Desktop will be part of the core project.

[2020-03-23 15:35] antonelepfl commented on #520
I'm a bit lost here ... If I'm not mistaken, Carmen only changed the BuildOwn (see my comment above) the rebuild was not submitted yet.
Please Carmen correct me if I missed something

[2020-03-23 15:39] alex4200 commented on #458
@bweyers I would say the next steps are:

1. Check the boxes in the original description, i.e. to mark what has been done, and to see what still needs to be done.
2. Get in the documentation (see documentation section in the [UseCases Document](https://docs.google.com/document/d/19Ni5fGFv6PTTM1D_D2FN4dj5IRhtfq1D0V2OWjXxJww/edit#heading=h.nhjbi1r62493) )
3. Add it as a new usecase to the Brain Simu

[2020-03-23 16:00] clupascu commented on #520
@antonelepfl I don't remember the commit number, but I changed both "Rebuild Single HippoCell" and "BuildOwn Single HippoCell".

[2020-03-23 16:01] clupascu commented on #520
Commit #321 for "BuildOwn Single HippoCell".

[2020-03-23 16:28] clupascu commented on #520
Commit #310 for "Rebuild Single HippoCell".

[2020-03-24 08:28] antonelepfl commented on #454
I'm having this issue today too. Bernd can you check it please?

[2020-03-24 08:32] BerndSchuller commented on #454
Looks like our HPC systems are not available at the moment - I can't login to both JURECA and JUDAC, so I suspect some issue with the shared GPFS file system. I'm sure there are people already working on it. Sorry for the inconvenience!

[2020-03-24 08:48] BerndSchuller commented on #454
it looks to me as if things are working again now - closing

[2020-03-24 08:48] #454 closed, assigned to BerndSchuller

[2020-03-24 14:12] antonelepfl commented on #531
A directory of the job where I get this error is:
`/p/scratch/cvsk25/unicore-jobs/d5a8378b-108e-4295-bc9e-378c25626202`
Running the `input.sh` file with my user id `antonel1`

[2020-03-24 14:34] a1eko commented on #509
Fixed it in my Sandbox. Carmen tested it fine but it doesn't run for me... kernel dies at
simulator = ephys.simulators.NrnSimulator()

Could you check it please? I added you to the team. It takes about 10 minutes once it starts optimiser.run()
https://collab.humanbrainproject.eu/#/collab/3332/nav/524088

[2020-03-24 14:40] pramodk commented on #531
@antonelepfl : can you change those unicore-jobs dir read permissions? I see that every time:

[code]

[2020-03-24 14:51] clupascu commented on #509
@a1eko I replied to you in the support ticket that you should ask for a reset of your container. I was waiting for a reply from you there. Was your container reset?

[2020-03-24 15:11] antonelepfl commented on #509
In my case it works but I had to upgrade the version of `pandas` (I had 0.19) because I had some errors with some testing library while importing it

[2020-03-24 15:35] a1eko commented on #509
@Carmen, Since they didn't reply, I suppose it wasn't reset. Reminded again here:
https://support.humanbrainproject.eu/#ticket/zoom/3155

[2020-03-24 15:45] a1eko commented on #509
@clupascu It is reset now. Should I try it or did you want to inspect anything first?

[2020-03-24 16:06] alex4200 commented on #530
Hi,

I re-tested the HHNB use case, and for my normal user it seems to work fine. I can also open the link after registering the model.

When I run the usecase as a test user I still can register the model, but following the link does not seem to work. I get a page with a big "Welcome to the HBP Model Validation Service" on it:

![Screenshot 2020-03-24 at 17 05 34](https://user-images.githubuserco

[2020-03-24 16:06] BerndSchuller commented on #531
Can you give us (rather, the SC team) a bit more info about what exactly you are running (I can't access the working directory). SC Support mentioned some pip-install script?!

Does the issue also occur if you run the job from an ssh console

cd /p/scratch/cvsk25/unicore-jobs/d5a8378b-108e-4295-bc9e-378c25626202
sbatch bss_submit_*

[2020-03-24 16:23] pramodk commented on #531
@stefanonardo :

[code]

Aren't those just warnings and sim is finishing without any error?

By the way, we are moving away from ParastationMPI with the latest performance issues that we have seen (and discussed with SC support).

[2020-03-24 16:31] antonelepfl commented on #531
@pramodk sometimes the simulation finishes successfully but I would like not to have the `broken pipe` anymore.

For the comment about the packages, I was just following the latest stack https://github.com/BlueBrain/spack/wiki/JURECA-Deployment#instructions-for-using-software-stack

[2020-03-24 17:54] pramodk commented on #531
Are you seeing that only recently?

Yup, that's still up to date. We are updating modules with Jorge where we are replacing ParastationMPI library with IntelMPI. So if that works we don't have to worry about this error.

[2020-03-24 19:33] appukuttan-shailesh commented on #530
With this test user can you check if you can access any model catalog in
any other collab..... Such as BSP.

On Tue, 24 Mar, 2020, 5:06 pm alex4200, <notifications@github.com> wrote:

[2020-03-25 07:43] antonelepfl commented on #531
Thank you @pramodk ,

Yes I would say a week ago or so

Great! please keep me updated about this deployment so I can try it out

[2020-03-25 07:48] alex4200 commented on #530
@appukuttan-shailesh I tried to access the Model Catalog by the test user, and I was able doing so after I authorized for "Model Validation Catalog" (or something similar). After I did that, I also was able to see the HHNB model after registration.
So for those cases it seems that the authorization step is missing .

Other question related to the Register form:
- How to find out the Owner of the m

[2020-03-25 08:22] alex4200 commented on #326
@asanin-epfl  @jdcourcol  Hi, what is the status on this task right now? Should it be moved to SGA3?

[2020-03-25 08:23] alex4200 commented on #332
@romani79 @pedroernesto  Should this task be moved to SGA3?

[2020-03-25 08:24] alex4200 commented on #378
@Hjorthmedh  Hi, what is the status on this task? Should it be moved to SGA3?

[2020-03-25 08:28] alex4200 commented on #502
@Hjorthmedh Is there any news on that task, or should it be moved to SGA3?

[2020-03-25 08:28] alex4200 commented on #509
@a1eko I suggest you try again.

[2020-03-25 08:30] alex4200 commented on #520
Updated notebooks pushed to usecases, PR [331](https://github.com/antonelepfl/usecases/pull/331).
Waiting to be finally tested on STAGE.

[2020-03-25 08:34] alex4200 commented on #529
@AliceGem Do you have any updates on this task?

[2020-03-25 08:35] clupascu commented on #509
@a1eko just do a !pip freeze before trying again and save the output. Then try again and let us know.

[2020-03-25 08:53] asanin-epfl commented on #326
The current status is that we are waiting for Python3 to be deployed on PizDaint because the module requires Python3.
The module itself has been tested and works properly locally and on BB5.

[2020-03-25 08:55] alex4200 commented on #326
Is there a related task for the Python3 deployment? Which one is it?

[2020-03-25 08:57] asanin-epfl commented on #326
https://bbpteam.epfl.ch/project/issues/browse/BSD-112

[2020-03-25 09:04] appukuttan-shailesh commented on #530
It depends. E.g. The owner is the user itself if he/she has created the model. Or it could be the user's supervisor.... it depends on them.

Typically all the people involved in the model development will be listed as "authors", and the PI of the project might be listed at the "owner". (Again it depends on the team.)

[2020-03-25 09:16] pedroernesto commented on #332
As Armando says above, the circuit will not be released till the publication of the paper. But the circuit might still need fixes and the simulations more analysis and validations. Besides, the reviewing process after submission. This might take about 2 years I think. So, I propose to close this issue temporarily and then re-open it again afterwards.

[2020-03-25 09:55] lbologna commented on #530
Hello @alex4200,

the registration issue should be solved by clicking on the Model Catalog item in the left menu. This will load the MC home for that Collab. In principle this should display the authorization request form if the authorization hasn't been given. Could you please test with one of your test users which has not given the authorization to the MC yet?
I can detail this behaviour in the

[2020-03-25 13:08] clupascu commented on #525
I have the same error also on PizDaint.

[2020-03-25 13:12] pramodk commented on #525
@clupascu : Haven't looked into this yet. Can you point out directory on Piz-Daint? (in scratch or non-home directory where I can access).

[2020-03-25 13:33] clupascu commented on #525
@pramodk you can find the directory on Piz-Daint here /scratch/snx3000/bp000028/testneuron+python3

[2020-03-25 16:24] pramodk opened #533 "Summarising new deployment on Jureca, Piz-Daint and Cineca systems"
This ticket is a placeholder to summarising the new deployment and module structures on different systems.

@jorblancoa : this is the ticket.

Related tasks: #522 and #525

- [x] Juelich deployment
- [x] CSCS deployment
- [x] Cineca deployment (Marconi and Galileo)
- [x] Update Spack wiki pages with the new modules path
~- [ ] Non 002-account users have no access to application folder~ this will b

[2020-03-25 21:57] pramodk commented on #525
@clupascu : I was looking at this with @jorblancoa and we couldn't find easily the issue. This is what we did:

* Let's start with simple example of Python3 and neuron using `pc.runworker`:

[code]

Running with NEURON and Python 3 just works fine:

[code]

So we believe that there is no issue with neuron and python3 installation itself.

* It's true that while using your example we were getting e

[2020-03-26 07:14] AliceGem commented on #529
@alex4200 I have opened the pull request now, thanks!

[2020-03-26 09:01] antonelepfl opened #534 "Cerebellum Use Cases - Adding suggestion"
Hi @Helveg, @alberto-antonietti, @AliceGem

I see that you are adding some Use Cases of the Cerebellum.
Just to have in mind for helping you with the Pull Requests and be on the same page, I would like to know if you all agree that instead of creating new items on the root (brainareacircuitinsilicoexperiments) which gives us something like:

![Screenshot 2020-03-26 at 09 52 31](https://user-images

[2020-03-26 09:43] AliceGem commented on #534
Hi @antonelepfl for the one I opened, it's fine, I agree! I should have already put it as an item of the dictionary `models`, inside "Cerebellum", but maybe I did it wrong. Thanks a lot!

[2020-03-26 10:07] alberto-antonietti commented on #534
Hi Stefano,
This is a good suggestion, but for my UC (Cerebro-Cerebellar Loops) I would not put it under a "Cerebellum" group, since it involves both the cerebellum and other cortical areas (e.g., it is referenced from this page https://www.humanbrainproject.eu/en/brain-simulation/whole-mouse-brain-model/).
We can use a different image to distinguish it from the general "Cerebellum" UCs, if you th

[2020-03-26 12:58] antonelepfl commented on #531
@BerndSchuller I have run a simulation using as you suggested `sbatch bss_submit_...` and I don't get the errors. The manual run is under `/p/scratch/cvsk25/unicore-jobs/327507b8-9bec-41e1-af50-c0f77edcfb2d`

And launched with Unicore (and using both variables still get the broken pipe (but the simulation continues) in `/p/scratch/cvsk25/unicore-jobs/483fb2ea-976f-49c7-8f0c-e4802d85c1e9`

[2020-03-26 13:09] BerndSchuller commented on #531
sorry I have no idea. The launch via UNICORE might(!) have different settings (e.g. library path), but without additional info and expertise from people who know what the code does, it's really not possible to say why these errors/warnings occur.

[2020-03-26 13:53] alex4200 commented on #520
Changes has been pushed to PROD

[2020-03-26 13:53] #520 closed, assigned to clupascu

[2020-03-26 14:50] antonelepfl opened #535 "Unicore - Nodes allocation"
Hi @BerndSchuller,

We would like to know if the jobs that Unicore allocate are in exclusive nodes or a node can be shared with multiple users. I did not find this on the [documentation](https://www.unicore.eu/documentation/manual-archive)

[2020-03-26 14:54] BerndSchuller commented on #535
UNICORE delegates to Slurm - what UNICORE does is create a file (named "bss_submit_...") and invoke "sbatch bss_submit_...".

Usually, nodes are not shared.

[2020-03-27 09:19] clupascu commented on #525
@pramodk Can you please let me know what was the parallel version to use instead of module load  neuron/7.8.0b-serial-python3 on Jureca? It seems that if I use this parameter order

srun nrniv -python 'configA1.txt' 'expA1.txt' 'ProbGABAAB_EMS_GEPH_g.mod' False True False 3 fitting.py -mpi

Neuron is loaded (but is loaded of course several times).

[2020-03-27 10:34] jorblancoa commented on #533
Module structure in the different systems.
Everything is python3 except the packages with -python2 suffix.

**Jureca**
_jureca-booster_
[code]
Example of usage:
[code]
_jureca-cluster_
[code]
Example of usage:
[code]
**Piz-Daint**

[code]

Example of usage:

[code]

**GALILEO**

[code]

Example of usage with BluepyOpt:

[code]

Same job script and test run output is in:
[code]

**Marconi**

[code]

[2020-03-27 10:48] lbologna commented on #530
Hello @alex4200 @appukuttan-shailesh

I finalized the integration with the following points:
* check whether the user is member of the current collab:
   - yes: create a MC instance (if not present) and save the model in the current collab
   - no: save the model in the collab where the model are stored and warn the user that she will not be able to modify it (in case she needs to, write to suppor

[2020-03-27 11:06] antonelepfl commented on #533
Can we add / update the [spack wiki](https://github.com/BlueBrain/spack/wiki/Piz-Daint-Deployment) with it so we have a centralized place where to look?

[2020-03-27 11:35] jmbudd commented on #533
Tried **piz-daint** example usage from login and encountered the following error on trying to load neurodamus:

[code]

[2020-03-27 12:41] mmigliore commented on #533
what about galileo (Cineca)?

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Fri, Mar 27, 2020 at 11:34 AM Jorge Blanco Alonso <

[2020-03-27 12:47] pramodk commented on #533
Before making these defaults, we want to inform everyone and hence created this ticket. If there will be no concerns, in a day or two we plan make those default and update Spack wiki pages.

[2020-03-27 13:37] jorblancoa commented on #533
Before making those modules as default, we wanted to inform everyone and hence created this ticket. If there aren't issues, in a day or two, we plan make those default and update Spack wiki pages.

We observed that and we are going to fix it. Nonetheless, everything should work because mpich module is pre-loaded on Cray system (cray-mpich/7.7.10)

Until today we were fixing and testing issues on J

[2020-03-27 13:44] jorblancoa commented on #525
Hi @clupascu
If you load the latest modules (25/03) you can find a parallel neuron.
[code]
Let me know if you have any problems.

[2020-03-27 15:26] alex4200 commented on #530
Hi @lbologna I had another go and it looks better with the updated message. I tested as a member and non-member.

I suggest to put it in PROD (maybe next week Monday)

[2020-03-27 16:26] Helveg commented on #534
@antonelepfl  That's what I was going for, just like Alice, but must've misunderstood the instructions.

[2020-03-27 17:59] appukuttan-shailesh commented on #530
Hey @lbologna , I too tested it now as both a member and non-member. I was about to test the above two cases, with the model catalog in the Collab deleted. As a member it was fine. But I accidentally deleted the HHNB app while testing the latter Could you add the HHNB app again here? I couldn't find it on the app list. Sorry about that.

[2020-03-27 18:17] lbologna commented on #530
Hello @alex4200, @appukuttan-shailesh,
thanks for testing.
(@appukuttan-shailesh, just added the hhnb on the menu)

[2020-03-27 18:29] appukuttan-shailesh commented on #530
Hi @lbologna , it works perfectly. All good to go into production now :+1:

[2020-03-30 07:20] antonelepfl commented on #534
Great then, thank you.

[2020-03-30 07:20] #534 closed, assigned to antonelepfl

[2020-03-30 09:35] antonelepfl commented on #499
Luca will add the documentation on the Guidebook but this UC is in PROD

[2020-03-30 09:40] #499 closed, assigned to Vafa-Andalibi, lbologna, sivanni, henhok, clupascu

[2020-03-30 09:42] lbologna commented on #499
Just added the documentation in the Guidebook (Prod)

[2020-03-30 10:06] antonelepfl commented on #535
Is there any way to confirm that the Nodes are not shared?
It would be possible to add and extra param on Unicore so we can add the `--exclusive` flag to the `bss_..`

[2020-03-30 10:49] BerndSchuller commented on #535
on which system is this?

in principle it's possible to either add a flag or to hard code it in the TSI, but I'm pretty sure that on HPC systems compute nodes are not shared.

[2020-03-30 10:59] antonelepfl commented on #535
It is in Piz-Daint (CSCS)
Ok I just wanted some more information due I'm not an expert on this

[2020-03-30 11:06] BerndSchuller commented on #535
OK

[2020-03-30 11:06] #535 closed, assigned to nobody

[2020-03-30 16:08] a1eko commented on #509
@clupascu (sorry for delay!) pip freeze output is attached:
[collab-freeze-20200330.txt](https://github.com/cnr-ibf-pa/hbp-bsp-issues/files/4403942/collab-freeze-20200330.txt)

Same problem cell 21 (simulator = ephys.simulators.NrnSimulator()) this time complaining on no neuron hoc file:
/opt/conda/lib/python3.6/site-packages/bluepyopt/ephys/simulators.py:74: UserWarning: Unable to find Neuron hoc

[2020-03-31 07:50] clupascu commented on #509
@a1eko in this ticket https://support.humanbrainproject.eu/#ticket/zoom/3185 I told you that you should install bluepyopt 1.6.42 using the code available in this notebook (second and third cells)
https://collab.humanbrainproject.eu/#/collab/9132/nav/530562. In the pip freeze that you attached I see bluepyopt==1.6.11.

[2020-03-31 08:39] clupascu commented on #509
@a1eko or the pip freeze attached was before installing the new version of bluepyopt? We can also have a Skype call to help on this if you would like. Please let me know.

[2020-03-31 09:03] clupascu commented on #525
@pramodk and @jorblancoa I modified my code (the segmentation fault was due to one function not available anymore in python3) and my code works perfectly now with the new modules from issue #533 on Jureca booster and PizDaint. Any news on the installation of the same modules on Galileo?

[2020-03-31 09:22] clupascu commented on #525
#533

[2020-03-31 09:26] clupascu commented on #525
https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/533

[2020-03-31 10:04] clupascu commented on #533
New Neuron module works perfectly on Jureca and PizDaint. New Bluepyopt module works perfectly on PizDaint, but on Jureca booster I get

  File "opt_neuron.py", line 87, in <module>
    from ipyparallel import Client
ModuleNotFoundError: No module named 'ipyparallel'

[2020-03-31 13:01] jorblancoa commented on #525
Hi @clupascu
Out of curiosity, what was the function not available in python3 causing the core dump?
Regarding the deployment in Galileo, we are finishing latest validations in Daint and Jureca, and once everything is properly tested, we will deploy in Galileo.

[2020-03-31 13:26] clupascu commented on #525
@jorblancoa the function not available in python3 causing the core dump was file.

[2020-03-31 14:47] a1eko commented on #509
@clupascu: Right, bluepyopt 1.6.42 was installed in cell 2 and pip freeze says  bluepyopt==1.6.42 now. Sure we can skype if it helps.

[2020-03-31 15:12] clupascu commented on #509
@a1eko we can have a Skype call tomorrow at 11. See you tomorrow on Skype.

[2020-03-31 16:31] lbologna commented on #530
Hello @alex4200,

the app is in prod (with @appukuttan-shailesh we solved the problems I was mentioning to you earlier today).

Could you please test whether everything is fine for you as well?

Here's a link to one instance of the app in a Collab you are a member of:
https://collab.humanbrainproject.eu/#/collab/1256/nav/42586

Here's one in a Collab you are **not** a member of:
https://collab.hum

[2020-03-31 16:44] jorblancoa commented on #533
I have done some changes in Jureca to install ipyparallel from source instead of trying to use the external.
Could you try again and let me know if you have any other issue?

Thanks!

[2020-04-01 08:28] clupascu commented on #533
@jorblancoa now it works. Thanks.

[2020-04-01 10:32] a1eko commented on #509
@clupascu This example notebook runs well now, thank you!
https://collab.humanbrainproject.eu/#/collab/3332/nav/524088

@alex4200 Alex, should I replace the problem notebook with the above one
https://collab.humanbrainproject.eu/#/collab/8566/nav/64870

or should I edit it? (It is intended for BSP and it is not runnable by itself.)

[2020-04-01 13:15] alex4200 commented on #509
@a1eko I am not sure what you mean. Do you have changed the existing notebook to make it python3 compatible? Or do you have a new notebook?

I just checked the notebook you mentioned and it still has a python2 kernel. I appreciate if you can clarify.

But the best practice is still if you update the existing DEV notebook which is `opt-fs_cell.ipynb` in Collab 8566.

[2020-04-01 14:44] alex4200 commented on #530
Hi @lbologna I took a look at the HHNB use cases, and they seem to work for the different scenarios.

[2020-04-01 16:06] a1eko commented on #509
@alex4200 Check this one
https://collab.humanbrainproject.eu/#/collab/8566/nav/546964
Does it run?

[2020-04-02 08:21] alex4200 commented on #509
Hi,

I fixed a very small bug, but this notebook runs to the end. Is that to be used instead of the current one?

Cheers

Alex

________________________________
From: Alexander Kozlov <notifications@github.com>
Sent: Wednesday, April 1, 2020 6:07:02 PM
To: cnr-ibf-pa/hbp-bsp-issues
Cc: Dietz Alexander; Mention
Subject: Re: [cnr-ibf-pa/hbp-bsp-issues] Python3 update for "Optimization of FS cell" (#

[2020-04-02 10:33] a1eko commented on #509
Yes, Alex, exactly! It is supposed to replace the previous notebook for the use case "Optimization of FS cell" (#509)  in BSP.

[2020-04-06 09:27] antonelepfl commented on #533
In **Jureca booster** I'm trying to use BluePy with requires `h5py` because I'm getting this error:
[code]
But when I try to load some h5py library that I found on the modules:

[code]
I get:
[code]
Is there any other module that I need to load so bluepy can read `.bbp` files? (I have tried loading Brion and also I get an issue)

[2020-04-06 10:00] jorblancoa commented on #533
Hi @antonelepfl
Could you share the example you are trying to run so I can debug it?

h5py should be included when you load py-bluepy module.
[code]
In the first error you are getting it looks like the HDF5 library is not found, so loading HDF5/1.10.5 or HDF5/1.10.5-serial should be enough.

[2020-04-06 12:38] antonelepfl commented on #533
Thank you @jorblancoa as you mentioned I had to load the module `HDF5/1.10.5` instead of what I was loading in the past `h5py/...` and it worked so far.
I'll make some more tests for simulations and analysis in PizDaint and Jureca and I'll let you know if I have any other issues

[2020-04-06 12:51] alex4200 commented on #525
Hi, can you please tick the boxes in the top-most main comment to mark the cases that are done?

[2020-04-06 12:51] alex4200 commented on #522
Hi, can you please tick the boxes in the top-most main comment to mark the cases that are done?

[2020-04-06 13:04] alex4200 commented on #326
BSD-112 issue fixed on 3.4.2020.

[2020-04-06 13:17] mmigliore commented on #533
I tried the deployment on Jureca-booster and it failed.
Please look at the two log files in /p/scratch/cvsk25/vsk2500/test_x_sim/

It is not clear to me if they both failed for the same reason or not.

[2020-04-06 13:52] Hjorthmedh commented on #502
This usecase will be replaced by https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/378

[2020-04-06 13:52] jorblancoa commented on #533
I think you have the same issue than Stefano.
[code]
Loading HDF5/1.10.5 should do the trick.
I will update the examples since is a module required by most of our softwares.

[2020-04-06 13:54] Hjorthmedh commented on #378
Yes please move it to SGA3, the notebook runs locally, but there was a problem with the image that is used on HBP labs platform. They updated once with a fix, but that fix did not help. Have been busy and not had time to check if there was a second fix.

[2020-04-06 13:58] mmigliore commented on #533
Oh, I thought that you had already tried a test sim to check for these
dependencies.
So, should I add
module load HDF5/1.10.5
to the simulation script?

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_cont

[2020-04-06 13:59] #502 closed, assigned to Hjorthmedh

[2020-04-06 14:26] jorblancoa commented on #533
Exactly

[2020-04-06 15:19] clupascu commented on #519
@alex4200 Synaptic Events Fitting use case is ready with the new modules on the HPC systems and ipywidgets 7.5.1. The links are the one from the usecases.json. Please test and let me know. Thanks.

[2020-04-06 16:07] alberto-antonietti commented on #532
The use-case in now in PROD in the BSP.

[2020-04-06 18:02] pramodk commented on #533
@jorblancoa : Can you update Spack wiki pages with these instructions? (keep explicit path to module rather symlinks )

I am starting update of Galielo.

[2020-04-06 18:50] mmigliore commented on #533
This is very frustrating. Now I got:
.
.
.
Currently Loaded Modules:
  1) Architecture/KNL            (S)  23) Tk/.8.6.9                      (H)
  2) GCCcore/.8.3.0              (H)  24) GMP/6.1.2
  3) binutils/.2.32              (H)  25) XZ/.5.2.4                      (H)
  4) icc/.2019.5.281-GCC-8.3.0   (H)  26) libxml2/.2.9.9                 (H)
  5) ifort/.2019.5.281-GCC-8.3.0 (H)  27) libxsl

[2020-04-06 22:15] pramodk commented on #533
[code]
I looked at this error and it seems like system/hardware error than software. I am looking at currently running job :

[code]

Which seems to be running fine:

[code]

(it seems like I/O is slow but we will see the timings after job finishes)

[2020-04-06 22:59] pramodk commented on #533
@mmigliore @clupascu @ElisabettaGiacalone : I have also updated BluepyOpt and Neuron installation on Galileo as well as Marconi. I provided path to sample job script and test job output in [this first comment](https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/533#issuecomment-604928722).

If I am not mistaken, neurodamus is not being used on Marconi. So I didn't generate module for that.

If you

[2020-04-07 00:39] pramodk commented on #522
See #533, bluepyopt is installed on both systems.

[2020-04-07 00:41] pramodk commented on #525
As far as I know, all systems are up to date with neuron and python3. See #533.

[2020-04-07 00:42] pramodk commented on #389
I believe this is fixed and we should close this.

[2020-04-07 05:59] mmigliore commented on #533
The simulation on Jureca-booster ended after 8hrs for timeout without any output. It seems that it did not even start the simulation:
setpvec 79                 Enable Reports 0.0599999
accum 46                        stdinit 0.27
MemUsage after stdinit
[DEBUG] Memusage [MB]: Max=168.49, Min=99.64, Mean(Stdev)=143.06(8.92)
Starting dataset generation for CoreNEURON
srun: Job step aborted: Waiting

[2020-04-07 07:22] mmigliore commented on #533
BTW, a sim with the previous modules
/p/scratch/cvsk25/vsk2505/simulations/CA1.20190306/test20201703/
was ok.

[2020-04-07 09:41] clupascu commented on #525
I tested neuron7.7 on PizDaint, Jureca and Galileo and everything works perfectly. I am closing this issue.

[2020-04-07 09:41] #525 closed, assigned to pramodk

[2020-04-07 10:19] clupascu commented on #533
When trying to use BluePyOpt on Galileo I get

Traceback (most recent call last):
  File "opt_neuron.py", line 70, in <module>
    from model.analysis import *
  File "/galileo/home/userexternal/mmiglior/testBPOPTPYTHON3/model/analysis.py", line 100, in <module>
    @set_rcoptions
  File "/galileo/home/userexternal/mmiglior/testBPOPTPYTHON3/model/analysis.py", line 69, in set_rcoptions
    import

[2020-04-07 10:59] pramodk commented on #533
@clupascu :

[code]

I can't access above directory.

Did you check the test I ran in :

[code]

Note that above test I used single processor because I cannot submit jobs to other partitions. I can redo test if you point me right slurm parameters.

[2020-04-07 11:15] #389 closed, assigned to pramodk

[2020-04-07 11:20] clupascu commented on #533
@pramodk the test you ran in /marconi_work/HBP_CDP2_it/pkumbhar/test was ran on Marconi. I have problems on Galileo.
On Galileo I use the slurm parameters below

#SBATCH --nodes=6
#SBATCH --ntasks-per-node=24
#SBATCH --job-name=bluepyopt_ipyparallel
#SBATCH --time=1-00:00:00
#SBATCH --error=logs/ipyparallel_%j.log
#SBATCH --output=logs/ipyparallel_%j.log
#SBATCH -p gll_usr_prod
#SBATCH -A HBP_CDP2

[2020-04-07 11:23] clupascu commented on #522
I am closing this issue. We will continue commenting on #533.

[2020-04-07 11:23] #522 closed, assigned to pramodk

[2020-04-07 11:38] clupascu commented on #533
I tested BluePyOpt on PizDaint and Jureca and it works perfectly.

[2020-04-07 12:47] pramodk commented on #533
@clupascu : my mistake, but I meant to point out galileo directory and job script which is also mentioned there:

[code]

I ran tests there again and worked without any issue:

[code]

[2020-04-07 13:10] clupascu commented on #533
@pramodk I keep getting that error. It has to do with matplotlib. I gave you access to the folder /galileo/home/userexternal/mmiglior/testBPOPTPYTHON3

[2020-04-07 18:00] pramodk commented on #533
@clupascu : it's true that the bluepyopt tests we have dont use matplotlib and hence didn't see the issue before.  I have fixed the issue and your exampled is tested in:

[code]

The only thing that you have to change is replace `py-matplotlib/3.1.1` with `py-matplotlib/2.2.3` on Galileo only (see updated [instructions](https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/533#issuecomment-604928722

[2020-04-07 22:31] pramodk commented on #533
@mmigliore : @jorblancoa and me went through various checks and detailed analysis today. We can setup Skype call tomorrow to discuss how should we tackle this issue. Here is a brief summary already:
* After the new deployment Jorge has done validation and sanity checks for the new modules [provided above](https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/533#issuecomment-604928722) (i.e. 25-03-2

[2020-04-08 06:02] mmigliore commented on #533
I agree with you that this may be an issue with the I/O system.
Please go ahead and open a ticket with Juelich.
It may be worth asking for a 1M core/hrs allocation on the normal partition
to see if it has the same problem.
Always put me in cc, so I can follow up with them in case it is needed.

However, please also note that this occurs systematically when using
simulations longer than about 500ms

[2020-04-08 07:21] clupascu commented on #533
@pramodk I tested and now it works. Thanks.

[2020-04-08 08:36] antonelepfl commented on #531
Using the latest modules for the simulation fix this issue. Closing..

[2020-04-08 08:36] #531 closed, assigned to nobody

[2020-04-09 08:43] mmigliore commented on #525
Loading the modules works from my account on ich002, but a user on the
ich011 group (used by BSP use cases) sees:

bp000338@daint105:~/Heart_3D/WholeCellSimulation_gpurk30000_StimUp> module
load daint-mc cray-python/3.6.5.7 PyExtensions/3.6.5.7-CrayGNU-19.10
bp000338@daint105:~/Heart_3D/WholeCellSimulation_gpurk30000_StimUp> module
use
/apps/hbp/ich002/hbp-spack-deployments/softwares/25-03-2020/in

[2020-04-09 15:41] pramodk commented on #525
@mmigliore : Has user `bp000338` used the modules in the past? i.e. can he access to`/apps/hbp/ich002`?

[code]

Note that the we can change permissions to `/apps/hbp/ich002/hbp-spack-deployments` but not top level  `/apps/hbp/ich002/`.

[2020-04-10 06:47] mmigliore commented on #525
No

i.e. can he access to/apps/hbp/ich002?
No. This is going to be a general problem for many users not directly
related to HBP.
The simulation engines (the latest version of NEURON in this case) must be
available for anybody.

~> ls -l /apps/hbp/ich002/

[2020-04-11 11:14] pramodk commented on #525
related to HBP.

Ok, this is something new then.

* Which directory is accessible for all HBP as well as non-HBP users? This is something needs to be checked with CSCS?
* Is only neuron, bluepyopt module needs to be available for non-HBP users? or, also neurodamus-hippocampus?
* Is this the case also on other systems? (Juelich and Cineca)

[2020-04-14 11:22] antonelepfl opened #536 "Service Account - /core get anonymus info"
When I get the information on `https://bspsa.cineca.it/advanced/pizdaint/rest/core`

I have missing information:
<img width="901" alt="Screenshot 2020-04-14 at 13 16 28" src="https://user-images.githubusercontent.com/24406041/79219275-3e8bf880-7e52-11ea-9330-f34cf94e4dbd.png">

In normal PizDaint I get the correct information:
<img width="837" alt="Screenshot 2020-04-14 at 13 20 27" src="https://u

[2020-04-14 11:34] BerndSchuller commented on #536
Since you are asking, UNICORE is working fine. I am correctly authenticated at Piz Daint with both my old and new collab accounts (BTW your second screenshot is from Jureca, not DAINT)

As to accessing https://bspsa.cineca.it/advanced/pizdaint/rest/core I see the same issue: the "anonymous" DN.

[2020-04-14 11:50] antonelepfl commented on #536
Right Bernd, in PizDaint I also get the correct information:

<img width="786" alt="Screenshot 2020-04-14 at 13 47 40" src="https://user-images.githubusercontent.com/24406041/79221707-975d9000-7e56-11ea-9aa9-a94238c2daa2.png">

[2020-04-14 12:19] lbologna commented on #536
Hello @antonelepfl @BerndSchuller,

last week we moved the vm where the Service Account is running to a different machine on CINECA. This implied the change of the IP but the domain has remained the same and the vm is up:
https://bspsa.cineca.it/status/

@BerndSchuller may this IP change have caused a mulfunctioning of the mapping to the HPC system user (the submission is not performed through tok

[2020-04-14 12:48] BerndSchuller commented on #536
hi Luca, all,

Last week Fabio Verzelloni from CSCS updated the UNICORE installation. It is possible that the special mapping for the service account was not ported over properly. Please contact him!

[2020-04-14 20:44] lbologna commented on #536
Hello @BerndSchuller ,

thank you, I will write to Fabio.

[2020-04-16 10:37] antonelepfl commented on #536
@lbologna do we have any update on this?

[2020-04-16 14:51] clupascu commented on #519
@alex4200 Synpatic Events Fitting - user data and user model usecases are also ready with the new modules on the HPC systems and ipywidgets 7.5.1. I updated also Synaptic Events Fitting as I introduced also Galileo. I modified also the names of the folders when they are saved to the storage. The links are the one from the usecases.json. Please test everything and let me know. Thanks.

[2020-04-17 10:05] antonelepfl opened #537 "PizDaint - /core anonymous"
Hi @BerndSchuller I'm getting some anonymous information like this:

<img width="898" alt="Screenshot 2020-04-17 at 12 02 05" src="https://user-images.githubusercontent.com/24406041/79557765-6aea8380-80a3-11ea-9dce-f7b42ae13bdc.png">

Where I should get something like:

<img width="786" alt="Screenshot 2020-04-14 at 13 47 40" src="https://user-images.githubusercontent.com/24406041/79557786-750c820

[2020-04-17 10:11] BerndSchuller commented on #537
no

you are authenticated correctly (the "dn": ..." field is correct)

the user mapping (role and UID) is done by the CSCS installation. You should ask Fabio Verzelloni at CSCS

[2020-04-17 13:05] lbologna commented on #536
Hello @antonelepfl,

Fabio at CSCS solved the authentication issue.
Now the submission works but it seems we are getting html text as response, instead of json as it was before.

@BerndSchuller is this due to the new UNICORE version? maybe we are we disregarding some parameters in the job submission?

Thanks.

[2020-04-17 13:10] BerndSchuller commented on #536
always add a "Accept: application/json" header to your REST calls

[2020-04-17 13:24] antonelepfl commented on #537
Verzelloni Fabio <fverzell@cscs.ch> fixed the issue.

[2020-04-17 14:32] lbologna commented on #536
Thanks @BerndSchuller,

we found a misprint in the call code and were using "Content-Type" (as for POST) instead of "Accept". Strangely enough, never gave any problem before.
Now it seems to work again.

@antonelepfl could you please try again? Thanks.

[2020-04-17 14:58] antonelepfl commented on #536
Hi @lbologna so the issue with `/core` is fixed but now when I try to submit a job I get:

`{"errorMessage":"Error uploading to '/BlueConfig': java.io.IOException: Execution on TSI server failed. Reply was TSI_FAILED: [Errno 13] Permission denied: '/scratch/snx3000/unicore/FILESPACE/29afbc2c-78e5-46a3-a80a-2daf939c501b///BlueConfig'\n","status":500}`

Not very sure if it is related to the change o

[2020-04-17 15:20] rcsm17 commented on #536
Hi @antonelepfl can you try again now ?

[2020-04-20 07:20] antonelepfl commented on #536
Yes now it works! Thanks.
We can close this ticket

[2020-04-20 07:20] #536 closed, assigned to rcsm17

[2020-04-20 08:25] alex4200 commented on #326
@asanin-epfl Anything new on this task?

[2020-04-20 08:25] alex4200 commented on #458
@bweyers Any news on this issue?

[2020-04-20 08:28] asanin-epfl commented on #326
I always forgot to comment here. It should work on PizDaint since 3.4.2020.

[2020-04-20 08:29] alex4200 commented on #509
Notebook is on PROD, closing ticket

[2020-04-20 08:29] #509 closed, assigned to a1eko

[2020-04-20 08:31] alex4200 commented on #529
@AliceGem Any news on this task?

[2020-04-20 08:38] clupascu commented on #533
@pramodk I have a problem with BluePyOpt on Jureca booster. When using 2 generations, 128 offsprings, 2 nodes and 64 tasks per node, for example, I get

[0;32m/usr/local/software/jurecabooster/Stages/2019a/software/Python/3.6.8-GCCcore-8.3.0/lib/python3.6/multiprocessing/popen_fork.py[0m in [0;36m_launch[0;34m(self, process_obj)[0m
[1;32m     65[0m         [0mparent_r[0m[0;34m,[0m [0mc

[2020-04-20 09:22] antonelepfl commented on #529
If IIRC this UC is online on Production https://collab.humanbrainproject.eu/#/collab/1655/nav/66856 Under the Cerebellum Category

[2020-04-20 09:28] lbologna commented on #530
Hello @alex4200,

I integrated the guidebook page with the new functionality:

https://lbologna.github.io/hbp-sp6-guidebook/online_usecases/single_cell_building/hippocampus/p1_hh_neuron_builder/p1_hh_neuron_builder.html

Could you please have a look before moving the guidebook to PROD and closing the ticket?

Thank you!

[2020-04-20 09:29] bweyers commented on #458
We are currently on the way to prepare the material for the documentation refering to the list above. Let you know when we are ready to open the pull requests.

[2020-04-20 11:31] alex4200 commented on #530
Hi @Luca,

I had a look at the guidebook page and I have the following comments:

 - In the section "Single Cell Simulation Run" a link does not work (Phrase below the "Download jo results": "For an example of how the .zip file content must be structured, please refer to the following **link** "
- In the new section "Adding model": "where the user will be able to **inserted** the model’s metadata"

[2020-04-20 13:00] mmigliore commented on #326
I would like to use it. Can you send me more detailed info?
michele.migliore@cnr.it
Thank you

[2020-04-20 13:03] alex4200 commented on #529
@AliceGem  The last missing piece is a short documentation for the guidebook:

https://collab.humanbrainproject.eu/#/collab/1655/nav/18580

[2020-04-20 13:05] alex4200 opened #538 "Documentation still missing for usecase "Multicompartmental simulation of the cerebellum""
Documentation

## Documentation

Aspect | Detail
------------ | -------------
Summary | Documentation missing
Expert | @Helveg

Short summary of the use case is missing in the [Guidebook](https://collab.humanbrainproject.eu/#/collab/1655/nav/18580).

See [here](https://docs.google.com/document/d/19Ni5fGFv6PTTM1D_D2FN4dj5IRhtfq1D0V2OWjXxJww/edit#heading=h.pnxj2hjfo7iq) for implementation details.

[2020-04-20 14:01] antonelepfl opened #539 "Service Account - see other people's jobs"
I'm using the Service Account and if I enter with a different user I'm able to see the jobs that other people started.
I think we need to think something like having some kind of mapping of user - jobs id.

For now we can start thinking about something and put ideas on here. What do you think @lbologna  @rcsm17

[2020-04-20 14:21] alex4200 commented on #326
@asanin-epfl Can you be more precise on what should be working? Is this a tool, an application, a web application, a use case, a notebook? Where to find the final product? And what IS the final product?

[2020-04-20 22:05] AliceGem commented on #529
Ok @alex4200! In which branch should I add it?

[2020-04-21 06:47] mgeplf commented on #326
We're in the process of adding a reduced hippocampus circuit to the SimUI; we'll get back to you when that's done.

We'll dicuss this today.

[2020-04-21 07:02] alex4200 commented on #529
@AliceGem I suggest you create a pull request to the repo: https://github.com/lbologna/hbp-sp6-guidebook or contact @lbologna directly.

[2020-04-21 07:10] mmigliore commented on #326
I am not interested in using a reduced model but in doing the reduction on
my own.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

O

[2020-04-21 07:36] mgeplf commented on #326
We will provide a jupyter notebook as a use case in the brain simulation
platform to run the reduction on the example of the hippocampus O1.

In its current form it takes as input a SONATA circuit, so whatever circuit you
have needs to be in this format.  In addition we had to support a limited
portion of the SONATA specification because the circuit needs to be loadable by
NEURON.

[2020-04-21 10:09] antonelepfl commented on #539
We can use [tags](https://sourceforge.net/p/unicore/wiki/REST_API/#paging-mechanism-using-tags-and-controlling-the-output) in Unicore. I'm already using this for fetching only the simulations jobs or analysis jobs
For instance when I submit a job, you guys can add the tag of my ID and then when I asked for my jobs you add my ID to the tags that I asked

I'm doing kind of brain storming of how we c

[2020-04-21 10:21] clupascu commented on #533
@pramodk We don't get the above error on PizDaint and Galileo.

[2020-04-21 10:26] clupascu commented on #533
@pramodk One more issue I noticed. When running the analysis step (after the optimization process is finished) I get this error TypeError: unsupported operand type(s) for +: 'int' and 'odict_values'. I solved this by converting odict_values into list, but I am not getting this error when using the bluepyopt installation from the collab and I was not getting this error when using Werner's module (e

[2020-04-21 10:34] pramodk commented on #533
@jorblancoa : could you run bluepyopt test on Jureca ? (referring to this [comment](https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/533#issuecomment-616399246))

[2020-04-21 10:49] rcsm17 commented on #539
Hi @antonelepfl,

This problem is more technical.
In the standard API of the Service Account, when you make a request, the entire request is preprocessed by the SA, eventual informations are recorded, and the request is translated with the HPC's API. Therefore every request are processed by the SA and the SA knows in which user link every request.
Instead for the advanced API you talk directly wit

[2020-04-21 10:50] BerndSchuller commented on #539
Apart from using tags, there is really no fast way to distinguish jobs (or anything) from different "real" users who are all using the same UNICORE identity.

[2020-04-21 10:51] BerndSchuller commented on #539
ahh sorry closed by accident :-)

[2020-04-21 13:08] antonelepfl commented on #375
Hi @ppodhajski, I would need this [fix](https://bbpteam.epfl.ch/project/issues/browse/BSD-72) deployed on PizDaint and Jureca.

[2020-04-22 08:39] clupascu opened #540 "Allocation memory problem on Jureca booster when running BluePyOpt"
### Expected behavior
BluePyOpt optimization runs without problems with the Python3 modules from issue #533
### Actual Behavior
When runnning the optimization with
OFFSPRING_SIZE=128
MAX_NGEN=2
I get
[0;31mBrokenProcessPool[0m: [Errno 12] Cannot allocate memory

### Steps to reproduce the problem
The same issue does not happen with Python2.
The job runs successfully in less than 7 minutes.
The w

[2020-04-22 08:40] clupascu commented on #540
@jorblancoa

[2020-04-22 10:48] jorblancoa commented on #533
Related to @clupascu memory issue in Jureca Booster when running bluepyopt, a separate ticked has been created:
https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/540

Regarding the deployment of our software stack, I have updated the wiki with the usage of software in Jureca, Piz-Daint, Galileo and Macroni. It can be found here:
https://github.com/BlueBrain/spack/wiki

[2020-04-23 08:09] ppodhajski commented on #375
hi @antonelepfl, I am trying to deploy it via spack on piz daint but ran into some compilation issues. will keep you posted.

[2020-04-26 19:06] lbologna commented on #530
Hello @alex4200,

thanks for the comments. I made the changes/corrections.

Could you please have a look before putting to prod?
Here's the link:
https://lbologna.github.io/hbp-sp6-guidebook/online_usecases/single_cell_building/hippocampus/p1_hh_neuron_builder/p1_hh_neuron_builder.html

Thank you!

[2020-04-27 09:15] alex4200 commented on #326
@mgeplf @asanin-epfl Is there any update on this jupyter notebook?
When is it ready to be tested and/or ready to be included into the BrainSimulation Platform?

[2020-04-27 09:46] alex4200 commented on #530
@lbologna I had a look at the documentation, and it looks fine to me. Please move it to PROD.

[2020-04-27 11:30] alex4200 commented on #529
@AliceGem Do you have any updates on this issue?

[2020-04-27 12:35] antonelepfl commented on #539
@rcsm17 if I understand, you receive the request and you CAN add something to it right (using the advance endpoint) we can try to add the Unicore `tag` as Bernd suggested that is the easy way to do it. @lbologna What do you think?

[2020-04-27 13:21] lbologna commented on #539
Hello @antonelepfl,

we discussed with Roberto on the current implementation of the service account.
The tag solution @BerndSchuller is suggesting seems to be the easiest way for us (the alternative solution would be to get all the jobs info first and then filter the response, but this would definitely be less efficient).
Our suggestion is that we add as tag the user's userid: in this way, when fe

[2020-04-27 13:34] antonelepfl commented on #539
Yeah I think it is a good option. When you guys have some time we can move forward on this.

[2020-04-27 13:47] alex4200 opened #541 "Validation use cases failing"
None of the validation use cases seem to run.

Maybe there is a problem with a backend/a service

[2020-04-27 14:11] antonelepfl commented on #541
Yeah I get some errors too after seeing some plots..

[code]

[2020-04-27 16:47] appukuttan-shailesh commented on #541
@apdavison : The problem is arising from checking of internet connection here:
https://github.com/HumanBrainProject/hbp-validation-client/blob/master/hbp_validation_framework/__init__.py#L2671

Made a minimal example here to reproduce the error:
https://collab.humanbrainproject.eu/#/collab/5165/nav/61177

The problem only arises on the Collab, and running the same example locally runs fine (prints

[2020-04-27 18:46] apdavison commented on #541
It looks as though google.com now resolves to some other IP address.

I suggest replacing the `urlopen` with a ping, something like this (from https://stackoverflow.com/a/32684938):
[code]

then

[code]

[2020-04-28 07:14] appukuttan-shailesh commented on #541
I can make that change, but I am curious as to why we see different behaviors locally and on the Collab. `_have_internet_connection()` is basically being used by us to get the ip address of the system (`ip_addr`). If it fails, it is supposed to resort to setting the value to "127.0.0.1".

I see that the latter occurs as expected locally. For running [this](https://collab.humanbrainproject.eu/#/col

[2020-04-28 07:18] apdavison commented on #541
I don't know why this difference occurs, but it doesn't matter, a failure is a failure. All we are trying to discover is whether the machine is connected to the internet.

[2020-04-28 07:35] appukuttan-shailesh commented on #541
Ok, will make those changes and deploy.

It would be good to know why the Collab operates differently (would help setup better error handling if we understand). @alex4200 : let me know if you have any idea on this.

[2020-04-28 07:40] apdavison commented on #541
I think the difference is coming from the remote server, it is treating the two cases differently, presumably based in differences in IP address or request headers.

[2020-04-28 07:45] lbologna commented on #530
Thanks @alex4200, just put in PROD.
Closing.

[2020-04-28 07:45] #530 closed, assigned to lbologna, appukuttan-shailesh

[2020-04-28 08:01] appukuttan-shailesh commented on #541
I am testing the new implementation [here](https://collab.humanbrainproject.eu/#/collab/5165/nav/61177). It seems to work fine on the Collab (ip_address =  "172.17.0.5").

Locally, on running the same code, I get my  IP address as "127.0.1.1".

But if we change it to (https://stackoverflow.com/a/30990617/7383605):

[code]
I get:
On Collab: "172.17.0.5"
Locally: "192.168.1.27"

Shall I go ahead wit

[2020-04-28 08:01] appukuttan-shailesh commented on #541
I am testing the new implementation [here](https://collab.humanbrainproject.eu/#/collab/5165/nav/61177). It seems to work fine on the Collab (ip_address =  "172.17.0.5").

Locally, on running the same code, I get my  IP address as "127.0.1.1".

But if we change it to (https://stackoverflow.com/a/30990617/7383605):

[code]
I get:
On Collab: "172.17.0.5"
Locally: "192.168.XX.XX"

Shall I go ahead wi

[2020-04-28 08:08] apdavison commented on #541
Both methods work for me, both at home and on the collab.

But it seems the new approach is more reliable, so go for it.

[2020-04-28 08:26] appukuttan-shailesh commented on #541
Made a new release of the Python client (0.5.28).
I have updated all the usecases to use this new version.
Also tested the Hippocampus usecase again, and it works fine.

@alex4200 : Can you test all the validation usecases again, and let me know if there are any more problems.

[2020-04-28 09:11] antonelepfl commented on #375
Do you have any update on this?

[2020-04-28 12:24] alex4200 commented on #541
Hi,

I tested the DEV versions of the notebook and all use cases seeem to work except the last one ( 'Basal Ganglia Population Morphology Validation'). I get the following error:

[cid:64ce2b9a-4dd9-43a1-966e-3d1edff765ce]
Can you check that please?

Thanks

Alex

________________________________
From: appukuttan-shailesh <notifications@github.com>
Sent: Tuesday, April 28, 2020 10:26:46 AM
To: cnr

[2020-04-28 13:16] appukuttan-shailesh commented on #541
I was able to run the "Basal Ganglia Population Morphology Validation" usecase without any problems. I used the following input:

Example inputs: [1,10], [1,4,5,8], all
[1,10]

@alex4200 : Can you test again?

@pedroernesto : Can you follow up on this particular use case with Alex (if required). Thanks.

[2020-04-28 13:41] alex4200 commented on #533
Any news on this item?

[2020-04-28 14:23] pedroernesto commented on #541
Sure, no problem

[2020-04-28 14:41] ppodhajski commented on #375
please try binaries in the folder below:
`/apps/hbp/ich002/hbp-visualisation-deployements/spack/softwares/28-04-2020/install/install/cray-cnl7-haswell/intel-19.0.1.144/emsim-1.0.0-vbdt6g/bin`

or built with gcc:
`/apps/hbp/ich002/hbp-visualisation-deployements/spack/softwares/28-04-2020/install/install/cray-cnl7-haswell/gcc-8.3.0/emsim-1.0.0-lewa5k/bin`

These are built with brion version 3.1.0 (h

[2020-04-28 16:13] ElisabettaGiacalone commented on #533
Hi @pramodk @jorblancoa , I tested again one simulation on Jureca's cluster partition. It worked well and it ended after 1:43:00 (simtime=1000ms, reports= soma voltage and AllCompartmentsMembrane currents).
I think that the total runtime is comparable with that on other systems, at least for simulations with one report.
Outputs file are correct, but at the beginning of the  slurm-*.out I get these

[2020-04-28 16:33] ElisabettaGiacalone commented on #375
Hi @ppodhajski, I am trying emsim on Jureca for the first time with the new model, but I get this error:

`[giacalone1@jrl12 type_l_test]$ /p/project/cvsk25/bbp-viz-deployment/HBP/jurecavis/appimage/emsim/emsim -i BlueConfig --target slice30 --report AllCompartmentsMembrane --voxel-size 1,1,1 --start-time 0 --end-time 300 --output=slice0 --sample-point 3740.8,2398.6,5724.4              WARNING: Ti

[2020-04-28 17:26] ppodhajski commented on #375
Hi,
new version is deployed on piz daint only. please try with the binaries I
posted above

wt., 28 kwi 2020 o 18:34 ElisabettaGiacalone <notifications@github.com>
napisał(a):

[2020-04-29 06:34] alex4200 commented on #541
Hi,

when I run the "Basal Ganglia Population Morphology Validation" usecase with my normal user it works.

However, when I use a different user (for the automated tests) I still get the same 403 error in the fourth code cell in section B1. Maybe there is a permission cause of the problem?

Cheers

Alex

________________________________
From: pedroernesto <notifications@github.com>
Sent: Tuesday,

[2020-04-29 06:45] antonelepfl commented on #539
I guess you guys are working on this because I'm getting an empty list all the time even if I just run a new simulation

[2020-04-29 06:46] appukuttan-shailesh commented on #541
Curious.... do the other validation use cases work with this user account that you use for the automated tests?

[2020-04-29 06:49] alex4200 commented on #541
yes

[2020-04-29 06:53] appukuttan-shailesh commented on #541
Ok, in that case it seems unlikely that it is a permissions issue (as all the validation use cases require similar privileges).

It might be useful for @pedroernesto  if you could share a snapshot of the error. Not sure he can reproduce it easily.

[2020-04-29 07:34] alex4200 commented on #541
Selected model: 1
Model instances: [1,10]

Full error:
[code]

[2020-04-29 07:35] rcsm17 commented on #539
Yes I'm working on it

[2020-04-29 07:59] appukuttan-shailesh commented on #541
@apdavison : anything to do with permissions for adding new models/ instances on the KG?
In all the other use cases, we handle existing models and instances. Only the results are created as new entries in KG. In this particular use case (@pedroernesto  can confirm), I think he creates a new model and/or instance for each input combination. So it could be a problem with that?

Also, @alex4200 : wer

[2020-04-29 08:10] alex4200 commented on #541
@appukuttan-shailesh

1. It seems I added this use case recently, and never run successfully
2. Yes, I run all the other use cases to completion (with the same test user)

[2020-04-29 08:24] apdavison commented on #541
Is the test user a member of the collab with which the model is associated?

[2020-04-29 08:28] appukuttan-shailesh commented on #541
Ideally the use case should create the model with the running Collab as its host Collab. This ensures that the user is a member of the collab with which the model is associated.

@pedroernesto can you confirm if this is true for this use case? To reproduce the situation, you can try to create a second HBP account for testing purposes.

[2020-04-29 08:36] alex4200 commented on #541
@apdavison  I do not know what Collab you refer to.

In the test, I simply navigate to the BSP (https://collab.humanbrainproject.eu/#/collab/8444/nav/65633), log in as alextestuser003, select the use case from the menu, create a new Collab and run the notebook in that Collab (for example: Collab TT_bdc14104-e55e-4b7f-a9ce-c6fac728fad8).

[2020-04-29 08:43] ElisabettaGiacalone commented on #375
@ppodhajski please, could you deploy it also on Jureca?

[2020-04-29 09:28] rcsm17 commented on #539
I think it should work now

[2020-04-29 09:41] pedroernesto commented on #541
@alex4200 This usecase has run successfully before, with me, Shailesh, Andrew, and even you as the right test-user. A problem happened only last time when you were using the wrong user. Are you sure this is not the case again? Do you remember which was missing in that kind of user and how you corrected it?

[2020-04-29 09:44] antonelepfl commented on #539
Thank you Roberto! so far it is working. Let me test a bit more and if I see something wrong I'll tell you.

[2020-04-29 10:21] antonelepfl commented on #375
Your [deployment](https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/375#issuecomment-620650316) on PizDaint works correctly. I tried both paths and they work. Which one do you recommend to use?

[2020-04-29 11:07] pedroernesto commented on #541
@alex4200 I see on slack that last time you tried this:
- restarted kernel, reloaded page, restarted kernel... (since even morphounit was not getting installed)
- changed the test-user
- changed the browser

[2020-04-29 12:04] ppodhajski commented on #375
I cannot download some sources on jureca:

[code]
Do you know if I there is some proxy I could use? In the meantime I created a ticket for this issue.

[2020-04-29 12:09] ppodhajski commented on #375
Both are fine to use.

[2020-04-29 13:02] mmigliore commented on #375
@ppodhajski  I am not sure to understand the wget problem.
Is it the first time that you try to get those files, or you were able to get them before and now it does not work anymore?
In any case, if you and/or @pramodk think it is a problem with the Jureca system, open a ticket by sending an email to sc@fz-juelich.de

[2020-04-29 13:28] alex4200 commented on #539
For me it also seems to work now. I only can see my own two jobs for https://bbp.epfl.ch/public/dev.simulationapp/index.html#/circuits/sscx_hbp_sa_mouse_microcircuit/view/service_account

[2020-04-29 13:46] rcsm17 commented on #539
That's good !

So, I added the userid tag into post request when user submits the job on the get request when user fetch the jobs. For other requests I do not added anything else... Let me know if I have to do other changes

[2020-04-29 14:24] pramodk commented on #375
Yes, this should go to :sc@fz-juelich.de.

[2020-04-29 14:27] ppodhajski commented on #375
In the meantime I deployed emsim with brion fixes using an AppImage.
@ElisabettaGiacalone please validate it:
/p/project/cvsk25/bbp-viz-deployment/HBP/jurecavis/appimage/emsim/emsim

[2020-04-29 15:12] alex4200 commented on #541
@pedroernesto I reloaded the tab, reloaded the kernel, used a different user: I still get the same 403 error.

[2020-04-29 17:29] ElisabettaGiacalone commented on #375
@ppodhajski it works correctly, thank you!

[2020-05-01 08:13] antonelepfl commented on #539
This works fine for me so far. We can close this issue.
Thank you Roberto !

[2020-05-01 08:13] #539 closed, assigned to antonelepfl

[2020-05-01 08:52] alex4200 commented on #541
I also see the use case "Validation Framework Demo" fail for the normal user. In the last cell before the section "7. Browse the result database", while running this notebook cell-for-cell without any change, I get the following error (done on 1.5.2020 10:50)
[code]

[2020-05-01 08:58] appukuttan-shailesh commented on #541
The above error is same as the original error reported in this ticket, and was fixed with release of v0.5.28 of the validation Python client.

I have the feeling that the Jupyter notebook isn't being run entirely. Especially the initial cells dealing with package installations. The usecase was updated to use v0.5.28 and your above error log doesn't seem to reflect that. For example, `_have_interne

[2020-05-01 09:05] alex4200 commented on #541
Ah I see - you have updated your DEV notebook, but I am testing the PROD notebook.

You have to let me know asap when you make a vital update to the DEV notebook, so I can test and move them to PROD!

Testing DEV and then move them to prod.

[2020-05-01 09:28] appukuttan-shailesh commented on #541
I actually did mention:

And since you mentioned afterwards that you had tested the DEV versions of the notebook, I presumed we were on the same page.

[2020-05-01 09:31] alex4200 commented on #541
Ah yes sorry for that. I got confused

But the "Basal Ganglia Population Morphology Validation" use case still does not work, even on DEV.

[2020-05-01 09:35] appukuttan-shailesh commented on #541
No worries.

Yeah I am not sure about that particular use case. @pedroernesto might be better placed to comment on it as he owns that use case. My thougths on it are [here](https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/541#issuecomment-621062926).

[2020-05-01 09:51] appukuttan-shailesh commented on #541
I think I was right about the source of the error:
The [model](https://collab.humanbrainproject.eu/#/collab/8123/nav/395557?state=model.078d19ae-8107-476e-8efe-bf7b0e0898bd) used in that [UseCase](https://collab.humanbrainproject.eu/#/collab/8123/nav/530600) ([model_id = '078d19ae-8107-476e-8efe-bf7b0e0898bd'](https://collab.humanbrainproject.eu/#/collab/8123/nav/395557?state=model.078d19ae-8107-4

[2020-05-03 17:32] appukuttan-shailesh opened #542 "NEO visualizer has been updated"
Our team recently released a new version of the neo visualizer (used for viewing electrophysiological traces online). We moved to a new plotting library and this results in much faster (~ 5x) plotting of traces, even without using the 'downsampling' option.

This necessitated some changes in all the live papers that used this feature. I have updated the following use cases accordingly:

**2018**
2

[2020-05-04 07:16] AliceGem commented on #529
Hi @alex4200, I opened the pull request yesterday.

[2020-05-04 08:17] Helveg commented on #538
Under which path and filename should my documentation file be added?

[2020-05-04 08:46] lbologna commented on #529
Hello @alex4200, @AliceGem,

I inserted the new page with some minor changes to text and links.

Here's the link
https://lbologna.github.io/hbp-sp6-guidebook/online_usecases/brain_area_circuit_in_silico_experiments/cerebellum/functional_simulation_with_eglif/functional_simulation_with_eglif.html

Could  you please have a look before moving to prod?
Thank you.

[2020-05-04 09:05] AliceGem commented on #529
@lbologna thanks! I checked the links and they are ok, the rest is fine!

[2020-05-04 09:34] alex4200 commented on #519
@alex4200 Put into prod when all if fine
@clupascu Update documentation and figures

[2020-05-04 09:57] clupascu commented on #533
For the "Non 002-account users have no access to application folder" issue I opened a ticket on the Joint Infrastructure coordination ticketing system at
https://gitlab.humanbrainproject.org/joint_infrastructure_coordination/Coordination/issues/163

[2020-05-04 10:04] lbologna commented on #529
@alex4200 @AliceGem, I just did the minor changes as discussed during the call.

[2020-05-04 10:07] alex4200 commented on #529
Then ok from my side to push to prod

[2020-05-04 10:13] alex4200 commented on #458
@bweyers Hi Benjamin, do you have any update on that remaining task?

[2020-05-04 10:17] lbologna commented on #529
Ok, thanks.
Pushed to prod. Closing the ticket.

[2020-05-04 10:17] #529 closed, assigned to AliceGem

[2020-05-04 10:51] lbologna commented on #542
Hello @appukuttan-shailesh, Hello @alex4200,

I accepted the pull request. Most of the live papers are not using the neo-visualizer but given that this is a general purpose library that might be used elsewhere, a check could be useful.
I checked Migliore et al 2018 and found that the following traces cannot be visualized correctly:
	pyr-cac ->  95914003.abf not working
 	pyr-cac ->  95810031.abf n

[2020-05-04 14:22] alex4200 commented on #519
Pull request for Production done: https://github.com/antonelepfl/usecases/pull/346

[2020-05-04 14:27] alex4200 commented on #538
@Helveg Please see the other entries in the guidebook, that should give you an ideas.

But I would say it should go under source/online_usecases/brain_area_circuit_in_silico_experiments/cerebellum with a concise filename not containing any whitespaces.

@lbologna Do you have some input on that?

[2020-05-04 14:32] alex4200 opened #543 "HHNB use case with PizDaint generates an error"
### Expected behavior

I am able to select the "Hodgkin-Huxley Neuron Builder" usecase and use PizDaint as the computer system.

### Actual Behavior (please include screenshot if possible)

When I create a simulation with PizDaint I get the error "Submission ended with error: Operation not completed"

### Optional infrastructural data (user, platform, browser, environment, ...)

PROD

[2020-05-04 14:46] appukuttan-shailesh commented on #542
Thanks for the quick response @lbologna .
I had done a `grep` across all the live papers to find all that were loading the visualizer script files, and found all those listed above. But you are right, maybe many of them don't actually use it. The code might have been copied over from the template when they started making the live papers.

 I tested all the above 4 signals in Migliore et al 2018 ju

[2020-05-04 14:55] alex4200 commented on #542
@lbologna I also did a quick check, and for me something is shown for the traces you have listed

[2020-05-04 15:52] alberto-antonietti commented on #532
PR created to add this UC in the BSP guidebook.

https://github.com/lbologna/hbp-sp6-guidebook/pull/77

[2020-05-04 16:10] lbologna commented on #542
Hello @alex4200, @appukuttan-shailesh,

thanks for checking. I can visualize those traces (in Migliore et al 2018) as well now, but I cannot visualize another one, which is well visualized in a private window, though.
It seems that, after opening a few (5/10/..) traces, some of them cannot be opened anymore and the panel is not filled (simply, the traces do not show up, and no error is generated i

[2020-05-05 06:37] bweyers commented on #458
@alex4200 I finished a description of the use case and would now create a pull request for the content you find here: https://docs.google.com/document/d/1SOhrEVj8b65UffMD-WGjsME8pFXGmghAspBgbafjIZM/edit?usp=sharing

[2020-05-05 08:53] clupascu commented on #519
I updated the documentation and figures in the Guidebook. @alex4200 please take a look and let me know when we can close this issue. Thanks.

[2020-05-05 09:13] lbologna commented on #532
Hello,
I accepted the PR and did some minor changes/typos correction:

https://lbologna.github.io/hbp-sp6-guidebook/online_usecases/brain_area_circuit_in_silico_experiments/cerebrocerebellar/cerebrocerebellar_closed_loop_experiment/cerebrocerebellar_closed_loop_experiment.html

@alex4200 , @alberto-antonietti could you have a look before pushing to prod?
Thanks.

[2020-05-05 09:26] alberto-antonietti commented on #532
Thanks Luca!

I pushed a few minor changes, I am good with the rest.

[2020-05-05 11:04] alex4200 commented on #519
@clupascu Where to find the updates; I assume you mean the dev version of the guidebook?

[2020-05-05 11:35] clupascu commented on #519
Yes. Here's the link for the simple use case: https://lbologna.github.io/hbp-sp6-guidebook/online_usecases/trace_analysis/syn_events_fit/syn_events_fit.html . I updated also the other usecases of course.

[2020-05-05 11:45] alex4200 commented on #519
@clupascu The pages look good to me, can be put to PROD.

[2020-05-05 12:57] clupascu commented on #540
@pramodk @jorblancoa any news on this?

[2020-05-05 15:04] appukuttan-shailesh commented on #542
Just confirmed that the model UUIDs for the models in Eyal et al 2018 had infact changed. For the record, here is the mapping from the old to the new UUIDs:

[code]
 I have made the changes to the live paper in the latest PR.
But there seems to be an additional problem with the morphology viewer, as it is not launching even directly from within the model catalog at the moment. See:

https://collab

[2020-05-05 15:46] bweyers commented on #458
@alex4200 just created a pull request for including the use case into the guidebook.

[2020-05-06 08:03] lbologna commented on #458
Hello @bweyers and @alex4200,

I just accepted the pull request for the documentation.
Here's the link in DEV:
https://lbologna.github.io/hbp-sp6-guidebook/online_usecases/subcellular_level/NESTDesktop/NESTDesktop.html

Thanks @bweyers for not inserting the page in the toc at the moment. I suggest we keep it like this until the use case is ready in the BSP.

Do you already know in which Use Case g

[2020-05-06 09:37] bweyers commented on #458
@lbologna Thanks for accepting the pull request. Small circuit is also fine. However, NEST Desktop in actually a tool aka graphical user interface for NEST simulator running in the web. It has a slight focus on eduction as potetial use scenarios. It might be also possible to have a new category? I would support to not creating a new one...

Thus, we will not need a notebook. Should I add the JSON

[2020-05-06 09:41] alex4200 commented on #458
Hi,

I just found one small typo at the end of the documentation:

To get an overview of how to use it, please have a look at the QuickStart Section of NEST Dekstop’s documentation

Cheers

Alex

________________________________
From: lbologna <notifications@github.com>
Sent: Wednesday, May 6, 2020 10:03:30 AM
To: cnr-ibf-pa/hbp-bsp-issues
Cc: Dietz Alexander; Mention
Subject: Re: [cnr-ibf-pa/hbp-

[2020-05-06 09:47] bweyers commented on #458
@alex4200 Thanks! I fixed it locally but will wait with the pull request until we have all further changes needed integrated.

[2020-05-06 14:39] apdavison commented on #541
Please can someone provide a link to an installed version of the use case in question? (in a collab I have access to), so I can quickly take a look?

[2020-05-06 14:52] alex4200 commented on #541
@apdavison I just shared a collab with you where I ran the use case again (and saved all the outputs): B1022

[2020-05-06 15:02] alex4200 opened #544 "Code error in "Multicompartmental simulation of the cerebellum" usecase"
### Expected behavior

No error in the notebook

### Actual Behavior (please include screenshot if possible)

Code error in code cell below simulation run:

[code]

### Steps to reproduce the problem

Run the notebook cell - by-cell.

But still I can continue with the following code cells, maybe it is not a critical error?

### Optional infrastructural data (user, platform, browser, environment, .

[2020-05-06 15:12] apdavison commented on #541
Thanks @alex4200

@pedroernesto I think the simplest solution would be to remove the part where the user creates a new model instance, and instead use a pre-existing model instance.

For v2 of the VF, we can look into changing the permissions required in this scenario (see https://github.com/HumanBrainProject/hbp-validation-framework/issues/262)

[2020-05-06 15:32] pedroernesto commented on #541
Ok, I will do it. @alex4200 I will let you know as soon as it is ready and tested

[2020-05-07 11:07] Helveg commented on #544
There seems to be an `import types` missing in `scaffold/simulation.py`.  But it is indeed only to visually report progress of the simulation, and not an essential part of the simulation.

Where should I fix this error, just in my original notebook or is some copy of it made during deployment?

[2020-05-07 11:19] alex4200 commented on #544
Hi @Helveg ,

the best place to fix this error is the DEV location of the notebook which is under "file" in the usecases.json:

   "file": "9a820c03-fe7f-41f2-aede-ab8eeae16f5e",

which in turn points to this location:

    https://collab.humanbrainproject.eu/#/collab/79605/Cerebellar scaffold multicompartmental simulation.ipynb

which in turn might be one of the notebooks in that collab (I seem t

[2020-05-08 12:40] lbologna commented on #542
Thank you @appukuttan-shailesh for looking into this and following the morphology viewer issue.
I accepted your corrections for the Eyal Live Paper and links work now, so I put already in Prod.

[2020-05-08 14:05] alex4200 commented on #542
Hi,

I have some comments to the "Calculation of bimolecular association rates with webSDA" guidebook page:

1. In the first line it reads:"This use case describes how you can predict **protein-protein the** diffusional association rate constant by using the web server version of the SDA (Simulation of Diffusion Association) package." Maybe the "protein-protein" and the "the" are swapped?
2. The b

[2020-05-08 14:23] appukuttan-shailesh commented on #542
@alex4200 : are these comments for a different ticket?

[2020-05-08 14:24] alex4200 commented on #542
yes of course... (I will remove it)

[2020-05-08 14:30] appukuttan-shailesh commented on #542
Thanks @lbologna
We are looking into ways to fix the morphology viewer. Shall update as soon as I have something.

[2020-05-08 16:04] jorblancoa commented on #540
Hi @clupascu

We will run some tests next week and contact support if necessary and we will get back to you as soon as possible.

[2020-05-12 07:44] antonelepfl commented on #501
I am not able to submit a job can you have a look?

[2020-05-12 07:55] alex4200 commented on #501
As far as  I know there is maintenance today at PizDaint

[2020-05-12 07:57] antonelepfl commented on #501
Ok thanks for the update.

[2020-05-12 15:48] bweyers commented on #458
@lbologna There are still some questions I have. I would very much appreciate if you could have a look at them and send me an answer: https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/458#issuecomment-624543876

[2020-05-12 16:53] lbologna commented on #458
Hello @bweyers,

I discussed together with @mmigliore about where to position the NEST-Desktop web app, and given that it will be a Use Case running on a standalone platform, we believe it would be suitable in this case to create a new item named "NEST Desktop" which will redirect the user to the NEST Desktop web server (https://nest-desktop.apps.hbp.eu/#/).

This could be put in the Online Use Ca

[2020-05-13 07:17] bweyers commented on #458
Hi @lbologna,
Hi @mmigliore.,

I am wondering whether there is the chance to rename the category? The description provided seems reasonable for NEST Desktop but I would assume that one would not assume to find NEST Desktop under "Highly Integrated Workflows" as NEST Desktop is not a tool for workflow modeling/implementation or does not implement a workflow. What about "brain modelling tools" as me

[2020-05-13 08:16] lbologna commented on #458
Hello @bweyers,

our suggestion is to put "NEST Desktop" at the same level of the other Use Case groups (for example below (or above) the "Highly Integrated Workflows", not under/inside that group).
This will not hide its visibility and will not create misunderstandings in that the name "NEST Desktop" should well identify it as a standalone application.

[2020-05-13 08:19] bweyers commented on #458
Hi @lbologna
Oh that is great then! That would make sense :) Sorry for the misunderstanding.

That is fine with me. I will do the adaption in the reposirtory and create a pull request.

[2020-05-13 08:33] bweyers commented on #458
@lbologna I just created the pull request. Let me know if there is anything else I need to do.

[2020-05-13 08:33] alex4200 commented on #326
@mgeplf @asanin-epfl Is there any update on this jupyter notebook?

[2020-05-13 08:34] alex4200 commented on #541
Hi, @pedroernesto, any update on this issue?

[2020-05-13 08:39] alex4200 commented on #543
@lbologna can have a look by 15.5.2020.

[2020-05-13 08:45] alberto-antonietti commented on #532
The documentation of this UC is now in the guidebook. Shall we close this issue?

[2020-05-13 08:45] alex4200 commented on #519
Notebooks are up-to-date, documentation is updated. Closing ticket.

[2020-05-13 08:45] #519 closed, assigned to clupascu

[2020-05-13 08:49] alex4200 commented on #532
@alberto-antonietti @lbologna I found a small typo for this documentation, in the section "Output":

![Screenshot 2020-05-13 at 10 48 28](https://user-images.githubusercontent.com/12729291/81791720-5ca75000-9507-11ea-868b-fcad8476bbfb.png)

[2020-05-13 08:52] alex4200 commented on #538
@Helveg Do you have any updates on this issue?

[2020-05-13 11:03] asanin-epfl commented on #326
Hi! This notebook has been simplified for the end-user. Currently I'm waiting for a final approval of it. It can't be given until PizDaint is running. PizDaint should be running again tomorrow.

[2020-05-13 12:40] alex4200 commented on #532
Fix on production, closing ticket

[2020-05-13 12:40] #532 closed, assigned to alberto-antonietti

[2020-05-13 16:33] Helveg commented on #538
Sorry I lost track of this, I'll do it today

[2020-05-15 10:00] antonelepfl opened #545 "BSP - Create Releases"
As Luca B mentioned in the past it would be good to have some releases on the BSP-Usecases repo so we can point to that on some documentation.
I'm creating this ticket so we don't forget about it but the implementation would be for SGA3

[2020-05-15 10:02] pedroernesto commented on #541
I can connect to the Collab today, but it seems that problems with CSCS machines continue after the recent cyber-attack. I can not access the notebooks. I suspect that KG connection will be similarly running down.
As I said @alex4200, I will let you know when I solve this.

[2020-05-15 13:23] Helveg commented on #544
@alex4200 I believe I fixed the problem locally but the notebook seems to be down. Maybe related to the recent cyber attack?

[2020-05-15 13:40] alex4200 commented on #544
@Helveg Thanks for the update, and yes the notebooks are unavailable at the moment because CSCS is down as a result of the cyberattack.

[2020-05-18 07:24] appukuttan-shailesh commented on #542
This is still work in progess. With the KG being down at the moment, there isn't much scope for working on this. So might have to wait a week or two longer. Shall update whenever we have something going.

[2020-05-18 07:47] asanin-epfl commented on #326
Unfortunately I still can't access collab Notebooks. We have to wait again until they are up and running.

[2020-05-18 12:13] alex4200 commented on #538
Documentation in PROD

[2020-05-18 12:13] #538 closed, assigned to Helveg

[2020-05-22 08:25] alex4200 commented on #544
@Helveg The notebooks seem to be back running.

[2020-05-22 08:25] alex4200 commented on #543
@lbologna  The notebooks seem to be back running.

[2020-05-22 08:25] alex4200 commented on #542
@appukuttan-shailesh  The notebooks seem to be back running.

[2020-05-22 08:25] alex4200 commented on #326
@asanin-epfl  The notebooks seem to be back running.

[2020-05-22 08:25] alex4200 commented on #541
@pedroernesto  The notebooks seem to be back running.

[2020-05-22 13:24] alex4200 commented on #544
@Helveg I did a rerun of the use case, but I ran into problems in the third code cell (notebook 79605/Cerebellar scaffold multicompartmental simulation.ipynb) with the following error:

[code]

[2020-05-22 13:29] Helveg commented on #544
I don't think I left my notebook in a runnable state before the crash, I can look at it tonight

[2020-05-22 13:29] alex4200 commented on #544
Ah ok, thanks a lot

[2020-05-23 07:57] appukuttan-shailesh commented on #542
Thanks for the update @alex4200 .
Still waiting to hear back from the team handling the morphology viewer. Shall send a reminder, and update here once I have something.

[2020-05-25 08:12] antonelepfl commented on #501
@lbologna do we have any news on this?
I think the Unicore in PizDaint needs to be restarted

[2020-05-25 08:19] lbologna commented on #501
Hello @antonelepfl,

just checking. I'll keep you posted.

[2020-05-25 08:39] asanin-epfl commented on #326
Yes! I tried just now but I still can't create jobs on PizDaint, 500 error. Can you?

[2020-05-25 08:47] antonelepfl commented on #326
I cannot run it neither https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/501#issuecomment-633442366

[2020-05-25 08:53] alex4200 commented on #458
Use case online as well documentation.

Closing ticket

[2020-05-25 08:53] #458 closed, assigned to bweyers

[2020-05-25 09:32] antonelepfl commented on #501
@BerndSchuller Do you think you can restart it on PD and Jureca?

[2020-05-25 10:31] pedroernesto commented on #541
With no changes and same choices, today the DEV notebook for this usecase (on 'Model validation suites' Collab) is running till the end (with my HBP account). Trying now the one on the BSP Collab.
Anyway, I will introduce some small modifications to avoid this kind of issues in the future.

[2020-05-25 10:33] BerndSchuller commented on #501
As you know there was a massive security issue on many HPC systems across Europe.I think Piz Daint is back online, but JSC's HPC systems are still offline.
As to the Piz Daint UNICORE services, you'll need to contact Piz Daint admins -> primarily this would be Fabio Verzelloni

[2020-05-25 11:14] pedroernesto commented on #541
Same for the PROD notebook on the BSP collab (with my HBP account). Last time I even could not pass section 'A' about hard constraints, as a connection problem arose.

[2020-05-25 11:59] Helveg commented on #544
@alex4200 Ok for me my DEV notebook works again, but the `neuron.hdf5` file provided in the storage is outdated and I still need to replace it. I can do that tonight.

[2020-05-25 12:05] alex4200 commented on #541
@pedroernesto: I still get the 403 error when I use a non HBP test user. (DEV and PROD)

When I use my normal user this use case works on PROD.

But as far as I know this use case should also work for a test user. Is that correct?

[2020-05-25 12:16] alex4200 commented on #544
@Helveg Thanks for the update.

Please keep me posted!

[2020-05-25 12:34] appukuttan-shailesh commented on #541
So to reproduce/test the problem, we need to use an account that is not a member of Collab #1771 ([see Team list here](https://collab.humanbrainproject.eu/#/collab/1771/nav/15953)). So the problem is more specific than the account being a non HBP test user.

I hope that helps.

[2020-05-25 15:21] pedroernesto commented on #541
@alex4200 I will add some modifications to the usecase, to make it work for other users, yes. As @apdavison suggested, I will eliminate the need to create a new model instance.

[2020-05-25 21:38] Helveg commented on #544
@alex4200 The DEV notebook seems to be fully functional again!

[2020-05-26 07:11] alex4200 commented on #544
Hi @Helveg, I tried the DEV notebook, but in the section "Spike Raster" after the simulation I got the following error:

[code]

Maybe the notebook uses a wrong version of `scaffold`? I also cannot see that module with `pip list`.

[2020-05-26 08:25] Helveg commented on #544
Thank you for your extensive testing! The `latest_results` function was missing from `scaffold/output.py`, I've added it to `notebook_tools.py` and adjusted the notebook itself. The 3 bottom plots are now working again. Some deprecation warnings have been introduced because of outdated dependencies but it all works so let's ignore these ;)

PS: The reason why you didn't see it with `pip list` is b

[2020-05-26 13:46] alex4200 commented on #544
@Helveg I got the same error again. Do we talk about the same notebook? The one I am using is located at Collab 79605 with the name `Cerebellar scaffold multicompartmental simulation.ipynb`.

[2020-05-27 02:40] Helveg commented on #544
I'm not a 100% on how the virtualization of the Collab works, so your notebook might be in a different state than mine. We both access https://collab.humanbrainproject.eu/#/collab/79605/nav/540654 right?

* Can you confirm that none of the code cells contain  `from scaffold.output import latest_results`?
* Can you run `!rm notebook_tools.py` and then run the 2nd code cell at the top of the screen,

[2020-05-27 12:08] pedroernesto commented on #541
@alex4200 it should work now. Can you try the latest DEV version, with other test users?
I have reduced user intervention to just reporting cells of the notebook and introduced the following changes:

- Section 3: Selection of _Models collection_ and _Model instances_ from Model Catalog are now automated, and the latter set to 'all' by default. For _Models collection_ the user can not choose MSN c

[2020-05-27 14:06] alex4200 commented on #541
@pedroernesto Unable to test as the DEV version of this notebook seem to have vanished.

Did you delete the notebook or the file and create a new one? You should not do that, as the reference ID in the usecases.json becomes invalid.

What is the link to the current DEV notebook now? I will test the notebook and can fix the wrong ID in the usecases.json file...

[2020-05-27 15:00] pedroernesto commented on #541
Oh, sorry for that.
I did not know other way to update it. Usually the old file saved on Storage would enter in conflict with the new one, if names are the same. So, I deleted it, then imported the new one and added a Jupyter notebook as a child under label _UseCases Source Files_.

The latest DEV version is now available at https://collab.humanbrainproject.eu/#/collab/8123/nav/567961

[2020-05-27 15:00] alex4200 commented on #544
@Helveg I have trouble running this notebook. I sometimes get random kernel failures, and then the network compile cell does not respond:

![Screenshot 2020-05-27 at 16 39 16](https://user-images.githubusercontent.com/12729291/83034540-aa0fdb00-a038-11ea-851d-8bb5d7b4ef04.png)

I am not sure if the cell is running, or not running, or what.

I tried again, but I got a different error (not sure what

[2020-05-27 15:02] alex4200 commented on #541
@pedroernesto Thanks for the info.

If you want to update something, only use THIS notebook: https://collab.humanbrainproject.eu/#/collab/8123/nav/567961

No need to recreate something, delete something etc. Just edit and save This notebook: https://collab.humanbrainproject.eu/#/collab/8123/nav/567961

Then I can easily select it in the BSP for testing!

[2020-05-27 15:11] pedroernesto commented on #541
@appukuttan-shailesh  does not recommend to work directly on the DEV versions. So, maybe the best way for me in the future, is to work in another Collab and when everything works, start editing the existing DEV version by copy+paste the new changes.

[2020-05-27 15:13] Helveg commented on #544
Right above the cell it mentions that the compilation process can take up to 10 minutes, the line below it it mentions that you can switch to another command to show more progress, and next to the cell is an asterisk indicating that the cell is still running, which will turn into a number when it is finished. As with all Jupyter notebooks.

Or you create a separate GUI outside of the Collab outsid

[2020-05-27 15:17] Helveg commented on #544
These are the init and finalize functions:

[code]

[2020-05-27 15:36] Helveg commented on #544
Can you tell me how I could also completely reset my container as you did? Maybe there's some state left over from previous things I did.

[2020-05-27 15:41] alex4200 commented on #544
You can write an email to `support@humanbrainproject.eu`, or way faster, you give me your User ID:

On the Collab on the top right you have a small icon (maybe a letter or a photo) to get to your profile, the on the left you have 'profile', and there you have the User ID

[2020-05-27 15:42] alex4200 commented on #541
@pedroernesto Thanks a lot, the notebook now seems to work finally!

If that is the final version I will update the usecase.json tomorrow, and then implement it to the automated tests, and then merge it to PROD.

[2020-05-27 15:46] Helveg commented on #544
UserID: 308446

[2020-05-28 04:22] antonelepfl commented on #501
Thank you Bernd for the information. I contacted Fabio Verzelloni and this is fixed.

[2020-05-28 04:22] #501 closed, assigned to lbologna, rcsm17

[2020-05-28 08:45] alex4200 commented on #544
@Helveg Your container should have been reset. Now you can try with a Collab 'from scratch'...

[2020-05-28 09:23] pedroernesto commented on #541
Thanks for those good news @alex4200!
I tried a last diligent proofreading of the whole notebook, specially the markdown cells. But I spotted only a kind of typo in one sentence of the introduction to Section 2:

"NOTE: Even if this notebook is not run inside a Collab, the following cell needs to be executed. _It will identify if environment and manage accordingly._  When not run inside a Collab,

[2020-05-28 09:57] appukuttan-shailesh commented on #541
Corrected the typo now in all DEV notebooks.

[2020-05-29 13:35] jorblancoa commented on #540
hi @clupascu

Right now Juelich systems are down, but once they are up and running and I would be able to run some test I will let you know.

[2020-05-29 14:59] Helveg commented on #544
I now get the same error after a container reset. I will try to fix it asap. I've made the other changes you suggested. (Kept the spinner ;) but removed the kernel restart)

[2020-05-29 15:24] Helveg commented on #544
@alex4200 For some strange reason a kernel restart is required between installing a package and its dependencies before python's `pkg_resources` picks up on its installation. Therefore I moved the installation of the dependency to the codecell that is executed before the kernel restart that the user is prompted about.

I've tested all cells and they seem fine now! Give it a go with the latest vers

[2020-06-02 14:06] alex4200 opened #546 "Code error 'StorageNotFoundException: The entity is not found' for Synaptic Events Fitting"
### Expected behavior

No error

### Actual Behavior (please include screenshot if possible)

[code]

### Steps to reproduce the problem

For the DEV version of the use case 'Synaptic events fitting':

1. Reset the container
2. Run the notebook; there is one reload/restart expected
3. Run the notebook -> GUI is created
4. Select the first experimental data file
5. Start DEMO run on Service Account

[2020-06-02 14:32] alex4200 opened #547 "GUI error for use case "Synaptic events fitting with user model" (DEV)"
### Expected behavior

Able to specify parameters for the model

### Actual Behavior (please include screenshot if possible)

Although specifying the number of parameters, the GUI does not show the possibilities to insert the parameters

![Screenshot 2020-06-02 at 16 30 46](https://user-images.githubusercontent.com/12729291/83532379-74626a80-a4ee-11ea-82d0-04c49a5e6e52.png)

### Steps to reproduce

[2020-06-03 08:06] alex4200 commented on #544
@Helveg I just finished testing the current DEV notebook, but I had problems with the installed version of numpy. The line `from scaffold.core import from_hdf5` created an import error, was requiring numpy 1.13.3.

Maybe you can add that as a requirement in one of the cells before the kernel restart?

[2020-06-03 08:40] alex4200 commented on #543
Update from @lbologna : On DEV the use of PizDaint might work again, but the results returned are invalid.

[2020-06-03 08:43] Helveg commented on #544
Very strange, it seems to be alike to the previous error. My `setup.py` script states `numpy>=1.16.4` as a dependency, and it gets installed. But like with the previous error on the first run of a container it seems to miss the freshly installed packages...

We would have to move the installation of the following packages into the pre-kernel-restart code cell:
[code]

[2020-06-03 08:44] clupascu commented on #546
@alex4200 This issue should be fixed now. I fixed folder names in order to not get "entity not found" anymore. Can you please test again? Thanks.

[2020-06-03 08:50] clupascu commented on #547
@alex4200 I am able to specify the parameters. 5 rows of text boxes are created when I insert '5' for number as parameters in the fourth tab. Can you please try again and let me know? Thanks.

[2020-06-03 09:19] alex4200 commented on #546
Yes seems to be fixed, thanks

[2020-06-03 09:19] #546 closed, assigned to clupascu

[2020-06-03 10:41] Helveg commented on #544
@alex4200 I've copied the pip install commands to the code cell before the kernel restart, is the problem solved now?

[2020-06-03 13:44] alex4200 commented on #547
yes works

[2020-06-03 13:44] #547 closed, assigned to clupascu

[2020-06-03 14:39] alex4200 commented on #544
I am still getting the following error (for cell after **Full network plot (only cell soma)**)"

[code]

[2020-06-03 14:51] Helveg commented on #544
I have no idea why it would detect numpy 1.11.2 that seems like a BSP/Collab specific issue. What does `pip show numpy` tell you? Can you try `pip install numpy==1.16.4`, restart the kernel and try to run the cell again?

**Update:** It is for sure environment specific, for me all 3 of these code cells produce their plot. Can me/you try another container reset?

[2020-06-04 11:57] alex4200 commented on #544
After a container restart I made the following observations:

- Without running anything: numpy 1.11.2
- After running the first install cell: numpy 1.11.2
- After a restart of the kernel: numpy 1.11.2
- After running the second install cell (which installs the same package as the first install cell?): numpy 1.18.5
- But still running the one cell gives the same error
- Then I did a restart of the

[2020-06-04 12:51] alex4200 commented on #326
use case implemented and documentation added.

[2020-06-04 12:51] #326 closed

[2020-06-04 13:04] Helveg commented on #544
So the issue is probably that the fresh containers already have some (VERY OLD) python packages installed (and they even get imported when the kernel starts?)

I don't remember exactly why but there was also a strange reason why I seperated the 2 setup cells to begin with and wanted to be so absolutely sure the kernel was restarted in between. Numpy is very standard and might be the only affected

[2020-06-08 07:37] appukuttan-shailesh commented on #541
I believe this ticket can now be closed. Do let me know if anything is pending.

[2020-06-08 07:57] #541 closed, assigned to apdavison, pedroernesto, appukuttan-shailesh

[2020-06-08 07:58] appukuttan-shailesh commented on #542
This is almost ready.
Details here: https://github.com/HumanBrainProject/hbp-validation-framework/pull/264

Awaiting some final changes on the morphology viewer back-end. Should be soon.

[2020-06-08 09:31] lbologna commented on #543
Everything seems to work now. The latest problem was probably due an old optimization file that we were using for testing and that was generated before the latest modification done to the optimization dataset. I added an example .zip file in the Guidebook page so that users are guided in creating their own model.
Here's the link to the guidebook page:
https://humanbrainproject.github.io/hbp-sp6-gu

[2020-06-08 12:25] alex4200 commented on #543
With the new example file it seems to work fine with PizDaint and Service Account, closing ticket

[2020-06-08 12:25] #543 closed, assigned to lbologna

[2020-06-08 17:03] alberto-antonietti opened #548 "client.storage.download_file() not working"
### Expected behavior
`client.storage.download_file() `should download a file from a storage location to a Jupyter notebook

### Actual Behavior (please include screenshot if possible)
An error is generated.

[code]

AttributeError: 'Client' object has no attribute 'download_file'
### Steps to reproduce the problem

In a new notebook (but this appears also on previously working UCs already in PROD

[2020-06-09 06:52] AliceGem commented on #548
The same happens to mine (Olivo-cerebellar microcircuit - https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/529).

[2020-06-09 08:26] alex4200 commented on #544
Hi @Helveg, I might have found a procedure that should work:

1. You need to add a new code cell between the first and the second code cell with the following content:

[code]

2. Below that you have to give the hint to restart the kernel.

3. Take out the 'hbp_service_client' install from the one code cell

4. Then the user continues normally with the 3rd code cell (the previous 2nd code cell), i

[2020-06-09 08:40] clupascu commented on #548
I use hbp-service-client==1.1.0 and client.storage.download_file works fine.

[2020-06-09 08:51] alberto-antonietti commented on #548
Thanks for checking Carmen. Today it seems to be working fine, as before

[2020-06-09 08:52] #548 closed, assigned to nobody

[2020-06-09 10:27] Helveg commented on #544
@alex4200 Done

[2020-06-12 07:50] appukuttan-shailesh commented on #542
This is now completed. Sample link for testing:
https://collab.humanbrainproject.eu/#/collab/1655/nav/75901?state=model.01284a1d-6fd3-4cc0-8fa7-41eada65d9d9

"View Morphology" button for above will now redirect to:
https://neuroinformatics.nl/HBP/morphology-viewer-dev/?url=https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/Migliore_2018_CA1/models/CA1_int_bAC_011017HP2_20180110153901/

[2020-06-12 09:15] alex4200 commented on #542
Seems to work, closing ticket

[2020-06-12 09:15] #542 closed, assigned to appukuttan-shailesh

[2020-06-12 13:39] #544 closed, assigned to Helveg

[2020-08-10 08:16] antonelepfl opened #549 "Model Catalog SSLError"
### Expected behavior
When I try to fetch some models using the url `https://validation-v1.brainsimulation.eu/models/` now I get
[code]
This started the 9th of August (before it was working properly)

I can use the `requests.get(..., verify=False)` in python but it would be better to know what changed that day.

@apdavison @appukuttan-shailesh

[2020-08-12 13:36] appukuttan-shailesh commented on #549
The certificate problem should now be fixed. Can you re-check?

[2020-08-12 14:45] antonelepfl commented on #549
Yes perfect thank you!

[2020-08-12 14:45] #549 closed, assigned to nobody

[2020-09-03 10:28] antonelepfl opened #550 "Service Account - working with EBrains"
I have deployed a new version of the Simulation Launcher using EBrains client but when I try to get some information using the endpoint `https://bspsa.cineca.it/advanced/pizdaint/rest/core` I get 500 error.

If I remember correctly at some point we were protecting the calls to the API allowing only some origins to go thru. Can we add this origin `https://simulation-launcher-bsp-epfl.apps.hbp.eu` t

[2020-09-10 12:20] clupascu commented on #533
Hi @pramodk @jorblancoa,

it seems the recent maintenance on CSCS  broke some modules on PizDaint

bp000028@daint101:~> module load daint-mc cray-python/3.6.5.7 PyExtensions/3.6.5.7-CrayGNU-19.10
cray-python(3):ERROR:105: Unable to locate a modulefile for 'cray-python/3.6.5.7'
PyExtensions(3):ERROR:105: Unable to locate a modulefile for 'PyExtensions/3.6.5.7-CrayGNU-19.10'

Can you take a look ple

[2020-09-10 12:22] clupascu commented on #533
@pramodk @jorblancoa It seems

Python is updated from 3.6 to 3.8. The module cray-python/3.6.5.7 is removed and replaced with cray-python/3.8.2.1. Any virtual environments created using cray-python/3.6.5.7 will need to be recreated with the updated version of Python.

[2020-09-11 05:31] pramodk commented on #533
@clupascu : with the last maintenance above errors are expected because we need to recompile all softwares. I suggest to create new ticket for this instead of reopening this old one. @jorblancoa will be back on Monday and then we will redeploy new stack.

[2020-09-11 06:25] clupascu commented on #533
Ok. I will close this one and open a new one.

[2020-09-11 06:25] #533 closed, assigned to jorblancoa

[2020-09-11 06:29] clupascu opened #551 "Redeploy new stack on PizDaint after the maintenance on 9th of September 2020"
### Expected behavior
loading modules without problems

### Actual Behavior (please include screenshot if possible)
Python is updated from 3.6 to 3.8. The module cray-python/3.6.5.7 is removed and replaced with cray-python/3.8.2.1. Any virtual environments created using cray-python/3.6.5.7 will need to be recreated with the updated version of Python.
Softwares must be recompiled.

### Steps to rep

[2020-09-14 08:45] antonelepfl commented on #517
I'm getting Unicore TSIUnavailableException
```{"errorMessage":"Error downloading from '/BlueConfig': de.fzj.unicore.xnjs.tsi.TSIUnavailableException: TSI unavailable: java.io.IOException: Can't create connection to TSI connector @ daint101.cscs.ch/148.187.26.64:4433: java.net.ConnectException: Connection refused (Connection refused) [XNJS error 10]","status":500}```

Can you have a look @BerndSch

[2020-09-14 08:48] BerndSchuller commented on #517
this is on DAINT so Fabio Verzelloni at CSCS would be the one to look.
Seems the TSI daemon is not running.

[2020-09-14 09:02] antonelepfl commented on #517
Thank you Bernd for the prompt reply. I'll contact him then.

[2020-09-14 17:50] rcsm17 commented on #550
I think I fixed it, could you check if it works now ?

[2020-09-15 10:18] antonelepfl commented on #550
Yes it seems to work so far! Thank you Roberto

[2020-09-16 08:39] ElisabettaGiacalone commented on #551
Hi @pramodk  do you have any update on this issue? We are blocked in our Hippocampus exploitation campaign due to this issue.

[2020-09-16 10:21] pramodk commented on #551
@jorblancoa has been working on this since yesterday. It's taking some time because all software stack and system packages are updated during last maintenance. He will update here soon.

[2020-09-18 14:03] jorblancoa opened #552 "Disk quota exceeded in Jusuf - project cvsk25"
While deploying the software stack under project cvsk25 directory in Jusuf, I got a disk quota exceeded error.
After checking, the soft limit has been reached.

![Screenshot 2020-09-16 at 10 11 29](https://user-images.githubusercontent.com/41900536/93606409-4d11a980-f9c8-11ea-84e1-9df029d801d3.png)

[2020-09-18 16:38] pramodk commented on #552
@mmigliore : we are close to finalise the deployment but couldn't finish it due to quota. Could you take a look?
(cc : @wvangeit )

[2020-09-19 13:53] mmigliore commented on #552
we have deleted the previous model, freeing several Tb of disk space. Please see if you can also delete large files in your accounts and try again. Consider that the tool on JUDOOR that shows the storage is updated every 9Hrs.

[2020-09-22 10:08] jorblancoa commented on #551
I have finished the deployment and validation of the new modules on Piz Daint after the maintenance.
You can find the instructions in the [wiki](https://github.com/BlueBrain/spack/wiki/Piz-Daint-Deployment), but apart from new version on some python modules the main change in your scripts would be:

`module load daint-mc cray-python/3.8.2.1 PyExtensions/python3-CrayGNU-20.08`
`module use /apps/hbp

[2020-09-25 06:36] #550 closed, assigned to lbologna, rcsm17

[2020-09-25 06:37] #517 closed, assigned to nobody

[2020-09-25 06:48] antonelepfl opened #553 "Unicore launch non consistent with user launch (PizDaint)"
I launched some job with this config
[code]

Where `input.sh`
[code]

But I get
[code]

But if I access the machine and allocate some resources and run like
[code]
I don't get those error and it works fine.

For example in this folder:
`/scratch/snx3000/unicore/FILESPACE/9a2ed0d2-6d74-4c72-87d3-26801e073094`

[2020-09-25 07:10] BerndSchuller commented on #553
hi Stefano,

not really a Piz Daint expert, but please have a look at the file bss_submit_* in the working directory folder
/scratch/snx3000/unicore/FILESPACE/9a2ed0d2-6d74-4c72-87d3-26801e073094

If this looks OK, a full output of "env" in both cases (UNICORE vs ssh&salloc) might help to track down why the UNICORE launch is not doing as expected.

[2020-09-29 17:59] jorblancoa commented on #552
It worked fine, thanks!

[2020-10-05 09:04] ppodhajski opened #554 "500 when calling https://bspsa.cineca.it/advanced/pizdaint/rest/core/jobs"
Hello,
When I call **https://bspsa.cineca.it/advanced/pizdaint/rest/core/jobs**  I receive error 500 with this errorMessage:
`Could not submit job: de.fzj.unicore.xnjs.ems.ExecutionException: Could not create directory. [XNJS error 0]`

This is an intermittent behavior, I'd say 50% chance I will get an error.

Request payload:
`
{"Name":"05/10/_3","Executable":"/bin/bash input.sh","haveClientStage

[2020-10-07 07:47] antonelepfl commented on #554
This was fixed

[2020-10-07 07:50] antonelepfl commented on #553
Sam from `prgenv-rt@cscs.ch` replied:

So they are working on it

[2020-10-07 08:15] jdcourcol commented on #551
@clupascu  can this be closed ?

[2020-10-07 08:23] clupascu commented on #551
@jdcourcol I am still waiting for some confirmations on the good functioning of the new modules. I will close it when the tests will be finished.

[2020-10-07 12:58] clupascu commented on #551
@jorblancoa I did some tests on PizDaint and when I submit a job using in my .sbatch file

module load daint-mc cray-python/3.8.2.1 PyExtensions/python3-CrayGNU-20.08
module use /apps/hbp/ich002/hbp-spack-deployments/softwares/15-09-2020/install/modules/tcl/cray-cnl7-haswell
module load neuron/7.8.0c
module load py-bluepyopt
nrnivmodl mechanisms

I get at some point

/bin/sh: CC: command not found

[2020-10-09 06:46] antonelepfl commented on #553
A new update on this:

Which I replied:

[2020-10-09 07:41] clupascu commented on #553
I have the same issue. When I submit with sbatch bss_submit_* everything works perfectly though.

[2020-10-09 07:43] clupascu commented on #551
It seems the above error is due to

ModuleCmd_Load.c(244):ERROR:105: Unable to locate a modulefile for 'daint-mc'
cray-python/3.8.2.1(45):ERROR:105: Unable to locate a modulefile for 'PyExtensions/python3-CrayGNU-20.08'

when the job is submitted through Unicore. Otherwise the new modules work perfectly. I will close this issue.

[2020-10-09 07:43] #551 closed, assigned to pramodk, jorblancoa

[2020-10-09 08:10] jorblancoa commented on #551
Sorry for being late answering here. Yesterday I tried to reproduce the errors you were getting and I didn't manage, so I wanted to investigate further today. I'm glad you found the root of the issue.

Cheers,
Jorge

[2020-10-09 08:22] clupascu commented on #551
Thank you @jorblancoa

Cheers,
Carmen

[2020-10-22 08:15] antonelepfl commented on #553
@clupascu could you please check if the modules are loaded correctly now?

[2020-10-23 06:57] clupascu commented on #553
@antonelepfl Seems everything works perfectly now. I think we can close this issue. Do you know what caused this problem? Just to remind it for the future...

[2020-10-23 07:14] antonelepfl commented on #553
Thank you Carmen for checking!
Not very sure what was the solution. I asked Fabio and I'll be posting some details if he provides them to me

[2020-10-23 07:14] #553 closed, assigned to nobody

[2020-10-29 15:27] jorblancoa commented on #552
Hi @mmigliore
I was trying to deploy the new software stack in Judor/Jureca and I encountered the same quota issues.

[code]
I checked how much space we are using with our deployment and in total (between Jusuf and Jureca) we are using 24 GB, so even if i delete some old deployed versions it wont be enough.

Could you have a look?
Thanks!

[2020-10-29 15:48] mmigliore commented on #552
Hi Jorge,
you should deploy on the new account for JUSUF, where we have 17Tb of disk
space.
icei-hbp-2020-0001

not on the cvsk25, which is for JURECA Booster.
Best
Michele

On Thu, Oct 29, 2020 at 4:27 PM Jorge Blanco Alonso <
notifications@github.com> wrote:

[2020-10-30 10:09] antonelepfl commented on #553
Fabio replied with the changes that he did:
- fix in the simpleidb file in unicorex configuration, the call to the new bash.bashrc file that set all the environment
- add a line in the tsi startup properties with the MODULEPATH

[2020-11-03 13:42] jorblancoa commented on #552
Thanks @mmigliore !
I redeployed in the icei-hbp-2020-0001 for JUSUF.
What about jureca-booster? Shall we stop deploying?

[2020-11-03 13:49] mmigliore commented on #552
Thank you.
Yes, the allocation on jureca has expired and will not be renewed.
Could you post the instructions to load the different modules and the
simulation script templates?
Best
Michele

On Tue, Nov 3, 2020 at 2:43 PM Jorge Blanco Alonso <notifications@github.com>
wrote:

[2020-11-03 14:22] jorblancoa commented on #552
You can find the instructions here:
https://github.com/BlueBrain/spack/wiki/JUSUF-Deployment

[2020-11-04 10:32] #552 closed, assigned to nobody

[2021-01-25 13:02] clupascu commented on #537
I have the same issue now.

[2021-01-25 13:49] BerndSchuller commented on #537
Authentication seems to work (for collab2 at least) - what exactly do you get from the /rest/core endpoint?
To fix the user mapping ("role" and "xlogin") you'd need to contact Fabio Verzelloni fverzell@cscs.ch

[2021-01-25 13:59] clupascu commented on #537
I get this on collab2
{'server': {'jobSubmission': {'message': '', 'enabled': True},
  'credential': {'dn': 'CN=ronco.cscs.ch,O=ETH Zuerich,L=Zuerich,ST=Zuerich,C=CH',
   'issuer': 'CN=QuoVadis Global SSL ICA G2,O=QuoVadis Limited,C=BM'},
  'externalConnections': {'UFTP Server': 'OK',
   'XUUDB attribute source': 'OK',
   'Gateway': 'OK',
   'Registry': 'OK',
   'TSI 1': 'OK'},
  'trustedCAs': ['C

[2021-01-25 14:00] clupascu commented on #537
Fabio just replied that my user is correctly mapped, but they are having some issue with the pem certificate of the CA.
He will let me know as soon as the problem is solved.

[2021-01-26 12:43] clupascu commented on #537
Fabio solved the issue. I am closing again the ticket.

[2021-01-26 12:43] #537 closed, assigned to nobody

[2021-02-11 08:15] antonelepfl commented on #554
Fabio was contacted to fix this again.
I got this error accessing directly with my personal account too

[2021-02-11 11:41] #554 closed, assigned to nobody

[2021-03-17 10:08] antonelepfl opened #555 "Unicore Downtime CSCS"
Since we started using Unicore in CSCS, we see some error appearing over and over, generally after the maintenance.
In would like to add some entry for each time we have an issue

Date | Reference
------------ | -------------
17.04.2020 | https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/537
14.09.2020 | https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/517
07.10.2020 | https://github.com/cnr-

[2021-03-19 08:07] clupascu opened #556 "Redeploy new stack on PizDaint after the maintenance on 16th of March 2021"
# Expected behavior

loading modules without problems

# Actual Behavior (please include screenshot if possible)

module load daint-mc cray-python/3.8.2.1 PyExtensions/python3-CrayGNU-20.08
module load intel/19.0.1.144
module use /apps/hbp/ich002/hbp-spack-deployments/softwares/27-10-2020/install/modules/tcl/cray-cnl7-haswell
module load neuron/7.9.0a
module load py-bluepyopt

after loading the mo

[2021-03-19 08:13] antonelepfl commented on #556
Hi Carmen,
HPC have deployed the latest version of the software stack on 12-02-2021 [instructions](https://github.com/BlueBrain/spack/wiki/Piz-Daint-Deployment). (see **Run a simulation with small circuit target**)
Do you need a specific version of some software or the latest should be fine?

[2021-03-19 08:18] clupascu commented on #556
Hi Stefano,

I get the same results even when I load the modules as suggested in the instructions that you linked.

module load daint-mc cray-python/3.8.2.1 PyExtensions/python3-CrayGNU-20.08
module load intel/19.0.1.144
module use /apps/hbp/ich002/hbp-spack-deployments/softwares/27-10-2020/install/modules/tcl/cray-cnl7-haswell
module load neuron/8.0a
module load py-bluepyopt

I do not need any sp

[2021-03-19 08:29] antonelepfl commented on #556
Yes so, apparently the module `PyExtensions/python3-CrayGNU-20.08` has been replaced by `PyExtensions/python3-CrayGNU-20.11`

[2021-03-19 08:36] clupascu commented on #556
Still get

cray-mpich/7.7.15(9):ERROR:150: Module 'cray-mpich/7.7.15' conflicts with the currently loaded module(s) 'cray-mpich/7.7.16'
cray-mpich/7.7.15(9):ERROR:102: Tcl command execution failed: conflict cray-mpich

when I do module load py-bluepyopt

[2021-03-19 09:08] jorblancoa commented on #556
Hi @clupascu

As @antonelepfl mentioned they updated the PyExtensions module.
Regarding cray-mpich issue, they also changed the default version of mpich to 7.7.16 which is loaded by default. That is why it conflicts when trying to load the previous version.
This has been fixed in the latest version of the software stack on 12-02-2021.
I also updated the [instructions](https://github.com/BlueBrain/

[2021-03-19 09:40] clupascu commented on #556
Hi @jorblancoa,

yes. But it seems in a new ssh session just doing

module load daint-mc cray-python/3.8.2.1 PyExtensions/python3-CrayGNU-20.11
module load intel/19.0.1.144

module use /apps/hbp/ich002/hbp-spack-deployments/softwares/27-10-2020/install/modules/tcl/cray-cnl7-haswell
module load neuron/8.0a
module load py-bluepyopt

without doing module purge gives the error. I added module purge to

[2021-03-19 09:42] jorblancoa commented on #556
I updated the mpich version in the modules of 12-02-2021
If you want to keep using the modules of 27-10-2020 I could update them also.

[2021-03-19 09:47] jorblancoa commented on #556
I have updated also 27-10-2020 modules, you should be able to run the script without the module purge now

[2021-03-19 12:09] clupascu commented on #556
Everything works fine. I am closing the ticket. Thank you @pramodk @jorblancoa and @antonelepfl

[2021-03-19 12:09] #556 closed, assigned to pramodk, jorblancoa

[2021-07-01 06:16] pramodk commented on #540
I believe this is no longer relevant ticket.

[2021-07-01 06:16] #540 closed, assigned to pramodk

[2021-07-08 13:45] lbologna commented on #44
Done. Closing.

[2021-07-08 13:45] #44 closed