[2019-08-26 10:22] genric commented on #448
In my opinion if we still want to arrive at some sort of as-a-Service infrastructure we need to clearly decouple what is a model and what should be provided by the as-a-Service infrastructure. Currently everything is just bundled together.
@lbologna if we go through the list of actions(which you suggested to be performed by the BlueNaaS) the only one which is not performed by the model app is the

[2019-08-26 13:32] rmiglior opened #461 "Feature Extraction GUI - extracting features from traces blocked"
### Expected behavior

### Actual Behavior (please include screenshot if possible)
extracting features from traces does not work

![Cattura](https://user-images.githubusercontent.com/28053879/63694420-b7343b00-c816-11e9-9a97-a8b847486853.JPG)

### Steps to reproduce the problem

### Optional infrastructural data (user, platform, browser, environment, ...)

[2019-08-26 15:45] rmiglior commented on #461
The platform works properly if we exclude the features AP_amp1, AP_amp2, AP_width1 and so on

[2019-08-27 07:30] appukuttan-shailesh commented on #448
@genric , @lbologna : I am around till tomorrow afternoon for a call, before I leave for vacations. I should be reachable via email afterwards, though I might not be able to work actively on this.

[2019-08-27 07:51] lbologna commented on #448
@genric, @appukuttan-shailesh, @ElisabettaGiacalone is it fine to have a skype call this morning (27 August) at 12?

[2019-08-27 08:14] appukuttan-shailesh commented on #448
Sure, it works for me.

[2019-08-27 08:18] ElisabettaGiacalone commented on #448
Ok, it's fine for me.

[2019-08-27 12:11] appukuttan-shailesh commented on #448
_Based on our call earlier today..._

I have created a public CSCS container named `bluenaas_models`. This can be accessed at:
https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/bluenaas_models

It currently has two models:
1) ballandstick_with_template.zip
https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/bluenaas_models/ballandstick_with_template.zip
2) ballandstick_wi

[2019-08-27 12:13] genric commented on #448
Great! Thanks @appukuttan-shailesh!

[2019-08-27 13:39] lbologna commented on #461
Hello,

I updated the BluePyEfe package with the latest version, both in dev and prod, and the problem (application hangs) does not occur anymore. I tested with a few files from the platform and with several features of the AP... family.

Could you please try again and let me know if some other issues arise?
Thanks

[2019-08-28 09:18] appukuttan-shailesh commented on #448
Made some updates this morning.

Changes to `bluenaas_capabilities` and released on PyPI as version = `0.0.3`:
1) Compilation and loading of mod files has been made optional by use of parameter:
`model.initialize(compile=False)`
Default is True, i.e. it will attempt to compile and load file. If compiled, `initialize()` return the path of the loaded `libnrnmech.so.0` file, or else return `None`.
2)

[2019-09-02 06:01] SteMasoli commented on #436
Changed to M22.

[2019-09-02 06:01] SteMasoli commented on #435
Updated the code following suggestions.

[2019-09-02 06:07] SteMasoli commented on #449
If the lag problem is limited to me, than the paper can go live.

[2019-09-02 06:48] Hjorthmedh commented on #378
Finished second iteration of optimisations, resulting in much better fits.

This week starting a revision of the external input for the network model.

[2019-09-02 08:10] lbologna commented on #461
This seems to be fixed now.
Closing the ticket.

[2019-09-02 08:10] #461 closed, assigned to lbologna

[2019-09-02 08:25] lbologna commented on #449
Hello,

@SteMasoli I set all the downsample factors at 4 for all the traces and checked on a few of them. They still look fine to me (only a few are a bit "spiky" if you strictly zoom on an individual action potential). No lag is present anymore, even when loading two traces at the same time.
If they look fine for you as well and the lag is better I can upload to production.

[2019-09-02 09:00] SteMasoli commented on #449
Hi.

@lbologna
I still have some slowness, firefox 68 related at this point, but it is better than before.
For me is ok for production.

[2019-09-02 12:37] alex4200 commented on #435
@SteMasoli Thanks a lot for the update, looks much better to me then before. I will try to bring that usecase to production.

[2019-09-02 13:15] lbologna commented on #449
@alex4200 I moved the paper to production:
https://humanbrainproject.github.io/hbp-bsp-live-papers/2019/masoli_et_al_2019/masoli_et_al_2019.html

Could you please check whether everything is ok?
If it is fine with you, the ticket can be closed.
Thank you.

[2019-09-03 04:04] mmigliore commented on #92
Done. First release for 20 models stored on container

[2019-09-03 06:15] alex4200 commented on #449
I checked it and it seems to be ok.

[2019-09-03 06:15] #449 closed, assigned to SteMasoli, lbologna, appukuttan-shailesh

[2019-09-03 06:16] #92 closed

[2019-09-03 10:24] lbologna opened #462 "New Live Paper Bruce et al 2019"
## New Live Paper Bruce et al 2019

Dev link:
https://cnr-ibf-pa.github.io/hbp-bsp-live-papers-dev/2019/bruce_et_al_2019/bruce_et_al_2019.html

Aspect | Detail
------------ | -------------
Summary | New Live Paper Bruce et al 2019
Expert |  @lbologna @njbruce
Deadline | M18
Dependencies | None

## List of additional/changed features
New Live Paper inserted.

### Tasks

- [x] Build Live Paper and g

[2019-09-03 10:36] lbologna commented on #462
Hello,

@njbruce I accepted the pull request for your live paper and checked the formatting and everything looked very good to me. I inserted the "Authors" tag which was missing, modified the links so that they open in a new tab and re-aligned a couple of "Download" links.
As for the Collab, in order to be consistent with the other live papers, you should please remove the first item (which is a "

[2019-09-03 11:08] jdcourcol commented on #326
The description should change. We are not simplifying to point neuron models in that ticket. But we use Oren's method to simplify detailed models.
We can remove the link to JP-UC15 as it is not related anymore based on SP6-SP10 meeting output.

[2019-09-03 11:08] jdcourcol commented on #326
Alexei should be assigned to that ticket. I don't have his github id at hand now.

[2019-09-03 11:53] alex4200 commented on #91
The expected time-frame for the release of optimized CA3 models is still fall 2019.

[2019-09-04 07:16] alex4200 commented on #462
@lbologna A link to the DEV version of the live paper would be good to have ... (I suggest to add it in the main description).

[2019-09-04 07:24] lbologna commented on #462
@alex4200 sure, sorry I forgot to add it. I put it in the main description.

[2019-09-04 07:37] alex4200 commented on #462
I made a check that all links do work, and that the links lead to where they should lead in separate windows, and that I can download files, and the 3D viewers. it all seems to work fine.

I checked the checkbox above.

[2019-09-04 10:11] lbologna commented on #462
Thanks @alex4200!
Moved to production
Closing the ticket

[2019-09-04 10:11] #462 closed, assigned to lbologna, njbruce

[2019-09-04 11:50] alex4200 commented on #344
Working implementation of the interface: https://bspg.pa.ibf.cnr.it:14786/#

Please all give it a try and let Luca know of any issues. (Marconi might still have some issues, but the other systems should work).

[2019-09-04 12:21] alex4200 commented on #428
This ticket will be closed in favor of more specific tickets.

[2019-09-04 12:21] #428 closed, assigned to appukuttan-shailesh

[2019-09-04 12:42] alex4200 opened #463 "Validation usecases: Unnecessary package installs"
### Expected behavior

Required versions of packages should only be installed when they are required, i.e. when the version is different from the installed one.

### Actual Behavior (please include screenshot if possible)

It seems like a package will be installed even if the version is fine. This affects every validation use case, and the problem is within the first code cell.

### Steps to repro

[2019-09-04 12:50] alex4200 opened #464 "Optimized BG model validation: cell_type = 'Other' is invalid."
### Expected behavior

I should be able to run the notebook without errors

### Actual Behavior (please include screenshot if possible)

After "Specifying model from ModelCatalog; Update info if new model entry", when I do not choose an existing model-uuid, I get the error:

[code]

Could be a genuine error, or related to the fact that the old validation app is still used (no KG backend). That als

[2019-09-04 12:53] alex4200 opened #465 "Basal Ganglia Morphology Validation: 401 Client Error: Unauthorized"
### Expected behavior

Usecase should run without problems.

### Actual Behavior (please include screenshot if possible)

After "Part 1: Hard Constraints Validation" an error occurs:

[code]

### Steps to reproduce the problem

1. use 'environment="integration"'
2. Use model msn_d1_morphologies
3. Use instance models [1,2]

### Optional infrastructural data (user, platform, browser, environment, .

[2019-09-04 14:24] lbologna opened #466 "New Live Paper Kokh et al. 2019"
## New Live Paper Kokh et al 2019

Dev link:
https://cnr-ibf-pa.github.io/hbp-bsp-live-papers-dev/2019/kokh_et_al_2019/kokh_et_al_2019.html

Aspect | Detail
------------ | -------------
Summary | New Live Paper Bruce et al 2019
Expert |  @lbologna @DKokh
Deadline | M18
Dependencies | None

## List of additional/changed features
New Live Paper inserted.

### Tasks

- [x] Build Live Paper and genera

[2019-09-04 14:31] lbologna commented on #466
Hello,

@alex4200, @DKokh I uploaded to 'dev' the live paper Daria has been preparing. I corrected some error with the layout, mostly for alignment problems. Could you please have a look and see if this is fine with you?

@DKokh have you already created a Collab to be linked to this Live Paper? If not, I can do it and set the content as we have done for the other LPs. Also, at the bottom left of t

[2019-09-06 06:56] alex4200 commented on #408
@adamhospital I took a look at the notebook and it basically seems to work. However I have two comments:

- Instead of naming the setup notebook just `Initial Setup Process` I rather would name it a bit more specific, like `Molecular Dynamics Setup Process` (to make sure for the user that this is a Setup especially for the Molecular Dynamics notebooks, and not possibly other notebooks)¨
- I tried

[2019-09-06 14:28] pedroernesto commented on #332
@alex4200 , I have spoken to Andrew about this use-case and we agreed that to start we will need:

(1) to have saved a model version of the CA1 circuit in some repository accessible from the Collab (currently > 300 Gb, but can likely be reduced, since not all files are needed for the use-case)

(2) that the user have access to BBP-VPN from the Collab, to install a few BBP software (e.g. BluePy). T

[2019-09-06 14:33] #391 closed, assigned to pedroernesto

[2019-09-06 14:34] alex4200 commented on #332
Moved to later milestone

[2019-09-06 14:44] DKokh commented on #466
I fixed some typos and removed a link to HITS page.
@lbologna : no, I don't have any Collab linked to this paper. If it is required, please do this.
Thanks!

[2019-09-06 16:21] adamhospital commented on #408
Name of the setup notebooks changed to **_Working environment setting up for the "XXX" Notebook_**
No ideas for the NGLWidget problem, as I could not reproduce the error. @aurel-l can test it with his user next week and it would be good if more users could test it as well.

[2019-09-09 05:13] alex4200 commented on #466
@lbologna @DKokh Upon looking at the live paper I have the following comments:

- When I open the 'Models' and look at the first tab, an image is missing:
  ![Selection_795](https://user-images.githubusercontent.com/12729291/64504652-efd11b80-d2d0-11e9-8885-52a9096f3d49.png)
- When I open 'Source code and data archive' I see a 'download' button, but it is not a download button. It just seems to le

[2019-09-09 07:39] alex4200 commented on #359
@apdavison You wanted to comment on this task about the general status of the curated models

[2019-09-09 07:44] alex4200 opened #467 "Curation button in Model Catalog"
Update use case

## Use Case Update

Aspect | Detail
------------ | -------------
Summary | The _Model Catalog_ will contain all models in the Knowledgegraph, but the _KG Search App_ will only contain the curated models (i.e. a subset of all models in the KG). To facilitate the process of model curation, a button will be added to the Model Catalog to request curation for a model. After the process

[2019-09-09 07:58] DKokh commented on #466
@DKokh @lbologna :   The figure was corrected in a revised version. It is in a new pull request
https://github.com/cnr-ibf-pa/hbp-bsp-live-papers-dev/pulls. The codes can be downloaded from  zenodo webpage . I guess that the download button is appropriate here. Or should I change to something else ?
Thank a lot!

[2019-09-09 08:45] alex4200 commented on #435
The notebook is in production, closing ticket

[2019-09-09 08:45] #435 closed, assigned to SteMasoli

[2019-09-09 09:07] alex4200 commented on #466
@DKokh I am just saying that when I click on a 'download' button, I expect the download of something to begin immediately. But in the current case the click on the 'download' button does no start a download - it opens another webpage. Maybe instead of writing 'download' it is better to write 'open' (as the user opens a new page).

[2019-09-09 09:10] DKokh commented on #466
@lbologna   ok, thanks for the idea, I'll correct this and push an updated version asap

[2019-09-09 10:11] adamhospital commented on #408
Use cases 1 to 3 updated with links to the notebooks.
DEV SETUP notebook needs to be run previously to setup the working environment and install all the dependencies needed.
DEV notebook is the notebook implementing the use case.

[2019-09-10 05:43] alex4200 commented on #408
The notebooks 1-3 seem to work fine on the technical side. However some questions/comments:

- Do each notebook require its own setup notebook? Or would it be possible to just have one single setup notebook to prepare the environment for all notebooks? Also can it be increased?
- When some cells have been ran, there is a big red box with some debugging information. Is there a way to turn it off, o

[2019-09-10 14:28] lbologna commented on #466
Hello,
I modified the button's name as suggested by @alex4200 and moved to production.
If everything looks fine to you, we can close the ticket.
Thanks

[2019-09-10 14:35] adamhospital commented on #408
- **_Do each notebook require its own setup notebook?_**
- **_Or would it be possible to just have one single setup notebook to prepare the environment for all notebooks?_**

Having one single setup would mean installing a collection of software which are not needed by all the notebooks. For instance, use case 2 (small molecule parameterization) just needs a couple of conda packages, whereas use c

[2019-09-10 14:41] alex4200 commented on #466
Yes is fine with me

[2019-09-10 14:41] #466 closed, assigned to lbologna, DKokh

[2019-09-12 12:23] alex4200 opened #468 "Hide simulation trace checkboxes if the user did not select a simulation"
To reduce confusion to the user the checkboxes related to simulation traces should be hidden when the user did not choose a simulation in the first place

![Selection_802](https://user-images.githubusercontent.com/12729291/64783727-d0542000-d568-11e9-836b-2da2bcc4398b.png)

[2019-09-12 12:31] alex4200 opened #469 "Sim model not set when choosing a simulation in the Pair Recording App"
### Actual Behavior (please include screenshot if possible)

When choosing a simulation the 'Sim Model' is not filled out

![Selection_803](https://user-images.githubusercontent.com/12729291/64784247-fc23d580-d569-11e9-852f-01691db38caf.png)

### Optional infrastructural data (user, platform, browser, environment, ...)

From entrypoint http://bp.ocp.bbp.epfl.ch/circuits/mouse-ssx-s1-v6a-20171206

[2019-09-12 12:34] alex4200 opened #470 "Unable to load circuit for Pair Recording"
### Actual Behavior (please include screenshot if possible)

When using a custom config to load  circuit the 'Load' button is greyed out

![Selection_804](https://user-images.githubusercontent.com/12729291/64784363-4311cb00-d56a-11e9-9ec2-34fe6902c628.png)

### Steps to reproduce the problem

1. Use custom model
2. use any name
3. Use a correct path (see e.g. the other circuits)
4. choose a sim mo

[2019-09-13 07:44] alex4200 commented on #332
@pedroernesto Where is that CA1 circuit saved currently? Can you give me the location?

[2019-09-16 08:20] apdavison commented on #465
I will look at the problem this week

[2019-09-16 08:21] apdavison commented on #464
I will look at the problem this week

[2019-09-16 08:22] lbologna commented on #448
Hello,

we tested the service with the python scripts that @genric sent us a couple of weeks ago and the communication works. Thank you.
We are now implementing it on the frontend html/javascript page of one the live papers that will integrate the service. At the moment we can establish the connection (websocket) and we are working on getting the reply.

[2019-09-16 08:23] apdavison commented on #455
This should be for the M24 milestone, shouldn't it?

[2019-09-16 08:39] lbologna commented on #344
Hello,

we are currently experiencing what seems to be a problem with the Marconi TSI, in that the returned RemainingComputeTime is -1, regardless of the user.
We are in contact with Michele Carpenè from Cineca to solve the issue.

[2019-09-16 08:39] alex4200 commented on #455
@apdavison Yes you are correct - but to have the three Showcase items more visible I have them also in the September milestone (and they do not count in the weekly statistics).

[2019-09-16 10:58] alex4200 commented on #328
Will not be implemented

[2019-09-16 10:58] #328 closed

[2019-09-16 11:02] alex4200 commented on #457
@claudiacasellato Can you please update the latest information on this item in a comment?

[2019-09-16 11:05] alex4200 opened #471 "Showcase: LivePapers"
## Showcase LivePapers

Aspect | Detail
------------ | -------------
Summary | Live Papers
Common document | https://docs.google.com/document/d/1sIOLMhK-jYnSb4x-xDEewmNqQXd4sztfw8nrgYsbZYs/edit#
Usecase Group |
Expert | @lbologna
Scientific User |
Deadline | **March 2020**
HPC Requirements |
Dependencies |
Nominal runtime |

## Description
This use case is supposed to be a showcase use case to be

[2019-09-16 11:54] claudiacasellato commented on #457
we are working on two pathways related to NRP:
1.	SP6-SP10 BSP-NRP: from KG in SONATA format (https://www.humanbrainproject.eu/en/explore-the-brain/search/?facet_type[0]=Model#Model/a8d9c6c945bff12a37678009a04b4a16).
Handled by Fortiss (Axel von Arnim) , 30k-neuron cerebellum
STATUS: they are trying to complete the interface with SONATA for direct importing in NRP. Then, we will see how to desing

[2019-09-16 12:38] apdavison commented on #457
I just wanted to check everyone is aware that PyNN supports SONATA, so if you can use PyNN for this model in the NRP, loading a SONATA model takes a couple of lines of Python code (see http://neuralensemble.org/docs/PyNN/import_export.html#sec-sonata)

[2019-09-16 14:03] antonelepfl opened #472 "Simulation Launcher GUI Improvements"
On September 16th we had Davide from Hippocampus team who gave us his inputs while using the SimLauncherUI. The feedback that we had was:

**Run simulation**
- [x] Have a section with Population (CircuitTarget) and the Duration + show the image there instead of showing it on Stimulus and Report. (this will oblige the user to use the '+' button and search on the different targets)
- [x] Summation n

[2019-09-18 05:25] alex4200 commented on #408
@adamhospital The first three notebooks are public now. What is missing is some piece of documentation for these use cases in the Guidebook. See [here](https://docs.google.com/document/d/19Ni5fGFv6PTTM1D_D2FN4dj5IRhtfq1D0V2OWjXxJww/edit#heading=h.u3wb1gexvzd9).

Also, how to test the notebooks with different input proteins? Where and what to change?

[2019-09-18 12:54] antonelepfl commented on #389
I'm having some issues after the maintenance...
When I try to load a circuit
[code]
I get `Illegal instruction` and the scripts exits.

@ElisabettaGiacalone , @clupascu , are you having a similar issue?

[2019-09-18 13:48] ElisabettaGiacalone commented on #389
Hi @antonelepfl, I  tried your script, after loading cluster modules in https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/389#issuecomment-490813607, and I don't get "Illegal instruction".

In [1]: from bluepy.v2 import Circuit,Simulation

In [2]: c = Circuit('/p/project/cvsk25/vsk2512/O1/20181114/circuit/CircuitConfig')

In [3]: print c.cells
<bluepy.v2.cells.CellCollection object at 0x2b49140f

[2019-09-18 14:25] antonelepfl commented on #389
I'm using _booster_ partition and with the _batch_ I confirm that I don't have any issue.
I guess I can switch temporally to _batch_ until they upgrade the booster modules in October and check if after that I'm able to run it.
In the batch partition are you able to run simulate some slices of the CA1 or it is just for small simulations?

[2019-09-18 15:57] mmigliore commented on #389
We do not have an allocation on the batch partition.

Il mer 18 set 2019, 16:25 Stefano Antonel <notifications@github.com> ha
scritto:

[2019-09-18 15:58] ElisabettaGiacalone commented on #389
I have always run simulations on booster partition. Also for optimizations we use booster partition.
@clupascu are you aware of the reason?

Anyway I tried to run a simulation on batch partition, and I don't get any results, though the job is COMPLETED.
This is the log:
/p/home/jusers/giacalone1/jureca/test-180919-batch/slurm-7552774.out

[2019-09-18 16:04] ElisabettaGiacalone commented on #389
Ok, this is the reason. Thanks

[2019-09-18 17:32] alex4200 commented on #332
@pedroernesto Before we can proceed, we need to clarify some issues, since the model you want to use is in the realm of BBP, and the Collaboratory and use cases on the Brain Simulation Platform in the realm of HBP.
I will keep you posted.

[2019-09-19 08:02] antonelepfl opened #473 "BluePy on PizDaint"
### Expected behavior
After using modules deployed by [BBP via spack](https://github.com/BlueBrain/spack/wiki/Piz-Daint-Deployment#sample-job-script) I expect to see the module `py-bluepy` as I see it in Jureca

### Actual Behavior (please include screenshot if possible)
I only see
[code]
@pramodk @jorblancoa could you have a look please?

[2019-09-19 12:56] apdavison commented on #464
I presume this refers to the Use Case "Basal Ganglia - BluePyOpt Optimized Model Validation - Multiple HOF" ?

[2019-09-19 18:44] apdavison commented on #464
Note that this problem also occurs with the production (non-KG-based) server. The solution is to replace "Other" with "other".

@alex4200 Please can you tell me where the master copy of this notebook is, so I can update it? (Shailesh is on vacation).

[2019-09-20 15:01] appukuttan-shailesh commented on #464
@apdavison: the source notebooks are placed in collab 8123, under a section titled (something like) "UseCase Notebooks (do not edit)". Pedro will be able to help locate these if required.

[2019-09-22 21:35] lbologna commented on #432
Hello,
the points in the list reported below are now verified when a model .zip file is uploaded by the user.
For testing purposes, I prepared an set of sample .zip files for which the verification should give negative results (+ one 'good' example). Here's the link to the google drive folder:
https://drive.google.com/drive/folders/1gCA7Pi7NsR5Rok9mbaQO64m77FaoeeaC?usp=sharing

@alex4200 could you

[2019-09-23 09:36] alex4200 commented on #156
Can be tested again with PizDaint

[2019-09-23 09:42] lbologna commented on #406
Here's the dev guidebook:
https://lbologna.github.io/hbp-sp6-guidebook/

[2019-09-23 10:40] pramodk commented on #473
@antonelepfl : I remember multiple issues with bluepy installation on cluster vs booster. Could you tell us who/how this module will be used? interactively on login node or on compute node itself?

[2019-09-23 10:48] alex4200 commented on #432
@lbologna The test of the new check were fine in DEV. I suggest you update the application in production. Then I do a final test.

[2019-09-23 10:48] mmigliore commented on #473
Hello,
they gave us a small allocation on the cluster partition during a downtime
of the booster partition.
This latter is the one to be used for everything, from optimizations to
full circuits.
We also have a small allocation on the vis cluster, to be used for
visualization through GPU, not computing nodes.
-M

On Mon, Sep 23, 2019 at 12:40 PM Pramod Kumbhar <notifications@github.com>
wrote:

[2019-09-24 07:56] alex4200 commented on #460
As of today, the problem cannot be reproduced anymore. Closing ticket

[2019-09-24 07:56] #460 closed, assigned to BerndSchuller

[2019-09-24 08:57] alex4200 commented on #406
Clarification details of the documentation with @davidcsterratt

[2019-09-24 11:52] romani79 commented on #332
@pedroernesto, putting the model in BSP means sharing the model with everyone. We have to discuss which versions can be shared and in which modalities. We will have a meeting in 10 days and I hope we will have a plan.

[2019-09-24 12:34] pedroernesto commented on #332
I understand your point, no problem.
Specifically, I told @alex4200 about the following directories of (a little bit old) release of the model. But maybe @romani79  can reduce the list of dirs/files needed, even more. In fact, this usecase will be based on a previous version of some his notebooks for circuit analysis. The directories are part of proj_dir = '/gpfs/bbp.cscs.ch/project/proj42/':

$pr

[2019-09-24 17:21] lbologna commented on #448
Hello,
we tested the websocket communication from a frontend/html page and everything works!

@genric we noticed that the "default_parameters" and "recorded_vectors" are not present in the current version of the model (i.e. neuronservice_eg_llb_dev_changed_mod_path.zip), neither in the "the_model...py" nor in the "neuronservice...py" files. Shouldn't the config file where they are set be placed in

[2019-09-24 20:00] lbologna commented on #432
@alex4200 production updated. Thanks.

[2019-09-25 05:13] alex4200 commented on #432
Tested in prod, ticket closed

[2019-09-25 05:13] #432 closed, assigned to lbologna

[2019-09-25 09:29] p-serna commented on #373
We used [three.js](https://threejs.org/) as a 3d viewer to show correctly a 3d mesh of a dendritic spine and to control the perspective view, as in https://pabloserna.github.io/Testpage/spine.html
In principle, it can be used with any 3d mesh in with .obj format

[2019-09-25 09:29] #373 closed

[2019-09-25 12:19] alex4200 commented on #448
@lbologna The BlueNaas server should be up now, please try again.

[2019-09-25 12:42] lbologna commented on #448
Yes it works now, both the GUI and the websocket. Thanks!

[2019-09-25 13:11] genric commented on #448
Hi @lbologna
I sort of assumed that params will always be explicitly set with the first `set_params` message, so there was no point to initialize them before that message arrives. But if you want to avoid sending that message then yes we can make some init method in the model to initialize the params. Or you can just initialize the model as the model python script is executed.
Regarding the record

[2019-09-25 14:19] claudiacasellato commented on #457
Dear Axel and all

Which updates are there about importing BSP cerebellar model into NRP?

Actually the "automatic" translation from PyNN to SONATA (as py script sent
by Andrew) didn't work straightforward for our model, since the connections
based on neuron GIDs (specific pairs of pre-syn neuron and target neuron
read out from a hdf5 file) seem to be not contemplated. Therefore Stefano
Casali use

[2019-09-26 08:49] lbologna commented on #448
Hi @genric,
the way it is implemented now also works for us. Thank you.

I thought you had a config file on the backend that the parameters sent from the frontend should match. But if they are set with the first message that is fine.

By the way, the service (i.e. bluenaas websocket) is not working anymore since about 30 minutes. Could you please let me know when it is up again? Thank you.

[2019-09-26 08:59] genric commented on #448
@lbologna the service is a bit unstable... I'm trying to figure out why and fix it...

[2019-09-26 11:33] genric commented on #448
@lbologna I've made some updates to the service, it should work better now.

[2019-09-26 12:09] lbologna commented on #448
@genric the problem seems to be still there for me. I get the following errors:

Firefox can’t establish a connection to the server at wss://blue-naas-svc.humanbrainproject.eu/ws.

The connection to wss://blue-naas-svc.humanbrainproject.eu/ws was interrupted while the page was loading.

[2019-09-26 12:20] genric commented on #448
That is weird... could you please describe exactly what you are doing? Maybe you have your webapp code shared somewhere? Can I access the actual web app to debug?

[2019-09-26 14:44] lbologna commented on #448
Hello @genric,

I tested again after emptying cache and some cleaning and know it works for me as well and it seems to be stable. Thank you!

I attach the code that I am using on the frontend of the Live Paper herewith.
I put it in a .html test page that should work out of the box (just change the extension to .html, open in browser and click on "Run WebSocket").

[testWS.txt](https://github.com/c

[2019-09-27 07:52] genric commented on #448
@lbologna looks good to me. The only comment I have is that you can get potentially http~500 error from the server then you need to fallback for some seconds and retry, eventually you should get a connection. The same way that you see in BlueNaaS in the upper-right corner spinning connection status indicator.

[2019-09-30 07:02] antonelepfl commented on #472
I have created 2 internal tickets for BluePy to fix the [plot axes](https://bbpteam.epfl.ch/project/issues/browse/BLPY-167) and the [legend for Raster colors](https://bbpteam.epfl.ch/project/issues/browse/BLPY-168)

[2019-09-30 07:27] alex4200 commented on #438
@glaunay  Some issues found:

1. I have selected a pdb file and created some tabs where I removed some of the protein chains, and then clicked on 'Go'. However, even after like 30 minutes the run indication was still 0%.
2. The email box does not seem to work on chrome (unable to enter characters)
3. Link to tutorial on the main page would be nice to have.

[2019-09-30 08:05] lbologna commented on #448
Hello,

the code for the communication through websocket has been integrated in a work-in-progress live paper (the text is still to be inserted, but the simulation panel is completed in its functionality - minor changes to the layout will be done later).

Here's the link:
https://cnr-ibf-pa.github.io/hbp-bsp-live-papers-dev/2019/martinello_et_al_2019/martinello_et_al_2019.html

@alex4200 could you

[2019-09-30 08:30] #408 closed, assigned to aurel-l, adamhospital

[2019-09-30 08:36] adamhospital opened #474 "Modelling/simulation tools use case, MoDEL_CNS API"
## New Use Case

Aspect | Detail
------------ | -------------
Summary | C1997 (Platforms providing web-access to molecular level tools for guiding systems level modelling)
Usecase Group | Molecular Level
Expert | Adam Hospital, Aurélien Luciani (IRB Barcelona)
Scientific User | Interested in MD simulation data
Deadline | M22
Target audience | New users of molecular modelling/simulation tools
Targe

[2019-09-30 08:40] adamhospital opened #475 "Modelling/simulation tools use case, REMD ligand conformations"
## New Use Case

Aspect | Detail
------------ | -------------
Summary | C1997 (Platforms providing web-access to molecular level tools for guiding systems level modelling)
Usecase Group | Molecular Level
Expert | Adam Hospital, Aurélien Luciani (IRB Barcelona)
Scientific User | Interested in ligand conformations
Deadline | M22
Target audience | New users of molecular modelling/simulation tools
Tar

[2019-09-30 09:29] alex4200 commented on #156
Tested OK

[2019-09-30 09:29] #156 closed

[2019-09-30 10:45] alex4200 commented on #389
@ElisabettaGiacalone  Can this issue be closed? If so, please close it.

[2019-09-30 10:47] #345 closed

[2019-09-30 11:34] alex4200 commented on #448
@lbologna I had a look at the app, and it seems to work so far, and I like how you can do several simulations to be shown on top of each other (for direct comparison).

However, some questions/suggestions:
- When using very high values for conductances (like 100000000000000000000000000) or negative values (-.0005) the app seems to crash. But it seems to 'crash' only on the frontend, not in the bac

[2019-09-30 11:58] ElisabettaGiacalone commented on #389
Hi, I want to test bluepy with the new version of the circuit before closing this issue. I am waiting for the circuit to be available and working on Jureca.

[2019-09-30 13:04] alex4200 opened #476 "Python3 update for notebooks"
## Use Case Update

Aspect | Detail
------------ | -------------
Summary | As python2 gets deprecated by the end of the year, the notebooks in the brain simulation platform should be running a python3 kernel. This requires some adjustment for some notebooks.
HowTo | You change the kernel to 'python3' in the notebook, and then you save it (and fix broken items).
Deadline | 31.1.2020

### Tasks

- [

[2019-09-30 16:04] clupascu opened #477 "Validation Framework Demo - error"
### Expected behavior
the use case runs without errors
### Actual Behavior (please include screenshot if possible)
After the third cell I get

ImportErrorTraceback (most recent call last)
<ipython-input-3-8a336ed362ef> in <module>()
     39 install_req_packages()
     40
---> 41 import sciunit
     42 from hbp_validation_framework import utils, TestLibrary, ModelCatalog

/opt/conda/envs/python2/li

[2019-10-01 08:41] DKokh commented on #407
@lbologna: Neil has left the group and it is not clear when and who will work on these use cases. I would close the ticket until we settle this

[2019-10-01 08:56] alex4200 commented on #407
@DKokh I will leave the ticket open, but move it to another milestone, otherwise it will be completly forgotten.

[2019-10-02 06:01] clupascu opened #478 "Hippocampus single cell validation - error"
### Expected behavior
running all cells of the notebook should work without errors
### Actual Behavior (please include screenshot if possible)
When running cell #6, I get

Do you wish to use an existing `model_uuid` (this will register results against an existing model entry)?
Note: `model_uuid` is obtained from the HBP Validation Framework app.
If not specifying `model_uuid`, then a new model ent

[2019-10-02 07:04] clupascu opened #479 "BluePyOpt optimized model validation - error"
### Expected behavior
The notebook should run without errors
### Actual Behavior (please include screenshot if possible)
When I am asked to enter the # of required model I can't enter it. The text field is not visible

![immagine](https://user-images.githubusercontent.com/22050958/66024244-9b961180-e4f3-11e9-84c8-32eceae4325a.png)

[2019-10-02 08:50] appukuttan-shailesh commented on #477
@clupascu : can you point me to the notebook that you are running (might need to give me access to Collab)? It would be useful to take a look at the version of the usecase that you are running, since the latest ones (on dev; still to be transferred to prod) explicitly install numpy = 1.16.2.

[2019-10-02 08:58] clupascu commented on #477
@appukuttan-shailesh I gave you access to the Collab. I am using the latest version in prod. I cloned the notebook two days ago, when I opened this issue.

[2019-10-02 09:04] appukuttan-shailesh commented on #477
Ah ok. All the UseCase notebooks had been updated on dev, and so it seems all the notebooks you cloned are the outdated versions.

@alex4200 had been testing the updated notebooks on dev and found some issues (#463, #464, #465). I just returned from holidays yesterday, and so shall be taking these issues up now. So I propose we close the recent issues (#477, #478, #479 - corresponding to outdated

[2019-10-02 09:19] appukuttan-shailesh commented on #463
This shouldn't be happening as we have the following check in place inside `install_req_packages()`:
[code]

Also, I am demanding for exact versions of the packages (and not just any version >=) as some of these packages are often changing such that they are not backwards compatible at times. We have seen many such situations with these usecases over the past 2 years, and it is a pain to rectify t

[2019-10-02 09:34] appukuttan-shailesh commented on #464
@alex4200 : I am not sure if you tested the latest version of this notebook on dev. Because the latest versions do not permit a user to enter the UUID of model, but rather has to select the model from a displayed list. So step 4 that you indicated above is no longer present.

Collab Path:
https://collab.humanbrainproject.eu/#/collab/8123/nav/67065
Collab Storage ID:
https://collab.humanbrainprojec

[2019-10-02 09:42] appukuttan-shailesh commented on #465
@alex4200 : Could you test this again? It works fine for me. Maybe it was a temporary problem with the server (expired certificates etc). If the problem persists, I will ask Andrew to take a look.

[2019-10-02 09:48] clupascu commented on #477
@appukuttan-shailesh I would prefer retesting the new usecase versions once they are in prod. I would let the issues opened until the new versions are in prod and working, in order to not forget about this issues.

[2019-10-02 11:07] appukuttan-shailesh commented on #478
This issue can be closed as

is no longer a feature in the updated UseCases (on dev, to be moved to prod), but the user rather has to select the model from a displayed list.

[2019-10-02 11:11] appukuttan-shailesh commented on #479
I am unable to reproduce this issue when I test it:
![image](https://user-images.githubusercontent.com/24866517/66039737-fa6c8280-e515-11e9-93cd-340c067e4051.png)

@alex4200 : could you recheck this when testing the updated usecases, and let me know if it persists.

[2019-10-02 13:46] alex4200 commented on #463
In the DEV usecases you also have this line in the first code cell:

                    "hbp_validation_framework" : {"min_version": "", "install_version": "https://github.com/appukuttan-shailesh/hbp-validation-client@usecase_patching"},

which triggers the framework to be reinstalled although the version remains the same. It is also an example where you do not have an explicit version number.

S

[2019-10-02 13:50] alex4200 commented on #464
Yes, when I test the DEV version of that notebook it seems to work. More tests are pending, but I will close this issue for now.

[2019-10-02 13:50] #464 closed, assigned to apdavison, appukuttan-shailesh

[2019-10-02 14:28] alex4200 commented on #479
@clupascu Can you retry to run the cell? Rerun the usecase? Reset the container before trying again?

[2019-10-02 14:32] alex4200 commented on #478
@carmen: I need to update the production notebooks. They are outdated.

[2019-10-02 14:32] #478 closed, assigned to appukuttan-shailesh

[2019-10-02 15:18] appukuttan-shailesh commented on #463
This was intended. Some temporary patchwork was required to make the usecases run while the KG backend isn't completely ready (minor API changes to be made/tested).

Once the APIs are completely ready, I will make a new pip release and update the first cell in the usecase notebooks to reflect the latest version number.

[2019-10-03 06:33] alex4200 commented on #465
Seems to work now, ticket closed.

[2019-10-03 06:33] #465 closed, assigned to apdavison, appukuttan-shailesh

[2019-10-03 15:50] rmiglior commented on #463
1Inviato da smartphone Samsung Galaxy.ķo k
-------- Messaggio originale --------Da: appukuttan-shailesh <notifications@github.com> Data: 02/10/19  17:18  (GMT+01:00) A: cnr-ibf-pa/hbp-bsp-issues <hbp-bsp-issues@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Oggetto: Re: [cnr-ibf-pa/hbp-bsp-issues] Validation usecases: Unnecessary package installs  (#463) This was intended. Some

[2019-10-03 15:52] rmiglior commented on #463
Inviato da smartphone Samsung Galaxy.
a-------- Messaggio originale --------Da: appukuttan-shailesh <notifications@github.com> Data: 02/10/19  17:18  (GMT+01:00) A: cnr-ibf-pa/hbp-bsp-issues <hbp-bsp-issues@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Oggetto: Re: [cnr-ibf-pa/hbp-bsp-issues] Validation usecases: Unnecessary package installs  (#463) This was intended. Some tem

[2019-10-07 09:54] appukuttan-shailesh commented on #476
Inside a Jupyter notebook in a Collab, I have the single statement:
`from neuron import h`
or
`import neuron`
This works fine when using "Python 2" kernel. But when I set it to "Python 3", I get the following error:

@sasaray , @apdavison have also reported coming across this issue on the Collaboratory.
Do others also face this? Any why does it arise? My impression is that NEURON is compatible wit

[2019-10-08 06:17] clupascu commented on #477
I retested this usecase and now, after I run cell number 8, I get this error

Traceback (most recent call last):

  File "/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2862, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)

  File "<ipython-input-8-d95a81d766c2>", line 1, in <module>
    from models import cells

  File "/home/jovyan/hbp-cerebellum

[2019-10-08 06:18] alex4200 commented on #477
@clupascu You have to switch the kernel to python2. Then it should work.

[2019-10-08 06:20] clupascu commented on #479
I retested this usecase and now, after I run cell number 6, I get this error

83

TypeErrorTraceback (most recent call last)
<ipython-input-6-31e636d32148> in <module>()
     13 print len(list_of_models)
     14 df = pd.DataFrame.from_dict(json_normalize(list_of_models), orient='columns')
---> 15 df = df.reindex(['name', 'id', 'author', 'brain_region', 'species', 'cell_type', 'model_scope', 'abstr

[2019-10-08 06:23] alex4200 commented on #479
@clupascu  What model did you select? Did you install all the required packages? Did you restart the kernel at least once?

[2019-10-08 06:49] appukuttan-shailesh commented on #477
I see that you seem to be using a Python 3 kernel. Many of us have found
issues with Py3 kernel when running NEURON inside the collaboratory.

On Tue, 8 Oct 2019, 8:17 AM clupascu, <notifications@github.com> wrote:

[2019-10-08 06:51] appukuttan-shailesh commented on #477
In this particular case, the packages being used in the use case are not
all Py3 compatible yet. I would suggest sticking with Py2 for the moment
for all validation use cases. Alex also hasn't been able to test these for
Py3 as of now.

On Tue, 8 Oct 2019, 8:17 AM clupascu, <notifications@github.com> wrote:

[2019-10-08 06:53] alex4200 commented on #477
@appukuttan-shailesh  The problem here is that this notebook uses the python3 kernel by default. You have to change that on your side.
I can see that when I go to https://collab.humanbrainproject.eu/#/collab/8123/nav/71948 and download the notebook. At the end of the file I see the following content:

`"kernelspec":{"name":"python3","display_name":"Python 3","language":"python"}`

[2019-10-08 07:16] appukuttan-shailesh commented on #477
Its changed now to Py2. Other notebooks don't have this problem as far as I
can see.

On Tue, Oct 8, 2019 at 8:53 AM alex4200 <notifications@github.com> wrote:

[2019-10-08 07:17] alex4200 commented on #477
Yes, it was only the Demo notebook, the others are fine wrt. the kernel

[2019-10-08 07:38] appukuttan-shailesh commented on #479
It might have been a pandas issue as reported here:
https://stackoverflow.com/questions/50796039/reindex-in-pandas-is-not-accepting-axis-argument?rq=1

Have made this generic fix now (in two usecases where this was used). Should not recur.

[2019-10-08 10:23] clupascu commented on #479
Please let me know when the fix is available in PROD. Thanks.

[2019-10-08 10:32] clupascu commented on #477
Now it seems to work, even if when I run some cells (for example cell number 9), the kernel is idle (I see the [*]), but the circle is white. Is a strange behaviour. @alex4200 do you experience the same? If not, we can close this issue.

[2019-10-08 10:47] clupascu commented on #478
This usecase works fine. We will use this one to demo the validation during our training course in Helsinki. Thanks.

[2019-10-08 12:54] alex4200 commented on #479
Fix should be in PROD

[2019-10-08 12:57] alex4200 commented on #477
@clupascu I am not sure I saw such a kind of behavior before. I will close the ticket for now

[2019-10-08 12:57] #477 closed, assigned to appukuttan-shailesh

[2019-10-10 04:51] clupascu commented on #479
I tested the notebook and it works. I am closing the issue.

[2019-10-10 04:51] #479 closed, assigned to appukuttan-shailesh

[2019-10-10 08:40] clupascu opened #480 "Adding implementation icon to main use case"
Update all use cases

## Use Case Update

For each use case, apart from experience, maturity and access icons, an implementation icon should also be displayed.

Aspect | Detail
------------ | -------------
Summary |
Expert | @antonelepfl
Deadline |
Dependencies |

I was thinking to use

![immagine](https://user-images.githubusercontent.com/22050958/66552065-fc9f9400-eb48-11e9-87c7-d4c9b6b83137.png

[2019-10-11 13:03] antonelepfl commented on #472
The last items regarding the plotting are deployed in DEV.
 @alex4200 you can test them.

[2019-10-11 13:35] alex4200 commented on #472
@antonelepfl The bluepy related plotting tasks seem to work fine in DEV for Jureca and PizDaint.

[2019-10-11 15:23] rcsm17 commented on #344
The last version can be reached to: [https://bspmonitors.cineca.it](https://bspmonitors.cineca.it)
Let me know if you encounter any bug.

[2019-10-12 07:44] mmigliore commented on #344
I tested it (from my account, I think) and:

- Jureca, OK
- Marconi, give the right total quota but no project name; in my case there
should be two projects each one with its own quota.
Also, it is not possible to check "Submission Enabled"
- Piz Daint, only the service account is shown, not the other active
projects I have there.
-NSG, OK

<https://www.avast.com/sig-email?utm_medium=email&utm_sou

[2019-10-14 05:58] #472 closed, assigned to antonelepfl

[2019-10-14 09:42] Hjorthmedh commented on #378
Have done a few initial striatum network simulations with the updated network. Working on scaling it up and tuning the input frequencies of cortical and thalamic input for the different neuron types.

[2019-10-14 09:46] appukuttan-shailesh commented on #359
@yzerlaut can you update the status on this?

[2019-10-14 09:52] appukuttan-shailesh commented on #381
The latest versions of the validation usecases make use of the KG back-end. I believe this ticket can be closed.

[2019-10-14 10:03] antonelepfl commented on #476
https://support.humanbrainproject.eu/#ticket/zoom/2295
https://support.humanbrainproject.eu/#ticket/zoom/2262

[2019-10-14 11:44] szkali commented on #344
My colleagues and I get no user-specific information (see screenshot). Is this the expected behavior?
![Screenshot from 2019-10-14 13-18-36](https://user-images.githubusercontent.com/5347908/66748871-97b9a600-ee88-11e9-9409-76fd22e10aba.png)

[2019-10-14 12:01] alex4200 commented on #381
Agreed

[2019-10-14 12:01] #381 closed

[2019-10-14 12:50] alex4200 commented on #476
Response from support:

[code]

[2019-10-14 12:57] clupascu commented on #476
yes. But as I replied to support, we still have the problem that Neuron 7.6 is not compatible with BluePyOpt used for optimizing single cells, so most of the usecases running BluePyOpt will not work...

[2019-10-14 13:57] alex4200 commented on #406
Usecase and documentation in Production, closing ticket

[2019-10-14 13:57] #406 closed, assigned to davidcsterratt

[2019-10-15 08:37] antonelepfl opened #481 "Download raw data of analysis plots"
We should be able to download the data of the plots from the Sim-UI so we are able to reproduce / change that plot locally.

[2019-10-15 13:12] alex4200 commented on #476
@Carmen What ticket are you referring to?

[2019-10-15 13:58] antonelepfl commented on #480
Ok I have done some progress in this. I have deployed this on [DEV](https://collab.humanbrainproject.eu/#/collab/8444/nav/65633).
Please let me know your thoughts.

[2019-10-16 06:17] clupascu commented on #480
Seems good to me.

[2019-10-16 06:23] alex4200 commented on #480
Some comments:
- Would have preferred two symbols which have the same 'design'/color scheme. But I guess this is almost impossible to find.
- The 'webapp' usecases have not really something to do with the 'web'/'world', but I am not sure if there is a icon for a 'GUI' application. I did not find anything.
- So lets stick with the icons for now, but maybe the jupyter icon can be made a bit smaller?

[2019-10-16 06:36] clupascu commented on #476
I am referring to this ticket https://support.humanbrainproject.eu/#ticket/zoom/2295

[2019-10-16 06:42] antonelepfl commented on #480
Maybe
![](https://www.pinclipart.com/picdir/middle/133-1331118_world-wide-web-icon-internet-symbol-clipart.png)
And
![](https://miro.medium.com/max/346/0*I3hkRieQ6B3qwwhy.)
?

[2019-10-16 06:44] alex4200 commented on #480
That looks better to me, at least very similar color (and both icons actually showing two planets!). Earth's moon is missing, but that is fine (as well as 76 known moons of jupiter ;-) )

I vote for this

[2019-10-16 07:43] clupascu commented on #480
Ok. It seems better for me too now. I agree with Alex's comments.

[2019-10-16 12:37] antonelepfl opened #482 "Allow select population, GIDs, or random for analysis"
So the current implementation looks something like:

![Screenshot 2019-10-16 at 14 36 21](https://user-images.githubusercontent.com/24406041/66919833-6248c000-f022-11e9-8903-17c36642866d.png)

The idea would be to select some sub-population, specify some GIDs, specify a range of GIDs, or just random cells that will be used for all the different analysis.

Some mockups of how this could like:
![Scr

[2019-10-16 12:50] alex4200 opened #483 "BluePyOpt issue with NEURON 7.6 and python3"
## Details description of the task

@clupascu will create a new Collab, create a python3 notebook, use neuron 7.6 and  bluepyopt to create a plasticity code example that might fail for further investigation.

Related to #476

[2019-10-16 13:12] clupascu commented on #483
Actually will not be a plasticity code, but a normal optimization.

[2019-10-16 13:21] mmigliore commented on #482
Hello,
the first mockup looks ok but the list of GIDs should be selected
independently for histogram/raster and voltage.
This because one can usually pick a much larger set for raster and
histogram and a smaller number of cells to show the voltage.

On Wed, Oct 16, 2019 at 2:37 PM Stefano Antonel <notifications@github.com>
wrote:

[2019-10-16 15:07] antonelepfl commented on #482
Thank you Michele,

I'm thinking in several options that meet your requirements:
1) You run an analysis with Raster and Histogram and select a population, in this case the voltage trace will be disabled due population may be too big. Then if you see that the network is behaving well, you run a second analysis selecting some random GIDs or specific ones and the voltage will be available.

2) We can

[2019-10-16 15:12] mmigliore commented on #482
Yes, that I think that it would work.

On Wed, Oct 16, 2019 at 5:07 PM Stefano Antonel <notifications@github.com>
wrote:

[2019-10-16 15:13] antonelepfl commented on #482
Which one would work? option 1 or 2

[2019-10-16 15:20] mmigliore commented on #482
Sorry, I would say option 2

On Wed, Oct 16, 2019 at 5:13 PM Stefano Antonel <notifications@github.com>
wrote:

[2019-10-17 06:20] antonelepfl commented on #480
Due it's implemented on DEV I'll close this

[2019-10-21 06:54] alex4200 opened #484 "Layer colors or layers inverted?"
### Expected behavior

Layer to be colored in order: 1,2,3,4,5,6

### Actual Behavior (please include screenshot if possible)

Colors of layers 1 and 2 inverted, i.e. layer 1 comes first with color red, the layer 2 with color green, but in the graphics greens comes before red.

### Steps to reproduce the problem

Load the circuit SSCx.S1

[2019-10-21 09:33] apdavison commented on #380
I have realized that there is a permissions problem with the KG, users would need to be added to a specific group in order to view the model catalog, even public models. The solution is to use a service account, I am in contact with the KG team about this.

[2019-10-21 09:47] Hjorthmedh commented on #378
We have run 2000 neuron network on beskow for SfN poster. Updated the gap junction code.

[2019-10-21 09:59] antonelepfl commented on #456
## What to show (WIP)
- Configure a simulation
      - Central column (~2K cells)
  - Stimuli / Report
        - Central Column
        - 10% of central cells
  - Projection
        - Spike reply?
        - Spon Minis

- Simulation list
      - Use filters

- Launch Analysis
      - Select PSTH of Central Column
      - Select Raster of 8 specific cells (or ranges in the central)
      - Select Vo

[2019-10-21 10:56] pgetta commented on #484
Thank you, @alex4200.
That was a pretty severe bug, affecting `etype`, `layer` and `morph_class`  properties of the circuit cells.

It's fixed now, could you please evaluate it works as expected?

[2019-10-21 11:00] alex4200 commented on #484
Yes now it looks consistent. Closing ticket

[2019-10-21 11:00] #484 closed, assigned to pgetta

[2019-10-21 11:26] alex4200 commented on #91
@szkali Can you please give an updated status for this ticket?

[2019-10-21 11:31] alex4200 commented on #326
@asanin-epfl Can you please give an update on this ticket?

[2019-10-21 11:35] alex4200 commented on #327
The basic features are implemented; to be clarified:

- [x] some inconsistencies in the test cases (expected vs. actual results)
- [x] documentation in guidebook still missing
- [x] Test of Molecular Repository

[2019-10-21 11:36] alex4200 commented on #332
@romani79 Do you have any updates regarding this issue? In your last comment you mentioned a meeting - do you have any news from that?

[2019-10-21 11:39] alex4200 commented on #436
@SteMasoli Regarding your problem mentioned today, the response from support is as follows:

[code]

see issue #476

[2019-10-21 11:43] alex4200 commented on #438
Use case in production, as well as documentation, closing ticket

[2019-10-21 11:43] #438 closed, assigned to glaunay

[2019-10-21 11:44] alex4200 commented on #473
@pramodk Is there any news on this issue?

[2019-10-21 12:22] alex4200 commented on #353
@wvangeit (@pgetta ) Is there any news on this specific task?I have not heard anything about this being implemented into the Pair Recording application.

[2019-10-21 12:23] alex4200 commented on #354
@wvangeit (@pgetta ) Is there any news on this specific task?I have not heard anything about this being implemented into the Pair Recording application.

[2019-10-21 13:06] wvangeit commented on #354
We've discussed this at some point, in essence it's feasible but would require quite some time to implement. I'll leave it @pgetta and @jdcourcol to set the priority on this.

[2019-10-21 13:30] alex4200 commented on #448
Stefania is working on some details

[2019-10-21 13:36] alex4200 commented on #458
@bweyers  Do you have any update on this task?

[2019-10-21 13:37] alex4200 commented on #459
@olinux Do you have any news on this item, especially on this technical user we could use?

[2019-10-21 13:38] alex4200 commented on #457
Not a showcase anymore

[2019-10-21 13:38] clupascu commented on #483
I tried to use the bluepyopt installation from the collab with Neuron 7.6.2 to run a simple optimization. It seems working fine. The only warning I got is this /opt/conda/envs/python2/lib/python2.7/site-packages/bluepyopt/ephys/simulators.py:74: UserWarning: Unable to find Neuron hoc shared library in /home/jovyan/.local/nrn/lib/python/neuron, not disabling banner
  'not disabling banner' % nrnpy_

[2019-10-21 13:41] wvangeit commented on #483
Sure BluePyOpt should work just fine with 7.6 (already since a long time).
Just be careful not to mix two neuron version if they would be both installed on the Collab

[2019-10-21 13:44] clupascu commented on #483
@wvangeit ok. Thank you. I will close this issue.

[2019-10-21 13:44] #483 closed, assigned to clupascu

[2019-10-21 13:51] szkali commented on #91
We recently started working on this task again. I will update this ticket when we have the results.

[2019-10-22 07:07] jdcourcol commented on #326
We are waiting simulator support for SONATA.
current prediction is November.

[2019-10-22 08:10] yzerlaut commented on #359
Curation is still in progress for quite a large fraction of the models. If you want details about the specific status of the models, get in touch by email, I'll send you our status summary. And yes, they will then appear in the KG search.

[2019-10-22 08:35] alex4200 commented on #359
@yzerlaut Hi, can you provide some basic statistics of how many models are already curated and will appear in the KG graph, and how many models are not yet curated, and the time by which they will be?

No exact numbers needed, just some rough values.

[2019-10-22 10:14] claudiacasellato commented on #457
Dear Axel
why "Not a showcase anymore"?

Il giorno lun 21 ott 2019 alle ore 15:38 alex4200 <notifications@github.com>
ha scritto:

[2019-10-22 11:20] alex4200 commented on #457
@claudiacasellato You are right, we had this also as showcase. Opening ticket again.

I appreciate if you can provide some more general details about what this showcase is about in the description.

Thank you

[2019-10-22 12:59] jdcourcol commented on #354
This can be postponed to SGA3.

[2019-10-22 14:59] SteMasoli commented on #476
I'm testing a python 3 version of the granule cell axon usecase but:

[code]

It works under python 2.

[2019-10-22 15:22] pramodk commented on #473
Sorry for delay. See the [updated instructions here](https://github.com/BlueBrain/spack/wiki/Piz-Daint-Deployment#sample-job-script) where everything is updated including bluepy module.

[2019-10-22 15:22] #473 closed, assigned to pramodk

[2019-10-22 15:23] pedroernesto commented on #323
I have the code for this part almost ready. I am currently at SfN'19, but this usecase will get finished during the first weeks of December.

[2019-10-23 07:12] alex4200 commented on #476
@SteMasoli  I can reproduce that behavior. I opened a bug report with the collab team, I will keep you updated.

[2019-10-23 07:50] alex4200 commented on #476
@SteMasoli Any interaction with the storage must be done using the  hbp_client. You can find documentation [HERE](https://collab.humanbrainproject.eu/#/collab/509/nav/24072). If you have any issues, please contact the collaboratory support at support@humanbrainproject.eu.

[2019-10-23 15:31] SteMasoli commented on #476
Thanks for the link to the documentation.
I had to rebuild the way i was accessing the file to make it work right.

I have followed the procedure to switch to NEURON 7.6 but, in conjunction with BluePyOpt, it does not work.

After this:
`nrn = ephys.simulators.NrnSimulator()`
It says:
`hoc shared library not found in /home/jovyan/.local/nrn/lib/python/neuron`

[code]

Fun fact, i have no problem c

[2019-10-23 19:37] clupascu commented on #476
I tested NEURON 7.6 and BluePyOpt this week. It worked for me. I cannot test it again now as I have a kernel error in my notebooks. I will test it again after the JupyterHub maintenance from tomorrow.

[2019-10-24 12:54] SteMasoli commented on #476
Yestarday was running fine and now i have a completely new issue with "hbp-service-client 1.1.1".

[code]

`RuntimeError                              Traceback (most recent call last)
<ipython-input-8-2df61c6fceeb> in <module>
      1 import os
----> 2 clients = get_hbp_service_client()

<ipython-input-1-889819196c7f> in get_hbp_service_client()
      3 HBPClient.CURRENT_COLLAB_ID = 3834;
      4

[2019-10-24 13:47] SteMasoli commented on #476
Except for the previous issue, the usecase i'm testing runs perfectly till the end with the latest BluePyOpt and Neuron7.6

[2019-10-28 10:08] sasaray opened #485 "Hippocampus Validation UseCase made Python 3 compatible"
The Hippocampus SingleCell Validation UseCase (https://collab.humanbrainproject.eu/#/collab/8123/nav/67071) is now compatible with both Python 3 and Python 2.

@alex4200, Can you please test if everyting works fine?

[2019-10-28 10:33] lbologna opened #486 "HHNB: submit and fetch jobs to/from CSCS-DAINT service account"
## Single Cell Building: Hodgkin-Huxley Neuron Builder Update

Aspect | Detail
------------ | -------------
Summary | The Hodgkin-Huxley Neuron Builder will allow the user to submit jobs to the CSCS-DAINT HPC platform through the Service Account
Expert | @lbologna
Deadline | 8th Nov 2019
Dependencies | None

## List of additional/changed features
The user will be provided with a new HPC system to

[2019-10-28 10:55] appukuttan-shailesh commented on #425
Final task expected to be completed by end-Nov.

[2019-10-28 10:55] appukuttan-shailesh commented on #380
Final task expected to be completed by end-Nov.

[2019-10-28 11:02] adamhospital opened #487 "Modelling/simulation tools use case, running Molecular Dynamics on HPC systems"
## New Use Case

Aspect | Detail
------------ | -------------
Summary | C1997 (Platforms providing web-access to molecular level tools for guiding systems level modelling)
Usecase Group | Molecular Level
Expert | Adam Hospital, Aurélien Luciani (IRB Barcelona)
Scientific User | Interested in Molecular Dynamics simulations
Deadline | M22
Target audience | Users of molecular modelling/simulation too

[2019-10-28 12:11] alex4200 commented on #480
But it is not implemented on PROD. To not forget to do this I reopen this ticket

[2019-10-28 12:48] yzerlaut commented on #359
- Models released in the KG: 32
- Models curated, ready for KG released: ~10 (Release time ~ 1 week)
- Models under curation: ~40  (Curation time ~ 1-2 months)

Then there are ~100 models left in the Model Catalog. Their "curation status" is hard to determine, some of them are not intended to be released (e.g. tests), some are private models for sharing between collaborators, some should enter the

[2019-10-28 14:21] alex4200 commented on #476
@SteMasoli Can you please try the following:

1. Split the two commands in two separate cells.
2. Then run the both.
3. If you get the same error do a 'kernel-reload' and run the second cell alone again.

And report what output you now get.

[2019-10-30 14:12] SteMasoli commented on #476
@alex4200
Sorry for the delay. I had an issue accessing any type of notebook from my account. After a reset i have access again.

Splitting the code into:
`!pip3 install --upgrade "hbp-service-client==1.1.1" >/dev/null`

and
`clients = get_hbp_service_client()`

generates a different error.

`ImportError                               Traceback (most recent call last)
<ipython-input-6-94c833aa5292>

[2019-10-31 07:16] alex4200 commented on #485
@sasaray Yes the notebook seems to work with python3.

@appukuttan-shailesh Ok to update this validation use case?

[2019-10-31 07:48] appukuttan-shailesh commented on #485
Alex can you confirm that the use case works well on the collab with both
Py2 and Py3? If so, please go ahead with updating the use case. Thanks.

On Thu, 31 Oct 2019, 8:16 AM alex4200, <notifications@github.com> wrote:

[2019-10-31 08:09] alex4200 commented on #485
@appukuttan-shailesh Is there a problem with the backend? I get zero models

[2019-10-31 08:39] appukuttan-shailesh commented on #485
@alex4200 : I do see all the models, both on the model catalog and from within the usecase.
Are you using one of your "test" accounts? Note the SGA2 accreditation required for accessing certain resources at the moment.

[2019-10-31 09:10] alex4200 commented on #485
Right, I forgot. And yes I used a test user. I will try again

[2019-10-31 11:39] alex4200 commented on #485
@sasaray  @appukuttan-shailesh I get an error in "Instantiating the model; Running model validation for selected tests":

[code]

It also looks like python2.7 is used here although the kernel is python3. And  pickle protocol 3 is a new protocol only for python3.

Maybe one or more packages must be re-installed for python3?

[2019-10-31 12:11] alex4200 commented on #476
@SteMasoli Have you reloaded the kernel after you installed the updated version of  `hbp-service-client==1.1.1`?

[2019-10-31 12:44] sasaray commented on #485
@alex4200 , @appukuttan-shailesh  This probably happens because the test has already been run on the same model using Python2 and the traces are already saved in pickle files that are supposed to be loaded instead of running the whole simulation again. Unfortunately it seems that pickle files created under Python2 can not be used under Python3 (or the other way around).
I will try to find a soluti

[2019-10-31 12:58] appukuttan-shailesh commented on #485
Great if this is easily doable, as suggested here:
https://stackoverflow.com/questions/25843698/valueerror-unsupported-pickle-protocol-3-python2-pickle-can-not-load-the-file

But otherwise, I am not sure we need to worry too much about this eventuality. In a few months we are all expected to move to Py3. Users left using Py2 don't have much right to complain after that ;-)
Also, it is unlikely tha

[2019-10-31 13:23] alex4200 commented on #485
I also propose to just support the python3 case. I even suggest to take out any python2 related code. The kernel is python3 when the use case is cloned, and we will only support python3 in the future.

[2019-10-31 15:40] clupascu commented on #485
Unfortunately, as @sasaray was saying, the pickle files created under Python2 can not be used under Python3 (or the other way around). We will have a problem with all the usecases related to the optimization of single cells. All the optimizations provided until now (and all the ones already registered in the KG) have as output a pkl file created under Python2, that will be impossible to use under

[2019-10-31 15:47] alex4200 commented on #485
Maybe this can help?   https://rebeccabilbro.github.io/convert-py2-pickles-to-py3/

[2019-11-01 10:19] pgetta commented on #470
Should be fixed now, @alex4200. Could you please take a look when you have some time?

[2019-11-01 10:47] alex4200 commented on #470
Yes works

[2019-11-01 10:47] #470 closed, assigned to pgetta

[2019-11-01 11:12] SteMasoli commented on #476
@alex4200
yes i have.

There is something going on with my account. I cannot access notebooks for the second time in 3 days.

[2019-11-01 12:00] alex4200 commented on #476
@SteMasoli  What is the error you get? Can you make a screenshot? I would write to support@humanbrainproject.eu

[2019-11-01 13:37] SteMasoli commented on #476
@alex4200
I'm in contact with support.
The previous breaking of my environment was caused by the Tornado package which cannot be the most recent.

Since the reset i have upgrade again the hbp-service-client to 1.1.1, which uses Tornado and this combination killed, again, my ability to load the notebooks.

I have requested another reset of my environment and I'll try to use the basic version (1.0)

[2019-11-03 09:03] SteMasoli commented on #476
With Tornado 4.5.3 and "hbp-service-client" 1.0.0
"StorageForbiddenException: You are forbidden to do this."

With Tornado 6.0 and hbp-service-client 1.0.0/1.1.1
"ImportError: cannot import name 'future_add_done_callback'`"

If i do an upgrade to hbp-service-client 1.1.1, with Tornado 6.0, it collapse the collab...

The hbp-service-client is compatible with Python3?

[2019-11-04 07:55] alex4200 opened #488 "Documentation missing for the Molecular Simulation use cases"
## Use Case Update

Aspect | Detail
------------ | -------------
Summary | Documentation missing for the Molecular Simulation use cases
Expert | @adamhospital   @aurel-l

### Tasks

- [x] Documentation for" Preparing a protein to run an atomistic Molecular Dynamics simulation"
- [x] Documentation for "Small molecule force field parameterization for atomistic Molecular Dynamics simulations"
- [x] D

[2019-11-04 08:36] alex4200 opened #489 "Documentation and Contributors for the Validation use cases"
## Use Case Update

Aspect | Detail
------------ | -------------
Summary | Documentation and Contributors for the Validation use cases
Expert | @appukuttan-shailesh

**Remove anything that does not apply**
## List of additional/changed features
*What are the changed or new features? What activities can users perform while using it? What makes it different from similar use cases? List the main func

[2019-11-04 09:03] appukuttan-shailesh commented on #489
Will be undertaken in mid-Dec along with Py3  UseCase releases.

[2019-11-04 10:01] SteMasoli commented on #476
@alex4200  After some more tinkering i have found a combination of packets that are good enough to run the usecase without braking the collab.

[2019-11-04 10:02] alex4200 commented on #476
@SteMasoli That is good to hear. Please provide the package/version combination that finally works for you - maybe that is helpful for other people as well.

[2019-11-04 10:44] Hjorthmedh commented on #378
We are working on migrating the code base to github from kth's github. Also preparing figures for article.

[2019-11-04 12:29] alex4200 commented on #359
Closing ticket, as there is a number of models available and this is an ongoing process outside of the scope of this project.

[2019-11-04 12:29] #359 closed

[2019-11-04 14:57] lbologna commented on #486
Implemented in DEV.

@alex4200 could you please verify that everything works well before putting to PROD?
Here's the link: https://collab.humanbrainproject.eu/#/collab/1256/nav/29703
Thank you

[2019-11-04 15:16] lbologna commented on #421
After investigation on several platforms with both Chrome and Firefox browsers, I found that the problem was due to my avast antivirus, which implements a web-shield that repeats a frontend GET request if it does not receive any reply in a certain amount of time (in my case it was 2 min). This causes the nginx-uwsgi communication to be interrupted, so the processes repeat and at the same time get

[2019-11-04 15:16] #421 closed, assigned to lbologna

[2019-11-06 09:26] alex4200 commented on #485
A retest of the notebook with two test users worked fine. I have uploaded the notebook to the use cases repository (will be in PROD later this month).

[2019-11-06 09:26] #485 closed, assigned to sasaray, appukuttan-shailesh

[2019-11-06 15:46] claudiacasellato commented on #457
we could choose a robot in NRP with just a head horizontal rotation and eye  horizontal rotation (the two eyes integral each/other)  , therefore 2 degrees of freedom

The cerebellum can be the one reconstructed from the info into hdf5 (as on KG in SONATA but without taking into account stimulus setting and simulation parts). In the attached code here (brain.py), function "def create_cerebellum()"

[2019-11-07 16:34] lbologna commented on #448
@alex4200 we implemented the final points you suggested, moved the model/data to a new container Shailesh just created for the martinello_et_al_2019 lp and inserted it in the index page. Could you please have a final look? If everything works fine I will put it in PROD and we will be able to close the ticket.
Here's the DEV link:
https://cnr-ibf-pa.github.io/hbp-bsp-live-papers-dev/index.html
Than

[2019-11-11 12:33] alex4200 commented on #448
Tests of this livepaper and the BlueNaaS integration seem to work very nicely.

From my side this ticket can be closed.

[2019-11-13 14:45] lbologna commented on #448
Thanks Alex! Moved to production.
Closing the ticket.

[2019-11-13 14:45] #448 closed, assigned to lbologna, genric, appukuttan-shailesh, ElisabettaGiacalone

[2019-11-14 08:54] romani79 commented on #332
We are going to release a rat CA1 microcircuit, but not the full-scale.
The release date should be defined. It could be at the same time of the release of the MOOC or earlier.

[2019-11-16 12:04] rcsm17 commented on #344
Sorry for the late reply.

The monitor should show your project on the HPC system with the relative quota if available. You can also check if the project is ready for the job submission by clicking on the "submission enabled" button.
In details, the monitor check your hbp identity and show the HPCs status.
When you select one HPC, the monitor check if your account is mapped to the relative HPC and

[2019-11-17 10:49] lbologna commented on #344
Hello @szkali,

in the most recent version of the monitor some issues have been fixed and the behavior should be the one described in the previous comment by @rcsm17 .
Could you and your colleagues please test again now at the following link and give us your feedback:
https://bspmonitors.cineca.it/

Thank you!

[2019-11-18 13:08] szkali commented on #344
Hi @lbologna and @rcsm17 ,
There is not much change for any of us here - we still do not get any user-specific information (see screenshot).
![HPC_monitor_screenshot_20191118](https://user-images.githubusercontent.com/5347908/69054427-d0aae480-0a0b-11ea-90ab-4e9117745749.PNG)
I do get a popup message along the lines of "This user has no credential on ..."
How is the monitor supposed to know about

[2019-11-18 14:59] antonelepfl commented on #480
This should be in production @alex4200 Can you verify this and close it please?

[2019-11-18 15:08] antonelepfl commented on #480
I have added also the documentation of it [here](https://github.com/antonelepfl/usecases/commit/9dea71345da2ba2ddb9eebb34d7fb1f56eca9b95)

[2019-11-18 15:11] clupascu commented on #480
I saw it on prod. Can the icon be added next to "exp" and "hpc", or "beta" icons? I don't like it very much where it is right now. What do you think?

[2019-11-19 09:25] lbologna opened #490 "Guidebook: documentation for HPC Monitor"
## Insert documentation in the Guidebook for the HPC monitor tool

Aspect | Detail
------------ | -------------
Summary | Insert Guidebook page for HPC monitor
Expert | @lbologna
Deadline | 30 Nov 2019
Dependencies | None

## List of additional/changed features
The user is provided with a dedicated page on the HPC monitor in the Guidebook, with explanations about the icon meaning and the operation

[2019-11-19 10:53] alex4200 commented on #480
@clupascu @antonelepfl Also the icon only seems to exist for very few use cases. I think it should be there for every use case.

[2019-11-19 14:41] lbologna opened #491 "BUG: optimization jobs end with error on DAINT"
### Expected behavior
The optimization jobs submitted to CSCS-DAINT ends successfully

### Actual Behavior
The optimization jobs submitted to CSCS-DAINT give an error when loading the bpopt module, after setting the module path, in that it cannot find the modulefile for 'cray-python/2.7.13.1'. Here are the commands executed on DAINT and the given error:

export MODULEPATH=/users/bp000178/ich002/so

[2019-11-19 15:31] lbologna opened #492 "BUG: optimization jobs end with error on NSG"
### Expected behavior
The optimization jobs submitted to NSG ends successfully

### Actual Behavior (please include screenshot if possible)
The optimization jobs submitted to NSG give the following error:

Traceback (most recent call last):
  File "opt_neuron.py", line 68, in <module>
    import model
  File "/projects/ps-nsg/home/nsguser/ngbwr/workspace/NGBW-JOB-BLUEPYOPT_TG-E99B9052BBA643DCA4D1A

[2019-11-19 16:04] lbologna commented on #344
Hello @szkali,

the monitor uses the token that is generated at login time to query the hpc systems. If the HBP user (for which the token has been generated) is mapped onto the hpc system she/he will get the sum of the quotas of her/his projects (in a short time, with the next UNICORE release, it will be possible to have the quotas for individual projects).
As for the service account, the user get

[2019-11-20 08:06] antonelepfl commented on #480
I appreciate your comments guys!
As a recommendation for future changes I would like to use DEV to get feedback and not PROD.
I did the changes on DEV and you mentioned that it was good and then in PROD it was the opposite. Please try to do the checks in DEV first :)

I'll modify this soon and regarding that they appear only in a couple of use cases I would suggest the creators of the use cases to

[2019-11-20 13:55] alex4200 commented on #455
@appukuttan-shailesh @apdavison Can you please add a somewhat detailed description/script to this issue of what you want to show to the reviewers? This information is still missing.

[2019-11-20 16:15] lbologna commented on #490
Hello @alex4200,

I just added the HPC Status Monitor Page in the Guidebook. Given that this will be a standalone item in the BSP, I created an entry in the TOC at the same level as the Getting Started and the Online Use Cases ones.
Could you please check whether some corrections/changes are needed?
Here's the link:
https://lbologna.github.io/hbp-sp6-guidebook/hpc_status_monitor/hpc_status_monitor

[2019-11-20 21:46] clupascu commented on #480
@antonelepfl I didn't notice the behaviour on DEV. Anyway, I meant that I don't like very much icons positioning when the web app window is not maximized

![immagine](https://user-images.githubusercontent.com/22050958/69280793-65b60500-0be7-11ea-9fb6-39817a5231ae.png)

It is better of course when the window is maximized

![immagine](https://user-images.githubusercontent.com/22050958/69280847-79616

[2019-11-21 08:07] alex4200 commented on #490
@lbologna Thanks, I think the guidebook page is fine.

One thing, however, I overlooked before regarding the actual monitor page. Would it be possible to use a different color scheme for the User's Detail Total row (for example make the background dark grey all the time). Then the "Total" row is always distinct from the project rows and easier to spot.

Sorry for not mentioning that earlier.

[2019-11-21 08:25] szkali commented on #344
There is indeed some improvement, but the results are not consistent for all users.
All of us can now see the service account on Piz Daint, and one of my colleagues can also see his project quota on the same machine. On the other hand, another colleague (@sasaray ) cannot see her project quota on Piz Daint (and gets the message "This user has no credential on PIZDAINT").
In addition, we never get

[2019-11-22 11:18] lbologna commented on #344
Hello @szkali, @sasaray,

I see. To double check, could you please clone the jupyter notebook available at the link below and tell us if you get the same results, please?

https://collab.humanbrainproject.eu/#/collab/9130/nav/287784

Systems can be temporarily unavailable but now Jureca and NSG are online so you should see at least the green icon on the HPC status for them.
As for the quotas, are

[2019-11-22 11:39] lbologna commented on #492
After email exchange with NSG and a system status reversion, the issue has been solved.
Note: NSG will pass to python3 as the default python interpreter in the first weeks of December.
Closing the issue.

[2019-11-22 11:39] #492 closed, assigned to lbologna, clupascu

[2019-11-22 22:28] clupascu commented on #476
The Synaptic events fitting usecases (https://collab.humanbrainproject.eu/#/collab/71255/nav/483240) are now compatible with Python 3.

@alex4200 can you please test if everything works fine?

[2019-11-29 09:20] antonelepfl commented on #480
I have updated DEV with these changes
Please let me know if they look correct now
I have also added the `type` for most of the use cases.

![Screenshot 2019-11-29 at 10 14 14](https://user-images.githubusercontent.com/24406041/69858189-c69da700-1291-11ea-962b-43a87b43a759.png)
![Screenshot 2019-11-29 at 10 13 39](https://user-images.githubusercontent.com/24406041/69858190-c7363d80-1291-11ea-858e-5

[2019-11-29 15:12] antonelepfl commented on #481
I have implemented this on sim-ui DEV

[2019-11-29 15:12] antonelepfl commented on #482
I have implemented this on sim-ui DEV

[2019-12-01 08:26] Hjorthmedh commented on #378
Codebase is on Github, private repository.

Tuned intra-striatal synapses between dSPN, iSPN and FS neurons to surrogate data generated from experimental parameters.

Validated conductance for synapses between dSPN, iSPN and FS by triggering a spike in neurons one at a time, and checking the response in the connected neighbours and compared results with experimental data.

Updated connectivity pru

[2019-12-02 06:52] alex4200 commented on #480
@antonelepfl  Yes looks good to me so far - but it seems to be missing for the "Brain Area Circuit In Silico Experiments - Hippocampus" use case.

[2019-12-02 07:14] antonelepfl commented on #480
Good catch !
I just patched that and the changes would be online soon!

[2019-12-02 08:13] alex4200 commented on #480
Thanks, now the icons seems to be applied consistently across the BSP. I suggest to move it also to Prod.

[2019-12-02 09:12] SteMasoli commented on #436
Since the Purkinje cell usecase contains a similar example as would have been this one, I'm thinking to change it toward something different.

[2019-12-02 10:27] lbologna opened #493 "TVB Jupyter Notebooks in the BSP Online Use Cases"
## TVB Use Cases

Aspect | Detail
------------ | -------------
Summary | Three TVB Jupyter Notebooks to be potentially integrated in the BSP Online Use Cases
Usecase Group | Brain Area Circuit and/or Whole Brain In Silico Exp (new): to be decided after exploring the jupyter notebooks
Expert | @alex4200 @liadomide
Scientific User | @alex4200, @lbologna
Deadline | February 2020
Target audience | Sci

[2019-12-02 10:35] antonelepfl commented on #491
Please check that the path is the same that is mentioned in
https://github.com/BlueBrain/spack/wiki/Piz-Daint-Deployment#using-py-bluepy-or-bluepyopt

Otherwise inform HPC because it's better to have only ONE source of truth (In this case I propose the wiki mentioned above)

[2019-12-02 12:34] alex4200 commented on #480
In production, closing ticket.

[2019-12-02 12:34] #480 closed, assigned to alex4200

[2019-12-02 14:30] pedroernesto commented on #323
Addition of validation for principal extents of neurites (axon or dendrite) was already done in:
https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/391

[2019-12-03 09:27] alex4200 opened #494 "hoc shared library not found"
### Expected behavior

Use cases run successfully for the following use cases:
- Single Cell Model / Optimize a striatal fast-spiking interneuron
- Circuit Building / Striatum microcircuitry

### Actual Behavior (please include screenshot if possible)

neuron import error:

ExceptionTraceback (most recent call last)
<ipython-input-20-f65fc45cdad7> in <module>()
----> 1 simulator = ephys.simulators

[2019-12-03 13:27] alex4200 commented on #323
@pedroernesto Are you saying this task is already done?

[2019-12-03 13:39] pedroernesto commented on #323
This issue refers to the validation use case 'Basal Ganglia Morphology Validation' and it is not completed. I mean that the first part stated in the summary is done.

It is missing the population study, i.e. _test average features of a cells population against experimental data_. I am working on it.

[2019-12-03 13:40] alex4200 commented on #323
@pedroernesto Thanks for the clarification.

[2019-12-04 06:56] alex4200 commented on #481
@antonelepfl The download seems to work so far, except the data for the INT spikes on the spike raster plot. They are missing.

[2019-12-04 09:04] alex4200 commented on #476
@clupascu Thanks for that - I had a look and started a job on Jureca with "Synaptic events fitting". But when the job was SUCCESSFUL I saw the following error:

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-13-28acce706607> in checksimunicore(CheckSU)
     53                 con

[2019-12-04 09:41] appukuttan-shailesh commented on #455
## Description
We intend to demonstrate the _HippoUnit_ validation use case. _HippoUnit_ is a test suite developed for the validation of electrophysiological responses of hippocampal single cell models. The tests simulate CA1 pyramidal cell models that mimic the electrophysiological protocol corresponding to that originally employed for obtaining the target experimental data. The behavior of the m

[2019-12-04 10:45] sasaray opened #495 "Can not load Jupyter Notebooks on Collab"
### Expected behavior
Jupyter Notebooks can bee loaded and run

### Actual Behavior (please include screenshot if possible)

Me and @szkali  can not load any Jupyter Notebook on The Collab. We both get the following error message:

"Error loading the notebook
Your session is expired and it's not possible to load your notebook from the Collab storage."
![Collab_error](https://user-images.githubuser

[2019-12-04 10:46] alex4200 commented on #344
Closing ticket as the HPC-Online-status-page is available in the BSP
 production here: https://collab.humanbrainproject.eu/#/collab/1655/nav/490056

[2019-12-04 10:46] #344 closed

[2019-12-04 10:49] alex4200 commented on #495
[The Collab team] purged some refresh tokens in order to improve the performance of the MITREid Connect server. It seems it did not work as intended and had some side effects.

This issue seems to affect EVERY collab user. I have asked the Collab team to reset EVERY container.

[2019-12-04 13:29] alex4200 commented on #493
@liadomide Hi Lia, I see that you are using the following function in the use cases:

[code]

As `get_bbp_client()` is outdated, please replace it with the following code in all of the notebooks:

[code]

Please give it a try.

In case you get an error please check #495.

[2019-12-04 13:52] antonelepfl commented on #481
I have added this on DEV. You will get the JSON with GID and types

[2019-12-04 13:53] alex4200 commented on #495
@sasaray @szkali Can you please try again? The issue might be solved.

Maybe you need to log out and log in again. Also note: As the container has been reset, some packages you are using by default must be re-installed.

if it works, please close this ticket

[2019-12-04 14:38] clupascu commented on #476
@alex4200 can you please try again? I modified the notebooks.

[2019-12-04 14:42] sasaray commented on #495
@alex4200 It works fine. Thanks a lot!

[2019-12-04 14:42] #495 closed, assigned to nobody

[2019-12-04 15:40] clupascu commented on #491
There is actually a discussion in this jira ticket<https://bbpteam.epfl.ch/project/issues/browse/BBPP42-534> as well.

[2019-12-05 10:23] alex4200 commented on #476
@clupascu  Is that problem also fixed in the analysis notebook?

[2019-12-05 12:39] liadomide commented on #493
@alex4200 We did try the new code, but method `download_file` does not appear to exist.
We found `download_file_content` instead, but it is a bit unclear how exactly to use it, as it requires a GUID. Could it happen that you have some documentation on this new library API?

[2019-12-05 12:43] alex4200 commented on #493
@liadomide  You have to make sure that you have `hbp-service-client` installed with at least version 1.0.0.

Documentation can be found here: https://collab.humanbrainproject.eu/#/collab/509/nav/41653

[2019-12-05 13:18] alex4200 commented on #427
@clupascu  Do you have any updates on this task?

[2019-12-05 13:22] alex4200 commented on #326
@jdcourcol Is there any update on this task? Did the estimated date change?

[2019-12-05 13:23] alex4200 commented on #368
@clupascu Do you have any updates on this task? What is the expected delivery date?

[2019-12-05 13:25] gabiflorea10 commented on #493
@alex4200 We make sure that we have hbp-service-client installed with last version (1.1.1). But this does not solve the problem. The method download_file still not appear to exist. I attach two relevant screenshots.
![collab_error](https://user-images.githubusercontent.com/48277744/70239141-6c11b880-1773-11ea-87bc-6ed151ebb8b0.PNG)
![error_hbp_collab_2](https://user-images.githubusercontent.com/48

[2019-12-05 13:34] alex4200 commented on #493
@gabiflorea10 Can you please try the following:

- Make sure you use a python3 kernel
- Restart the kernel

and then try again

[2019-12-05 13:51] gabiflorea10 commented on #493
It works now.
Thank you for support.

[2019-12-05 13:54] asanin-epfl commented on #326
Currently the reduction has been upgraded to our support of Sonata but unfortunately I don't have any good networks to test it so I'm working on creating a new small network complaint with our Sonata support that can be used for tests.

[2019-12-05 14:34] clupascu commented on #368
@alex4200 no updates on this task. I will modify the milestone to M24.

[2019-12-05 14:37] clupascu commented on #427
@alex4200 no updates on this task. I will change the milestone.

[2019-12-05 14:41] clupascu commented on #476
@alex4200 the problem shouldn't be in the analysis notebook. Please let me know if you find the same problem in the analysis notebook while running the automatic tests.

[2019-12-05 15:32] alex4200 commented on #476
@clupascu I see two issues currently:

1. With the notebook "Synaptic events fitting":
I choose NIP data (for example "sIPSCs from juvenile (P21-30) C57BL/6J male mice hippocampus CA1 pyramidal cell (A3)") and start it on Marconi (account HBP_CDP2_it_0) But the job always fails - on Marconi it says in the stderr (e.g. for job 691c715f-32a0-4e98-8612-116edef8e64c):

[code]

2. Within the notebook "

[2019-12-05 15:54] clupascu commented on #476
@alex4200 I fixed the second issue. For the first one I have to see what happens on Marconi. I hope that modules are still working on Marconi. I will check this and let you know.

[2019-12-06 07:43] alex4200 commented on #476
@clupascu Found some other problem when clicking on "Best Fit" in the Analysis notebook for the example:

![Selection_927](https://user-images.githubusercontent.com/12729291/70305005-84c9af00-1803-11ea-86f2-cc6b050b3c9c.png)

It looks like `nrn` points to neuron-7.4. With neuron-7.6 the error is not present anymore.

I suggest to include these two lines in every notebook that uses neuron, just to

[2019-12-06 16:06] clupascu commented on #476
@alex4200 I fixed this. Thank you for your suggestion.

[2019-12-09 07:27] alex4200 commented on #481
For the download of the LFP plots the data do not seem to fit. The data contains a list 'spectrum.f' which only goes from 0 to 30, but in the plots in the browser they go to 1000 (Hertz).
Also not sure if the PSD data are correct as they can be negative in the downloaded data, but are not negative in the plot.

[2019-12-09 07:31] alex4200 commented on #482
I have three remarks

- Maybe it makes more sense to set the default value for the number of traces to 5 instead of 1?
- (LowPrio) I noticed that when you choose GID e.g. '11-13' then this means only GID's 11 and 12 are used (and not 13). This is consistent with the python list implementation, but might confuse other users.
- When selecting random cell, you can only have a maximum of 80 (for PST a

[2019-12-09 07:32] alex4200 opened #496 "Deprecated function matplotlib.plt.hold for use case "Purkinje cell simulation and validation""
### Expected behavior

Use case "Simulation and validation of a mouse Purkinje cell multicompartmental model" from the Single Cell Modelling runs without error.

### Actual Behavior (please include screenshot if possible)

In that use case there _can_ be the following error:

`AttributeError: Module 'matplotlib.pyplot' has no attribute 'hold'. `

### Steps to reproduce the problem

1. Install matp

[2019-12-09 08:31] Hjorthmedh commented on #378
Written virtual experiments to match Planert et al 2010, Straub et al 2016, Chuhma et al 2011.

Fixed a crash bug in merge of synapses files that only manifests for certain number of workers.

Fixed a bug that crashed input generation when running in parallel.

Modified LTS connectivity.

Currently generating new figures for article with the new virtual experiments etc.

[2019-12-09 09:12] SteMasoli commented on #496
Hi.

I have changed it to plt.close() to prevent multiple images to fuse together.
This command causes a warning that is irritating but innocuous.

[2019-12-09 10:13] alex4200 commented on #380
Andrew will move the KG-based apps from staging to production in first week on January.

[2019-12-09 10:13] alex4200 commented on #425
Andrew will move the KG-based apps from staging to production in first week on January.

[2019-12-09 10:39] alex4200 commented on #490
Works as expected

[2019-12-09 10:39] #490 closed, assigned to lbologna

[2019-12-09 15:42] BerndSchuller opened #497 "UNICORE HPC job submission service unavailable on Dec 10"
### Note

Due to software maintencance, the Unity authentication service will be temporarily unavailable on Dec 10.

Consequently, access to jobs/data via UNICORE will not be possible.

This ticket will be closed when the service is back online

[2019-12-10 07:26] BerndSchuller commented on #497
and it's already up again

[2019-12-10 07:26] #497 closed, assigned to BerndSchuller

[2019-12-11 10:41] appukuttan-shailesh commented on #489
Completed.

[2019-12-11 11:41] appukuttan-shailesh commented on #476
Validation usecases have been made Py3 compatible. Support for Py2 has been dropped.

[2019-12-11 11:41] appukuttan-shailesh commented on #463
Resolved.

[2019-12-11 13:21] clupascu commented on #476
@alex4200 For this issue on Marconi you selected the "demo" version or the "all_traces" version? Can you point me to the stdout and stderr you get?

[2019-12-12 10:39] alex4200 commented on #489
Guidebook updated, as well as contributors list

[2019-12-12 10:39] #489 closed, assigned to appukuttan-shailesh

[2019-12-12 10:52] alex4200 commented on #463
yes done

[2019-12-12 10:52] #463 closed, assigned to appukuttan-shailesh

[2019-12-12 12:21] alex4200 commented on #476
@clupascu I just repeated that issue, and I did select 'demo' now (it was 'all traces' before). But now I do not even get any output log. Nothing. No change in the folder on Marconi (39917b26-bb5c-4681-91f5-c3b747497dfc):

[code]

When I run the command from `run2.sh` manually it works, I get results. But I see a warning when loading the `numpy` module:

[code]

Maybe that has something to do with

[2019-12-12 14:15] alex4200 commented on #493
@gabiflorea10  Let me know when you have updated the three notebooks so I can have a look again.

[2019-12-13 07:37] alex4200 commented on #496
Thanks, work now

[2019-12-13 07:37] #496 closed, assigned to SteMasoli

[2019-12-13 07:46] alex4200 commented on #486
Current status (based on discussion with Luca):
- PizDaint seems to not generate correctly the zip file
- NSG reports back "No .hoc file is present in the final simulation folder"
- Suggestion: Give the user the possibility to download whatever is being generated (to debug, investigate etc.)

[2019-12-13 09:25] gabiflorea10 commented on #493
@alex4200 For the moment I have some problems in running notebooks on collab. One of them is in notebook: "Run a custom cosimulation" from TVB NEST collab. After running a job, when I try to get results, I run into an error:

HTTPError                                 Traceback (most recent call last)
<ipython-input-6-f1f00f9b8b84> in <module>()
----> 1 out = wd.stat("stdout")
      2 f = out.raw()

[2019-12-13 09:48] alex4200 commented on #493
@gabiflorea10 Can you log in to PizDaint and check the content of the folder yourself? I suspect there is no file `stdout`.

I tried to check but I cannot access the folder `/scratch/snx3000/unicore/FILESPACE/b6491ad5-798f-45c9-a642-3ea30bf6ab25/' on PizDaint (`Permission denied`).

[2019-12-13 16:11] clupascu commented on #476
@alex4200 It is strange. I get the output log and I see in the stderr the same warning as above.
I have to ask if the Neuron version (NEURON -- VERSION 7.5 master (9fc7197) 2017-11-06) used on Marconi is Python 3.5 compatible.

It seems that when I load the modules

module purge
module load autoload intelmpi
module load autoload python
module load autoload mkl
module load autoload numpy
export PAT

[2019-12-14 15:19] gabiflorea10 commented on #493
@alex4200 I checked what you required and I see a file named 'stdout' in folder you indicate to search in. I also tried, just for testing purposes, to change the permissions for stdout to '777'. I still have the same error.
![image](https://user-images.githubusercontent.com/48277744/70850669-a70f9c80-1e95-11ea-9d41-2e4c6385d988.png)

[2019-12-14 15:38] gabiflorea10 commented on #493
@alex4200 I have one more problem in running notebooks in collab, error that is possible to be related to the aforementioned one. In TVB NEST collab, in notebook 'Test TVB-NEST installation', I use a '.sh' file to specify the simulation I want to perform. This file has the following content:
![image](https://user-images.githubusercontent.com/48277744/70850872-a2e47e80-1e97-11ea-9341-8ad72f06219a.p

[2019-12-16 17:13] clupascu opened #498 "Synaptic plasticity"
## New Use Case "Synaptic plasticity use case"

Aspect | Detail
------------ | -------------
Summary | This use case allows a user to configure and test, through an intuitive GUI, different synaptic plasticity models and protocols on any of the single cell optimized models present in the model catalog. It consists of two tabs: "Config", where the user can specify the plasticity model to use and sy

[2019-12-23 14:07] lbologna opened #499 "CxSystem2 on the BSP"
## The CxSystem2 simulation framework is integrated in the BSP

Aspect | Detail
------------ | -------------
Summary | The CxSystem2 simulation framework is integrated in the BSP. The user can build networks, set network and simulation parameters, run simulations and download simulation results from the graphical user interface
Expert | @Vafa-Andalibi @henhok @sivanni
Deadline | 31/01/2020
Depende

[2019-12-23 16:20] pedroernesto commented on #323
@alex4200 I just finished the correction of the Python code for this part, and the Jupyter notebook for this use case runs already smoothly locally.
However, when trying at the Collab I get an error message. I will contact the support team to fix this.

[2020-01-06 14:03] alex4200 commented on #493
@gabiflorea10 I am not sure what it the goal of running the script. Do you want to run something on a computer cluster from the notebook? And what is `saurus`?

Maybe we can have a short voice/video call this week?

[2020-01-07 08:40] alex4200 opened #500 "Error for "Rebuild Cell" for PizDaint and Service Account"
### Expected behavior

Simulation runs successfully and downloads a output.tar.gz file to the Collab's storage

### Actual Behavior (please include screenshot if possible)

When running with PizDaint or the Service Account no output.tar.gz file is created in the Collab storage. The stderr file contains the following error:

[code]

and the following error:

[code]

### Steps to reproduce the probl

[2020-01-10 09:33] antonelepfl opened #501 "Service Account PizDaint - Server Error (500)"
### Expected behavior
Try to submit a job in Piz-Daint using service account
### Actual Behavior (please include screenshot if possible)
![Screenshot 2020-01-10 at 10 28 24](https://user-images.githubusercontent.com/24406041/72141919-ff05ca00-3393-11ea-96e4-1ac94c493361.png)

### Optional infrastructural data (user, platform, browser, environment, ...)
Python 3, Collab

I'm not sure if it might be

[2020-01-10 10:27] rcsm17 commented on #501
Hello Stefano,
In the service account the runtime value must be specified in floating numbers (representing hours - here are example submissions in the documentation: https://humanbrainproject.github.io/hbp-bsp-service-account/api/user/jobs/job_submission.html. We will handle this exception in the code as well). In your case "20m" is equal to ~"0.3".
Please let me know if you encounter any other p

[2020-01-10 10:55] alex4200 commented on #499
@Vafa-Andalibi @henhok

I tried the application and followed the tutorial, but when I click on 'Simulate' nothing happens. There is no reply from https://hbp-bsp-cxsys2.cineca.it/simulate, and after one minute I hit a timeout.

[2020-01-10 11:37] antonelepfl commented on #501
Hi,
I have tried with
[code]
[code]

(I know that after I'm doing the dumps so the result should be the same but just in case) and I get the same thing

[2020-01-10 12:49] alex4200 opened #502 "Python3 upgrade for Striatum Microcircuitry usecase"
### Expected behavior

Notebook works with python3 kernel

### Actual Behavior (please include screenshot if possible)

Does not work yet with python3

### Steps to reproduce the problem

1. Clone the use case
2. Change kernel to python3
3. Adjust first cell to:
[code]
4. Run all cells

The error is because of a print statement in one of the python files included in the zip file. These files must

[2020-01-10 13:03] Hjorthmedh commented on #502
This is the old version of the scaffold model and should be replaced by the new version after paper is published. Submitting planned on Monday.

[2020-01-10 13:07] alex4200 opened #503 "Model not available anymore for download (Morphology Analysis)"
### Expected behavior

Morphology Analysis does work

### Actual Behavior (please include screenshot if possible)

As the model is not found anymore, the notebook is broken.

Should Nexus be used instead?

### Steps to reproduce the problem

wget https://validation-v1.brainsimulation.eu/models/?name=CA1_int_bAC_011017HP2_20180110153901

### Optional infrastructural data (user, platform, browser, e

[2020-01-10 13:15] alex4200 opened #504 "Python3 update for Connectome Cerebellum"
### Expected behavior

Should work for python3

### Actual Behavior (please include screenshot if possible)

Several incompatibility issues.

### Steps to reproduce the problem

1. Clone notebook
2. Change kernel
3. Run all cells

### Optional infrastructural data (user, platform, browser, environment, ...)

## Guidelines

When updating the notebook you might consider some of the [Guidelines](http

[2020-01-10 13:50] apdavison commented on #503
The validation service is currently down for an upgrade (i.e. switching to the KG-based version). It should be back up by 18:00 this evening.

[2020-01-10 15:24] rcsm17 commented on #501
Hi Stefano, you can now test your job. In your job you specified the job filename but you never pass the data. Now I fixed that behavior !

[2020-01-10 15:33] rcsm17 commented on #501
Hi Stefano,
The last issue is different from the other, even if the error code is the same, indeed the error occurred because you added the job file name, in the "content-description", but you didn't add the content.
Now I just fixed this behavior and you can submit a job in pizdaint without add the file name (removing the "content-description" from the headers) and the file content.
Let me know i

[2020-01-10 15:50] Vafa-Andalibi commented on #499
@alex4200 thank you for your update. I added another notification for submission of the request. After you submit the request, you can check the status of the current simulation by clicking on the `simulation output` which shows you what's actually happening on the server regarding the simulations you have submitted. Also, if simulation is an array of simulations, you can check which part of the s

[2020-01-13 13:27] alex4200 commented on #499
@Vafa-Andalibi  Thanks for the reply, it is somewhat clearer now. However, I have some further questions/comments:

- It is hard to see for a user when the simulation has been finished. You need to check the "Simulation Output" or the "Show Workspace", but in the first view you see some not-intuitive log output, and in the second place you see just some files that are being created. To me it is re

[2020-01-14 10:21] apdavison commented on #503
This should now be fixed (since Friday evening)

(note that a simple wget will not work, since you need to provide the authorization token in the header)

[2020-01-14 13:58] apdavison commented on #380
Done

[2020-01-14 13:58] #380 closed

[2020-01-14 13:59] apdavison commented on #425
Done

[2020-01-14 13:59] #425 closed, assigned to apdavison

[2020-01-14 14:15] alex4200 opened #505 "UnicodeDecodeError for use case BluePyOpt Optimized Model Validation"
### Expected behavior

Use case runs without errors for model #9

### Actual Behavior (please include screenshot if possible)

The cell running the test creates an error as follows:

[code]

### Steps to reproduce the problem

- Clone the notebook
- Run cell by cell, select model 9

### Optional infrastructural data (user, platform, browser, environment, ...)

- DEV version here https://collab.hum

[2020-01-15 03:36] Vafa-Andalibi commented on #499
@alex4200 thanks for the great feedback. Regarding the first issue that you mentioned, I implemented a "status window" which gives you update about the submitted simulations. The window is by default on the bottom right and draggable and adjustable.

Regarding your second comment:
`{0|5|2}` will have the same behavior as `range(0,5,2)` in python where the first number is the start index, the secon

[2020-01-15 09:35] antonelepfl commented on #501
So it works the submission part but I have a couple of questions..

1) Before I was getting a message saying "Request incomplete. Parameters missing" I guess we should be more explicit about which parameter is missing because I was not able to figure this out.

2) I'm submitting a job that should output the result of '/bin/date'  but it fails.
   a) I'm not able to know why it fails because if I a

[2020-01-15 10:09] alex4200 commented on #503
@apdavison Thanks, It works again with proper authorization.

[2020-01-15 10:09] #503 closed, assigned to nobody

[2020-01-15 11:44] rcsm17 commented on #501
1. The "Request incomplete. Parameters missing" message occurred when the Service Account doesn't find the payload.
2. There was a bug, you can try again.
3. In theory it's not possible to submit a job with multiple files because you can upload only a single file per job right now. But I think that there is a trick to do that.
My idea is:
     1) prepare the multipliple files so you can run them s

[2020-01-15 11:53] alex4200 opened #506 "Import error not visible for molecular/protein usecases"
### Expected behavior

Notebook should fail when an import does not succeed, and the user needs to see where and what is the problem.

### Actual Behavior (please include screenshot if possible)

If an import fails there is just the message 'Problem importing a dependency. ' but it is not further specified. Furthermore, since no error is raised, the automated tests continue and the notebook fails

[2020-01-15 14:47] antonelepfl opened #507 "Service Account PizDaint - Multiple file upload"
The Unicore API allows this so I guess that we would need to implement it as well.

[2020-01-15 14:47] antonelepfl commented on #501
1) I guess you could add a message like "Request incomplete. Payload parameter in header missing" or something more descriptive. Also it is really confusing a payload on the header.
3) Let's discuss on https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/507

[2020-01-15 14:57] alex4200 commented on #499
@Vafa-Andalibi

I strongly suggest to update the documentation to let users know that the format `{0,5,2}` means the same as `range(0,5,2)`. That is highly non-intuitive!

Furthermore, I still get almost the same error for the `0 - Install`step. I tried with a different user, but still get the same error!

[code]

[2020-01-15 14:58] antonelepfl opened #508 "Service Account PizDaint - filename with '.' (dot) are not retrievable"
If I submit a file called `input.sh` then when I use the API to get the content
[code]
I get
[code]

But if I upload / get with `input_sh` it works correctly. The same issue with `.zip`, `.txt`, etc

[2020-01-15 15:01] Vafa-Andalibi commented on #499
Just to be clear `{0|5|2}` is considered equivalent as `range(0,5,2)` and `{0,5,2}` is not. Regardless, we will update the documentation to fully clarify this notation.

I'll work on the installation issue with @henhok and @sivanni asap, and will write back as soon as the issue is fixed.

[2020-01-15 15:08] rcsm17 commented on #507
Could you provide me a real example of a multi file uploading request ?

[2020-01-16 07:15] antonelepfl commented on #507
To run some Simulations of brain area, I need 2 files:
1) The configuration of the simulations
2) The script where I load modules, run some extra script steps and then the run simulation.

The same thing happens with Analysis, I usually specify:
1) Use Unicore [Imports](https://www.unicore.eu/docstore/ucc-7.8.0/ucc-manual.html#_job_data_management) to get the simulation results
2) Analysis configu

[2020-01-16 07:21] antonelepfl commented on #507
If you were looking for some code of how to do it, it is something like

[code]

[code]

Or Py-Unicore [code](https://github.com/HumanBrainProject/pyunicore/blob/dev/pyunicore/client.py#L293)

[2020-01-16 10:43] alex4200 opened #509 "Python3 update for "Optimization of FS cell""
### Expected behavior

Should work for python3

### Actual Behavior (please include screenshot if possible)

Several incompatibility issues.

### Steps to reproduce the problem

1. Clone notebook
2. Change kernel
3. Run all cells

### Optional infrastructural data (user, platform, browser, environment, ...)

## Guidelines

When updating the notebook you might consider some of the [Guidelines](http

[2020-01-16 10:56] a1eko commented on #509
Hi Alex! What's the URL to "clone the notebook" or should I do it in Collab?

[2020-01-16 11:36] alex4200 commented on #509
Hi, the URL to the DEV notebook is: /8566/opt-fs_cell.ipynb

You just need to update this notebook until it is running on a python3 kernel

https://collab.humanbrainproject.eu/#/collab/8566/nav/64870

[2020-01-16 11:39] rcsm17 commented on #507
I need a lot of time to implement this function. Can you run these kind of jobs whit a single zipping all yours file into one zip ?

[2020-01-16 12:26] alex4200 opened #510 "Python3 update for "Brownian dynamics simulation""
### Expected behavior

Should work for python3

### Actual Behavior (please include screenshot if possible)

Several incompatibility issues.

### Steps to reproduce the problem

1. Clone notebook
2. Change kernel
3. Run all cells

### Optional infrastructural data (user, platform, browser, environment, ...)

## Guidelines

When updating the notebook you might consider some of the [Guidelines](http

[2020-01-16 12:27] alex4200 opened #511 "Python3 update for usecase "ES potential of protein""
### Expected behavior

Should work for python3

### Actual Behavior (please include screenshot if possible)

Several incompatibility issues.

### Steps to reproduce the problem

1. Clone notebook
2. Change kernel
3. Run all cells

### Optional infrastructural data (user, platform, browser, environment, ...)

## Guidelines

When updating the notebook you might consider some of the [Guidelines](http

[2020-01-16 14:25] Vafa-Andalibi commented on #499
@alex4200 the documentation of tutorial 3 is now updated and the parameter search is clarified now.

Regarding the installation issue, could you please try again by removing the `--force-install` flag in the last block of the notebook? So it would be `!pip install -e .`

[2020-01-16 14:52] sivanni commented on #499
Hi Alex. I started to replicate the issue you mention above "I have tried the neurodynlib tutorial and copied the first notebook 0 - Install into one of my collabs. However, in the last cell (installation of CxSystem2) I get the following error"

Which notebook do you mean? We have the following notebooks in our repo:
./cxsystem2/neurodynlib/tutorial/03_synaptic_currents.ipynb
./cxsystem2/neurodyn

[2020-01-17 06:34] alex4200 commented on #499
Hi,

I think you missed a notebook:

![Screenshot 2020-01-17 at 07 33 10](https://user-images.githubusercontent.com/12729291/72589499-bbfba780-38fb-11ea-9c7f-413bfba64a6a.png)

[2020-01-17 07:50] antonelepfl commented on #476
@alex4200 can you update the description checkboxes with the notebooks that are not python 3 yet?

[2020-01-17 08:13] alex4200 opened #512 "Python3 update for "KappaNEURON" notebook"
### Expected behavior

Should work for python3

### Actual Behavior (please include screenshot if possible)

Several incompatibility issues.

### Steps to reproduce the problem

1. Clone notebook
2. Change kernel
3. Run all cells

### Optional infrastructural data (user, platform, browser, environment, ...)

## Guidelines

When updating the notebook you might consider some of the [Guidelines](http

[2020-01-18 09:49] sivanni commented on #499
Thanks, Alex. Rather obvious. In the github repo we do not have this notebook zero, that is why I missed it, because I work locally. This notebook is for BSP integration only, and should cover everything you need to do for starting using it in BSP collab.  I wonder if the collab copy to own collabs should be included in this page. New user (such as me) may have difficulties finding that info.

[2020-01-20 05:21] Hjorthmedh commented on #378
Have created a tutorial example of Snudda for the Pavia hackathon, will adapt it into a use case.

Article submitted last week. Preparing code for release.

[2020-01-20 07:16] alex4200 commented on #499
@sivanni  Hi, I am not sure I understand what you were explaining. I was just following the instructions given at https://cxsystem2.readthedocs.io/en/latest/tutorial/tutorial-4-neurodynlib.html where a link leads me to this collab page: https://collab.humanbrainproject.eu/#/collab/67332/nav/457373

Here I have the first notebook which is named '0 - Install' which I assume is a page to install ever

[2020-01-20 11:28] AliceGem opened #513 "Installing custom NEST modules in the BSP"
For new cerebellar microcircuit use-cases, we need to install NEST 2.18 and a custom NEST module in the BSP. We managed to install the 2.18 NEST version (see Ticket#482709) from Github -
https://github.com/nest/nest-simulator/commits/nest-2.18
(even if it needs to be reinstalled every time the kernel is restarted, which is not so user-friendly) and a custom NEST module - https://github.com/dbbs-la

[2020-01-20 11:58] alex4200 commented on #513
https://support.humanbrainproject.eu/#ticket/zoom/2820

[2020-01-20 13:52] alex4200 commented on #513
@AliceGem I was able to reproduce the issue, and the logs in the Collaboratory show the following message:

`/opt/conda/bin/python: symbol lookup error: /home/jovyan/nest-simulator/b/lib/nest/cerebmodule.so: undefined symbol: _ZN4nest25register_connection_modelIN6mynest19STDPAlphaConnectionEEEvRKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEENS_28RegisterConnectionModelFlagsE`

[2020-01-20 15:17] Hjorthmedh commented on #378
https://collab.humanbrainproject.eu/#/collab/9102/nav/520440

New striatum network model use case.

Waiting on a reset of my environment before I can proceed. Also need Neuron 7.7 or later installed.

[2020-01-20 15:19] Hjorthmedh commented on #502
This will be the replacement use case.
https://collab.humanbrainproject.eu/#/collab/9102/nav/520440

Testing it now. It runs up until network simulation should start, but need an environment reset and neuron 7.7 to proceed.

[2020-01-21 12:11] henhok commented on #499
@alex4200 Thank you for all the testing and comments so far!

I got similar (though not exactly the same) errors on my CSCS Jupyter environment. I tried the installation on a Jupyter notebook hosted at Jülich, which I had not used before, and it worked. I then asked the HBP support team to reset the container in CSCS, and the installation and the rest of it is working.

So it seems that you can me

[2020-01-21 12:38] alex4200 commented on #499
@henhok These jupyter container issues are well known 'shortcomings' of the Collaboratory - and as I am testing notebooks manually and automatically I have sometimes ask for a container reset multiple times - a day!

However, since there is the new Collab coming up and in user testing phase (see [HERE](https://jupyterhub.apps-dev.hbp.eu/)), which supposedly will handle issues like these much bette

[2020-01-21 22:47] adamhospital commented on #506
Should be fixed now.
Thanks for the suggestions.

[2020-01-21 22:48] adamhospital commented on #488
Pull request done for the documentation of the three use cases from the Molecular Level On-line use cases. Waiting for your revision.

[2020-01-22 07:13] Hjorthmedh commented on #378
Alex, the Neuron version installed right now seems to be for Python 2, I get error messages about print not having parenthesis. So we need Neuron 7.7 (or later) installed for Python 3 on the collab.

[2020-01-22 07:14] Hjorthmedh commented on #502
I wrote in the other thread that Neuron needs to be reinstalled on the collab, new version, plus Python 3 support. The 7.6 installation that is right now is for Python 2, and is not compatible.

[2020-01-22 08:25] alex4200 commented on #506
@adamhospital Did you forget to change the notebook for "Preparing a protein-ligand complex to run an atomistic Molecular Dynamics Simulation"?

[2020-01-22 08:27] adamhospital commented on #506
Sorry, it was modified, but I forgot to save it ...
Done!

[2020-01-22 09:25] alex4200 commented on #506
Yes thanks, now I tested the three again, seem to work fine. Created Pull Request.

[2020-01-22 09:56] rcsm17 commented on #507
@antonelepfl can you give me a complete example script where you submit a job with multiple files uploading ? It would be better a jupiter notebook that I can debug it easely.

[2020-01-22 12:29] alex4200 commented on #91
@szkali Hi, do you have any updates regarding this issue? Is the plan still to have results by the end of SGA2?

[2020-01-22 12:37] alex4200 commented on #459
see task https://gitlab.humanbrainproject.org/joint_infrastructure_coordination/Coordination/issues/123
see task https://gitlab.humanbrainproject.org/joint_infrastructure_coordination/Coordination/issues/49

[2020-01-22 12:38] AliceGem commented on #513
So, that error was due to incompatibility between the last NEST version on 2.18 branch on Github and our custom NEST module version. I solved installing the released 2.18.0 which is on Zenodo instead of using the Github version and all installations and import work fine, even if they need to be done at each Kernel restart.

[2020-01-22 12:38] #513 closed, assigned to nobody

[2020-01-22 12:43] alex4200 opened #514 "Showcases for SGA2 Review"
## Overview

The following showcases are planned:

- **Live Papers** (Luca)
- **Cerebellum NEST SP10 Integration** (Claudia)
- **Simulation** (Stefano Antonel)
- **Validation** (Shailesh/ Andrew)

The current working document for these showcases is a [google doc](https://docs.google.com/document/d/1sIOLMhK-jYnSb4x-xDEewmNqQXd4sztfw8nrgYsbZYs/edit#heading=h.txu2a4nwyowy).

[2020-01-22 12:44] alex4200 commented on #456
Details see now https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/514

[2020-01-22 12:44] #456 closed, assigned to antonelepfl

[2020-01-22 12:45] alex4200 commented on #471
Details see now https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/514

[2020-01-22 12:45] #471 closed, assigned to lbologna, mmigliore

[2020-01-22 12:45] alex4200 commented on #457
Details see now https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/514

[2020-01-22 12:45] #457 closed, assigned to claudiacasellato

[2020-01-22 12:45] alex4200 commented on #455
Details see now https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/514

[2020-01-22 12:45] #455 closed, assigned to apdavison, sasaray, appukuttan-shailesh

[2020-01-22 12:45] szkali commented on #91
There has been some progress, but the student working on this task is currently on vacation. We will provide an update on the status when she gets back (in about two weeks).

[2020-01-22 13:06] alex4200 commented on #407
@DKokh Do you have any update regarding this usecase?

[2020-01-22 13:33] claudiacasellato commented on #514
Hi Alex
could you add Alberto in the issue, pls ?alberto-antonietti
<https://github.com/alberto-antonietti>

Thanks!

Il giorno mer 22 gen 2020 alle ore 13:43 alex4200 <notifications@github.com>
ha scritto:

[2020-01-22 13:46] alex4200 commented on #514
Sure,

I have sent him an invitation to our github repo.

Alex

________________________________
From: claudiacasellato <notifications@github.com>
Sent: Wednesday, January 22, 2020 2:33:44 PM
To: cnr-ibf-pa/hbp-bsp-issues
Cc: Dietz Alexander; Author
Subject: Re: [cnr-ibf-pa/hbp-bsp-issues] Showcases for SGA2 Review (#514)

Hi Alex
could you add Alberto in the issue, pls ?alberto-antonietti
<https:

[2020-01-22 14:54] henhok commented on #499
@alex4200 Oh dear! Good to know it's a common problem. I really hope the new Collab resolves these issues.

So is it ok if we add a text asking users to request a container reset if they get dependency issues? I mean for the current Collab.

I can't access the new Collab ("Application is not available"), but I'm happy to migrate notebooks there when it's available.

[2020-01-23 07:51] alex4200 commented on #458
Update from @bweyers : Sebastian Spreizer (main developer from NEST) is working on this task.

[2020-01-23 09:41] antonelepfl commented on #507
Hi @rcsm17 I have created a Jupyter [notebook](https://collab.humanbrainproject.eu/#/collab/77074/nav/521705)
From there you would be able to download the notebook and test it locally changing the endpoint as you suggested.

[2020-01-24 12:22] alex4200 commented on #505
This problem only appears when you have already analyzed the model with an older version. Then the data gets stored in a different pickle format, not compatible wit the current on.

Should not be a problem for new users. Closing ticket

[2020-01-24 12:22] #505 closed, assigned to appukuttan-shailesh

[2020-01-24 14:49] alex4200 commented on #499
@henhok Yes, maybe you can add a (red) box with some comment to that use case regarding a container reset.

[2020-01-24 14:56] antonelepfl commented on #481
I fixed this IIRC

[2020-01-24 14:57] antonelepfl commented on #482
I implemented this already

[2020-01-24 15:29] rcsm17 commented on #507
@antonelepfl I've created the new endpoint for advanced user.
Now you can work in pizdaint using the service account as a unicore system, so you don't need to change your code but only the url of the system, from '**https://brissago.cscs.ch:8080/DAINT-CSCS/rest/core**' to '**https://bspsa.cineca.it/advanced/pizdaint/rest/core/**'.

I tested your notebook and I think it works correctly.

Test the n

[2020-01-24 15:51] antonelepfl commented on #507
Wow thank you very much for the hard work on this!

I'll test it more deeply on Monday and I'll post the issues.

[2020-01-27 06:50] alex4200 commented on #482
Seems to work, closing ticket

[2020-01-27 06:50] #482 closed, assigned to alex4200

[2020-01-27 08:06] alex4200 commented on #488
Documentation on Guidebook in Production

[2020-01-27 08:06] #488 closed, assigned to adamhospital

[2020-01-27 09:10] #436 closed, assigned to SteMasoli

[2020-01-27 09:36] alex4200 commented on #326
@asanin-epfl  Do you have any updates related to this task?

[2020-01-27 09:39] asanin-epfl commented on #326
Hi! I'm working on a Docker instance for this project.

[2020-01-27 10:08] antonelepfl commented on #507
Hi @rcsm17
Can we please add a response header when I POST to /jobs so I am able to retrieve the job's header location.

If I see the response from Jureca for instance
<img width="905" alt="Screenshot 2020-01-27 at 10 41 42" src="https://user-images.githubusercontent.com/24406041/73165601-68a40900-40f4-11ea-9a70-20017a8a791f.png">

And if I look at the headers that you return
<img width="804" alt=

[2020-01-27 10:45] alex4200 commented on #498
Small image still missing

[2020-01-27 11:52] alex4200 commented on #327
All tasks finished, closing ticket

[2020-01-27 11:52] #327 closed

[2020-01-27 11:53] alex4200 commented on #353
This issue will not implemented for SGA2, closing it.

[2020-01-27 11:53] #353 closed

[2020-01-27 11:59] alex4200 commented on #474
Still in progress, but delayed as Aurélien left the group two months ago. Might be moved to SGA3

[2020-01-27 12:00] alex4200 commented on #475
Still in progress, but delayed as Aurélien left the group two months ago. Might be moved to SGA3

[2020-01-27 12:00] alex4200 commented on #487
Still in progress, but delayed as Aurélien left the group two months ago. Might be moved to SGA3

[2020-01-27 12:06] rcsm17 commented on #507
Hi @antonelepfl I added the **Access-Control-Expose-Headers** headers field for **Location** and the other all default headers listed [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Expose-Headers).
Check it out if it works.

[2020-01-27 12:47] alex4200 commented on #494
Unable to replicate issue again with reset container.

[2020-01-27 12:47] #494 closed, assigned to Hjorthmedh, a1eko

[2020-01-27 13:46] antonelepfl commented on #507
Perfect! I was able to launch the simulations..
They are in the queue.
I'll close this one and create a new one for the rest of the issues I'm getting.

[2020-01-27 13:49] antonelepfl opened #515 "Service Account PizDaint - Delete Unicore jobs"
I'm using the endpoint `https://bspsa.cineca.it/advanced/pizdaint/rest/core`

When I try to delete a job I get: `500 Internal server error`

I guess this endpoint is not implemented yet. This is not urgent so I'll set it to Minor.

[2020-01-27 15:02] antonelepfl opened #516 "Service Account PizDaint - Accessing other system files"
I'm using the endpoint https://bspsa.cineca.it/advanced/pizdaint/rest/core

When I try to run a script that access to another file in Piz-Daint (outside the job) for instance

`/apps/hbp/ich002/home/antonel/create_replay_piz_daint_0.11.py`

I get: `No such file or directory` even if the file has access to it

[code]

Which system partition is the service account able to read?

[2020-01-27 15:06] alex4200 commented on #481
Issue has been fixed in DEV. Needs to be merged to PROD.

[2020-01-27 15:51] antonelepfl commented on #481
Pushed to production

[2020-01-27 16:10] pedroernesto commented on #332
@romani79 Was this mircro-circuit already released in some computer?

[2020-01-28 08:34] a1eko commented on #509
I corrected use of the print function. Should be compatible with both v2 and v3 now.

[2020-01-28 09:24] davidcsterratt commented on #512
I'm under severe time pressure at the moment, as I officially finished work on HBP in December, but I'm hoping to get a student working on this over the summer.

[2020-01-28 11:12] lbologna commented on #499
Dear All,
besides the work that you are doing on the Jupyter Notebook for the CxSystem2 (which can later be added as a new use case in the Platform), I believe the web app is ready to be integrated into the BSP so that users can start cloning it to their Collabs.

There are a couple of (minor) things that should be corrected/changed in my opinion:
1) the "Status of Simulations" panel should have a

[2020-01-28 11:37] romani79 commented on #332
@pedroernesto, the O1 is available in a private HBP storage and it will be released once the paper is out. You can access it as part of the hippocampus team, but this is still confidential.
If you would like to access it, please ask @antonelepfl.

[2020-01-28 12:14] alex4200 commented on #509
@a1eko: I tested the above notebook and I found the following issues:

1. That notebook is still with the python2 kernel. You need to change the kernel to python3 and save the notebook.
2. In the second code cell you have to replace
`   storage = get_bbp_client().document`
by
`storage = get_hbp_service_client().storage`.
3. Later in the notebook, after "Parameters" there are some brackets missing

[2020-01-28 12:16] alex4200 commented on #499
The webapplication for the CxSystem2 **does not work** for me. I follow the tutorial and start the example simulation, but it never seems to end (already running for more than 90 minutes).
_This has to be fixed and retested properly before the application can go into production._

[2020-01-28 12:45] lbologna commented on #499
@alex4200 I see. I understood from recent chats that the issues to be solved only concerned the notebook. I will  give a try to the web-app as well and give you a feedback. Thanks.

[2020-01-28 12:46] alex4200 commented on #499
I forgot to mention: The notebooks seem to work. I was able to run all of them today.

I have to add: I think the shown equation should be rendered better. I see the following image:

![Selection_971](https://user-images.githubusercontent.com/12729291/73277761-e9453100-41ea-11ea-8185-7af220658a41.png)

This does not look correct.

[2020-01-28 12:58] pedroernesto commented on #332
Ok, the point was granting access to that circuit to have this use-case on the Collab. But since not everybody on the Collab belongs to HBP, I guess this issue will stay opened till the paper gets published.

[2020-01-28 13:06] rcsm17 commented on #508
Hi @antonelepfl could you check again if it works ?

[2020-01-28 13:40] alex4200 commented on #481
Tested in prod. Closing ticket

[2020-01-28 13:40] #481 closed, assigned to alex4200

[2020-01-28 14:41] antonelepfl commented on #516
@clupascu @lbologna @mmigliore
Do you guys know a place where a file can be shared between multiple projects? (currently we have normal user `ich002`, Service Account user `ich011`)

[2020-01-28 16:08] Vafa-Andalibi commented on #499
@lbologna I added the close button and I'm working on fixing the alignment. There was a bug in array_run in the VM caused by the virtualenv which is now fixed and Alex has already tested the CobaEIF example.

[2020-01-29 02:29] Vafa-Andalibi commented on #499
@lbologna I temporarily fixed that button alignment issue by displaying a warning about browser being too small. as soon as they increase their browser size a little bit larger everything will automatically show up.
![resolution](https://user-images.githubusercontent.com/9551535/73323365-3ccc7480-4215-11ea-922d-c06ff86a0be8.png)

[2020-01-29 03:05] Vafa-Andalibi commented on #499
@alex4200 the documentation ([here](https://cxsystem2.readthedocs.io/en/latest/tutorial/tutorial-1-run-example.html#)) now contains information about the sim status window.
Also the simulation status window now contains the correct time information for start and end:
![image](https://user-images.githubusercontent.com/9551535/73324801-3ab8e480-421a-11ea-8406-02a864a942bc.png)

[2020-01-29 08:00] alex4200 commented on #499
@Vafa-Andalibi Thanks for the changes, looks good to me. A re-run of the simulation also did work.

[2020-01-29 08:13] antonelepfl commented on #515
This was implemented

[2020-01-29 08:13] #515 closed, assigned to nobody

[2020-01-29 12:08] antonelepfl opened #517 "Service Account - TSI Unavailable"
I cannot submit any job due the TSI is not available.

Is the UnicoreTSI for the Service Account on Cineca right?

@lbologna any ideas?

[2020-01-29 14:45] antonelepfl commented on #333
Hi @lbologna , can you update this https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/333#issuecomment-460200118 with the real resources that we have available?
We would like to know this because we are planning to launch a MOOC using this service account and we need to know the limitations.

[2020-01-30 14:04] antonelepfl commented on #516
Apparently it is working now.. I'll close this for now

[2020-01-30 14:04] #516 closed, assigned to nobody

[2020-01-30 15:31] antonelepfl opened #518 "Service Account - Import endpoint"
I need to use the functionality [Import](https://www.unicore.eu/docstore/ucc-7.8.0/ucc-manual.html#_job_data_management) from Unicore to retrieve the Simulation results for an analysis.

I have updated the [notebook](https://collab.humanbrainproject.eu/#/collab/77074/nav/521705) with the part `Analysis` in there I describe more or less the process and I provide example working with PizDaint (not t

[2020-01-30 15:49] lbologna commented on #499
Hello,
@Vafa-Andalibi I checked the layout/window resizing and worked well for me.

@alex4200 was the simulation that worked for you concerning the web app? can I proceed with the BSP integration?

@Vafa-Andalibi @henhok @sivanni @mmigliore  what do you think the Use Case title should be?
Do you think something like: "Configure and run a small cortical circuit with the CxSystem2 simulation framewo

[2020-01-31 04:40] sivanni commented on #499
Thanks Luca for the suggestion. I suggest tiny modification:
"Configure and run arrays of simplified cortical circuits with the CxSystem2 simulation framework."
What do @Vafa-Andalibi and @henhok think? Ok, for @mmigliore ?

[2020-01-31 10:51] henhok commented on #499
@sivanni @lbologna @Vafa-Andalibi Configure and run a simplified cortical circuit with the CxSystem2 simulation framework? “Small” and “array” are confusing to me :)

[2020-01-31 11:55] rcsm17 commented on #518
I modify the endpoint to accept 'services' as well.
I run the analysis and without any changes the job won't run due to the "imports_array" you pass in the job payload, indeed these imports point to **"https://bspsa.cineca.it/advanced/pizdaint/services/..."** instead of **"https://brissago.cscs.ch:8080/DAINT-CSCS/services/..."**.
Changing these urls with the original one allow the job to run witho

[2020-01-31 12:11] lbologna commented on #333
Hello @antonelepfl, I updated the quotas concerning the entire cscs project.
We are probably going to reduce both the time and storage quotas for individual users (@rcsm17  is working on finalizing the storage quotas which is not implemented yet).

Do you have an estimate of how much time and space a mooc process for a single user would require and how many students do you think will execute them?

[2020-01-31 12:16] antonelepfl commented on #518
Unfortunately, I'm not quite sure to understand you comment.
The import fetches from the same endpoint that you launch the jobs.

I tried to run the notebook changing the endpoint on the top (instead of `https://brissago.cscs.ch:8080/DAINT-CSCS/rest/core` use `https://bspsa.cineca.it/advanced/pizdaint/rest/core` and it does not seems to work.

How did you test it to work?

[2020-01-31 13:00] rcsm17 commented on #518
So, when you put the import on the job payload, you pass it the url as "https://bspsa.cineca.it/advanced/pizdaint/services/..." but on pizdaint it must be "https://brissago.cscs.cs:8080/DAINT-CSCS/services/...." otherwise it returns some errors.
Now I modified the request on SA to change the payload urls if it find the "Import" key on the job payload and you can run the notebook example without ma

[2020-02-02 19:03] Hjorthmedh commented on #378
Have now got access to lab.humanbrainproject.eu for the new environment. Uploaded the old python notebook file, and now looking for a way to load it. Then should just need to update the load path from which it gets the file, and that should hopefully just be running after that.

[2020-02-03 06:49] sivanni commented on #499
One of the critical benefits of CxSystem is to enable parallel searches of network structures. I currently run 200-1000 network models in parallel -- part of it for experimental conditions and replications, and part for parameter search. This is one of the unique strengths of CxSystem. In addition, Brian supports customizing all parts of the model, and this has been pivotal in design. Thus, I sugg

[2020-02-03 07:56] alex4200 opened #519 "Python3 update for Synaptic Events Fitting usecases"
### Expected behavior

Should work for python3

### Actual Behavior (please include screenshot if possible)

Several incompatibility issues.

### Steps to reproduce the problem

1. Clone notebook
2. Change kernel
3. Run all cells

The following notebooks are affected:

- [x] Synaptic Events Fitting
- [x] Synaptic Events Fitting with user data
- [x] Synaptic Events Fitting with user model
- [x] Syn

[2020-02-03 08:02] alex4200 opened #520 "Python3 update for "Rebuild/BuildOwn Single HippoCell" usecases"
### Expected behavior

Should work for python3

### Actual Behavior (please include screenshot if possible)

Several incompatibility issues.

### Steps to reproduce the problem

1. Clone notebook
2. Change kernel
3. Run all cells

The following notebooks are affected:

- [x] Rebuild Single HippoCell - Config
- [x] Rebuild Single HippoCell - Analysis
- [x] Rebuild Single HippoCell - NSG Job Manager

[2020-02-03 08:04] alex4200 commented on #476
Individual tickets creates for the notebooks. Closing this ticket

[2020-02-03 08:04] #476 closed, assigned to davidcsterratt, SteMasoli, jdcourcol, a1eko, clupascu, appukuttan-shailesh, elisamarenzi

[2020-02-03 15:42] StefanGIT commented on #510
It looks like this is due to problems in python3 compatibility of the underlying SDA bootstrap script that is installed in /opt/minimal-sda_flex-7.2.2
Would it be possible to upgrade this to sda_flex-7.2.3? I have attached this here as a zip file.
[sda_flex-7.2.3-minimal.zip](https://github.com/cnr-ibf-pa/hbp-bsp-issues/files/4148695/sda_flex-7.2.3-minimal.zip)

[2020-02-04 12:24] clupascu commented on #519
The first version of Python 3 compatible Synaptic events fitting usecases are available for test at https://collab.humanbrainproject.eu/#/collab/71255/nav/483240 are now compatible with Python 3.

@alex4200 can you please continue to test if everything works fine and add comments here?

[2020-02-04 13:39] alex4200 commented on #519
@clupascu  In the very big code cell you need to import the packages first, then define the `RadioButton`. When I fix that manually, the notebook seems to work (at least for Jureca).

[2020-02-05 07:56] alex4200 opened #521 "Use Case "Cell Placement Hippocampus" is broken"
The notebook  "Cell Placement Hippocampus" regulary fails, **will be excluded from automated tests**!

### Expected behavior

The notebook "Cell Placement Hippocampus" runs without error.

### Actual Behavior (please include screenshot if possible)

Depending on the exact version of numpy installed the notebook might fail. For numpy 1.11.2 it runs fine (but shows a DeprecationWarning) while for nu

[2020-02-05 12:01] StefanGIT commented on #510
In addition to installing this new SDA version, also the environment variable  SDAHOME needs to be set. The notebook gets the SDA directory by the call  sdaDir = os.environ['SDAHOME']

[2020-02-05 13:16] alex4200 commented on #510
I need to check with the admins of the Collab on how this can be implemented. But adding a cell like the following

[code]

will install the new version, and make the notebook work with python3.

[2020-02-05 15:41] sivanni commented on #499
Luca asked for shorter title, Henri and I thorught of  "Construct and simulate  simplified cortical circuits" @Vafa-Andalibi , OK ?

[2020-02-05 16:14] Vafa-Andalibi commented on #499
@sivanni Definitely

[2020-02-05 22:49] pramodk opened #522 "Installation of bluepyopt on Marconi Broadwell and Galileo"
Here is the email:

[code]

- [x] bluepyopt working on Marconi Broadwell
- [x] bluepyopt working on Galileo

Related task: #533

[2020-02-05 23:32] pramodk commented on #522
Here is how modules can be used:

### Galileo

[code]

### Marconi Broadwell

[code]

[2020-02-06 06:17] alex4200 commented on #518
@rcsm17 Is there any news on this item?

[2020-02-06 07:30] clupascu commented on #522
Thank you @pramodk. I will test both and let you know.

[2020-02-06 07:52] clupascu commented on #519
@alex4200 What packages should I import first? This ones

import plotly
import os
?

[2020-02-06 08:00] SteMasoli commented on #522
Marconi A2 (KNL) was under decommission  starting with the 15th of january.

[2020-02-06 08:18] mmigliore commented on #522
Correct. This is why BluePyOpt is being deployed and tested on the
broadwell partition of Marconi and on Galileo.

Il gio 6 feb 2020, 10:00 Stefano <notifications@github.com> ha scritto:

[2020-02-06 08:22] alex4200 commented on #519
@clupascu  Here is a part of your code:

[code]
You are trying to use an instance of `RadioButtons` _**before**_ you import its definition.

[2020-02-06 09:46] rcsm17 commented on #518
Hi @alex4200, I think it works.
The notebook jupyter I used as test and provided by @antonelepfl seems to work.
I run also the [Simulation launcher gui](https://bbp.epfl.ch/public/alpha.simulationapp/dist/index.html#/circuits/hippo_mooc_sa_microcircuit) and I'm not sure but I think it works. too

[2020-02-06 10:46] alex4200 commented on #518
Test simulation and Test analysis on the alpha SimUI did work using the new SA endpoint.

[2020-02-06 10:51] alex4200 opened #523 "Import Error in "Calculate the electrostatic potential of a protein from its atomic structure" use case"
Usecase will be excluded from automated tests.

### Expected behavior

Notebook runs fine

### Actual Behavior (please include screenshot if possible)

After the package 'multipipsa' has been installed (version 4.0.3) it's import will fail in the next cell.

`from multipipsa.multipipsa import ApbsRun
`
[code]

### Steps to reproduce the problem

[code]

### Optional infrastructural data (user, pla

[2020-02-06 11:37] clupascu commented on #519
I fixed this. Can you please test again? Thanks.

[2020-02-06 11:56] StefanGIT commented on #510
I have copied the change to the private MolecularUseCases area. It was working now using python3. How to get this to the public area?

[2020-02-06 11:57] pgetta commented on #318
Guidebook entry has been deployed to prod: https://humanbrainproject.github.io/hbp-sp6-guidebook/online_usecases/small_circuit_in_silico_experiments/pair_recording_app/pair_recording_app.html.

[2020-02-06 11:57] #318 closed

[2020-02-06 12:55] alex4200 commented on #519
@clupascu  Yes this works now.

But I think you have to remove the first two cells in your DEV notebook, as these cells are being added later automatically.

[2020-02-06 13:03] StefanGIT commented on #523
The notebook was fixed by upgrading the multipipsa package from 4.0.2 to 4.0.3. However it looks like if 4.0.2 is already installed on the Collab it thinks the requirement is already satisfied.

I have now made the 4.0.3 in the notebook explicit:
pip install --extra-index-url https://projects.h-its.org/pypi multipipsa==4.0.3
and copied the modified notebook to the MolecularUsecase Collab.

[2020-02-06 14:11] alex4200 commented on #523
@StefanGIT I see no change in the DEV location https://collab.humanbrainproject.eu/#/collab/50197/nav/350840
 Are you sure you have updated the notebook and saved it?

[2020-02-06 14:43] StefanGIT commented on #523
@alex4200  ok, i copied it now to MolecularUseCases_pub, but now there are two notebooks. The one with multipipsa==4.0.3 is correct. Can/Should i delete the other one?

[2020-02-07 06:08] alex4200 commented on #523
@StefanGIT Please proceed with the following procedure:

- Delete the new notebook you created. It contains a header that is added to that notebook when you clone it. This is not what we want.
- Edit/correct your ORIGINAL notebook in that Collab, do not create a new notebook. This will make things only more complicated (for you and me).
- If you have corrected your ORIGINAL notebook let me know. T

[2020-02-07 08:14] StefanGIT commented on #523
Hi Alex,

i have now edited the original, set the kernel to python 3 and the multipipsa version to 4.0.3. See:

https://collab.humanbrainproject.eu/#/collab/50197/nav/350840

I hope this is ok now.

Best,

Stefan?

?

________________________________
Von: alex4200 <notifications@github.com>
Gesendet: Freitag, 7. Februar 2020 07:08
An: cnr-ibf-pa/hbp-bsp-issues
Cc: Richter, Stefan; Mention
Betreff:

[2020-02-07 08:31] StefanGIT commented on #510
@alex4200  The sda notebook is now working in the public area:
https://collab.humanbrainproject.eu/#/collab/50197/nav/344097
with changes to download sda from github pages. Once SDA can be used from /opt/, let me know.

[2020-02-07 09:29] alex4200 commented on #523
@StefanGIT Thank you for the update. The notebook seems to work.

However, I have one request: Can you please remove the try-except clause in the second cell? Because in the case something is wrong with the setup, you only get a note saying that _something_ is wrong with the setup, but not what. I think it is best to let the cell fail with the appropriate error.

Thank you

[2020-02-07 10:13] StefanGIT commented on #523
I have removed the try except in the second cell and saved it again.
Best,

[2020-02-07 10:42] alex4200 commented on #523
@StefanGIT Thanks a lot - that is all that is required from your side.

I will update the notebook in production and close this ticket once it is in production.

[2020-02-07 13:05] jdcourcol commented on #521
it is inside BrainBuilder then.

[2020-02-07 13:23] jdcourcol commented on #521
@alex4200 Do you happen to know the version of BrainBuilder ?
May be it is an old one that is not really python3 compatible.

[2020-02-07 13:26] alex4200 commented on #521
@jdcourcol  I think it is '0.2.1dev0'

[2020-02-07 15:48] jdcourcol commented on #521
this is quite old. current version is 0.11.7

[2020-02-08 07:41] Hjorthmedh commented on #502
Did you close the other long running ticket about a striatum scaffold model? I could not find it now.

This ticket is named badly. The previous collab with the striatum usecase was python3 already from the start and running on that kernel. So there was no need to do that upgrade, however it probably broke due to changes in the API.

So from what I understand we will be migrating to lab.humanbrainp

[2020-02-08 07:43] Hjorthmedh commented on #502
The error message:

!snudda simulate networks/StriatumExample --time 1.0
Traceback (most recent call last):
  File "/opt/app-root/bin/snudda", line 11, in <module>
    load_entry_point('snudda', 'console_scripts', 'snudda')()
  File "/opt/app-root/src/StriatumNetwork2020/Snudda/snudda/cli.py", line 81, in snudda_cli
    actions[args.action](args)
  File "/opt/app-root/src/StriatumNetwork2020/Snudd

[2020-02-10 06:08] alex4200 commented on #502
@Hjorthmedh I am not able to open your notebook, I get an error

Could not find path: StriatumNetwork2020

I think you have to share your notebook or folder with me. I will try to find out how to do that.

[2020-02-10 07:18] alex4200 commented on #521
With `brainduilder` 0.11.7 installed I get an Import Error in the first cell of the notebook:

[code]

[2020-02-10 09:28] mgeplf commented on #521
What version of voxcell is installed?

[2020-02-10 09:36] alex4200 commented on #521
@mgeplf  1.5.1.dev0

[2020-02-10 11:28] mgeplf commented on #521
Could you update that to the latest (2.6.2), it's quite a bit out of date.

[2020-02-10 12:06] alex4200 commented on #521
@mgeplf With the updated voxcell version I run into other incompatibility issues:
[code]

I think best is when you take a look yourself at the notebook here: https://collab.humanbrainproject.eu/#/collab/77913/nav/529427

[2020-02-10 12:37] mgeplf commented on #521
is `select_hemisphere` used in the notebook?

[2020-02-10 12:44] alex4200 commented on #514
@jdcourcol Has this document been forwarded to the relevant people (Felix, Michele M, etc.), and has there been some feedback?

[2020-02-10 13:01] alex4200 commented on #493
Still no update on this issue

[2020-02-10 13:33] StefanGIT commented on #407
@alex4200 while working on the usecase
"Compare a specific region of the electrostatic potentials surrounding a set of protein isoforms with multipipsa"
i could not install an R library required for some plots in this analysis: gplots
i tried the following:
!R --vanilla -e 'install.packages("gplots",repos="https://stat.ethz.ch/CRAN/", lib="~/.R/lib", dependencies = TRUE)'

as well as several varia

[2020-02-10 14:23] clupascu commented on #519
The new DEV notebooks are here

Synaptic Events Fitting https://collab.humanbrainproject.eu/#/collab/9130/nav/528639
Synaptic Events Fitting with user data https://collab.humanbrainproject.eu/#/collab/9130/nav/528640
Synaptic Events Fitting with user model https://collab.humanbrainproject.eu/#/collab/9130/nav/528641
Synaptic Events Fitting Analysis https://collab.humanbrainproject.eu/#/collab/9130

[2020-02-10 15:10] alex4200 commented on #521
@mgeplf  No it is not.

But later in the notebook there is a cell with the following content
[code]

creating an error
[code]

Any ideas here? I have no idea what a `RegionMap` is. Maybe the attributes have changed?

[2020-02-10 15:56] antonelepfl commented on #518
Thank you a lot Roberto!
So far I was able to run the simulation and analysis correctly !
I'll close this issue and let you know if I find any other issue. Thanks for the hard work

[2020-02-10 15:56] #518 closed, assigned to rcsm17

[2020-02-10 17:42] rcsm17 commented on #518
You're welcome Stefano !
I'm glad it works well.

[2020-02-11 08:15] mgeplf commented on #521
Yup, should work if you replace `region_map.ids(region_name)` -> `region_map.find(region_name, 'name', with_descendants=True)` I believe.

[2020-02-11 08:47] alex4200 commented on #521
@mgeplf Yes that seems to work.

Next problem:

[code]

results in error
[code]

[2020-02-11 11:02] alex4200 commented on #407
@StefanGIT I think it is unlikely that the support team will update the basic system for the Collaboratory, as they put into production a newer Collaboration tool (refered to as "Collaboratory 2.0") which also contains newer jupyterlab notebooks.
My suggestion is to use this new infrastructure, maybe the libraries you need are already available on this platform. The main link to that platform is (

[2020-02-11 12:47] mgeplf commented on #521
@alex4200  you say:

Does the rest of the notebook run fine if we pin the numpy version?

[2020-02-11 13:51] alex4200 commented on #521
I am in favor of fixing the notebook and not pinning it to some special version. Because then we might end up that each notebook requires a different numpy version, and you always have to install the right version of numpy, and then the rest of the 100's of packages.

And that is exactly the problem: The default version is 1.11.2, but in some other notebook already a newer version is being install

[2020-02-11 14:35] clupascu commented on #520
@alex4200 you can find Python3 compatible notebooks for Rebuild Single HippoCell here https://collab.humanbrainproject.eu/#/collab/78266/nav/529788. Can you please test them and let me know? Thanks.

[2020-02-11 16:11] clupascu commented on #491
@alex4200 I solved the out of memory by increasing the memory limit per compute node on unicore. I updated my Build and Rebuild notebooks on DEV. Can you please test and let me know? Thanks.

[2020-02-12 07:56] antonelepfl opened #524 "Piz-Daint - CPUsPerNode not available"
### Expected behavior
Submit job in Piz-Daint works specifying `CPUsPerNode` as before (yesterday it was working).

### Actual Behavior (please include screenshot if possible)
I get
```...failed: Resource <CPUsPerNode> is not available at this site```
![Screenshot 2020-02-12 at 08 47 26](https://user-images.githubusercontent.com/24406041/74314038-0ba38680-4d75-11ea-8408-f508c7b7f008.png)

### Step

[2020-02-12 08:02] clupascu commented on #524
@antonelepfl my jobs are failing since yesterday evening too. I get

HTTP Error: 500 Server Error

</h1>Error reason:\n<pre>    Server Error</pre><h3>Caused by:</h3>

javax.servlet.ServletException: Failed to process POST request: javax.servlet.ServletException: The request doesn&apos;t look like a valid SOAP request.

So maybe the unicore server is down. I just opened a ticket at support. I will

[2020-02-12 09:00] mgeplf commented on #521
I'd like to do that too, but it may require a significant investment of time.  I will have a go at hot-fixing the particular issue, and we can see if that work around works.  Otherwise, we may have to go the pining route.

[2020-02-12 09:03] alex4200 commented on #520
@clupascu I did not start actual testing, but I noticed two issues with these notebooks:

1. They have the header which are copied into the notebook  when you clone the notebook in production (the first two cells). Please remove them in every notebook.
2. The model URL is set. I guess it has to be something like `model_url = "REPLACEURL"` or something

[2020-02-12 09:14] clupascu commented on #520
yes. I am aware of both issues. It is just a temporary DEV that I use for test. When the test is finished I will move the notebooks into the 'original' DEV collab and I will remove header and I will replace model URL.

[2020-02-12 09:49] StefanGIT commented on #407
@alex4200 I have modified multipipsa (now version 4.0.5) to use a different plotting library for this type of analysis. The fixed notebook is now in the private MolecularUseCases Collab.
https://collab.humanbrainproject.eu/#/collab/34594/nav/351519
How should i get this to the public one?Clone or copy? Please note when you test this, that the visuals (nglview) only show up if they are executed whi

[2020-02-12 10:28] StefanGIT commented on #407
The same of the above applies to this notebook:
https://collab.humanbrainproject.eu/#/collab/34594/nav/386452

[2020-02-12 11:06] clupascu commented on #524
For me unicore on PizDaint works again properly. @antonelepfl you can try again.

[2020-02-12 11:10] antonelepfl commented on #524
Yeah so far is working again! Thank you for the update

[2020-02-12 11:10] #524 closed, assigned to BerndSchuller

[2020-02-12 11:24] clupascu commented on #522
@pramodk the modules that you shared work fine on Marconi Broadwelll and Galileo through ssh. I am still waiting for the installation of Unicore in order to test the modules on Unicore too. I will update the ticket when the Unicore installation will be complete.

[2020-02-12 11:44] StefanGIT commented on #407
The following notebook:
https://collab.humanbrainproject.eu/#/collab/34594/nav/387399
had a problem with the version of numpy that is used together with older versions r2py (the r2py version was fixed to a certain number for python2 compatibility). Now in python 3 this requirement is not there anymore. Therefore i had to again prepare an additional multipipsa version 4.0.6 and a later numpy versio

[2020-02-12 13:18] alex4200 commented on #407
@StefanGIT First of all, in order for me to see the notebooks you have developed, in order I can test them, the Collab the notebooks are in must be made public.

I then can see the notebooks and can copy the notebooks into one of my Collab in order to test them.

When the testing is finished your notebook(s) can be added to the DEV version of the Brain Simulation Platform. To do so they just need

[2020-02-12 14:36] StefanGIT commented on #407
Yes, i can access the document and i will try to follow the instructions there, Thanks a lot.

[2020-02-13 06:42] Hjorthmedh commented on #502
Hi,

no it is still not working. Did you made that notebook public?

Cheers

Alex

________________________________
From: hjorth <hjorth@kth.se>
Sent: Thursday, February 13, 2020 7:34:01 AM
To: cnr-ibf-pa/hbp-bsp-issues; cnr-ibf-pa/hbp-bsp-issues
Cc: Mention; Dietz Alexander
Subject: Notebook

Hej Alex, did you find out how?

Sent from my Samsung Galaxy smartphone.

-------- Original message -----

[2020-02-13 07:31] clupascu opened #525 "Installation of neuron7.7 on PizDaint, Jureca and Galileo"
As Synaptic fitting usecases must be updated to Python3 I need to know if it would be possible to install neuron7.7 (that works with Python3) on PizDaint, Jureca and Galileo. Please let me know how I can use the new modules. Thank you.

- [x] neuron 7.7 working on PizDaint
- [x] neuron 7.7 working on Jureca
- [x] neuron 7.7 working on Galileo

Related task: #533

[2020-02-13 09:03] clupascu commented on #491
Unicore increased the default memory from 2000 to 58174. Now everything works fine. @alex4200 can you please test so we can close this ticket?

[2020-02-13 09:04] clupascu commented on #500
See #491. Once it is tested we can close this ticket too.

[2020-02-13 09:26] lbologna commented on #491
@alex4200 The issue seems to be solved for the HHNB as well, for both "daint" and "daint-service account" submissions.
Could you please test in DEV before putting to PROD?

Here's the link:
https://collab.humanbrainproject.eu/#/collab/1256/nav/29703

Thank you

[2020-02-13 09:32] lbologna commented on #486
Hello @alex4200,
I implemented the option to download any generated output file from the remote system (even if the job failed) so that the user can read the logs (e.g. stderr, stout). In case no output is generated, the "Download results" button (in the "Optimization Results" panel) will be disabled.

Could you please have a look before moving to PROD?
Here's the link:
https://collab.humanbrainpr

[2020-02-13 12:12] alex4200 commented on #502
Hi Johannes,

you have to save the notebooks to a Collab in the drive, or you save it to a shared library which you have shared with me.

If that does not make sense, please contact the support at support@humanbrainproject.eu

Also take a look here: https://wiki.humanbrainproject.eu/bin/view/Collabs/jupyter-notebooks-collaboratory/Documentation/Introduction (new added documentation)

[2020-02-13 12:16] StefanGIT commented on #407
I have now put the 3 multipipsa usecases into the dev area (MolecularUseCases_Pub). I attach images to show which workflow correspond to which image in the production area:
https://collab.humanbrainproject.eu/#/collab/50197/nav/530508
![image](https://user-images.githubusercontent.com/6430662/74434471-cc536380-4e62-11ea-91cc-cb122a91fbd7.png)

[2020-02-13 12:17] StefanGIT commented on #407
https://collab.humanbrainproject.eu/#/collab/50197/nav/530509

![image](https://user-images.githubusercontent.com/6430662/74434683-2f44fa80-4e63-11ea-9494-8e49ea49300f.png)

[2020-02-13 12:18] StefanGIT commented on #407
https://collab.humanbrainproject.eu/#/collab/50197/nav/530510

![image](https://user-images.githubusercontent.com/6430662/74434733-497ed880-4e63-11ea-9d46-662fe6b2e5b3.png)

[2020-02-13 16:38] pedroernesto commented on #323
A new usecase, containing what was proposed in this issue, is now available at Collab 8123 _Model validation suites_, and entitled as:
 _Basal Ganglia Population Morphology Validation_

[2020-02-14 06:39] alex4200 commented on #407
@StefanGIT Please add corresponding entries to the usecase.json file [HERE](https://github.com/antonelepfl/usecases/blob/dev/src/assets/config_files/usecases.json), see also description [HERE](https://github.com/antonelepfl/usecases/blob/dev/documentation/add_new_usecase.md#add-new-usecase-in-an-existing-domain).

[2020-02-14 08:13] StefanGIT commented on #407
I am lost, the entry is already there, but i am not sure what i should use as URL to json file, i thought the json file will be added to a git repository after some quality check. For example the notebook:
https://collab.humanbrainproject.eu/#/collab/50197/nav/530508
is described in the entry below, the files section is empty, but i have no idea what i should enter there?

      {
        "title":

[2020-02-14 08:27] alex4200 commented on #407
It is explained here: https://github.com/antonelepfl/usecases/blob/dev/documentation/add_new_usecase.md#add-new-usecase-in-an-existing-domain

If not, please let us know.

[code]
and

[code]

Please point out what is missing unclear etc.

[2020-02-14 09:18] StefanGIT commented on #407
Finally i found how to get the UUID, as i understand i can only add this and not the file since it is not yet in the repository. May be this could be more explicit.

[2020-02-14 11:52] alex4200 commented on #407
@StefanGIT I have an import error in the second cell (use case "Compare the electrostatic potentials surrounding a set of protein isoforms with multipipsa"). The error reads

[code]

Which does not tell me where this error happened. I strongly suggest to remove this try/except cause:

1. It is more clear to the user what import did fail.
2. The notebook execution will stop. Otherwise, if the user

[2020-02-14 12:13] StefanGIT commented on #407
@alex4200 i have removed the exception catch on all three notebooks. But it is not clear why nglview cannot be loaded. It works when i run it? Could it be a dependency problem with other packages/versions in different environments?

[2020-02-14 12:17] alex4200 commented on #407
I am retrying again, maybe my setup was mixed up.

[2020-02-14 12:26] alex4200 commented on #407
This seems to work, but later I get an error when I am asked related to installing a package (I answered 'n', it is not clear to me what is going on in that cell). Error:

[code]

[2020-02-14 12:29] StefanGIT commented on #407
This installs a R package that is not installed before. At the top you get the information:
"In case you get asked answer 'y', also in case you get asked to create the directory."
Therefore one needs to say 'y' at this point.

[2020-02-14 12:31] alex4200 commented on #407
Ah this is not a question in the notebook, this is a question from the install process itself?

In that case it is not user friendly and not intuitive!

[2020-02-14 12:56] StefanGIT commented on #407
Yes, the better option would be to install this package already in R on the OS level... This involves the following packages:
grDevices, heatmap3,stats ,graphics,cluster
I guess except for the heatmap3 they are part of the base R installation.

[2020-02-14 12:57] StefanGIT commented on #407
I try to make a commandline to install it directly in R, similar to the pip commandlines.

[2020-02-14 13:45] StefanGIT commented on #407
I have added the commands:
! wget https://cran.r-project.org/src/contrib/heatmap3_1.1.6.tar.gz
! R CMD INSTALL heatmap3_1.1.6.tar.gz
at the top of the notebooks. This will install the required heatmap.3 package. I hope this are all packages that are not by default alreay in R.
Still multipipsa gives out the message and checks if the package is there (see below) but normally there should be no furt

[2020-02-14 15:09] bweyers commented on #458
What does your use case do?
- Interactive construction of the neuronal network
- fast simulation from local/remoted server
- learning & teaching of computational neuroscience
- no programming skills required

What activities can users perform while using it?
Analyze spike activities or recordables from neurons (e.g. Membrane potentials). The major goal is to support students in learning computatio

[2020-02-14 15:15] StefanGIT commented on #407
The notebook previously converted to python3, that was already online:
https://collab.humanbrainproject.eu/#/collab/50197/nav/350840 (UUID: 7b372de8-cc8d-4311-8f4e-1dc8a3470c92 )
was slightly modified as well, to use the same package versions as the new notebooks. This to avoid that packages are removed and reinstalled all the time.

[2020-02-14 17:16] lbologna commented on #486
Thanks @alex4200 for testing.
Moved HHNB to prod.

[2020-02-14 17:17] lbologna commented on #491
Thanks @alex4200 for testing.
Moved HHNB to prod.

[2020-02-17 10:11] stefanocasali984 commented on #504
Now the Connectome use case should be Pyhton3-compatible.

[(https://collab.humanbrainproject.eu/#/collab/8124/nav/69081)]

[2020-02-17 11:38] mgeplf commented on #521
I think I've fixed everything.  @alex4200 can you test it? I would replace the notebooks with the 'production' ones from usecases repo, and clean the virtualenv to make it match whatever a user has by default.

[2020-02-17 11:48] alex4200 commented on #521
@mgeplf Where is the notebook I can test? Is it the DEV notebook from the DEV Brain Simulation Platform?

[2020-02-17 12:16] mgeplf commented on #521
The link you shared before: https://collab.humanbrainproject.eu/#/collab/77913/nav/529427
But, like I said, it should be replaced w/ the original.

[2020-02-17 12:25] alex4200 opened #526 "BluePyOpt related usecases - Full update to python3 (frontend, backend, HPC, optimized models)"
## Full update to python3

With the start of the year 2020 python2 has been deprecated. No more updates or fixes will be created for python2 anymore, which means an update to python3 in every aspect of coding and analysis is envisaged.

This also applies to the Brain Simulation Usecases and will affect the following components in the Brain Simulation Platform:

- Frond end code, i.e. code that is

[2020-02-17 12:35] alex4200 commented on #521
@mgeplf The notebook at https://collab.humanbrainproject.eu/#/collab/77913/nav/529427 still fails. Maybe you forgot to save the notebook?

[2020-02-17 12:52] mgeplf commented on #521
Did you replace them with the original?

[2020-02-17 13:11] alex4200 commented on #521
Yes, seems to work again. Closing ticket.

[2020-02-17 13:11] #521 closed, assigned to jdcourcol

[2020-02-17 13:12] mgeplf commented on #521
Thanks for shepherding that though.

[2020-02-17 13:38] alex4200 commented on #486
Tested for PizDaint and ServiceAccount, seems to work.

[2020-02-17 13:38] #486 closed, assigned to lbologna

[2020-02-17 14:25] clupascu commented on #526
@appukuttan-shailesh and @antonelepfl the hippocampus optimizations models list created by @antonelepfl based on queries on the model catalog contains 83 optimizations. 39 from the hippocampus_optimization container and 44 from the Migliore_2018_CA1 container. @mmigliore should we continue working in the BSP with all 83 models? So we need to convert to Python3 all 83 models? Or should we continue

[2020-02-17 14:31] mmigliore commented on #526
Let's continue using in the BSP usecases only with the 39 new models. The
44 from the paper can continue to exist only for the Live Paper purposes.

On Mon, Feb 17, 2020 at 3:25 PM clupascu <notifications@github.com> wrote:

[2020-02-17 14:34] alex4200 commented on #499
@Simo Vanni @Henri Hokkanen @Vafa Can you recommend someone who is familiar with the scientific content and context of that usecase, but did not actually work on it? I would to have someone with background knowledge to perform a user testing on that use case in order to see if it does really work and is useable.

Also an entry in the Guidebook is missing with some kind of documentation (can be ver

[2020-02-17 14:34] mmigliore commented on #526
Let's do a full update of all use cases to python3.

On Mon, Feb 17, 2020 at 1:25 PM alex4200 <notifications@github.com> wrote:

[2020-02-17 14:40] clupascu commented on #526
@antonelepfl I think we can fetch from the model catalog only the 39 new models (the ones from hippocampus_optimization/rat/CA1/v4.0.5) by adding to the query collab id=12027. I will update the models with the Python3 versions and we will probably have to update the download location in the model catalog and to test if they still work with BlueNaaS. @appukuttan-shailesh and @genric do you agree?

[2020-02-17 15:06] alex4200 commented on #498
@clupascu will update the image for this notebook. Then it can be closed.

Documentation update will go in a different issue.

[2020-02-17 15:16] alex4200 commented on #500
Obsolete ticket as usecases will be changed for python 3 support, see #520 .

[2020-02-17 15:16] #500 closed, assigned to clupascu

[2020-02-17 16:30] appukuttan-shailesh opened #527 "Update script to retrieve models from ModelCatalog"
@antonelepfl : We might need to update the script here:
https://github.com/antonelepfl/usecases/blob/dev/src/assets/config_files/create_singlecellmodeling_structure.py
for two reasons:
1) retrieving data (via GET) from the KG backend requires authentication
**solution:**
[code]
The token gets saved in `mc.auth`

_**Note**: no authentication info required if run inside a Collab Jupyter notebook_

2

[2020-02-18 07:07] alex4200 commented on #407
@StefanGIT I get an error in the notebook "Identify potential protein binding sites of a set of protein isoforms":

[code]

It might be related to numpy; the default version of numpy is 1.11.2. Can you please have a look?

[2020-02-18 07:23] alex4200 commented on #323
@pedroernesto  The use case has been merged to DEV.

Please also remember to update the documentation for this new use case in the guidebook!

[2020-02-18 08:41] StefanGIT commented on #407
Thanks for the hint with numpy, yes the copy function requires numpy version 1.16. I have added this as requirement and use pip install to install the required version. Actually, when i ran the notebook i got
Requirement already satisfied: numpy in /opt/conda/lib/python3.6/site-packages (from multipipsa==4.0.10) (1.18.1)
Is the production run in a different home environment?
I have added the requi

[2020-02-18 08:42] appukuttan-shailesh commented on #526
@clupascu : Yes, I agree. The REST API to be used for retrieving relevant hippocampus models info for the use cases should then be changed to:
`https://validation-v1.brainsimulation.eu/models/?brain_region=hippocampus&organization=HBP-SP6&model_scope=single%20cell&species=Rattus%20norvegicus&collab_id=12027`
(related to discussion in #527 )

On the model catalog, we will simply add a new "model in

[2020-02-18 09:29] alex4200 commented on #407
@StefanGIT  I get an error message

[code]

[2020-02-18 10:11] StefanGIT commented on #407
Sorry, but it really looks like the installations on the test and production system are somewhat different.
I have now installed the R library the following way in all three notebooks:
! mkdir -p ~/.R/lib
! grep -qxF 'R_LIBS_USER=~/.R/lib/' ~/.Renviron || echo 'R_LIBS_USER=~/.R/lib' >> ~/.Renviron
! wget -c https://cran.r-project.org/src/contrib/heatmap3_1.1.6.tar.gz
! R CMD INSTALL -l ~/.R/lib he

[2020-02-18 10:16] alex4200 commented on #407
@StefanGIT For the last command I get an error now

[code]

[2020-02-18 11:05] StefanGIT commented on #407
Fastcluster will now also be installed by the R procedure at front in all three notebooks. Since it looks like i run these tests in a different environment, where i do not get these errors, i need to apologize for the incremental approach.

[2020-02-18 11:53] alex4200 commented on #407
@StefanGIT Yes, each user has its own environment. So when you have installed something in the past, is is installed, but just for the user (you).

I suggest to write to support@humanbrainproject.eu as ask for a "container reset". Then your user container will be reset to the standard setup. You need to mention your User ID (In the Collab: Click on your profile image on the top right, then go to p

[2020-02-18 12:40] pedroernesto commented on #323
I just created the pull request here:
https://github.com/lbologna/hbp-sp6-guidebook/pull/74

[2020-02-18 14:57] pramodk commented on #525
Order of deployment following but make sure the existing module names remain intact (e.g. one which are already with Python2)
* Jureca
* Galileo
* Piz-Daint

[2020-02-18 15:03] clupascu commented on #522
@pramodk can you please install also on jureca the bluepyopt python3 version? Thank you. Please keep also the already available python2 version on jureca if possible.

[2020-02-19 09:30] clupascu commented on #526
@appukuttan-shailesh the Py3 variant of the existing 39 model entries may be found here

https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/hippocampus_optimization/rat/CA1/v4.0.5/optimizations_Python3/

so in the new URLs you just have to replace 'optimizations' with 'optimizations_Python3'. Please let me know when you added the new model instances with the new URLs in the model cata

[2020-02-19 12:22] appukuttan-shailesh commented on #526
@clupascu : I have added a new instance titled "2.0" which is Py3 compatible. I have updated the descriptions of both the instances to indicate that "1.0" is "Python 2 compatible" and that "2.0" is "Python 3 compatible".

Example entry:
https://collab.humanbrainproject.eu/#/collab/8123/nav/395557?state=model.055557a5-1bc6-4f7e-9816-981813596f9c

I have tested that the model download works, and als

[2020-02-19 13:28] clupascu commented on #526
@appukuttan-shailesh Thank you very much. How the REST API to be used for retrieving relevant hippocampus models info for the use cases should then be changed in order to fetch directly the instance titled "2.0"?

[2020-02-19 14:02] appukuttan-shailesh commented on #527
Also, https://github.com/antonelepfl/usecases/blob/dev/src/assets/config_files/create_singlecellmodeling_structure.py#L63
[code]
needs to be updated to something like:
[code]

[2020-02-19 14:04] appukuttan-shailesh commented on #526
@clupascu : Welcome.
As example of code changes, see:
https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/527#issuecomment-588246822

Alternatively, also see:
https://hbp-validation-framework-api.readthedocs.io/en/latest/model_instances.html#get-model-instance-description-using-model-uuid-and-version

[2020-02-19 14:20] clupascu commented on #526
@wvangeit and @pramodk do you know if the bluepyopt module available in the collab is python2 or python3? While making my BluePyOpt related usecases Python3 compatible I am compiling, but when I try to run the analysis I get this error
Traceback (most recent call last):
  File "opt_neuron.py", line 77, in <module>
    evaluator = model.evaluator.create('bACnoljp', cvode_active=True, dt=0.025)
  Fi

[2020-02-19 19:17] pramodk commented on #526
@clupascu : I don’t know how collab image is built with NEURON. May be you can ask HBP support team?

[2020-02-20 07:13] clupascu commented on #526
The bluepyopt default version in the collab is 1.6.11. Installing version 1.6.42 solves my problem.

[2020-02-20 18:11] StefanGIT commented on #407
@alex4200 I have modified the multipipsa notebooks to use a specific numpy and pandas version. I have checked them on a clean container. Also I have added a note at the top, that running all cells at once might not show the graphics from nglview.

Could you check them again in production environment?

[2020-02-21 13:15] alex4200 commented on #407
@StefanGIT Retest of the notebooks worked fine, I greenlit the merge request to the next stage (will be next week).

[2020-02-21 14:24] sivanni commented on #499
Dear Alex,

As far as I know, we have no outside users yet. Only people outside our group familiar with our use case are Carmen and Luca from Palermo. Alternatively, I will have a summerstudent ariving in May and she will be using the simulator without contributing to its code. Please let me know whom you would prefer.

We will work for the entry for the guidebook, and get back to you.

[2020-02-24 13:23] alex4200 commented on #499
@lbologna volunteers to take a look at the use case.

[2020-02-24 13:40] antonelepfl commented on #507
Hi @rcsm17 I see that the `Location` header disappeared. Can you make it visible again?

[2020-02-25 04:45] sivanni commented on #499
Thanks @lbologna ! Can you @alex4200 please give some specs for the requested user testing for Luca to proceed.

[2020-02-25 06:17] pramodk commented on #525
@jorblancoa : this ticket requires python3 neuron module

[2020-02-25 11:01] rcsm17 commented on #507
Hi @antonelepfl it will be available soon

[2020-02-26 13:26] antonelepfl commented on #501
Hi, @rcsm17 I'm not able to retrieve any file using advance endpoint. I get 500.

[2020-02-26 14:15] rcsm17 commented on #501
Now it works again

[2020-02-27 07:53] antonelepfl commented on #527
Hi Shailesh, I was having a look and I don't find the ModelCatalog class where I can pass directly the token. I was planing to use the refresh token to get the access one as discussed on Monday meeting.
Do you know if I can do this?

[2020-02-27 08:03] antonelepfl commented on #527
Ah ok I thought I was obliged to use the package but I was able to retrieve using the Rest API.

[2020-02-27 08:22] antonelepfl commented on #527
Hi guys,
I've been doing the changes and I would like to have **confirmation** regarding the new models that will be available on the BSP Use Cases.
Please have a look at the results json and check if all the models that you want are there and contain the correct information:

* @SteMasoli [granule_models.json.zip](https://github.com/cnr-ibf-pa/hbp-bsp-issues/files/4260315/granule_models.json.zip)

[2020-02-27 09:11] appukuttan-shailesh commented on #527
@antonelepfl : Yes, you can use either the Python client, or the REST APIs directly. If using the former (for package version >= 0.5.23), you can pass the token via:
[code]
**Note:** the token can be either from Collab v1 or v2. For v2, you should use the `access_token`, and not the `refresh_token`.

[2020-02-27 09:39] #504 closed, assigned to SelezioneCasuale

[2020-02-27 10:05] apdavison commented on #527
For both v1 and v2 you need the access token.

[2020-02-27 10:06] antonelepfl commented on #527
Yeah I'm going to use the Rest API as I mentioned and I was able to get the models that I posted on the JSON files above

[2020-02-27 14:19] lbologna commented on #91
Hello @szkali,

is there any news on this issue?
Thank you

[2020-02-28 09:01] szkali commented on #91
Our earlier attempts to fit the mouse CA3 PCs did not produce satisfactory results. We have now obtained additional data from an external collaborator, which will allow us to constrain channel properties, and should lead to better results.
However, I do not expect to have release-quality final results before the end of March.

[2020-02-28 10:29] davidcsterratt commented on #512
I now have a student set to work on this over the summer.

[2020-02-28 11:07] clupascu commented on #520
@alex4200 can you please test Rebuild Single HippoCell from DEV. It should be Python3 compatible now. Please let me know if you find any issues. Thanks.

[2020-02-28 11:21] DKokh commented on #511
all are working for for python3 now

[2020-02-28 11:21] #511 closed, assigned to DKokh

[2020-02-28 17:19] jorblancoa commented on #525
Hi @clupascu

We have installed the new modules in Jureca and Piz-Daint.
Could you please test them and let us know if you encounter any problem?

**Jureca**
* For Booster:
[code]
* For Cluster:
[code]

**Piz-Daint**
[code]

Thanks!

[2020-03-02 09:52] clupascu commented on #520
@alex4200 you can now test also Build Single HippoCell from DEV now. It is Python3 compatible. Please let me know if you find any issues. Thanks.

[2020-03-02 10:40] antonelepfl commented on #512
@alex4200 Please check if it working. Otherwise we will disable it.

[2020-03-02 10:44] antonelepfl commented on #407
This should be merged. @alex4200 Please confirm that.

[2020-03-02 10:45] antonelepfl commented on #407
This UC will be maintained on SGA3

[2020-03-02 10:45] antonelepfl commented on #510
@alex4200  Could you re-check if this is working properly? Is this on the BSP Prod?

[2020-03-02 10:49] antonelepfl commented on #506
@alex4200 Can you confirm that these changes are already in prod?

[2020-03-02 11:00] antonelepfl commented on #493
Still no update on this issue

[2020-03-02 11:06] antonelepfl commented on #527
We need to wait for @clupascu to push the new use cases to PROD before changing the models.
For @lbologna The models works correctly.
@SteMasoli Do you need to make some change on your use cases or this new queries will work for the current use cases?

[2020-03-02 11:07] DKokh commented on #523
Alex, as  the notebook is in production, may I close this ticket?

[2020-03-02 11:12] lbologna commented on #91
Hello @szkali,

thanks for the update.
Being this a standalone issue with work in progress and not related to a specific use case, I suggest that we close it at the moment.
When some data will be available to be integrated in specific use cases, we can then open new issues tailored to those.
If you agree I can't take care of closing the issue.
Thank you.

[2020-03-02 12:07] szkali commented on #91
Hi @lbologna ,
Thanks for your feedback. I agree with your proposed solution - there is no point in keeping this issue open for the rest of SGA2.

[2020-03-02 12:31] lbologna commented on #91
Ok, thanks.
Closing the issue.

[2020-03-02 12:31] #91 closed

[2020-03-02 12:33] alex4200 commented on #523
@DKokh I will do a quick check first.

[2020-03-02 12:36] alex4200 commented on #523
Notebook seems to wotk in prod. closing ticket

[2020-03-02 12:36] #523 closed, assigned to DKokh

[2020-03-02 12:39] alex4200 commented on #512
It seems the use case is not working correctly. In a cell I get the following error

[code]

which does not look trivial. I will disable the usecase then.

[2020-03-02 13:04] antonelepfl commented on #407
Already in Prod.

[2020-03-02 13:04] #407 closed, assigned to alex4200, DKokh

[2020-03-02 13:14] alex4200 commented on #506
Yes in production.

[2020-03-02 13:14] #506 closed, assigned to alex4200, adamhospital

[2020-03-04 09:37] alex4200 commented on #510
Usecase has been checked on STAGE. Will be merged soon to PROD

[2020-03-04 09:37] #510 closed, assigned to alex4200, DKokh

[2020-03-05 09:31] rcsm17 commented on #501
@antonelepfl any news ? Can we close this issue ?

[2020-03-05 09:32] rcsm17 commented on #507
@antonelepfl any news ?

[2020-03-05 09:56] antonelepfl commented on #507
Yeah that was working I was waiting for your confirmation :)

[2020-03-05 09:56] #507 closed, assigned to rcsm17

[2020-03-05 10:54] liadomide commented on #493
We managed to have our notebooks running in our Collabs, so everything fine there.
Although, the initial description of this task is a bit different. Not sure what the status is for that part (publish differently)

[2020-03-05 11:02] clupascu commented on #527
@antonelepfl it seems that Py3 versions of my usecases were pushed to PROD, so now the change of the models is necessary for me. Can you please change them? The usecases in PROD do not work without this change.

[2020-03-05 11:15] antonelepfl commented on #527
Ok. @clupascu Can you confirm that this is the correct list? https://github.com/antonelepfl/usecases/commit/34074d05ef2deb4e16ce34e07fe96631531a8bb9

[2020-03-05 11:35] alex4200 commented on #323
Use cases updated

[2020-03-05 11:35] #323 closed

[2020-03-05 11:49] clupascu commented on #527
yes. It is the correct list.

[2020-03-05 12:10] #491 closed, assigned to lbologna, clupascu

[2020-03-05 12:12] alex4200 commented on #508
@rcsm17 @antonelepfl  Any news on this issue?

[2020-03-05 12:32] apdavison commented on #467
This will not be done in SGA2

[2020-03-05 12:33] apdavison commented on #84
This will not be done in SGA2.

[2020-03-05 12:38] alex4200 commented on #509
@a1eko Do you have any update on this issue?

[2020-03-05 12:49] antonelepfl commented on #508
I'm not using this feature because I'm using the advanced endpoint.

[2020-03-05 12:50] alex4200 commented on #508
So ticket can be closed?

[2020-03-05 13:05] a1eko commented on #509
Not yet. I just resolved "500: internal server error" I had with all my notebooks.

________________________________
From: alex4200 <notifications@github.com>
Sent: Thursday, March 5, 2020 1:38 PM
To: cnr-ibf-pa/hbp-bsp-issues
Cc: Alexander Kozlov; Mention
Subject: Re: [cnr-ibf-pa/hbp-bsp-issues] Python3 update for "Optimization of FS cell" (#509)

@a1eko<https://github.com/a1eko> Do you have any

[2020-03-06 07:25] alex4200 commented on #502
Currently, there is an import error in the new jupyterlab image when importing mpi4py:

[code]

There is an issue with the image itself, and a new image will be deployed the coming Monday (9 Mar 2020). If that deployment does not fix the issue, another deployment  is planned later that week.

[2020-03-06 08:11] antonelepfl commented on #527
So they should be in PROD.

[2020-03-06 08:50] antonelepfl commented on #527
PR to change plan in progress https://github.com/antonelepfl/usecases/pull/326

[2020-03-09 08:22] alex4200 commented on #520
@clupascu This use case still seems to downgrade to the old ipywidgets. Can you fix that please as well?

[2020-03-09 08:49] alex4200 commented on #493
@liadomide  Can you remind me again where to find your DEV notebooks? Are they still located at those locations?

A - "Simulate whole brain activity with reduced Wong Wang model from TVB" https://collab.humanbrainproject.eu/#/collab/1609/nav/15656
B - "Simulate and apply stimulus in TVB" https://collab.humanbrainproject.eu/#/collab/1609/nav/15655
C - "Simulate for mouse, with TVB models and Allen

[2020-03-09 09:15] clupascu commented on #520
@alex4200 Are you cloning from the link I replaced in usecases.json? This one? https://collab.humanbrainproject.eu/#/collab/9132/nav/537802

[2020-03-09 09:25] antonelepfl commented on #520
This PR https://github.com/antonelepfl/usecases/pull/321 is not merged yet.. Based on what I saw there are some notebooks that don't work properly.

[2020-03-09 10:03] clupascu commented on #520
ok. We will discuss about this in 30 minutes during the meeting.

[2020-03-09 10:21] lbologna commented on #499
Hi all,

@alex4200 I am going on with the testing: I am mostly testing parameter setting and visualizing/monitoring results. This should be finalized early this week.
@sivanni I am in contact with Alex on Skype and slack for any specific issue during testing.

I'll keep you posted.
Thank you

[2020-03-09 10:22] antonelepfl commented on #459
From my side, I don't think I'll have time to work on this these weeks. We should move it to SGA3

[2020-03-09 10:33] alex4200 commented on #508
@lbologna Asking @rcsm17

[2020-03-09 10:34] #527 closed, assigned to antonelepfl

[2020-03-09 10:44] alex4200 commented on #519
@clupascu  Still working on these use cases

[2020-03-09 10:47] alex4200 commented on #522
@clupascu  Needs to test the new installation

[2020-03-09 10:48] alex4200 commented on #525
@clupascu WIll test with python3

[2020-03-09 14:16] rcsm17 commented on #508
Hi, sorry for the late reply first.
So I checked the normal endpoint to fetch a file with dot notation and in my case it works.
I tried with the "output.zip" and "CA1_int_cAC_010710HP2_20200305092603.zip" and I received them without any problem.

If you want to check by yourself go to: https://collab.humanbrainproject.eu/#/collab/17259/nav/301898.
Here you can find the Service Account API, just co

[2020-03-09 14:18] antonelepfl commented on #508
Ok then, we close this one and re-open in case that someone has the same issue.
Thank you Roberto

[2020-03-09 14:18] #508 closed, assigned to rcsm17

[2020-03-09 22:03] liadomide commented on #493
Yes, these should be the link. What is your error exactly?
Did you copy the notebooks in your own space?
Have you also copied the data from storage?

[2020-03-10 07:28] alex4200 commented on #493
Hi @liadomide.
I did copy the notebooks to a new Collab and executed them there. I did not yet copy the data from the storage (you can either download the required files from the original Collab 1609, or you can pack all the data into a zip file which will be downloaded and unpacked in a notebook).

So for the first two notebooks A&B the first cell gives an error:

[code]
For notebook C I strongly

[2020-03-10 13:10] alex4200 commented on #502
@Hjorthmedh A new image has been deployed for the jupyterlabs (fixing the `import mpi4py` error); they are now available under https://lab.ebrains.eu/. I will try to rerun your notebook with the updated image.

[2020-03-10 20:16] liadomide commented on #493
Hi @alex4200,

Apologies as these are not working for you. We did test them, but apparently not in a clean env.

- First problem you encounter, `SyntaxError: invalid token`, it is caused by a recent change done in HBP Collab. A very old version of TVB is installed now, which is not even Python 3 compatible. Thus every notebook from us now has to have at the top:
`
! pip uninstall -y tvb
! pip inst

[2020-03-11 08:44] alex4200 commented on #502
A new error was discovered:

[code]

@Hjorthmedh created a bug report for support@humanbrainproject.eu

[2020-03-11 10:02] lbologna commented on #499
Hello,

@alex4200 I finalized a test with complete network setting and running. It worked for me.
If it's fine with you I will insert it in the usecases interface.
@sivanni , I can take care of adding the link to the documentation/tutorial (already existing in readthedocs) in the BSP Guidebook

[2020-03-11 10:08] alex4200 commented on #499
@lbologna  Yes sure, please go ahead.

[2020-03-11 13:17] antonelepfl commented on #501
I'm having this issue again

[2020-03-11 15:36] rcsm17 commented on #501
@antonelepfl I fixed the error, can you check if you get any other error ?

[2020-03-11 15:51] antonelepfl commented on #501
Thank you now it is back again

[2020-03-12 10:36] alberto-antonietti opened #528 "CollabV1 Jupyter notebook not loading: too many redirects"
### Expected behavior
I want to open Jupyter notebooks already created and previously working in Collab V1.

### Actual Behavior (please include screenshot if possible)
All notebooks in the collab do not open. This is the resulting page, the error is due to too many redirections from jupyterhub.humanbrainproject.org

![image](https://user-images.githubusercontent.com/12562148/76511782-e8432880-645

[2020-03-12 10:40] alex4200 commented on #528
Thanks @alberto-antonietti for reporting this problem. It is a problem already known to us, but not all users have this problem. But it is good to have one case from the outside.
I will give updates on when this problem will be solved.

[2020-03-12 16:55] liadomide commented on #493
my skype ID is lia.domide

[2020-03-12 19:30] alberto-antonietti commented on #528
At the moment, notebook are working again.

[2020-03-13 06:32] liadomide commented on #493
After a call with @alex4200 we came to the following proposal of next steps:
- we (codemart) will migrate at least one of these notebook to the new Collab
  * then share it again, for check and integration
- have one use-case in the new simulation platform where the TVB web GUI (deployed on HBP Open Shift stack) will be linked.
  * To be defined how that will be documented/described, in addition t

[2020-03-13 08:38] clupascu commented on #525
@jorblancoa what about Galileo? On Galileo there is already an installation of neuron7.7?

[2020-03-13 11:07] antonelepfl commented on #501
I'm getting a different issue this time. When I want to download a file

![Screenshot 2020-03-13 at 12 02 16](https://user-images.githubusercontent.com/24406041/76615596-a46b2480-6522-11ea-8fab-5d7a990084b9.png)

I added the example on [Collab](https://collab.humanbrainproject.eu/#/collab/77074/nav/521705)

The think that I see is that it has problems downloading the files with '.'(dot) in the nam

[2020-03-13 12:15] rcsm17 commented on #501
Hi @antonelepfl, I think this is the response and an error of the HPC

[2020-03-13 13:00] antonelepfl commented on #501
I don't think so, I was able to fetch the files from PizDaint directly and also I'm able to fetch the `stdout` for instance

[2020-03-13 14:19] rcsm17 commented on #501
You was right, the problem was related to the data encode and now I handle it.
Check it and let me know if any error occurs.

[2020-03-13 18:09] jorblancoa commented on #525
@clupascu
@pramodk is going to take care of Galileo. But before deploying everywhere, we want to be sure if the modules are working for you.
If you could test those in Daint or Jureca, that would be great!

Thanks!

[2020-03-16 09:22] antonelepfl commented on #501
Yeah so far I see that is fixed. Thank you!

[2020-03-16 09:42] AliceGem opened #529 "New Use Case: Olivocerebellum Scaffold"
## New Use Case

Aspect | Detail
------------ | -------------
Summary | Simulations of an olivocerebellar scaffold network with E-GLIF point neurons (second release of cerebellar scaffold microcircuit in [Casali et al., 2019]).
Usecase Group | Brain Area Circuit In Silico Experiments
Expert | Alice Geminiani
Scientific User |
Deadline | March 2020
Target audience | Developers, Computational Neuros

[2020-03-16 10:11] clupascu commented on #525
@jorblancoa I tried on Jureca, but it seems that the order of the parameters it is not working anymore.

I was using this before

srun ./x86_64/special 'config-exp1.txt' 'exp1.txt' 'ProbGABAAB_EMS_GEPH_g.mod' False True False 3 -mpi -python fitting.py

Any suggestion?

[2020-03-16 10:22] jorblancoa commented on #525
Could you post the error message or log file so I can have a look at the issue?

[2020-03-16 10:29] clupascu commented on #525
File "fitting.py", line 251, in <module>
    fitting(sys.argv[1],sys.argv[2],sys.argv[3],sys.argv[4],sys.argv[5],sys.argv[6],sys.argv[7])
  File "fitting.py", line 53, in fitting
    singletrace_number = int(singletrace_number)
ValueError: invalid literal for int() with base 10: 'True'

This is the error message. Like the arg 'True' is read instead of the arg 3.

[2020-03-16 10:38] lbologna opened #530 "HHNB: register model in the Model Catalog from the HHNB model simulation page"
## Use Case Update

Aspect | Detail
------------ | -------------
Summary |  In the Hodgkin-Huxley Neuron Builder, after the model has been optimized (or uploaded) and the user has accessed the simulation page, she/he is given the opportunity to insert the model's metadata via an ad-hoc form and register the model in the Model Catalog
Expert |  @lbologna @appukuttan-shailesh
Deadline | 31/03/2020
D

[2020-03-16 10:42] clupascu commented on #525
The folder I am working in Jureca is /p/home/jusers/lupascu1/jureca/testneuron+python3/.
You can have a look there.

[2020-03-16 12:01] pramodk commented on #525
@clupascu : I am pretty sure NEURON installation is working with Python3:

[code]

We are not familiar with the fitting.py but I was adding:

[code]

and I was testing as:

[code]

So I think there is something in your environment or script?

[2020-03-16 12:53] clupascu commented on #525
I moved a little bit on. I replaced as suggested

srun ./x86_64/special 'config-exp1.txt' 'exp1.txt' 'ProbGABAAB_EMS_GEPH_g.mod' False True False 3 -mpi -python fitting.py

with

srun nrniv 'config-exp1.txt' 'exp1.txt' 'ProbGABAAB_EMS_GEPH_g.mod' False True False 3 -mpi -python fitting.py

and now I get in the output file this warning

Warning: detected user attempt to enable MPI, but MPI support

[2020-03-16 13:04] pramodk commented on #525
@clupascu : I didn't mean to replace "srun ./x86_64/special" with "srun nrniv". I was just trying to run your example to see if NEURON works.

You still need to use "./x86_64/special" in order to get your local mod files included. nrniv just includes neuron's default mod files.

[2020-03-16 13:11] clupascu commented on #525
With "srun nrniv" I don't have the ValueError: invalid literal for int() with base 10: 'True' error anymore.

[2020-03-16 15:14] rcsm17 commented on #501
You're welcome!

[2020-03-17 09:00] clupascu commented on #522
@pramodk any news on the installation of bluepyopt python3 on jureca?

[2020-03-17 10:31] pramodk commented on #522
this was bit mixed with neuron3 installation in  #525. Sorry.

@jorblancoa is enabling python3 module for bluepyopt as well and should be available as documented [here](https://github.com/cnr-ibf-pa/hbp-bsp-issues/issues/525#issuecomment-592614343). we will update here once that is done.

[2020-03-17 14:05] jorblancoa commented on #522
It should be already available.
Module name: py-bluepyopt/1.6.56-gcc-serial-python3

[2020-03-17 14:56] clupascu commented on #498
I am closing this issue.

[2020-03-17 14:56] #498 closed, assigned to clupascu

[2020-03-19 10:07] antonelepfl commented on #517
I guess @rcsm17 You got the email about service account going down right? Can you try to bring it up please?

[2020-03-19 10:27] lbologna commented on #517
@antonelepfl,  we are working on some issue that we found on the job result fetching so probably this is the reason. I just added @rcsm17 in the status cake notification service. The service should be up again now.

[2020-03-19 10:28] antonelepfl commented on #517
Perfect ! thank you

[2020-03-19 10:34] antonelepfl opened #531 "Jureca - no space left on device"
While running some simulations on Jureca using `cvsk25` account and `booster` partition I get:
[code]
on the `stdout`.

Job ID: ed2bd5a9-5181-43fd-868c-a81e7d328426
Stderr: [stderr.txt](https://github.com/cnr-ibf-pa/hbp-bsp-issues/files/4353962/stderr.9.txt)

[2020-03-19 11:24] lbologna commented on #530
Hello @alex4200, @appukuttan-shailesh,

I finalized the auto-fill for the model fields and handled possible multiple submissions.
It seems to be working for me. Could you please have a look to see if everything is fine before putting to prod?
Thank you.

[2020-03-19 14:28] BerndSchuller commented on #531
I can't help you with this, please contact sc-support at JSC
Tel. +49 2461 - 61 2828, E-mail: sc@fz-juelich.de
https://www.fz-juelich.de/ias/jsc/EN/Expertise/Support/support_node.html

[2020-03-19 15:04] alex4200 commented on #530
@lbologna When I try to register I still get a 500 error (POST to https://bspg.pa.ibf.cnr.it/hh-neuron-builder/register-model-catalog/tab_20200319145610/3a0c1f99-5f61-4589-a915-f4b8c4ce1289).

Also, what exactly is the 'Author' and what is the 'Owner'?

[2020-03-19 15:26] lbologna commented on #530
Hello @alex4200,
I see in the log the error that you are getting. I am not getting it anymore but used to (while debugging). Please try to refresh the cache and run in incognito window. We can also have a brief call on skype to see it in real time.

Concerning your question:
_Also, what exactly is the 'Author' and what is the 'Owner'?_
I think @appukuttan-shailesh would answer this question better

[2020-03-19 15:38] appukuttan-shailesh commented on #530
@alex4200 : Model author can include several people who might have been involved in the creation of that model. Model owner is typically a single person who is in-charge of that model. Somewhat like a publication having a list of authors and a corresponding author.

As an example, see here:
https://collab.humanbrainproject.eu/#/collab/343/nav/41587?state=model.080559b0-f2e4-4897-b88c-c76517a18b80

[2020-03-19 15:43] bweyers commented on #458
Please check out the running version of NEST Desktop here: https://nest-desktop.apps.hbp.eu
It offers various neural network models, which can be directly run. Addtionally, you can use the interactive UI to create your own examples.

[2020-03-19 15:51] appukuttan-shailesh commented on #530
@lbologna : I tested HHNB just now, and it works great! Everything went through smoothly.

I just have one more suggestion. Once the model is registered, and we close the dialog box, it would be nice to disable the "Register in Model Catalog" button , or we could change the button to "Show model catalog entry" which would open the model entry in a new browser window.

(This would reduce accidental

[2020-03-20 08:02] alex4200 commented on #530
@lbologna I cleared the cache and used a private firefox session, but I still get a 500 Server Error. (Time of test: 9:02)

[2020-03-20 09:37] lbologna commented on #499
Hello @alex4200,
I just generated a pull request with the newly added use case.
Could you please have a look?
Thank you

[2020-03-20 10:10] alex4200 commented on #458
@bweyers I suggest to have a skype call so you explain me how to use that tool.

[2020-03-20 10:57] ElisabettaGiacalone commented on #531
Hi @antonelepfl , can you retry again?
I removed all the "coreneuron_input" folders and unnecessary files from my simulation folders (both in $SCRATCH_cvsk25 and $PROJECT_cvsk25).
@pramodk and Jorge can you do the same with your test simulations? Thank you

[2020-03-20 10:59] alberto-antonietti opened #532 "New Use Case: Cerebro-cerebellar loops"
## New Use Case

Aspect | Detail
------------ | -------------
Summary | This use-case shows a modeling effort of whole brain functionalities by leveraging on the existing cerebellar models. We model and simulate the forward and inverse controller functions of the cerebrocortical-cerebellar loops in a closed-loop setting, emulating error-based learning and action prediction. The cerebellum model, m